Repository apache/camel, pull requests merged in 2022-09, with the labels that each got.

#8252 Reload
  core/camel-api/src/main/java/org/apache/camel/spi/ContextReloadStrategy.java
  core/camel-api/src/main/java/org/apache/camel/spi/PropertiesComponent.java
  core/camel-api/src/main/java/org/apache/camel/spi/RouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultContextReloadStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalRouteController.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/AbstractLocationPropertiesSource.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesLookup.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesComponent.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultCamelContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightRuntimeCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/impl/CamelContextReloadStrategyPropertiesFunctionTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/CamelContextReloadStrategyTest.java
Labels: core

#8254 CAMEL-18346 Remove xalan-specific code / references
  buildingtools/src/main/resources/notice-supplements.xml
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CachedCxfPayload.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/SpringWebserviceHelper.java
  core/camel-core/src/test/java/org/apache/camel/builder/xml/XPathTest.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XmlConverter.java
Labels: components, core

#8267 (chores) camel-jms: increase the fork timeout
  components/camel-jms/pom.xml
Labels: components, components-jms

#8269 CAMEL-18459: Azure Service Bus producer custom properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-servicebus.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-azure/camel-azure-servicebus/src/generated/resources/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConstants.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusProducer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusUtils.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/operations/ServiceBusSenderOperations.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusUtilsTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusConsumerTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusProducerTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/operations/ServiceBusSenderOperationsTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ServiceBusEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-azure

#8268 CAMEL-18452: Integrate azure-sdk-bom in a non-conflicting manner
  camel-dependencies/pom.xml
  components/camel-azure/camel-azure-cosmosdb/pom.xml
  components/camel-azure/camel-azure-eventhubs/pom.xml
  components/camel-azure/camel-azure-key-vault/pom.xml
  components/camel-azure/camel-azure-servicebus/pom.xml
  components/camel-azure/camel-azure-storage-blob/pom.xml
  components/camel-azure/camel-azure-storage-datalake/pom.xml
  components/camel-azure/camel-azure-storage-queue/pom.xml
  components/camel-azure/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
  test-infra/camel-test-infra-azure-storage-blob/pom.xml
  test-infra/camel-test-infra-azure-storage-datalake/pom.xml
  test-infra/camel-test-infra-azure-storage-queue/pom.xml
Labels: components, components-azure, test-infra

#8264 CAMEL-18450: camel-jpa - use transaction strategy in JpaMessageIdRepo…
  components/camel-jpa/src/main/java/org/apache/camel/processor/idempotent/jpa/JpaMessageIdRepository.java
Labels: components

#8279 CAMEL-15475: fix deprecation message in camel-jetty
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpReturnDataNotInputStreamConvertableTest.java
Labels: components

#8278 CAMEL-18465: remove unnecessary 'jigsaw' profile
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
Labels: dsl, tooling, tooling-maven

#8275 CAMEL-16642: camel-salesforce: Detect SObject type
  components/camel-salesforce/camel-salesforce-component/src/main/docs/salesforce-component.adoc
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/api/SalesforceException.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/processor/AbstractRestProcessor.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/processor/AbstractSalesforceProcessor.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/processor/CompositeSObjectCollectionsProcessor.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/processor/JsonRestProcessor.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/RestApiIntegrationTest.java
Labels: components

#8280 Minor mojo improvements
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCatalogMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareComponentMojo.java
Labels: tooling, tooling-maven

#8283 (chores) camel-ftp: prevent hanging the build for too long
  components/camel-ftp/pom.xml
Labels: components

#8291 📝 Add missing paragraph content
  components/camel-aws/camel-aws2-ddb/src/main/docs/aws2-ddb-component.adoc
Labels: components, components-aws

#8292 📝 Add missing paragraph content
  components/camel-aws/camel-aws2-ddb/src/main/docs/aws2-ddb-component.adoc
Labels: components, components-aws

#8301 CAMEL-16488: ensure resource setup/cleanup on the right time
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpServerTestSupport.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpServerTestSupport.java
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/services/AbstractTestService.java
  test-infra/camel-test-infra-ftp/src/test/java/org/apache/camel/test/infra/ftp/services/FtpRemoteService.java
  test-infra/camel-test-infra-ftp/src/test/java/org/apache/camel/test/infra/ftp/services/FtpService.java
  test-infra/camel-test-infra-ftp/src/test/java/org/apache/camel/test/infra/ftp/services/FtpServiceFactory.java
  test-infra/camel-test-infra-ftp/src/test/java/org/apache/camel/test/infra/ftp/services/embedded/FtpEmbeddedService.java
  test-infra/camel-test-infra-ftp/src/test/java/org/apache/camel/test/infra/ftp/services/embedded/SftpEmbeddedService.java
Labels: components, test-infra

#8302 CAMEL-16488: parallelized FTP tests
  components/camel-ftp/pom.xml
Labels: components

#8304 (chores) camel-couchbase: disable some tests only on Apache CI
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeMessagesWithLimitIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeResumeStrategyIT.java
Labels: components

#8306 CAMEL-18473: correct knative CloudEvent time format
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/ce/AbstractCloudEventProcessor.java
Labels: components

#8309 Exclude org.slf4j:slf4j-reload4j to avoid logback warnings/errors
  components/camel-hdfs/pom.xml
Labels: components

#8311 CAMEL-18473: correct knative CloudEvent time format (#8306)
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/ce/AbstractCloudEventProcessor.java
Labels: components

#8317 Upgrade californium version, provide separate version for newly available version of scandium
  camel-dependencies/pom.xml
  components/camel-coap/pom.xml
  parent/pom.xml
Labels: components

#8324 📝 Update doc with supported java version
  components/camel-bindy/src/main/docs/bindy-dataformat.adoc
Labels: components

#8303 [CAMEL-18472] lock 'model' in 'removeRoute' first to avoid deadlock
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/issues/DynamicallyConcurrentlyAddRoutesTest.java
Labels: core

#8327 CAMEL-18483: Fix CamelMicroProfileHealthCheckRegistry registration for routes and consumers health checks when routes are supervised
  components/camel-microprofile/camel-microprofile-health/pom.xml
  components/camel-microprofile/camel-microprofile-health/src/main/java/org/apache/camel/microprofile/health/CamelMicroProfileHealthCheckRegistry.java
  components/camel-microprofile/camel-microprofile-health/src/test/java/org/apache/camel/microprofile/health/CamelMicroProfileHealthSupervisedRoutesMainTest.java
  components/camel-microprofile/camel-microprofile-health/src/test/java/org/apache/camel/microprofile/health/CamelMicroProfileHealthTestHelper.java
  components/camel-microprofile/camel-microprofile-health/src/test/java/org/apache/camel/microprofile/health/CamelMicroProfileHealthTestSupport.java
Labels: components

#8335 Rename strategy filesystem exception
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/GenericFileRenameExclusiveReadLockStrategy.java
Labels: components

#8337 CAMEL-18451: Add Azure-AD authentication support for camel-azure-even…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-eventhubs.json
  components/camel-azure/camel-azure-eventhubs/pom.xml
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsComponentConfigurer.java
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsEndpointConfigurer.java
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsEndpointUriFactory.java
  components/camel-azure/camel-azure-eventhubs/src/generated/resources/org/apache/camel/component/azure/eventhubs/azure-eventhubs.json
  components/camel-azure/camel-azure-eventhubs/src/main/docs/azure-eventhubs-component.adoc
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsCheckpointUpdaterTimerTask.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsComponent.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsConfiguration.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsConsumer.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsProducer.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/client/EventHubsClientFactory.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/EventHubsComponentTest.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/EventProcessorTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AzureEventhubsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/EventHubsEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-azure

#8338 Upgrade to LTSv1.3
  camel-dependencies/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ftps.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/netty-http.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/netty.json
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/ftps.json
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpsConfiguration.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/UriConfigurationTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsExplicitSSLWithClientAuthAndSSLContextParametersIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsExplicitTLSWithClientAuthAndSSLContextParametersIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsExplicitTLSWithClientAuthIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsExplicitTLSWithoutClientAuthAndSSLContextParametersIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsExplicitTLSWithoutClientAuthIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsImplicitTLSWithClientAuthAndSSLContextParametersIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsImplicitTLSWithClientAuthIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsImplicitTLSWithoutClientAuthAndSSLContextParametersIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpsImplicitTLSWithoutClientAuthIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpsServerTestSupport.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/BaseJettyTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsAsyncRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteSetupWithSystemPropsTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteTest.java
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/jetty-https.xml
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaComponentTest.java
  components/camel-netty-http/src/generated/resources/org/apache/camel/component/netty/http/netty-http.json
  components/camel-netty/src/generated/resources/org/apache/camel/component/netty/netty.json
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyServerBootstrapConfiguration.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/HttpsTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/HttpsV3Test.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/Jetty94ServerFactory.java
  components/camel-rest-swagger/src/test/java/org/apache/camel/component/rest/swagger/HttpsTest.java
  components/camel-rest-swagger/src/test/java/org/apache/camel/component/rest/swagger/Jetty94ServerFactory.java
  components/camel-solr/src/test/java/org/apache/camel/component/solr/SolrTestSupport.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextParameters.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/SSLContextParametersTest.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_19.adoc
  parent/pom.xml
Labels: components, components-kafka, core, catalog, docs

#8341 [CAMEL-18493] camel-netty-http: Add maxInitialLineLength, maxChunkSize configuration
  components/camel-netty-http/src/generated/java/org/apache/camel/component/netty/http/NettyHttpConfigurationConfigurer.java
  components/camel-netty-http/src/generated/java/org/apache/camel/component/netty/http/NettyHttpEndpointConfigurer.java
  components/camel-netty-http/src/generated/java/org/apache/camel/component/netty/http/NettyHttpEndpointUriFactory.java
  components/camel-netty-http/src/generated/resources/org/apache/camel/component/netty/http/netty-http.json
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/HttpServerInitializerFactory.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/HttpServerSharedInitializerFactory.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/NettyHttpConfiguration.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/NettySharedHttpServerBootstrapConfiguration.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpComponentWithConfigurationTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/NettyHttpEndpointBuilderFactory.java
Labels: components, dsl

#8343 CAMEL-18495: deprecate CMIS component since Apache Chemistry is retired
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/cmis.json
  components/camel-cmis/pom.xml
  components/camel-cmis/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-cmis/src/generated/resources/org/apache/camel/component/cmis/cmis.json
  components/camel-cmis/src/main/docs/cmis-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CmisComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
Labels: components, catalog, dsl

#8342 CAMEL-18456: fix scopes
  components/camel-ahc-ws/pom.xml
  components/camel-atmosphere-websocket/pom.xml
Labels: components

#8326 CAMEL-18484 Camel-xchange: Enable mock testing without real account
  components/camel-xchange/README.adoc
  components/camel-xchange/pom.xml
  components/camel-xchange/src/main/java/org/apache/camel/component/xchange/XChangeComponent.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/XChangeTestSupport.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/market/MarketDataProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
  components/camel-xchange/src/test/resources/mappings/account.json
  components/camel-xchange/src/test/resources/mappings/currencies.json
  components/camel-xchange/src/test/resources/mappings/ticker01.json
  components/camel-xchange/src/test/resources/mappings/ticker02.json
  components/camel-xchange/src/test/resources/mappings/tickerBTCUSDT_01.json
Labels: components

#8347 (chores) camel-jms: remove a Thread.sleep call
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSuspendResumeTest.java
Labels: components, components-jms

#8348 CAMEL-18451: backport
  camel-dependencies/pom.xml
  components/camel-azure/camel-azure-eventhubs/pom.xml
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsComponentConfigurer.java
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsEndpointConfigurer.java
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsEndpointUriFactory.java
  components/camel-azure/camel-azure-eventhubs/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-azure/camel-azure-eventhubs/src/generated/resources/org/apache/camel/component/azure/eventhubs/azure-eventhubs.json
  components/camel-azure/camel-azure-eventhubs/src/main/docs/azure-eventhubs-component.adoc
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsComponent.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsConfiguration.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsConsumer.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsProducer.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/client/EventHubsClientFactory.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/EventHubsComponentTest.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/EventProcessorTest.java
  parent/pom.xml
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
Labels: components, components-azure, test-infra

#8349 [CAMEL-18327] added method isKafkaConsumerRunnableAndNotStopped() to continue polling eve if the consumer is suspended
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#8355 CAMEL-18456: converted camel-http to camel-test-infra-jetty
  components/camel-http/pom.xml
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpProducerSessionTest.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyConfiguration.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyConfigurationBuilder.java
Labels: components, test-infra

#8362 CAMEL-18456: converted camel-olingo2 to camel-test-infra-jetty
  components/camel-olingo2/camel-olingo2-component/pom.xml
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/AbstractOlingo2AppAPITestSupport.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/AbstractOlingo2TestSupport.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/Olingo2AppAPITest.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/Olingo2ComponentConsumerTest.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/Olingo2ComponentProducerTest.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/Olingo2RouteTest.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/Olingo2TestUtil.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyConfiguration.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyConfigurationBuilder.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyEmbeddedService.java
Labels: components, test-infra

#8363 [CAMEL-18503] Configure max ack extension period in PubSub subscriber
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubComponent.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpoint.java
Labels: components

#8322 CAMEL-18481: Attachment Handling: Allow the Mail Consumer to handle attachments wi…
  components/camel-mail/src/generated/java/org/apache/camel/component/mail/MailComponentConfigurer.java
  components/camel-mail/src/generated/java/org/apache/camel/component/mail/MailEndpointConfigurer.java
  components/camel-mail/src/generated/java/org/apache/camel/component/mail/MailEndpointUriFactory.java
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/imap.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/imaps.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/pop3.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/pop3s.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/smtp.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/smtps.json
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailBinding.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConfiguration.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConstants.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailEndpoint.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailAttachmentNamesTest.java
  components/camel-mail/src/test/resources/filename_duplicate.txt
  components/camel-mail/src/test/resources/filename_empty.txt
  components/camel-mail/src/test/resources/filename_none.txt
Labels: components

#8369 CAMEL-18456: converted camel-rss tests to camel-test-infra-jetty
  components/camel-rss/pom.xml
  components/camel-rss/src/test/java/org/apache/camel/component/rss/JettyTestServer.java
  components/camel-rss/src/test/java/org/apache/camel/component/rss/MyHttpServlet.java
  components/camel-rss/src/test/java/org/apache/camel/component/rss/RssEntryPollingConsumerWithBasicAuthTest.java
  components/camel-rss/src/test/java/org/apache/camel/component/rss/RssPollingConsumerWithBasicAuthTest.java
Labels: components

#8368 CAMEL-18505 Camel-coap: Version conflict (californium-legal and californium-connector)
  components/camel-coap/pom.xml
Labels: components

#8370 CAMEL-11252: camel-core : allow to retrieve components/endpoints list with a predicate
  core/camel-support/src/main/java/org/apache/camel/support/CamelContextHelper.java
Labels: core

#8378 CAMEL-17448: remove unused test dependencies in camel-elytron
  components/camel-elytron/pom.xml
Labels: components

#8381 CAMEL-17197: camel-elasticsearch - Avoid using deprecated APIs
  components/camel-elasticsearch-rest/src/generated/resources/org/apache/camel/component/elasticsearch/elasticsearch-rest.json
  components/camel-elasticsearch-rest/src/main/java/org/apache/camel/component/elasticsearch/ElasticsearchComponent.java
  components/camel-elasticsearch-rest/src/main/java/org/apache/camel/component/elasticsearch/ElasticsearchEndpoint.java
  components/camel-elasticsearch-rest/src/main/java/org/apache/camel/component/elasticsearch/ElasticsearchOperation.java
  components/camel-elasticsearch-rest/src/main/java/org/apache/camel/component/elasticsearch/ElasticsearchProducer.java
  components/camel-elasticsearch-rest/src/main/java/org/apache/camel/component/elasticsearch/ElasticsearchScrollRequestIterator.java
  components/camel-elasticsearch-rest/src/main/java/org/apache/camel/component/elasticsearch/aggregation/BulkRequestAggregationStrategy.java
  components/camel-elasticsearch-rest/src/main/java/org/apache/camel/component/elasticsearch/converter/ElasticsearchActionRequestConverter.java
  components/camel-elasticsearch-rest/src/test/java/org/apache/camel/component/elasticsearch/integration/ElasticsearchBulkIT.java
  components/camel-elasticsearch-rest/src/test/java/org/apache/camel/component/elasticsearch/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  components/camel-elasticsearch-rest/src/test/java/org/apache/camel/component/elasticsearch/integration/ElasticsearchSizeLimitIT.java
Labels: components

#8384 CAMEL-18514: camel-health - health check for not automatically started routes should always be up
  core/camel-core/src/test/java/org/apache/camel/impl/health/RouteHealthCheckTest.java
  core/camel-health/src/main/java/org/apache/camel/impl/health/RouteHealthCheck.java
Labels: core

#8394 Cherrypicks
  camel-dependencies/pom.xml
  components/camel-coap/pom.xml
  parent/pom.xml
Labels: components

#8397 [CAMEL-18530] Camel box cannot authorize
  components/camel-box/camel-box-component/src/main/java/org/apache/camel/component/box/internal/BoxConnectionHelper.java
Labels: components

#8398 [CAMEL-18530] Camel box cannot authorize
  components/camel-box/camel-box-component/src/main/java/org/apache/camel/component/box/internal/BoxConnectionHelper.java
Labels: components

#8395 CAMEL-17780: camel-elasticsearch - Impl based on the Java Api Client
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch.json
  components/camel-elasticsearch/pom.xml
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchComponentConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointUriFactory.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/converter/ElasticsearchActionRequestConverterLoader.java
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/component/elasticsearch
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/configurer/elasticsearch-component
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/configurer/elasticsearch-endpoint
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/urifactory/elasticsearch-endpoint
  components/camel-elasticsearch/src/generated/resources/org/apache/camel/component/es/elasticsearch.json
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponent.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponentVerifierExtension.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConfiguration.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConstants.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchEndpoint.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchOperation.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchScrollRequestIterator.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/aggregation/BulkRequestAggregationStrategy.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/converter/ElasticsearchActionRequestConverter.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/ElasticsearchComponentVerifierExtensionTest.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchBulkIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchClusterIndexIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchIndexIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchPingIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchScrollSearchIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchSizeLimitIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchTestSupport.java
  components/camel-elasticsearch/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/elasticsearch.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/elasticsearch-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElasticsearchComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
Labels: components, core, catalog, docs, dsl

#8403 Improving knative documentation for ProducerTemplate usage
  components/camel-knative/camel-knative-component/src/main/docs/knative-component.adoc
Labels: components

#8404 CAMEL-18535: Upgrade HBase to 2.5.0
  camel-dependencies/pom.xml
  components/camel-hbase/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-hbase/pom.xml
Labels: components, test-infra

#8408 [CAMEL-18527] Camel Kafka Component: batch producer with individual headers
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaComponentConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointUriFactory.java
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/producer/support/KeyValueHolderIterator.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/producer/support/PropagatedHeadersProvider.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaProducerTest.java
Labels: components, components-kafka

#8409 CAMEL-18535: Upgrade HBase to 2.5.0
  camel-dependencies/pom.xml
  components/camel-hbase/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-hbase/pom.xml
Labels: components, test-infra

#8412 CAMEL-17448: removed used dependencies in camel-activemq
  components/camel-activemq/pom.xml
Labels: components

#8413 (chores) camel-any23: removed duplicated code
  components/camel-any23/src/test/java/org/apache/camel/dataformat/any23/Any23TestSupport.java
Labels: components

#8414 (chores) camel-atmos: fixed invalid link in documentation
  components/camel-atmos/src/main/docs/atmos-component.adoc
Labels: components

#8396 Adds tests to demonstrate bug within the toD optimisation
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpSendDynamicAwareUriWithSpacesTest.java
Labels: components

#8417 Backport to 3.18 the camel-atmos doc fix
  components/camel-atmos/src/main/docs/atmos-component.adoc
Labels: components

#8421 Backport 3.18.x - CAMEL-18494: camel-mllp - Allow the ability to set MIN_BUFFER_SIZE for SocketBuffer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/mllp.json
  components/camel-mllp/src/generated/java/org/apache/camel/component/mllp/MllpComponentConfigurer.java
  components/camel-mllp/src/generated/java/org/apache/camel/component/mllp/MllpEndpointConfigurer.java
  components/camel-mllp/src/generated/java/org/apache/camel/component/mllp/MllpEndpointUriFactory.java
  components/camel-mllp/src/generated/resources/org/apache/camel/component/mllp/mllp.json
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpConfiguration.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/internal/MllpSocketBuffer.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/internal/MllpSocketBufferWriteTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MllpComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MllpEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8416 Revert "Upgrade Nats Image for test-infra to version 2.9.0"
  test-infra/camel-test-infra-nats/src/test/java/org/apache/camel/test/infra/nats/services/NatsLocalContainerService.java
Labels: test-infra

#8422 CAMEL-17448: removed unused dependencies on camel-bindy
  components/camel-bindy/pom.xml
Labels: components

#8423 CAMEL-17448: removed unused dependencies on camel-cassandraql
  components/camel-cassandraql/pom.xml
Labels: components

#8425 CAMEL-17448: removed unused dependencies on camel-elasticsearch-rest
  components/camel-elasticsearch-rest/pom.xml
Labels: components

#8431 CAMEL-18549: Changed filter list in the DynamicRouterProcessor to a m…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessor.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessorTest.java
Labels: components, catalog

#8436 CAMEL-18560: camel-etcd3 - Upgrade jetcd to 0.7.3
  camel-dependencies/pom.xml
  components/camel-etcd3/pom.xml
  parent/pom.xml
Labels: components

#8440 Upgrade to azure-sdk-bom version 1.2.6
  camel-dependencies/pom.xml
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientWrapper.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/operations/BlobOperations.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobOperationsIT.java
  parent/pom.xml
Labels: components, components-azure

#8443 Upgrade to azure-sdk-bom version 1.2.6
  camel-dependencies/pom.xml
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientWrapper.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/operations/BlobOperations.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobOperationsIT.java
  parent/pom.xml
Labels: components, components-azure

#8445 CAMEL-18560: camel-etcd3 - Align the grpc version of jetcd-grpc with vertx-grpc
  camel-dependencies/pom.xml
  components/camel-etcd3/pom.xml
  parent/pom.xml
Labels: components

#8447 CAMEL-18350: fix bug causing all messages to be reconsumed
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
Labels: components, components-kafka

#8450 ✅ Add tests
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/JacksonFeaturesTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/JacksonMarshalNamingStrategyTest.java
Labels: components

#8449 Platform-http: Remove vert.x specific code from Jetty example
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/JettyCustomPlatformHttpConsumer.java
Labels: components

#8448 CAMEL-18568: Extend handleDuplicateAttachmentNames handling to suffix…
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/imap.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/imaps.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/pop3.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/pop3s.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/smtp.json
  components/camel-mail/src/generated/resources/org/apache/camel/component/mail/smtps.json
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailBinding.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConfiguration.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConstants.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailAttachmentNamesTest.java
  components/camel-mail/src/test/resources/filename_duplicate_multiple_dots.txt
  components/camel-mail/src/test/resources/filename_duplicate_no_extension.txt
  components/camel-mail/src/test/resources/filename_duplicate_single_dot_at_beginning.txt
Labels: components
