Repository apache/camel, pull requests merged in 2022-11, with the labels that each got.

#8647 Camel 18665
  core/camel-api/src/main/java/org/apache/camel/spi/ResourceLoader.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/JsseParameters.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/KeyManagersParametersTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/KeyStoreParametersTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/TrustManagersParametersTest.java
Labels: core

#8650 [DOCS] Dataset component - Fix ListDataSet format
  components/camel-dataset/src/main/docs/dataset-component.adoc
Labels: components

#8653 CAMEL-18148: added support for configuration builders in camel-wal
  components/camel-wal/src/main/java/org/apache/camel/component/wal/WriteAheadResumeStrategy.java
  components/camel-wal/src/main/java/org/apache/camel/component/wal/WriteAheadResumeStrategyConfiguration.java
  components/camel-wal/src/main/java/org/apache/camel/component/wal/WriteAheadResumeStrategyConfigurationBuilder.java
Labels: components

#8655 Wrong initialization of KeyStoreParameters causes IllegalArgumentException
  components/camel-vertx/camel-vertx-common/src/main/java/org/apache/camel/component/vertx/common/VertxHelper.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextParameters.java
Labels: components, core

#8658 CAMEL-18148: added support for configuration builders in camel-wal
  components/camel-kafka/src/generated/resources/META-INF/services/org/apache/camel/kafka-resume-strategy
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/KafkaResumeStrategyConfiguration.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/KafkaResumeStrategyConfigurationBuilder.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
  components/camel-wal/src/generated/resources/META-INF/services/org/apache/camel/write-ahead-resume-strategy
  components/camel-wal/src/main/java/org/apache/camel/component/wal/WriteAheadResumeStrategy.java
  components/camel-wal/src/main/java/org/apache/camel/component/wal/WriteAheadResumeStrategyConfiguration.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeStrategy.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeStrategyConfiguration.java
  core/camel-core-engine/src/main/docs/modules/eips/pages/resume-strategies.adoc
  core/camel-core-model/src/main/java/org/apache/camel/model/ResumableDefinition.java
  core/camel-core-processor/src/generated/resources/META-INF/services/org/apache/camel/transient-resume-strategy
  core/camel-core-processor/src/main/java/org/apache/camel/processor/resume/TransientResumeStrategy.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ResumableReifier.java
Labels: components, components-kafka, core

#8253 CAMEL-18447 Camel-pubsub: AsyncTaskException: Asynchronous task failes
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConsumer.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/consumer/AcknowledgeSync.java
Labels: components

#8659 CAMEL-18677: allow setting the cache on the configuration builder
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/KafkaResumeStrategyConfigurationBuilder.java
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterConsumer.java
  components/camel-wal/src/main/java/org/apache/camel/component/wal/WriteAheadResumeStrategyConfigurationBuilder.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeStrategyConfiguration.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeStrategyConfigurationBuilder.java
  core/camel-api/src/main/java/org/apache/camel/resume/cache/ResumeCache.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
  core/camel-core-engine/src/main/docs/modules/eips/pages/resume-strategies.adoc
  core/camel-core-processor/src/main/java/org/apache/camel/processor/resume/TransientResumeStrategy.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/AdapterHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/BasicResumeStrategyConfigurationBuilder.java
Labels: components, components-kafka, core

#8665 chore(vertx-http-cleanup): replace deprecated methods
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpHelper.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpSendDynamicAwareTest.java
Labels: components

#8664 CAMEL-18663: camel-vertx-http: allow to configure WebClientOptions at component level
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/vertx-http.json
  components/camel-vertx/camel-vertx-http/src/generated/java/org/apache/camel/component/vertx/http/VertxHttpComponentConfigurer.java
  components/camel-vertx/camel-vertx-http/src/generated/resources/org/apache/camel/component/vertx/http/vertx-http.json
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpComponent.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpCustomWebClientTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/VertxHttpComponentBuilderFactory.java
Labels: components, catalog, dsl

#8666 (chores) camel-plc4x: removed reference to spring-boot-starter as it does not yet exist
  components/camel-plc4x/src/main/docs/PLC4X.adoc
  components/camel-plc4x/src/main/docs/plc4x-component.adoc
Labels: components

#8667 CAMEL-18447 Camel-pubsub: AsyncTaskException: Asynchronous task faile…
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConsumer.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/consumer/AcknowledgeSync.java
Labels: components

#8675 Upgrade spring-security to 5.7.5
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8676 CAMEL-18694 - Fix documentation to use new path attribute instead of uri
  core/camel-core-engine/src/main/docs/modules/eips/pages/pollEnrich-eip.adoc
  docs/user-manual/modules/ROOT/pages/rest-dsl.adoc
  docs/user-manual/modules/faq/pages/how-do-i-import-rests-from-other-xml-files.adoc
Labels: core, docs

#8662 [CAMEL-18684] Add Microsoft Exchange Online OAuth2 Mail Authenticator
  camel-dependencies/pom.xml
  components/camel-mail/pom.xml
  components/camel-mail/src/main/docs/mail-component.adoc
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MicrosoftExchangeOnlineOAuth2MailAuthenticator.java
  parent/pom.xml
Labels: components, core-build-and-dependencies

#8660 [CAMEL-18684] Add Microsoft Exchange Online OAuth2 Mail Authenticator
  camel-dependencies/pom.xml
  components/camel-mail/pom.xml
  components/camel-mail/src/main/docs/mail-component.adoc
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MicrosoftExchangeOnlineOAuth2MailAuthenticator.java
  parent/pom.xml
Labels: components, core-build-and-dependencies

#8678 CAMEL-17505: camel-core - Propose primitive types in builder methods
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ASN1DataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/Any23DataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/AvroDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/BarcodeDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/Base64DataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/BindyDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/CBORDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/CryptoDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/CsvDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/FhirDataformat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/FlatpackDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/GrokDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/HL7DataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/IcalDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JacksonXMLDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JaxbDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JsonDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/LZFDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/MimeMultipartDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/PGPDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ProtobufDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/SoapDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/TarFileDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ThriftDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/TidyMarkupDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/UniVocityAbstractDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/UniVocityCsvDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/UniVocityFixedDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/UniVocityTsvDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/XMLSecurityDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/XStreamDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/YAMLDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ZipDeflaterDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ZipFileDataFormat.java
Labels: core

#8661 [CAMEL-18646] Provide custom configuration
  components/camel-git/src/generated/java/org/apache/camel/component/git/GitEndpointConfigurer.java
  components/camel-git/src/generated/java/org/apache/camel/component/git/GitEndpointUriFactory.java
  components/camel-git/src/generated/resources/org/apache/camel/component/git/git.json
  components/camel-git/src/main/docs/git-component.adoc
  components/camel-git/src/main/java/org/apache/camel/component/CustomConfigSystemReader.java
  components/camel-git/src/main/java/org/apache/camel/component/RepositoryFactory.java
  components/camel-git/src/main/java/org/apache/camel/component/git/GitEndpoint.java
  components/camel-git/src/main/java/org/apache/camel/component/git/consumer/AbstractGitConsumer.java
  components/camel-git/src/main/java/org/apache/camel/component/git/producer/GitProducer.java
  components/camel-git/src/test/java/org/apache/camel/component/git/consumer/GitConsumerTest.java
  components/camel-git/src/test/resources/git.config
Labels: components

#8682 (chores) camel-resume-api: added missing documentation
  core/camel-api/src/main/java/org/apache/camel/resume/Deserializable.java
Labels: core

#8681 CAMEL-18688: add full resume support for Kafka
  components/camel-kafka/src/generated/resources/META-INF/services/org/apache/camel/kafka-adapter-factory
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/ResumeStrategyFactory.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/AssignmentAdapterHelper.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/ClassicRebalanceListener.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/NoOpPartitionAssignmentAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/OffsetPartitionAssignmentAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/PartitionAssignmentAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/SeekPolicyPartitionAssignmentAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/resume/KafkaResumable.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/resume/KafkaResumeAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/resume/ResumeRebalanceListener.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAutoInstResumeRouteStrategyIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerWithResumeRouteStrategyIT.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/resume/TransientResumeStrategy.java
Labels: components, components-kafka, core

#8685 camel-http: Make proxyAuthScheme configurable at global level.
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpComponentConfigurer.java
  components/camel-http/src/generated/resources/org/apache/camel/component/http/http.json
  components/camel-http/src/generated/resources/org/apache/camel/component/http/https.json
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
Labels: components

#8687 CAMEL-18696: camel-ldap - Make filter a bit easier to use
  components/camel-ldap/src/main/java/org/apache/camel/component/ldap/LdapProducer.java
Labels: components

#8689 3.18.x: Bump Jettison to version 1.5.1
  parent/pom.xml
Labels: core-build-and-dependencies

#8693 Add jkube to springboot export
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/apache-snapshot-maven.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/jkube-profiles.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl

#8688 CAMEL-18697: camel-core - Propose a DSL for languages
  core/camel-core-model/src/main/java/org/apache/camel/builder/BuilderSupport.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LanguageBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LanguageBuilderFactory.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/FhirDataformat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/UniVocityAbstractDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/CSimpleExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/ConstantExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/DatasonnetExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/ExchangePropertyExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/ExpressionDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/GroovyExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/HeaderExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/Hl7TerserExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/JoorExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/JqExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/JsonPathExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/LanguageExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/MethodCallExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/MvelExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/NamespaceAwareExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/OgnlExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/PythonExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/RefExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/SimpleExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/SpELExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/TokenizerExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/XMLTokenizerExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/XPathExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/XQueryExpression.java
  core/camel-core/src/test/java/org/apache/camel/impl/LanguageFluentSyntaxTest.java
  docs/user-manual/modules/ROOT/pages/dataformat-dsl.adoc
  docs/user-manual/modules/ROOT/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/language-dsl.adoc
Labels: core, docs

#8691 [CAMEL-18684]: Add Microsoft Exchange Online OAuth2 Mail Authenticator
  catalog/camel-allcomponents/pom.xml
  components/camel-mail-microsoft-oauth/pom.xml
  components/camel-mail-microsoft-oauth/src/main/docs/mail-microsoft-oauth.adoc
  components/camel-mail-microsoft-oauth/src/main/java/org/apache/camel/component/mail/microsoft/authenticator/MicrosoftExchangeOnlineOAuth2MailAuthenticator.java
  components/camel-mail/pom.xml
  components/camel-mail/src/main/docs/mail-component.adoc
  components/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies

#8696 SOAP-Fault to Java Exception also lookups by SOAPAction
  components/camel-soap/pom.xml
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/Soap11DataFormatAdapter.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/Soap12DataFormatAdapter.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/name/ElementNameStrategy.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/name/QNameStrategy.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/name/ServiceInterfaceStrategy.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/name/TypeNameStrategy.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/name/XmlRootElementPreferringElementNameStrategy.java
  components/camel-soap/src/test/java/org/apache/camel/converter/soap/name/ServiceInterfaceStrategyTest.java
  components/camel-soap/src/test/resources/org/apache/camel/dataformat/soap/TestService.wsdl
Labels: components

#8697 CAMEL-18679: camel-docker - Bind mount support
  components/camel-docker/src/generated/resources/org/apache/camel/component/docker/docker.json
  components/camel-docker/src/main/java/org/apache/camel/component/docker/DockerConstants.java
  components/camel-docker/src/main/java/org/apache/camel/component/docker/producer/DockerProducer.java
  components/camel-docker/src/test/java/org/apache/camel/component/docker/headers/CreateContainerCmdHeaderTest.java
Labels: components

#8692 [CAMEL-18684]: Add Microsoft Exchange Online OAuth2 Mail Authenticator
  catalog/camel-allcomponents/pom.xml
  components/camel-mail-microsoft-oauth/pom.xml
  components/camel-mail-microsoft-oauth/src/main/docs/mail-microsoft-oauth.adoc
  components/camel-mail-microsoft-oauth/src/main/java/org/apache/camel/component/mail/microsoft/authenticator/MicrosoftExchangeOnlineOAuth2MailAuthenticator.java
  components/camel-mail/pom.xml
  components/camel-mail/src/main/docs/mail-component.adoc
  components/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies

#8702 CAMEL-18608: fixed not skipping resume files in test
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerResumeStrategyTest.java
Labels: core

#8706 CAMEL-18678: ensure strategies can access the Camel context
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
  components/camel-wal/src/main/java/org/apache/camel/component/wal/WriteAheadResumeStrategy.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ResumableReifier.java
Labels: components, components-kafka, core

#8708 [CAMEL-18711] OpenAPI Schema references not generating correctly
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestModelConverters.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiReader.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/ComplexTypesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/CustomDataWithSchemaAnnotation.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/SampleComplexRequestTypeWithSchemaAnnotation.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/SampleComplexResponseTypeWithSchemaAnnotation.java
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V2SchemaForComplexTypesRequestWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V2SchemaForComplexTypesResponseWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V3SchemaForComplexTypesRequestWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V3SchemaForComplexTypesResponseWithSchemaAnnotation.json
Labels: components

#8712 Upgrade Pulsar to version 2.10.2
  parent/pom.xml
Labels: core-build-and-dependencies

#8721 CAMEL-18704: generate headers metadata for component/endpoint supercl…
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojoTest.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeExtendingConstants.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeExtendingEndpoint.java
Labels: tooling, tooling-maven

#8720 CAMEL-18716: camel-jbang - Fix reading options after parameters for run
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#8718 Upgrade ivy to version 2.5.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8719 Upgrade scandium version to 2.7.4
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8724 ✅ Gmail xmpp was dismissed, use jabber
  components/camel-dns/src/test/java/org/apache/camel/component/dns/cloud/DnsServiceDiscoveryTest.java
Labels: components

#8726 CAMEL-18724: fix display of default values in website
  core/camel-core-engine/src/main/docs/modules/eips/partials/eip-options.adoc
  docs/components/modules/dataformats/partials/dataformat-options.adoc
  docs/components/modules/languages/partials/language-options.adoc
Labels: core, docs

#8729 ✅ Gmail xmpp was dismissed, use jabber
  components/camel-dns/src/test/java/org/apache/camel/component/dns/cloud/DnsServiceDiscoveryTest.java
Labels: components

#8725 Added support for rabbitmq x-queue-type
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQConstants.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQDeclareSupport.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQConstants.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpoint.java
Labels: components

#8727 (chores) camel-dataset: avoid checking data set index when creating the exchanges
  components/camel-dataset/src/main/java/org/apache/camel/component/dataset/DataSetConsumer.java
Labels: components

#8731 CAMEL-18730: camel-report-maven-plugin - Fix import issue
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
Labels: catalog

#8737 CAMEL-18730: camel-report-maven-plugin - Fix import issue
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
Labels: catalog

#8739 camel-ftp: fix docs
  components/camel-ftp/src/main/docs/ftp-component.adoc
Labels: components

#8740 property-placeholder: fix doc typo
  docs/user-manual/modules/ROOT/pages/using-propertyplaceholder.adoc
Labels: docs

#8735 CAMEL-18707: Upgrade to Jandex 3.0.3
  camel-dependencies/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/GenerateInvokeOnHeaderMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/TypeConverterLoaderGeneratorMojo.java
Labels: dsl, tooling, tooling-maven, core-build-and-dependencies

#8745 CAMEL-18668: Upgrade SmallRye Fault Tolerance to 5.6.0
  camel-dependencies/pom.xml
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceProcessor.java
  parent/pom.xml
Labels: components, core-build-and-dependencies

#8752 (chores) test-infra-kafka: upgrade Kafka images
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/StrimziContainer.java
Labels: test-infra

#8753 CAMEL-18736: Ensure cxfEndpoint schemas are uniquely named for JaxRS and JaxWS to avoid classpath conflicts
  components/camel-cxf/camel-cxf-rest/src/main/docs/cxfrs-component.adoc
  components/camel-cxf/camel-cxf-spring-rest/pom.xml
  components/camel-cxf/camel-cxf-spring-rest/src/main/resources/META-INF/spring.schemas
  components/camel-cxf/camel-cxf-spring-rest/src/main/resources/schema/cxfJaxrsEndpoint.xsd
  components/camel-cxf/camel-cxf-spring-soap/pom.xml
  components/camel-cxf/camel-cxf-spring-soap/src/main/resources/META-INF/spring.schemas
  components/camel-cxf/camel-cxf-spring-soap/src/main/resources/schema/cxfJaxwsEndpoint.xsd
Labels: components

#8716 [CAMEL-18722] Fixed metadata handling
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
Labels: components, components-aws

#8749 Fixed Camel 18719 : camel-jbang - Adding the dependency of camel-quarkus-core creates two entries in exported POM.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
Labels: dsl

#8746 CAMEL-18717: do save to offset repository when using a commit manager
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/AbstractCommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/AsyncCommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/CommitToOffsetManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/SyncCommitManager.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/BaseManualCommitTestSupport.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerAsyncWithOffsetRepoCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerSyncWithOffsetRepoCommitIT.java
Labels: components, components-kafka

#8761 Upgrade jettison to 1.5.2
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8760 Upgrade grpc/protobuf to 1.48.2/3.21.7
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8741 Hyperledger Aries - connectionless proofs
  components/camel-hyperledger-aries/src/main/docs/hyperledger-aries-component.adoc
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/Constants.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/PresentProofServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/WalletServiceHandler.java
  components/camel-hyperledger-aries/src/test/java/org/apache/camel/component/aries/ConnectionlessProofTest.java
Labels: components

#8763 Upgrade jettison to 1.5.2
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8757 Backport to 3.18 a few Kafka fixes
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/AbstractCommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/AsyncCommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/CommitToOffsetManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/SyncCommitManager.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/BaseManualCommitTestSupport.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerAsyncWithOffsetRepoCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerSyncWithOffsetRepoCommitIT.java
Labels: components, components-kafka

#8765 CAMEL-18707: upgrade to Jandex 3
  camel-dependencies/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSupportMojo.java
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/GenerateInvokeOnHeaderMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/TypeConverterLoaderGeneratorMojo.java
Labels: dsl, tooling, tooling-maven, core-build-and-dependencies

#8751 (chores) test-infra-hdfs: upgrade hadoop to 2.10.2
  test-infra/camel-test-infra-hdfs/src/test/resources/org/apache/camel/test/infra/hdfs/v2/services/Dockerfile
Labels: test-infra

#8759 allow ES modules in JS DSL
  dsl/camel-js-dsl/src/main/java/org/apache/camel/dsl/js/JavaScriptRoutesBuilderLoader.java
Labels: dsl

#8758 CAMEL-18131 - Adding health check to test connectivity to aws2-iam
  components/camel-aws/camel-aws2-iam/pom.xml
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2Component.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2Endpoint.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/client/IAM2HealthCheck.java
  components/camel-aws/camel-aws2-iam/src/test/java/org/apache/camel/component/aws2/iam/IAM2HealthCheckProfileCredsTest.java
  components/camel-aws/camel-aws2-iam/src/test/java/org/apache/camel/component/aws2/iam/IAM2HealthCheckStaticCredsTest.java
  components/camel-aws/camel-aws2-iam/src/test/java/org/apache/camel/component/aws2/iam/IAMComponentVerifierExtensionTest.java
Labels: components, components-aws

#8767 CAMEL-18749: camel-hdfs: Add Snappy compression support
  components/camel-hdfs/src/main/java/org/apache/camel/component/hdfs/HdfsCompressionCodec.java
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/HdfsProducerTest.java
Labels: components

#8768 docs - Simplify steps for building thrift compiler
  components/camel-thrift/README.md
Labels: components

#8771 [CAMEL-18753] camel-yaml-dsl - OnCompletion is not added in the route…
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/YamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/OnCompletionTest.groovy
Labels: dsl

#8769 (chores) camel-kafka: improved the documentation for handling manual commits with camel-kafka
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka

#8770 camel-hbase: deprecate the component
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/hbase.json
  components/camel-hbase/pom.xml
  components/camel-hbase/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-hbase/src/generated/resources/org/apache/camel/component/hbase/hbase.json
  components/camel-hbase/src/main/docs/hbase-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/HbaseComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/HBaseEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8773 CAMEL-18756: deprecate the spark component
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/spark.json
  components/camel-spark/pom.xml
  components/camel-spark/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-spark/src/generated/resources/org/apache/camel/component/spark/spark.json
  components/camel-spark/src/main/docs/spark-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SparkComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SparkEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8775 camel-jbang - Upgrade to Camel 3.18.3
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl

#8776 Upgrade JSONata4Java to 2.2.4
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8777 CAMEL-18761 camel-open-api - Warning log when using boolean type
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestModelConverters.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/User.java
Labels: components

#8779 📝 Add SB Autoconfiguration paragraph
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
Labels: components

#8780 CAMEL-18762: camel-hdfs - Add LZ4 and Zstd compression support
  components/camel-hdfs/pom.xml
  components/camel-hdfs/src/main/java/org/apache/camel/component/hdfs/HdfsCompressionCodec.java
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/HdfsProducerTest.java
Labels: components

#8774 camel-splunk-hec - Add endpoint url suffix configuration to enable op…
  components/camel-splunk-hec/src/generated/java/org/apache/camel/component/splunkhec/SplunkHECEndpointConfigurer.java
  components/camel-splunk-hec/src/generated/java/org/apache/camel/component/splunkhec/SplunkHECEndpointUriFactory.java
  components/camel-splunk-hec/src/generated/resources/org/apache/camel/component/splunkhec/splunk-hec.json
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECConfiguration.java
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECProducer.java
  components/camel-splunk-hec/src/test/java/org/apache/camel/component/splunkhec/SplunkHECConfigurationTest.java
Labels: components

#8782 CAMEL-18764: camel-core - templatedRoute builder from Java cannot use…
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-api/src/main/java/org/apache/camel/RoutesBuilder.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightRuntimeCamelContext.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilder.java
  core/camel-main/src/main/java/org/apache/camel/main/RoutesConfigurer.java
Labels: core

#8646 [CAMEL-18618] Milo component: Return status from write
  components/camel-milo/src/main/java/org/apache/camel/component/milo/client/MiloClientProducer.java
  components/camel-milo/src/main/java/org/apache/camel/component/milo/client/internal/SubscriptionManager.java
Labels: components

#8783 CAMEL-18757 Specify type for pom-only artifacts like camel-*-parent
  bom/camel-bom/pom.xml
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareParentPomMojo.java
Labels: tooling, tooling-maven, core-build-and-dependencies

#8789 Fix the camel project export dir option typo
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs

#8794 CAMEL-18764: camel-core - Add unit test and fix regressions
  components/camel-cdi/src/main/java/org/apache/camel/cdi/CdiCamelExtension.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/CamelTestSupportOneContextForAllTest.java
  core/camel-api/src/main/java/org/apache/camel/spi/RoutesLoader.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilder.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlMainTemplatedRouteFromDifferentDSLTest.java
  dsl/camel-xml-io-dsl/src/test/resources/org/apache/camel/main/xml/camel-my-route-template.xml
Labels: components, core, dsl

#8796 change the source type to module for JS dsl + fix test scripts
  dsl/camel-js-dsl/src/main/java/org/apache/camel/dsl/js/JavaScriptRoutesBuilderLoader.java
  dsl/camel-js-dsl/src/test/java/org/apache/camel/dsl/js/JavaScriptRoutesBuilderLoaderTest.java
  dsl/camel-js-dsl/src/test/resources/module.mjs
  dsl/camel-js-dsl/src/test/resources/routes/routes-with-component-configuration.js
  dsl/camel-js-dsl/src/test/resources/routes/routes-with-endpoint-dsl.js
  dsl/camel-js-dsl/src/test/resources/routes/routes-with-modules.js
  dsl/camel-js-dsl/src/test/resources/routes/routes-with-rest-configuration.js
Labels: dsl

#8798 Update amqp-component.adoc
  components/camel-amqp/src/main/docs/amqp-component.adoc
Labels: components

#8806 Update amqp-component.adoc
  components/camel-amqp/src/main/docs/amqp-component.adoc
Labels: components

#8803 CAMEL-18776: camel-hdfs - Fix HdfsNormalFileHandler to handle temporary file path correctly
  components/camel-hdfs/src/main/java/org/apache/camel/component/hdfs/HdfsNormalFileHandler.java
Labels: components

#8799 [camel-resilience4j] Increase test coverage making a context pooled
  components/camel-resilience4j/src/test/java/org/apache/camel/component/resilience4j/ResiliencePooledRouteOkTest.java
Labels: components

#8788 Google Spreadsheets tests refactoring
  camel-dependencies/pom.xml
  components/camel-google/camel-google-sheets/pom.xml
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/BatchGoogleSheetsClientFactory.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/AbstractGoogleSheetsTestSupport.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/MockGoogleSheetsClientFactory.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/SheetsSpreadsheetsIT.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/SheetsSpreadsheetsValuesIT.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/server/GoogleSheetsApiTestServer.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/server/GoogleSheetsApiTestServerAssert.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/server/GoogleSheetsApiTestServerRule.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/stream/AbstractGoogleSheetsStreamTestSupport.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/stream/SheetsStreamConsumerIntegrationTest.java
  components/camel-google/camel-google-sheets/src/test/resources/googleapis.jks
  components/camel-google/camel-google-sheets/src/test/resources/test-options.properties
  parent/pom.xml
Labels: components, core-build-and-dependencies
