Repository apache/camel, pull requests merged in 2022-04, with the labels that each got.

#7316 CAMEL-17763: cleanup unused exceptions in camel-ahc-ws
  components/camel-ahc-ws/src/test/java/org/apache/camel/component/ahc/ws/WsProducerConsumerTest.java
  components/camel-ahc-ws/src/test/java/org/apache/camel/component/ahc/ws/WsProducerTest.java
  components/camel-ahc-ws/src/test/java/org/apache/camel/component/ahc/ws/WsProducerTestBase.java
  components/camel-ahc-ws/src/test/java/org/apache/camel/component/ahc/ws/WsProducerUsingStreamingTest.java
  components/camel-ahc-ws/src/test/java/org/apache/camel/component/ahc/ws/WssProducerTest.java
Labels: components

#7315 CAMEL-17879: removed the deprecated camel-beanstalk component
  camel-dependencies/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/beanstalk.json
  components/camel-beanstalk/pom.xml
  components/camel-beanstalk/src/generated/java/org/apache/camel/component/beanstalk/BeanstalkComponentConfigurer.java
  components/camel-beanstalk/src/generated/java/org/apache/camel/component/beanstalk/BeanstalkEndpointConfigurer.java
  components/camel-beanstalk/src/generated/java/org/apache/camel/component/beanstalk/BeanstalkEndpointUriFactory.java
  components/camel-beanstalk/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-beanstalk/src/generated/resources/META-INF/services/org/apache/camel/component/beanstalk
  components/camel-beanstalk/src/generated/resources/META-INF/services/org/apache/camel/configurer/beanstalk-component
  components/camel-beanstalk/src/generated/resources/META-INF/services/org/apache/camel/configurer/beanstalk-endpoint
  components/camel-beanstalk/src/generated/resources/META-INF/services/org/apache/camel/urifactory/beanstalk-endpoint
  components/camel-beanstalk/src/generated/resources/org/apache/camel/component/beanstalk/beanstalk.json
  components/camel-beanstalk/src/main/docs/beanstalk-component.adoc
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/BeanstalkCommand.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/BeanstalkComponent.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/BeanstalkConsumer.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/BeanstalkEndpoint.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/BeanstalkExchangeHelper.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/BeanstalkProducer.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/ConnectionSettings.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/ConnectionSettingsFactory.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/Headers.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/BuryCommand.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/Command.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/DefaultCommand.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/DeleteCommand.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/KickCommand.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/PutCommand.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/ReleaseCommand.java
  components/camel-beanstalk/src/main/java/org/apache/camel/component/beanstalk/processors/TouchCommand.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/AwaitingConsumerTest.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/BeanstalkMockTestSupport.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/ConnectionSettingsTest.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/ConsumerCompletionTest.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/ConsumerToProducerHeadersTest.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/EndpointTest.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/Helper.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/ImmediateConsumerTest.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/ProducerTest.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/TestExchangeCopyProcessor.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/integration/BeanstalkCamelITSupport.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/integration/BuryProducerIntegrationIT.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/integration/ConsumerIntegrationIT.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/integration/DeleteProducerIntegrationIT.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/integration/PutProducerIntegrationIT.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/integration/ReleaseProducerIntegrationIT.java
  components/camel-beanstalk/src/test/java/org/apache/camel/component/beanstalk/integration/TouchProducerIntegrationIT.java
  components/camel-beanstalk/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/beanstalk.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/beanstalk-component.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/EndpointConsumerDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/EndpointProducerDeserializersResolver.java
  parent/pom.xml
Labels: components, core, catalog, docs, dsl

#7314 "CAMEL:17092:Debezium 1.7.0 - Oracle Connector"
  components/camel-debezium/camel-debezium-oracle/pom.xml
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleComponentConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointUriFactory.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/META-INF/services/org/apache/camel/component/debezium-oracle
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/META-INF/services/org/apache/camel/configurer/debezium-oracle-component
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/META-INF/services/org/apache/camel/configurer/debezium-oracle-endpoint
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/META-INF/services/org/apache/camel/urifactory/debezium-oracle-endpoint
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/org/apache/camel/component/debezium/debezium-oracle.json
  components/camel-debezium/camel-debezium-oracle/src/main/docs/debezium-oracle-component.adoc
  components/camel-debezium/camel-debezium-oracle/src/main/java/org/apache/camel/component/debezium/DebeziumOracleComponent.java
  components/camel-debezium/camel-debezium-oracle/src/main/java/org/apache/camel/component/debezium/DebeziumOracleEndpoint.java
  components/camel-debezium/camel-debezium-oracle/src/test/java/org/apache/camel/component/debezium/DebeziumOracleComponentTest.java
  components/camel-debezium/camel-debezium-oracle/src/test/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-oracle/src/test/resources/log4j2.properties
  components/camel-debezium/pom.xml
Labels: components

#7304 (chores) camel-kafka: fix commit integration tests not running by default
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAsyncManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerAsyncCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerNoopCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerSyncCommitIT.java
Labels: components, components-kafka

#7322 CAMEL-17879: removes camel-elsql + regen
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elsql.json
  components/camel-elsql/pom.xml
  components/camel-elsql/src/generated/java/org/apache/camel/component/elsql/ElsqlComponentConfigurer.java
  components/camel-elsql/src/generated/java/org/apache/camel/component/elsql/ElsqlEndpointConfigurer.java
  components/camel-elsql/src/generated/java/org/apache/camel/component/elsql/ElsqlEndpointUriFactory.java
  components/camel-elsql/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-elsql/src/generated/resources/META-INF/services/org/apache/camel/component/elsql
  components/camel-elsql/src/generated/resources/META-INF/services/org/apache/camel/configurer/elsql-component
  components/camel-elsql/src/generated/resources/META-INF/services/org/apache/camel/configurer/elsql-endpoint
  components/camel-elsql/src/generated/resources/META-INF/services/org/apache/camel/urifactory/elsql-endpoint
  components/camel-elsql/src/generated/resources/org/apache/camel/component/elsql/elsql.json
  components/camel-elsql/src/main/docs/elsql-component.adoc
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElSqlDatabaseVendor.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlComponent.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlConstants.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlConsumer.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlEndpoint.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlProducer.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlSqlMapSource.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlSqlPrepareStatementStrategy.java
  components/camel-elsql/src/main/java/org/apache/camel/component/elsql/ElsqlSqlProcessingStrategy.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/ElSqlComponentTest.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/ElSqlConsumerDeleteTest.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/ElSqlConsumerTest.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/ElSqlDataSourceTest.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/ElSqlProducerBatchTest.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/ElSqlProducerBodySimpleTest.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/ElSqlProducerStreamListTest.java
  components/camel-elsql/src/test/java/org/apache/camel/component/elsql/Project.java
  components/camel-elsql/src/test/resources/elsql/delete.elsql
  components/camel-elsql/src/test/resources/elsql/projects.elsql
  components/camel-elsql/src/test/resources/log4j2.properties
  components/camel-elsql/src/test/resources/sql/createAndPopulateDatabase.sql
  components/pom.xml
  core/camel-core-engine/src/main/docs/modules/eips/pages/transactional-client.adoc
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/elsql.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/elsql-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElsqlComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ElsqlEndpointBuilderFactory.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/EndpointConsumerDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/EndpointProducerDeserializersResolver.java
  parent/pom.xml
Labels: components, components-kafka, core, catalog, docs, dsl, components-aws, components-azure, components-jms

#7332 CAMEL-17879: removed the deprecated camel-ganglia component
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ganglia.json
  components/camel-ganglia/pom.xml
  components/camel-ganglia/src/generated/java/org/apache/camel/component/ganglia/GangliaComponentConfigurer.java
  components/camel-ganglia/src/generated/java/org/apache/camel/component/ganglia/GangliaEndpointConfigurer.java
  components/camel-ganglia/src/generated/java/org/apache/camel/component/ganglia/GangliaEndpointUriFactory.java
  components/camel-ganglia/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ganglia/src/generated/resources/META-INF/services/org/apache/camel/component/ganglia
  components/camel-ganglia/src/generated/resources/META-INF/services/org/apache/camel/configurer/ganglia-component
  components/camel-ganglia/src/generated/resources/META-INF/services/org/apache/camel/configurer/ganglia-endpoint
  components/camel-ganglia/src/generated/resources/META-INF/services/org/apache/camel/urifactory/ganglia-endpoint
  components/camel-ganglia/src/generated/resources/org/apache/camel/component/ganglia/ganglia.json
  components/camel-ganglia/src/main/docs/ganglia-component.adoc
  components/camel-ganglia/src/main/java/org/apache/camel/component/ganglia/GangliaComponent.java
  components/camel-ganglia/src/main/java/org/apache/camel/component/ganglia/GangliaConfiguration.java
  components/camel-ganglia/src/main/java/org/apache/camel/component/ganglia/GangliaConstants.java
  components/camel-ganglia/src/main/java/org/apache/camel/component/ganglia/GangliaEndpoint.java
  components/camel-ganglia/src/main/java/org/apache/camel/component/ganglia/GangliaProducer.java
  components/camel-ganglia/src/test/java/org/apache/camel/component/ganglia/CamelGangliaTestSupport.java
  components/camel-ganglia/src/test/java/org/apache/camel/component/ganglia/GangliaConfigurationTest.java
  components/camel-ganglia/src/test/java/org/apache/camel/component/ganglia/GangliaProducerTest.java
  components/camel-ganglia/src/test/java/org/apache/camel/component/ganglia/GangliaProtocolV30CamelTest.java
  components/camel-ganglia/src/test/java/org/apache/camel/component/ganglia/GangliaProtocolV31CamelTest.java
  components/camel-ganglia/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/ganglia.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/ganglia-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/GangliaComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GangliaEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SoroushBotEndpointBuilderFactory.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/EndpointProducerDeserializersResolver.java
  parent/pom.xml
Labels: components, core, catalog, docs, dsl

#7333 CAMEL-17879: removed the deprecated camel-leveldb-legacy component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/leveldb-legacy.json
  components/camel-bonita/src/test/java/org/apache/camel/component/bonita/api/BonitaAuthFilterConnectionTest.java
  components/camel-bonita/src/test/java/org/apache/camel/component/bonita/api/BonitaAuthFilterTest.java
  components/camel-leveldb-legacy/.gitignore
  components/camel-leveldb-legacy/pom.xml
  components/camel-leveldb-legacy/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-leveldb-legacy/src/generated/resources/leveldb-legacy.json
  components/camel-leveldb-legacy/src/main/docs/leveldb-legacy.adoc
  components/camel-leveldb-legacy/src/main/java/org/apache/camel/component/leveldb/LevelDBAggregationRepository.java
  components/camel-leveldb-legacy/src/main/java/org/apache/camel/component/leveldb/LevelDBCamelCodec.java
  components/camel-leveldb-legacy/src/main/java/org/apache/camel/component/leveldb/LevelDBFile.java
  components/camel-leveldb-legacy/src/main/java/org/apache/camel/component/leveldb/package.html
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/BigPayload.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateConcurrentDifferentGroupsTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateConcurrentSameGroupTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateDiscardOnTimeoutTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateForceCompletionHeaderTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateLoadAndRecoverTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateLoadConcurrentTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateLoadTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateNotLostRemovedWhenConfirmedTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateNotLostTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateRecoverDeadLetterChannelFailedTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateRecoverDeadLetterChannelTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateRecoverTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateRecoverWithRedeliveryPolicyTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateRecoverWithSedaTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateSerializedHeadersTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateTimeoutCompletionRestartTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregationRepositoryAlotDataTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregationRepositoryLoadExistingTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregationRepositoryMultipleRepoTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregationRepositoryRecoverExistingTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregationRepositoryTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBBigPayloadTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBExchangeSerializationTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBGetNotFoundTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBSetupTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBSpringAggregateRecoverWithRedeliveryPolicyTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/leveldb/LevelDBSpringAggregateTest.java
  components/camel-leveldb-legacy/src/test/java/org/apache/camel/component/util/HeaderDto.java
  components/camel-leveldb-legacy/src/test/resources/jndi.properties
  components/camel-leveldb-legacy/src/test/resources/log4j2.properties
  components/camel-leveldb-legacy/src/test/resources/org/apache/camel/component/leveldb/LevelDBSpringAggregateRecoverWithRedeliveryPolicyTest.xml
  components/camel-leveldb-legacy/src/test/resources/org/apache/camel/component/leveldb/LevelDBSpringAggregateTest.xml
  components/pom.xml
  docs/components/modules/others/examples/json/leveldb-legacy.json
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/leveldb-legacy.adoc
  parent/pom.xml
Labels: components, catalog, docs

#7320 CAMEL-17892: perform binding even when declarations were skipped
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQDeclareSupport.java
  components/camel-rabbitmq/src/test/java/org/apache/camel/component/rabbitmq/integration/RabbitMQProducerIT.java
Labels: components

#7334 CAMEL-17898: Allow to retrieve header definitions from super classes
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojoTest.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeCommonConstants.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeEndpointUsingInterfaceConstants.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeEndpointWithHeaderClassHierarchy.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeEndpointWithHeaderInterfaceHierarchy.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeInterfaceConstants.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeInterfaceWithCommonConstants.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeInterfaceWithSpecificConstants.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeSpecificConstants.java
Labels: tooling, tooling-maven

#7339 Camel 17515
  core/camel-health/src/main/java/org/apache/camel/impl/health/ContextHealthCheck.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_17.adoc
Labels: core, docs

#7342 CAMEL-17879: remove deprecated component camel-nagios
  apache-camel/src/main/release/README.txt
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/nagios.json
  components/camel-nagios/pom.xml
  components/camel-nagios/src/generated/java/org/apache/camel/component/nagios/NagiosComponentConfigurer.java
  components/camel-nagios/src/generated/java/org/apache/camel/component/nagios/NagiosEndpointConfigurer.java
  components/camel-nagios/src/generated/java/org/apache/camel/component/nagios/NagiosEndpointUriFactory.java
  components/camel-nagios/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-nagios/src/generated/resources/META-INF/services/org/apache/camel/component/nagios
  components/camel-nagios/src/generated/resources/META-INF/services/org/apache/camel/configurer/nagios-component
  components/camel-nagios/src/generated/resources/META-INF/services/org/apache/camel/configurer/nagios-endpoint
  components/camel-nagios/src/generated/resources/META-INF/services/org/apache/camel/urifactory/nagios-endpoint
  components/camel-nagios/src/generated/resources/org/apache/camel/component/nagios/nagios.json
  components/camel-nagios/src/main/docs/nagios-component.adoc
  components/camel-nagios/src/main/java/org/apache/camel/component/nagios/NagiosComponent.java
  components/camel-nagios/src/main/java/org/apache/camel/component/nagios/NagiosConfiguration.java
  components/camel-nagios/src/main/java/org/apache/camel/component/nagios/NagiosConstants.java
  components/camel-nagios/src/main/java/org/apache/camel/component/nagios/NagiosEndpoint.java
  components/camel-nagios/src/main/java/org/apache/camel/component/nagios/NagiosEventNotifier.java
  components/camel-nagios/src/main/java/org/apache/camel/component/nagios/NagiosProducer.java
  components/camel-nagios/src/test/java/org/apache/camel/component/nagios/MockNscaServerBasedTest.java
  components/camel-nagios/src/test/java/org/apache/camel/component/nagios/NagiosEventNotifierTest.java
  components/camel-nagios/src/test/java/org/apache/camel/component/nagios/NagiosTest.java
  components/camel-nagios/src/test/java/org/apache/camel/component/nagios/NagiosXorEncryptionTest.java
  components/camel-nagios/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/nagios.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/nagios-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/NagiosComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/NagiosEndpointBuilderFactory.java
  parent/pom.xml
Labels: components, core, catalog, docs, dsl

#7346 CAMEL-17879: remove deprecated component camel-jing
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jing.json
  components/camel-jing/pom.xml
  components/camel-jing/src/generated/java/org/apache/camel/component/validator/jing/JingComponentConfigurer.java
  components/camel-jing/src/generated/java/org/apache/camel/component/validator/jing/JingEndpointConfigurer.java
  components/camel-jing/src/generated/java/org/apache/camel/component/validator/jing/JingEndpointUriFactory.java
  components/camel-jing/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-jing/src/generated/resources/META-INF/services/org/apache/camel/component/jing
  components/camel-jing/src/generated/resources/META-INF/services/org/apache/camel/configurer/jing-component
  components/camel-jing/src/generated/resources/META-INF/services/org/apache/camel/configurer/jing-endpoint
  components/camel-jing/src/generated/resources/META-INF/services/org/apache/camel/urifactory/jing-endpoint
  components/camel-jing/src/generated/resources/org/apache/camel/component/validator/jing/jing.json
  components/camel-jing/src/main/docs/jing-component.adoc
  components/camel-jing/src/main/java/org/apache/camel/component/validator/jing/JingComponent.java
  components/camel-jing/src/main/java/org/apache/camel/component/validator/jing/JingEndpoint.java
  components/camel-jing/src/main/java/org/apache/camel/component/validator/jing/JingValidator.java
  components/camel-jing/src/test/java/org/apache/camel/component/validator/jing/RNCRouteTest.java
  components/camel-jing/src/test/java/org/apache/camel/component/validator/jing/RNGRouteTest.java
  components/camel-jing/src/test/resources/log4j2.properties
  components/camel-jing/src/test/resources/org/apache/camel/component/validator/jing/rnc-context.xml
  components/camel-jing/src/test/resources/org/apache/camel/component/validator/jing/rng-context.xml
  components/camel-jing/src/test/resources/org/apache/camel/component/validator/jing/schema.rnc
  components/camel-jing/src/test/resources/org/apache/camel/component/validator/jing/schema.rng
  components/camel-msv/src/main/docs/msv-component.adoc
  components/camel-validator/src/main/docs/validator-component.adoc
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/jing.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/jing-component.adoc
  docs/user-manual/modules/ROOT/pages/exception-clause.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JingComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JingEndpointBuilderFactory.java
  parent/pom.xml
Labels: components, core, catalog, docs, dsl

#7348 CAMEL-17879: remove deprecated component camel-msv
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/msv.json
  components/camel-msv/pom.xml
  components/camel-msv/src/generated/java/org/apache/camel/component/validator/msv/MsvComponentConfigurer.java
  components/camel-msv/src/generated/java/org/apache/camel/component/validator/msv/MsvEndpointConfigurer.java
  components/camel-msv/src/generated/java/org/apache/camel/component/validator/msv/MsvEndpointUriFactory.java
  components/camel-msv/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-msv/src/generated/resources/META-INF/services/org/apache/camel/component/msv
  components/camel-msv/src/generated/resources/META-INF/services/org/apache/camel/configurer/msv-component
  components/camel-msv/src/generated/resources/META-INF/services/org/apache/camel/configurer/msv-endpoint
  components/camel-msv/src/generated/resources/META-INF/services/org/apache/camel/urifactory/msv-endpoint
  components/camel-msv/src/generated/resources/org/apache/camel/component/validator/msv/msv.json
  components/camel-msv/src/main/docs/msv-component.adoc
  components/camel-msv/src/main/java/org/apache/camel/component/validator/msv/MsvComponent.java
  components/camel-msv/src/main/java/org/apache/camel/component/validator/msv/MsvEndpoint.java
  components/camel-msv/src/test/java/org/apache/camel/component/validator/msv/RelaxNGRouteTest.java
  components/camel-msv/src/test/resources/META-INF/services/org/apache/camel/component/rng
  components/camel-msv/src/test/resources/log4j2.properties
  components/camel-msv/src/test/resources/org/apache/camel/component/validator/msv/camelContext.xml
  components/camel-msv/src/test/resources/org/apache/camel/component/validator/msv/schema.rng
  components/camel-validator/src/main/docs/validator-component.adoc
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/msv.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/msv-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MsvComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  parent/pom.xml
Labels: components, core, catalog, docs, dsl

#7343 "CAMEL-17091:Debezium 1.7.0 - DB2 Connector"
  components/camel-debezium/camel-debezium-db2/pom.xml
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2ComponentConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointUriFactory.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-db2/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-debezium/camel-debezium-db2/src/generated/resources/META-INF/services/org/apache/camel/component/debezium-db2
  components/camel-debezium/camel-debezium-db2/src/generated/resources/META-INF/services/org/apache/camel/configurer/debezium-db2-component
  components/camel-debezium/camel-debezium-db2/src/generated/resources/META-INF/services/org/apache/camel/configurer/debezium-db2-endpoint
  components/camel-debezium/camel-debezium-db2/src/generated/resources/META-INF/services/org/apache/camel/urifactory/debezium-db2-endpoint
  components/camel-debezium/camel-debezium-db2/src/generated/resources/org/apache/camel/component/debezium/debezium-db2.json
  components/camel-debezium/camel-debezium-db2/src/main/docs/debezium-db2-component.adoc
  components/camel-debezium/camel-debezium-db2/src/main/java/org/apache/camel/component/debezium/DebeziumDb2Component.java
  components/camel-debezium/camel-debezium-db2/src/main/java/org/apache/camel/component/debezium/DebeziumDb2Endpoint.java
  components/camel-debezium/camel-debezium-db2/src/test/java/org/apache/camel/component/debezium/DebeziumDb2ComponentTest.java
  components/camel-debezium/camel-debezium-db2/src/test/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-db2/src/test/resources/log4j2.properties
  components/camel-debezium/pom.xml
Labels: components

#7352 CAMEL-17879: remove camel-ribbon leftover
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/ribbonLoadBalancer.json
Labels: catalog

#7354 CAMEL-17792: Add documentation about the message headers (R)
  components/camel-rabbitmq/src/generated/resources/org/apache/camel/component/rabbitmq/rabbitmq.json
  components/camel-rabbitmq/src/main/docs/rabbitmq-component.adoc
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQConstants.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQEndpoint.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQMessageConverter.java
  components/camel-reactive-streams/src/generated/resources/org/apache/camel/component/reactive/streams/reactive-streams.json
  components/camel-reactive-streams/src/main/docs/reactive-streams-component.adoc
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/ReactiveStreamsConstants.java
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/ReactiveStreamsEndpoint.java
  components/camel-rest/src/generated/resources/org/apache/camel/component/rest/rest.json
  components/camel-rest/src/main/docs/rest-component.adoc
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestConstants.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestEndpoint.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestProducer.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestProducerBindingProcessor.java
  components/camel-resteasy/src/generated/resources/org/apache/camel/component/resteasy/resteasy.json
  components/camel-resteasy/src/main/docs/resteasy-component.adoc
  components/camel-resteasy/src/main/java/org/apache/camel/component/resteasy/ResteasyConstants.java
  components/camel-resteasy/src/main/java/org/apache/camel/component/resteasy/ResteasyEndpoint.java
  components/camel-resteasy/src/main/java/org/apache/camel/component/resteasy/ResteasyProducer.java
  components/camel-resteasy/src/main/java/org/apache/camel/component/resteasy/servlet/ResteasyCamelServlet.java
  components/camel-robotframework/src/generated/resources/org/apache/camel/component/robotframework/robotframework.json
  components/camel-robotframework/src/main/docs/robotframework-component.adoc
  components/camel-robotframework/src/main/java/org/apache/camel/component/robotframework/RobotFrameworkCamelConstants.java
  components/camel-robotframework/src/main/java/org/apache/camel/component/robotframework/RobotFrameworkEndpoint.java
  components/camel-rss/src/generated/resources/org/apache/camel/component/rss/rss.json
  components/camel-rss/src/main/docs/rss-component.adoc
  components/camel-rss/src/main/java/org/apache/camel/component/rss/RssConstants.java
  components/camel-rss/src/main/java/org/apache/camel/component/rss/RssEndpoint.java
Labels: components

#7336 CAMEL-17885 camel google bigquery: Allow to read service account key file from resolver
  components/camel-google/camel-google-bigquery/src/generated/java/org/apache/camel/component/google/bigquery/GoogleBigQueryEndpointConfigurer.java
  components/camel-google/camel-google-bigquery/src/generated/java/org/apache/camel/component/google/bigquery/GoogleBigQueryEndpointUriFactory.java
  components/camel-google/camel-google-bigquery/src/generated/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLEndpointConfigurer.java
  components/camel-google/camel-google-bigquery/src/generated/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLEndpointUriFactory.java
  components/camel-google/camel-google-bigquery/src/generated/resources/org/apache/camel/component/google/bigquery/google-bigquery.json
  components/camel-google/camel-google-bigquery/src/generated/resources/org/apache/camel/component/google/bigquery/sql/google-bigquery-sql.json
  components/camel-google/camel-google-bigquery/src/main/docs/google-bigquery-component.adoc
  components/camel-google/camel-google-bigquery/src/main/docs/google-bigquery-sql-component.adoc
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryComponent.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryConfiguration.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryConnectionFactory.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryEndpoint.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLComponent.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLConfiguration.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLEndpoint.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLProducer.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/integration/BigQueryITSupport.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/unit/sql/GoogleBigQuerySQLProducerBaseTest.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/unit/sql/GoogleBigQuerySQLProducerWithParamersTest.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/unit/sql/GoogleBigQuerySQLProducerWithPatternTest.java
  components/camel-google/camel-google-bigquery/src/test/resources/log4j.properties
  components/camel-google/camel-google-bigquery/src/test/resources/simple.properties
Labels: components

#7371 CAMEL-17763: cleanup unused exceptions in camel-stax
  components/camel-stax/src/test/java/org/apache/camel/component/stax/IssueWithWrongEncodingTest.java
  components/camel-stax/src/test/java/org/apache/camel/component/stax/StAXComponentRefTest.java
  components/camel-stax/src/test/java/org/apache/camel/component/stax/StAXComponentTest.java
  components/camel-stax/src/test/java/org/apache/camel/component/stax/StAXJAXBIteratorExpressionTest.java
  components/camel-stax/src/test/java/org/apache/camel/component/stax/StAXXPathSplitChoicePerformanceTest.java
Labels: components

#7375 CAMEL-17879: added documentation about components that were removed
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_17.adoc
Labels: docs

#7377 CAMEL-17615: Ensure Kafka SSL configuration is applied for SASL_SSL protocol
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka

#7378 CAMEL-17916: Make BeanInfo handle Quarkus Arc Client Proxy generated classes
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
Labels: components

#7376 CAMEL-17897: camel-exec - add exitValues parameter
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/exec.json
  components/camel-exec/src/generated/java/org/apache/camel/component/exec/ExecEndpointConfigurer.java
  components/camel-exec/src/generated/java/org/apache/camel/component/exec/ExecEndpointUriFactory.java
  components/camel-exec/src/generated/resources/org/apache/camel/component/exec/exec.json
  components/camel-exec/src/main/java/org/apache/camel/component/exec/ExecBinding.java
  components/camel-exec/src/main/java/org/apache/camel/component/exec/ExecCommand.java
  components/camel-exec/src/main/java/org/apache/camel/component/exec/ExecEndpoint.java
  components/camel-exec/src/main/java/org/apache/camel/component/exec/impl/DefaultExecBinding.java
  components/camel-exec/src/main/java/org/apache/camel/component/exec/impl/DefaultExecCommandExecutor.java
  components/camel-exec/src/main/java/org/apache/camel/component/exec/impl/ExecParseUtils.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/ExecEndpointTest.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/ExecProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ExecEndpointBuilderFactory.java
Labels: components, catalog, dsl

#7381 CAMEL-17917 Add missing sample code to camel-mail docs
  components/camel-mail/src/main/docs/mail-component.adoc
Labels: components

#7382 CAMEL-17918: Define the header name provider in case the headers class is an enum
  core/camel-api/src/generated/java/org/apache/camel/spi/UriEndpoint.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojoTest.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeEndpointUsingEnumConstantsByField.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeEndpointUsingEnumConstantsByMethod.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeEnumConstantsByField.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/endpoint/SomeEnumConstantsByMethod.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/UriEndpoint.java
Labels: core, tooling, tooling-maven

#7383 CAMEL-17792: Add doc about the message headers of camel-gora
  components/camel-gora/src/generated/resources/org/apache/camel/component/gora/gora.json
  components/camel-gora/src/main/docs/gora-component.adoc
  components/camel-gora/src/main/java/org/apache/camel/component/gora/GoraAttribute.java
  components/camel-gora/src/main/java/org/apache/camel/component/gora/GoraEndpoint.java
Labels: components

#7385 CAMEL-17922: Fix default value supplier for header MIX_DIGEST
  components/camel-web3j/src/main/java/org/apache/camel/component/web3j/Web3jProducer.java
Labels: components

#7388 (chores) Fixed a typo in the javadoc comment
  core/camel-api/src/main/java/org/apache/camel/spi/ExceptionHandler.java
Labels: core

#7395 CAMEL-17879: remove camel-etcd leftovers
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/EtcdKeysEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/EtcdStatsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/EtcdWatchEndpointBuilderFactory.java
Labels: dsl

#7398 Fix typos in Contributing guide
  CONTRIBUTING.md
Labels: docs

#7399 Fix typo optimistick -> optimistic
  components/camel-sql/src/main/docs/sql-component.adoc
Labels: components

#7401 CAMEL-17923: Add the name of the constant to the header model
  core/camel-api/src/generated/java/org/apache/camel/spi/UriEndpoint.java
  docs/components/modules/ROOT/examples/js/camel.js
  docs/components/modules/ROOT/partials/component-endpoint-headers.adoc
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/ComponentModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/JsonMapper.java
  tooling/camel-tooling-model/src/test/java/org/apache/camel/tooling/model/JsonMapperTest.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/test/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojoTest.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/UriEndpoint.java
Labels: core, docs, tooling, tooling-maven

#7408 Fix ZooKeeper link
  components/camel-zookeeper/src/main/docs/zookeeper-component.adoc
Labels: components

#7400 CAMEL-17934: Provide a `ClassLoder` to `CqlSessionBuilder` if available
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/CassandraEndpoint.java
Labels: components

#7416 CAMEL-17940: Fixes bug in camel-quartz component
  components/camel-quartz/src/main/java/org/apache/camel/pollconsumer/quartz/QuartzScheduledPollConsumerScheduler.java
Labels: components

#7420 CAMEL-17948: Force waiting before checking the asserts of the mock
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components

#7430 CAMEL-17948: Wait for completion on reset
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components

#7431 CAMEL-17763: cleaned up unused exceptions in test code (nats)
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsAuthConsumerLoadIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsAuthProducerIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsAuthTokenConsumerLoadIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsAuthTokenProducerIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerHeadersSupportIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerLoadIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerMaxMessagesIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerMaxMessagesQueueIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerReplyToIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerWithConnectionLoadIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerWithRedeliveryIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsProducerIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsProducerReplyToIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsProducerReplyToTimeoutIT.java
Labels: components

#7437 CAMEL-17961: Re-add the JS file for the documentation
  docs/components/modules/ROOT/examples/js/camel.js
  docs/gulpfile.js
Labels: docs

#7440 CAMEL-17962: cleanup duplicated charset features in camel-netty
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyConverter.java
Labels: components

#7443 CAMEL-17952: Fix Hazelcast unstable tests
  components/camel-hazelcast/src/test/java/org/apache/camel/component/hazelcast/HazelcastQueueConsumerPollTest.java
  components/camel-hazelcast/src/test/java/org/apache/camel/component/hazelcast/HazelcastQueueConsumerTest.java
Labels: components

#7448 CAMEL-17948: Fix regression in WsProducerConsumerTest
  components/camel-ahc-ws/src/test/java/org/apache/camel/component/ahc/ws/WsProducerConsumerTest.java
Labels: components

#7384 CAMEL-17921: Fix misspelled Hazelcast operations
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/atomicnumber/hazelcast-atomicvalue.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/instance/hazelcast-instance.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/list/hazelcast-list.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/map/hazelcast-map.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/multimap/hazelcast-multimap.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/queue/hazelcast-queue.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/replicatedmap/hazelcast-replicatedmap.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/ringbuffer/hazelcast-ringbuffer.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/seda/hazelcast-seda.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/set/hazelcast-set.json
  components/camel-hazelcast/src/generated/resources/org/apache/camel/component/hazelcast/topic/hazelcast-topic.json
  components/camel-hazelcast/src/main/java/org/apache/camel/component/hazelcast/HazelcastOperation.java
Labels: components

#7452 CAMEL-17894: minor cleanups to the build plugins
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
Labels: tooling, tooling-maven

#7458 CAMEL-17879: re-added documentation about components that were removed
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_17.adoc
Labels: docs

#7459 CAMEL-17894: simplify building the data buffer by reading all file data at once
  tooling/maven/camel-api-component-maven-plugin/src/main/java/org/apache/camel/maven/JavaSourceApiMethodGeneratorMojo.java
  tooling/maven/camel-api-component-maven-plugin/src/main/java/org/apache/camel/maven/JavaSourceParser.java
Labels: tooling, tooling-maven

#7461 CAMEL-17984 Camel-jbang REST DSL generator
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeGenerator.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
  dsl/camel-jbang/camel-jbang-main/examples/open-api.json
Labels: dsl

#7460 CAMEL-17894: minor jaxb plugin cleanups
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageJaxbMojo.java
Labels: tooling, tooling-maven

#7464 Fix CAMEL-17989
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslYamlGenerator.java
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreSimpleYaml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreWithRestComponentYaml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreYaml.txt
Labels: tooling

#7463 CAMEL-17985: fixed support for "ref:" scheme in ResourceHelper
  core/camel-core/src/test/java/org/apache/camel/util/ResourceHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ResourceHelper.java
Labels: core

#7466 [CAMEL-17990] missing InputStream delegates for 3.14.x
  core/camel-support/src/main/java/org/apache/camel/converter/stream/FileInputStreamCache.java
Labels: components, components-kafka, catalog, tooling-maven, components-aws, components-azure, components-jms

#7465 [CAMEL-17990] implement Java 8 and java 11 missing InputStream delegates
  core/camel-support/src/main/java/org/apache/camel/converter/stream/FileInputStreamCache.java
Labels: core

#7469 CAMEL-17985: added unit test for XsltUriResolver using ref: scheme
  core/camel-core/src/test/java/org/apache/camel/builder/xml/XsltUriResolverTest.java
Labels: core

#7473 CAMEL-17894: read all file data at once to avoid costlier buffer building in Roster class
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SchemaGeneratorMojo.java
Labels: tooling, tooling-maven

#7475 CAMEL-17051: the consumer should commit when a pausable error happens
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
Labels: components, components-kafka

#7477 CAMEL-17995. REST DSL YAML Generator should optionally generate routes
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslYamlGenerator.java
  tooling/openapi-rest-dsl-generator/src/test/java/org/apache/camel/generator/openapi/RestDslYamlGeneratorV3SimpleWithRoutesTest.java
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreSimpleWithRoutesYaml.txt
Labels: tooling

#7479 CAMEL-17996: Handle empty property values in CamelMicroProfilePropertiesSource
  components/camel-microprofile/camel-microprofile-config/src/main/java/org/apache/camel/component/microprofile/config/CamelMicroProfilePropertiesSource.java
  components/camel-microprofile/camel-microprofile-config/src/test/java/org/apache/camel/component/microprofile/config/CamelMicroProfilePropertiesSourceTest.java
Labels: components

#7474 CAMEL-17051: added a test and documentation for pausable along with circuit breaker EIP
  components/camel-kafka/pom.xml
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/pause/KafkaPausableConsumerCircuitBreakerIT.java
  core/camel-core-engine/src/main/docs/modules/eips/pages/resume-strategies.adoc
Labels: components, components-kafka, core

#7482 CAMEL-18001. Support route generation from OpenAPi in jbang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
Labels: dsl

#7484 CAMEL-17894: avoid compiling the regex everytime
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointDslMojo.java
Labels: tooling, tooling-maven

#7488 CAMEL-18006. camel-jbang package image command
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Image.java
  parent/pom.xml
Labels: dsl

#7489 CAMEL-18008. camel-jbang deploy/undeploy command
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Build.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Deploy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Image.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Resource.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Undeploy.java
Labels: dsl

#7487 CAMEL-17963: added resume support for Cassandra CQL
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/CassandraConsumer.java
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/consumer/support/CassandraResumeStrategy.java
  components/camel-cassandraql/src/test/java/org/apache/camel/component/cassandra/integration/CassandraComponentResumeStrategyIT.java
  core/camel-core-engine/src/main/docs/modules/eips/pages/resume-strategies.adoc
Labels: components, core

#7494 CAMEL-17613: Race condition in AggregateProcessor with Jdbc Repository
  components/camel-sql/pom.xml
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepository.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcRemoveConfirmOrderAggregateTest.java
  components/camel-sql/src/test/resources/org/apache/camel/processor/aggregate/jdbc/JdbcSpringDataSource.xml
  core/camel-api/src/main/java/org/apache/camel/spi/RecoverableAggregationRepository.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateProcessor.java
Labels: components, core

#7491 CAMEL-17963: added resume support for Couchbase
  components/camel-couchbase/pom.xml
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/CouchbaseConsumer.java
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/CouchbaseResumeStrategy.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeResumeStrategyIT.java
  core/camel-core-engine/src/main/docs/modules/eips/pages/resume-strategies.adoc
Labels: components, core

#7499 CAMEL-17992: don't overwrite ssl from configuration with uri
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyConfiguration.java
Labels: components

#7497 Doc fix: Update code examples to correctly use advice argument
  docs/user-manual/modules/ROOT/pages/advice-with.adoc
Labels: docs

#7500 CAMEL-18016: Add parameters to mojo invocation
  tooling/maven/camel-component-maven-plugin/src/main/java/org/apache/camel/maven/component/GenerateComponentMojo.java
Labels: tooling, tooling-maven

#7501 CAMEL-17832: camel-grpc - Upgrade to Netty 4.1.76
  components/camel-grpc/pom.xml
Labels: components

#7498 CAMEL-17931: Re-declare _id as an header of Camel MongoDB
  components/camel-mongodb/src/generated/resources/org/apache/camel/component/mongodb/mongodb.json
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbConstants.java
Labels: components

#7502 CAMEL-18003: fix incorrect concurrent access to the Kafka consumer
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#7454 CAMEL-15016 support kafka transactions
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaTransactionIT.java
Labels: components, components-kafka, core

#7510 CAMEL-18008. camel-jbang deploy/undeploy command for openshift
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Deploy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Image.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Manifest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Resource.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Undeploy.java
Labels: dsl

#7506 CAMEL-18021: camel-debezium - Support default value for lists
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/src/main/java/org/apache/camel/maven/config/ConnectorConfigField.java
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/src/main/java/org/apache/camel/maven/config/ConnectorConfigFieldsFactory.java
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/src/main/java/org/apache/camel/maven/config/ConnectorConfigGenerator.java
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/src/test/java/org/apache/camel/maven/config/ConnectorConfigFieldTest.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-db2/src/generated/resources/org/apache/camel/component/debezium/debezium-db2.json
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/configuration/MySqlConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mysql/src/generated/resources/org/apache/camel/component/debezium/debezium-mysql.json
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/org/apache/camel/component/debezium/debezium-oracle.json
Labels: components

#7503 CAMEL-18019: ensure some fields in the Kafka record fetcher are safe for concurrent read
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumerHealthCheck.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/TaskHealthState.java
Labels: components, components-kafka

#7509 Add default constraint creation; improve docs
  components/camel-sql/src/main/docs/sql-component.adoc
  components/camel-sql/src/main/java/org/apache/camel/processor/idempotent/jdbc/JdbcMessageIdRepository.java
Labels: components

#7508 CAMEL-17950: camel-debezium - Upgrade to 1.9
  camel-dependencies/pom.xml
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2ComponentConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointUriFactory.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-db2/src/generated/resources/org/apache/camel/component/debezium/debezium-db2.json
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbComponentConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/configuration/MongoDbConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/resources/org/apache/camel/component/debezium/debezium-mongodb.json
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlComponentConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/configuration/MySqlConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mysql/src/generated/resources/org/apache/camel/component/debezium/debezium-mysql.json
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleComponentConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointUriFactory.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/org/apache/camel/component/debezium/debezium-oracle.json
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresComponentConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointUriFactory.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/configuration/PostgresConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-postgres/src/generated/resources/org/apache/camel/component/debezium/debezium-postgres.json
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverComponentConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointUriFactory.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/configuration/SqlServerConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/resources/org/apache/camel/component/debezium/debezium-sqlserver.json
  parent/pom.xml
Labels: components

#7514 CAMEL-17537: camel-djl - Upgrade to 0.16.0
  camel-dependencies/pom.xml
  components/camel-djl/src/test/java/org/apache/camel/component/djl/training/MnistTraining.java
  parent/pom.xml
Labels: components

#7511 CAMEL-18023. camel-jbang command options from application.properties
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/PropertiesHelper.java
Labels: dsl

#7519 chore : add a a special hapi-base-version so different versions of hapi-base and hapi-structures can be used
  components/camel-hl7/pom.xml
  parent/pom.xml
Labels: components

#7522 (chores) fix checkstyle in camel-jbang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Version.java
Labels: dsl

#7523 (chores) camel-kafka: fix flaky idempotent test
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryPersistenceIT.java
Labels: components, components-kafka

#7521 CAMEL-18020: fix a possible NPE due to uninitialized consumer in poll exception strategies
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/KafkaErrorStrategies.java
Labels: components, components-kafka
