Repository apache/camel, pull requests merged in 2022-07, with the labels that each got.

#7960 CAMEL-18237: fix camel health integration test
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerHealthCheckIT.java
Labels: components, components-kafka

#7964 CAMEL-18253: prevent the code from reporting an invalid number of duplicates
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryEagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryNonEagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryPersistenceIT.java
Labels: components, components-kafka

#7967 CAMEL-18252: Add exception to exchange as property CamelExceptionCaught
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionBridgeErrorHandler.java
  core/camel-support/src/main/java/org/apache/camel/support/BridgeExceptionHandlerToErrorHandler.java
Labels: core

#7974 camel-jaxb: Tidy up docs. Fix typos, wording and out of date links
  components/camel-jaxb/src/main/docs/jaxb-dataformat.adoc
Labels: components

#7971 (chores) camel-support: removed redundant conditions
  core/camel-support/src/main/java/org/apache/camel/support/ObjectHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/TokenXMLExpressionIterator.java
  core/camel-support/src/main/java/org/apache/camel/support/management/MixinRequiredModelMBean.java
Labels: core

#7977 (chores) camel-support: a few more minor cleanups
  core/camel-support/src/main/java/org/apache/camel/support/IntrospectionSupport.java
Labels: core

#7979 (chores) removed unused imports
  components/camel-activemq/src/main/java/org/apache/camel/component/activemq/ActiveMQQueueEndpoint.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerPropertiesFunction.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamComponentVerifierExtension.java
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/CamelOutputStream.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsQueueEndpoint.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpConfiguration.java
  core/camel-api/src/main/java/org/apache/camel/spi/PackageScanClassResolver.java
  dsl/camel-dsl-support/src/main/java/org/apache/camel/dsl/support/RouteBuilderLoaderSupport.java
Labels: components, core, dsl, components-aws, components-jms

#7982 CAMEL-18237: fix incorrect round-to-zero
  core/camel-core-model/src/main/java/org/apache/camel/model/ResequenceDefinition.java
Labels: core

#7985 Update camel-3x-upgrade-guide.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide.adoc
Labels: docs

#7983 (chores) camel-core: fix misleading test failure messages
  core/camel-core/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  core/camel-core/src/generated/resources/core.json
  core/camel-core/src/test/java/org/apache/camel/builder/ExceptionBuilderTest.java
Labels: core

#7984 (chores) camel-util: cleanup exception tests
  core/camel-util/src/test/java/org/apache/camel/util/URISupportTest.java
  core/camel-util/src/test/java/org/apache/camel/util/concurrent/SizedScheduledExecutorServiceTest.java
Labels: core

#7981 CAMEL-18258 Enhancement to camel splunk component
  components/camel-splunk-hec/src/generated/resources/org/apache/camel/component/splunkhec/splunk-hec.json
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECConfiguration.java
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECEndpoint.java
  components/camel-splunk/src/generated/java/org/apache/camel/component/splunk/SplunkEndpointConfigurer.java
  components/camel-splunk/src/generated/java/org/apache/camel/component/splunk/SplunkEndpointUriFactory.java
  components/camel-splunk/src/generated/resources/org/apache/camel/component/splunk/splunk.json
  components/camel-splunk/src/main/docs/splunk-component.adoc
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/DefaultSplunkConfigurationFactory.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkConfiguration.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkConnectionFactory.java
  components/camel-splunk/src/test/java/org/apache/camel/component/splunk/SplunkComponentConfigurationTest.java
Labels: components

#7989 (chores) camel-ftp: minor FtpConsumer cleanup
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpConsumer.java
Labels: components

#7991 CAMEL-18260: debugger - Reflect exchange changes on BacklogTracerEventMessage
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogDebugger.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogDebuggerTest.java
Labels: core

#7994 CAMEL-18260: debugger - Reflect exchange changes on BacklogTracerEventMessage
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogDebugger.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogDebuggerTest.java
Labels: core

#7996 CAMEL-18263: Fix tests of BacklogDebuggerTest failing on Java 17
  core/camel-management/pom.xml
Labels: core

#7997 Update camel-restdsl-openapi-plugin.adoc to fix an inconsistent number of columns.
  tooling/maven/camel-restdsl-openapi-plugin/src/main/docs/camel-restdsl-openapi-plugin.adoc
Labels: tooling, tooling-maven

#8000 CAMEL-18266 - camel-support: add bean in schema checking
  core/camel-support/src/main/java/org/apache/camel/support/ResourceHelper.java
Labels: core

#8006 CAMEL-18170 - Renaming keyResource -> serviceAccountKey
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-mail-stream.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-sheets-stream.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-sheets.json
  components/camel-google/camel-google-calendar/src/main/docs/google-calendar-component.adoc
  components/camel-google/camel-google-calendar/src/main/docs/google-calendar-stream-component.adoc
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/BatchGoogleCalendarClientFactory.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/GoogleCalendarComponent.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/stream/GoogleCalendarStreamComponent.java
  components/camel-google/camel-google-drive/src/main/docs/google-drive-component.adoc
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/BatchGoogleDriveClientFactory.java
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/GoogleDriveComponent.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/stream/GoogleMailStreamComponentConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/stream/GoogleMailStreamEndpointConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/stream/GoogleMailStreamEndpointUriFactory.java
  components/camel-google/camel-google-mail/src/generated/resources/org/apache/camel/component/google/mail/stream/google-mail-stream.json
  components/camel-google/camel-google-mail/src/main/docs/google-mail-component.adoc
  components/camel-google/camel-google-mail/src/main/docs/google-mail-stream-component.adoc
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/BatchGoogleMailClientFactory.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/GoogleMailComponent.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/stream/GoogleMailStreamComponent.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/stream/GoogleMailStreamConfiguration.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/GoogleSheetsComponentConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/GoogleSheetsConfigurationConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/GoogleSheetsEndpointConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/GoogleSheetsEndpointUriFactory.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/SheetsSpreadsheetsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/SheetsSpreadsheetsValuesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamComponentConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamEndpointConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamEndpointUriFactory.java
  components/camel-google/camel-google-sheets/src/generated/resources/org/apache/camel/component/google/sheets/google-sheets.json
  components/camel-google/camel-google-sheets/src/generated/resources/org/apache/camel/component/google/sheets/stream/google-sheets-stream.json
  components/camel-google/camel-google-sheets/src/main/docs/google-sheets-component.adoc
  components/camel-google/camel-google-sheets/src/main/docs/google-sheets-stream-component.adoc
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/BatchGoogleSheetsClientFactory.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsClientFactory.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsComponent.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsConfiguration.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamComponent.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamConfiguration.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/AbstractGoogleSheetsTestSupport.java
  components/camel-google/camel-google-sheets/src/test/resources/test-options.properties
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/GoogleMailStreamComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/GoogleSheetsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/GoogleSheetsStreamComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleMailStreamEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleSheetsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleSheetsStreamEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8016 ✅ [CAMEL-18281] Fix failing aws test
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgeDeleteRuleIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/integration/SqsProducerSendByteArrayLocalstackIT.java
Labels: components, components-aws

#8017 💄 [CAMEL-18282] Fix checkstyle errors
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultPropertiesFunction.java
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultPropertiesFunction.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
Labels: components, core, components-azure

#8018 [CAMEL-18283] Upgrade Camel to 3.18.0 by default for Camel JBang
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl

#8014 📝 Add aws ddb examples
  components/camel-aws/camel-aws2-ddb/src/main/docs/aws2-ddb-component.adoc
Labels: components, components-aws

#8027 Polish clustering docs
  docs/user-manual/modules/ROOT/pages/clustering.adoc
Labels: docs

#8025 ✅ [CAMEL-18295] Restore couchbase IT tests
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseLocalContainerService.java
Labels: test-infra

#8020 CAMEL-18291: SSLContextParameters parsePropertyValue support for cert…
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextParameters.java
Labels: core

#8013 CAMEL-18278: Get outputs from last abstract parent
  components/camel-test/camel-test-spring-junit5/src/test/java/org/apache/camel/test/issues/AdviceWithOnExceptionTransacted.java
  components/camel-test/camel-test-spring-junit5/src/test/resources/org/apache/camel/test/issues/AdviceWithOnExceptionTransacted.xml
  core/camel-core-model/src/main/java/org/apache/camel/builder/AdviceWithTasks.java
Labels: components, core

#8028 CAMEL-17760: consolidate copy-exchange-if-capable logic
  components/camel-github/src/main/java/org/apache/camel/component/github/producer/ClosePullRequestProducer.java
  components/camel-github/src/main/java/org/apache/camel/component/github/producer/PullRequestCommentProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddIssueProducer.java
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubProducer.java
  components/camel-twitter/src/main/java/org/apache/camel/component/twitter/timeline/UserProducer.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
Labels: components, core

#8019 [CAMEL-18285] Lazy-loading for file length and last modified attributes
  components/camel-file/src/main/java/org/apache/camel/component/file/FileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFile.java
Labels: components

#7995 CAMEL-18262 - Fixing the Template issue
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core/src/test/java/org/apache/camel/model/RouteConfigurationOnExceptionTest.java
Labels: core

#8029 (chores) camel-smpp: remove duplicated result message logic
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/AbstractSmppCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppCancelSmCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppDataSmCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppQuerySmCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppReplaceSmCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppSubmitMultiCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppSubmitSmCommand.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/AbstractSmppCommandTest.java
Labels: components

#8023 CAMEL-18292: Addresses ujson.IncompleteParseException: exhausted input error when …
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetExpression.java
  components/camel-datasonnet/src/test/resources/org/apache/camel/language.datasonnet/camel-context.xml
Labels: components

#8035 (chores) ci: fixes invalid log instantiation
  dsl/camel-endpointdsl/pom.xml
Labels: dsl

#8038 CAMEL-18289: camel-core - fix exchange before sending it when submit …
  components/camel-xslt-saxon/src/test/java/org/apache/camel/component/xslt/saxon/XsltAggregationStrategyTest.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateProcessor.java
Labels: components, core

#8042 CAMEL-18300: camel-google-storage - Content-Type and other headers sh…
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageProducer.java
Labels: components

#8047 Fix error message
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/name/ServiceInterfaceStrategy.java
Labels: components

#8051 Fix potential NPE in Kafka health checks
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumerHealthCheck.java
  components/camel-microprofile/camel-microprofile-health/src/main/java/org/apache/camel/microprofile/health/CamelMicroProfileHealthHelper.java
Labels: components, components-kafka

#8052 Fix layout for list in doc page for debugger
  docs/user-manual/modules/ROOT/pages/debugger.adoc
Labels: docs

#8046 CAMEL-18152: implement auto-configuration for the adapters
  components/camel-atom/src/generated/resources/META-INF/services/org/apache/camel/adapter-factory
  components/camel-atom/src/generated/resources/META-INF/services/org/apache/camel/atom-adapter-factory
  components/camel-atom/src/main/java/org/apache/camel/component/atom/UpdatedDateFilter.java
  components/camel-atom/src/main/java/org/apache/camel/component/feed/FeedEntryPollingConsumer.java
  components/camel-atom/src/main/resources/org/apache/camel/resume/Adapter
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/services/org/apache/camel/adapter-factory
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/consumer/KinesisDefaultResumeAdapter.java
  components/camel-aws/camel-aws2-kinesis/src/main/resources/org/apache/camel/resume/Adapter
  components/camel-cassandraql/src/main/resources/org/apache/camel/resume/Adapter
  components/camel-couchbase/src/main/resources/org/apache/camel/resume/Adapter
  components/camel-couchdb/src/main/resources/org/apache/camel/resume/Adapter
  components/camel-file/src/generated/resources/META-INF/services/org/apache/camel/file-adapter-factory
  components/camel-file/src/main/java/org/apache/camel/component/file/FileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/FileResumeAdapterDelegate.java
  components/camel-file/src/main/resources/org/apache/camel/resume/Adapter
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterConsumer.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeAdapter.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeAware.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
  core/camel-support/src/generated/resources/META-INF/services/org/apache/camel/adapter-factory
  core/camel-support/src/main/java/org/apache/camel/support/resume/AdapterHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/ResumeActionAwareAdapter.java
Labels: components, core, components-aws

#8057 CAMEL-18310: (bug) Global SSL Context Params Force SSL for All HTTP C…
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
Labels: components

#8061 (chores) camel-mina: cleaned up duplicated code
  components/camel-mina/src/main/java/org/apache/camel/component/mina/MinaConsumer.java
Labels: components

#8062 (chores) http components: consolidate placeholder eval logic
  components/camel-http-base/pom.xml
  components/camel-http-base/src/main/java/org/apache/camel/http/base/HttpHelper.java
  components/camel-http-base/src/test/java/org/apache/camel/http/base/HttpHelperTest.java
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/JettyRestHttpBinding.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/RestNettyHttpBinding.java
  components/camel-servlet/src/main/java/org/apache/camel/component/servlet/ServletRestHttpBinding.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/RestUndertowHttpBinding.java
Labels: components

#8070 CAMEL-18232: camel-jpa - Introduce the TransactionStrategy
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaComponentConfigurer.java
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/DefaultTransactionStrategy.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaComponent.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaPollingConsumer.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/TransactionStrategy.java
Labels: components

#8073 (chores) camel-cxf: avoid shadowing variables
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsProducer.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfConsumer.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfProducer.java
  components/camel-cxf/camel-cxf-spring-soap/src/main/java/org/apache/camel/component/cxf/spring/jaxws/CxfSpringEndpoint.java
Labels: components

#8071 CAMEL-18237: fix incorrect round-to-zero
  core/camel-core-model/src/main/java/org/apache/camel/model/ResequenceDefinition.java
Labels: core

#8077 [CAMEL-18264] allow to configure JSch server keys settings
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sftp.json
  components/camel-ftp/src/generated/java/org/apache/camel/component/file/remote/SftpEndpointConfigurer.java
  components/camel-ftp/src/generated/java/org/apache/camel/component/file/remote/SftpEndpointUriFactory.java
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/sftp.json
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpConfiguration.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpOperations.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/SftpPublicKeyAcceptedAlgorithmsIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/SftpServerHostKeysIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SftpEndpointBuilderFactory.java
Labels: components, catalog, dsl
