Repository apache/camel, pull requests merged in 2022-08, with the labels that each got.

#8082 CAMEL-18323: camel-jpa - Replace to use TransactionStrategy in JpaCon…
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaConsumer.java
Labels: components

#8085 Fix typo YAML DS -> YAML DSL in doc
  core/camel-core-engine/src/main/docs/modules/eips/pages/choice-eip.adoc
Labels: core

#8087 (chores) camel-endpointdsl: use unique data directory for tests
  dsl/camel-endpointdsl/src/test/java/org/apache/camel/builder/endpoint/BaseEndpointDslTest.java
  dsl/camel-endpointdsl/src/test/java/org/apache/camel/builder/endpoint/DumpRoutesTest.java
  dsl/camel-endpointdsl/src/test/java/org/apache/camel/builder/endpoint/FileConsumeCharsetTest.java
  dsl/camel-endpointdsl/src/test/java/org/apache/camel/builder/endpoint/FileDelayTest.java
Labels: dsl

#8088 CAMEL-18332: [camel-hyperledger-aries] Upgrade to nessus-aries-0.2.0
  camel-dependencies/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/HyperledgerAriesComponent.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/HyperledgerAriesEndpoint.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/AbstractServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/MultitenancyServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/processor/AbstractAriesProcessor.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/processor/ConnectionProcessor.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/processor/V1CredentialEventProcessor.java
  components/camel-hyperledger-aries/src/test/java/org/apache/camel/component/aries/AbstractCamelAriesTest.java
  components/camel-hyperledger-aries/src/test/java/org/apache/camel/component/aries/CamelGettingStartedTest.java
  components/camel-hyperledger-aries/src/test/java/org/apache/camel/component/aries/CredentialOfferRequestIssueTest.java
  components/camel-hyperledger-aries/src/test/java/org/apache/camel/component/aries/PeerConnectionTest.java
  components/camel-hyperledger-aries/src/test/resources/log4j2.properties
  parent/pom.xml
Labels: components, catalog

#8091 Update pipeline-eip.adoc - fix Java example snippet
  core/camel-core-engine/src/main/docs/modules/eips/pages/pipeline-eip.adoc
Labels: core

#8095 CAMEL-17947 + CAMEL-18327
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#8098 Backport several Kafka fixes
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/TaskHealthState.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerBadPortHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerBadPortSupervisingHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerUnresolvableHealthCheckIT.java
Labels: components, components-kafka

#8099 CAMEL-18337: [camel-hyperledger-aries] Add support for /issue-credent…
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/CredentialsServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/IssueCredentialV1ServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/PresentProofServiceHandler.java
  components/camel-hyperledger-aries/src/test/java/org/apache/camel/component/aries/PresentationExchangeTest.java
Labels: components

#8096 CAMEL-18331: Endpoint bean added via beans.xml are parsed twice
  components/camel-spring-xml/src/main/java/org/apache/camel/spring/xml/handler/CamelNamespaceHandler.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/SpringEndpointRegistrationTest.java
Labels: components

#8097 CAMEL-18331: Endpoint bean added via beans.xml are parsed twice
  components/camel-spring-xml/src/main/java/org/apache/camel/spring/xml/handler/CamelNamespaceHandler.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/SpringEndpointRegistrationTest.java
Labels: components

#8015 CAMEL-18275: Address issue of completions not being run in SEDA pipeline
  core/camel-api/src/main/java/org/apache/camel/spi/SynchronizationVetoable.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/OnCompletionProcessor.java
  core/camel-support/src/main/java/org/apache/camel/support/SynchronizationAdapter.java
Labels: core

#8084 Errors in Unit-tests for camel-jetty component are solved
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/ExcludeCipherSuitesTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/ExplicitHttpsSslContextParametersRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsAsyncRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteAddSslConnectorPropertiesTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteSetupWithSystemPropsTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteWithSslConnectorPropertiesTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/SpringHttpsRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/TwoCamelContextWithJettyRouteTest.java
Labels: components

#8109 (chores) camel-test-infra-kafka: upgrade Kafka 3 test image to 3.2.0
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
Labels: test-infra

#8105 CAMEL-18275: prevent completion in beforeConsumer mode from being handed over
  core/camel-core-processor/src/main/java/org/apache/camel/processor/OnCompletionProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionAfterChainedSedaRoutes.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionBeforeChainedSedaRoutes.java
Labels: core

#8108 CAMEL-18349 Lower the count of XPath operators for XPathRouteConcurrentBigTest.
  core/camel-core/src/test/java/org/apache/camel/language/XPathRouteConcurrentBigTest.java
Labels: core

#8113 CAMEL-16287 camel-aws2-sqs should use pagination for deciding which aws sqs queues it should create
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
Labels: components, components-aws

#8114 camel-asn1 : update jasn1 to asn1bean
  components/camel-asn1/pom.xml
  components/camel-asn1/src/main/java/org/apache/camel/dataformat/asn1/ASN1DataFormat.java
  parent/pom.xml
Labels: components

#8111 More test fixes and improvements
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/CouchbaseIntegrationTestBase.java
  components/camel-couchdb/src/test/java/org/apache/camel/component/couchdb/integration/CouchDbTestSupport.java
  test-infra/camel-test-infra-couchdb/src/test/java/org/apache/camel/test/infra/couchdb/services/CouchDbServiceFactory.java
Labels: components, test-infra

#8118 Backport CAMEL-18347
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/BaseArangoDb.java
  test-infra/camel-test-infra-arangodb/src/test/java/org/apache/camel/test/infra/arangodb/services/ArangoDBServiceFactory.java
  test-infra/camel-test-infra-hbase/src/test/java/org/apache/camel/test/infra/hbase/services/HBaseServiceFactory.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaServiceFactory.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/StrimziService.java
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/services/MongoDBServiceFactory.java
Labels: components, test-infra

#8122 Use latest version doc
  components/camel-bean-validator/src/main/docs/bean-validator-component.adoc
Labels: components

#8121 CAMEL-18356: consolidated the Kafka resume strategies
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/MultiNodeKafkaResumeStrategy.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
Labels: components, components-kafka

#8120 CAMEL-18275: Amend the OnCompletion Chained Seda Routes tests to check the order of competions execution
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionAfterChainedSedaRoutes.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionBeforeChainedSedaRoutes.java
Labels: core

#8131 CAMEL-18361: Upgrade gRPC to 1.48.1
  camel-dependencies/pom.xml
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcConsumerPropagationTest.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcConsumerSecurityTest.java
  parent/pom.xml
Labels: components

#8132 CAMEL-18362 + minor fixes
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
Labels: components, components-kafka

#8134 📝 Add Ant missing example
  components/camel-file/src/main/docs/file-component.adoc
  components/camel-ftp/src/main/docs/ftp-component.adoc
Labels: components

#8145 (Backport) CAMEL-18371: do load the cache when resuming with the file component
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/FileResumeAdapterDelegate.java
Labels: components

#8148 CAMEL-18381: added support for singleton services for camel-test-infra-couchbase
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/CouchbaseIntegrationTestBase.java
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseServiceFactory.java
Labels: components, test-infra

#8149 Camel 18370
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletComponent.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletGlobalPropertiesTest.java
Labels: components

#8146 CAMEL-18380: camel-kafka: Support using TypeConverter as a fallback i…
  components/camel-kafka/pom.xml
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/serde/DefaultKafkaHeaderSerializer.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/serde/DefaultKafkaHeaderSerializerTest.java
Labels: components, components-kafka

#8150 CAMEL-15520: remove deprecated configs from camel-consul
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/consul.json
  components/camel-consul/src/generated/java/org/apache/camel/component/consul/ConsulComponentConfigurer.java
  components/camel-consul/src/generated/java/org/apache/camel/component/consul/ConsulEndpointConfigurer.java
  components/camel-consul/src/generated/java/org/apache/camel/component/consul/ConsulEndpointUriFactory.java
  components/camel-consul/src/generated/java/org/apache/camel/component/consul/cloud/ConsulServiceDiscoveryFactoryConfigurer.java
  components/camel-consul/src/generated/resources/org/apache/camel/component/consul/consul.json
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulClientConfiguration.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cloud/ConsulServiceDiscoveryFactory.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cloud/ConsulServiceRegistry.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cluster/ConsulClusterService.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_19.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ConsulComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ConsulEndpointBuilderFactory.java
Labels: components, catalog, docs, dsl

#8152 CAMEL-15520: removed the deprecated NotifyBuilder.matchesMockWaitTime
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/idempotent/FileConsumerIdempotentLoadStoreTest.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/NotifyBuilder.java
Labels: components, core

#8153 CAMEL-15520: replaced deprecated getContainerIpAddress with getHost in test-infra
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisContainer.java
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSContainer.java
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzureStorageService.java
  test-infra/camel-test-infra-couchdb/src/test/java/org/apache/camel/test/infra/couchdb/services/CouchDbLocalContainerService.java
  test-infra/camel-test-infra-dispatch-router/src/test/java/org/apache/camel/test/infra/dispatch/router/services/DispatchRouterContainer.java
  test-infra/camel-test-infra-fhir/src/test/java/org/apache/camel/test/infra/fhir/services/FhirLocalContainerService.java
  test-infra/camel-test-infra-google-pubsub/src/test/java/org/apache/camel/test/infra/google/pubsub/services/GooglePubSubLocalContainerService.java
  test-infra/camel-test-infra-hdfs/src/test/java/org/apache/camel/test/infra/hdfs/v2/services/ContainerLocalHDFSService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/StrimziContainer.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/StrimziService.java
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/services/MongoDBLocalContainerService.java
  test-infra/camel-test-infra-openldap/src/test/java/org/apache/camel/test/infra/openldap/services/OpenldapLocalContainerService.java
  test-infra/camel-test-infra-redis/src/test/java/org/apache/camel/test/infra/redis/services/RedisLocalContainerService.java
  test-infra/camel-test-infra-xmpp/src/test/java/org/apache/camel/test/infra/xmpp/services/XmppServerContainer.java
  test-infra/camel-test-infra-zookeeper/src/test/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperContainer.java
Labels: test-infra

#8154 CAMEL-18386: camel-kafka: Support using TypeConverter to parse kafka.…
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kafka/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
Labels: components, components-kafka

#8159 CAMEL-18390: [camel-hyperledger-aries] Component should not maintain …
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/HyperledgerAriesComponent.java
Labels: components

#8156 HttpSendDynamicAware not optimizing for http:hostname[:port][/resourc…
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpSendDynamicAwareUriWithoutSlashTest.java
Labels: components

#8162 CAMEL-18393 Camel-bigquery: NPE if select * is requested
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLProducer.java
  components/camel-google/camel-google-bigquery/src/test/resources/sql/delete.sql
  components/camel-google/camel-google-bigquery/src/test/resources/sql/insert.sql
Labels: components

#8141 CAMEL-18377: camel-jpa - resue an EntityManager from the current tran…
  components/camel-jpa/pom.xml
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaHelper.java
  components/camel-jpa/src/test/java/org/apache/camel/processor/jpa/JpaTransactedTest.java
  components/camel-jpa/src/test/resources/META-INF/persistence.xml
  components/camel-jpa/src/test/resources/org/apache/camel/processor/jpa/springJpaRoutePoolingTest.xml
  core/camel-api/src/generated/java/org/apache/camel/ExchangeConstantProvider.java
  core/camel-api/src/main/java/org/apache/camel/Exchange.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RecipientListProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Splitter.java
Labels: components, core

#8157 CAMEL-18344: camel-google-pubsub - Open guava version for OSGI bundle
  camel-dependencies/pom.xml
  components/camel-google/camel-google-pubsub/pom.xml
  parent/pom.xml
Labels: components

#8166 CAMEL-18387: Fix bug in TarAggregationStrategy when first file is empty
  components/camel-tarfile/src/main/java/org/apache/camel/processor/aggregate/tarfile/TarAggregationStrategy.java
  components/camel-tarfile/src/test/java/org/apache/camel/processor/aggregate/tarfile/TarAggregationStrategyEmptyFirstFileTest.java
Labels: components

#8169 Convert persistent JMS tests to the test-infra
  components/camel-jms/src/test/java/org/apache/camel/component/jms/AbstractPersistentJMSTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ConsumerTemplateJmsSelectorTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAsyncStartListenerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAsyncStartStopListenerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAutoStartupTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsConsumeTemplateTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeadLetterChannelInOutTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDurableTopicTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsProducerDisableReplyToTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteDeliveryModePreserveQoSTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSetBodyNullErrorHandlerUseOriginalMessageTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSuspendResumeTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsThrottlingInflightRoutePolicyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsToDSendDynamicTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsToDSendDynamicTwoDisabledTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsToDSendDynamicTwoTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ManagedJmsEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameQueueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameTopicTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/async/AsyncConsumerInOutTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsDirectStartupOrderIssueTest.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQEmbeddedServiceBuilder.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQPersistentVMService.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQServiceFactory.java
Labels: components, components-jms, test-infra

#8170 CAMEL-18399: Fix PreparedStatement NullPointerException
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlProducer.java
Labels: components

#8171 feat: add a global route builder interceptors
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilderLifecycleStrategy.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteBuilderTest.java
Labels: core

#8173 (chores) camel-jms: consolidate duplicate test code
  components/camel-jms/src/test/java/org/apache/camel/component/jms/AbstractPersistentJMSTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ConsumerTemplateJmsSelectorTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAsyncStartListenerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAsyncStartStopListenerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAutoStartupTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsConsumeTemplateTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeadLetterChannelInOutTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDurableTopicTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsProducerDisableReplyToTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteDeliveryModePreserveQoSTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSetBodyNullErrorHandlerUseOriginalMessageTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSuspendResumeTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsThrottlingInflightRoutePolicyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsToDSendDynamicTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsToDSendDynamicTwoDisabledTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsToDSendDynamicTwoTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ManagedJmsEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameQueueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameTopicTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsDirectStartupOrderIssueTest.java
Labels: components, components-jms

#8175 (chores) camel-jms: rename a few resources to ensure uniqueness
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsLoadBalanceFailoverWithForceSendOriginalJmsMessageTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsOnCompletionAndInterceptAndOnExceptionTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsOnCompletionTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRoutingSlipInOutTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ManagedJmsEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ReplyToDestinationSelectorNameTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/SimpleJmsRequestReplyExclusiveReplyToTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/SimpleJmsRequestReplySharedReplyToTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/async/AsyncConsumerFalseTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/async/AsyncConsumerInOutTwoTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/async/AsyncConsumerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsInOutRoutingSlipTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsInOutUseMessageIDasCorrelationIDTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsMessageHeaderContentBasedRouterTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsReplyToLoopIssueTest.java
Labels: components, components-jms

#8176 (chores) camel-jms: adjusted spring tests to use the classes in test-infra
  components/camel-jms/src/test/java/org/apache/camel/component/jms/CamelJmsTestHelper.java
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/JmsSpringLoadBalanceFailoverTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/SpringJmsRoutingSlipInOutTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/SpringJmsSelectorTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/SpringJmsXPathHeaderTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/bind/spring.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/JmsInOutWithSpringRestartIssueTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/JmsResequencerTest-context.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/TransactionErrorHandlerRedeliveryDelayTest-context.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/jmsHeaderFilteringWithSpring.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/jmsRouteUsingSpring.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/jmsRouteUsingSpringAndJmsName.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/jmsRouteUsingSpringJMSTemplate.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/jmsRouteUsingSpringWithAutoWire.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/spring.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tuning/PerformanceRoutePojoTest-context.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/ActiveMQWithoutTransactionManager.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionErrorHandlerTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionIsTransactedRedeliveredTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionRollbackTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionThrottlingRoutePolicyTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionalClientTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionalClientWithRollbackTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMXTXUseOriginalBodyTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMXTXUseOriginalBodyWithDLCErrorHandlerTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMXTXUseOriginalBodyWithTXErrorHandlerTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JmsToJmsTransactedTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JmsTransacted-context.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/RouteIdTransactedTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/TransactedAsyncUsingThreadsTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/TransactionErrorHandlerBuilderAsSpringBeanTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/TransactionErrorHandlerCustomerSpringParserTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/TransactionInterceptSendToEndpointTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/TransactionMinimalConfigurationTest.xml
Labels: components, components-jms

#8178 CAMEL-18049 Fix autoregister when using Telegram webhook
  components/camel-telegram/src/main/java/org/apache/camel/component/telegram/model/WebhookInfo.java
  components/camel-telegram/src/main/java/org/apache/camel/component/telegram/service/TelegramServiceRestBotAPIAdapter.java
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/TelegramWebhookRegistrationTest.java
Labels: components

#8167 CAMEL-18344: camel-google-pubsub - Open guava version for OSGI bundle
  camel-dependencies/pom.xml
  components/camel-google/camel-google-pubsub/pom.xml
  parent/pom.xml
Labels: components

#8181 [CAMEL-18403] Fix controlbus example in docs
  components/camel-controlbus/src/main/docs/controlbus-component.adoc
Labels: components

#8188 CAMEL-18413: improve tests using log4j2 appenders
  core/camel-core/src/test/java/org/apache/camel/component/log/ConsumingAppender.java
  core/camel-core/src/test/java/org/apache/camel/component/log/LogBodyWithNewLineTest.java
Labels: core

#8200 (chores) camel-kafka: stop enforcing a test lifecycle unless required
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/BaseEmbeddedKafkaTestSupport.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAsyncManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerFullIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerAsyncCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerNoopCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerSyncCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerBadPortHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerBadPortSupervisingHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerUnresolvableHealthCheckIT.java
Labels: components, components-kafka

#8201 CAMEL-18417: use a monotonic clock source for the StopWatch
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBacklogDebugger.java
  core/camel-util/src/main/java/org/apache/camel/util/StopWatch.java
  core/camel-util/src/test/java/org/apache/camel/util/StopWatchTest.java
Labels: core

#8203 CAMEL-18420: adapt CamelParallelExecutionStrategy for Junit 5.9.0
  core/camel-core/src/test/java/org/apache/camel/CamelParallelExecutionStrategy.java
  core/camel-core/src/test/resources/junit-platform.properties
Labels: core

#8202 (chores) camel-couchbase: rework setup to fix CI issues
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeMessagesWithLimitIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeResumeStrategyIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/CouchbaseIntegrationTestBase.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ProduceMessagesSimpleIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/RemoveMessagesIT.java
Labels: components

#8205 Upgrade vert.x Web Client version for knative component (#8204)
  components/camel-knative/camel-knative-http/pom.xml
Labels: components

#8215 (chores) camel-paho: fixed tests
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoComponentTest.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoOverrideTopicTest.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoToDSendDynamicTest.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoToDTest.java
Labels: components

#8216 (chores) camel-amqp: fixed tests
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPRouteTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/artemis/AMQPEmbeddedBrokerTest.java
Labels: components

#8212 CAMEL-18355: Fix bug when both proxy and basic authentication credent…
  components/camel-http/src/main/java/org/apache/camel/component/http/BasicAuthenticationHttpClientConfigurer.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponentVerifierExtension.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpCredentialsHelper.java
  components/camel-http/src/main/java/org/apache/camel/component/http/ProxyHttpClientConfigurer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpClientConfigurerTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpCredentialsHelperTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpProxyAndBasicAuthTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/handler/ProxyAndBasicAuthenticationValidationHandler.java
Labels: components

#8214 [CAMEL-18428]-Fixed password option description
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/fhir.json
  components/camel-fhir/camel-fhir-component/src/main/java/org/apache/camel/component/fhir/FhirConfiguration.java
Labels: components, catalog

#8226 (chores) camel-ftp: increase an overly aggressive fork timeout
  components/camel-ftp/pom.xml
Labels: components

#8223 CAMEL-18432 - camel-Docker: malformed uri path
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/docker.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-docker/src/generated/resources/org/apache/camel/component/docker/docker.json
  components/camel-docker/src/main/java/org/apache/camel/component/docker/DockerConfiguration.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DockerEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8222 CAMEL-18382: Google-bigquery - allow different value types from headers
  components/camel-google/camel-google-bigquery/src/main/docs/google-bigquery-sql-component.adoc
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLProducer.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/unit/sql/GoogleBigQuerySQLProducerWithParamersTest.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_19.adoc
Labels: components, docs

#8231 (chores) camel-couchbase: another CI fix
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/CouchbaseIntegrationTestBase.java
Labels: components

#8235 (Backport to 3.18) CAMEL-18432 - camel-Docker: malformed uri path
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/docker.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-docker/src/generated/resources/org/apache/camel/component/docker/docker.json
  components/camel-docker/src/main/java/org/apache/camel/component/docker/DockerConfiguration.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DockerEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8238 feat(core): hasErrorHandlerFactory helper method
  core/camel-core-model/src/main/java/org/apache/camel/builder/BuilderSupport.java
Labels: core

#8244 CAMEL-18131 - Adding health check to test conectivity
  components/camel-aws/camel-aws2-s3/pom.xml
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/services/org/apache/camel/health-check/camel-aws2-s3-repository
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Component.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Consumer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheck.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3HealthCheckRepository.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheckTest.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/S3ComponentVerifierExtensionTest.java
Labels: components, components-aws

#8247 CAMEL-18346 Remove use of xalan : remove profiles, remove from camel-eip-documentation-enricher-maven-plugin, remove from camel-xmlsecurity
  camel-dependencies/pom.xml
  components/camel-fop/pom.xml
  components/camel-xmlsecurity/pom.xml
  core/camel-core-engine/pom.xml
  core/camel-management-api/pom.xml
  core/camel-management/pom.xml
  parent/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/test/java/org/apache/camel/maven/integration/EIPDocumentationMojoTest.java
Labels: components, core, tooling, tooling-maven
