Repository apache/camel, pull requests merged in 2022-03, with the labels that each got.

#7180 Camel-Slack: Improved information about consumer and permissions
  components/camel-slack/src/main/docs/slack-component.adoc
Labels: backport camel-3.11.x

#7307 CAMEL-17763: cleanup unused exceptions in camel-oaipmh
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/OAIPMHComponentConsumerHTTPSTest.java
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/OAIPMHComponentConsumerParticularCaseTest.java
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/OAIPMHComponentConsumerTest.java
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/OAIPMHComponentProducerGetRecordTest.java
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/OAIPMHComponentProducerOnlyFirstLoopTest.java
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/OAIPMHComponentProducerOnlyFirstTest.java
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/OAIPMHComponentProducerTest.java
Labels: components

#7311 CAMEL-17890: fix handling of component, language or data-format prope…
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
Labels: core

#7281 CAMEL-17859: increase logs in critical smpp code for diagnosing the issue root cause
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppConsumer.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppProducer.java
Labels: components
