Repository apache/camel, pull requests merged in 2022-10, with the labels that each got.

#8429 CAMEL-17448: use mockito-core
  components/camel-atlasmap/pom.xml
  components/camel-atmosphere-websocket/pom.xml
  components/camel-aws/camel-aws-cloudtrail/pom.xml
  components/camel-azure/camel-azure-cosmosdb/pom.xml
  components/camel-azure/camel-azure-eventhubs/pom.xml
  components/camel-azure/camel-azure-key-vault/pom.xml
  components/camel-azure/camel-azure-servicebus/pom.xml
  components/camel-bean-validator/pom.xml
  components/camel-box/camel-box-component/pom.xml
  components/camel-cassandraql/pom.xml
  components/camel-corda/pom.xml
  components/camel-cxf/camel-cxf-rest/pom.xml
  components/camel-cxf/camel-cxf-soap/pom.xml
  components/camel-cxf/camel-cxf-spring-rest/pom.xml
  components/camel-cxf/camel-cxf-spring-soap/pom.xml
  components/camel-cxf/camel-cxf-spring-transport/pom.xml
  components/camel-cxf/camel-cxf-transport/pom.xml
  components/camel-google/camel-google-bigquery/pom.xml
  components/camel-google/camel-google-functions/pom.xml
  components/camel-google/camel-google-secret-manager/pom.xml
  components/camel-google/camel-google-storage/pom.xml
  components/camel-hashicorp-vault/pom.xml
  components/camel-hazelcast/pom.xml
  components/camel-hdfs/pom.xml
  components/camel-influxdb/pom.xml
  components/camel-irc/pom.xml
  components/camel-jgroups/pom.xml
  components/camel-mail/pom.xml
  components/camel-mina/pom.xml
  components/camel-mybatis/pom.xml
  components/camel-openapi-java/pom.xml
  components/camel-opentracing/pom.xml
  components/camel-printer/pom.xml
  components/camel-pulsar/pom.xml
  components/camel-quickfix/pom.xml
  components/camel-rabbitmq/pom.xml
  components/camel-rest-openapi/pom.xml
  components/camel-rest-swagger/pom.xml
  components/camel-smpp/pom.xml
  components/camel-splunk-hec/pom.xml
  components/camel-spring-rabbitmq/pom.xml
  components/camel-stitch/pom.xml
  components/camel-swagger-java/pom.xml
  components/camel-tracing/pom.xml
  components/camel-vertx/camel-vertx-kafka/camel-vertx-kafka-component/pom.xml
  components/camel-web3j/pom.xml
Labels: components, components-aws, components-azure

#8459 CAMEL-18580: camel-elasticsearch - Propose an async producer
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
Labels: components

#8452 CAMEL-10173: camel-etcd3 - Add an implementation based on jetcd
  camel-dependencies/pom.xml
  components/camel-etcd3/pom.xml
  components/camel-etcd3/src/generated/java/org/apache/camel/component/etcd3/Etcd3ComponentConfigurer.java
  components/camel-etcd3/src/generated/java/org/apache/camel/component/etcd3/Etcd3EndpointConfigurer.java
  components/camel-etcd3/src/generated/java/org/apache/camel/component/etcd3/Etcd3EndpointUriFactory.java
  components/camel-etcd3/src/generated/java/org/apache/camel/component/etcd3/cloud/Etcd3ServiceDiscoveryFactoryConfigurer.java
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/cloud/etcd-service-discovery
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/component/etcd3
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/configurer/etcd3-component
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/configurer/etcd3-endpoint
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.etcd3.cloud.Etcd3ServiceDiscoveryFactory
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/urifactory/etcd3-endpoint
  components/camel-etcd3/src/generated/resources/org/apache/camel/component/etcd3/etcd3.json
  components/camel-etcd3/src/main/docs/etcd3.adoc
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/Etcd3Component.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/Etcd3Configuration.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/Etcd3Constants.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/Etcd3Consumer.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/Etcd3Endpoint.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/Etcd3Helper.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/Etcd3Producer.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/cloud/Etcd3GetServicesResponse.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/cloud/Etcd3OnDemandServiceDiscovery.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/cloud/Etcd3ServiceDefinition.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/cloud/Etcd3ServiceDiscovery.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/cloud/Etcd3ServiceDiscoveryFactory.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/cloud/Etcd3WatchServiceDiscovery.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/policy/Etcd3RoutePolicy.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/processor/aggregate/Etcd3AggregationRepository.java
  components/camel-etcd3/src/test/java/org/apache/camel/component/etcd3/AggregateEtcd3ManualTest.java
  components/camel-etcd3/src/test/java/org/apache/camel/component/etcd3/cloud/integration/Etcd3ServiceDiscoveryIT.java
  components/camel-etcd3/src/test/java/org/apache/camel/component/etcd3/integration/Etcd3ConsumerIT.java
  components/camel-etcd3/src/test/java/org/apache/camel/component/etcd3/integration/Etcd3ProducerIT.java
  components/camel-etcd3/src/test/java/org/apache/camel/component/etcd3/policy/Etcd3RoutePolicyIT.java
  components/camel-etcd3/src/test/java/org/apache/camel/component/etcd3/policy/Etcd3RoutePolicyMain.java
  components/camel-etcd3/src/test/java/org/apache/camel/component/etcd3/support/Etcd3TestSupport.java
  parent/pom.xml
  test-infra/camel-test-infra-etcd3/pom.xml
  test-infra/camel-test-infra-etcd3/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/common/Etcd3Properties.java
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/services/Etcd3LocalContainerService.java
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/services/Etcd3RemoteService.java
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/services/Etcd3Service.java
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/services/Etcd3ServiceFactory.java
  test-infra/pom.xml
Labels: components, test-infra

#8462 (chores) Removed outdated Java 1.8 checks in tests
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestSupport.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/ECDSASignatureTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/SignatureAlgorithmTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/SignatureDigestMethodTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/XAdESSignaturePropertiesTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/XmlSignatureTest.java
Labels: components

#8456 CAMEL-18578: camel-lra use JDK11 client
  components/camel-lra/pom.xml
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRAClient.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/AbstractLRATestSupport.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRAOptionsIT.java
  core/camel-core-model/src/main/java/org/apache/camel/model/SagaDefinition.java
Labels: components, core

#8482 CAMEL-18584: Constructor of mailBinding fixed
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailBinding.java
Labels: components

#8483 CAMEL-18583: [camel-minio] deleteObjects operation does not delete mu…
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioProducer.java
  components/camel-minio/src/test/java/org/apache/camel/component/minio/MinioTestUtils.java
  components/camel-minio/src/test/java/org/apache/camel/component/minio/integration/MinioListObjectsOperationIT.java
Labels: components

#8478 CAMEL-18346 Remove use of xalan
  buildingtools/src/main/resources/notice-supplements.xml
  camel-dependencies/pom.xml
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CachedCxfPayload.java
  components/camel-fop/pom.xml
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/SpringWebserviceHelper.java
  components/camel-xmlsecurity/pom.xml
  core/camel-core-engine/pom.xml
  core/camel-core/src/test/java/org/apache/camel/builder/xml/XPathTest.java
  core/camel-management-api/pom.xml
  core/camel-management/pom.xml
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XmlConverter.java
  parent/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/test/java/org/apache/camel/maven/integration/EIPDocumentationMojoTest.java
Labels: components, core, tooling, tooling-maven

#8465 CAMEL-18579 Missing osgi import for CxfUtils in camel-cxf-rest
  components/camel-cxf/camel-cxf-common/src/main/resources/org/apache/camel/component/cxf/util/Messages.properties
  components/camel-cxf/camel-cxf-rest/pom.xml
  components/camel-cxf/camel-cxf-rest/src/main/resources/org/apache/camel/component/cxf/interceptors/Messages.properties
  components/camel-cxf/camel-cxf-rest/src/main/resources/org/apache/camel/component/cxf/util/Messages.properties
  components/camel-cxf/camel-cxf-soap/src/main/resources/org/apache/camel/component/cxf/interceptors/Messages.properties
  components/camel-cxf/camel-cxf-spring-soap/src/main/resources/org/apache/camel/component/cxf/interceptors/Messages.properties
  components/camel-cxf/camel-cxf-spring-soap/src/main/resources/org/apache/camel/component/cxf/util/Messages.properties
Labels: components

#8475 (chores) NPE fixes in camel-mock
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components

#8487 CAMEL-18516: camel-yaml-dsl - bannedDefinitions doesn't work for gene…
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/pom.xml
Labels: dsl

#8491 Fix typo in docs
  components/camel-scheduler/src/main/docs/scheduler-component.adoc
Labels: components

#8496 [camel-18327] resuming from last committed offset
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#8494 [CXF-8762] CXF client sends the SOAPAction header without quotes
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/DefaultCxfBinding.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/jaxws/DefaultCxfBindingTest.java
Labels: components

#8506 [camel-18588] Added condition to only commit offset if it is not -1
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java
Labels: components, components-kafka

#8508 (chores) camel-base: removed unused exceptions in the ObjectConverter
  core/camel-base/src/main/java/org/apache/camel/converter/ObjectConverter.java
Labels: core

#8507 Polished docs: fixed grammar and wording issues
  docs/user-manual/modules/ROOT/pages/getting-started.adoc
Labels: docs

#8514 🚑 Fix camel-lra endpoints
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRAClient.java
Labels: components

#8518 CAMEL-18601: replace assertMockEndpointsSatisfied() in doc
  components/camel-mina/src/main/docs/mina-component.adoc
  components/camel-seda/src/main/docs/seda-component.adoc
  components/camel-test/camel-test-junit5/src/main/docs/test-junit5.adoc
  docs/user-manual/modules/ROOT/pages/advice-with.adoc
Labels: components, docs

#8522 [camel-18587] Added condition to only commit offset if it is not already paused
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#8523 CAMEL-18607: camel-yaml-dsl - bannedDefinition partially fails to exc…
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
Labels: dsl

#8527 CAMEL-18608: camel-box - Fix the regression with shared connection
  components/camel-box/camel-box-component/src/main/java/org/apache/camel/component/box/BoxConfiguration.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxSharedConnectionTest.java
Labels: components

#8529 CAMEL-16030: camel-pulsar - Add async send to producer
  components/camel-pulsar/src/generated/resources/org/apache/camel/component/pulsar/pulsar.json
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarConfiguration.java
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarProducer.java
Labels: components

#8533 CAMEL-18576: Using property placeholder allows to turn off nested, wi…
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesParser.java
  core/camel-core/src/test/java/org/apache/camel/processor/ExpressionPlaceholderNestedTest.java
  docs/user-manual/modules/ROOT/pages/using-propertyplaceholder.adoc
Labels: core, docs

#8534 (chores) avoid shadowing variables
  components/camel-arangodb/src/main/java/org/apache/camel/component/arangodb/ArangoDbComponent.java
  components/camel-ehcache/src/main/java/org/apache/camel/component/ehcache/EhcacheComponent.java
  components/camel-git/src/main/java/org/apache/camel/component/git/consumer/AbstractGitConsumer.java
  components/camel-git/src/main/java/org/apache/camel/component/git/producer/GitProducer.java
  components/camel-google/camel-google-functions/src/main/java/org/apache/camel/component/google/functions/GoogleCloudFunctionsComponent.java
  components/camel-printer/src/main/java/org/apache/camel/component/printer/PrinterProducer.java
Labels: components

#8531 CAMEL-18148: Added support for running callbacks on offset updates
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeStrategy.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/resume/TransientResumeStrategy.java
Labels: components, components-kafka, core

#8537 CAMEL-18608: camel-etcd3 - Synchronous commits in aggregation
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/processor/aggregate/Etcd3AggregationRepository.java
Labels: components

#8535 More cleanups (testing GH actions)
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConfiguration.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailMessage.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitConsumer.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQComponent.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQMessagePublisher.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQProducer.java
Labels: components

#8536 Minor clenaups (GH actions test)
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka

#8542 (chores) camel-sjms: avoid shadowing variables
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsProducer.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsTemplate.java
Labels: components, components-jms

#8543 CAMEL-18608: camel-spark - Fix compatibility issues with JDK 17
  components/camel-spark/pom.xml
Labels: components

#8548 (chores) camel-base: avoid shadowing variables
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core

#8547 CAMEL-16484: camel-dropbox - Bump to Dropbox 5.4.2
  camel-dependencies/pom.xml
  components/camel-dropbox/src/generated/resources/org/apache/camel/component/dropbox/dropbox.json
  components/camel-dropbox/src/main/docs/dropbox-component.adoc
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/DropboxComponentVerifierExtension.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/DropboxConfiguration.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/core/DropboxAPIFacade.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/dto/DropboxSearchResult.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/integration/consumer/DropboxScheduledPollConsumer.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/integration/consumer/DropboxScheduledPollSearchConsumer.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/integration/producer/DropboxGetProducer.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/integration/producer/DropboxProducer.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/integration/producer/DropboxPutProducer.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/integration/producer/DropboxSearchProducer.java
  components/camel-dropbox/src/test/java/org/apache/camel/component/dropbox/integration/DropboxTestSupport.java
  components/camel-dropbox/src/test/java/org/apache/camel/component/dropbox/integration/consumer/DropboxConsumerGetSingleIT.java
  components/camel-dropbox/src/test/java/org/apache/camel/component/dropbox/integration/consumer/DropboxConsumerSearchQueryIT.java
  components/camel-dropbox/src/test/java/org/apache/camel/component/dropbox/integration/producer/DropboxProducerGetFolderIT.java
  components/camel-dropbox/src/test/java/org/apache/camel/component/dropbox/integration/producer/DropboxProducerPutSingleFileIT.java
  parent/pom.xml
Labels: components, core-build-and-dependencies

#8550 Doc update for camel-rest-openapi component
  components/camel-rest-openapi/src/main/docs/rest-openapi-component.adoc
Labels: components

#8551 CAMEL-18611: camel-main - Move the configurers in the main package
  core/camel-main/pom.xml
  core/camel-main/src/generated/java/org/apache/camel/main/AwsVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/AzureVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/GcpVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HashicorpVaultConfigurationConfigurer.java
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.vault.AwsVaultConfiguration
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.vault.AzureVaultConfiguration
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.vault.GcpVaultConfiguration
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.vault.HashicorpVaultConfiguration
Labels: core

#8552 (chores) camel-google-secret-manager: fixing a few code violations from SonarCloud
  components/camel-google/camel-google-secret-manager/src/main/java/org/apache/camel/component/google/secret/manager/GoogleSecretManagerComponent.java
  components/camel-google/camel-google-secret-manager/src/main/java/org/apache/camel/component/google/secret/manager/GoogleSecretManagerProducer.java
  components/camel-google/camel-google-secret-manager/src/test/java/org/apache/camel/component/google/secret/manager/integration/GoogleSecretManagerPropertiesNoEnvSourceTestIT.java
  components/camel-google/camel-google-secret-manager/src/test/java/org/apache/camel/component/google/secret/manager/integration/GoogleSecretManagerPropertiesSourceTestIT.java
Labels: components

#8492 CAMEL-18596: Use async checkpoint updating method from Azure EventCon…
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsCheckpointUpdaterTimerTask.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsConsumer.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/EventHubsCheckpointUpdaterTimerTaskTest.java
Labels: components, components-azure

#8554 (chores) camel-rest-swagger: fixing a few code violations from SonarCloud
  components/camel-rest-swagger/src/main/java/org/apache/camel/component/rest/swagger/RestSwaggerEndpoint.java
Labels: components

#8557 [CAMEL-18613] camel-cxf - Add option on endpoint to configure schema validation
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpoint.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/jaxws/CxfSchemaValidationTest.java
Labels: components

#8558 Fix asserts in swagger tests
  components/camel-swagger-java/src/test/java/org/apache/camel/swagger/ParameterAssert.java
  components/camel-swagger-java/src/test/java/org/apache/camel/swagger/RestSwaggerArrayEnumTest.java
  tooling/swagger-rest-dsl-generator/src/test/java/org/apache/camel/generator/swagger/RestDslXmlGeneratorTest.java
Labels: components, tooling

#8561 Rework ref component docs sample section
  components/camel-ref/src/main/docs/ref-component.adoc
Labels: components

#8563 Upgrade corda-rpc to 4.9.3
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8568 Doc update for camel-rest-openapi component (#8550)
  components/camel-rest-openapi/src/main/docs/rest-openapi-component.adoc
Labels: components

#8569 Upgrade Commons-text to version 1.10.0
  parent/pom.xml
Labels: core-build-and-dependencies

#8570 CAMEL-16354: camel-core - Optimize Splitters using Scanner
  core/camel-core/src/test/java/org/apache/camel/util/ObjectHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ObjectHelper.java
Labels: core

#8573 CAMEL-18620: Add redpanda container
  parent/pom.xml
  test-infra/camel-test-infra-kafka/pom.xml
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaServiceFactory.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/RedpandaService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/RedpandaTransactionsEnabledContainer.java
Labels: test-infra, core-build-and-dependencies

#8577 (chores) Remove useless assignments
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryConfiguration.java
  components/camel-irc/src/main/java/org/apache/camel/component/irc/IrcMessage.java
  components/camel-mail/src/main/java/org/apache/camel/dataformat/mime/multipart/MimeMultipartDataFormat.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyProducer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceComponent.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/GistHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
Labels: components, catalog, dsl, components-aws

#8574 CAMEL-18593: Platform-http : add reverse proxy feature
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/platform-http.json
  components/camel-platform-http-vertx/pom.xml
  components/camel-platform-http-vertx/src/main/docs/platform-http-vertx.adoc
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpProxyTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpsProxyTest.java
  components/camel-platform-http-vertx/src/test/resources/proxy/keystore.p12
  components/camel-platform-http/pom.xml
  components/camel-platform-http/src/generated/resources/org/apache/camel/component/platform/http/platform-http.json
  components/camel-platform-http/src/main/docs/platform-http-component.adoc
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/JettyCustomPlatformHttpConsumer.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/PlatformHttpProxyTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PlatformHttpEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8549 Cleanup jpa component
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/DefaultTransactionStrategy.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/DeleteHandler.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaComponent.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaConsumer.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaPollingConsumer.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
  components/camel-jpa/src/main/java/org/apache/camel/processor/idempotent/jpa/JpaMessageIdRepository.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaComponentTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaEndpointTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithNamedQueryAndParametersTest.java
  components/camel-jpa/src/test/java/org/apache/camel/processor/jpa/JpaRouteSharedEntityManagerTest.java
Labels: components

#8578 fix whatsapp doc, the "since" field to 3.19
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/WhatsAppEndpoint.java
Labels: components

#8581 CAMEL-18593: Platform-http : add reverse proxy feature (#8574)
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/platform-http.json
  components/camel-platform-http-vertx/pom.xml
  components/camel-platform-http-vertx/src/main/docs/platform-http-vertx.adoc
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpProxyTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpsProxyTest.java
  components/camel-platform-http-vertx/src/test/resources/proxy/keystore.p12
  components/camel-platform-http/pom.xml
  components/camel-platform-http/src/generated/resources/org/apache/camel/component/platform/http/platform-http.json
  components/camel-platform-http/src/main/docs/platform-http-component.adoc
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/JettyCustomPlatformHttpConsumer.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/PlatformHttpProxyTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PlatformHttpEndpointBuilderFactory.java
Labels: components, catalog, dsl

#8571 [CAMEL-18612] Inconsistency in JsonPath component causes problems with databinding
  components/camel-jsonpath/src/main/docs/jsonpath-language.adoc
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathExpression.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathLanguage.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathLanguageTest.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClause.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClauseSupport.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/JsonPathExpression.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/JsonPathExpressionReifier.java
Labels: components, core

#8586 (chores) Use log markers instead of concatenation
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepository.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/ZooKeeperProducer.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: components, dsl

#8588 (backport) [camel-18627] added null check to check if there was previously committed offset before resuming
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#8595 Add note about AHC components removed in 3.19
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_19.adoc
Labels: docs

#8601 (chores) Sonar's issues cleanups
  components/camel-caffeine/src/main/java/org/apache/camel/component/caffeine/DefaultCaffeineSendDynamicAware.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileOnCompletion.java
  components/camel-http-base/src/main/java/org/apache/camel/http/base/HttpSendDynamicAware.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-jsch/src/main/java/org/apache/camel/component/scp/ScpOperations.java
Labels: components

#8602 camel-fhir: Override commons-text version
  components/camel-fhir/camel-fhir-api/pom.xml
  components/camel-fhir/camel-fhir-component/pom.xml
Labels: components

#8604 feat: replace custom aws health check repositories with the components one
  components/camel-aws/camel-aws2-athena/src/generated/resources/META-INF/services/org/apache/camel/health-check/camel-aws2-athena-repository
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2Endpoint.java
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2HealthCheckRepository.java
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/services/org/apache/camel/health-check/camel-aws2-s3-repository
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Consumer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3HealthCheckRepository.java
  components/camel-aws/camel-aws2-sqs/src/generated/resources/META-INF/services/org/apache/camel/health-check/camel-aws2-sqs-repository
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2HealthCheckRepository.java
Labels: components, components-aws

#8609 (chores) removed unused assignments
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpOperations.java
  components/camel-irc/src/main/java/org/apache/camel/component/irc/CamelSSLIRCConnection.java
  tooling/maven/camel-javadoc-plugin/src/main/java/org/apache/maven/plugins/javadoc/AbstractJavadocMojo.java
Labels: components, tooling, tooling-maven

#8608 (chores) camel-catalog-maven: reduce method complexity
  catalog/camel-catalog-maven/src/main/java/org/apache/camel/catalog/maven/DefaultMavenArtifactProvider.java
Labels: catalog

#8612 (chores) camel-aws2-kinesis: disable flaky tests on Github
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCustomClientTest.java
Labels: components, components-aws

#8610 CAMEL-18131 - Adding health check to test conectivity
  components/camel-aws/camel-aws2-eks/pom.xml
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2Component.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2Endpoint.java
  components/camel-aws/camel-aws2-eks/src/test/java/org/apache/camel/component/aws2/eks/EKS2CliientHealthCheckProfileCredsTest.java
  components/camel-aws/camel-aws2-eks/src/test/java/org/apache/camel/component/aws2/eks/EKS2CliientHealthCheckStaticCredsTest.java
  components/camel-aws/camel-aws2-eks/src/test/java/org/apache/camel/component/aws2/eks/EKS2ComponentVerifierExtensionTest.java
Labels: components, components-aws

#8613 CAMEL-18608: camel-file - Fix is done file checker
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileEndpoint.java
Labels: components

#8616 ⬆️ Upgrade hsqldb
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8615 ⬆️ Upgrade hsqldb
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8618 CAMEL-14148: minor cleanups on the Kafka resume strategy
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
Labels: components, components-kafka

#8620 CAMEL-18648: Google-bigquery - fixed Exception during endpoint creation
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryConfiguration.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/unit/BaseBigQueryTest.java
Labels: components

#8630 (chores) camel-aws: minor cleanups to test CI changes
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/RecordStringConverter.java
Labels: components, components-aws

#8632 Camel-git: fix environmental contamination and default branch for tests
  components/camel-git/src/test/java/org/apache/camel/component/git/GitTestSupport.java
Labels: components

#8638 CAMEL-14832: camel-swift - Add the SB name and more details to the doc
  components/camel-swift/src/main/docs/swiftMt-dataformat.adoc
  components/camel-swift/src/main/docs/swiftMx-dataformat.adoc
Labels: components

#8639 [Camel 18656] Fix camel-git always merge at master branch
  components/camel-git/src/generated/java/org/apache/camel/component/git/GitEndpointConfigurer.java
  components/camel-git/src/generated/java/org/apache/camel/component/git/GitEndpointUriFactory.java
  components/camel-git/src/generated/resources/org/apache/camel/component/git/git.json
  components/camel-git/src/main/java/org/apache/camel/component/git/GitEndpoint.java
  components/camel-git/src/main/java/org/apache/camel/component/git/producer/GitProducer.java
  components/camel-git/src/test/java/org/apache/camel/component/git/GitTestSupport.java
  components/camel-git/src/test/java/org/apache/camel/component/git/producer/GitProducerTest.java
Labels: components

#8641 (backport) [Camel 18656] Fix camel-git always merge at master branch
  components/camel-git/src/generated/java/org/apache/camel/component/git/GitEndpointConfigurer.java
  components/camel-git/src/generated/java/org/apache/camel/component/git/GitEndpointUriFactory.java
  components/camel-git/src/generated/resources/org/apache/camel/component/git/git.json
  components/camel-git/src/main/java/org/apache/camel/component/git/GitEndpoint.java
  components/camel-git/src/main/java/org/apache/camel/component/git/producer/GitProducer.java
  components/camel-git/src/test/java/org/apache/camel/component/git/GitTestSupport.java
  components/camel-git/src/test/java/org/apache/camel/component/git/producer/GitProducerTest.java
Labels: components

#8642 CAMEL-18660: Downgrade LocalStack to prevent rate limit issues
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSContainer.java
Labels: test-infra

#8645 CAMEL-18255: Address memory leak caused by scheduling MDC.afterProces…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/MDCUnitOfWork.java
Labels: core
