Repository apache/camel, pull requests merged in 2022-06, with the labels that each got.

#7701 CAMEL-18157: fix settings provided by the query parameter "parameters…
  components/camel-jdbc/src/main/java/org/apache/camel/component/jdbc/JdbcProducer.java
  components/camel-jdbc/src/test/java/org/apache/camel/component/jdbc/JdbcFix18157Test.java
Labels: components

#7691 CAMEL-17100: minio consumer is slow at starting
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConsumer.java
Labels: components

#7705 (chores) camel-aws2-kinesis: add IT for AWS Kinesis consumer
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerIT.java
Labels: components, components-aws

#7710 Unit test to reproduce bug in CAMEL-18160
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/impl/converter/MyConverters.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/impl/converter/SpringTypeConvertersOverrideTest.java
  components/camel-spring-xml/src/test/resources/log4j2.properties
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/impl/converter/SpringTypeConvertersOverrideTest.xml
Labels: components

#7718 CAMEL-18161: cleanup method names
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/consumer/KinesisDefaultResumeAdapter.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/consumer/KinesisOffset.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbChangesetTracker.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConverter.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/AbstractFileResumeAdapter.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/DefaultFileOffsetResumeAdapter.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/FileOffset.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/FileResumeAdapterDelegate.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/FileSet.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerWithResumeRouteStrategyIT.java
  core/camel-api/src/main/java/org/apache/camel/resume/Offset.java
  core/camel-api/src/main/java/org/apache/camel/resume/OffsetKey.java
  core/camel-api/src/main/java/org/apache/camel/resume/Resumable.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/resume/ResumableCompletion.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/OffsetKeys.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/Offsets.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/Resumables.java
Labels: components, components-kafka, core, components-aws

#7713 [CAMEL-18159] SendDynamicAware of several components parses uri that starts with schema:// incorectly
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsToDSendDynamicTest.java
  components/camel-paho-mqtt5/src/main/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5SendDynamicAware.java
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5SendDynamicAwareTest.java
  components/camel-paho/src/main/java/org/apache/camel/component/paho/PahoSendDynamicAware.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoToDSendDynamicTest.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQSendDynamicAware.java
  components/camel-rabbitmq/src/test/java/org/apache/camel/component/rabbitmq/RabbitMQSendDynamicAwareTest.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsSendDynamicAware.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/SjmsSendDynamicAwareTest.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQSendDynamicAware.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/SpringRabbitMQSendDynamicAwareTest.java
  components/camel-vertx/camel-vertx-kafka/camel-vertx-kafka-component/src/main/java/org/apache/camel/component/vertx/kafka/VertxKafkaSendDynamicAware.java
  components/camel-vertx/camel-vertx-kafka/camel-vertx-kafka-component/src/test/java/org/apache/camel/component/vertx/kafka/VertxKafkaSendDynamicAwareTest.java
Labels: components, components-jms

#7730 (chores) camel-cassandraql: disable flaky tests on MacOS
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/CassandraAggregationRepositoryIT.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/NamedCassandraAggregationRepositoryIT.java
Labels: components

#7731 chore: fix checkstyle
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/BaseExport.java
Labels: dsl

#7720 fix(minio): fix polling working half the time because of continuation…
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConsumer.java
  components/camel-minio/src/test/java/org/apache/camel/component/minio/MinioTestUtils.java
  components/camel-minio/src/test/java/org/apache/camel/component/minio/integration/MinioConsumerIT.java
  components/camel-minio/src/test/resources/log4j2.properties
Labels: components

#7751 CAMEL-18127: make the resume actions reusable by other components
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/cql.json
  components/camel-cassandraql/src/generated/resources/org/apache/camel/component/cassandra/cql.json
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/CassandraConstants.java
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/CassandraConsumer.java
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/consumer/support/CassandraResumeAdapter.java
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/consumer/support/DefaultCassandraResumeAdapter.java
  components/camel-cassandraql/src/test/java/org/apache/camel/component/cassandra/integration/CassandraComponentResumeStrategyIT.java
  core/camel-api/src/main/java/org/apache/camel/resume/ResumeAction.java
Labels: components, core, catalog

#7752 CAMEL-18181: prevent non-printable characters from breaking the doc generation
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateReadmeMojo.java
Labels: tooling, tooling-maven

#7757 Typos in documentation
  components/camel-slack/src/main/docs/slack-component.adoc
  docs/user-manual/modules/ROOT/pages/parameter-binding-annotations.adoc
Labels: components, docs

#7755 Use snapshot repository only for SNAPSHOT artifacts
  dsl/camel-kamelet-main/src/main/resources/camelGrapeConfig.xml
Labels: dsl

#7733 CAMEL-17424: do handle Authorization/Authentication issues when failling to poll
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/BridgeErrorStrategy.java
Labels: components, components-kafka

#7754 CAMEL-18127: added adapter auto-configuration for Couchbase
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/couchbase.json
  components/camel-couchbase/src/generated/resources/org/apache/camel/component/couchbase/couchbase.json
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/CouchbaseConstants.java
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/CouchbaseConsumer.java
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/CouchbaseResumeAdapter.java
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/consumer/support/DefaultCouchbaseResumeAdapter.java
  components/camel-couchbase/src/main/resources/org/apache/camel/resume/adapter.properties
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeResumeStrategyIT.java
Labels: components, catalog

#7759 CAMEL-18127: added adapter auto-configuration for CouchDb
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/couchdb.json
  components/camel-couchdb/src/generated/resources/org/apache/camel/component/couchdb/couchdb.json
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbChangesetTracker.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbConstants.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbConsumer.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/consumer/CouchDbResumeAdapter.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/consumer/CouchDbResumeStrategyFactory.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/consumer/DefaultCouchDbResumeAdapter.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/consumer/LatestUpdateSequenceResumeAdapter.java
  components/camel-couchdb/src/main/resources/org/apache/camel/resume/adapter.properties
Labels: components, catalog

#7764 Small fixes on JAXB DataFormat documentation.
  components/camel-jaxb/src/main/docs/jaxb-dataformat.adoc
Labels: components

#7756 CAMEL-18170 - Enabling to serviceAccountKey as base64 to google-drive…
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveAboutEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveAppsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveChangesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveChannelsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveChildrenEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveCommentsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveDrivesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveFilesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveParentsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DrivePermissionsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DrivePropertiesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveRepliesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveRevisionsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveTeamdrivesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/GoogleDriveComponentConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/GoogleDriveConfigurationConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/GoogleDriveEndpointConfigurer.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/GoogleDriveEndpointUriFactory.java
  components/camel-google/camel-google-drive/src/generated/resources/org/apache/camel/component/google/drive/google-drive.json
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/BatchGoogleDriveClientFactory.java
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/GoogleDriveClientFactory.java
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/GoogleDriveComponent.java
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/GoogleDriveConfiguration.java
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/InteractiveGoogleDriveClientFactory.java
  components/camel-google/camel-google-drive/src/test/java/org/apache/camel/component/google/drive/AbstractGoogleDriveTestSupport.java
  components/camel-google/camel-google-drive/src/test/java/org/apache/camel/component/google/drive/MyClientFactory.java
  components/camel-google/camel-google-drive/src/test/resources/test-options.properties
Labels: components

#7763 CAMEL-18170 - Updating Google Drive doc.
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_18.adoc
Labels: docs

#7766 Small fixes to error messages.
  core/camel-api/src/main/java/org/apache/camel/Message.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultFluentProducerTemplate.java
Labels: core

#7769 Update test.adoc
  components/camel-test/camel-test/src/main/docs/test.adoc
Labels: components

#7770 CAMEL-18126: improved split support for the file component
  components/camel-file/src/generated/resources/org/apache/camel/component/file/file.json
  components/camel-file/src/main/java/org/apache/camel/component/file/FileConstants.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFile.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConverter.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/DefaultFileOffsetResumeAdapter.java
  core/camel-api/src/main/java/org/apache/camel/resume/Offset.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerResumeFromOffsetStrategyTest.java
Labels: components, core

#7780 (chores) camel-cassandra: remove unecessary calls to String.format
  components/camel-cassandraql/src/test/java/org/apache/camel/component/cassandra/integration/CassandraComponentConsumerIT.java
  components/camel-cassandraql/src/test/java/org/apache/camel/component/cassandra/integration/CassandraComponentProducerIT.java
  components/camel-cassandraql/src/test/java/org/apache/camel/component/cassandra/integration/CassandraComponentProducerUnpreparedIT.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/CassandraAggregationRepositoryIT.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/NamedCassandraAggregationRepositoryIT.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/idempotent/cassandra/CassandraIdempotentRepositoryIT.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/idempotent/cassandra/NamedCassandraIdempotentRepositoryIT.java
Labels: components

#7783 Cleanup deprecated
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Build.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Deploy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Image.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Manifest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Package.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Profile.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ProfileHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Search.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SearchComponents.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SearchKamelets.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SearchLanguages.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SearchOthers.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/UberJar.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Undeploy.java
Labels: dsl

#7787 (docs) Fix formatting and clarify operations in infinispan docs
  components/camel-infinispan/camel-infinispan/src/main/docs/infinispan-component.adoc
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteConfiguration.java
Labels: components

#7788 (chores) camel-core: fix flaky test
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/AggregateCompletionOnlyTwoTest.java
Labels: core

#7799 Camel 18170 - Renaming keyResource to serviceAccountKey to camel-google-calendar
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarAclEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarCalendarListEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarCalendarsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarChannelsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarColorsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarEventsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarFreebusyEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/CalendarSettingsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/GoogleCalendarComponentConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/GoogleCalendarConfigurationConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/GoogleCalendarEndpointConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/GoogleCalendarEndpointUriFactory.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/stream/GoogleCalendarStreamComponentConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/stream/GoogleCalendarStreamEndpointConfigurer.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/stream/GoogleCalendarStreamEndpointUriFactory.java
  components/camel-google/camel-google-calendar/src/generated/resources/org/apache/camel/component/google/calendar/google-calendar.json
  components/camel-google/camel-google-calendar/src/generated/resources/org/apache/camel/component/google/calendar/stream/google-calendar-stream.json
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/BatchGoogleCalendarClientFactory.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/GoogleCalendarClientFactory.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/GoogleCalendarComponent.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/GoogleCalendarConfiguration.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/stream/GoogleCalendarStreamComponent.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/stream/GoogleCalendarStreamConfiguration.java
  components/camel-google/camel-google-calendar/src/test/java/org/apache/camel/component/google/calendar/AbstractGoogleCalendarTestSupport.java
  components/camel-google/camel-google-calendar/src/test/resources/test-options.properties
Labels: components

#7792 [CAMEL-18195] Add setExceptionListener(...) to SjmsComponent
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsComponent.java
Labels: components, components-jms

#7808 camel-jq: add a function to retrieve value from Exchange properties
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqExpression.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqFunctions.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionFromHeaderAsStringTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionFromHeaderTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionHeaderFnTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionPojoTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionPropertyFnTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionSimpleTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionTest.java
Labels: components

#7813 CAMEL-18201 Enhance CamelTestSupport to turn off context stopping
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/CamelTestSupporOneContextForAllTest.java
Labels: components

#7818 Fix camel-knative endpoint for events
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeEndpoint.java
  components/camel-knative/camel-knative-component/src/test/java/org/apache/camel/component/knative/KnativeComponentTest.java
  components/camel-knative/camel-knative-component/src/test/resources/environment.json
  components/camel-knative/camel-knative-component/src/test/resources/environment_classic.json
Labels: components

#7831 camel-jira: Document the use of API Token as password for basic auth
  components/camel-jira/src/main/docs/jira-component.adoc
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraConfiguration.java
Labels: components

#7832 Camel-18170 - google calendar doc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_18.adoc
Labels: docs

#7836 CAMEL-18211: Make BeanInfo handle Quarkus Arc generated sub classes
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
Labels: components

#7837 CAMEL-18212: Introduce a dedicated exception type for when a reactive stream has no active subscriptions
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/ReactiveStreamsNoActiveSubscriptionsException.java
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/engine/CamelPublisher.java
Labels: components

#7843 (chores) camel-jbang: fixed checkstyle
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
Labels: dsl

#7842 Include more examples of debugger using the BacklogDebugger
  docs/user-manual/modules/ROOT/pages/debugger.adoc
Labels: docs

#7845 CAMEL-17911: fix creation of duplicate apiProxy
  components/camel-olingo2/camel-olingo2-component/src/generated/java/org/apache/camel/component/olingo2/Olingo2EndpointConfigurer.java
  components/camel-olingo2/camel-olingo2-component/src/generated/resources/org/apache/camel/component/olingo2/olingo2.json
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Component.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/AbstractOlingo2TestSupport.java
  components/camel-olingo4/camel-olingo4-component/src/generated/java/org/apache/camel/component/olingo4/Olingo4EndpointConfigurer.java
  components/camel-olingo4/camel-olingo4-component/src/generated/resources/org/apache/camel/component/olingo4/olingo4.json
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Component.java
Labels: components

#7846 CAMEL-18214: Allow Backlog Debugger and test debugger to work at the same time
  components/camel-test/camel-test-main-junit5/src/main/docs/test-main-junit5.adoc
  components/camel-test/camel-test-main-junit5/src/main/java/org/apache/camel/test/main/junit5/CamelMainExtension.java
  components/camel-test/camel-test-main-junit5/src/main/java/org/apache/camel/test/main/junit5/CamelMainTest.java
  components/camel-test/camel-test-main-junit5/src/test/java/org/apache/camel/test/main/junit5/annotation/WithUseJMXTest.java
  components/camel-test/camel-test-main-junit5/src/test/java/org/apache/camel/test/main/junit5/legacy/WithUseJMXTest.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultChannel.java
Labels: components, core

#7847 (chores) camel-netty: removed unused parameters
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyHelper.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyProducer.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/handlers/ServerChannelHandler.java
Labels: components

#7848 CAMEL-18122: Upgrade to bouncycastle 1.71
  camel-dependencies/pom.xml
  components/camel-as2/camel-as2-api/pom.xml
  components/camel-asn1/pom.xml
  components/camel-asn1/src/main/docs/asn1-dataformat.adoc
  components/camel-crypto/pom.xml
  components/camel-fop/pom.xml
  components/camel-ftp/pom.xml
  components/camel-jsch/pom.xml
  components/camel-pdf/pom.xml
  components/camel-ssh/pom.xml
  components/camel-ssh/src/main/docs/ssh-component.adoc
  components/camel-xmlsecurity/pom.xml
  parent/pom.xml
Labels: components

#7849 CAMEL-18215: camel-test - Enable JMX when camel-debug is detected
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestSupport.java
  components/camel-test/camel-test-main-junit5/src/main/java/org/apache/camel/test/main/junit5/CamelMainExtension.java
  components/camel-test/camel-test-spring-junit5/src/main/java/org/apache/camel/test/spring/junit5/CamelAnnotationsHandler.java
Labels: components

#7851 Add camel-vertx-http to the list of components supported by camel-rest-openapi
  components/camel-rest-openapi/src/main/docs/rest-openapi-component.adoc
Labels: components

#7863 Enhance CamelTestSupport with a check to not run on quarkus
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
Labels: components

#7865 camel-kubernetes - configmap and secret property placeholder function
  components/camel-kubernetes/README.md
  components/camel-kubernetes/src/generated/resources/META-INF/services/org/apache/camel/properties-function/configmap
  components/camel-kubernetes/src/generated/resources/META-INF/services/org/apache/camel/properties-function/secret
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/properties/BasePropertiesFunction.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/properties/ConfigMapPropertiesFunction.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/properties/SecretPropertiesFunction.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/ConfigMapMountPropertiesFunctionTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/ConfigMapPropertiesFunctionRouteTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/ConfigMapPropertiesFunctionTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/SecretMountPropertiesFunctionTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/SecretPropertiesFunctionRouteTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/SecretPropertiesFunctionTest.java
  components/camel-kubernetes/src/test/resources/myconfig/bar
  components/camel-kubernetes/src/test/resources/myconfig/foo
  components/camel-kubernetes/src/test/resources/mysecret/mypass
  components/camel-kubernetes/src/test/resources/mysecret/myuser
  docs/user-manual/modules/ROOT/pages/using-propertyplaceholder.adoc
Labels: components, docs

#7855 CAMEL-18218 Fix camel-jira not adding components field
  components/camel-jira/src/generated/resources/org/apache/camel/component/jira/jira.json
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraConstants.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/UpdateIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/WatcherProducer.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/Utils.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/producer/AddIssueProducerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/producer/TransitionIssueProducerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/producer/UpdateIssueProducerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/producer/WatcherProducerTest.java
  parent/pom.xml
Labels: components

#7870 CAMEL-18170 - Renaming keyResource to serviceAccountKey (Google Mail)
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersDraftsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersHistoryEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersLabelsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersMessagesAttachmentsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersMessagesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersThreadsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GoogleMailComponentConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GoogleMailConfigurationConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GoogleMailEndpointConfigurer.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GoogleMailEndpointUriFactory.java
  components/camel-google/camel-google-mail/src/generated/resources/org/apache/camel/component/google/mail/google-mail.json
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/BatchGoogleMailClientFactory.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/GoogleMailClientFactory.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/GoogleMailComponent.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/GoogleMailComponentVerifierExtension.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/GoogleMailConfiguration.java
  components/camel-google/camel-google-mail/src/test/java/org/apache/camel/component/google/mail/AbstractGoogleMailTestSupport.java
  components/camel-google/camel-google-mail/src/test/resources/test-options.properties
Labels: components

#7871 (chores) camel-support: removed unused parameters
  components/camel-corda/src/main/java/org/apache/camel/component/corda/CordaProducer.java
  components/camel-infinispan/camel-infinispan-common/src/main/java/org/apache/camel/component/infinispan/InfinispanProducer.java
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaProducer.java
  components/camel-web3j/src/main/java/org/apache/camel/component/web3j/Web3jProducer.java
  core/camel-support/src/main/java/org/apache/camel/support/EventDrivenPollingConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/HeaderSelectorProducer.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/TokenPairExpressionIterator.java
Labels: components, core

#7873 (chores) camel-atmos: minor cleanups
  components/camel-atmos/src/main/java/org/apache/camel/component/atmos/dto/AtmosFileUploadResult.java
Labels: components

#7875 CAMEL-18217: debugger - Allow to suspend messages using a system property
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogDebugger.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogDebuggerTest.java
  docs/user-manual/modules/ROOT/pages/debugger.adoc
Labels: core, docs

#7877 CAMEL-18223: camel-plugin - Propose a goal to debug with the textual route debugger
  tooling/maven/camel-maven-plugin/src/main/docs/camel-maven-plugin.adoc
  tooling/maven/camel-maven-plugin/src/main/java/org/apache/camel/maven/DebugMojo.java
  tooling/maven/camel-maven-plugin/src/main/java/org/apache/camel/maven/RunMojo.java
Labels: tooling, tooling-maven

#7881 (chores) camel-cxf: fixed incorrectly disabled tests
  components/camel-cxf/src/test/java/org/apache/camel/component/cxf/CxfConsumerWithTryCatchTest.java
  components/camel-cxf/src/test/java/org/apache/camel/component/cxf/CxfSimpleRouterWithUnwrappedStyleTest.java
  components/camel-cxf/src/test/java/org/apache/camel/component/cxf/jaxrs/JettyCxfRsRouterTest.java
Labels: components

#7882 (chores) camel-openstack: fixed missing assertions
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackCinderVolumeTest.java
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackGlanceTest.java
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackKeystoneDomainTest.java
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackKeystoneGroupTest.java
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackKeystoneProjectTest.java
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackKeystoneRegionTest.java
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackKeystoneUserTest.java
  components/camel-openstack/src/test/java/org/apache/camel/component/openstack/it/OpenstackNeutronNetworkTest.java
Labels: components

#7883 (chores) camel-spring-xml: fixed incorrectly disabled tests
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/management/JmxInstrumentationWithConnectorTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringLoopDoWhileTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/xml/SpringXmlRouteBuilderTest.java
Labels: components

#7884 (chores) camel-core: fixed missing or incorrect assertions
  core/camel-core/src/test/java/org/apache/camel/component/log/DefaultExchangeFormatterTest.java
  core/camel-core/src/test/java/org/apache/camel/component/log/LogMaskTest.java
  core/camel-core/src/test/java/org/apache/camel/component/log/LogRouteTest.java
Labels: core

#7885 (chores) camel-jira: fixed invalid assertion
  components/camel-jira/src/test/java/org/apache/camel/component/jira/producer/AddIssueProducerTest.java
Labels: components

#7886 (chores) camel-olingo2: fixed missing assertions
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/Olingo2AppAPITest.java
Labels: components

#7878 Add properties to ComponentDslMojo parameters, add a null check on jsonDir
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/ComponentDslMojo.java
Labels: tooling, tooling-maven

#7891 (chores) camel-jbang: fixed leaky streams
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
Labels: dsl

#7894 [MessageBus] Fix doc link
  core/camel-core-engine/src/main/docs/modules/eips/pages/message-bus.adoc
Labels: core

#7893 Typos in kamelet component and added link in MicroProfile Fault Tolerance component documentation
  components/camel-kamelet/src/main/docs/kamelet-component.adoc
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/docs/microprofile-fault-tolerance.adoc
Labels: components

#7899 CAMEL-18233: Handle NoSuchElementException in CamelMicroProfilePropertiesSource loadProperties
  components/camel-microprofile/camel-microprofile-config/src/main/java/org/apache/camel/component/microprofile/config/CamelMicroProfilePropertiesSource.java
Labels: components

#7898 [Slack] Fix slack doc
  components/camel-slack/src/generated/resources/org/apache/camel/component/slack/slack.json
  components/camel-slack/src/main/docs/slack-component.adoc
  components/camel-slack/src/main/java/org/apache/camel/component/slack/SlackEndpoint.java
Labels: components

#7900 Fix pipeline eip doc
  core/camel-core-engine/src/main/docs/modules/eips/pages/pipeline-eip.adoc
Labels: core

#7902 Fix example in pollEnrich eip doc
  core/camel-core-engine/src/main/docs/modules/eips/pages/pollEnrich-eip.adoc
Labels: core

#7896 [Rest] Fix typos and align style
  components/camel-rest/src/generated/resources/org/apache/camel/component/rest/rest-api.json
  components/camel-rest/src/generated/resources/org/apache/camel/component/rest/rest.json
  components/camel-rest/src/main/docs/rest-component.adoc
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestApiEndpoint.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestComponent.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestEndpoint.java
Labels: components

#7906 CAMEL-17925: Process exception in exchange and not only in catch.
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java
Labels: components, components-kafka

#7901 Fix typos in AWS docs
  components/camel-aws/camel-aws2-lambda/src/generated/resources/org/apache/camel/component/aws2/lambda/aws2-lambda.json
  components/camel-aws/camel-aws2-s3/src/main/docs/aws2-s3-component.adoc
  components/camel-aws/camel-aws2-sns/src/main/docs/aws2-sns-component.adoc
  components/camel-aws/camel-aws2-sqs/src/main/docs/aws2-sqs-component.adoc
  components/camel-azure/camel-azure-storage-blob/src/main/docs/azure-storage-blob-component.adoc
Labels: components, components-aws, components-azure

#7903 (chores) camel-jms: removed a few Thread.sleep in tests
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAutoStartupTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsMultipleConsumersTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsAnotherCustomJMSReplyToTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsReplyToLoopIssueTest.java
Labels: components, components-jms

#7912 (chores) resume-api: use constants for referring to the bean names
  core/camel-api/src/main/java/org/apache/camel/resume/cache/ResumeCache.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/AdapterHelper.java
Labels: core

#7916 Render unordered list in doc correctly
  docs/user-manual/modules/ROOT/pages/debugger.adoc
Labels: docs

#7918 CAMEL-18128: added a few details about configuring the builtin strategies
  core/camel-core-engine/src/main/docs/modules/eips/pages/resume-strategies.adoc
Labels: core

#7921 Try to discover the jsonDir if it is null
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/ComponentDslMojo.java
Labels: tooling, tooling-maven

#7927 [DOCS] Fix typos in paho-mqtt5 component docs
  components/camel-paho-mqtt5/src/main/docs/paho-mqtt5-component.adoc
Labels: components

#7925 Polished docs
  core/camel-core-engine/src/main/docs/modules/eips/pages/message-dispatcher.adoc
Labels: core

#7919 [DOCS] Update HTTP and Kafka components.
  components/camel-http/src/generated/resources/org/apache/camel/component/http/http.json
  components/camel-http/src/main/docs/http-component.adoc
  components/camel-infinispan/camel-infinispan/src/generated/resources/org/apache/camel/component/infinispan/remote/infinispan.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka

#7930 (chores) camel-jms: renamed manual test
  components/camel-jms/src/test/java/org/apache/camel/component/jms/temp/JmsReconnectManualTest.java
Labels: components, components-jms

#7936 camel-hbase: fix deprecation warnings
  components/camel-hbase/src/main/java/org/apache/camel/component/hbase/HBaseProducer.java
  components/camel-hbase/src/main/java/org/apache/camel/component/hbase/mapping/CellMappingStrategyFactory.java
Labels: components

#7941 (chores) camel-quartz: test cleanups
  components/camel-quartz/pom.xml
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzAutoStartTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzRouteRestartTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/SpringQuartzPersistentStoreRestartRouteTest.java
  components/camel-quartz/src/test/java/org/apache/camel/routepolicy/quartz/CronScheduledRoutePolicyTest.java
  components/camel-quartz/src/test/java/org/apache/camel/routepolicy/quartz/SimpleScheduledRoutePolicyTest.java
Labels: components

#7942 Documentation of XQuery, Timer components - typos and formatting
  components/camel-saxon/src/main/docs/xquery-component.adoc
  components/camel-timer/src/main/docs/timer-component.adoc
Labels: components

#7943 CAMEL-18246: Upgrade hadoop-common version in camel-gora
  components/camel-gora/pom.xml
Labels: components

#7944 jq: don't load additional functions for provided Scope instance
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqExpression.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionTest.java
Labels: components

#7946 (chores) camel-report-maven-plugin: remove duplicated code for building error messages
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
Labels: catalog

#7951 Upgrade to Jolt version 0.1.7
  components/camel-jolt/src/main/java/org/apache/camel/component/jolt/JoltEndpoint.java
  parent/pom.xml
Labels: components

#7956 (chores) camel-jms tests: cleanups
  components/camel-jms/src/test/java/org/apache/camel/component/jms/AggregratedJmsRouteTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ConsumeMessageConverterTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/DefaultJmsHeaderKeyFormatStrategyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAutoStartupTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsComponentTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsEndpointConfigurationTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsHeaderFilteringTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOnlyDisableTimeToLiveTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOnlyInvalidDestinationTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOutDisableTimeToLiveTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOutSynchronousFalseTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOutSynchronousTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsLoadBalanceFailoverWithForceSendOriginalJmsMessageTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsMessageCreatedStrategyEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRequestReplyManualReplyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteRequestReplyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteWithCustomKeyFormatStrategyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteWithCustomListenerContainerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteWithInOnlyAndMultipleAcksTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteWithInOnlyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRoutingSlipInOutTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsThrottlingInflightRoutePolicyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/PassThroughJmsKeyFormatStrategyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ProduceMessageConverterTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/PurchaseOrder.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/RequestReplyCorrelatedWithCustomHeaderTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/discovery/MyRegistry.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/discovery/MyService.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsAnotherCustomJMSReplyToTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsBeanMethodHeaderTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsConcurrentConsumerInOnlyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsCustomJMSReplyToIssueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsGetHeaderKeyFormatIssueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsGetHeaderKeyFormatIssueWithContentTypeHeaderTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsInOutPipelineWithBeanTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsMutateMessageTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsMutateRemoveHeaderMessageTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsPassThroughtJmsKeyFormatStrategyEndUserIssueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsPassThroughtJmsKeyFormatStrategyEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsPassThroughtJmsKeyFormatStrategyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsPassThroughtJmsKeyFormatStrategyUsingJmsConfigurationTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsReplyToLoopIssueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsSendToAlotOfDestinationWithSameEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/temp/JmsRequestReplyTemporaryRefreshFailureOnStartupTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tuning/PerformanceRoutePojoTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tuning/PerformanceRouteTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/ConditionalExceptionProcessor.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JMSTransactionThrottlingRoutePolicyTest.java
Labels: components, components-jms
