Repository apache/camel, pull requests merged in 2022-05, with the labels that each got.

#7507 Remove non-exist MultiSelectPicklistConverter
  components/camel-salesforce/camel-salesforce-maven-plugin/src/main/resources/sobject-pojo.vm
Labels: components

#7543 (chores) code cleanup: remove unused private methods in components
  components/camel-atom/src/main/java/org/apache/camel/component/atom/UpdatedDateFilter.java
  components/camel-irc/src/main/java/org/apache/camel/component/irc/IrcConfiguration.java
Labels: components

#7544 CAMEL-17956: use registered ObjectMapper when parsing json.
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathEngine.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathExpression.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/CustomObjectMapper.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathCustomMapperTest.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/SpringJsonPathCustomReadMapperBeanTest.java
  components/camel-jsonpath/src/test/resources/bignumbers.json
  components/camel-jsonpath/src/test/resources/org/apache/camel/jsonpath/SpringJsonPathCustomReadMapperBeanTest.xml
Labels: components

#7546 CAMEL-18040 Added support for oneOf, anyOf and allOf OpenAPI annotations for Rest OpenApi spec generation
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestModelConverters.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV3XOfTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/AllOfForm.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/AllOfFormWrapper.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/AnyOfForm.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/AnyOfFormWrapper.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/OneOfForm.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/OneOfFormWrapper.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/XOfFormA.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/XOfFormB.java
Labels: components

#7493 CAMEL-17861
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobUtils.java
Labels: components, components-azure

#7551 camel-jbang. Trust self-signed certs for kubernetes client
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Deploy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Image.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Undeploy.java
Labels: dsl

#7559 CAMEL-18069: Handle uriEndpointOverride in generation of AWS S3 download links
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3CreateDownloadLinkOperationIT.java
Labels: components, components-aws

#7566 Cleanup camel-tracing codebase a bit
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/CqlSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/IronmqSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/JmsSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/NsqSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/SqlSpanDecorator.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/MockSpanAdapter.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/AbstractHttpSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/CometdSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/CqlSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/IronmqSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/JmsSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/KafkaSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/SqlSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/StompSpanDecoratorTest.java
Labels: components

#7568 CAMEL-18066, CAMEL-18065
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestModelConverters.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiReader.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV3XOfTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/OneOfForm.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/OneOfFormWrapper.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/XOfFormA.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/model/XOfFormB.java
Labels: components

#7569 (chores) camel-jbang: fix checkstyle issue
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#7574 test(dsl): Adding on-completion test for camel yaml dsl
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RouteConfigurationTest.groovy
Labels: dsl

#7576 Fix few minor typos in Camel JBang documentation
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs

#7577 Add doc for kafka transaction
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka

#7562 [CAMEL-18072] mongodb: add a type converter to convert from byte[] to Document
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/converters/MongoDbBasicConvertersLoader.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/converters/MongoDbBasicConverters.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbTypeConvertersTest.java
Labels: components

#7585 Update walk through link text
  docs/user-manual/modules/ROOT/pages/getting-started.adoc
Labels: docs

#7583 Fix Camel JBang documentation to have access to the list of available…
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs

#7587 Align PropertiesHelper with CamelJBangMain
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/PropertiesHelper.java
Labels: dsl

#7588 Update commercial-camel-offerings.adoc
  docs/user-manual/modules/ROOT/pages/commercial-camel-offerings.adoc
Labels: docs

#7589 Update commercial-camel-offerings.adoc
  docs/user-manual/modules/ROOT/pages/commercial-camel-offerings.adoc
Labels: docs

#7590 Fix link syntax in Camel JBang debugging section
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs

#7591 CAMEL-17994 Camel-aws2-kinesis: Integration test does not work
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisComponentManualIT.java
Labels: components, components-aws

#7599 (chores) Minor cosmetic change on camel-base-engine to make checkstyle happy
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultStreamCachingStrategy.java
Labels: core

#7601 [docs] Update LWT section to clarify what each option does
  components/camel-paho/src/main/java/org/apache/camel/component/paho/PahoConfiguration.java
Labels: components

#7608 Fixed login for OpenShift and Minikube
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Deploy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Image.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Undeploy.java
Labels: dsl

#7610 CAMEL-18109: camel-yaml-dsl - Backwards compatible with route and steps
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/YamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/IntegrationLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RoutesBackwardsCompatibleTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/support/YamlTestSupport.groovy
Labels: dsl

#7614 camel-jbang. profile option for *.properties
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Profile.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/PropertiesHelper.java
Labels: dsl

#7619 CAMEL-18113: Do not supress cause
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpOperations.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpOperations.java
Labels: components

#7618 CAMEL-18110: DeliverSm message payload opt param fix
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppBinding.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppUtils.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/SmppBindingTest.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/SmppUtilsTest.java
Labels: components

#7605 CAMEL-17723 camel-ssh - Dynamic Header is not resolved in pollCommand.
  core/camel-core-model/src/main/java/org/apache/camel/builder/EndpointConsumerBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/EndpointProducerBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ToDynamicReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/WireTapReifier.java
  core/camel-xml-jaxb/src/main/java/org/apache/camel/xml/jaxb/JaxbHelper.java
  dsl/camel-endpointdsl/src/main/java/org/apache/camel/builder/endpoint/AbstractEndpointBuilder.java
  dsl/camel-endpointdsl/src/test/java/org/apache/camel/builder/endpoint/RawUrlPollEnrichTest.java
  dsl/camel-endpointdsl/src/test/java/org/apache/camel/builder/endpoint/RawUrlWireTapDslTest.java
Labels: core, dsl

#7626 (chores) camel-kafka: re-enable async manual test
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAsyncManualCommitIT.java
Labels: components, components-kafka

#7627 [CAMEL-18119] Allow Simple expressions to render any Object that can be converted to Date
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/myconverter/MyCustomDate.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/myconverter/MyCustomDateConverter.java
  core/camel-core/src/test/resources/META-INF/services/org/apache/camel/TypeConverter
Labels: core

#7615 CAMEL-18099: Adding Azure Identity authentication support
  components/camel-azure/camel-azure-storage-blob/pom.xml
  components/camel-azure/camel-azure-storage-blob/src/generated/java/org/apache/camel/component/azure/storage/blob/BlobComponentConfigurer.java
  components/camel-azure/camel-azure-storage-blob/src/generated/java/org/apache/camel/component/azure/storage/blob/BlobEndpointConfigurer.java
  components/camel-azure/camel-azure-storage-blob/src/generated/java/org/apache/camel/component/azure/storage/blob/BlobEndpointUriFactory.java
  components/camel-azure/camel-azure-storage-blob/src/generated/resources/org/apache/camel/component/azure/storage/blob/azure-storage-blob.json
  components/camel-azure/camel-azure-storage-blob/src/main/docs/azure-storage-blob-component.adoc
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobComponent.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConfiguration.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/CredentialType.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientFactory.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/BlobComponentTest.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/Base.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobCopyProducerIt.java
Labels: components, components-azure

#7633 CAMEL-18123 Aws2-sqs: Operations Purge and Delete requires header
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Producer.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsProducerDeleteQueueTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsProducerPurgeTest.java
Labels: components, components-aws

#7640 Upgrade google-oauth-client to 1.33.3
  camel-dependencies/pom.xml
  components/camel-google/camel-google-calendar/pom.xml
  components/camel-google/camel-google-drive/pom.xml
  components/camel-google/camel-google-mail/pom.xml
  components/camel-google/camel-google-sheets/pom.xml
  components/camel-jira/pom.xml
  parent/pom.xml
Labels: components

#7664 CAMEL-18135: fixed incorrect sync commit of the async manual commit
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/DefaultKafkaManualAsyncCommit.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAsyncManualCommitIT.java
Labels: components, components-kafka

#7665 [CAMEL-18136] use recent Bnd
  components/camel-jmx/pom.xml
  init/camel-bundle-plugin/pom.xml
  parent/pom.xml
  pom.xml
Labels: components

#7671 Update what-are-the-dependencies.adoc
  docs/user-manual/modules/ROOT/pages/what-are-the-dependencies.adoc
Labels: docs

#7690 (chores) camel-aws-secrets-manager: disable a test due to missing lambda
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerRotateSecretProducerLocalstackIT.java
Labels: components, components-aws

#7689 s390x jenkinsfile
  Jenkinsfile.s390x
Labels: ci

#7692 (chores) camel-netty-http: fix test execution on Github actions
  components/camel-netty-http/pom.xml
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpAccessHttpRequestAndResponseBeanTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSimpleBasicAuthConstraintMapperTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSimpleBasicAuthTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSimplePooledExchangeTest.java
Labels: components

#7687 CAMEL-17949 - Infinite loop when setting retries
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/NettyHttpProducer.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpLoopErrorTest.java
Labels: components

#7697 Update camel-jbang.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs
