Repository apache/camel, pull requests merged in 2022-12, with the labels that each got.

#8816 Remove references to junit 4 in camel-mail
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailAttachmentNamesTest.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailBindingAttachmentFileTest.java
Labels: components

#8814 CAMEL-18766: backport Background task fixes
  core/camel-support/src/main/java/org/apache/camel/support/task/BackgroundTask.java
  core/camel-support/src/main/java/org/apache/camel/support/task/BlockingTask.java
  core/camel-support/src/main/java/org/apache/camel/support/task/ForegroundTask.java
  core/camel-support/src/test/java/org/apache/camel/support/task/BackgroundIterationTimeTaskTest.java
Labels: core

#8821 CAMEL-18786: skeleton for reorganizing the Camel Core documentation
  docs/main/antora.yml
  docs/main/modules/ROOT/attachments/contents-table.html
  docs/main/modules/ROOT/nav.adoc
  docs/main/modules/ROOT/pages/index.adoc
  docs/main/modules/advanced-camel-core-guides/nav.adoc
  docs/main/modules/advanced-camel-core-guides/pages/index.adoc
  docs/main/modules/getting-started/nav.adoc
  docs/main/modules/getting-started/pages/index.adoc
  docs/main/modules/reference/nav.adoc
  docs/main/modules/reference/pages/index.adoc
  docs/main/modules/working-with-camel-core/nav.adoc
  docs/main/modules/working-with-camel-core/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/book-getting-started.adoc
Labels: docs

#8811 [CAMEL-18737]: camel-kamelet parameter substitution does not work in …
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletBeanWithParametrizedConstructorTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletBeanWithParametrizedFactoryTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/MyBean.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
Labels: components, core

#8812 [CAMEL-18737]: camel-kamelet parameter substitution does not work in …
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletBeanWithParametrizedConstructorTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletBeanWithParametrizedFactoryTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/MyBean.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
Labels: components, core

#8829 (chores) camel-kudu: use the standard maven profile name for Windows
  components/camel-kudu/pom.xml
Labels: components

#8830 Upgrade opentelemetry to the version 1.20.1
  camel-dependencies/pom.xml
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/SetCorrelationContextProcessor.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/SpanProcessorsTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies

#8824 [Component] Add camel-influxdb2 component,support for influxdb2.x .
  catalog/camel-allcomponents/pom.xml
  components/camel-influxdb2/pom.xml
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/InfluxDb2ComponentConfigurer.java
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/InfluxDb2EndpointConfigurer.java
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/InfluxDb2EndpointUriFactory.java
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/InfluxDbComponentConfigurer.java
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/InfluxDbEndpointConfigurer.java
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/InfluxDbEndpointUriFactory.java
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/converters/CamelInfluxDb2ConvertersLoader.java
  components/camel-influxdb2/src/generated/java/org/apache/camel/component/influxdb2/converters/CamelInfluxDbConvertersLoader.java
  components/camel-influxdb2/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-influxdb2/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-influxdb2/src/generated/resources/META-INF/services/org/apache/camel/component/influxdb2
  components/camel-influxdb2/src/generated/resources/META-INF/services/org/apache/camel/configurer/influxdb2-component
  components/camel-influxdb2/src/generated/resources/META-INF/services/org/apache/camel/configurer/influxdb2-endpoint
  components/camel-influxdb2/src/generated/resources/META-INF/services/org/apache/camel/urifactory/influxdb2-endpoint
  components/camel-influxdb2/src/generated/resources/org/apache/camel/component/influxdb2/influxdb2.json
  components/camel-influxdb2/src/main/docs/influxdb2-component.adoc
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/CamelInfluxDb2Exception.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/InfluxDb2Component.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/InfluxDb2Constants.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/InfluxDb2Endpoint.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/InfluxDb2Producer.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/converters/CamelInfluxDb2Converters.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/data/Measurement.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/data/Measurements.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/data/Points.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/data/Record.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/data/Records.java
  components/camel-influxdb2/src/main/java/org/apache/camel/component/influxdb2/enums/Operation.java
  components/camel-influxdb2/src/main/resources/META-INF/services/org/apache/camel/component/influxdb2
  components/camel-influxdb2/src/test/java/org/apache/camel/component/influxdb2/AbstractInfluxDbTest.java
  components/camel-influxdb2/src/test/java/org/apache/camel/component/influxdb2/InfluxDb2ProducerPingTest.java
  components/camel-influxdb2/src/test/java/org/apache/camel/component/influxdb2/InfluxDb2ProducerTest.java
  components/camel-influxdb2/src/test/java/org/apache/camel/component/influxdb2/converters/CamelInfluxDbConverterTest.java
  components/camel-influxdb2/src/test/resources/influxdb2.test.properties
  components/camel-influxdb2/src/test/resources/log4j2.properties
  components/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies

#8834 [doc] Fix MinIO bucket and object destination
  components/camel-minio/src/generated/resources/org/apache/camel/component/minio/minio.json
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConfiguration.java
Labels: components

#8839 Fix a broken link to the test-infra document
  test-infra/README.md
Labels: test-infra

#8831 Cleanup the camel-opentelemetry codebase a bit
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/AttributeProcessor.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/GetCorrelationContextProcessor.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetrySpanAdapter.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/SetCorrelationContextProcessor.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/propagators/OpenTelemetryGetter.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/ABCRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/ClientRecipientListRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CustomComponentNameRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/MulticastParallelRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/MulticastRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/RouteConcurrentTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/SpanProcessorsTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/TestSEDASpanDecorator.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/TwoServiceTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/TwoServiceWithExcludeTest.java
Labels: components

#8843 (chores) docs: fix broken documentation link
  docs/user-manual/modules/ROOT/pages/book-getting-started.adoc
Labels: docs

#8846 CAMEL-18795: fix not closing the Kafka consumer
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerStopIT.java
Labels: components, components-kafka

#8847 CAMEL-18770: move the blueprint archetype information to Camel Karaf
  docs/user-manual/modules/ROOT/pages/camel-maven-archetypes.adoc
Labels: docs

#8837 CAMEL-18743 - camel-jbang - Command to see only if everything is okay…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelCount.java
Labels: dsl

#8844 Update PostgreSQL JDBC Driver to 42.4.3
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8854 (chores) replacing more inner classes with lambda
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/JaxbDataFormat.java
  components/camel-jgroups/src/main/java/org/apache/camel/component/jgroups/JGroupsFilters.java
  components/camel-jgroups/src/main/java/org/apache/camel/component/jgroups/cluster/JGroupsLockClusterView.java
  components/camel-jmx/src/main/java/org/apache/camel/component/jmx/JMXConsumer.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumer.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpSupport.java
  components/camel-metrics/src/main/java/org/apache/camel/component/metrics/messagehistory/MetricsMessageHistoryService.java
Labels: components

#8820 CAMEL-14831: Add camel-rocketmq component
  catalog/camel-allcomponents/pom.xml
  components/camel-rocketmq/pom.xml
  components/camel-rocketmq/src/generated/java/org/apache/camel/component/rocketmq/RocketMQComponentConfigurer.java
  components/camel-rocketmq/src/generated/java/org/apache/camel/component/rocketmq/RocketMQEndpointConfigurer.java
  components/camel-rocketmq/src/generated/java/org/apache/camel/component/rocketmq/RocketMQEndpointUriFactory.java
  components/camel-rocketmq/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-rocketmq/src/generated/resources/META-INF/services/org/apache/camel/component/rocketmq
  components/camel-rocketmq/src/generated/resources/META-INF/services/org/apache/camel/configurer/rocketmq-component
  components/camel-rocketmq/src/generated/resources/META-INF/services/org/apache/camel/configurer/rocketmq-endpoint
  components/camel-rocketmq/src/generated/resources/META-INF/services/org/apache/camel/urifactory/rocketmq-endpoint
  components/camel-rocketmq/src/generated/resources/org/apache/camel/component/rocketmq/rocketmq.json
  components/camel-rocketmq/src/main/docs/rocketmq-component.adoc
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQAclUtils.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQComponent.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQConstants.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQConsumer.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQEndpoint.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQMessageConverter.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQProducer.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/SendFailedException.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/reply/ReplyHandler.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/reply/ReplyHolder.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/reply/ReplyManager.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/reply/ReplyTimeoutMap.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/reply/RocketMQReplyHandler.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/reply/RocketMQReplyManagerSupport.java
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRequestReplyRouteTest.java
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRouteTest.java
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/infra/EmbeddedRocketMQServer.java
  components/camel-rocketmq/src/test/resources/logback-test.xml
  components/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies

#8850 CAMEL-18875: backport
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerStopIT.java
Labels: components, components-kafka

#8858 (chores) camel-hdfs: use standard charsets on tests
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/integration/HdfsAppendIT.java
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/integration/HdfsConsumerIntegrationIT.java
Labels: components

#8853 CAMEL-18800 - Support Camel K integration in JBang run command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#8855 Node prefix ID
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templatedRoute.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringRouteNodePrefixIdDuplicateTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringRouteNodePrefixIdTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/routebuilder/SpringTemplatedRoutePrefixIdTest.java
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/SpringRouteNodePrefixIdDuplicateTest.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/SpringRouteNodePrefixIdTest.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/routebuilder/SpringTemplatedRoutePrefixIdTest.xml
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-api/src/main/java/org/apache/camel/RouteTemplateContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultCamelContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightRuntimeCamelContext.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/templatedRoute.json
  core/camel-core-model/src/main/java/org/apache/camel/builder/TemplatedRouteBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/model/Model.java
  core/camel-core-model/src/main/java/org/apache/camel/model/OptionalIdentifiedDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
  core/camel-core-model/src/main/java/org/apache/camel/model/TemplatedRouteDefinition.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplatePrefixIdTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/RouteNodePrefixIdDuplicateTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/RouteNodePrefixIdTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainTemplatedRoutePrefixIdTest.java
  core/camel-support/src/main/java/org/apache/camel/support/LocalBeanRegistry.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  docs/user-manual/modules/ROOT/pages/route-template.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RouteTemplateTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RoutesTest.groovy
Labels: components, core, catalog, docs, dsl

#8861 CAMEL-18804 update documentation camel-sftp component
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpConfiguration.java
Labels: components

#8867 CAMEL-18131 - aws2 sns health
  catalog/camel-allcomponents/pom.xml
  components/camel-aws/camel-aws2-sns/pom.xml
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Component.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Endpoint.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2HealthCheck.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/Sns2HealthCheckProfileCredsTest.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/Sns2HealthCheckStaticCredsTest.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/SnsComponentVerifierExtensionTest.java
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies

#8872 (chores) documentation: cleanup the first sections of the getting started
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs

#8875 Fix Flaky Tests Caused by JSON permutations
  components/camel-gson/src/test/java/org/apache/camel/component/gson/GsonFieldNamePolicyTest.java
  components/camel-gson/src/test/java/org/apache/camel/component/gson/GsonMarshalExclusionTest.java
  components/camel-gson/src/test/java/org/apache/camel/component/gson/SpringGsonFieldNamePolicyTest.java
Labels: components

#8859 [Hyperledger-Aries] Add support for service=didexchange
  components/camel-hyperledger-aries/docker-compose.yml
  components/camel-hyperledger-aries/src/generated/java/org/apache/camel/converter/aries/ReceiveInvitationFilterConverterLoader.java
  components/camel-hyperledger-aries/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/HyperledgerAriesComponent.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/HyperledgerAriesProducer.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/AbstractServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/DidExchangeServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/OutOfBandServiceHandler.java
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/converter/aries/ReceiveInvitationFilterConverter.java
  components/camel-hyperledger-aries/src/test/java/org/apache/camel/component/aries/PresentationExchangeTest.java
Labels: components

#8876 (chores) documentation: initial cleanup of fundamentals
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs

#8877 (chores) documentation: fixes some typos and cleanup redundant terms
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs

#8879 (chores) documentation: add a section about creating the project
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs

#8880 (chores) replace raw empty collections by generic one
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceHealth.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractDynamicRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/ProvisionalEndpointRegistry.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesComponent.java
  core/camel-util/src/main/java/org/apache/camel/util/OgnlHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/URIScanner.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KnownKameletRoutesBuilderLoader.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
Labels: core, dsl, tooling, tooling-maven

#8871 CAMEL-18796: backport
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#8882 (chores) documentation: complement documentation about understanding the sample project
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs

#8881 [Camel-18808] add support for CamelAzureStorageBlobBlobUploadSize in uploadBlockBlob operation
  components/camel-azure/camel-azure-storage-blob/src/generated/resources/org/apache/camel/component/azure/storage/blob/azure-storage-blob.json
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConstants.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobStreamAndLength.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientWrapper.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobOperationsIT.java
Labels: components, components-azure

#8884 CAMEL-18660: Upgrade LocalStack to 1.3.0 that contains kinesis-mock
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSContainer.java
Labels: test-infra

#8885 Backport resume API fix
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
Labels: components, components-kafka

#8889 (chores) documentation: rework context documentation
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs

#8890 (chores) documentation: reworked the component documentation
  docs/main/modules/getting-started/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/component.adoc
Labels: docs

#8891 Update camel-jbang.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs

#8888 CAMEL-18809: RouteDefinitionHelper should resolve the intercepted fro…
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplateInterceptFromAndInterceptSendToEndpointWithPlaceholderTest.java
Labels: core

#8894 Upgrade commons-net to 3.9.0
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8895 Upgrade kafka-clients versions
  camel-dependencies/pom.xml
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies

#8898 Update hbase to 2.5.2
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8899 Update sshd-version to 2.9.2
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8901 [Hyperledger-Aries] Add support for service=present-proof/send-proposal
  components/camel-hyperledger-aries/src/main/java/org/apache/camel/component/aries/handler/PresentProofServiceHandler.java
Labels: components

#8902 CAMEL-18812 Fix REST DSL configuration placeholder for id
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
Labels: core

#8795 CAMEL-18739 fix by handing over the completion to the original exchange
  components/camel-zipfile/pom.xml
  components/camel-zipfile/src/test/java/org/apache/camel/processor/aggregate/zipfile/ZipAggregationStrategySplitTest.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
Labels: components, core

#8904 CAMEL-16262 fixed automaticRetriesDisabled option setting in http component
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
Labels: components

#8905 CAMEL-18817: camel-hbase - Support append and increment operations in the producer
  components/camel-hbase/src/main/docs/hbase-component.adoc
  components/camel-hbase/src/main/java/org/apache/camel/component/hbase/HBaseConstants.java
  components/camel-hbase/src/main/java/org/apache/camel/component/hbase/HBaseProducer.java
  components/camel-hbase/src/test/java/org/apache/camel/component/hbase/HBaseProducerIT.java
Labels: components

#8906 Upgrade to couchbase 3.4.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8908 CAMEL-18819 hbase: excluded audience-annotations from zookeeper
  components/camel-hbase/pom.xml
Labels: components

#8907 CAMEL-18816: camel-ahc component crashes when traffic starts too early
  components/camel-ahc/src/main/java/org/apache/camel/component/ahc/AhcEndpoint.java
  components/camel-ahc/src/main/java/org/apache/camel/component/ahc/AhcProducer.java
  components/camel-ahc/src/test/java/org/apache/camel/component/ahc/AhcRecipientListInOnlyWithTryBlockTest.java
  components/camel-ahc/src/test/java/org/apache/camel/component/ahc/AhcRecipientListInOutWithTryBlockTest.java
  components/camel-ahc/src/test/java/org/apache/camel/component/ahc/AhcRecipientListTest.java
Labels: components

#8909 Upgrade to kubernetes client 6.3.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8713 CAMEL-18661: Make span current and clear scope properly for async processing
  components/camel-cdi/src/test/java/org/apache/camel/cdi/test/CamelEventNotifierTest.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetrySpanAdapter.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CurrentSpanTest.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/SpanAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/ActiveSpanManagerTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/MockSpanAdapter.java
  core/camel-api/src/main/java/org/apache/camel/spi/CamelEvent.java
  core/camel-api/src/main/java/org/apache/camel/spi/EventFactory.java
  core/camel-api/src/main/java/org/apache/camel/spi/EventNotifier.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base/src/main/java/org/apache/camel/impl/event/DefaultEventFactory.java
  core/camel-base/src/main/java/org/apache/camel/impl/event/ExchangeAsyncProcessingStartedEvent.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendProcessor.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierExchangeSentTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierFailureHandledEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierRedeliveryEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/MultipleEventNotifierEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/interceptor/DebugTest.java
  core/camel-management/src/test/java/org/apache/camel/management/AddEventNotifierTest.java
  core/camel-management/src/test/java/org/apache/camel/management/JmxNotificationEventNotifierTest.java
  core/camel-management/src/test/java/org/apache/camel/management/PublishEventNotifierTest.java
  core/camel-management/src/test/java/org/apache/camel/management/RemoveEventNotifierTest.java
  core/camel-support/src/main/java/org/apache/camel/support/EventHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/SimpleEventNotifierSupport.java
Labels: components, core

#8911 CAMEL-18661: clean-ups
  components/camel-cdi/src/test/java/org/apache/camel/cdi/test/CamelEventNotifierTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CurrentSpanTest.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
Labels: components

#8919 Upgrade Kudu to 1.16.0
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8920 CAMEL-18827: camel-kudu - Fix unit test failure with JDK 17
  components/camel-kudu/pom.xml
Labels: components

#8924 CAMEL-18828 (addendum): camel-kudu - Update the component reference
  components/camel-kudu/src/main/docs/kudu-component.adoc
Labels: components

#8928 CAMEL-18829: camel-yaml-dsl - generate-yaml-schema - Support `additio…
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
Labels: dsl

#8929 (chores) replace size() > 0 by !isEmpty()
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailConsumer.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/vault/CloudTrailReloadTriggerTask.java
  components/camel-exec/src/main/java/org/apache/camel/component/exec/impl/DefaultExecCommandExecutor.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpOperations.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/BatchGoogleCalendarClientFactory.java
Labels: components, components-aws

#8931 (chores) More of replace size() > 0 by !isEmpty()
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/BatchGoogleDriveClientFactory.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/BatchGoogleMailClientFactory.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/BatchGoogleSheetsClientFactory.java
  components/camel-olingo4/camel-olingo4-api/src/main/java/org/apache/camel/component/olingo4/api/impl/Olingo4AppImpl.java
  components/camel-test/camel-test-spring/src/main/java/org/apache/camel/test/spring/CamelAnnotationsHandler.java
Labels: components

#8935 (chores) Lasts sonar issues about replace size() > 0 by !isEmpty()
  components/camel-test/camel-test/src/main/java/org/apache/camel/test/junit4/CamelTestSupport.java
  components/camel-wal/src/main/java/org/apache/camel/component/wal/LogWriter.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/DefaultDevConsoleRegistry.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/AdviceWithTasks.java
  core/camel-health/src/main/java/org/apache/camel/impl/health/DefaultHealthCheckRegistry.java
Labels: components, core

#8934 Tracing: fix flaky test and add scope checks before closing
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CurrentSpanTest.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
Labels: components

#8914 camel-jbang - Upgrade to Camel 3.20.0
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl

#8940 camel-jbang - Upgrade to Camel 3.20.0 (3.20.x)
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl

#8941 CAMEL-18834: camel-core - StringQuoteHelper should remove quotes for …
  core/camel-core/src/test/java/org/apache/camel/util/StingQuoteHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
  core/camel-util/src/main/java/org/apache/camel/util/StringQuoteHelper.java
Labels: core

#8942 Fix spelling mistake
  core/camel-core-engine/src/main/docs/modules/eips/pages/log-eip.adoc
Labels: core

#8943 CAMEL-18839: Upgrade to Kafka 3.3.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8944 [CAMEL-15111] Fixes bug in camel-as2 via not forcing ascii charset when not specified
  components/camel-as2/camel-as2-api/pom.xml
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/EntityParser.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/io/AS2SessionInputBuffer.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/pom.xml
Labels: components

#8946 CAMEL-18835: OnCompletionProcessor#onFailure callback fires more than…
  core/camel-core-processor/src/main/java/org/apache/camel/processor/OnCompletionProcessor.java
  core/camel-core/src/test/java/org/apache/camel/model/RouteConfigurationOnCompletionTest.java
Labels: core

#8947 [CAMEL-18842] Checks for compression before throwing exception
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/HttpMessageUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
Labels: components

#8948 docs: camel-kafka - Enumerate all options for compressionCodec
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka

#8951 Fix the misspelled kabooms
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeadLetterQueueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeadLetterQueueUsingTransferExchangeTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsOnCompletionAndInterceptAndOnExceptionTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsOnCompletionTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTransferExceptionTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/RouteIdTransactedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerDeleteAndFailureTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerDeleteAndMoveFailedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerMoveAndMoveFailureTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerMoveFailureOnCompletionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerMoveFailureTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/ExpressionAdapterTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/ExpressionSupportTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/OnExceptionBeforeErrorHandlerIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/RecipientListErrorHandlingIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/model/RouteConfigurationOnCompletionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/DefaultErrorHandlerExplicitConfiguredTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/DefaultErrorHandlerOnExceptionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/DefaultErrorHandlerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ErrorHandlerWrappedEachNodeTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionAndInterceptAndOnExceptionGlobalTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionAndInterceptGlobalTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionAndInterceptTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionAsyncTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionFailAndOkTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionGlobalTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionMoreGlobalRouteCompletionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionMoreGlobalTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionOnCompleteOnlyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionRouteScopeOverrideGlobalScopeTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionUseOriginalBodyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/RouteIdTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedRouteWithOnExceptionTest.java
  dsl/camel-xml-jaxb-dsl-test/definition/src/test/java/org/apache/camel/dsl/xml/jaxb/definition/LoadRouteFromXmlWithOnExceptionTest.java
Labels: components, core, dsl, components-jms

#8959 Typo in migration guide
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_11.adoc
Labels: docs
