Repository apache/camel, pull requests merged in 2023-09, with the labels that each got.

#11264 [CAMEL-19703] Follow up: Align kebab-case properties usage to camelCase
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/MarshalTest.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-dto-v3/verify.groovy
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslYamlGenerator.java
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreWithRestComponentYaml.txt
Labels: dsl, tooling, tooling-maven, camel-4

#11266 Upgrade Vertx to version 4.4.5
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11265 Upgrade AWS SDK v2 to version 2.20.138
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/stream/AWS2S3StreamUploadProducer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/utils/AWS2S3Utils.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadTimeoutIT.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpTcpClientProducer.java
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaEndpoint.java
  parent/pom.xml
Labels: components, components-aws, core-build-and-dependencies, camel-4

#11268 CAMEL-19776 for 3.21.x
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/NoopTracingStrategy.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategy.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategyTest.java
Labels: components

#11270 CAMEL-19798: Consistently set camel-kamelets version in Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogKamelet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/VersionHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/run-custom-camel-version.tmpl
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderKamelet.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderRoutesLoader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KnownKameletRoutesBuilderLoader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/util/VersionHelper.java
Labels: dsl

#11273 CAMEL-19737: Updates aws2-sns queueUrl to queueArn (#11101)
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2ComponentConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointUriFactory.java
  components/camel-aws/camel-aws2-sns/src/generated/resources/org/apache/camel/component/aws2/sns/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Configuration.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Endpoint.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/SnsComponentConfigurationTest.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/integration/SnsTopicProducerWithSubscriptionIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2SnsComponentBuilderFactory.java
Labels: components, catalog, dsl, components-aws

#11271 CAMEL-19398: fixed MongoDB tests due to missing converter setup
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/converters/MongoDbBasicConvertersLoader.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/converters/MongoDbBasicConverters.java
Labels: components, camel-4

#11276 camel-dhis2: fix flaky test
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
Labels: components, camel-4

#11277 (chores) camel-core: cleanup skipping tests on AIX
  core/camel-core/src/test/java/org/apache/camel/processor/ConvertBodyTest.java
Labels: core, camel-4

#11272 CAMEL-19822: must not ensure relative because target expects absolute
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/FilesOperations.java
Labels: components, components-azure, camel-3

#11275 Camel 17027 make aws streaming thread safe
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/stream/AWS2S3StreamUploadProducer.java
Labels: components, components-aws, camel-4

#11281 [CAMEL-19813] camel-yaml-dsl - Error handler should be oneOf
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/ErrorHandlerBuilderDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: dsl, camel-4

#11282 CAMEL-19731: AS2 - Set the correct application entity class
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
Labels: components

#11283 camel-netty - Fix doc about SSL configuration
  components/camel-netty/src/main/docs/netty-component.adoc
Labels: components

#11280 CAMEL-19752: camel-elasticsearch - Add a doc-only mode to ease migration
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch.json
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchComponentConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointUriFactory.java
  components/camel-elasticsearch/src/generated/resources/org/apache/camel/component/es/elasticsearch.json
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponent.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConfiguration.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConstants.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/converter/ElasticsearchActionRequestConverter.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchBulkIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElasticsearchComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ElasticsearchEndpointBuilderFactory.java
Labels: components, catalog, dsl

#11286 CAMEL-19752: camel-elasticsearch - Add a doc-only mode to ease migration
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch.json
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchComponentConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointUriFactory.java
  components/camel-elasticsearch/src/generated/resources/org/apache/camel/component/es/elasticsearch.json
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponent.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConfiguration.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConstants.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/converter/ElasticsearchActionRequestConverter.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchBulkIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElasticsearchComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ElasticsearchEndpointBuilderFactory.java
Labels: components, catalog, dsl

#11287 CAMEL-19752: camel-elasticsearch - Add a doc-only mode to ease migration
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch.json
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchComponentConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointUriFactory.java
  components/camel-elasticsearch/src/generated/resources/org/apache/camel/component/es/elasticsearch.json
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponent.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConfiguration.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConstants.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/converter/ElasticsearchActionRequestConverter.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchBulkIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElasticsearchComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ElasticsearchEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-3

#11288 CAMEL-19752: camel-elasticsearch - Add a doc-only mode to ease migration
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch.json
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchComponentConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointUriFactory.java
  components/camel-elasticsearch/src/generated/resources/org/apache/camel/component/es/elasticsearch.json
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponent.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConfiguration.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConstants.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/converter/ElasticsearchActionRequestConverter.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchBulkIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElasticsearchComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ElasticsearchEndpointBuilderFactory.java
Labels: components, catalog, dsl

#11289 CAMEL-19752: camel-elasticsearch - Add a doc-only mode to ease migration
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch.json
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchComponentConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointConfigurer.java
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/ElasticsearchEndpointUriFactory.java
  components/camel-elasticsearch/src/generated/resources/org/apache/camel/component/es/elasticsearch.json
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponent.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConfiguration.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchConstants.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/converter/ElasticsearchActionRequestConverter.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchBulkIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElasticsearchComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ElasticsearchEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#11278 (chores) camel-core: use StringHelper when possible
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/URISupport.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultDumpRoutesStrategy.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileRouteOnDosWithNoVolTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultComponent.java
  core/camel-support/src/main/java/org/apache/camel/support/LoggerHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
Labels: core, camel-4

#11267 Upgrade Fastjson to version 2.0.39
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11291 Upgrade AWS SDK v2 to version 2.20.140
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/FilesOperations.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/TransactionStrategy.java
  core/camel-core/src/test/java/org/apache/camel/processor/ConvertBodyTest.java
  parent/pom.xml
Labels: components, core, components-azure, core-build-and-dependencies, camel-4

#11285 CAMEL-19783: Added reconnection, even if a message has not yet been received
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/PubSubApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/PubSubApiClient.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/PubSubApiTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/pubsub/SendOneMessagePubSubServer.java
Labels: components, camel-4

#11292 Upgrade Caffeine to version 3.1.8
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11293 Upgrade JT400 to version 20.0.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11294 Upgrade Pulsar to version 3.1.0
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11295 CAMEL-19816: Add headers to camel-platform-http-vertx for the connection local and remote address
  components/camel-platform-http-vertx/src/main/docs/platform-http-vertx.adoc
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConstants.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
Labels: components, camel-4

#11297 Improve generation of README for camel-examples
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareExampleMojo.java
Labels: tooling, tooling-maven, camel-4

#11298 CAMEL-19398: fixed type mismatch in converter tests
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/integration/HdfsConsumerIntegrationIT.java
Labels: components, camel-4

#11300 CAMEL-19831 - Camel-Azure: Upgrade Azure SDK BOM to version 1.2.16
  parent/pom.xml
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11301 CAMEL-19832: disable camel-rocketmq tests because they are unreliable
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRequestReplyRouteTest.java
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRouteTest.java
Labels: components, camel-4

#11303 (chores) camel-core: setup and cleanup the data after test execution
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerCharsetUTFtoISOConvertBodyToTest.java
Labels: core, camel-4

#11299 CAMEL-19828 - twilio - gneralization of Phone converter
  components/camel-twilio/src/generated/java/org/apache/camel/component/twilio/TwilioConverterLoader.java
  components/camel-twilio/src/main/java/org/apache/camel/component/twilio/TwilioConverter.java
  components/camel-twilio/src/test/java/org/apache/camel/component/twilio/TwilioEndpointTest.java
Labels: components, camel-4

#11304 CAMEL-19801: pre-work for cleaning up copying exchanges
  core/camel-core/src/test/java/org/apache/camel/support/AbstractExchangeTest.java
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultPooledExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/ExtendedExchangeExtension.java
Labels: core, camel-4

#11306 CAMEL-19398: removed unused methods
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
Labels: core, camel-4

#11302 [CAMEL-19834] fix camel-test-infra-elasticsearch container start fails if ca cert is not present
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerService.java
Labels: test-infra, camel-4

#11308 CAMEL-19783: Added reconnection, even if a message has not yet been r…
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/PubSubApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/PubSubApiClient.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/PubSubApiTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/pubsub/SendOneMessagePubSubServer.java
Labels: components

#11310 CAMEL-19838 - Upgrade Debezium to version 2.0.33.Final
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRequestReplyRouteTest.java
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRouteTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerCharsetUTFtoISOConvertBodyToTest.java
  parent/pom.xml
Labels: components, core, core-build-and-dependencies, camel-4

#11305 CAMEL-19837: let the converter decide the appropriate datatype for conversion
  components/camel-flatpack/src/generated/java/org/apache/camel/component/flatpack/FlatpackConverterLoader.java
  components/camel-flatpack/src/main/java/org/apache/camel/component/flatpack/FlatpackConverter.java
Labels: components, camel-4

#11311 Upgrade JGit to version 6.6.1.202309021850-r
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11309 [CAMEL-19836] camel-yaml-dsl: schema: fix routeConfiguration/{onExcep…
  core/camel-api/src/generated/java/org/apache/camel/spi/annotations/YamlProperty.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteConfigurationDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/annotations/YamlProperty.java
Labels: core, dsl, tooling, camel-4

#11315 Disable camel-djl on ppc64le & use AGENT_LABEl as jenkins-osu-power9-2
  Jenkinsfile.ppc64le
  components/camel-djl/pom.xml
Labels: components, ci, camel-4

#11313 CAMEL-19840: camel-core-api - Warn when the key store cannot be found
  core/camel-api/src/main/java/org/apache/camel/support/jsse/KeyStoreParameters.java
Labels: core

#11316 CAMEL-19840: camel-core-api - Warn when the key store cannot be found
  core/camel-api/src/main/java/org/apache/camel/support/jsse/KeyStoreParameters.java
Labels: core

#11317 CAMEL-19840: camel-core-api - Warn when the key store cannot be found
  core/camel-api/src/main/java/org/apache/camel/support/jsse/KeyStoreParameters.java
Labels: core, camel-3

#11318 CAMEL-19840: camel-core-api - Warn when the key store cannot be found
  core/camel-api/src/main/java/org/apache/camel/support/jsse/KeyStoreParameters.java
Labels: core

#11319 CAMEL-19840: camel-core-api - Warn when the key store cannot be found
  core/camel-api/src/main/java/org/apache/camel/support/jsse/KeyStoreParameters.java
Labels: core, camel-4

#11320 CAMEL-19841 - Upgrade Testcontainers to version 1.19.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11325 [CAMEL-19700] camel-yaml-dsl: Add "additionalProperties: false" on ev…
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/BeanTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/CircuitBreakerTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ClaimCheckTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ConvertBodyTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ErrorHandlerTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ExpressionTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/IdempotentConsumerTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/InterceptFromTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/InterceptSendToEndpointTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/InterceptTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/JSonPathSuppressTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/LineNumberTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/LoadBalanceTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/LogTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/MulticastTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/OnCompletionTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/OnExceptionTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RemoveHeaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RemovePropertyTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RestTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RollbackTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RouteConfigurationTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RouteTemplateTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RoutesTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/SampleTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ServiceCallTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/SetExchangePatternTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/SetHeaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/SetPropertyTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/TemplatedRouteTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ThreadsTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ThrowExceptionTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/TryTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/WireTapTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/stuff/my-route-comment.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/stuff/my-route.yaml
Labels: dsl, camel-4

#11324 Updating Kudu to 1.17.0 (#11323)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#11326 Updating Kudu to 1.17.0 (#11323) (#11324)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#11328 Updating Kudu to 1.17.0 (#11323) (#11324) (#11326)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#11329 Upgrade AWS SDK v2 to version 2.20.142
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#11332 [4.0.x] CAMEL-19816: Add headers to camel-platform-http-vertx for the connection local and remote address
  components/camel-platform-http-vertx/src/main/docs/platform-http-vertx.adoc
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConstants.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
Labels: components

#11331 CAMEL-19842: fix not creating/refreshing seda queues
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaEndpoint.java
Labels: components, camel-4

#11333 CAMEL-19801: fixed missing deep-copy
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
Labels: core, camel-4

#11337 Camel-Servicenow: remove deprecated maven plugin artifacts
  components/camel-servicenow/camel-servicenow-maven-plugin/pom.xml
  components/camel-servicenow/camel-servicenow-maven-plugin/src/test/java/org/apache/camel/maven/CamelServiceNowGenerateMojoTest.java
Labels: components, camel-4

#11338 Upgrade sshd 2.10.0
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#11340 Upgrade sshd 2.10.0 (#11338)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#11343 Fix incorrect URI format in camel-grpc docs
  components/camel-grpc/src/main/docs/grpc-component.adoc
Labels: components, camel-4

#11344 [4.0.x] Fix incorrect URI format in camel-grpc docs
  components/camel-grpc/src/main/docs/grpc-component.adoc
Labels: components

#11345 [3.21.x] Fix incorrect URI format in camel-grpc docs
  components/camel-grpc/src/main/docs/grpc-component.adoc
Labels: components

#11342 Upgrade sshd 2.10.0 (#11338) (#11340)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#11335 Backport CAMEL-19842 to 4.0.x
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaEndpoint.java
Labels: components

#11348 CAMEL-19770: cleanup remaining catches of Throwables in components
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxUsersManagerIT.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyRedeliveryTest.java
  components/camel-undertow/src/test/java/org/apache/camel/component/undertow/UndertowHttp2Test.java
  components/camel-zookeeper-master/src/test/java/org/apache/camel/component/zookeepermaster/group/GroupIT.java
Labels: components, camel-4

#11349 (chores) removed redundant casts
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerProducer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Consumer.java
  components/camel-huawei/camel-huaweicloud-dms/src/main/java/org/apache/camel/component/huaweicloud/dms/models/DmsRegion.java
  components/camel-spring/src/main/java/org/apache/camel/spring/spi/TransactionErrorHandlerReifier.java
  components/camel-xmlsecurity/src/main/java/org/apache/camel/component/xmlsecurity/api/DefaultXmlSignature2Message.java
  components/camel-xmlsecurity/src/main/java/org/apache/camel/component/xmlsecurity/processor/XmlVerifierProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelBeanPostProcessor.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
Labels: components, core, dsl, components-aws, camel-4

#11350 (chores) removed code
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/OpenApiRestProducerFactory.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerProducer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceProducer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/SalesforceSession.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/processor/QueryResultIterator.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/AbstractBaseProcessor.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-common/src/main/java/org/apache/camel/dsl/yaml/common/YamlDeserializerSupport.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/support/DIRegistry.java
Labels: components, dsl, tooling, camel-4

#11351 (chores) camel-package-maven-plugin: removed unused code
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointDslMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateSensitizeHelper.java
Labels: tooling, tooling-maven, camel-4

#11353 CAMEL-19724: minor code cleanup and improvements
  core/camel-api/src/main/java/org/apache/camel/support/service/BaseService.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BasePackageScanResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
Labels: core, camel-4

#11356 Upgrade AWS SDK v2 to version 2.20.144
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/fixed/link/BindyRaceConditionLinkTest.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/OpenApiRestProducerFactory.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/AbstractBaseProcessor.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateSensitizeHelper.java
Labels: components, core, tooling, tooling-maven, core-build-and-dependencies, camel-4

#11357 Camel-AWS2-CW: Fixed tests after CAMEL-19833
  components/camel-aws/camel-aws2-cw/src/test/java/org/apache/camel/component/aws2/cw/CwComponentConfigurationTest.java
  components/camel-aws/camel-aws2-cw/src/test/java/org/apache/camel/component/aws2/cw/CwComponentRegistryClientTest.java
  components/camel-aws/camel-aws2-cw/src/test/java/org/apache/camel/component/aws2/cw/CwComponentTest.java
Labels: components, components-aws, camel-4

#11358 Camel-Jcache: Fixed tests after CAMEL-19833
  components/camel-jcache/src/test/java/org/apache/camel/component/jcache/JCacheConfigurationTest.java
Labels: components, camel-4

#11360 CAMEL-19844 - Add SBOM to release
  pom.xml
Labels: camel-4

#11362 Upgrade AWS SDK v2 to version 2.20.145
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11363 Upgrade Infinispan to version 14.0.17.Final
  parent/pom.xml
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11364 Upgrade JsonApi to version 0.13
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11370 Updating Jakarta El to 3.0.4
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#11366 CAMEL-19852 - Camel-platform-http-vertx: Always use normalized path f…
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
Labels: components

#11367 CAMEL-19852 - Camel-platform-http-vertx: Always use normalized path f…
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
Labels: components, camel-3

#11368 CAMEL-19852 - Camel-platform-http-vertx: Always use normalized path f…
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
Labels: components

#11369 CAMEL-19852 - Camel-platform-http-vertx: Always use normalized path f…
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
Labels: components

#11365 CAMEL-19852 - Camel-platform-http-vertx: Always use normalized path f…
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
Labels: components, camel-4

#11372 Upgrade Jgroups to version 5.3.0.Final
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11373 CAMEL-19853 - Camel-Thymeleaf: Fix Camel Catalog test and review the …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/thymeleaf.json
  components/camel-thymeleaf/src/generated/java/org/apache/camel/component/thymeleaf/ThymeleafEndpointUriFactory.java
  components/camel-thymeleaf/src/generated/resources/org/apache/camel/component/thymeleaf/thymeleaf.json
  components/camel-thymeleaf/src/main/java/org/apache/camel/component/thymeleaf/ThymeleafEndpoint.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ThymeleafEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#11374 Camel-Thymeleaf: First version is 4.1.0
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/thymeleaf.json
  components/camel-thymeleaf/src/generated/resources/org/apache/camel/component/thymeleaf/thymeleaf.json
  components/camel-thymeleaf/src/main/docs/thymeleaf-component.adoc
  components/camel-thymeleaf/src/main/java/org/apache/camel/component/thymeleaf/ThymeleafEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ThymeleafComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ThymeleafEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#11371 Updating Jakarta El to 3.0.4 (#11370)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#11378 fix(dsl): Kotlin compiler options
  dsl/camel-kotlin-dsl/src/main/kotlin/org/apache/camel/dsl/kotlin/KotlinCompilationConfiguration.kt
Labels: dsl, camel-4

#11377 Updating Jakarta El to 3.0.4 (#11370) (#11371)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#11379 [Backport] fix(dsl): Kotlin compiler options
  dsl/camel-kotlin-dsl/src/main/kotlin/org/apache/camel/dsl/kotlin/KotlinCompilationConfiguration.kt
Labels: dsl

#11383 Upgrade AWS SDK v2 to version 2.20.146
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11382 CAMEL-19860: prevent creating unnecessary BufferedInputStream instances
  components/camel-zipfile/src/main/java/org/apache/camel/dataformat/zipfile/ZipIterator.java
Labels: components, camel-4

#11384 Upgrade Libphonenumber to version 8.13.20
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11387 Revert back to label power9 on ppc64le
  Jenkinsfile.ppc64le
Labels: ci, camel-4

#11385 CAMEL-19866 - Camel-Pulsar: Support HashingScheme as uri parameter fo…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pulsar.json
  components/camel-pulsar/src/generated/java/org/apache/camel/component/pulsar/PulsarComponentConfigurer.java
  components/camel-pulsar/src/generated/java/org/apache/camel/component/pulsar/PulsarEndpointConfigurer.java
  components/camel-pulsar/src/generated/java/org/apache/camel/component/pulsar/PulsarEndpointUriFactory.java
  components/camel-pulsar/src/generated/resources/org/apache/camel/component/pulsar/pulsar.json
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarConfiguration.java
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarProducer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PulsarComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PulsarEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#11388 Fix spelling error in 4.0.x DEBEZIUM doc
  components/camel-debezium/camel-debezium-db2/src/main/docs/debezium-db2-component.adoc
  components/camel-debezium/camel-debezium-mongodb/src/main/docs/debezium-mongodb-component.adoc
  components/camel-debezium/camel-debezium-mysql/src/main/docs/debezium-mysql-component.adoc
  components/camel-debezium/camel-debezium-oracle/src/main/docs/debezium-oracle-component.adoc
  components/camel-debezium/camel-debezium-postgres/src/main/docs/debezium-postgres-component.adoc
  components/camel-debezium/camel-debezium-sqlserver/src/main/docs/debezium-sqlserver-component.adoc
Labels: components

#11390 Fix spelling error in 4.1.x DEBEZIUM doc
  components/camel-debezium/camel-debezium-db2/src/main/docs/debezium-db2-component.adoc
  components/camel-debezium/camel-debezium-mongodb/src/main/docs/debezium-mongodb-component.adoc
  components/camel-debezium/camel-debezium-mysql/src/main/docs/debezium-mysql-component.adoc
  components/camel-debezium/camel-debezium-oracle/src/main/docs/debezium-oracle-component.adoc
  components/camel-debezium/camel-debezium-postgres/src/main/docs/debezium-postgres-component.adoc
  components/camel-debezium/camel-debezium-sqlserver/src/main/docs/debezium-sqlserver-component.adoc
Labels: components, camel-4

#11391 CAMEL-19868: removed unused exception in URISupport.normalizeUri
  components/camel-telegram/src/main/java/org/apache/camel/component/telegram/service/TelegramServiceRestBotAPIAdapter.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/EndpointHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/MockUtils.java
Labels: components, core, test-infra, camel-4

#11392 CAMEL-19868: removed duplicated code in camel-core-catalog
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/CatalogHelper.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/Pair.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/URISupport.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/UnsafeUriCharactersEncoder.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/io/YamlWriter.java
Labels: core, camel-4

#11393 Enable cassandra on ppc64le
  components/camel-cassandraql/pom.xml
Labels: components, camel-4

#11395 (chores) camel-components: use unmodifiable lists when possible
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/TestUtils.java
  components/camel-azure/camel-azure-cosmosdb/src/test/java/org/apache/camel/component/azure/cosmosdb/integration/CosmosDbProducerIT.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusProducerTest.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobOperationsIT.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/operations/BlobContainerOperationsTest.java
  components/camel-azure/camel-azure-storage-datalake/src/test/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeFileSystemOperationTest.java
  components/camel-azure/camel-azure-storage-queue/src/test/java/org/apache/camel/component/azure/storage/queue/operations/integration/QueueOperationsIT.java
  components/camel-azure/camel-azure-storage-queue/src/test/java/org/apache/camel/component/azure/storage/queue/operations/integration/QueueServiceOperationsIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulClusteredRoutePolicyFactoryIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulClusteredRoutePolicyIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulMasterIT.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvMarshalHeaderTest.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvMarshalHeaderWithCustomMarshallFactoryTest.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/jaxws/CxfProducerRouterTest.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/cluster/AbstractInfinispanRemoteClusteredIT.java
  components/camel-jgroups/src/test/java/org/apache/camel/component/jgroups/cluster/JGroupsLockMasterTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaProducerTest.java
  components/camel-knative/camel-knative-api/src/test/java/org/apache/camel/component/knative/spi/KnativeEnvironmentTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/KubernetesClusterServiceTest.java
  components/camel-master/src/test/java/org/apache/camel/component/master/MasterComponentTest.java
  components/camel-nitrite/src/test/java/org/apache/camel/component/nitrite/AbstractNitriteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarSuspendRouteIT.java
  components/camel-reactive-streams/src/test/java/org/apache/camel/component/reactive/streams/ConcurrentConsumersTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/health/HealthCheckRegistryTest.java
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/TelegramChatBotTest.java
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/TelegramConsumerFallbackConversionTest.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cluster/integration/ZooKeeperClusteredRoutePolicyFactoryIT.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cluster/integration/ZooKeeperClusteredRoutePolicyIT.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cluster/integration/ZooKeeperMasterIT.java
Labels: components, components-kafka, components-aws, components-azure, camel-4

#11396 (chores) camel-tooling: use unmodifiable lists when possible
  tooling/camel-tooling-util/src/test/java/org/apache/camel/tooling/util/PackageHelperTest.java
  tooling/maven/camel-api-component-maven-plugin/src/test/java/org/apache/camel/maven/AbstractGeneratorMojoTest.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGenerateMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/ModelXmlParserGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageJandexMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageModelMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCatalogMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SpiGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateSensitizeHelper.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/ValidateComponentMojo.java
  tooling/maven/sync-properties-maven-plugin/src/main/java/org/apache/camel/maven/sync/properties/SyncPropertiesMojo.java
Labels: tooling, tooling-maven, camel-4

#11394 (chores) camel-core: use unmodifiable lists when possible
  core/camel-cloud/src/test/java/org/apache/camel/impl/cloud/CombinedServiceFilterTest.java
  core/camel-cloud/src/test/java/org/apache/camel/impl/cloud/LoadBalancerTest.java
  core/camel-cloud/src/test/java/org/apache/camel/impl/cloud/ServiceDefinitionTest.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
  core/camel-core/src/test/java/org/apache/camel/issues/DynamicallyConcurrentlyAddRoutesTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/FileIdempotentTrunkStoreTest.java
  core/camel-core/src/test/java/org/apache/camel/support/processor/idempotent/FileIdempotentStoreOrderingTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainHealthCheckExcludedPatternTest.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
Labels: core, camel-4

#11399 Upgrade Groovy to version 4.0.15
  components/camel-telegram/src/main/java/org/apache/camel/component/telegram/service/TelegramServiceRestBotAPIAdapter.java
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/TelegramChatBotTest.java
  pom.xml
  tooling/maven/camel-api-component-maven-plugin/src/test/java/org/apache/camel/maven/AbstractGeneratorMojoTest.java
Labels: components, tooling, tooling-maven, camel-4

#11406 Upgrade Classgraph to version 4.8.162
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11408 CAMEL-19868: parse manually when necessary
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/CatalogHelper.java
Labels: core, camel-4

#11398 Update camel run properties description
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#11403 CAMEL-19493:cleanups: review and replace File#delete with Files#delete
  core/camel-util/src/main/java/org/apache/camel/util/FileUtil.java
Labels: core, camel-4

#11404 CAMEL-19859: camel-spring-rabbitmq set headerfilter not effective
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/DefaultMessagePropertiesConverter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/MessagePropertiesConverter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQComponent.java
Labels: components, camel-4

#11413 Use label as ppc64le
  Jenkinsfile.ppc64le
Labels: ci, camel-4

#11407 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components, camel-4

#11418 Use label as power-for-camel
  Jenkinsfile.ppc64le
Labels: ci, camel-4

#11414 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components

#11415 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components, camel-3

#11416 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components

#11417 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components

#11420 Refactored LDAP docs
  components/camel-ldap/src/main/docs/ldap-component.adoc
Labels: components, camel-4

#11419 Updated the documentation on Spring Webservice Component, remove Axiom reference because is no longer supported
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/spring-ws.json
  components/camel-spring-ws/src/generated/resources/org/apache/camel/component/spring/ws/spring-ws.json
  components/camel-spring-ws/src/main/docs/spring-ws-component.adoc
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/SpringWebserviceConfiguration.java
Labels: components, catalog, camel-4

#11409 (chores) camel-util: replace a few String-related duplications in URISupport
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
Labels: core, camel-4

#11410 Backport CAMEL-19859 to 4.0.x
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/DefaultMessagePropertiesConverter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/MessagePropertiesConverter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQComponent.java
Labels: components

#11431 CAMEL-19870: Camel AS2 Should accept MDN field name Disposition as case insensitive
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/DispositionMode.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/DispositionNotificationContentUtilsTest.java
Labels: components, camel-4

#11435 Upgrade AWS SDK v2 to version 2.20.149
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/SpringWebserviceConfiguration.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/CatalogHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/FileUtil.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SpringWebserviceEndpointBuilderFactory.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  parent/pom.xml
Labels: components, core, dsl, core-build-and-dependencies, camel-4

#11436 Camel-Kafka: Make Schema registries parameters generic
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, dsl, camel-4

#11422 [CAMEL-19875]HealthCheck is broken for KafkaConsumer
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerHealthCheckIT.java
Labels: components, components-kafka, camel-4

#11442 (chores) ci: improved text
  components/camel-ironmq/src/test/java/org/apache/camel/component/ironmq/integrationtest/FileCopyManualTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/manual/JettyManualTest.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/example/PubNubStateManualTest.java
Labels: components, camel-4

#11441 (chores) doc: minor updates to the contribution guide
  docs/main/modules/contributing/pages/index.adoc
Labels: docs, camel-4

#11439 (chores) camel-huaweicloud-dms: fixed tests that were named incorrectly
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceKafka1Test.java
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceKafka2Test.java
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceKafkaFunctional1Test.java
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceKafkaFunctional2Test.java
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceRmq1Test.java
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceRmq2Test.java
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceRmqFunctional1Test.java
  components/camel-huawei/camel-huaweicloud-dms/src/test/java/org/apache/camel/component/huaweicloud/dms/CreateInstanceRmqFunctional2Test.java
Labels: components, camel-4

#11438 (chores) camel-azure: avoid slow code paths
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/operations/BlobOperations.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/QueueConsumer.java
Labels: components, components-azure, camel-4

#11443 (chores) fixed incorrectly named tests
  components/camel-test/camel-test-spring-junit5/src/test/java/org/apache/camel/test/issues/AdviceWithOnExceptionTransactedTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/TwoTimerWithJMXIssueTest.java
Labels: components, core, camel-4

#11440 4.0.x camel 19875
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerHealthCheckIT.java
Labels: components, components-kafka, camel-4

#11451 Upgrade kubernetes-client to 6.8.1
  components/camel-kubernetes/src/generated/java/io/fabric8/kubernetes/client/ConfigFluentImplConfigurer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/utils/LockTestServer.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11453 Upgrade AWS SDK v2 to version 2.20.150
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#11452 (chores) camel-jetty: avoid hard-coded charset strings
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/CustomFiltersTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpBridgeMultipartRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpHeaderCaseTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpMethodRestrictTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyComponentMuteExceptionTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyMuteExceptionTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/MultiPartFormWithCustomFilterTest.java
Labels: components, camel-4

#11458 (chores) camel-jms: cleanup deliveryDelay tests
  tests/camel-itest-jms2/src/test/java/org/apache/camel/itest/jms2/Jms2DeliveryDelayTest.java
Labels: tests, camel-4

#11444 (chores) removed superfluous overrides
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailConsumer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Consumer.java
  components/camel-caffeine/src/main/java/org/apache/camel/component/caffeine/cache/CaffeineCacheEndpoint.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsComponent.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFilePollingConsumer.java
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultProducer.java
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultPropertiesFunction.java
  components/camel-huawei/camel-huaweicloud-frs/src/main/java/org/apache/camel/component/huaweicloud/frs/FaceRecognitionProducer.java
  components/camel-huawei/camel-huaweicloud-functiongraph/src/main/java/org/apache/camel/FunctionGraphProducer.java
  components/camel-huawei/camel-huaweicloud-imagerecognition/src/main/java/org/apache/camel/component/huaweicloud/image/ImageRecognitionProducer.java
  components/camel-huawei/camel-huaweicloud-smn/src/main/java/org/apache/camel/component/huaweicloud/smn/SimpleNotificationProducer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-mybatis/src/main/java/org/apache/camel/component/mybatis/MyBatisComponent.java
  components/camel-quickfix/src/main/java/org/apache/camel/component/quickfixj/QuickfixjComponent.java
  components/camel-stitch/src/main/java/org/apache/camel/component/stitch/StitchProducer.java
  components/camel-stream/src/main/java/org/apache/camel/component/stream/StreamProducer.java
  components/camel-twitter/src/main/java/org/apache/camel/component/twitter/AbstractTwitterEndpoint.java
  components/camel-twitter/src/main/java/org/apache/camel/component/twitter/consumer/DefaultTwitterConsumer.java
Labels: components, components-kafka, components-aws, camel-4

#11456 CAMEL-19398: cleanup type statistics
  core/camel-base/src/main/java/org/apache/camel/impl/converter/ConverterStatistics.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/TypeConverterStatistics.java
Labels: core, camel-4

#11459 CAMEL-19884: Upgrade pooled-jms to 3.1.3
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11460 (chores) camel-spring-xml: minor test cleanup
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/interceptor/TransactedStackSizeBreakOnExceptionTest.java
Labels: components, camel-4

#11455 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components, camel-4

#11447 Fix integration test of camel-package-maven-plugin
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/src/it/HeaderSupport/invoker.properties
Labels: tooling, tooling-maven, camel-4

#11469 Updated spring boot component name for aws redshift
  components/camel-aws/camel-aws2-redshift/src/main/docs/aws2-redshift-data-component.adoc
Labels: components, components-aws, camel-4

#11464 [Backport-4.0.x] CAMEL-19885: Fix google-sheets-stream component OAuth
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-sheets-stream.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-sheets.json
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamComponentConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamEndpointConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/resources/org/apache/camel/component/google/sheets/google-sheets.json
  components/camel-google/camel-google-sheets/src/generated/resources/org/apache/camel/component/google/sheets/stream/google-sheets-stream.json
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsConfiguration.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamConfiguration.java
Labels: components, catalog

#11465 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components

#11467 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components

#11468 CAMEL-19871: camel-jooq - Set the proper scope to all test dependencies
  components/camel-jooq/pom.xml
Labels: components

#11470 CAMEL-18759: read the messages from the latest offset in the pausable consumer
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka, camel-4

#11472 (chores) do log exception messages
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cluster/ConsulClusterView.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulClusteredRoutePolicyFactoryIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulClusteredRoutePolicyIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulMasterIT.java
  components/camel-hdfs/src/main/java/org/apache/camel/component/hdfs/HdfsProducer.java
  components/camel-infinispan/camel-infinispan-embedded/src/test/java/org/apache/camel/component/infinispan/embedded/cluster/AbstractInfinispanEmbeddedClusteredTest.java
  components/camel-jgroups/src/test/java/org/apache/camel/component/jgroups/cluster/JGroupsLockMasterTest.java
  components/camel-master/src/test/java/org/apache/camel/component/master/MasterComponentTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/UnsharableCodecsConflicts2Test.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/UnsharableCodecsConflictsTest.java
  components/camel-zookeeper-master/src/main/java/org/apache/camel/component/zookeepermaster/group/internal/ZooKeeperGroup.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/cloud/ZooKeeperServiceRegistry.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/cluster/ZooKeeperClusterView.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cluster/integration/ZooKeeperClusteredRoutePolicyFactoryIT.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cluster/integration/ZooKeeperClusteredRoutePolicyIT.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cluster/integration/ZooKeeperMasterIT.java
  core/camel-core/src/test/java/org/apache/camel/component/file/cluster/FileLockClusteredRoutePolicyFactoryTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/cluster/FileLockClusteredRoutePolicyTest.java
Labels: components, core, camel-4

#11471 Backport CAMEL-18759 to 4.0.x
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka

#11473 Backport CAMEL-19842 to 3.x
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka, camel-3

#11475 (chores) use isBlank for testing blank Strings
  catalog/camel-catalog-maven/src/main/java/org/apache/camel/catalog/maven/DefaultMavenArtifactProvider.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2Component.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2Component.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamComponent.java
  components/camel-aws/camel-aws2-eventbridge/src/main/java/org/apache/camel/component/aws2/eventbridge/EventbridgeComponent.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Component.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2Component.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Component.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Component.java
  components/camel-aws/camel-aws2-timestream/src/main/java/org/apache/camel/component/aws2/timestream/Timestream2Component.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/CosmosDbComponent.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultComponent.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusComponent.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobComponent.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobOperationsIT.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeComponent.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/QueueComponent.java
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyFixedLengthFactory.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxUsersManagerIT.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbEndpoint.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvMarshalHeaderTest.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvMarshalHeaderWithCustomMarshallFactoryTest.java
  components/camel-exec/src/main/java/org/apache/camel/component/exec/impl/ExecParseUtils.java
  components/camel-file-watch/src/main/java/org/apache/camel/component/file/watch/FileWatchConsumer.java
  components/camel-google/camel-google-functions/src/main/java/org/apache/camel/component/google/functions/GoogleCloudFunctionsComponent.java
  components/camel-google/camel-google-secret-manager/src/main/java/org/apache/camel/component/google/secret/manager/GoogleSecretManagerComponent.java
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageComponent.java
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultComponent.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/DefaultHttpBinding.java
  components/camel-ironmq/src/main/java/org/apache/camel/component/ironmq/IronMQComponent.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioComponent.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiReader.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-salesforce/camel-salesforce-codegen/src/main/java/org/apache/camel/component/salesforce/codegen/ObjectDescriptions.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpConverters.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpEndpoint.java
  components/camel-stax/src/main/java/org/apache/camel/component/stax/StAXUtil.java
  components/camel-twitter/src/main/java/org/apache/camel/component/twitter/search/SearchConsumerHandler.java
  components/camel-twitter/src/main/java/org/apache/camel/component/twitter/timeline/TwitterTimelineEndpoint.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/DefaultUndertowHttpBinding.java
  core/camel-api/src/main/java/org/apache/camel/catalog/PropertiesValidationResult.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/CatalogHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleCodeGenerator.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/OgnlHelper.java
  dsl/camel-dsl-support/src/main/java/org/apache/camel/dsl/support/RouteBuilderLoaderSupport.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/xml/blueprint/BlueprintXmlBeansHandler.java
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloaderImpl.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/support/DIRegistry.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/Strings.java
  tooling/maven/camel-api-component-maven-plugin/src/test/resources/AddressGateway.java
  tooling/maven/camel-api-component-maven-plugin/src/test/resources/CustomGateway.java
  tooling/maven/camel-api-component-maven-plugin/src/test/resources/CustomerGateway.java
  tooling/maven/camel-api-component-maven-plugin/src/test/resources/DisputeGateway.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PropertyConfigurerGenerator.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateReadmeMojo.java
Labels: components, core, catalog, dsl, tooling, tooling-maven, components-aws, components-azure, camel-4

#11446 CAMEL-19880:camel-salesforce: component still depends on javax.annota…
  components/camel-salesforce/camel-salesforce-codegen/src/main/resources/sobject-picklist.vm
  components/camel-salesforce/camel-salesforce-codegen/src/main/resources/sobject-pojo-optional.vm
  components/camel-salesforce/camel-salesforce-codegen/src/main/resources/sobject-pojo.vm
  components/camel-salesforce/camel-salesforce-codegen/src/main/resources/sobject-query-records-optional.vm
  components/camel-salesforce/camel-salesforce-codegen/src/main/resources/sobject-query-records.vm
  components/camel-salesforce/camel-salesforce-component/pom.xml
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/dto/generated/ContentVersion.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/dto/generated/RecordType.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/Asset.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/Asset_LocalDateTime.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/Case.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/Case_PickListAccentMarkEnum.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/Case_PickListQuotationMarkEnum.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/Case_PickListSlashEnum.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/Case_PickListValueOverrideEnum.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/ComplexCalculatedFormula.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/QueryRecordsCase.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/QueryRecordsComplexCalculatedFormula.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/With_External_Id__c_Lookup.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/resources/generated/With_Reference__c.java
Labels: components, camel-4
