Repository apache/camel, pull requests merged in 2023-07, with the labels that each got.

#10554 Added ppc64le support for zookeeper image
  components/camel-zookeeper-master/pom.xml
  components/camel-zookeeper/pom.xml
Labels: components, camel-4

#10544 CAMEL-19285: prevent Kafka client from entering an endless loop
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/ReconnectErrorStrategy.java
Labels: components, components-kafka

#10561 Upgrade AWS SDK v2 to version 2.20.97
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10563 Upgrade Openstack4j to version 3.11
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10557 improve reproducible builds
  init/camel-bundle-plugin/src/main/java/org/apache/felix/bundleplugin/ManifestPlugin.java
  parent/pom.xml
  pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
Labels: tooling, tooling-maven, core-build-and-dependencies, core-build-tooling

#10550 Upgrade to Hadoop 3.3.6
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10566 Upgrade Fastjson to version 2.0.34
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10571 Upgrade to Parquet 1.13.1
  camel-dependencies/pom.xml
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormat.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10572 improve release process
  pom.xml
Labels: camel-4

#10574 Upgrade AWS SDK v2 to version 2.20.98
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10575 Upgrade DNSJava to version 3.5.2
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10577 Remove unnecessary dependency from camel-flink
  camel-dependencies/pom.xml
  components/camel-flink/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10580 Upgrade asn1bean to version 1.14.0
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10584 CAMEL-19573 - Stop syncing version properties in git, generate the effective camel-dependencies during the build
  camel-dependencies/pom.xml
  catalog/camel-catalog/pom.xml
  pom.xml
  tooling/maven/sync-properties-maven-plugin/src/main/java/org/apache/camel/maven/sync/properties/SyncPropertiesMojo.java
  tooling/maven/sync-properties-maven-plugin/src/main/resources/camel-dependencies-template.xml
Labels: catalog, tooling, tooling-maven, core-build-and-dependencies, camel-4

#10569 CAMEL-19570: Change max.poll.interval.ms type from Long to Integer to…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaComponentConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointConfigurer.java
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
  tooling/maven/camel-package-maven-plugin/src/test/resources/json/test_component.json
Labels: components, components-kafka, catalog, dsl, tooling, tooling-maven, camel-4

#10578 Upgrade to Pulsar 3.0.0
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#10587 Upgrade HAPI FHIR to 6.6.1
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirUpdateIT.java
  parent/pom.xml
  test-infra/camel-test-infra-fhir/src/test/java/org/apache/camel/test/infra/fhir/services/FhirLocalContainerService.java
Labels: components, test-infra, core-build-and-dependencies, camel-4

#10562 CAMEL-19566 fixed type of metrics for te doc
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/micrometer.json
  components/camel-micrometer/src/generated/resources/org/apache/camel/component/micrometer/micrometer.json
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MicrometerEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#10576 CAMEL-19571 - camel-parquet-avro: Add other compression codecs than gzip
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-parquet-avro/src/generated/resources/org/apache/camel/dataformat/parquet/avro/parquetAvro.json
  components/camel-parquet-avro/src/main/docs/parquetAvro-dataformat.adoc
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormat.java
  components/camel-parquet-avro/src/test/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroMarshalCompressionCodecTest.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/parquetAvro.json
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ParquetAvroDataFormat.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#10585 Upgrade Json Schema Validator to version 1.0.85
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10588 Upgrade woodstox-core to 6.5.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10591 Upgrade olingo 4 to 4.9.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10595 Upgrade Minio to version 8.5.4
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10598 Upgrade slack-api-client to 1.29.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10599 Prefer using camel.surefire.* properties where possible, remove superfluous surefire configuration, e.g. it is default or inherited anyway
  components/camel-asterisk/pom.xml
  components/camel-aws/camel-aws-secrets-manager/pom.xml
  components/camel-aws/camel-aws2-kms/pom.xml
  components/camel-aws/camel-aws2-lambda/pom.xml
  components/camel-aws/camel-aws2-sns/pom.xml
  components/camel-box/camel-box-component/pom.xml
  components/camel-cxf/camel-cxf-common/pom.xml
  components/camel-cxf/camel-cxf-rest/pom.xml
  components/camel-cxf/camel-cxf-soap/pom.xml
  components/camel-cxf/camel-cxf-spring-common/pom.xml
  components/camel-cxf/camel-cxf-spring-rest/pom.xml
  components/camel-cxf/camel-cxf-spring-soap/pom.xml
  components/camel-elasticsearch/pom.xml
  components/camel-facebook/pom.xml
  components/camel-flink/pom.xml
  components/camel-google/camel-google-functions/pom.xml
  components/camel-google/camel-google-secret-manager/pom.xml
  components/camel-google/camel-google-sheets/pom.xml
  components/camel-google/camel-google-storage/pom.xml
  components/camel-hazelcast/pom.xml
  components/camel-ignite/pom.xml
  components/camel-jcr/pom.xml
  components/camel-jgroups-raft/pom.xml
  components/camel-jgroups/pom.xml
  components/camel-jms/pom.xml
  components/camel-jpa/pom.xml
  components/camel-kudu/pom.xml
  components/camel-leveldb/pom.xml
  components/camel-mail/pom.xml
  components/camel-master/pom.xml
  components/camel-mina/pom.xml
  components/camel-mllp/pom.xml
  components/camel-observation/pom.xml
  components/camel-opensearch/pom.xml
  components/camel-opentelemetry/pom.xml
  components/camel-printer/pom.xml
  components/camel-pulsar/pom.xml
  components/camel-robotframework/pom.xml
  components/camel-rocketmq/pom.xml
  components/camel-rxjava/pom.xml
  components/camel-salesforce/camel-salesforce-component/pom.xml
  components/camel-sap-netweaver/pom.xml
  components/camel-service/pom.xml
  components/camel-servlet/pom.xml
  components/camel-sjms/pom.xml
  components/camel-sjms2/pom.xml
  components/camel-soap/pom.xml
  components/camel-undertow/pom.xml
  components/camel-xmpp/pom.xml
  components/camel-zookeeper-master/pom.xml
  components/camel-zookeeper/pom.xml
  core/camel-core/pom.xml
  core/camel-main/pom.xml
  core/camel-management/pom.xml
  dsl/camel-kotlin-dsl/pom.xml
  parent/pom.xml
  pom.xml
  tests/test-bundles/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
Labels: components, core, dsl, tooling, tooling-maven, components-aws, components-jms, tests, core-build-and-dependencies, camel-4

#10602 Fix camel-jira to add assignee using the id
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jira.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-jira/src/generated/resources/org/apache/camel/component/jira/jira.json
  components/camel-jira/src/main/docs/jira-component.adoc
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraConstants.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/UpdateIssueProducer.java
Labels: components, catalog, camel-4

#10606 Upgrade AWS SDK v2 to version 2.20.99
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10609 Upgrade Zxing to version 3.5.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10613 CAMEL-19587 Fix camel-jira to add assignee using the id (3.21 branch)
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jira.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-jira/src/generated/resources/org/apache/camel/component/jira/jira.json
  components/camel-jira/src/main/docs/jira-component.adoc
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraConstants.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/UpdateIssueProducer.java
Labels: components, catalog

#10612 CAMEL-19587 Fix camel-jira to add assignee using the id (3.20.x branch)
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jira.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-jira/src/generated/resources/org/apache/camel/component/jira/jira.json
  components/camel-jira/src/main/docs/jira-component.adoc
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraConstants.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/UpdateIssueProducer.java
Labels: components, catalog

#10610 CAMEL-19587 Fix camel-jira to add assignee using the id (3.x branch)
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jira.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-jira/src/generated/resources/org/apache/camel/component/jira/jira.json
  components/camel-jira/src/main/docs/jira-component.adoc
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraConstants.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/UpdateIssueProducer.java
Labels: components, catalog, camel-3

#10604 [CAMEL-19575] Fixes bug in camel-rabbitmq - RabbitMQConsumer keeps on consuming even when route shutdown is triggered.
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitConsumer.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQConsumer.java
Labels: components, camel-3

#10611 CAMEL-19438: added missing knownHostsFile parameter
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpChangedReadLockIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpChmodDirectoryIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpChmodIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpConsumeTemplateIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpConsumerAutoCreateIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpConsumerDisconnectIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpConsumerProcessStrategyIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpConsumerWithCharsetIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpMoveWithOutMessageTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpProduceTempFileIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpProducerFileWithPathIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpProducerFileWithPathNoStepwiseIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpProducerMoveExistingIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpProducerWithCharsetIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSetCipherIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSetOperationsIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeNoStartingDirIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeNotStepwiseIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeRecursiveIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeRecursiveNotStepwiseIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeStreamingIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeStreamingPartialReadIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeStreamingWithMultipleFilesIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeThroughProxyIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleIPV6ConsumeIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleProduceDisconnectIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleProduceIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleProduceThroughProxyIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpUseListFalseIT.java
Labels: components, camel-4

#10620 Upgrade AWS SDK v2 to version 2.20.100
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10618 Upgrade bouncycastle 1.75
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10621 Upgrade Pubnub Gson to version 6.3.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10488 [CAMEL-18916] camel-xslt-saxon: allow logger injection
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/xj.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/xslt-saxon.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/xslt.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-xj/src/generated/java/org/apache/camel/component/xj/XJEndpointUriFactory.java
  components/camel-xj/src/generated/resources/org/apache/camel/component/xj/xj.json
  components/camel-xslt-saxon/src/generated/java/org/apache/camel/component/xslt/saxon/XsltSaxonEndpointUriFactory.java
  components/camel-xslt-saxon/src/generated/resources/org/apache/camel/component/xslt/saxon/xslt-saxon.json
  components/camel-xslt-saxon/src/main/java/org/apache/camel/component/xslt/saxon/XsltSaxonBuilder.java
  components/camel-xslt-saxon/src/main/java/org/apache/camel/component/xslt/saxon/XsltSaxonComponent.java
  components/camel-xslt-saxon/src/main/java/org/apache/camel/component/xslt/saxon/XsltSaxonEndpoint.java
  components/camel-xslt-saxon/src/test/java/org/apache/camel/component/xslt/SaxonXsltXsltMessageLoggerTest.java
  components/camel-xslt-saxon/src/test/java/org/apache/camel/component/xslt/TestXsltMessageLogger.java
  components/camel-xslt-saxon/src/test/resources/org/apache/camel/component/xslt/camelXsltContextWithMessageConsumer.xml
  components/camel-xslt-saxon/src/test/resources/org/apache/camel/component/xslt/message_transform.xsl
  components/camel-xslt/src/generated/java/org/apache/camel/component/xslt/XsltEndpointConfigurer.java
  components/camel-xslt/src/generated/java/org/apache/camel/component/xslt/XsltEndpointUriFactory.java
  components/camel-xslt/src/generated/resources/org/apache/camel/component/xslt/xslt.json
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltBuilder.java
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltEndpoint.java
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltMessageLogger.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/XJEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/XsltEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/XsltSaxonEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#10614 Upgrade junit
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10605 CAMEL-19586: camel-parquet-avro - Allow users to unmarshal Parquet file into Avro's GenericRecords
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-parquet-avro/src/generated/resources/org/apache/camel/dataformat/parquet/avro/parquetAvro.json
  components/camel-parquet-avro/src/main/docs/parquetAvro-dataformat.adoc
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormat.java
  components/camel-parquet-avro/src/test/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormatWithoutUnmarshalTypeTest.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/parquetAvro.json
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ParquetAvroDataFormat.java
Labels: components, core, catalog, camel-4

#10624 Upgrade PDFBox to version 2.0.29
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10608 [CAMEL-18837] OpenSearch component (camel-3.x)
  components/camel-opensearch/pom.xml
  components/camel-opensearch/src/generated/java/org/apache/camel/component/opensearch/OpensearchComponentConfigurer.java
  components/camel-opensearch/src/generated/java/org/apache/camel/component/opensearch/OpensearchEndpointConfigurer.java
  components/camel-opensearch/src/generated/java/org/apache/camel/component/opensearch/OpensearchEndpointUriFactory.java
  components/camel-opensearch/src/generated/java/org/apache/camel/component/opensearch/converter/OpensearchActionRequestConverterLoader.java
  components/camel-opensearch/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-opensearch/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-opensearch/src/generated/resources/META-INF/services/org/apache/camel/component/opensearch
  components/camel-opensearch/src/generated/resources/META-INF/services/org/apache/camel/configurer/opensearch-component
  components/camel-opensearch/src/generated/resources/META-INF/services/org/apache/camel/configurer/opensearch-endpoint
  components/camel-opensearch/src/generated/resources/META-INF/services/org/apache/camel/urifactory/opensearch-endpoint
  components/camel-opensearch/src/generated/resources/org/apache/camel/component/opensearch/opensearch.json
  components/camel-opensearch/src/main/docs/opensearch-component.adoc
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchComponent.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchComponentVerifierExtension.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchConfiguration.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchConstants.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchEndpoint.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchOperation.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchProducer.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchScrollRequestIterator.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/aggregation/BulkRequestAggregationStrategy.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/converter/OpensearchActionRequestConverter.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/OpensearchComponentVerifierExtensionTest.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchBulkIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchClusterIndexIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchGetSearchDeleteExistsUpdateIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchIndexIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchPingIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchScrollSearchIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchSizeLimitIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchTestSupport.java
  components/camel-opensearch/src/test/resources/log4j2.properties
  components/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-opensearch/pom.xml
  test-infra/camel-test-infra-opensearch/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/common/OpenSearchProperties.java
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/OpenSearchLocalContainerService.java
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/OpenSearchService.java
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/OpenSearchServiceFactory.java
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/RemoteOpenSearchService.java
  test-infra/pom.xml
Labels: components, test-infra, core-build-and-dependencies, camel-3

#10627 (chores) camel-core: removed unnecessary boxing/unboxing
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceDefinition.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/TimePatternConverter.java
Labels: core, camel-4

#10628 (chores) camel-core: FileProducerCharsetUTFOptimizedTest cleanup
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerCharsetUTFOptimizedTest.java
Labels: core, camel-4

#10629 (chores) camel-core-catalog: consolidate duplicated code
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
Labels: core, camel-4

#10632 Upgrade Docker Java to version 3.3.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10633 CAMEL-19444: fixed a few grammar errors on code comments in camel-kafka
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/BaseManualCommitTestSupport.java
Labels: components, components-kafka, camel-4

#10635 Upgrade Johnzon JsonB to version 1.2.21
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10636 CAMEL-19444. Fixed a few grammar errors on code comments in camel-kafka
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaComponent.java
Labels: components, components-kafka, camel-4

#10643 Upgrade elasticsearch 8.8.2
  parent/pom.xml
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#10642 Upgrade dlj 0.22.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10647 CAMEL-19444: fixed a few grammar errors on documentation and code comments in camel-kafka
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaComponent.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/BridgeErrorStrategy.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/DiscardErrorStrategy.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAsyncManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerBatchSizeIT.java
Labels: components, components-kafka, camel-4

#10645 CAMEL-19446: code cleanups on camel-caffeine
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/cache/CaffeineCacheFromScratchStatsCounterTest.java
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/cache/CaffeineCacheProducerMultiOperationSameCacheTest.java
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/cache/CaffeineCacheTestSupport.java
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/loadcache/CaffeineLoadCacheProducerMultiOperationSameCacheTest.java
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/loadcache/CaffeineLoadCacheTestSupport.java
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/processor/idempotent/CaffeineIdempotentRepositoryTest.java
Labels: components, camel-4

#10652 Upgrade InfluxDB Client Java to version 6.9.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10655 Upgrade MongoDB Java Driver to version 4.10.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10656 Upgrade Huawei cloud core to version 3.1.47
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10658 Upgrade Icu4j to version 73.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10657 Upgrade Graphql Java to version 21.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10659 Upgrade Compress LZF to version 1.1.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10644 Camel-19445. Simplified assertion in CaffeineIdempotentRepositoryTest
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/processor/idempotent/CaffeineIdempotentRepositoryTest.java
Labels: components, camel-4

#10646 Adding additional logging to scope creation and closing
  components/camel-observation/src/test/java/org/apache/camel/observation/CamelMicrometerObservationTestSupport.java
  components/camel-observation/src/test/resources/log4j2.properties
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/resources/log4j2.properties
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
Labels: components, camel-4

#10663 CAMEL-19598: Test code cleanups
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPRouteTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPRouteTraceFrameTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPToDSendDynamicTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPToDTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/artemis/AMQPEmbeddedBrokerTest.java
Labels: components, camel-4

#10666 Upgrade AWS SDK v2 to version 2.20.102
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10667 Upgrade Rest Assured to version 5.3.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10668 Upgrade RocketMQ to version 4.9.7
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10672 Upgrade Libphonenumber to version 8.13.16
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10674 Upgrade Avro to version 1.11.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10675 (chores) build: removed the unused not-mac profile
  pom.xml
Labels: camel-4

#10677 Upgrade Cassandra Driver to version 4.17.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10679 (chores) camel-core: test fixes
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerFailureHandledTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerMoveFailureOnCompletionTest.java
Labels: core, camel-4

#10680 [CAMEL-19605] camel-xchange - Upgrade to xchange 5.1.0
  components/camel-xchange/pom.xml
  components/camel-xchange/src/main/java/org/apache/camel/component/xchange/XChange.java
  components/camel-xchange/src/main/java/org/apache/camel/component/xchange/XChangeEndpoint.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/XChangeTestSupport.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10683 Upgrade Rome tools to version 2.1.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10685 (chores) camel-core: test fixes and cleanups
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentKeyChangedIssue2Test.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerSkipDotFilesTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/strategy/FileChangedReadLockZeroTimeoutTest.java
Labels: core, camel-4

#10686 (chores) camel-core: test fixes and cleanups
  core/camel-core/src/test/java/org/apache/camel/processor/DelayerWhileShutdownTest.java
Labels: core, camel-4

#10690 Camel-Jbang: Export with secret refresh, the context reload propertie…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
Labels: dsl, camel-4

#10692 (chores) RecipientListWithSimpleExpressionTest revert + minor cleanup
  core/camel-core/src/test/java/org/apache/camel/processor/RecipientListWithSimpleExpressionTest.java
Labels: core, camel-4

#10694 CAMEL-19465 - Move Apache snapshots repository to a separate Maven profile for better build reproducibility
  pom.xml
Labels: camel-4

#10700 Use Infinispan 14.0.12.Final image for testing in test-infra
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerService.java
Labels: test-infra, camel-4

#10701 (chores) camel-core: file test fixes and cleanups
  core/camel-core/src/test/java/org/apache/camel/component/file/FilePollEnrichNoWaitTest.java
Labels: core, camel-4

#10703 CAMEL-19550: camel-dhis2
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2ResourceTablesIT.java
Labels: components, camel-4

#10704 CAMEL-19609 + related cleanups
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/integration/HdfsAppendIT.java
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/integration/HdfsConsumerIntegrationIT.java
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/integration/HdfsProducerConsumerIntegrationIT.java
  test-infra/camel-test-infra-hdfs/pom.xml
  test-infra/camel-test-infra-hdfs/src/test/java/org/apache/camel/test/infra/hdfs/v2/services/EmbeddedHDFSService.java
  test-infra/camel-test-infra-hdfs/src/test/java/org/apache/camel/test/infra/hdfs/v2/services/HDFSContainer.java
  test-infra/camel-test-infra-hdfs/src/test/java/org/apache/camel/test/infra/hdfs/v2/services/HDFSServiceFactory.java
Labels: components, test-infra, camel-4

#10706 (chores) camel-core: test cleanups on ResequenceStreamNotIgnoreInvalidExchangesTest
  core/camel-core/src/test/java/org/apache/camel/processor/ResequenceStreamNotIgnoreInvalidExchangesTest.java
Labels: core, camel-4

#10707 CAMEL-19556: camel-telegram
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/TelegramConsumerMappingTest.java
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/integration/TelegramServiceIT.java
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/integration/TelegramServiceProxyIT.java
Labels: components, camel-4

#10705 (chores) camel-dhis: fixed incorrect logging
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2DeleteIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2PostIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2PutIT.java
Labels: components, camel-4

#10708 CAMEL-19611: disabled broken test on camel-aws-xray
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/ABCRouteTest.java
Labels: components, components-aws, camel-4

#10714 CAMEL-18957: added conversion documentation
  test-infra/camel-test-infra-core/README.md
Labels: test-infra, camel-4

#10712 fix!: specify array name when fetching collections
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/Dhis2Get.java
  components/camel-dhis2/camel-dhis2-api/src/test/java/org/apache/camel/component/dhis2/api/Dhis2GetTestCase.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2EndpointUriFactory.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfiguration.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfigurationConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2GetApiMethod.java
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/org/apache/camel/component/dhis2/dhis2.json
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
Labels: components, camel-4

#10715 fix!: specify array name when fetching collections
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/Dhis2Get.java
  components/camel-dhis2/camel-dhis2-api/src/test/java/org/apache/camel/component/dhis2/api/Dhis2GetTestCase.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2EndpointUriFactory.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfiguration.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfigurationConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2GetApiMethod.java
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/org/apache/camel/component/dhis2/dhis2.json
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
Labels: components, camel-3

#10711 CAMEL-19589: upgraded testcontainers to 1.18.3
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10719 Upgrade AWS SDK v2 to version 2.20.105
  components/camel-irc/src/test/unrealircd/unrealircd.conf
  components/camel-telegram/src/test/java/org/apache/camel/component/telegram/integration/TelegramServiceProxyIT.java
  core/camel-core/src/test/java/org/apache/camel/processor/ResequenceStreamNotIgnoreInvalidExchangesTest.java
  parent/pom.xml
Labels: components, core, core-build-and-dependencies, camel-4

#10718 [CAMEL-19613] Convert components to use the camel-test-infra-core: ArangoDB
  components/camel-arangodb/pom.xml
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/ArangoDbComponentTest.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCollectionFindByKeyIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/BaseArangoDb.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/BaseDocumentEntity.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/BaseGraph.java
Labels: components, camel-4

#10697 CAMEL-19584 : add KinesisAsyncClient to the camel component
  components/camel-aws/camel-aws2-kinesis/pom.xml
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Endpoint.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/client/KinesisAsyncInternalClient.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/client/KinesisClientFactory.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/client/impl/KinesisAsyncClientIAMOptimizedImpl.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/client/impl/KinesisAsyncClientIAMProfileOptimizedImpl.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/client/impl/KinesisAsyncClientStandardImpl.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisClientFactoryTest.java
  parent/pom.xml
Labels: components, components-aws, core-build-and-dependencies, camel-4

#10709 CAMEL-19583 : multiple shards consumption of Camel aws2 Kinesis
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisConsumerClosedShardWithFailTest.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisConsumerClosedShardWithSilentTest.java
Labels: components, components-aws, camel-4

#10721 Upgrade Kudu to 1.16.0 (#8919)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10722 Upgrade batik version to 1.16 (#9718)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#10725 Revert "Regen for commit 030a83b75c951c7eb52e178ccbdb6877936f61cb (#10723)"
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/in/ModelParserTest.java
Labels: core, catalog, camel-4

#10720 CAMEL-19447: camel-kafka test cleanups
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaAutowireTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaComponentTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaConsumerTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaProducerTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/MockConsumerInterceptor.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/MockProducerInterceptor.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/consumer/OffsetCacheTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAsyncManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthInvalidIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthInvalidWithReconnectIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthManualTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerFullIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentGroupIdIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentWithCustomSerializerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentWithProcessorIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerRebalanceIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaProducerFullIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaTransactionIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerAsyncWithOffsetRepoCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/commit/KafkaConsumerSyncWithOffsetRepoCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/pause/KafkaPausableConsumerCircuitBreakerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/pause/KafkaPausableConsumerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/serde/DefaultKafkaHeaderDeserializerTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/serde/DefaultKafkaHeaderSerializerTest.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryEagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryNonEagerIT.java
  components/camel-kafka/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
Labels: components, components-kafka, camel-4

#10724 Upgrade batik version to 1.16 (#9718) (#10722)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10717 CAMEL-19568: disable header validation on camel-netty-http
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
Labels: components, camel-4

#10728 Upgrade batik version to 1.16 (#9718) (#10722) (#10724)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10729 Updating californium to 2.7.4
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#10734 Bugfix for californium update, as Netty 2.7.4 dependency isn't in mav…
  components/camel-coap/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-3

#10735 [CAMEL-19613] Convert components to use the camel-test-infra-core: AS2 component
  components/camel-as2/camel-as2-component/pom.xml
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AbstractAS2ITSupport.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/MendelsonCertLoader.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/MendelsonSslEndpointManualTest.java
Labels: components, camel-4

#10730 CAMEL-19615 chmodDirectory option try for each junk to change the dir…
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpOperations.java
Labels: components, camel-3

#10737 Updating Californium to 2.7.4
  camel-dependencies/pom.xml
  components/camel-coap/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies

#10733 integrate multi-shard consumer with async client
  components/camel-aws/camel-aws2-kinesis/pom.xml
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisConsumerClosedShardWithSilentTest.java
Labels: components, components-aws, camel-4

#10746 Updating Hazelcast to 5.2.4
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#10748 Updating Hazelcast to 5.2.4 (#10746)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10749 Updating Hazelcast to 5.2.4 (#10746) (#10748)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10750 Upgrade AWS SDK v2 to version 2.20.107
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10747 CAMEL-19625: maven - Migrate from org.sonatype.plexus to org.codehaus…
  components/camel-salesforce/camel-salesforce-maven-plugin/pom.xml
  components/camel-servicenow/camel-servicenow-maven-plugin/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/pom.xml
  tooling/maven/bom-generator-maven-plugin/pom.xml
  tooling/maven/camel-api-component-maven-plugin/pom.xml
  tooling/maven/camel-api-component-maven-plugin/src/main/java/org/apache/camel/maven/AbstractGeneratorMojo.java
  tooling/maven/camel-component-maven-plugin/src/main/java/org/apache/camel/maven/component/GenerateComponentMojo.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGenerateMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/ComponentDslMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointDslMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/ModelXmlParserGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageComponentMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageDataFormatMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageJandexMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageLanguageMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageOtherMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainDocMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareComponentMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareKameletMainMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateReadmeMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/XmlModelWriterGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/YamlModelWriterGeneratorMojo.java
  tooling/maven/camel-restdsl-openapi-plugin/pom.xml
  tooling/maven/sync-properties-maven-plugin/pom.xml
  tooling/parent/pom.xml
Labels: components, dsl, tooling, tooling-maven, camel-4

#10741 Upgrade zookeeper 3.8.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10742 Upgrade google-cloud 26.19.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10743 Upgrade google http client 1.43.3
  components/camel-google/camel-google-calendar/pom.xml
  components/camel-google/camel-google-drive/pom.xml
  components/camel-google/camel-google-mail/pom.xml
  components/camel-google/camel-google-sheets/pom.xml
Labels: components, camel-4

#10752 Updating drill to 1.21.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#10755 Updating drill to 1.21.1 (#10752)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10759 CAMEL-19633: add a note about requirements for accepting contributions for components
  docs/main/modules/contributing/pages/index.adoc
Labels: docs, camel-4

#10758 Updating drill to 1.21.1 (#10752) (#10755)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10761 Fix flaky test on github ci
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/AbstractFhirTestSupport.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JmsToJmsTransactedTest.java
  components/camel-lumberjack/src/test/java/org/apache/camel/component/lumberjack/LumberjackDisconnectionTest.java
  components/camel-lumberjack/src/test/java/org/apache/camel/component/lumberjack/LumberjackUtil.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarConsumerAcknowledgementIT.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarConsumerInIT.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarConsumerInURIClientIT.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarConsumerPatternInIT.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarCustomMessageReceiptIT.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarITSupport.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/integration/SmppTRXProducerIT.java
  components/camel-stomp/src/test/java/org/apache/camel/component/stomp/StompConsumerHeaderFilterStrategyTest.java
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarServiceFactory.java
Labels: components, components-jms, test-infra, camel-4

#10763 Upgrade Johnzon JsonB to version 1.2.21
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#10764 Upgrade Johnzon JsonB to version 1.2.21 (#10763)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10766 Upgrade AWS SDK v2 to version 2.20.108
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10767 Removed Amazon Kinesis Common property placeholder, not in use
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10765 Upgrade Johnzon JsonB to version 1.2.21 (#10763) (#10764)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#10769 Kinesis doc update
  components/camel-aws/camel-aws2-kinesis/src/main/docs/aws2-kinesis-component.adoc
Labels: components, components-aws, camel-4

#10770 Revert AS2 conversion
  components/camel-as2/camel-as2-component/pom.xml
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AbstractAS2ITSupport.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/MendelsonCertLoader.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/MendelsonSslEndpointManualTest.java
Labels: components, camel-4

#10771 Consumer missed part fix
  components/camel-aws/camel-aws2-kinesis/src/main/docs/aws2-kinesis-component.adoc
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
Labels: components, components-aws, camel-4

#10772 Upgrade Localstack container image to version 2.2.0
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaAliasesIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaCreateFunctionIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaDeleteFunctionIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaGetFunctionIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaListFunctionsIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaPublishVersionIT.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/integration/SnsTopicProducerWithSubscriptionIT.java
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSContainer.java
Labels: components, components-aws, test-infra, camel-4

#10774 (chores) camel-xml-dsl-io: run sequentially
  dsl/camel-xml-io-dsl/pom.xml
Labels: dsl, camel-4

#10775 (chores) camel-xchange: prevent tests from running on ASF CI
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/market/MarketDataProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
Labels: components, camel-4

#10776 Upgrade Infinispan 14.0.13
  parent/pom.xml
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#10777 Upgrade to Netty 4.1.95
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10779 Upgrade javax json-api 1.1.4
  components/camel-elytron/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10778 Upgrade huaweicloud-sdk-core 3.1.49
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10780 Upgrade maven-shared-utils 3.4.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10782 Remove duplicate version for okclient
  components/camel-jetty/pom.xml
  components/camel-olingo2/camel-olingo2-component/pom.xml
  components/camel-salesforce/camel-salesforce-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10781 Upgrade derby 10.16.1.1
  components/camel-jcr/pom.xml
  components/camel-jdbc/pom.xml
  components/camel-jpa/pom.xml
  components/camel-mybatis/pom.xml
  components/camel-quartz/pom.xml
  components/camel-spring-jdbc/pom.xml
  components/camel-spring-xml/pom.xml
  components/camel-sql/pom.xml
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/AbstractJdbcAggregationTestSupport.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepositoryAlotDataTest.java
  parent/pom.xml
  tests/camel-itest/pom.xml
Labels: components, tests, core-build-and-dependencies, camel-4

#10783 CAMEL-19632: Fix split package in camel-xml-jaxp and camel-xml-japx-util
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-xml-jaxp-util/src/main/java/org/apache/camel/util/xml/pretty/XmlPrettyPrinter.java
  core/camel-xml-jaxp-util/src/test/java/org/apache/camel/util/xml/pretty/XmlPrettyPrinterTest.java
  core/camel-xml-jaxp-util/src/test/resources/org/apache/camel/util/camel-context.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/XmlHelper.java
Labels: core, dsl, camel-4

#10784 [CAMEL-19462] remove maven-compat
  tooling/maven/camel-package-maven-plugin/pom.xml
Labels: tooling, tooling-maven, camel-4

#10785 Go back to etcd 0.7.5 as it works with unit tests.
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10786 (chores) core: use final when possible
  core/camel-core-model/src/main/java/org/apache/camel/builder/FlexibleAggregationStrategy.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Throttler.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/saga/SagaProcessor.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedProcessor.java
  core/camel-util/src/main/java/org/apache/camel/util/FileUtil.java
  core/camel-xml-io-util/src/main/java/org/apache/camel/xml/io/util/XmlStreamInfo.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XMLStreamReaderInputStream.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XMLStreamReaderReader.java
Labels: core, camel-4

#10794 Upgrade AWS SDK v2 to version 2.20.109
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10788 camel-flatpack - Fix flaky tests due to lack of toString coverter tha…
  components/camel-flatpack/src/generated/java/org/apache/camel/component/flatpack/FlatpackConverterLoader.java
  components/camel-flatpack/src/main/java/org/apache/camel/component/flatpack/FlatpackConverter.java
Labels: components, camel-4

#10789 Use null in NoSuchBean exception as the name was purpously empty to b…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelPostProcessorHelper.java
Labels: core, camel-4

#10793 camel-jira: Atlassian repo is needed for camel-componentdsl (its alre…
  dsl/camel-componentdsl/pom.xml
Labels: dsl, camel-4

#10795 Upgrade Caffeine to version 3.1.7
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10792 camel-file-watch: Fix events option is not an single value enum.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/file-watch.json
  components/camel-file-watch/src/generated/java/org/apache/camel/component/file/watch/FileWatchEndpointConfigurer.java
  components/camel-file-watch/src/generated/resources/org/apache/camel/component/file/watch/file-watch.json
  components/camel-file-watch/src/main/java/org/apache/camel/component/file/watch/FileWatchComponent.java
  components/camel-file-watch/src/main/java/org/apache/camel/component/file/watch/FileWatchConsumer.java
  components/camel-file-watch/src/main/java/org/apache/camel/component/file/watch/FileWatchEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/FileWatchComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FileWatchEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#10790 CAMEL-18189: component-scan for beans by class should be phased to en…
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
Labels: dsl, camel-4

#10796 Fix flaky test
  core/camel-core/src/test/java/org/apache/camel/component/file/AntPathMatcherGenericFileFilterTest.java
Labels: core, camel-4

#10798 fix(docs): add code notation
  docs/user-manual/modules/ROOT/pages/route-template.adoc
Labels: docs, camel-4

#10797 camel-jms - Flaky test due to session gets closed which should be ign…
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOnlyDisableTimeToLiveTest.java
Labels: components, components-jms, camel-4
