Repository apache/camel, pull requests merged in 2023-08, with the labels that each got.

#10936 (chores) camel-core-model: added debugging and comments
  core/camel-core-model/src/main/java/org/apache/camel/builder/NotifyBuilder.java
Labels: core, camel-4

#10939 Backport CAMEL-19670
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/deadLetterChannel.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/defaultErrorHandler.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/jtaTransactionErrorHandler.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/onCompletion.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/onException.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/springTransactionErrorHandler.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-zipfile/src/test/java/org/apache/camel/dataformat/zipfile/ZipSplitterUseOriginalMessageTest.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/StreamCachingHelper.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/errorhandler/deadLetterChannel.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/errorhandler/defaultErrorHandler.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/errorhandler/jtaTransactionErrorHandler.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/errorhandler/springTransactionErrorHandler.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/onCompletion.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/onException.json
  core/camel-core-model/src/main/java/org/apache/camel/model/OnCompletionDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/OnExceptionDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/DefaultErrorHandlerDefinition.java
  core/camel-core/src/test/java/org/apache/camel/processor/onexception/OnExceptionUseOriginalMessageStreamTwoTest.java
Labels: components, core, catalog, camel-3

#10940 (chores) camel-zipfile: speed up test ZipFileSplitAndDeleteTest
  components/camel-zipfile/src/test/java/org/apache/camel/dataformat/zipfile/ZipFileSplitAndDeleteTest.java
Labels: components, camel-4

#10942 CAMEL-19685: increase logging in camel-mock
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components, camel-4

#10947 [CAMEL-19462] remove read-only element from parameters configured by the user
  tooling/maven/bom-generator-maven-plugin/src/main/java/org/apache/camel/maven/bom/generator/BomGeneratorMojo.java
Labels: tooling, tooling-maven, camel-4

#10946 Enable camel-kafka test suites execution on ppc64lle
  components/camel-kafka/pom.xml
Labels: components, components-kafka, camel-4

#10943 CAMEL-19685: added missing test annotations in undertow
  components/camel-undertow/src/test/java/org/apache/camel/component/undertow/DefaultUndertowHttpBindingTest.java
Labels: components, camel-4

#10949 CAMEL-19684: Stabilize Stomp test
  components/camel-stomp/src/test/java/org/apache/camel/component/stomp/StompConsumerHeaderFilterStrategyTest.java
Labels: components, camel-4

#10950 CAMEL-19487: camel-bean - Fix concurrency issue in BeanInfo cache whe…
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfoCacheKey.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/ConstantBeanHolder.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/DefaultBeanProcessorFactory.java
Labels: components, camel-4

#10951 Upgrade AWS SDK v2 to version 2.20.117
  components/camel-zipfile/src/test/java/org/apache/camel/dataformat/zipfile/ZipFileSplitAndDeleteTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10952 Jsse fix res check
  core/camel-api/src/main/java/org/apache/camel/support/jsse/JsseParameters.java
Labels: components, catalog, docs, tooling-maven, components-aws, components-azure, ci, core-build-and-dependencies, core-build-tooling

#10955 CAMEL-19692: Improve vertx-websocket producer sendToAll handling of parameterized server paths
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpoint.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHelper.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHost.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketPeer.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHelperTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketTest.java
Labels: components, camel-4

#10957 Upgrade Netty to version 4.1.96.Final
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10958 Use latest Hashicorp Vault container image 1.13.3 for test-infra module
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerService.java
Labels: test-infra, camel-4

#10954 CAMEL-19225: camel-jpa - remove transactionManager property
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jpa.json
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaComponentConfigurer.java
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/DefaultTransactionStrategy.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaComponent.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/AbstractJpaMethodSupport.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaComponentTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaEndpointTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithNamedQueryAndParametersTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithNamedQueryTest.java
  components/camel-jpa/src/test/java/org/apache/camel/processor/jpa/JpaRouteTest.java
  components/camel-jpa/src/test/java/org/apache/camel/processor/jpa/JpaWireTapTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JpaComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#10959 (chores) camel-google-bigquery: fix links in readme
  components/camel-google/camel-google-bigquery/ReadMe.md
Labels: components, camel-4

#10960 CAMEL-19675: ensure the safeCopyProperties is present before copying
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
Labels: core, camel-3

#10961 Backport CAMEL-19675 fix to Camel 3.21.x
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
Labels: core

#10964 CAMEL-19695: camel-google-bigquery - Bump org.json to 20230618 (3.20)
  camel-dependencies/pom.xml
  components/camel-google/camel-google-bigquery/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies

#10966 CAMEL-19695: camel-google-bigquery - Bump org.json to 20230618 (3.21)
  camel-dependencies/pom.xml
  components/camel-google/camel-google-bigquery/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies

#10967 CAMEL-19695: camel-google-bigquery - Bump org.json to 20230618 (3.22)
  camel-dependencies/pom.xml
  components/camel-google/camel-google-bigquery/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-3

#10968 CAMEL-19693: camel-main - Base package scan should detect @BindToRegi…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/test/java/org/apache/camel/main/MainScan2Test.java
  core/camel-main/src/test/java/org/apache/camel/main/scan2/MyProcessor.java
  core/camel-main/src/test/java/org/apache/camel/main/scan2/MyRouteBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/PackageScanHelper.java
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
Labels: core, catalog, dsl, camel-4

#10953 CAMEL-19487: camel-bean - Fix concurrency issue in BeanInfo cache whe…
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfoCacheKey.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/ConstantBeanHolder.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/DefaultBeanProcessorFactory.java
  core/camel-core/src/test/java/org/apache/camel/processor/dynamicrouter/DynamicRouterConcurrentEIPManualTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/dynamicrouter/DynamicRouterConcurrentPOJOManualTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/dynamicrouter/DynamicRouterConcurrentPOJOTest.java
Labels: components, core, camel-3

#10969 CAMEL-19684: zookeeper master
  components/camel-zookeeper-master/pom.xml
  components/camel-zookeeper-master/src/test/java/org/apache/camel/component/zookeepermaster/MasterEndpointIT.java
  components/camel-zookeeper-master/src/test/resources/org/apache/camel/component/zookeepermaster/MasterEndpointIT-context.xml
Labels: components, camel-4

#10971 CAMEL-19701: camel-main - Filter out k8s injected service ENV variabl…
  core/camel-main/src/main/java/org/apache/camel/main/MainHelper.java
Labels: core, camel-4

#10975 (chores) camel-xmpp: fix most of the test log output to stdout
  components/camel-xmpp/pom.xml
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/XmppBaseContainerTest.java
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppBaseIT.java
  components/camel-xmpp/src/test/resources/logging.properties
Labels: components, camel-4

#10978 (chores) camel-xmpp: disable unsupported tests on Github
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/XmppDeferredConnectionIT.java
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppMultiUserChatIT.java
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppProducerConcurrentIT.java
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppRouteChatIT.java
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppRouteIT.java
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppRouteMultipleProducersSingleConsumerIT.java
Labels: components, camel-4

#10977 CAMEL-19547: removed Thread.sleep in camel-xmpp
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppMultiUserChatIT.java
  components/camel-xmpp/src/test/java/org/apache/camel/component/xmpp/integration/XmppRouteChatIT.java
Labels: components, camel-4

#10979 Upgrade Google Cloud libraries-bom to 26.21.0
  components/camel-google/camel-google-storage/pom.xml
  components/camel-google/camel-google-storage/src/test/java/org/apache/camel/component/google/storage/localstorage/FakeStorageRpc.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10983 (chores) camel-couchdb: fix test log output to stdout
  components/camel-couchdb/pom.xml
Labels: components, camel-4

#10984 (chores) camel-dhis2: fix test log output to stdout
  components/camel-dhis2/camel-dhis2-component/src/test/resources/log4j2-test.xml
Labels: components, camel-4

#10985 (chores) camel-google-pubsub: fix test log output to stdout
  components/camel-google/camel-google-pubsub/pom.xml
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/PubsubTestSupport.java
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/integration/AcknowledgementIT.java
  components/camel-google/camel-google-pubsub/src/test/resources/logging.properties
Labels: components, camel-4

#10986 (chores) camel-hdfs: fix test log output to stdout
  components/camel-hdfs/pom.xml
Labels: components, camel-4

#10980 Export
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BasePackageScanResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPackageScanClassResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPackageScanResourceResolver.java
  core/camel-core/src/test/java/org/apache/camel/component/saga/SagaComponentTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SameSedaQueueSizeAndNoSizeTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaBlockWhenFullTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaConcurrentConsumersNPEIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaDefaultBlockWhenFullTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaDefaultUnboundedQueueSizeTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaInOutChainedTimeoutTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaInOutWithErrorTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaNoConsumerTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaTimeoutTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaWaitForTaskCompleteOnCompletionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/timer/TimerEndpointTest.java
  core/camel-core/src/test/java/org/apache/camel/component/timer/TimerWithTimeOptionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/validator/ValidatorLazyStartProducerTest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main.tmpl
Labels: core, dsl, camel-4

#10973 CAMEL-19691: camel-kafka - Allow sslKeystorePassword to be blank.
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka, camel-4

#10944 exception in onCompletionProcessor should be suppressed, other than be lost
  core/camel-core-processor/src/main/java/org/apache/camel/processor/OnCompletionProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionModeBeforeConsumerExceptionSuppressedTest.java
Labels: core, camel-4

#10991 Run gav
  dsl/camel-dsl-support/src/main/java/org/apache/camel/dsl/support/DefaultSourceLoader.java
  dsl/camel-dsl-support/src/main/java/org/apache/camel/dsl/support/RouteBuilderLoaderSupport.java
  dsl/camel-dsl-support/src/main/java/org/apache/camel/dsl/support/SourceLoader.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/PackageNameSourceLoader.java
Labels: dsl, camel-4

#10982 (chores) ci: remove the checkstyle stage
  Jenkinsfile.jdk17
  Jenkinsfile.ppc64le
  Jenkinsfile.s390x
Labels: ci, camel-4

#10992 CAMEL-19225: camel-jpa - Refactor JpaComponent
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaComponent.java
Labels: components, camel-4

#10993 AWS upgrade (Enjoy PTO Andrea)
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10994 Upgrade to Azure 1.2.15
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10995 Upgrade grpc 1.57.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10996 Upgrade commons-lang 3.13.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10997 Upgrade google cloud functions/secrets-manager
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10998 Upgrade elasticsearch 8.9.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11000 bump zookeeper version to 3.9.0
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/AvailablePortFinder.java
  components/camel-zookeeper-master/src/test/java/org/apache/camel/component/zookeepermaster/group/GroupIT.java
  components/camel-zookeeper-master/src/test/java/org/apache/camel/component/zookeepermaster/group/internal/ZooKeeperGroupTest.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cloud/integration/ZooKeeperServiceCallRouteIT.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cloud/integration/ZooKeeperServiceDiscoveryIT.java
  components/camel-zookeeper/src/test/java/org/apache/camel/component/zookeeper/cloud/integration/ZooKeeperServiceRegistrationITBase.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10999 (chores) camel-componentdsl: fix test log output to stdout
  dsl/camel-componentdsl/pom.xml
  dsl/camel-componentdsl/src/test/java/org/apache/camel/builder/component/ComponentsBuilderFactoryTest.java
  dsl/camel-componentdsl/src/test/resources/log4j2.properties
Labels: dsl, camel-4

#11001 (chores) camel-endpointdsl: fix test log output to stdout
  dsl/camel-endpointdsl/pom.xml
Labels: dsl, camel-4

#11002 (chores) camel-quickfix: fix test log output to stdout
  components/camel-quickfix/pom.xml
  components/camel-quickfix/src/test/resources/examples/gateway.qf.cfg
  components/camel-quickfix/src/test/resources/examples/inprocess.qf.cfg
Labels: components, camel-4

#11004 (chores) camel-nats: fix test log output to stdout
  components/camel-nats/pom.xml
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsITSupport.java
  components/camel-nats/src/test/resources/logging.properties
Labels: components, camel-4

#11005 (chores) camel-mail: fix test log output to stdout
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailSearchTermTest.java
Labels: components, camel-4

#11007 (chores) camel-nats: disable flaky test on GH actions
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsProducerReplyToIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsProducerReplyToTimeoutIT.java
Labels: components, camel-4

#11008 CAMEL-19714: camel-jsonpath - Need to have json-smart as dependency f…
  components/camel-jsonpath/pom.xml
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathPredicateJsonSmartTest.java
  components/camel-jsonpath/src/test/resources/messages.json
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11009 (chores) camel-xml-io-util: use isEmpty
  core/camel-xml-io-util/src/main/java/org/apache/camel/xml/io/util/XmlStreamDetector.java
Labels: core, camel-4

#11010 (chores) camel-jcr: try reusing forks to reduce test duration
  components/camel-jcr/pom.xml
Labels: components, camel-4

#11011 (chores) camel-jcr: avoid recreating the repository for every single test
  components/camel-jcr/src/test/java/org/apache/camel/component/jcr/JcrAuthTestBase.java
  components/camel-jcr/src/test/java/org/apache/camel/component/jcr/JcrRouteTestSupport.java
Labels: components, camel-4

#11012 (chores) camel-optaplanner: reduce the time spent trying to solve the problems
  components/camel-optaplanner/src/test/resources/org/apache/camel/component/optaplanner/solverConfig.xml
Labels: components, camel-4

#11016 camel-quartz - Fix flaky test
  components/camel-quartz/src/test/java/org/apache/camel/routepolicy/quartz/CronScheduledRoutePolicyTest.java
Labels: components, camel-4

#11017 camel-zookeeper-master - Do not create new CamelContext but use injec…
  components/camel-zookeeper-master/src/test/java/org/apache/camel/component/zookeepermaster/MasterEndpointIT.java
Labels: components, camel-4

#11013 CAMEL-19498: camel-core - Pool for non-singleton polling consumer sho…
  core/camel-support/src/main/java/org/apache/camel/support/cache/ServicePool.java
Labels: core, camel-4

#11019 CAMEL-19669: reset the mock value after the test execution
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameQueueTest.java
Labels: components, components-jms, camel-4

#11020 (chores) camel-mock: avoid costly boxing/unboxing operations for integer operations
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components, camel-4

#11021 (chores) camel-mock: code cleanups
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components, camel-4

#11022 (chores) camel-mock: documentation cleanup
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components, camel-4

#11023 (chores) camel-test-junit5: minor cleanups
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestSupport.java
Labels: components, camel-4

#11029 Update release guide doc to use correct maven profile id for pgp sett…
  docs/user-manual/modules/ROOT/pages/release-guide.adoc
Labels: docs, camel-4

#11024 (chores) camel-test-junit5: code cleanups:
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/CamelRouteCoverageDumper.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/params/ParameterizedExtension.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/AsyncSendMockTest.java
Labels: components, camel-4

#11028 CAMEL-19669: fixed non-deterministic assertion
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameQueueTest.java
Labels: components, components-jms, camel-4

#11031 Box
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/box.json
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxEventLogsManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxFilesManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxFoldersManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxGroupsManager.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/BoxEndpointUriFactory.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/BoxEventLogsManagerEndpointConfiguration.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/BoxEventLogsManagerEndpointConfigurationConfigurer.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/BoxFilesManagerEndpointConfiguration.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/BoxFilesManagerEndpointConfigurationConfigurer.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/BoxGroupsManagerEndpointConfiguration.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/BoxGroupsManagerEndpointConfigurationConfigurer.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/internal/BoxEventLogsManagerApiMethod.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/internal/BoxFilesManagerApiMethod.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/internal/BoxGroupsManagerApiMethod.java
  components/camel-box/camel-box-component/src/generated/resources/org/apache/camel/component/box/box.json
  components/camel-box/camel-box-component/src/main/java/org/apache/camel/component/box/internal/BoxConnectionHelper.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxFilesManagerIT.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxFoldersManagerIT.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxGroupsManagerIT.java
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
  parent/pom.xml
Labels: components, catalog, docs, core-build-and-dependencies, camel-4

#11033 Backport to 3.x some Mock test fixes/improvements
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components, camel-3

#11035 (chores) camel-arangodb: do not use fixed addresses in tests
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/BaseArangoDb.java
Labels: components, camel-4

#11037 CAMEL-19721: camel-activemq - ActiveMQ component should use jakarta b…
  components/camel-activemq/src/main/java/org/apache/camel/component/activemq/ActiveMQComponent.java
  components/camel-activemq/src/main/java/org/apache/camel/component/activemq/ActiveMQConfiguration.java
Labels: components, camel-4

#11014 CAMEL-12317: Added AWS StepFunctions Component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-step-functions.json
  components/camel-aws/camel-aws2-step-functions/pom.xml
  components/camel-aws/camel-aws2-step-functions/src/generated/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ComponentConfigurer.java
  components/camel-aws/camel-aws2-step-functions/src/generated/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2EndpointConfigurer.java
  components/camel-aws/camel-aws2-step-functions/src/generated/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2EndpointUriFactory.java
  components/camel-aws/camel-aws2-step-functions/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-aws/camel-aws2-step-functions/src/generated/resources/META-INF/services/org/apache/camel/component/aws2-step-functions
  components/camel-aws/camel-aws2-step-functions/src/generated/resources/META-INF/services/org/apache/camel/configurer/aws2-step-functions-component
  components/camel-aws/camel-aws2-step-functions/src/generated/resources/META-INF/services/org/apache/camel/configurer/aws2-step-functions-endpoint
  components/camel-aws/camel-aws2-step-functions/src/generated/resources/META-INF/services/org/apache/camel/urifactory/aws2-step-functions-endpoint
  components/camel-aws/camel-aws2-step-functions/src/generated/resources/org/apache/camel/component/aws2/stepfunctions/aws2-step-functions.json
  components/camel-aws/camel-aws2-step-functions/src/main/docs/aws2-step-functions-component.adoc
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2Component.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2Configuration.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2Constants.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2Endpoint.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2Operations.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2Producer.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ProducerHealthCheck.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/client/StepFunctions2ClientFactory.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/client/StepFunctions2InternalClient.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/client/impl/StepFunctions2ClientIAMOptimizedImpl.java
  components/camel-aws/camel-aws2-step-functions/src/main/java/org/apache/camel/component/aws2/stepfunctions/client/impl/StepFunctions2ClientStandardImpl.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/AmazonStepFunctionsClientMock.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ClientFactoryTest.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ComponentClientRegistryTest.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ComponentConfigurationTest.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ProducerHealthCheckProfileCredsTest.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ProducerHealthCheckStaticCredsTest.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ProducerSpringTest.java
  components/camel-aws/camel-aws2-step-functions/src/test/java/org/apache/camel/component/aws2/stepfunctions/StepFunctions2ProducerTest.java
  components/camel-aws/camel-aws2-step-functions/src/test/resources/log4j2.properties
  components/camel-aws/camel-aws2-step-functions/src/test/resources/org/apache/camel/component/aws2/stepfunctions/StepFunctionsComponentSpringTest-context.xml
  components/camel-aws/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/aws2-step-functions.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/aws2-step-functions-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2StepFunctionsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/StepFunctions2EndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, components-aws, core-build-and-dependencies, camel-4

#11038 CAMEL-19724: reduce the incidence of dropped log messages
  core/camel-api/src/main/java/org/apache/camel/support/service/BaseService.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BasePackageScanResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPackageScanClassResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPackageScanResourceResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/WebSpherePackageScanClassResolver.java
Labels: core, camel-4

#11039 (chores) camel-arangodb: added a way to disable ArangoDB tests
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCollectionDeleteIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCollectionFindByKeyIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCollectionQueryIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCollectionSaveIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCollectionUpdateIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoGraphEdgeIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoGraphQueriesIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoGraphVertexIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/BaseArangoDb.java
Labels: components, camel-4

#11006 [CAMEL-19709] yaml dsl: include additional information such as description and title in the jscon schema
  core/camel-api/src/generated/java/org/apache/camel/spi/annotations/YamlProperty.java
  core/camel-api/src/generated/java/org/apache/camel/spi/annotations/YamlType.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/support/Schema.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/support/YamlProperties.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/annotations/YamlProperty.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/annotations/YamlType.java
Labels: core, dsl, tooling, camel-4

#11040 (chores) camel-aws2-sqs: fixed flaky test SqsBatchConsumerConcurrentConsumersIT
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsBatchConsumerConcurrentConsumersIT.java
Labels: components, components-aws, camel-4

#11041 (chores) camel-opensearch: opensearch tests should run fine with reusing forks
  components/camel-opensearch/pom.xml
Labels: components, camel-4

#11052 camel-aws - Upgrade to latest SDK 121
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11050 (chores) Adjusted tooling, dsl and test-infra to use log markers
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DownloadThreadPool.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQContainer.java
  tooling/maven/camel-api-component-maven-plugin/src/main/resources/api-route-test.vm
Labels: dsl, tooling, tooling-maven, test-infra, camel-4

#11049 (chores) Adjusted leftover components to use log markers
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/fix/BindyComplexKeyValuePairStandaloneTest.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxFoldersManagerIT.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvRouteTest.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/jaxws/CxfProducerRouterTest.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/jaxws/CxfProducerTest.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/util/SplitterWithXqureyTest.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/non_wrapper/PersonProcessor.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/wsdl_first/PersonProcessor.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/HelloServiceImpl.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/spring/FileToCxfMessageDataFormatTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/non_wrapper/PersonProcessor.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/wsdl_first/PersonProcessor.java
  components/camel-irc/src/test/java/org/apache/camel/component/irc/CodehausIrcChatManualTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpRouteTest.java
  components/camel-lucene/src/test/java/org/apache/camel/component/lucene/LuceneIndexAndQueryProducerIT.java
  components/camel-lucene/src/test/java/org/apache/camel/processor/lucene/LuceneQueryProcessorIT.java
  components/camel-resilience4j/src/test/java/org/apache/camel/component/resilience4j/ResilienceTimeoutTest.java
  components/camel-resilience4j/src/test/java/org/apache/camel/component/resilience4j/ResilienceTimeoutThreadPoolTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/component/bean/BeanRouteTest.java
Labels: components, camel-4

#11051 (chores) Adjusted camel-route-parser to use log markers
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterCSimpleRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterConcatFieldRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterFieldRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterJavaDslTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterJavaDslTwoRoutesTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterJavaPartialRouteDslTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterMethodCallRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterMyFieldMethodCallRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterMyLocalAddRouteBuilderTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterMyNettyTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterNewLineConstRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterNewLineRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterRouteBuilderCamelTestSupportTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterRouteBuilderEmptyUriTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterRouteDuplicateIdBuilderDCamelTestSupportTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterSimpleProcessorTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterSimpleRouteBuilderConfigureTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterSimpleToDTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterSimpleToFTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterSplitTokenizeTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/xml/FindElementInRoutesTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/xml/XmlParseTreeTest.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/xml/XmlWithPrefixParseTreeTest.java
Labels: catalog, camel-4

#11056 Upgrade to aws client .122
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11058 camel-grpc: Minor docs tidy up
  components/camel-grpc/src/main/docs/grpc-component.adoc
Labels: components, camel-4

#11062 (chores) ci: enable re-run of failed integration tests
  Jenkinsfile.jdk17
  Jenkinsfile.ppc64le
  Jenkinsfile.s390x
Labels: ci, camel-4

#11065 camel-spring-batch - Make test faster
  components/camel-spring-batch/pom.xml
  components/camel-spring-batch/src/test/java/org/apache/camel/component/spring/batch/SpringBatchEndpointTest.java
Labels: components, camel-4

#11064 camel-spring-ws - Make testing much faster
  components/camel-spring-ws/pom.xml
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/bean/CamelDirectConnection.java
Labels: components, camel-4

#11063 CAMEL-19684: fixed FileWatchComponentTest test
  components/camel-file-watch/pom.xml
  components/camel-file-watch/src/test/java/org/apache/camel/component/file/watch/FileWatchComponentTest.java
Labels: components, camel-4

#11055 CAMEL-19725: replaced Thread.sleep() in camel-opensearch tests
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchGetSearchDeleteExistsUpdateIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchSizeLimitIT.java
Labels: components, camel-4

#11027 CAMEL-19712: adapt to support Junit 5.10
  components/camel-test/camel-test-junit5/pom.xml
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/params/ParameterizedExtension.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11066 CAMEL-19733 - update apiVersion in CRDs for Kamelet
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/kamelet-action.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/kamelet-sink.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/kamelet-source.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/step-kamelet.yaml.tmpl
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletBindingLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletLoaderDependenciesTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/issues/KameletTemplatingTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/error-handler.kamelet.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/log-action.kamelet.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/log-sink.kamelet.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/mySetBody.kamelet.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/prefix-action.kamelet.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/route-timer-source.kamelet.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/timer-source.kamelet.yaml
Labels: dsl, camel-4

#11069 Flaky
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/PooledExchangeFactory.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileRecursiveNoopTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedPooledExchangeTest.java
Labels: core, camel-4

#11070 docs: remove duplication in DHIS2 component docs
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
Labels: components, camel-4

#11072 (chores) camel-rocketmq: disable tests on unsupported platforms
  components/camel-rocketmq/pom.xml
Labels: components, camel-4

#11068 refactor!: remove itemType param in get/collection operation
  components/camel-dhis2/camel-dhis2-api/pom.xml
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/Dhis2Get.java
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/ItemTypeConverter.java
  components/camel-dhis2/camel-dhis2-api/src/test/java/org/apache/camel/component/dhis2/api/Dhis2GetTestCase.java
  components/camel-dhis2/camel-dhis2-component/pom.xml
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2EndpointUriFactory.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfiguration.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfigurationConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2ApiCollection.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2GetApiMethod.java
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/org/apache/camel/component/dhis2/dhis2.json
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2DeleteIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2PostIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2PutIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2ResourceTablesIT.java
  components/camel-dhis2/pom.xml
Labels: components, camel-3

#11074 docs: remove duplication in DHIS2 component docs
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
Labels: components, camel-3

#11073 Updated camel 4_1 upgrade doc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_1.adoc
Labels: docs, camel-4

#11075 CAMEL-19684: Fix flaky test
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentKeyChangedIssue2Test.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultSupervisingRouteControllerTest.java
Labels: core, camel-4

#11078 camel-jcr - Test a little bit faster
  components/camel-jcr/src/test/resources/repository-simple-security.xml
Labels: components, camel-4

#11077 camel-jetty - Make testing faster
  components/camel-jetty/pom.xml
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/InterfacesTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettySuspendWhileInProgressTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyRemoveAddRestAndRouteTest.java
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/JettyComponentSpringConfiguredTest.xml
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/jetty-https.xml
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/jetty-noconnection-redelivery.xml
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/jetty-noconnection.xml
Labels: components, camel-4

#11079 Fix typo `groupping` --> `grouping`
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/beans.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/beans.json
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#11081 CAMEL-19735: use singleton services to speed up camel-rocketmq tests
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRequestReplyRouteTest.java
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRouteTest.java
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQTestSupport.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQContainer.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQService.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQServiceFactory.java
Labels: components, test-infra, camel-4

#11083 camel-core - Run test faster
  core/camel-core/src/test/java/org/apache/camel/component/file/cluster/FileLockClusteredRoutePolicyFactoryTest.java
Labels: core, camel-4

#11082 camel-sjms - Run test fast that was waiting for a latch with a wrong …
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/tx/TransactedConsumerSupport.java
Labels: components, components-jms, camel-4

#11084 Some more components can test in parallel
  components/camel-freemarker/pom.xml
  components/camel-mvel/pom.xml
  components/camel-ognl/pom.xml
  components/camel-stringtemplate/pom.xml
  components/camel-velocity/pom.xml
Labels: components, camel-4

#11086 camel-test - Make jms test faster
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsConsumerShutdownTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsJettyAsyncTest.java
Labels: tests, camel-4

#11091 camel-mail - Attempt to fix flaky test
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailConvertersTest.java
Labels: components, camel-4

#11093 Upgrade to Apache Pulsar 3.0.1
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11095 Fix flaky test
  components/camel-spring-xml/src/test/resources/org/apache/camel/language/SpringTokenXMLPairNamespaceSplitTest.xml
  core/camel-core/src/test/java/org/apache/camel/language/TokenXMLPairMultiNamespaceSplitTest.java
  core/camel-core/src/test/java/org/apache/camel/language/TokenXMLPairNamespaceMultilineSplitTest.java
  core/camel-core/src/test/java/org/apache/camel/language/TokenXMLPairNamespaceSplitTest.java
Labels: components, core, camel-4

#11094 camel-core - Make test go faster and reformat
  core/camel-core/src/test/java/org/apache/camel/component/file/strategy/FileChangedReadLockZeroTimeoutTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/ScheduledPollConsumerTest.java
Labels: core, camel-4

#11101 CAMEL-19737: Updates aws2-sns queueUrl to queueArn
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2ComponentConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointUriFactory.java
  components/camel-aws/camel-aws2-sns/src/generated/resources/org/apache/camel/component/aws2/sns/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Configuration.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Endpoint.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/SnsComponentConfigurationTest.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/integration/SnsTopicProducerWithSubscriptionIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_1.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2SnsComponentBuilderFactory.java
Labels: components, catalog, docs, dsl, components-aws, camel-4

#11104 (chores) camel-rocketmq: fixed logging configuration
  components/camel-rocketmq/pom.xml
  components/camel-rocketmq/src/test/resources/logback-test.xml
Labels: components, camel-4

#11060 CAMEL-19516: replaced Thread.sleep() in camel-consul tests
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulClusteredRoutePolicyFactoryIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulClusteredRoutePolicyIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cluster/ConsulMasterIT.java
Labels: components, camel-4

#11061 CAMEL-19518: replaced Thread.sleep() in camel-disruptor tests
  components/camel-disruptor/pom.xml
  components/camel-disruptor/src/test/java/org/apache/camel/component/disruptor/DisruptorConsumerSuspendResumeTest.java
Labels: components, camel-4

#11107 CAMEL-19739: camel run - Add stub option to run in stub mode
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/stub.json
  components/camel-stub/src/generated/java/org/apache/camel/component/stub/StubComponentConfigurer.java
  components/camel-stub/src/generated/resources/org/apache/camel/component/stub/stub.json
  components/camel-stub/src/main/java/org/apache/camel/component/stub/StubComponent.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainAutowiredLifecycleStrategy.java
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/StubComponentBuilderFactory.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CatalogLoader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderComponentResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KameletAutowiredLifecycleStrategy.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KameletMainInjector.java
Labels: components, core, catalog, docs, dsl, camel-4

#11108 fixed bad spelling in whatsapp-component TemplateMessage
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/model/TemplateMessage.java
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/model/TemplateMessageRequest.java
Labels: components, camel-4

#11110 CAMEL-19740: camel-stub - Add dev console
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaComponent.java
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaEndpoint.java
  components/camel-stub/src/generated/resources/META-INF/services/org/apache/camel/dev-console/stub
  components/camel-stub/src/main/java/org/apache/camel/component/stub/StubConsole.java
Labels: components, camel-4

#11111 (chores) camel-base-engine: fixed a log message not using log markers
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BaseExecutorServiceManager.java
Labels: core, camel-4

#11076 [Camel-18635] Added ability to generate route coverage reports in HTML format
  catalog/camel-report-maven-plugin/pom.xml
  catalog/camel-report-maven-plugin/src/main/docs/camel-report-maven-plugin.adoc
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/CamelContextRouteCoverage.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/ChildEip.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/ChildEipStatistic.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/Components.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/EipAttribute.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/EipStatistic.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/Route.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/RouteStatistic.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/RouteTotalsStatistic.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/Routes.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/Test.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/model/TestResult.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/CoverageResultsProcessor.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/FileUtil.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/TemplateRenderer.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/TestResultParser.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/XmlToCamelRouteCoverageConverter.java
  catalog/camel-report-maven-plugin/src/main/resources/static/css/datatables.min.css
  catalog/camel-report-maven-plugin/src/main/resources/static/js/datatables.min.js
  catalog/camel-report-maven-plugin/src/main/resources/templates/details.html
  catalog/camel-report-maven-plugin/src/main/resources/templates/fragments-static.html
  catalog/camel-report-maven-plugin/src/main/resources/templates/fragments.html
  catalog/camel-report-maven-plugin/src/main/resources/templates/index.html
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/TestUtil.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/CamelContextRouteCoverageTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/ChildEipStatisticTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/ChildEipTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/ComponentsTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/EipAttributeTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/EipStatisticTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/GetterAndSetterTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/GetterSetterPair.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/RouteStatisticTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/RouteTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/RouteTotalsStatisticTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/RoutesTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/TestResultTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/model/TestTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/process/CoverageResultsProcessorTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/process/FileUtilTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/process/TemplateRendererTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/process/TestJsonProcessingException.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/process/TestResultParserTest.java
  catalog/camel-report-maven-plugin/src/test/java/org/apache/camel/maven/htmlxlsx/process/XmlToCamelRouteCoverageTest.java
  catalog/camel-report-maven-plugin/src/test/resources/XmlToCamelRouteCoverageConverter.xml
  catalog/camel-report-maven-plugin/src/test/resources/_target/camel-route-coverage/com.example.route.ConditionalBeanRouteUnitTest-whenSendBodyWithFruit_thenFavouriteHeaderReceivedSuccessfully.xml
  catalog/camel-report-maven-plugin/src/test/resources/_target/camel-route-coverage/com.example.route.ConditionalBodyRouteUnitTest-whenSendBodyWithCloudCuckoo_thenGoodbyeMessageReceivedSuccessfully.xml
  catalog/camel-report-maven-plugin/src/test/resources/_target/camel-route-coverage/com.example.route.ConditionalHeaderRouteUnitTest-whenSendBodyWithFruit_thenFavouriteHeaderReceivedSuccessfully.xml
  catalog/camel-report-maven-plugin/src/test/resources/_target/camel-route-coverage/com.example.route.GreetingsFileRouteUnitTest-whenSendBody_thenGreetingReceivedSuccessfully.xml
  catalog/camel-report-maven-plugin/src/test/resources/greetings-route.html
  catalog/camel-report-maven-plugin/src/test/resources/index.html
  catalog/camel-report-maven-plugin/src/test/resources/templates/index.html
  parent/pom.xml
Labels: catalog, core-build-and-dependencies, camel-4

#11112 Upgrade reactor-core 3.5.9
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11113 Upgrade micrometer 1.11.3 and tracing 1.1.4
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11114 CAMEL-19751: disable misbehaved camel-xchange tests
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/market/MarketDataProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
Labels: components, camel-4

#11122 CAMEL-19754: remove code checking for older Java versions
  components/camel-csimple-joor/src/test/java/org/apache/camel/language/csimple/joor/OriginalSimpleTest.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorLanguage.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestSupport.java
  core/camel-core/src/test/java/org/apache/camel/TestSupport.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/KeyStoreParametersTest.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-common/src/test/groovy/org/apache/camel/dsl/yaml/common/ConstructorResolverTest.groovy
Labels: components, core, dsl, camel-4

#11124 CAMEL-19747: camel-jbang - Add command to browse stub queues
  components/camel-stub/src/main/java/org/apache/camel/component/stub/StubConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/EndpointDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/SourceDevConsole.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStubAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelThreadDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/MessageTableHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/RouteControllerAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListEndpoint.java
Labels: components, core, dsl, camel-4

#11125 (chores) camel-util: micro-optimizations to StringHelper
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#11120 Backport CAMEL-19751 to Camel 4.0.x
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/market/MarketDataProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
Labels: components

#11119 Backport CAMEL-19751 to Camel 3.x
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/market/MarketDataProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
Labels: components, camel-3

#11118 Backport CAMEL-19751 to Camel 3.21.x
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/market/MarketDataProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
Labels: components

#11117 Backport CAMEL-19751 to Camel 3.20.x
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/account/AccountProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/market/MarketDataProducerTest.java
  components/camel-xchange/src/test/java/org/apache/camel/component/xchange/metadata/MetaDataProducerTest.java
Labels: components

#11115 CAMEL-19748: fixed catching Throwable in camel-core-processor
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ChoiceProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ClaimCheckProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/DelayProcessorSupport.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Enricher.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/EvaluateExpressionProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/EventNotifierProducer.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/LogProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Pipeline.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/PollEnricher.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/PooledTaskFactory.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Resequencer.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RestBindingAdvice.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RoutingSlip.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ScriptProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendDynamicProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SetBodyProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SetHeaderProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SetPropertyProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/StepProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/StreamResequencer.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ThreadsProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ThrowExceptionProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/TransformProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/WireTapProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
Labels: core, camel-4

#11116 CAMEL-19748: fixed catching Throwables in camel-base-engine
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AdviceIterator.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BaseExecutorServiceManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelPostProcessorHelper.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultAsyncProcessorAwaitManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultConsumerTemplate.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultReactiveExecutor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultShutdownStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DurationRoutePolicy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SharedCamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SubscribeMethodProcessor.java
Labels: core, camel-4

#11127 (chores) camel-util: more aggressive micro-optimizations to StringHelper#capitalize
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#11128 (chores) camel-util: added a test for StringHelper#splitOnCharacter
  core/camel-util/src/test/java/org/apache/camel/util/StringHelperTest.java
Labels: core, camel-4

#11129 (chores) cleanup duplicated capitalization code
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/async/MyAsyncComponent.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/async/MyAsyncComponent.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/support/MyAsyncComponent.java
  components/camel-xchange/src/main/java/org/apache/camel/component/xchange/XChangeHelper.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/IntrospectionSupport.java
  core/camel-core/src/test/java/org/apache/camel/processor/async/MyAsyncComponent.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/out/ModelWriterTest.java
Labels: components, core, components-jms, camel-4

#11130 (chores) cleanup duplicated capitalization code in tooling
  components/camel-servicenow/camel-servicenow-maven-plugin/src/main/java/org/apache/camel/maven/CamelServiceNowGenerateMojo.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/Strings.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/srcgen/Property.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointDslMojo.java
Labels: components, tooling, tooling-maven, camel-4

#11131 (chores) cleanup duplicated decapitalization code
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/IntrospectionSupport.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#11134 (chores) camel-util: simplify StringHelper capitalize/decapitalize methods
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#11123 Camel-19557: added assertions to camel-core tests
  core/camel-core/src/test/java/org/apache/camel/builder/FluentProducerTemplateTest.java
  core/camel-core/src/test/java/org/apache/camel/builder/NotifyBuilderTest.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplateDefaultValueTest.java
  core/camel-core/src/test/java/org/apache/camel/catalog/CustomEndpointUriFactoryTest.java
  core/camel-core/src/test/java/org/apache/camel/cluster/ClusterServiceSelectorTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanClassTypeUseBeanFromRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanComponentMissingParenthesisTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanCreateBodyExceptionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanExchangeAsReturnTypeNotAllowedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanHandlerMethodTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanInfoAMoreComplexOverloadedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanInfoInheritanceTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanInfoWithBridgedMethodTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanInvokeStaticTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanMethodWithEmptyParameterAndNoMethodWithNoParameterIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanNoTypeConvertionPossibleTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanNoTypeConvertionPossibleWhenHeaderTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanOverloadedMethodFQNTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanParameterInvalidSyntaxTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanParameterInvalidValueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanParameterNoBeanBindingTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanProxyNoBindingTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanProxyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanRefMethodNotFoundTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanRefNotFoundTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanThrowAssertionErrorTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanWithMethodHeaderTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/ClassComponentInvalidConfigurationTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/MethodCallBeanRefMethodNotFoundTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/MethodCallBeanRefNotFoundTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/MethodCallMissingParenthesisTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/MyServiceProxyTest.java
Labels: core, camel-4

#11136 CAMEL-19748: fixed catching Throwables in camel-core-processor
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
Labels: core, camel-4

#11137 CAMEL-19748: fixed catching Throwables in camel-support
  core/camel-support/src/main/java/org/apache/camel/support/AsyncProcessorConverterHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultTimeoutMap.java
  core/camel-support/src/main/java/org/apache/camel/support/LRUCacheFactory.java
  core/camel-support/src/main/java/org/apache/camel/support/LazyStartProducer.java
  core/camel-support/src/main/java/org/apache/camel/support/LoggingExceptionHandler.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/SimpleRegistry.java
  core/camel-support/src/main/java/org/apache/camel/support/SupplierRegistry.java
  core/camel-support/src/main/java/org/apache/camel/support/TimerListenerManager.java
  core/camel-support/src/main/java/org/apache/camel/support/UnitOfWorkHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultConsumerCache.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultProducerCache.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiProducer.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/jndi/JndiBeanRepository.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/CamelLogProcessor.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/DelegateSyncProcessor.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/MarshalProcessor.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/UnmarshalProcessor.java
Labels: core, camel-4

#11138 CAMEL-19748: fixed catching Throwables in camel-main
  core/camel-main/src/main/java/org/apache/camel/main/SimpleMainShutdownStrategy.java
Labels: core, camel-4

#11135 CAMEL-18998: removed @Disabled in camel-ftp test
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFileToFtpSplitParallelIT.java
Labels: components, camel-4

#11140 Main
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4

#11102 CAMEL-19656 batch visibility extender task
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsConsumerExtendMessageVisibilityTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsDoesNotExtendMessageVisibilityTest.java
Labels: components, components-aws, camel-4

#11139 CAMEL-19748: fixed catching Throwables in camel-core
  core/camel-base/src/main/java/org/apache/camel/impl/converter/AnnotationTypeConverterLoader.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/BaseTypeConverterRegistry.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-engine/src/main/docs/modules/eips/pages/customLoadBalancer-eip.adoc
  core/camel-core-model/src/main/java/org/apache/camel/builder/AdviceWith.java
  core/camel-core/src/test/java/org/apache/camel/processor/CustomLoadBalanceTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/IdempotentConsumerConcurrentTest.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBacklogDebugger.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/io/ModelJSonSchemaResolver.java
Labels: core, camel-4

#11142 Upgrade google-cloud stuff
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11141 (chores) camel-util: simplify StringHelper camelCaseToDash
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#11146 CAMEL-19758: netty-http in proxy mode generates IllegalReferenceCount…
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
Labels: components, camel-4

#11148 (chores) doc: added migration details for the camel-twitter component
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4

#11149 (chores) doc: Added a note about consumerClass that was also removed
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4
