Repository apache/camel, pull requests merged in 2023-05, with the labels that each got.

#9968 CAMEL-19058: rework the Message to avoid hitting the type-check scalability issue
  components/camel-attachments/src/main/java/org/apache/camel/attachment/DefaultAttachmentMessage.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsMessage.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsMessageHelper.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsMessage.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/jms/JmsMessageHelper.java
  core/camel-api/src/main/java/org/apache/camel/Message.java
  core/camel-api/src/main/java/org/apache/camel/trait/message/MessageTrait.java
  core/camel-api/src/main/java/org/apache/camel/trait/message/RedeliveryTraitPayload.java
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultMessage.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultPooledExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageSupport.java
  core/camel-support/src/test/java/org/apache/camel/support/MessageHelperTest.java
Labels: components, core, components-jms, camel-4

#9976 CAMEL-19304: camel-jpa implement paging (camel-3.x)
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointConfigurer.java
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointUriFactory.java
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaConstants.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/AbstractJpaMethodSupport.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/AbstractJpaMethodTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaPagingTest.java
Labels: components, camel-3

#9974 CAMEL-19306: camel-jbang - added beans definition as known yaml file
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#9981 CAMEL-17946 candidate hotfix for AS2 POM. Sorry
  components/camel-as2/camel-as2-component/pom.xml
Labels: components, camel-4

#9984 CAMEL-19058: wrap some internal properties in an EnumMap
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultPooledExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageSupport.java
Labels: core, camel-4

#9988 camel-ldap: Updated documentation
  components/camel-ldap/src/main/docs/ldap-component.adoc
Labels: components, camel-4

#9991 (chores) deps: upgrade Jandex to the latest version
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9995 Update rest-component.adoc
  components/camel-rest/src/main/docs/rest-component.adoc
Labels: components

#9996 Update rest-component.adoc
  components/camel-rest/src/main/docs/rest-component.adoc
Labels: components, camel-4

#10002 CAMEL-19325: Add default identity support
  components/camel-azure/camel-azure-cosmosdb/pom.xml
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/CosmosDbComponent.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/CosmosDbConfiguration.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/client/CosmosDbClientFactory.java
Labels: components, components-azure, camel-3

#10003 CAMEL-19325: Add default identity support
  components/camel-azure/camel-azure-cosmosdb/pom.xml
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/CosmosDbComponent.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/CosmosDbConfiguration.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/client/CosmosDbClientFactory.java
Labels: components, components-azure, camel-4

#10010 CAMEL-19060: use LongAdder in DefaultInflightRepository to reduce contention
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultInflightRepository.java
Labels: core, camel-4

#10001 [CAMEL-19324]Be able to convert all elements from CXF MessageContents…
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CxfConverter.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/converter/ConverterTest.java
Labels: components, camel-4

#10034 [3.18.x] Backports
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components

#10045 CAMEL-19327: camel-jpa support singleResult option (main)
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointConfigurer.java
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointUriFactory.java
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/AdditionalQueryParameters.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaOutputTypeTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaPagingTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithOptionsTestSupport.java
Labels: components, camel-4

#10032 CAMEL-19327: camel-jpa support singleResult option
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointConfigurer.java
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointUriFactory.java
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/AdditionalQueryParameters.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaOutputTypeTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaPagingTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithOptionsTestSupport.java
Labels: components, camel-3

#10056 Avoid duplicates when generating SBOM
  pom.xml
Labels: camel-4

#10064 Bump jedis and spring data redis version
  camel-dependencies/pom.xml
  components/camel-spring-redis/pom.xml
  components/camel-spring-redis/src/test/java/org/apache/camel/component/redis/integration/RedisConsumerManualIT.java
  components/camel-spring-redis/src/test/java/org/apache/camel/component/redis/integration/RedisProducerManualIT.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10065 CAMEL-19163: Add exclusion for overridden google-api-client in camel-google-main and camel-google-sheets
  components/camel-google/camel-google-mail/pom.xml
  components/camel-google/camel-google-sheets/pom.xml
Labels: components, camel-4

#10067 Change display names for hwcloud to be more user friendly
  components/camel-huawei/camel-huaweicloud-frs/src/main/java/org/apache/camel/component/huaweicloud/frs/FaceRecognitionEndpoint.java
  components/camel-huawei/camel-huaweicloud-imagerecognition/src/main/java/org/apache/camel/component/huaweicloud/image/ImageRecognitionEndpoint.java
Labels: components, camel-4

#10071 (chores) camel-support: use final where possible/safe
  core/camel-support/src/main/java/org/apache/camel/support/DefaultScheduledPollConsumerScheduler.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ValueBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultConsumerCache.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultProducerCache.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/ServicePool.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/ThroughputLogger.java
  core/camel-support/src/main/java/org/apache/camel/support/task/ForegroundTask.java
Labels: core, camel-4

#10072 (chores): break the before method on the StreamCachingAdvice
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
Labels: core, camel-4

#10079 CAMEL-19350: outputTarget in camel-jpa (3.x)
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointConfigurer.java
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointUriFactory.java
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/AdditionalEndpointParameters.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaOutputTargetTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaOutputTypeTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaPagingTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithOptionsTestSupport.java
Labels: components, camel-3

#10083 CAMEL-19352: improve mybatis doc
  components/camel-mybatis/src/main/docs/mybatis-component.adoc
Labels: components, camel-4

#9986 CAMEL-19102: cache the producer and endpoint locally to avoid hitting the type check scalability issue
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultProducerCache.java
Labels: core, camel-4

#10089 Upgrade bouncy castle to 1.73
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10087 (chores) camel-nats: prevent flaky tests from running on GH actions
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerMaxMessagesIT.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/integration/NatsConsumerReplyToIT.java
Labels: components, camel-4

#10088 Handle exception thrown in beanProcessor.process
  components/camel-mybatis/src/main/java/org/apache/camel/component/mybatis/MyBatisBeanProducer.java
  components/camel-mybatis/src/test/java/org/apache/camel/component/mybatis/bean/MyBatisBeanWrongMethodTest.java
Labels: components, camel-4

#10090 Autowire sqlSessionFactory
  components/camel-mybatis/src/generated/java/org/apache/camel/component/mybatis/MyBatisBeanComponentConfigurer.java
  components/camel-mybatis/src/generated/java/org/apache/camel/component/mybatis/MyBatisComponentConfigurer.java
  components/camel-mybatis/src/generated/resources/org/apache/camel/component/mybatis/mybatis-bean.json
  components/camel-mybatis/src/generated/resources/org/apache/camel/component/mybatis/mybatis.json
  components/camel-mybatis/src/main/java/org/apache/camel/component/mybatis/MyBatisComponent.java
Labels: components, camel-4

#10093 CAMEL-19350: outputTarget in camel-jpa (main)
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointConfigurer.java
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointUriFactory.java
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/AdditionalEndpointParameters.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaOutputTargetTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaOutputTypeTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaPagingTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithOptionsTestSupport.java
Labels: components, camel-4

#10091 Upgrades micrometer
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationTracer.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-3

#10009 CAMEL-19314 - Fixing the connection pool shutdown when aws health checks are used
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailConsumerHealthCheck.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerClientHealthCheck.java
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2ClientHealthCheck.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2HealthCheck.java
  components/camel-aws/camel-aws2-ecs/src/main/java/org/apache/camel/component/aws2/ecs/ECS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-eventbridge/src/main/java/org/apache/camel/component/aws2/eventbridge/EventbridgeClientHealthCheck.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2HealthCheck.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCheck.java
  components/camel-aws/camel-aws2-lambda/src/main/java/org/apache/camel/component/aws2/lambda/Lambda2ClientHealthCheck.java
  components/camel-aws/camel-aws2-mq/src/main/java/org/apache/camel/component/aws2/mq/MQ2ClientHealthCheck.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2HealthCheck.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheck.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2HealthCheck.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2HealthCheck.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheck.java
  components/camel-aws/camel-aws2-translate/src/main/java/org/apache/camel/component/aws2/translate/Translate2ClientHealthCheck.java
Labels: components, components-aws, camel-4

#10097 [backport 3.18.x] CAMEL-18834: camel-core - StringQuoteHelper should remove quotes for …
  core/camel-core/src/test/java/org/apache/camel/util/StingQuoteHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
Labels: core

#10101 CAMEL-19298 Snmp: version 3 is not supported for several actions
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpHelper.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpOIDPoller.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpProducer.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpTrapProducer.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/AbstractTrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/PollOIDTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/ProducerTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpRespondTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv1TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv2TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/WalkOIDTest.java
Labels: components, camel-4

#10102 CAMEL-19298 Snmp replacing Thread.sleep with Awaitility
  components/camel-snmp/pom.xml
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/TrapTest.java
Labels: components, camel-4

#10103 Adds a null guard against parentObservation
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationTracer.java
Labels: components, camel-3

#10113 (chores) camel-base-engine: removed unnecessary null check
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelBeanPostProcessor.java
Labels: core, camel-4

#10106 CAMEL-19298 Snmp: version 3 is not supported for several actions (3.18.x)
  components/camel-snmp/pom.xml
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpHelper.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpOIDPoller.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpProducer.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpTrapProducer.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/AbstractTrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/PollOIDTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/ProducerTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpRespondTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv1TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv2TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/WalkOIDTest.java
Labels: components

#10108 CAMEL-19298 Snmp: version 3 is not supported for several actions (3.x)
  components/camel-snmp/pom.xml
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpHelper.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpOIDPoller.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpProducer.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpTrapProducer.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/AbstractTrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/PollOIDTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/ProducerTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpRespondTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv1TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv2TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/WalkOIDTest.java
Labels: components, camel-3

#10109 CAMEL-19298 Snmp: version 3 is not supported for several actions (3.20.x)
  components/camel-snmp/pom.xml
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpHelper.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpOIDPoller.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpProducer.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpTrapProducer.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/AbstractTrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/PollOIDTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/ProducerTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpRespondTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/SnmpTestSupport.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv1TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv2TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/WalkOIDTest.java
Labels: components

#10112 (chores) camel-core: removed unnecessary explicit calls to toString
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallExpressionConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceChooserConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceDiscoveryConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceFilterConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceLoadBalancerConfiguration.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileMoveAndMoveFailedIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/myconverter/MyFallbackPromoteConverter.java
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/StringAggregationStrategyTest.java
  core/camel-management/src/test/java/org/apache/camel/issues/DynamicRouterConvertBodyToIssueManualTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodHelper.java
Labels: core, camel-4

#10114 (chores) camel-core: use static inner classes in tests
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanInfoAMoreComplexOverloadedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanInfoOverloadedWithSubTypeParamTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/ProducerCacheNonSingletonTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultSupervisingRouteControllerTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/IntrospectionSupportTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/RouteStartupFailShouldStopAlsoIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ConsumerRouteIdAwareTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/PipelineStepWithEventTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/onexception/OnExceptionUseOriginalMessageStreamTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainSupervisingRouteControllerFilterFailToStartRouteTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainSupervisingRouteControllerTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainSupportCommandLineTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainVetoTest.java
  core/camel-management/src/test/java/org/apache/camel/management/LoadTimerTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedNonManagedServiceTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedRouteRestartTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedSupervisingRouteControllerTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedThrottlingExceptionRoutePolicyTest.java
Labels: core, camel-4

#10133 (chores) camel-aws2-kinesis: fixed readiness health check
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCustomClientIT.java
Labels: components, components-aws, camel-4

#10138 CAMEL-19365: disabled UndertowHttpsSpringTest
  components/camel-undertow/src/test/java/org/apache/camel/component/undertow/UndertowHttpsSpringTest.java
Labels: components, camel-4

#10139 (chores) camel-opentelemetry: fix RouteConcurrentTest which needs to run in isolation
  components/camel-opentelemetry/pom.xml
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/RouteConcurrentTest.java
Labels: components, camel-4

#10140 (chores) camel-observation: fix RouteConcurrentTest which needs to run in isolation
  components/camel-observation/pom.xml
  components/camel-observation/src/test/java/org/apache/camel/observation/RouteConcurrentTest.java
Labels: components, camel-4

#9972 CAMEL-19295 - Concurrency issues with dynamicMap in AbstractDynamicRegistry
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractDynamicRegistry.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultEndpointRegistryTest.java
Labels: core, catalog, camel-4

#10154 CAMEL-19365: disable endpoint verification
  components/camel-undertow/pom.xml
  components/camel-undertow/src/test/java/org/apache/camel/component/undertow/UndertowHttpsSpringTest.java
Labels: components, camel-4

#10161 (chores) camel-catalog: use an unmodifiable List by default
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
Labels: catalog, camel-4

#10160 (chores) camel-core: remove unused method parameter
  components/camel-disruptor/src/main/java/org/apache/camel/component/disruptor/AbstractSynchronizedExchange.java
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaConsumer.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultConsumerTemplate.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
  core/camel-core/src/test/java/org/apache/camel/builder/xml/XsltBuilderTest.java
  core/camel-support/src/main/java/org/apache/camel/support/UnitOfWorkHelper.java
Labels: components, core, camel-4

#10166 CAMEL-19371: camel-core - Avoid suppressed exception added for same c…
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTransferExceptionTest.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
  core/camel-core/src/test/java/org/apache/camel/processor/onexception/ErrorHandlerSuppressExceptionTest.java
Labels: components, core, components-jms, camel-4

#10167 Update netty to the latest version
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10175 (chores) build: cleanup multi-arch builds and tests
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10177 (chores) build: remove unused 'errorprone' profile
  parent/pom.xml
  pom.xml
Labels: core-build-and-dependencies, camel-4

#10144 CAMEL-19364 Rest-openapi: lookup mechanism does not work
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiBean.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiComponentTest.java
Labels: components, camel-4

#10131 CAMEL-19378: File Changed ReadLock Strategy with minAge only looks for lastModified
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/FileChangedExclusiveReadLockStrategy.java
Labels: components, camel-4

#10190 Remove duplicate phrase in notify-builder.adoc
  docs/user-manual/modules/ROOT/pages/notify-builder.adoc
Labels: docs, camel-4

#10184 CAMEL-19359: camel-spring - Graceful shutdown in Spring Boot better s…
  components/camel-spring/src/main/java/org/apache/camel/spring/SpringCamelContext.java
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: components, docs, camel-4

#10192 Make Sonar happy: XmlStreamDetector XMLInputFactory should not allow …
  core/camel-xml-io-util/src/main/java/org/apache/camel/xml/io/util/XmlStreamDetector.java
Labels: core, camel-4

#10194 CAMEL-19383: camel-jslt allowTemplateFromHeader bug
  components/camel-jslt/src/main/java/org/apache/camel/component/jslt/JsltEndpoint.java
  components/camel-jslt/src/test/java/org/apache/camel/component/jslt/JsltTemplateFromHeaderTest.java
  components/camel-jslt/src/test/resources/org/apache/camel/component/jslt/simple/transformation.jslt
Labels: components, camel-3

#10157 CAMEL-19295: Basic thread-safe LRU cache
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultEndpointRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/support/DefaultLRUCacheFactoryTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultLRUCacheFactory.java
Labels: core, camel-4

#10203 camel-elasticsearch: Downgrade the jackson version to 2.14.3
  camel-dependencies/pom.xml
  components/camel-elasticsearch/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10204 (chores) camel-util: cleanups and perf improvements
  core/camel-util/src/main/java/org/apache/camel/util/URIScanner.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
Labels: core, camel-4

#10205 CAMEL-19386: Support object property on template bean
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/routebuilder/MyLocalBean.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/routebuilder/SpringRouteTemplateLocalBeanTest.java
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/routebuilder/SpringRouteTemplateLocalBeanTest.xml
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/templateBean.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/templatedRouteBean.json
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanFactoryDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeanPropertiesAdapter.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeanFactoryDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletLoaderTest.groovy
Labels: components, core, dsl, camel-4

#10210 (chores) camel-fhir: skip FhirMetaIT test on Apache CI because it's flaky
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirMetaIT.java
Labels: components, camel-4

#10212 (chores) camel-core: minor test cleanups
  core/camel-core/src/test/java/org/apache/camel/CamelExceptionsTest.java
  core/camel-core/src/test/java/org/apache/camel/builder/ExceptionBuilderWithHandledExceptionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/direct/DirectNoConsumerTest.java
  core/camel-core/src/test/java/org/apache/camel/component/ref/RefInvalidTest.java
  core/camel-core/src/test/java/org/apache/camel/util/toolbox/FlexibleAggregationStrategiesTest.java
Labels: core, camel-4

#10213 CAMEL-19295: Basic thread-safe LRU cache
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultEndpointRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultProducerCacheTest.java
  core/camel-core/src/test/java/org/apache/camel/support/DefaultLRUCacheFactoryTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultLRUCacheFactory.java
Labels: core, camel-3

#10216 CAMEL-19296: Configure checkstyle to prevent the violation
  buildingtools/src/main/resources/camel-checkstyle-suppressions.xml
Labels: core-build-tooling, camel-3

#10214 [CAMEL-19392] Correct template bean definition schema
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletLoaderTest.groovy
Labels: dsl, camel-3

#10217 CAMEL-19384: Add minimalJavaBuildVersion to pom.xml for maven enforce…
  pom.xml
Labels: camel-4

#10235 CAMEL-19401: camel-test-infra-kafka - Fix Kafka docker image name
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
Labels: test-infra

#10237 Fix typo in classname and avoid unused variable
  core/camel-core-processor/src/main/java/org/apache/camel/processor/transformer/DataFormatTransformer.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/transformer/CustomTransformerReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/transformer/TransformerReifier.java
Labels: core, camel-4

#10232 CAMEL-19399: camel-cxf - Don't add entry in Converter cache on error
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CxfPayloadConverter.java
Labels: components

#10227 CAMEL-19399: camel-cxf - Don't add entry in Converter cache on error
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CxfPayloadConverter.java
Labels: components, camel-4

#10236 Artemis test-infra typo on configuration properties
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisService.java
  test-infra/camel-test-infra-messaging-common/src/test/java/org/apache/camel/test/infra/messaging/services/MessagingServiceBuilder.java
Labels: test-infra, camel-3

#10240 Fix typo in classname for EndpointTransformerReifier
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/transformer/EndpointTransformerReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/transformer/TransformerReifier.java
Labels: core, camel-4

#10246 Fix typo in bean-component.adoc
  components/camel-bean/src/main/docs/bean-component.adoc
Labels: components

#10241 Artemis test-infra typo on configuration properties (main branch)
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisService.java
  test-infra/camel-test-infra-messaging-common/src/test/java/org/apache/camel/test/infra/messaging/services/MessagingServiceBuilder.java
Labels: test-infra, camel-4

#10218 CAMEL-13573 : create parquet-avro dataformat
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/marshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/unmarshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-parquet-avro/pom.xml
  components/camel-parquet-avro/src/generated/resources/META-INF/services/org/apache/camel/dataformat.properties
  components/camel-parquet-avro/src/generated/resources/META-INF/services/org/apache/camel/dataformat/parquetAvro
  components/camel-parquet-avro/src/main/doc/parquetAvro-dataformat.adoc
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormat.java
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetInputStream.java
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetOutputStream.java
  components/camel-parquet-avro/src/test/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormatTest.java
  components/camel-parquet-avro/src/test/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormatUnmarshalFromFileTest.java
  components/camel-parquet-avro/src/test/java/org/apache/camel/dataformat/parquet/avro/Pojo.java
  components/camel-parquet-avro/src/test/java/org/apache/camel/dataformat/parquet/avro/SpringParquetAvroDataFormatRouteTest.java
  components/camel-parquet-avro/src/test/resources/SpringParquetAvroDataFormatRouteTest.xml
  components/camel-parquet-avro/src/test/resources/example1.parquet
  components/camel-parquet-avro/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/model.properties
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/jaxb.index
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/parquetAvro.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/marshal.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/unmarshal.json
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatBuilderFactory.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatClause.java
  core/camel-core-model/src/main/java/org/apache/camel/model/MarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/UnmarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ParquetAvroDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/transformer/DataFormatTransformerDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/DataFormatReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/ParquetAvroDataFormatReifier.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  dsl/camel-endpointdsl/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  parent/pom.xml
Labels: components, core, catalog, dsl, core-build-and-dependencies, camel-4

#10238 CAMEL-19402: test-infra - Reduce the boilerplate code needed
  test-infra/camel-test-infra-arangodb/src/test/java/org/apache/camel/test/infra/arangodb/services/ArangoDBService.java
  test-infra/camel-test-infra-arangodb/src/test/java/org/apache/camel/test/infra/arangodb/services/ArangoDBServiceFactory.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisService.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisServiceFactory.java
  test-infra/camel-test-infra-aws-common/src/test/java/org/apache/camel/test/infra/aws/common/services/AWSService.java
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzureService.java
  test-infra/camel-test-infra-cassandra/src/test/java/org/apache/camel/test/infra/cassandra/services/CassandraService.java
  test-infra/camel-test-infra-chatscript/src/test/java/org/apache/camel/test/infra/chatscript/services/ChatScriptService.java
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/services/SingletonService.java
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/services/TestService.java
  test-infra/camel-test-infra-consul/src/test/java/org/apache/camel/test/infra/consul/services/ConsulService.java
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseService.java
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseServiceFactory.java
  test-infra/camel-test-infra-couchdb/src/test/java/org/apache/camel/test/infra/couchdb/services/CouchDbService.java
  test-infra/camel-test-infra-couchdb/src/test/java/org/apache/camel/test/infra/couchdb/services/CouchDbServiceFactory.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchService.java
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/services/Etcd3Service.java
  test-infra/camel-test-infra-fhir/src/test/java/org/apache/camel/test/infra/fhir/services/FhirService.java
  test-infra/camel-test-infra-ftp/src/test/java/org/apache/camel/test/infra/ftp/services/FtpService.java
  test-infra/camel-test-infra-google-pubsub/src/test/java/org/apache/camel/test/infra/google/pubsub/services/GooglePubSubService.java
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultService.java
  test-infra/camel-test-infra-hdfs/src/test/java/org/apache/camel/test/infra/hdfs/v2/services/HDFSService.java
  test-infra/camel-test-infra-hdfs/src/test/java/org/apache/camel/test/infra/hdfs/v2/services/HDFSServiceFactory.java
  test-infra/camel-test-infra-ignite/src/test/java/org/apache/camel/test/infra/ignite/services/IgniteService.java
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanService.java
  test-infra/camel-test-infra-jdbc/src/test/java/org/apache/camel/test/infra/jdbc/services/JDBCService.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaServiceFactory.java
  test-infra/camel-test-infra-messaging-common/src/test/java/org/apache/camel/test/infra/messaging/services/MessagingService.java
  test-infra/camel-test-infra-microprofile-lra/src/test/java/org/apache/camel/test/infra/microprofile/lra/services/MicroprofileLRAService.java
  test-infra/camel-test-infra-minio/src/test/java/org/apache/camel/test/infra/minio/services/MinioService.java
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/services/MongoDBService.java
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/services/MongoDBServiceFactory.java
  test-infra/camel-test-infra-mosquitto/src/test/java/org/apache/camel/test/infra/mosquitto/services/MosquittoService.java
  test-infra/camel-test-infra-nats/src/test/java/org/apache/camel/test/infra/nats/services/NatsService.java
  test-infra/camel-test-infra-openldap/src/test/java/org/apache/camel/test/infra/openldap/services/OpenldapService.java
  test-infra/camel-test-infra-postgres/src/test/java/org/apache/camel/test/infra/postgres/services/PostgresService.java
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarService.java
  test-infra/camel-test-infra-rabbitmq/src/test/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQService.java
  test-infra/camel-test-infra-redis/src/test/java/org/apache/camel/test/infra/redis/services/RedisService.java
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrService.java
  test-infra/camel-test-infra-xmpp/src/test/java/org/apache/camel/test/infra/xmpp/services/XmppService.java
  test-infra/camel-test-infra-zookeeper/src/test/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperService.java
Labels: test-infra, camel-4

#10250 CAMEL-19290: camel-solr - Remove the underlying camel-test-infra
  test-infra/camel-test-infra-solr/pom.xml
  test-infra/camel-test-infra-solr/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/common/SolrProperties.java
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrLocalContainerCloudService.java
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrLocalContainerService.java
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrRemoteService.java
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrService.java
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrServiceFactory.java
  test-infra/pom.xml
Labels: test-infra, camel-4
