Repository apache/camel, pull requests merged in 2023-03, with the labels that each got.

#9451 [CAMEL-19100] Fixes lost dataChangeFilterTrigger in camel-milo
  components/camel-milo/src/generated/resources/org/apache/camel/component/milo/client/milo-client.json
  components/camel-milo/src/main/java/org/apache/camel/component/milo/client/MonitorFilterConfiguration.java
Labels: components

#9455 camel-milo: Fix lost dataChangeFilterTrigger
  components/camel-milo/src/generated/resources/org/apache/camel/component/milo/client/milo-client.json
  components/camel-milo/src/main/java/org/apache/camel/component/milo/client/MonitorFilterConfiguration.java
Labels: components, camel-3

#9459 Fix deprecated API and properties in camel-salesforce-codegen
  components/camel-salesforce/camel-salesforce-codegen/src/main/java/org/apache/camel/component/salesforce/codegen/AbstractSalesforceExecution.java
  components/camel-salesforce/camel-salesforce-codegen/src/main/java/org/apache/camel/component/salesforce/codegen/GenerateExecution.java
Labels: components, camel-4

#9464 Upgrade freemarker, httpclient4, spring-batch, spring-security, and spring-ws to match versions in 2.7.9 spring-boot-dependencies
  camel-dependencies/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/milo-client.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MiloClientEndpointBuilderFactory.java
  parent/pom.xml
Labels: catalog, dsl, core-build-and-dependencies

#9454 [CAMEL-19101] Features for Camel-Micrometer
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/DistributionStatisticConfigFilter.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConstants.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfiguration.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyFactory.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyNamingStrategy.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/messagehistory/ManagedMessageHistoryTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/AbstractMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfigrationTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/SharedMicrometerRoutePolicyTest.java
Labels: components, camel-4, camel-3

#9467 CAMEL-19110: Update with Spring Boot 3.0.4 dependencies
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9468 Fix version property in DHIS2 component
  components/camel-dhis2/camel-dhis2-component/pom.xml
Labels: components, camel-4

#9466 CAMEL-19101: Features for Camel-Micrometer (#9454)
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/DistributionStatisticConfigFilter.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConstants.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfiguration.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyFactory.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyNamingStrategy.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/messagehistory/ManagedMessageHistoryTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/AbstractMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfigrationTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/SharedMicrometerRoutePolicyTest.java
Labels: components, camel-4

#9417 (chores) camel-kafka: Avoid misreporting liveness checks
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerBadPortHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerBadPortSupervisingHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerUnresolvableHealthCheckIT.java
Labels: components, components-kafka, camel-3

#9465 CAMEL-19113 Platform-http-vertx: consume with comma separated values does not work
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformMultipleContentTypeTest.java
Labels: components, camel-4

#9474 CAMEL-19113 Platform-http-vertx: consume (comma separated) does not work
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformMultipleContentTypeTest.java
Labels: components

#9472 Fix saga-eip timeout description
  core/camel-core-engine/src/main/docs/modules/eips/pages/saga-eip.adoc
Labels: core, camel-4

#9473 CAMEL-19113 Platform-http-vertx: consume (comma separated) does not work
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformMultipleContentTypeTest.java
Labels: components, camel-3

#9475 CAMEL-19113 Platform-http-vertx: consume (comma separated) does not work
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformMultipleContentTypeTest.java
Labels: components

#9470 CAMEL-19120: Export configurable template
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/CamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
  catalog/camel-catalog/src/test/resources/org/apache/camel/catalog/bar/foo.txt
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CatalogLoader.java
Labels: catalog, dsl, camel-4

#9476 CAMEL-19120: export configurable template
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/CamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
  catalog/camel-catalog/src/test/resources/org/apache/camel/catalog/bar/foo.txt
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CatalogLoader.java
Labels: catalog, dsl, camel-3

#9478 (chores) camel-jms: do not create test files in the component base dir
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/artemis-security.xml
Labels: components, components-jms, camel-4

#9479 (chores) camel-jms: do not create test files in the component base dir
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/artemis-security.xml
Labels: components, components-jms, camel-3

#9482 (chores) camel-jms: avoid sharing unsafe resources
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JMSTransactionErrorHandlerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JMSTransactionIsTransactedRedeliveredTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JMSTransactionRollbackTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JMSTransactionalClientTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JMSTransactionalClientWithRollbackTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/TransactionErrorHandlerBuilderAsSpringBeanTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/TransactionErrorHandlerCustomerSpringParserTest.java
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionErrorHandlerTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionIsTransactedRedeliveredTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionRollbackTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionalClientTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSTransactionalClientWithRollbackTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/TransactionErrorHandlerBuilderAsSpringBeanTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/TransactionErrorHandlerCustomerSpringParserTest.xml
Labels: components, components-jms, camel-3

#9480 Adding support to named parameters on queries provided by using the C…
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlHelper.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlProducer.java
  components/camel-sql/src/test/java/org/apache/camel/component/sql/SqlRouteTest.java
Labels: components, camel-3

#9488 CAMEL-19126: camel-fhir upgrade to 6.4.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9487 CAMEL-18920: Upgrade to Groovy 4.x
  buildingtools/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-catalog-maven/pom.xml
  components/camel-grape/pom.xml
  components/camel-groovy/pom.xml
  components/camel-grpc/pom.xml
  components/camel-olingo2/camel-olingo2-component/pom.xml
  components/camel-protobuf/pom.xml
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregationStrategyBeanAdapter.java
  dsl/camel-groovy-dsl/camel-groovy-dsl-common/pom.xml
  dsl/camel-groovy-dsl/camel-groovy-dsl-common/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  dsl/camel-groovy-dsl/camel-groovy-dsl-test/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-common/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletBindingLoaderTest.groovy
  parent/pom.xml
  pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/pom.xml
Labels: components, core, catalog, dsl, tooling, tooling-maven, core-build-and-dependencies, core-build-tooling, camel-4

#9493 CAMEL-18508: Polish user config
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CommandLineHelper.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/BackgroundTest.java
Labels: docs, dsl, camel-4

#9494 CAMEL-18508: Polish user config
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CommandLineHelper.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/BackgroundTest.java
Labels: docs, dsl, camel-3

#9495 CAMEL-18508: Polish user config
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CommandLineHelper.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/BackgroundTest.java
Labels: docs, dsl

#9498 CAMEL-19131. Upgrade to Deep Java Library 0.21.0
  components/camel-djl/src/test/java/org/apache/camel/component/djl/ImageClassificationLocalTest.java
  components/camel-djl/src/test/java/org/apache/camel/component/djl/ImageClassificationTest.java
  components/camel-djl/src/test/resources/models/mnist/mlp-0007.params
  components/camel-djl/src/test/resources/models/mnist/mlp-0020.params
  parent/pom.xml
Labels: components, core-build-and-dependencies

#9499 CAMEL-19131. Upgrade to Deep Java Library 0.21.0
  components/camel-djl/src/test/java/org/apache/camel/component/djl/ImageClassificationLocalTest.java
  components/camel-djl/src/test/java/org/apache/camel/component/djl/ImageClassificationTest.java
  components/camel-djl/src/test/resources/models/mnist/mlp-0007.params
  components/camel-djl/src/test/resources/models/mnist/mlp-0020.params
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9501 Remove ProcessHandle...commandLine() usage
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#9497 CAMEL-19050: set bind mode to read-only in order to resolve permission error in Docker container
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Environment.java
Labels: components, camel-4

#9504 Added CI support in Jenkins for ppc64le arch
  Jenkinsfile.ppc64le
Labels: ci, camel-4

#9509 CAMEL-19050: doc correction
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
Labels: components, camel-4

#9333 CAMEL-19014 - Fixing issue about concurrence on the SimpleLanguage
  core/camel-core/src/test/java/org/apache/camel/builder/ExpressionBuilderConcurrencyTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: core, camel-4

#9401 CAMEL-19050: add DHIS2 component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-dhis2/camel-dhis2-api/pom.xml
  components/camel-dhis2/camel-dhis2-api/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-dhis2/camel-dhis2-api/src/generated/resources/dhis2-api.json
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/Dhis2Get.java
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/Dhis2Post.java
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/Dhis2ResourceTables.java
  components/camel-dhis2/camel-dhis2-api/src/test/java/org/apache/camel/component/dhis2/api/Dhis2GetTestCase.java
  components/camel-dhis2/camel-dhis2-api/src/test/java/org/apache/camel/component/dhis2/api/Dhis2PostTestCase.java
  components/camel-dhis2/camel-dhis2-component/pom.xml
  components/camel-dhis2/camel-dhis2-component/signatures/file-sig-api.txt
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2ComponentConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2ConfigurationConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2EndpointConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2EndpointUriFactory.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfiguration.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2GetEndpointConfigurationConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2PostEndpointConfiguration.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2PostEndpointConfigurationConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2ResourceTablesEndpointConfiguration.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2ResourceTablesEndpointConfigurationConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2ApiCollection.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2ApiName.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2GetApiMethod.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2PostApiMethod.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2ResourceTablesApiMethod.java
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/component/dhis2
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/configurer/dhis2-component
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/configurer/dhis2-endpoint
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.dhis2.Dhis2Configuration
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.dhis2.Dhis2GetEndpointConfiguration
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.dhis2.Dhis2PostEndpointConfiguration
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.dhis2.Dhis2ResourceTablesEndpointConfiguration
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/META-INF/services/org/apache/camel/urifactory/dhis2-endpoint
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/org/apache/camel/component/dhis2/dhis2.json
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Component.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Configuration.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Consumer.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Endpoint.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Producer.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/internal/Dhis2Constants.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/internal/Dhis2PropertiesHelper.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/AbstractDhis2TestSupport.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2PostIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2ResourceTablesIT.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Environment.java
  components/camel-dhis2/camel-dhis2-component/src/test/resources/dhis.conf
  components/camel-dhis2/camel-dhis2-component/src/test/resources/log4j2-test.xml
  components/camel-dhis2/camel-dhis2-component/src/test/resources/test-options.properties
  components/camel-dhis2/pom.xml
  components/pom.xml
  docs/components/modules/ROOT/examples/json/dhis2.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/dhis2-component.adoc
  docs/components/modules/others/examples/json/dhis2-api.json
  parent/pom.xml
Labels: components, catalog, docs, core-build-and-dependencies, camel-3

#9517 Update camel-jbang.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#9513 Favor CompositeMeterRegistry instances in Camel registry before looki…
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerUtils.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/MicrometerComponentTest.java
Labels: components, camel-3

#9520 Print user configuration values
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CommandLineHelper.java
Labels: dsl, camel-4

#9522 Print config values 3x
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CommandLineHelper.java
Labels: dsl, camel-3

#9471 deliveryTag -> For manual ack
  components/camel-spring-rabbitmq/src/main/docs/spring-rabbitmq-component.adoc
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/DefaultMessagePropertiesConverter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQConstants.java
Labels: components, camel-4

#9521 CAMEL-19050: merge code from camel-3.x branch
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2ComponentConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2EndpointConfigurer.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2EndpointUriFactory.java
  components/camel-dhis2/camel-dhis2-component/src/generated/resources/org/apache/camel/component/dhis2/dhis2.json
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Configuration.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Endpoint.java
Labels: components, camel-4

#9523 [CAMEL-18870] Error while generating OSGi manifest
  camel-dependencies/pom.xml
Labels: core-build-and-dependencies, camel-3

#9527 Fix the named parameters example
  components/camel-jdbc/src/main/docs/jdbc-component.adoc
Labels: components

#9533 CAMEL-19132: Remove references to vm and direct-vm SpanDecorators
  components/camel-opentelemetry/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/VmSpanDecorator.java
Labels: components, camel-4

#9543 camel-cli - Configure logging
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Bind.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeGenerator.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Complete.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Pipe.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/ActionWatchCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelGCAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelLogAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelReloadAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelResetStatsAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelRouteAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelThreadDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/LoggerAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/RouteControllerAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogKamelet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/config/ConfigCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/config/ConfigGet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/config/ConfigList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/config/ConfigSet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/config/ConfigUnset.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelContextStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelContextTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelCount.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelProcessorStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Hawtio.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Jolokia.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListBlocked.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListCircuitBreaker.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListEndpoint.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListEvent.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListHealth.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListInflight.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListMetric.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProcess.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListService.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListVault.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ProcessWatchCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/StopProcess.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionGet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionSet.java
Labels: dsl, camel-3

#9542 vertx-http: fix documentation
  components/camel-vertx/camel-vertx-http/src/main/docs/vertx-http-component.adoc
Labels: components, camel-4

#9540 CAMEL-18957: prevent a few NPEs if the context is not created
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/DefaultCamelContextExtension.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/DefaultContextLifeCycleManager.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/TransientCamelContextExtension.java
Labels: test-infra, camel-4

#9551 CAMEL-18839: upgrade to Kafka 3.3.2
  camel-dependencies/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
Labels: test-infra, core-build-and-dependencies, camel-3

#9552 CAMEL-19143: Added option to quote fields only when necessary
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyCsvFactory.java
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/annotation/CsvRecord.java
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/csv/BindySimpleCsvQuotingOnlyWhenNeededTest.java
  components/camel-bindy/src/test/resources/org/apache/camel/dataformat/bindy/csv/BindyDoubleQuotesInFieldCsvUnmarshallTest-context.xml
  components/camel-bindy/src/test/resources/org/apache/camel/dataformat/bindy/csv/BindySingleQuotesWithDoubleQuotesInFieldCsvUnmarshallTest-context.xml
Labels: components, camel-4

#9546 CAMEL-19143: Added option to quote fields only when necessary
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyCsvFactory.java
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/annotation/CsvRecord.java
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/csv/BindySimpleCsvQuotingOnlyWhenNeededTest.java
  components/camel-bindy/src/test/resources/org/apache/camel/dataformat/bindy/csv/BindyDoubleQuotesInFieldCsvUnmarshallTest-context.xml
  components/camel-bindy/src/test/resources/org/apache/camel/dataformat/bindy/csv/BindySingleQuotesWithDoubleQuotesInFieldCsvUnmarshallTest-context.xml
Labels: components, camel-3

#9555 Fix build
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListTrace.java
Labels: dsl, camel-3

#9557 CAMEL-19158: Ensure errors instantiating throwException classes are propagated to the exchange
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ThrowExceptionProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/ThrowExceptionUninstantiatableClassTest.java
Labels: core, camel-4

#9563 Download only existing artifacts
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
Labels: dsl, camel-4

#9565 Safe download artifacts
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
Labels: dsl

#9570 CAMEL-19150: camel-olingo4 - Fix missing olingo4 endpoint property names
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Endpoint.java
  components/camel-olingo4/camel-olingo4-component/src/test/java/org/apache/camel/component/olingo4/Olingo4RouteTest.java
Labels: components, camel-4

#9574 CAMEL-19169: camel-olingo2 - Fix missing olingo2 endpoint property names
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Endpoint.java
Labels: components, camel-4

#9577 CAMEL-19152, CAMEL-18636: Backport to main
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeComponent.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConfiguration.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConfigurationOptionsProxy.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConstants.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeExchangeHeaders.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/client/DataLakeClientFactory.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/client/DataLakeFileClientWrapper.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeDirectoryOperations.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeFileOperations.java
  components/camel-azure/camel-azure-storage-datalake/src/test/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeFileOperationTest.java
Labels: components, components-azure, camel-4

#9580 CAMEL-19171: camel-http - Prevent duplicating slashes in generated URI
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpHelper.java
  components/camel-http/src/test/java/org/apache/camel/component/http/helper/HttpHelperTest.java
Labels: components, camel-4

#9572 CAMEL-19130: Upgrade to snakeyaml 2.x
  camel-dependencies/pom.xml
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/SnakeYAMLDataFormat.java
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/custom/CustomClassLoaderConstructor.java
  components/camel-snakeyaml/src/test/java/org/apache/camel/component/snakeyaml/SnakeYAMLDoSTest.java
  parent/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/AbstractGenerateMojo.java
Labels: components, tooling, tooling-maven, core-build-and-dependencies, camel-4

#9586 CAMEL-19062: openapi-rest-dsl-generator - Add jackson databind
  tooling/openapi-rest-dsl-generator/pom.xml
Labels: tooling, camel-4

#9589 CAMEL-19174: camel-jira - Fix duplicate messages created by Jira consumer
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/AbstractJiraConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewCommentsConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewIssuesConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumer.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewCommentsConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewIssuesConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumerTest.java
Labels: components, camel-4

#9588 Tiny doc update for Couchbase component
  components/camel-couchbase/src/main/docs/couchbase-component.adoc
Labels: components, camel-4

#9595 CAMEL-19174: camel-jira - Fix duplicate messages created by Jira consumer
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/AbstractJiraConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewCommentsConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewIssuesConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumer.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewCommentsConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewIssuesConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumerTest.java
Labels: components, camel-3

#9596 CAMEL-19174: camel-jira - Fix duplicate messages created by Jira consumer
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/AbstractJiraConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewCommentsConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewIssuesConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumer.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewCommentsConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewIssuesConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumerTest.java
Labels: components

#9597 Disable Infinispan tests depending on JTA
  components/camel-infinispan/camel-infinispan-embedded/src/test/java/org/apache/camel/component/infinispan/embedded/InfinispanEmbeddedClusteredConsumerTest.java
  components/camel-infinispan/camel-infinispan-embedded/src/test/java/org/apache/camel/component/infinispan/embedded/spring/SpringInfinispanEmbeddedIdempotentRepositorySpringTest.java
Labels: components, camel-4

#9598 CAMEL-15520: replace deprecated maven property maven.test.skip.exec
  parent/pom.xml
  pom.xml
Labels: core-build-and-dependencies, camel-4

#9583 Not setting events for log methods on routes
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationSpanAdapter.java
  components/camel-observation/src/test/java/org/apache/camel/observation/ABCRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/CustomComponentNameRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/MulticastParallelRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/SpanProcessorsTest.java
Labels: components, camel-3

#9592 Explicitly complete/abandon Azure Service Bus messages
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/client/ServiceBusClientFactory.java
Labels: components, components-azure

#9600 (chores) build: cleanup empty plugin references in build files
  catalog/camel-catalog-lucene/pom.xml
  core/camel-core-processor/pom.xml
  core/camel-core-reifier/pom.xml
  tests/pom.xml
  tooling/camel-tooling-maven/pom.xml
  tooling/camel-tooling-model/pom.xml
  tooling/camel-tooling-util/pom.xml
  tooling/camel-util-json/pom.xml
  tooling/openapi-rest-dsl-generator/pom.xml
  tooling/spi-annotations/pom.xml
Labels: core, catalog, tooling, tests, camel-4

#9604 Azure Data Lake - CAMEL-19152 additional file client header field + C…
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeComponent.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConfiguration.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConfigurationOptionsProxy.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConstants.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeExchangeHeaders.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/client/DataLakeClientFactory.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/client/DataLakeFileClientWrapper.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeDirectoryOperations.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeFileOperations.java
  components/camel-azure/camel-azure-storage-datalake/src/test/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeFileOperationTest.java
Labels: components, components-azure

#9601 (chores) camel-aws2-cw: fix test for configuration without options
  components/camel-aws/camel-aws2-cw/src/test/java/org/apache/camel/component/aws2/cw/CwComponentConfigurationTest.java
Labels: components, components-aws, camel-4

#9602 (chores) camel-cm-sms: cleaned up duplicated test code
  components/camel-cm-sms/src/test/java/org/apache/camel/component/cm/test/CMConfigurationTest.java
  components/camel-cm-sms/src/test/java/org/apache/camel/component/cm/test/CMTest.java
Labels: components, camel-4

#9605 (chores) camel-cm-sms: cleaned up duplicated test code
  components/camel-cm-sms/src/test/java/org/apache/camel/component/cm/test/SMSMessageTest.java
Labels: components, camel-4

#9607 CAMEL-19184: camel-http - Add test for authentication with httpContext
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpsAuthenticationTest.java
Labels: components, camel-4

#9609 (chores) camel-jms: cleaned up duplicated test code
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsAllowNullBodyTest.java
Labels: components, components-jms, camel-4

#9613 Update Camel 4 Migration Guide: Add Dozer to removed components
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4

#9614 (chores) build: removed unused Maven profiles for Eclipse IDE
  etc/pom.xml
  parent/pom.xml
  pom.xml
Labels: core-build-and-dependencies, core-build-tooling, camel-4

#9616 CAMEL-15520: replace deprecated maven property maven.test.skip.exec
  parent/pom.xml
  pom.xml
Labels: core-build-and-dependencies, camel-3

#9618 Upgrade graphql/hibernate versions (alignment with spring-boot-dependencies 2.7.10)
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#9620 CAMEL-19189: camel-groovy - Adapt the code for native mode
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyLanguage.java
Labels: components, camel-4

#9621 CAMEL-19174: camel-jira - Fix duplicate messages created by Jira consumer
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/AbstractJiraConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewCommentsConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewIssuesConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumer.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewCommentsConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewIssuesConsumerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumerTest.java
Labels: components

#9617 CAMEL-15105: move handling of internal services to a separate class
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalServiceHelper.java
Labels: core, camel-4

#9622 CAMEL-15105: decouple handling of internal services
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalServiceHelper.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalServiceManager.java
Labels: core, camel-4

#9625 CAMEL-15105: remove the deprecated ExtendedExchange
  core/camel-api/src/main/java/org/apache/camel/ExtendedExchange.java
Labels: core, camel-4

#9624 Update impsort for maven 3.9
  camel-dependencies/pom.xml
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
  parent/pom.xml
Labels: core, core-build-and-dependencies

#9630 CAMEL-19190: Fix vertx-websocket sendToAll option and discovery of connected peers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponentConfigurer.java
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/org/apache/camel/component/vertx/websocket/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponent.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConfiguration.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpoint.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHelper.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHost.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketProducer.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebSocketTestSupport.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponentConfigurationTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHelperTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketMultiConsumerTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/VertxWebsocketComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/VertxWebsocketEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#9631 (chores) camel-support: consolidate duplicated code
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
Labels: core, camel-4

#9629 (chores) camel-consul: cleanup data conversion
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cloud/ConsulServiceDiscoveryIT.java
Labels: components, camel-4

#9635 (chores) More of replacing inner classes with lambda
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServerSupport.java
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubProducer.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkConsumer.java
  components/camel-timer/src/main/java/org/apache/camel/component/timer/TimerConsumer.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/handlers/CamelWebSocketHandler.java
  components/camel-vertx/camel-vertx/src/main/java/org/apache/camel/component/vertx/VertxComponent.java
  components/camel-vertx/camel-vertx/src/main/java/org/apache/camel/component/vertx/VertxConsumer.java
Labels: components, camel-4

#9637 CAMEL-19198: Added sorting logic to ensure dynamic router eip component filters are evaluated in order of their priority property
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessor.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessorTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterSingleRouteTwoParticipantsIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/support/DynamicRouterTestSupport.java
Labels: components, catalog, camel-4

#9638 CAMEL-19198: 3.x branch version -- Added sorting logic to ensure dynamic router eip component filters are evaluated in order of their priority property
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessor.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessorTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterSingleRouteTwoParticipantsIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/support/DynamicRouterTestSupport.java
Labels: components, catalog, camel-3

#9641 Upgrade Hadoop to version 3.3.5
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9642 Upgrade Flink to version 1.17.0
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9643 Align all Pulsar versions to 2.11.0
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerService.java
Labels: test-infra, camel-4

#9644 Remove unnecessary property due to deprecating the Spark component
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9633 CAMEL-19193 - Follow Micrometer meter naming conventions
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConstants.java
Labels: components, camel-4

#9619 Micrometer Observation for Camel 4.0.0
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-observation/pom.xml
  components/camel-observation/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-observation/src/generated/resources/observation.json
  components/camel-observation/src/main/docs/observation.adoc
  components/camel-observation/src/main/java/org/apache/camel/observation/AttributeProcessor.java
  components/camel-observation/src/main/java/org/apache/camel/observation/GetCorrelationContextProcessor.java
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationSpanAdapter.java
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationTracer.java
  components/camel-observation/src/main/java/org/apache/camel/observation/SetCorrelationContextProcessor.java
  components/camel-observation/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
  components/camel-observation/src/test/java/org/apache/camel/observation/ABCRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/CamelMicrometerObservationTestSupport.java
  components/camel-observation/src/test/java/org/apache/camel/observation/ClientRecipientListRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/CurrentSpanTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/CustomComponentNameRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/MulticastParallelRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/MulticastRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/RouteConcurrentTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/SpanProcessorsTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/SpanTestData.java
  components/camel-observation/src/test/java/org/apache/camel/observation/TestSEDASpanDecorator.java
  components/camel-observation/src/test/java/org/apache/camel/observation/TwoServiceTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/TwoServiceWithExcludeTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/otel/CamelDefaultTracingObservationHandler.java
  components/camel-observation/src/test/java/org/apache/camel/observation/otel/CamelPropagatingReceiverTracingObservationHandler.java
  components/camel-observation/src/test/java/org/apache/camel/observation/otel/CamelPropagatingSenderTracingObservationHandler.java
  components/camel-observation/src/test/resources/log4j2.properties
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/ABCRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/ClientRecipientListRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CurrentSpanTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CustomComponentNameRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/MulticastParallelRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/MulticastRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/RouteConcurrentTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/SpanProcessorsTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/TwoServiceTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/TwoServiceWithExcludeTest.java
  components/camel-tracing/src/main/docs/tracing.adoc
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/SpanAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AbstractHttpSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/CqlSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/ElasticsearchSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/JdbcSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/JettySpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/KafkaSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/MongoDBSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/SqlSpanDecorator.java
  components/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies, camel-4

#9648 provide a way to define global groovy variables
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyExpression.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyShellFactory.java
  components/camel-groovy/src/test/java/org/apache/camel/language/groovy/GroovyShellFactoryTest.java
Labels: components, camel-4

#9584 Tracer doesn't continue spans for AbstractInternalSpanDecorator
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationTracer.java
  components/camel-observation/src/test/java/org/apache/camel/observation/ABCRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/CamelMicrometerObservationTestSupport.java
  components/camel-observation/src/test/java/org/apache/camel/observation/ClientRecipientListRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/CurrentSpanTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/CustomComponentNameRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/MulticastParallelRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/MulticastRouteTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/RouteConcurrentTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/SpanProcessorsTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/TwoServiceTest.java
  components/camel-observation/src/test/java/org/apache/camel/observation/TwoServiceWithExcludeTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/ABCRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/ClientRecipientListRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CurrentSpanTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CustomComponentNameRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/MulticastParallelRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/MulticastRouteTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/RouteConcurrentTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/SpanProcessorsTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/TwoServiceTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/TwoServiceWithExcludeTest.java
  components/camel-opentracing/pom.xml
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
Labels: components, camel-3

#9668 (chores) camel-base-engine: a few more cleanups to the AbstractCamelContext
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9669 CAMEL-19214: camel-hdfs - Add ShortWritable support to the HDFS component
  components/camel-hdfs/src/main/docs/hdfs-component.adoc
  components/camel-hdfs/src/main/java/org/apache/camel/component/hdfs/DefaultHdfsFile.java
  components/camel-hdfs/src/main/java/org/apache/camel/component/hdfs/HdfsWritableFactories.java
  components/camel-hdfs/src/main/java/org/apache/camel/component/hdfs/WritableType.java
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/HdfsProducerTest.java
Labels: components, camel-4

#9665 Added reference to groovy dsl
  docs/user-manual/modules/ROOT/pages/dsl.adoc
Labels: docs, camel-4

#9660 CAMEL-19210 - Support for delayed delivery pulsar messages using deliverAt (for main)
  components/camel-pulsar/src/generated/resources/org/apache/camel/component/pulsar/pulsar.json
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarProducer.java
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/utils/message/PulsarMessageHeaders.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarProducerHeadersInIT.java
Labels: components, camel-4

#9634 CAMEL-18957 camel-paho: convert to use the JUnit 5 extension for the CamelContext
  components/camel-paho/pom.xml
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoComponentTest.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoComponentVerifierExtensionTest.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoOverrideTopicTest.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoReconnectAfterFailureIT.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoTestSupport.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoToDSendDynamicTest.java
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoToDTest.java
Labels: components, camel-4

#9677 CAMEL-19139: Add Build-Date in MANIFEST.MF
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9681 (chores) camel-base-engine: use builtin conversion for boolean property evaluation
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9682 (chores) camel-base-engine: cleanup code duplications in the AbstractCamelContext
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9678 (chores) camel-cassandra: prevent a few potential NPEs
  components/camel-cassandraql/src/main/java/org/apache/camel/component/cassandra/CassandraEndpoint.java
Labels: components, camel-3

#9685 (chores) camel-base-engine: fix JMX enable/disable logic
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9672 CAMEL-19216: camel-kudu - add predicate support to the scan operation
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduConstants.java
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduProducer.java
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduUtils.java
  components/camel-kudu/src/test/java/org/apache/camel/component/kudu/KuduScanTest.java
Labels: components, camel-4

#9687 (chores) camel-base-engine: stop catching Throwable in AbstractCamelContext
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9692 CAMEL-19220: camel-groovy - Avoid setting variables to initialize the…
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyExpression.java
Labels: components, camel-4

#9688 CAMEL-19219: camel-kudu - add projection and limit support to the scan operation
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduConstants.java
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduProducer.java
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduUtils.java
  components/camel-kudu/src/test/java/org/apache/camel/component/kudu/KuduScanTest.java
Labels: components, camel-4

#9703 Fix interceptSendToEndpoint closing tags.
  core/camel-core-engine/src/main/docs/modules/eips/pages/intercept.adoc
Labels: core

#9704 Update Jenkinsfile.s390x
  Jenkinsfile.s390x
Labels: ci, camel-4

#9700 removed unused variable in EntityParser CAMEL-19221
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/EntityParser.java
Labels: components, camel-4

#9712 CAMEL-15105: make the CLI ConnectorFactory a plugin of the context
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/ExtendedCamelContextConfigurer.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContextExtension.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: core, dsl, camel-4

#9717 CAMEL-19223: fixed stream caching test
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerStreamCachingTest.java
Labels: core, camel-4

#9711 removed unused assignments. Sometimes it allows removing related blocks
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoGraphQueriesIT.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/AS2Utils.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/test/java/org/apache/camel/component/avro/processors/ReflectionInOutProcessor.java
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyCsvFactory.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/processor/aggregate/Etcd3AggregationRepository.java
  components/camel-google/camel-google-storage/src/test/java/org/apache/camel/component/google/storage/localstorage/FakeStorageRpc.java
  components/camel-ironmq/src/main/java/org/apache/camel/component/ironmq/GsonUtil.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/conf/ConnectionParamsConfiguration.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/JettyCustomPlatformHttpConsumer.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/support/SjmsConnectionTestSupport.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppConnectionFactory.java
  components/camel-thrift/src/test/java/org/apache/camel/component/thrift/impl/CalculatorSyncServerImpl.java
Labels: components, components-jms, camel-4

#9718 Upgrade batik version to 1.16
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9719 Update why-is-the-exception-null-when-i-use-onexception.adoc
  docs/user-manual/modules/faq/pages/why-is-the-exception-null-when-i-use-onexception.adoc
Labels: docs, camel-4

#9722 CAMEL-18463: Upgrade gRPC to 1.54.0
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9723 CAMEL-19228: downgrade Couchbase container
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseLocalContainerService.java
Labels: test-infra, camel-4

#9725 Added for components early exit from loop when the condition is met
  components/camel-bean/src/main/java/org/apache/camel/component/bean/AbstractCamelInvocationHandler.java
  components/camel-freemarker/src/test/java/org/apache/camel/component/freemarker/FreemarkerTemplateInHeaderTest.java
  components/camel-google/camel-google-calendar/src/test/java/org/apache/camel/component/google/calendar/CalendarCalendarListIT.java
  components/camel-velocity/src/test/java/org/apache/camel/component/velocity/VelocityTemplateInHeaderTest.java
Labels: components, camel-4

#9728 Fixed number of args in logging strings
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/cache/CaffeineCacheTestSupport.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/DefaultDirectoryEntriesResumeAdapter.java
  components/camel-mllp/src/test/java/org/apache/camel/test/junit/rule/mllp/MllpServerResource.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/AnalyticsApiIntegrationTest.java
Labels: components, camel-4

#9726 Added for CORE classes early exit from loop when the condition is met
  core/camel-core-processor/src/main/java/org/apache/camel/processor/FatalFallbackErrorHandler.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
Labels: core, camel-4

#9732 CAMEL-15105: make the FactoryFinderResolver a plugin of the context
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/ExtendedCamelContextConfigurer.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContextExtension.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/DefaultProcessorFactory.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-support/src/main/java/org/apache/camel/support/PluginHelper.java
Labels: core, camel-4

#9737 Update Jenkinsfile.s390x
  Jenkinsfile.s390x
Labels: ci, camel-4

#9734 CAMEL-15105: part 6
  components/camel-mapstruct/src/main/java/org/apache/camel/component/mapstruct/DefaultMapStructFinder.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceComponent.java
  components/camel-spring-xml/src/main/java/org/apache/camel/spring/xml/CamelContextFactoryBean.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/config/DefaultPackageResolverConfigureTest.java
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/BaseTypeConverterRegistry.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/ExtendedCamelContextConfigurer.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContextExtension.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/RoutesConfigurer.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedCamelContext.java
  core/camel-support/src/main/java/org/apache/camel/support/PluginHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/BasePackageScanDownloadListener.java
Labels: components, core, dsl, camel-4

#9735 CAMEL-19229: downgrade to 1.21 commons-compress due to incompatibilities with 1.23
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9740 CAMEL-19231: Default REST DSL type in camel-jbang generator
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
Labels: dsl

#9739 CAMEL-19232: Port REST DSL Generator in camel-jbang to Camel 4
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#9738 CAMEL-15105: part 7
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultComponentNameResolver.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/DefaultDevConsolesLoader.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/ExtendedCamelContextConfigurer.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContextExtension.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultPackageScanResourceResolverTest.java
  core/camel-health/src/main/java/org/apache/camel/impl/health/DefaultHealthChecksLoader.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultRoutesCollector.java
  core/camel-support/src/main/java/org/apache/camel/support/PluginHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: core, dsl, camel-4

#9736 CAMEL-19231: Default REST DSL type in camel-jbang generator
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
Labels: dsl, camel-3

#9741 fixed results of inspection "non-final fields in enum"
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2CompressionAlgorithm.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2EncryptionAlgorithm.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2MicAlgorithm.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/AS2DispositionType.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/DispositionMode.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/Importance.java
  components/camel-caffeine/src/main/java/org/apache/camel/component/caffeine/EvictionType.java
  components/camel-docker/src/main/java/org/apache/camel/component/docker/DockerOperation.java
  components/camel-hazelcast/src/main/java/org/apache/camel/component/hazelcast/HazelcastOperation.java
  components/camel-hazelcast/src/main/java/org/apache/camel/component/hazelcast/queue/HazelcastQueueConsumerMode.java
  components/camel-hl7/src/main/java/org/apache/camel/component/hl7/HL7Charset.java
  components/camel-jt400/src/main/java/org/apache/camel/component/jt400/Jt400Configuration.java
  components/camel-olingo2/camel-olingo2-api/src/main/java/org/apache/camel/component/olingo2/api/impl/UriType.java
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/utils/consumers/SubscriptionInitialPosition.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppCommandType.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/type/EndpointMappingType.java
  components/camel-telegram/src/main/java/org/apache/camel/component/telegram/TelegramMediaType.java
  components/camel-telegram/src/main/java/org/apache/camel/component/telegram/TelegramParseMode.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/NaturalSortComparator.java
Labels: components, camel-4
