Repository apache/camel, pull requests merged in 2023-12, with the labels that each got.

#12280 CAMEL-20172: Add checksum feature to camel-file/ftp
  components/camel-file/pom.xml
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileProducer.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerChecksumFileAlgorithmTest.java
Labels: components, core, camel-4

#12284 CAMEL-20163: cleanup parsing HTTP status range (camel-vertx-http)
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpEndpoint.java
Labels: components, camel-4

#12291 CAMEL-20158: await executor termination after shutdown
  core/camel-core/src/test/java/org/apache/camel/processor/ThrottlerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ThrottlingGroupingTest.java
Labels: core, camel-4

#12293 CAMEL-20173: camel-jbang - Run with download=false should set maven i…
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/console/DependencyDownloaderConsole.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloader.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloaderImpl.java
  tooling/camel-tooling-maven/src/test/java/org/apache/camel/tooling/maven/MavenResolverTest.java
Labels: dsl, tooling, camel-4

#12294 CAMEL-20174: camel-ssh: Provide support to configure algorithms
  components/camel-ssh/pom.xml
  components/camel-ssh/src/generated/java/org/apache/camel/component/ssh/SshComponentConfigurer.java
  components/camel-ssh/src/generated/java/org/apache/camel/component/ssh/SshEndpointConfigurer.java
  components/camel-ssh/src/generated/java/org/apache/camel/component/ssh/SshEndpointUriFactory.java
  components/camel-ssh/src/generated/resources/org/apache/camel/component/ssh/ssh.json
  components/camel-ssh/src/main/java/org/apache/camel/component/ssh/SshConfiguration.java
  components/camel-ssh/src/main/java/org/apache/camel/component/ssh/SshConsumer.java
  components/camel-ssh/src/main/java/org/apache/camel/component/ssh/SshProducer.java
  components/camel-ssh/src/main/java/org/apache/camel/component/ssh/SshUtils.java
  components/camel-ssh/src/test/java/org/apache/camel/component/ssh/SshAlgorithmParametersTest.java
Labels: components, camel-4

#12296 CAMEL-20179: camel-core - Add idleSince attribute to JMX
  core/camel-console/src/main/java/org/apache/camel/impl/console/ConsumerDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ContextDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedPerformanceCounterMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedPerformanceCounter.java
Labels: core, camel-4

#12297 CAMEL-20180: camel-console - JSon output for date/time should be comp…
  core/camel-console/src/main/java/org/apache/camel/impl/console/ConsumerDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ContextDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteControllerConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/RouteControllerAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelContextStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelProcessorStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListConsumer.java
Labels: core, docs, dsl, camel-4

#12299 Upgrade jsch 0.2.13
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12308 CAMEL-19991: disabled flaky test on GitHub Actions
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpNoConnectionTest.java
Labels: components, camel-4

#12313 CAMEL-20186: camel-jbang - dependency update
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyCopy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyUpdate.java
Labels: docs, dsl, camel-4

#12314 Upgrade Lucene to version 9.9.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12316 CAMEL-20181: camel-openapi-java - refactor tests to support both Open…
  components/camel-openapi-java/pom.xml
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/BeanConfig.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/OpenAPI3to2.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiReader.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiSupport.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/ComplexTypesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiDefaultProducesConsumesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiLicenseInfoTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiModelApiSecurityRequirementsTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderApiDocsOverrideTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderApiDocsTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderContextPathTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderDayOfWeekTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderDisabledTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderEnableVendorExtensionTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderFileResponseModelTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderModelApiSecurityTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderModelBookOrderTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderModelTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderOverrideHostApiDocsTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderPropertyPlaceholderTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV2SecuritySchemesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV3SecuritySchemesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV3XOfTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/SpringRestOpenApiReaderModelApiSecurityTest.java
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesRequest.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesRequestWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesResponse.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesResponseWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V30SchemaForComplexTypesRequest.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V30SchemaForComplexTypesRequestWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V30SchemaForComplexTypesResponse.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V30SchemaForComplexTypesResponseWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V31SchemaForComplexTypesRequest.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V31SchemaForComplexTypesRequestWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V31SchemaForComplexTypesResponse.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V31SchemaForComplexTypesResponseWithSchemaAnnotation.json
Labels: components, camel-4

#12319 Added Kubernetes Cronjob component SB docs
  components/camel-kubernetes/src/main/docs/kubernetes-cronjob-component.adoc
Labels: components, camel-4

#12322 CAMEL-20193: camel-openapi-java - add to support OpenAPI 3.1 ModelCon…
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestModelConverters.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiReader.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV3XOfTest.java
Labels: components, camel-4

#12326 Upgrade AWS SDK to version 2.21.39
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12327 Upgrade JGit to version 6.8.0.202311291450-r
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12328 CAMEL-20149 - Release guide: Add instructions to sign and publish SBO…
  docs/user-manual/modules/ROOT/pages/release-guide.adoc
  etc/scripts/release-sbom.sh
  etc/scripts/sign.sh
Labels: docs, core-build-tooling, camel-4

#12329 CAMEL-19991: Make platform-http jetty dependencies test scope
  components/camel-platform-http/pom.xml
Labels: components, camel-4

#12292 Add basic support of virtual threads
  Jenkinsfile.jdk21
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultExecutorServiceManagerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/WireTapAbortPolicyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/AggregateTimeoutWithNoExecutorServiceTest.java
  core/camel-management/src/test/java/org/apache/camel/management/DualManagedThreadPoolProfileTest.java
  core/camel-management/src/test/java/org/apache/camel/management/DualManagedThreadPoolWithIdTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedRouteRemoveWireTapTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedThreadPoolProfileTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedThreadPoolTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedThreadPoolWithIdTest.java
  core/camel-support/pom.xml
  core/camel-support/src/main/java21/org/apache/camel/support/DefaultThreadPoolFactory.java
  core/camel-util/pom.xml
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/ThreadFactoryTypeAware.java
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/ThreadType.java
  core/camel-util/src/main/java21/org/apache/camel/util/concurrent/CamelThreadFactory.java
  core/camel-util/src/main/java21/org/apache/camel/util/concurrent/ThreadType.java
  docs/user-manual/modules/ROOT/pages/threading-model.adoc
Labels: core, docs, ci, camel-4

#12330 CAMEL-20196 - Deprecate camel-hdfs
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/hdfs.json
  components/camel-hdfs/pom.xml
  components/camel-hdfs/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-hdfs/src/generated/resources/org/apache/camel/component/hdfs/hdfs.json
  components/camel-hdfs/src/main/docs/hdfs-component.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
Labels: components, catalog, docs, camel-4

#12332 CAMEL-20198 - Upgrade google-api-services-gmail version to v1-rev2023…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-mail.json
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersDraftsEndpointConfiguration.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/GmailUsersMessagesEndpointConfiguration.java
  components/camel-google/camel-google-mail/src/generated/resources/org/apache/camel/component/google/mail/google-mail.json
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies, camel-4

#12338 CAMEL-20194: move the properties files to a separate dir
  test-infra/camel-test-infra-arangodb/src/test/resources/org/apache/camel/test/infra/arangodb/services/container.properties
  test-infra/camel-test-infra-aws-v2/src/test/resources/org/apache/camel/test/infra/aws2/services/container.properties
  test-infra/camel-test-infra-azure-common/src/test/resources/org/apache/camel/test/infra/common/services/container.properties
  test-infra/camel-test-infra-cassandra/src/test/resources/org/apache/camel/test/infra/cassandra/services/container.properties
  test-infra/camel-test-infra-chatscript/src/test/resources/org/apache/camel/test/infra/chatscript/services/container.properties
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/LocalPropertyResolver.java
  test-infra/camel-test-infra-consul/src/test/resources/org/apache/camel/test/infra/consul/services/container.properties
  test-infra/camel-test-infra-couchbase/src/test/resources/org/apache/camel/test/infra/couchbase/services/container.properties
  test-infra/camel-test-infra-couchdb/src/test/resources/org/apache/camel/test/infra/couchdb/services/container.properties
  test-infra/camel-test-infra-elasticsearch/src/test/resources/org/apache/camel/test/infra/elasticsearch/services/container.properties
  test-infra/camel-test-infra-etcd3/src/test/resources/org/apache/camel/test/infra/etcd3/services/container.properties
  test-infra/camel-test-infra-fhir/src/test/resources/org/apache/camel/test/infra/fhir/services/container.properties
  test-infra/camel-test-infra-google-pubsub/src/test/resources/org/apache/camel/test/infra/google/pubsub/services/container.properties
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
  test-infra/camel-test-infra-infinispan/src/test/resources/org/apache/camel/test/infra/infinispan/services/container.properties
  test-infra/camel-test-infra-kafka/src/test/resources/org/apache/camel/test/infra/kafka/services/container.properties
  test-infra/camel-test-infra-microprofile-lra/src/test/resources/org/apache/camel/test/infra/microprofile/lra/services/container.properties
  test-infra/camel-test-infra-minio/src/test/resources/org/apache/camel/test/infra/minio/services/container.properties
  test-infra/camel-test-infra-mongodb/src/test/resources/org/apache/camel/test/infra/mongodb/services/container.properties
  test-infra/camel-test-infra-mosquitto/src/test/resources/org/apache/camel/test/infra/mosquitto/services/container.properties
  test-infra/camel-test-infra-nats/src/test/resources/org/apache/camel/test/infra/nats/services/container.properties
  test-infra/camel-test-infra-openldap/src/test/resources/org/apache/camel/test/infra/openldap/services/container.properties
  test-infra/camel-test-infra-opensearch/src/test/resources/org/apache/camel/test/infra/opensearch/services/container.properties
  test-infra/camel-test-infra-postgres/src/test/resources/org/apache/camel/test/infra/postgres/services/container.properties
  test-infra/camel-test-infra-pulsar/src/test/resources/org/apache/camel/test/infra/pulsar/services/container.properties
  test-infra/camel-test-infra-rabbitmq/src/test/resources/org/apache/camel/test/infra/rabbitmq/services/container.properties
  test-infra/camel-test-infra-redis/src/test/resources/org/apache/camel/test/infra/redis/services/container.properties
  test-infra/camel-test-infra-rocketmq/src/test/resources/org/apache/camel/test/infra/rocketmq/services/container.properties
  test-infra/camel-test-infra-xmpp/src/test/resources/org/apache/camel/test/infra/xmpp/services/container.properties
  test-infra/camel-test-infra-zookeeper/src/test/resources/org/apache/camel/test/infra/zookeeper/services/container.properties
Labels: test-infra, camel-4

#12339 (chores) camel-kafka: improve pausable EIP documentation
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka, camel-4

#12340 (chores) components: fixed checkstyle
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeMessagesWithLimitIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ConsumeResumeStrategyIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ProduceMessagesSimpleIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/ProduceMessagesWithAutoIDIT.java
  components/camel-couchbase/src/test/java/org/apache/camel/component/couchbase/integration/RemoveMessagesIT.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/AggregatedJmsRouteTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/TempReplyToIssueTest.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/CommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/DefaultMessagePropertiesConverter.java
Labels: components, components-kafka, components-jms, camel-4

#12345 Camel-Kubernetes: Job component is only producer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kubernetes-job.json
  components/camel-kubernetes/src/generated/java/org/apache/camel/component/kubernetes/job/KubernetesJobComponentConfigurer.java
  components/camel-kubernetes/src/generated/java/org/apache/camel/component/kubernetes/job/KubernetesJobEndpointConfigurer.java
  components/camel-kubernetes/src/generated/java/org/apache/camel/component/kubernetes/job/KubernetesJobEndpointUriFactory.java
  components/camel-kubernetes/src/generated/resources/org/apache/camel/component/kubernetes/job/kubernetes-job.json
  components/camel-kubernetes/src/main/docs/kubernetes-job-component.adoc
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/job/KubernetesJobEndpoint.java
Labels: components, catalog, camel-4

#12346 Scheduled consumer should be able to mark as ready sooner than after first poll (default)
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailConsumer.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamConsumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-redshift/src/main/java/org/apache/camel/component/aws2/redshift/data/RedshiftData2Producer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Consumer.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-azure/camel-azure-files/pom.xml
  components/camel-azure/camel-azure-files/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/FilesConsumer.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConsumer.java
  components/camel-azure/camel-azure-storage-datalake/pom.xml
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConsumer.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/QueueConsumer.java
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/CouchbaseConsumer.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/RemoteFileConsumer.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/stream/GoogleMailStreamConsumer.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamConsumer.java
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageConsumer.java
  components/camel-huawei/camel-huaweicloud-obs/src/main/java/org/apache/camel/component/huaweicloud/obs/OBSConsumer.java
  components/camel-ironmq/src/main/java/org/apache/camel/component/ironmq/IronMQConsumer.java
  components/camel-jooq/src/main/java/org/apache/camel/component/jooq/JooqConsumer.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaConsumer.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConsumer.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConsumer.java
  components/camel-mybatis/src/main/java/org/apache/camel/component/mybatis/MyBatisConsumer.java
  components/camel-slack/src/main/java/org/apache/camel/component/slack/SlackConsumer.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkConsumer.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlConsumer.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedSchedulePollConsumerMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedScheduledPollConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumerHealthCheck.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiConsumer.java
  docs/components/modules/ROOT/examples/json/kubernetes-cronjob.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/kubernetes-cronjob-component.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerService.java
Labels: components, core, docs, components-aws, components-azure, test-infra, camel-4

#12348 CAMEL-20204: getLength on StringSource/StreamSourceCache to not use s…
  core/camel-core/src/test/java/org/apache/camel/converter/stream/StreamSourceCacheTest.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/util/xml/StreamSourceCache.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/util/xml/StringSource.java
  core/camel-xml-jaxp/src/test/java/org/apache/camel/util/xml/StringSourceTest.java
Labels: core, camel-4

#12355 Use undertow transport in cxf itests
  tests/camel-itest/pom.xml
Labels: tests, camel-4

#12353 (chores) core: wait for I/O to reduce flakiness
  core/camel-core/src/test/java/org/apache/camel/TestSupport.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerCharsetUTFtoISOConvertBodyToTest.java
Labels: core, camel-4

#12356 INFRA-25195: Cassandra tests do not run reliably on ppc64le
  components/camel-cassandraql/pom.xml
Labels: components, camel-4

#12347 CAMEL-20019 demo cookie handling
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
Labels: components, camel-4

#12056 (chores) camel-test-infra-elasticsearch: update ElasticSearch container to the latest version
  test-infra/camel-test-infra-elasticsearch/src/test/resources/org/apache/camel/test/infra/elasticsearch/services/container.properties
Labels: test-infra, camel-4

#12368 (chores) break large methods
  catalog/camel-csimple-maven-plugin/src/main/java/org/apache/camel/maven/GenerateMojo.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleLanguage.java
Labels: core, catalog, camel-4

#12369 CAMEL-20191: camel-yaml-dsl - Fix inconsitent name in generated schem…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/batchConfig.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/resequence.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/streamConfig.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/CoverageResultsProcessor.java
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/BatchResequencerAllowDuplicatesTest.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/BatchResequencerJMSPriorityTest.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/resequencer.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/resequencerRejectOld.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/streamResequencer.xml
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/batch-config.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/batchConfig.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/stream-config.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/streamConfig.json
  core/camel-core-engine/src/main/docs/modules/eips/nav.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/batchConfig-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/resequence-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/streamConfig-eip.adoc
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/model.properties
  core/camel-core-model/src/generated/resources/org/apache/camel/model/config/batchConfig.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/config/streamConfig.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/resequence.json
  core/camel-core-model/src/main/java/org/apache/camel/model/ResequenceDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/config/BatchResequencerConfig.java
  core/camel-core-model/src/main/java/org/apache/camel/model/config/StreamResequencerConfig.java
  core/camel-core/src/test/resources/org/apache/camel/model/resequencerBatch.xml
  core/camel-core/src/test/resources/org/apache/camel/model/resequencerStream.xml
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-xml-io/src/test/resources/resequencerBatch.xml
  core/camel-xml-io/src/test/resources/resequencerStream.xml
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ExpressionDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeanFactoryDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/CustomResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/EndpointDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/ErrorHandlerBuilderDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/KameletDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/OutputAwareFromDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/OutputAwareFromDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/ProcessorDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteConfigurationDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSchemaMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ResequenceTest.groovy
Labels: components, core, catalog, docs, dsl, camel-4

#12373 Update commercial-camel-offerings.adoc for Red Hat
  docs/user-manual/modules/ROOT/pages/commercial-camel-offerings.adoc
Labels: docs, camel-4

#12381 CAMEL-20213: camel-core dependency injection should inject fields wit…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelBeanPostProcessor.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultCamelBeanPostProcessorComplexFieldFirstTest.java
Labels: core, camel-4

#12385 camel-parquet-avro: Add the capability to lazy load records during unmarshal
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-parquet-avro/src/generated/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormatConfigurer.java
  components/camel-parquet-avro/src/generated/resources/org/apache/camel/dataformat/parquet/avro/parquetAvro.json
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormat.java
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetIterator.java
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetUnmarshalOnCompletion.java
  components/camel-parquet-avro/src/test/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormatUnmarshalLazyLoadTest.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/parquetAvro.json
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ParquetAvroDataFormat.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#12374 CAMEL-20166 : Create component Elasticsearch Rest Client
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/pom.xml
  components/camel-elasticsearch-rest-client/src/generated/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientComponentConfigurer.java
  components/camel-elasticsearch-rest-client/src/generated/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientEndpointConfigurer.java
  components/camel-elasticsearch-rest-client/src/generated/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientEndpointUriFactory.java
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/services/org/apache/camel/component/elasticsearch-rest-client
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/services/org/apache/camel/configurer/elasticsearch-rest-client-component
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/services/org/apache/camel/configurer/elasticsearch-rest-client-endpoint
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/services/org/apache/camel/urifactory/elasticsearch-rest-client-endpoint
  components/camel-elasticsearch-rest-client/src/generated/resources/org/apache/camel/component/elasticsearch/rest/client/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/src/main/docs/elasticsearch-rest-client-component.adoc
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticSearchRestClientConstant.java
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientComponent.java
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientEndpoint.java
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientOperation.java
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientProducer.java
  components/camel-elasticsearch-rest-client/src/main/resources/META-INF/services/org/apache/camel/component/elasticsearchRestClient
  components/camel-elasticsearch-rest-client/src/test/java/org/apache/camel/component/elasticsearch/rest/client/integration/ElasticsearchRestClientComponentTest.java
  components/camel-elasticsearch-rest-client/src/test/java/org/apache/camel/component/elasticsearch/rest/client/integration/ElasticsearchRestClientTestSupport.java
  components/camel-elasticsearch-rest-client/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
Labels: components, core, catalog, dsl, core-build-and-dependencies, camel-4

#12394 Upgrade AWS SDK v2 to version 2.21.42
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#12387 CAMEL-19734: fixing the elapsed time to message history
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
Labels: core

#12388 CAMEL-19734: fixing the elapsed time to message history
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
Labels: core, camel-4

#12395 Upgrade Azure SDK BOM to version 1.2.19
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12396 Upgrade Azurite container image to version 3.28.0
  test-infra/camel-test-infra-azure-common/src/test/resources/org/apache/camel/test/infra/azure/common/services/container.properties
Labels: test-infra, camel-4

#12397 Upgrade Google Libraries BOM to version 26.28.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12398 Upgrade Google Functions BOM to version 2.33.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12399 CAMEL-20214: camel-core: Multicast/Splitter EIP using timeout should …
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitTimeoutCancelTaskTest.java
Labels: core, camel-4

#12422 CAMEL-20220 - Camel Azure Key Vault: Support Azure Identity in the co…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-key-vault.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-azure/camel-azure-key-vault/src/generated/java/org/apache/camel/component/azure/key/vault/KeyVaultEndpointConfigurer.java
  components/camel-azure/camel-azure-key-vault/src/generated/java/org/apache/camel/component/azure/key/vault/KeyVaultEndpointUriFactory.java
  components/camel-azure/camel-azure-key-vault/src/generated/resources/org/apache/camel/component/azure/key/vault/azure-key-vault.json
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/CredentialType.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultConfiguration.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultEndpoint.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultPropertiesFunction.java
  core/camel-api/src/main/java/org/apache/camel/vault/AzureVaultConfiguration.java
  core/camel-main/src/generated/java/org/apache/camel/main/AzureVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/AzureVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/AzureVaultConfigurationProperties.java
  core/camel-main/src/test/java/org/apache/camel/main/MainVaultTest.java
Labels: components, core, catalog, components-azure, camel-4

#12423 CAMEL-20220 - Camel Azure Key Vault: Support Azure Identity in the component and secrets function - Docs
  components/camel-azure/camel-azure-key-vault/src/main/docs/azure-key-vault-component.adoc
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultConfiguration.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultEndpoint.java
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: components, docs, components-azure, camel-4

#12390 Camel tests consolidating
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeliveryDelayTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicDurableSharedTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicSharedTest.java
  tests/camel-itest-jms2/pom.xml
  tests/camel-itest-jms2/src/test/java/org/apache/camel/itest/jms2/BaseJms2TestSupport.java
  tests/camel-itest-jms2/src/test/java/org/apache/camel/itest/jms2/Jms2TopicDurableTest.java
  tests/camel-itest-jms2/src/test/java/org/apache/camel/itest/jms2/Jms2TopicSharedTest.java
  tests/camel-itest-jms2/src/test/resources/log4j2.properties
  tests/pom.xml
Labels: components, components-jms, tests, camel-4

#12424 CAMEL-20224: remove milliseconds-based input from StopWatch
  core/camel-util/src/main/java/org/apache/camel/util/StopWatch.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: core, docs, camel-4

#12425 Joor
  components/camel-joor/src/main/java/org/apache/camel/language/joor/ByteArrayClassLoader.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/CamelJoorClassLoader.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/CompilationUnit.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JavaJoorClassLoader.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JavaLanguage.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorScriptingCompiler.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/MultiCompile.java
  components/camel-joor/src/test/java/org/apache/camel/language/joor/CompilationUnitTest.java
  core/camel-api/src/main/java/org/apache/camel/spi/ClassResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultClassResolver.java
  dsl/camel-java-joor-dsl/pom.xml
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/JavaRoutesBuilderLoader.java
Labels: components, core, dsl, camel-4

#12426 CAMEL-20206: split overly complex method in CamelInternalProcessor
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
Labels: core, camel-4

#12434 Use Latest Vault container image 1.15.4
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: test-infra, camel-4

#12435 CAMEL-20229 - Camel-Azure-Storage-Queue: Add CloudEvents Data Type Tr…
  components/camel-azure/camel-azure-storage-queue/pom.xml
  components/camel-azure/camel-azure-storage-queue/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-storage-queue-application-cloudevents
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/transform/AzureStorageQueueCloudEventDataTypeTransformer.java
Labels: components, components-azure, camel-4

#12437 Add SBOM to release and release-sbom script to LTS 4.0.x
  docs/user-manual/modules/ROOT/pages/release-guide.adoc
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  etc/scripts/release-sbom.sh
  etc/scripts/sign.sh
  pom.xml
Labels: docs, dsl, core-build-tooling

#12441 CAMEL-20230: camel-core - PollEnrich and Enrich EIP should eager star…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/enrich.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/pollEnrich.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-api/src/main/java/org/apache/camel/spi/ClassResolver.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/enrich.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/pollEnrich.json
  core/camel-core-model/src/main/java/org/apache/camel/model/EnrichDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/PollEnrichDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Enricher.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/PollEnricher.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/EnrichReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/PollEnrichReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ToDynamicReifier.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#12439 CAMEL-20206: split overly complex methods in catalog components
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/RouteBuilderParser.java
Labels: catalog, camel-4

#12444 CAMEL-17825: Hash generator in the Simple language
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#12449 Fix to configurable mongodb image
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/services/MongoDBLocalContainerService.java
Labels: test-infra, camel-4

#12452 CAMEL-20235: consolidate commit management behavior between component and endpoint
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaComponent.java
Labels: components, components-kafka, camel-4

#12453 CAMEL-20113 camel/tests consolidating
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringConvertBodyTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringConvertHeaderTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertBodyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertHeaderTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/custom/MyBean.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/custom/MyConverter.java
  core/camel-core/src/test/resources/META-INF/services/org/apache/camel/TypeConverter
  tests/camel-itest-standalone/pom.xml
  tests/camel-itest-standalone/src/main/resources/META-INF/LICENSE.txt
  tests/camel-itest-standalone/src/main/resources/META-INF/NOTICE.txt
  tests/camel-itest-standalone/src/test/java/org/apache/camel/itest/standalone/CamelContextStandaloneTest.java
  tests/camel-itest-standalone/src/test/resources/log4j2.properties
  tests/camel-partial-classpath-test/pom.xml
  tests/camel-partial-classpath-test/src/main/resources/META-INF/LICENSE.txt
  tests/camel-partial-classpath-test/src/main/resources/META-INF/NOTICE.txt
  tests/camel-partial-classpath-test/src/test/java/org/apache/camel/tests/partialclasspath/MyConverter.java
  tests/camel-partial-classpath-test/src/test/java/org/apache/camel/tests/partialclasspath/RouteTest.java
  tests/camel-partial-classpath-test/src/test/resources/META-INF/services/org/apache/camel/TypeConverter
  tests/camel-partial-classpath-test/src/test/resources/log4j2.properties
  tests/camel-typeconverterscan-test/pom.xml
  tests/camel-typeconverterscan-test/src/main/resources/META-INF/LICENSE.txt
  tests/camel-typeconverterscan-test/src/main/resources/META-INF/NOTICE.txt
  tests/camel-typeconverterscan-test/src/test/java/org/apache/camel/tests/typeconverterscan/MyBean.java
  tests/camel-typeconverterscan-test/src/test/java/org/apache/camel/tests/typeconverterscan/RouteMainTest.java
  tests/camel-typeconverterscan-test/src/test/java/org/apache/camel/tests/typeconverterscan/RouteTest.java
  tests/camel-typeconverterscan-test/src/test/resources/META-INF/services/org/apache/camel/TypeConverter
  tests/camel-typeconverterscan-test/src/test/resources/log4j2.properties
  tests/pom.xml
Labels: components, core, tests, camel-4

#12454 (chores) camel-core: disable flaky tests on GH actions
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerMoveFailureTest.java
  core/camel-core/src/test/java/org/apache/camel/support/DefaultTimeoutMapTest.java
Labels: core, camel-4

#12455 CAMEL-20234: consolidate and simplify exchange constructors
  components/camel-bean/src/main/java/org/apache/camel/component/bean/AbstractCamelInvocationHandler.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/PooledExchangeFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/PooledProcessorExchangeFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/PrototypeExchangeFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/PrototypeProcessorExchangeFactory.java
  core/camel-core/src/test/java/org/apache/camel/component/dataset/DataSetTestEndpointTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/PopulateInitialHeadersFailedIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/support/component/ApiMethodPropertiesHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultPooledExchange.java
Labels: components, core, camel-4

#12461 CAMEL-18082: camel-jbang - Camel run in prompt mode to ask for requir…
  components/camel-spring/src/main/java/org/apache/camel/spring/spi/BridgePropertyPlaceholderConfigurer.java
  core/camel-api/src/main/java/org/apache/camel/spi/PropertiesSource.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesLookup.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesParser.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesLookup.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/PromptPropertyPlaceholderSource.java
Labels: components, core, docs, dsl, camel-4

#12463 supervising route controller
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  core/camel-api/src/main/java/org/apache/camel/spi/RouteController.java
  core/camel-api/src/main/java/org/apache/camel/spi/SupervisingRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultSupervisingRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalRouteController.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/HealthDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteControllerConsole.java
  core/camel-core-xml/src/generated/resources/org/apache/camel/core/xml/routeController.json
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/CamelRouteControllerDefinition.java
  core/camel-health/src/generated/resources/META-INF/services/org/apache/camel/health-check/route-controller-check
  core/camel-health/src/main/java/org/apache/camel/impl/health/RouteControllerHealthCheck.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-util/src/main/java/org/apache/camel/util/backoff/BackOff.java
  docs/user-manual/modules/ROOT/pages/route-controller.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/RouteControllerAction.java
Labels: components, core, catalog, docs, dsl, camel-4

#12464 CAMEL-20243: camel-main - Move route controller options into its own …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/RouteControllerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.RouteControllerConfigurationProperties
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/RouteControllerConfigurationProperties.java
  core/camel-main/src/test/java/org/apache/camel/main/MainSupervisingRouteControllerFilterFailToStartRouteTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainSupervisingRouteControllerTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  docs/user-manual/modules/ROOT/pages/route-controller.adoc
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: core, catalog, docs, tooling, tooling-maven, core-build-and-dependencies, camel-4

#12471 Upgrade Owasp Maven Plugin Dependency Check to version 9.0.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12477 CAMEL-20252: remove misleading test
  components/camel-disruptor/src/test/java/org/apache/camel/component/disruptor/SedaDisruptorCompareTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/CamelSimpleExpressionPerfTestRunner.java
Labels: components, core, camel-4

#12478 (chores): fix a misleading manual test in camel-core
  core/camel-core/src/test/java/org/apache/camel/processor/SplitterParallelAggregateManualTest.java
Labels: core, camel-4

#12480 Camel tests refactoring
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/FtpSoTimeoutTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertBodyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertHeaderTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/HttpAsyncDslTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/HttpAsyncTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/HttpAsyncTestSupport.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/HttpJmsAsyncTimeoutTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/HttpSyncTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/MyAsyncComponent.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/MyAsyncEndpoint.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/MyAsyncProducer.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/customerrelations/CustomerServicesTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/customerrelations/CustomerServicesWsAddressingTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/ftp/FtpInitialConnectTimeoutTest.java
Labels: components, core, tests, camel-4

#12484 CAMEL-20205 - Add SBOM to release and release-sbom script to LTS 3.21…
  docs/user-manual/modules/ROOT/pages/release-guide.adoc
  etc/scripts/release-sbom.sh
  etc/scripts/sign.sh
  pom.xml
Labels: docs, core-build-tooling

#12486 CAMEL-20249: camel-micrometer - Should remove meters when stopping to avoid having old unused meters when reloading routes or redeploying apps
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-micrometer-prometheus/src/generated/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheusConfigurer.java
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConsole.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConstants.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifier.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierNamingStrategy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerRouteEventNotifier.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerRouteEventNotifierNamingStrategy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicy.java
  core/camel-main/src/generated/java/org/apache/camel/main/MetricsConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/MetricsConfigurationProperties.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListMetric.java
Labels: components, core, catalog, dsl, camel-4

#12479 CAMEL-20225: initial rework of message history to use the new clock API
  components/camel-metrics/src/main/java/org/apache/camel/component/metrics/messagehistory/MetricsMessageHistoryFactory.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/messagehistory/MicrometerMessageHistory.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/messagehistory/MicrometerMessageHistoryFactory.java
  core/camel-api/src/main/java/org/apache/camel/spi/MessageHistoryFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultMessageHistoryFactory.java
Labels: components, core, camel-4

#12491 CAMEL-20225: use a StopWatch for computing duration
  components/camel-ironmq/src/test/java/org/apache/camel/component/ironmq/integrationtest/ConcurrentConsumerLoadManualTest.java
  components/camel-jaxb/src/test/java/org/apache/camel/converter/jaxb/ConcurrentJaxbDataFormatSchemaValidationTest.java
  components/camel-jaxb/src/test/java/org/apache/camel/example/DataFormatConcurrentTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsConcurrentConsumersTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tuning/PerformanceRoutePojoTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tuning/PerformanceRouteTest.java
  components/camel-jt400/src/test/java/org/apache/camel/component/jt400/Jt400DataQueueConsumerManualTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/utils/LeaderRecorder.java
  components/camel-mina/src/test/java/org/apache/camel/component/mina/MinaProducerShutdownManualIT.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
  components/camel-mybatis/src/test/java/org/apache/camel/component/mybatis/MyBatisPollingDelayRouteTest.java
  components/camel-reactive-streams/src/test/java/org/apache/camel/component/reactive/streams/BackpressureSubscriberTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/client/AbstractClientBaseTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/interceptor/DelayerInterceptorTest.java
  components/camel-stream/src/test/java/org/apache/camel/component/stream/StreamDelayTest.java
  core/camel-main/src/main/java/org/apache/camel/main/MainHelper.java
  tooling/maven/camel-maven-plugin/src/main/java/org/apache/camel/maven/RunMojo.java
Labels: components, core, tooling, tooling-maven, components-jms, camel-4

#12492 Fix examples links in docs
  README.md
  core/camel-core-engine/src/main/docs/modules/eips/pages/change-data-capture.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/kamelet-eip.adoc
  docs/user-manual/modules/ROOT/pages/bean-integration.adoc
  docs/user-manual/modules/ROOT/pages/health-check.adoc
  docs/user-manual/modules/ROOT/pages/route-configuration.adoc
  docs/user-manual/modules/ROOT/pages/route-reload.adoc
  dsl/camel-kamelet-main/src/main/docs/kamelet-main.adoc
Labels: core, docs, dsl, camel-4

#12497 CAMEL-20261 - camel-http: update doc on httpClient.cookieSpec option
  components/camel-http/src/main/docs/http-component.adoc
Labels: components, camel-4

#12498 CAMEL-20254: camel-http - pre-emptive authentication breaks basic auth
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpCredentialsHelper.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpEndpoint.java
  components/camel-http/src/main/java/org/apache/camel/component/http/PreemptiveAuthExecChainHandler.java
Labels: components, camel-4

#12505 Upgrade Jsch to version 0.2.15
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/FtpSoTimeoutTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#12506 fix(docs): Update Camel YAML DSL GitHub link
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/docs/yaml-dsl.adoc
Labels: dsl

#12507 CAMEL-20113: fixed broken JMS tests
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeliveryDelayTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicDurableSharedTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicSharedTest.java
Labels: components, components-jms, camel-4

#12508 CAMEL-20256: adjust ThroughputLogger to use the StopWatch
  core/camel-support/src/main/java/org/apache/camel/support/processor/ThroughputLogger.java
Labels: core, camel-4

#12509 CAMEL-20225: adjust DefaultAsyncProcessorAwaitManager to use the StopWatch
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultAsyncProcessorAwaitManager.java
Labels: core, camel-4

#12511 CAMEL-20225: adjust DefaultRoute to use the StopWatch
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
  core/camel-util/src/main/java/org/apache/camel/util/StopWatch.java
Labels: core, camel-4

#12474 CAMEL-20251: Add Camel K commands to Camel JBang
  docs/user-manual/modules/ROOT/nav.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang-k.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/CompressionHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationDelete.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationGet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogs.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubeBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubeCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/SourceScheme.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/TraitHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/TraitProfile.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionGet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/Printer.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/StringPrinter.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationDeleteTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationGetTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogsTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeBaseTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeCommandMainTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/org/apache/camel/dsl/jbang/core/commands/k/integration.yaml
  dsl/camel-jbang/camel-jbang-core/src/test/resources/pod.yaml
  dsl/camel-jbang/camel-jbang-core/src/test/resources/route.yaml
  parent/pom.xml
Labels: docs, dsl, core-build-and-dependencies, camel-4

#12510 CAMEL-19262: camel-azure-eventbus - Apache Camel wrapper for Service …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusComponentConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointUriFactory.java
  components/camel-azure/camel-azure-servicebus/src/generated/resources/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConfiguration.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AzureServicebusComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ServiceBusEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-azure, camel-4

#12512 CAMEL-20267: use a monotonic time source for the Throttler and SamplingThrottler
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SamplingThrottler.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Throttler.java
Labels: core, camel-4

#12513 CAMEL-20225: reduce clock instantiation overhead
  core/camel-support/src/main/java/org/apache/camel/support/MonotonicClock.java
Labels: core, camel-4

#12528 CAMEL-20271 - Camel-AWS-Cloudtrail: Improve consumers by adding more information as exchange headers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-cloudtrail.json
  components/camel-aws/camel-aws-cloudtrail/src/generated/resources/org/apache/camel/component/aws/cloudtrail/aws-cloudtrail.json
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailConstants.java
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailConsumer.java
Labels: components, catalog, components-aws, camel-4

#12529 CAMEL-20273: camel-jbang - Stub dataformat and language during export
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderComponentResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderDataFormatResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderLanguageResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/stub/StubDataFormat.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/stub/StubLanguage.java
Labels: dsl, camel-4

#12532 Jmx upd
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-cloudtrail.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-api/src/main/java/org/apache/camel/clock/ContextClock.java
  core/camel-api/src/main/java/org/apache/camel/clock/EventClock.java
  core/camel-api/src/main/java/org/apache/camel/spi/ManagementAgent.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core-xml/src/generated/resources/org/apache/camel/core/xml/jmxAgent.json
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/CamelJMXAgentDefinition.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/JmxSystemPropertyKeys.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedRouteMBean.java
  core/camel-management/pom.xml
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementAgent.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRoute.java
  core/camel-management/src/test/java/org/apache/camel/management/DefaultManagementAgentMockTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedFromRestGetTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedFromRestPlaceholderTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedRouteUpdateRouteFromXmlTest.java
  docs/user-manual/modules/ROOT/pages/jmx.adoc
  dsl/camel-kamelet-main/src/main/docs/kamelet-main.adoc
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: core, catalog, docs, dsl, camel-4

#12534 CAMEL-20269: fixed a concurrency issue launching the embedded Artemis broker
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/AbstractArtemisEmbeddedService.java
Labels: test-infra, camel-4

#12548 (chores) catalog: remove string literal duplications
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/CamelCatalogJSonSchemaResolver.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/RouteBuilderParser.java
  components/camel-aws/camel-aws-xray/src/main/java/org/apache/camel/component/aws/xray/decorators/ElasticsearchSegmentDecorator.java
Labels: components, catalog, components-aws, camel-4

#12549 (chores) catalog: remove string literal duplications
  components/camel-arangodb/src/main/java/org/apache/camel/component/arangodb/ArangoDbProducer.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2Producer.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2Producer.java
  components/camel-aws/camel-aws2-kms/src/main/java/org/apache/camel/component/aws2/kms/KMS2Producer.java
  components/camel-aws/camel-aws2-lambda/src/main/java/org/apache/camel/component/aws2/lambda/Lambda2Producer.java
  components/camel-aws/camel-aws2-mq/src/main/java/org/apache/camel/component/aws2/mq/MQ2Producer.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Producer.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2MessageHelper.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/operations/CosmosDbClientOperations.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/operations/CosmosDbContainerOperations.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/operations/CosmosDbDatabaseOperations.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultProducer.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/operations/BlobOperations.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/operations/QueueOperations.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/AbstractCamelInvocationHandler.java
Labels: components, components-aws, components-azure, camel-4

#12550 (chores) camel-box: remove duplications
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxCollaborationsManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxCommentsManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxEventLogsManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxEventsManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxFilesManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxFoldersManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxGroupsManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxHelper.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxSearchManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxTasksManager.java
  components/camel-box/camel-box-api/src/main/java/org/apache/camel/component/box/api/BoxUsersManager.java
Labels: components, camel-4

#12551 CAMEL-20275: components - Mark options that can are used for text inp…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-bigquery-sql.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sql-stored.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sql.json
  components/camel-google/camel-google-bigquery/src/generated/resources/org/apache/camel/component/google/bigquery/sql/google-bigquery-sql.json
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLConfiguration.java
  components/camel-sql/src/generated/resources/org/apache/camel/component/sql/sql.json
  components/camel-sql/src/generated/resources/org/apache/camel/component/sql/stored/sql-stored.json
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlEndpoint.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/stored/SqlStoredEndpoint.java
  core/camel-api/src/generated/java/org/apache/camel/spi/Metadata.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/BaseOptionModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/JsonMapper.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/Metadata.java
Labels: components, core, catalog, tooling, tooling-maven, camel-4

#12547 CAMEL-20113 camel/tests consolidating
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfMulticastTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfRecipientListTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfRecipientListWithUrlParamsTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/resources/org/apache/camel/component/cxf/CxfMulticastBeans.xml
  components/camel-cxf/camel-cxf-spring-soap/src/test/resources/org/apache/camel/component/cxf/CxfRecipientListBeans.xml
  components/camel-cxf/camel-cxf-spring-soap/src/test/resources/org/apache/camel/component/cxf/CxfRecipientListWithUrlParamsBeans.xml
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyHttpHeadersCompatibilityTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/file/JettyHttpFileCacheTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertBodyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertHeaderTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/CamelFileGreeterOneWayTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/CamelGreeterConsumerTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/CamelGreeterTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/FilePrepareRequest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/JmsPrepareRequest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/JmsPrepareResponse.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/Server.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/http/InterceptEndpointTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/idempotent/IdempotentConsumerTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/idempotent/JdbcIdempotentRepository.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/issues/AdviceWithWeaveFirstLastTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/issues/InterceptFromAndStrategyTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/issues/IsUseAdviceWithJUnit5Test.java
  tests/camel-itest/src/test/resources/org/apache/camel/itest/greeter/CamelFileGreeterOneWayTest.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/greeter/CamelGreeterConsumerTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/greeter/CamelGreeterTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/http/InterceptEndpointTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/idempotent/IdempotentConsumerTest.xml
Labels: components, core, tests, camel-4

#12552 (chores) components: remove string literal duplications
  components/camel-cxf/camel-cxf-spring-transport/src/main/java/org/apache/camel/component/cxf/spring/transport/AbstractCamelContextBeanDefinitionParser.java
  components/camel-djl/src/main/java/org/apache/camel/component/djl/model/AbstractPredictor.java
  components/camel-djl/src/main/java/org/apache/camel/component/djl/model/CustomImageClassificationPredictor.java
  components/camel-djl/src/main/java/org/apache/camel/component/djl/model/CustomObjectDetectionPredictor.java
  components/camel-djl/src/main/java/org/apache/camel/component/djl/model/ZooImageClassificationPredictor.java
  components/camel-djl/src/main/java/org/apache/camel/component/djl/model/ZooObjectDetectionPredictor.java
  components/camel-docker/src/main/java/org/apache/camel/component/docker/producer/AsyncDockerProducer.java
  components/camel-docker/src/main/java/org/apache/camel/component/docker/producer/DockerProducer.java
  components/camel-huawei/camel-huaweicloud-dms/src/main/java/org/apache/camel/component/huaweicloud/dms/DmsMeta.java
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRAClient.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-main-junit5/src/main/java/org/apache/camel/test/main/junit5/CamelMainExtension.java
Labels: components, camel-4

#12554 (chores) tooling: remove string literal duplications
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCatalogMojo.java
Labels: tooling, tooling-maven, camel-4

#12553 (chores) core: remove string literal duplications
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateProcessor.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultConsumerCache.java
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/SizedScheduledExecutorService.java
Labels: core, camel-4

#12556 CAMEL-20276: disabled shared topic tests
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicDurableSharedTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicSharedTest.java
Labels: components, components-jms, camel-4

#12555 CAMEL-19971: camel-consul - Migrate to a new project that is maintained
  components/camel-consul/pom.xml
  components/camel-consul/src/generated/java/org/apache/camel/component/consul/ConsulComponentConfigurer.java
  components/camel-consul/src/generated/java/org/apache/camel/component/consul/ConsulEndpointConfigurer.java
  components/camel-consul/src/generated/resources/org/apache/camel/component/consul/consul.json
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulClientConfiguration.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulConfiguration.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulConstants.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulEndpoint.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulRegistry.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cloud/ConsulServiceDiscovery.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cloud/ConsulServiceRegistry.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cloud/ConsulServiceRegistryConfiguration.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cluster/ConsulClusterConfiguration.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cluster/ConsulClusterView.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/AbstractConsulConsumer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/AbstractConsulProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulAgentProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulCatalogProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulCoordinatesProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulEventConsumer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulEventProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulHealthProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulKeyValueConsumer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulKeyValueProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulPreparedQueryProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulSessionProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/endpoint/ConsulStatusProducer.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulAgentIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulCatalogIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulClientKeyValueIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulCoordinatesIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulEventIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulEventWatchIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulHealthIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulKeyValueWatchIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulRegistryIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulSessionIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulTestSupport.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/MockAgentTest.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/MockCatalogTest.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cloud/ConsulDefaultServiceCallRouteIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cloud/ConsulServiceDiscoveryIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cloud/ConsulServiceRegistrationTestBase.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cloud/ConsulServiceRegistryIT.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/cloud/SpringConsulServiceCallRouteTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  parent/pom.xml
  test-infra/camel-test-infra-consul/pom.xml
  test-infra/camel-test-infra-consul/src/test/java/org/apache/camel/test/infra/consul/services/ConsulLocalContainerService.java
  test-infra/camel-test-infra-consul/src/test/java/org/apache/camel/test/infra/consul/services/ConsulRemoteService.java
  test-infra/camel-test-infra-consul/src/test/java/org/apache/camel/test/infra/consul/services/ConsulServiceFactory.java
Labels: components, docs, test-infra, core-build-and-dependencies, camel-4

#12570 [CAMEL-20280] JCachePolicy: initialize bypassExpression
  components/camel-jcache/src/main/java/org/apache/camel/component/jcache/policy/JCachePolicyProcessor.java
Labels: components, camel-4

#12585 fix typo
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-files.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/file.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ftp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ftps.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sftp.json
  components/camel-azure/camel-azure-files/src/generated/resources/org/apache/camel/component/file/azure/azure-files.json
  components/camel-file/src/generated/resources/org/apache/camel/component/file/file.json
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileEndpoint.java
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/ftp.json
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/ftps.json
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/sftp.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FileEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FilesEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FtpEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FtpsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SftpEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-azure, camel-4

#12576 CAMEL-18482: Split EIP - Allow to split in single mode.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/split.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/org/apache/camel/model/split.json
  core/camel-core-model/src/main/java/org/apache/camel/model/SplitDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RecipientListProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Splitter.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitterSingleMapTest.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#12583 CAMEL-20270: Introduce JBang plugins
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginAdd.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginDelete.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginGet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CamelJBangPlugin.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/Plugin.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginType.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginAddTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginDeleteTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginGetTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-k/src/generated/resources/META-INF/services/org/apache/camel/camel-jbang-plugin/camel-jbang-plugin-k
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/CompressionHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationDelete.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationGet.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogs.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubeBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubeCommand.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubePlugin.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/SourceScheme.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/TraitProfile.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/StringPrinter.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationGetTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogsTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeCommandMainTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/org/apache/camel/dsl/jbang/core/commands/k/integration.yaml
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/pod.yaml
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/route.yaml
  dsl/camel-jbang/pom.xml
Labels: dsl, camel-4

#12587 CAMEL-00000: Fixed a few bugs and sonar findings that I somehow missed.
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterFilterService.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterRecipientListHelper.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlChannelSendDynamicAware.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlConfiguration.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlConstants.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlEndpoint.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterConstants.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterProcessor.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlChannelSendDynamicAwareTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterBasicSynchronousIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterSendDynamicAwareIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterSingleRouteTwoParticipantsIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterTwoRoutesIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterProcessorTest.java
Labels: components, camel-4

#12586 CAMEL-20277 make gRPC proxy routes available for all streaming method types
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/grpc.json
  components/camel-grpc/src/generated/java/org/apache/camel/component/grpc/GrpcEndpointConfigurer.java
  components/camel-grpc/src/generated/java/org/apache/camel/component/grpc/GrpcEndpointUriFactory.java
  components/camel-grpc/src/generated/resources/org/apache/camel/component/grpc/grpc.json
  components/camel-grpc/src/main/docs/grpc-component.adoc
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConfiguration.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConsumer.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConsumerStrategy.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcEndpoint.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcProducer.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcProducerToRouteControlledStreamObserver.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/client/GrpcResponseRouterStreamObserver.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/client/GrpcStreamObserverFactory.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/client/GrpcStreamingExchangeForwarder.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/server/GrpcMethodHandler.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/server/GrpcRequestDelegationStreamObserver.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcProxyAsyncAsyncTest.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcProxyAsyncSyncTest.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcProxySyncAsyncTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GrpcEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#12580 ﻿CAMEL-20276 fixing jms shared topic tests
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicDurableSharedTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsTopicSharedTest.java
Labels: components, components-jms, camel-4

#12595 CAMEL-20247: Created entry in upgrade guide for 4.4
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: docs, camel-4

#12600 CAMEL-15570: camel-jte component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jte.json
  components/camel-freemarker/src/test/resources/org/apache/camel/component/freemarker/example.ftl
  components/camel-jte/pom.xml
  components/camel-jte/src/generated/java/org/apache/camel/component/jte/JteComponentConfigurer.java
  components/camel-jte/src/generated/java/org/apache/camel/component/jte/JteEndpointConfigurer.java
  components/camel-jte/src/generated/java/org/apache/camel/component/jte/JteEndpointUriFactory.java
  components/camel-jte/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-jte/src/generated/resources/META-INF/services/org/apache/camel/component/jte
  components/camel-jte/src/generated/resources/META-INF/services/org/apache/camel/configurer/jte-component
  components/camel-jte/src/generated/resources/META-INF/services/org/apache/camel/configurer/jte-endpoint
  components/camel-jte/src/generated/resources/META-INF/services/org/apache/camel/urifactory/jte-endpoint
  components/camel-jte/src/generated/resources/org/apache/camel/component/jte/jte.json
  components/camel-jte/src/main/docs/jte-component.adoc
  components/camel-jte/src/main/java/org/apache/camel/component/jte/JteCodeResolver.java
  components/camel-jte/src/main/java/org/apache/camel/component/jte/JteComponent.java
  components/camel-jte/src/main/java/org/apache/camel/component/jte/JteConstants.java
  components/camel-jte/src/main/java/org/apache/camel/component/jte/JteEndpoint.java
  components/camel-jte/src/main/java/org/apache/camel/component/jte/Model.java
  components/camel-jte/src/test/java/org/apache/camel/component/jte/JteDataModelTest.java
  components/camel-jte/src/test/java/org/apache/camel/component/jte/JteTemplateFromHeaderTest.java
  components/camel-jte/src/test/java/org/apache/camel/component/jte/JteTest.java
  components/camel-jte/src/test/java/org/apache/camel/component/jte/MyModel.java
  components/camel-jte/src/test/resources/log4j2.properties
  components/camel-jte/src/test/resources/org/apache/camel/component/jte/custom.jte
  components/camel-jte/src/test/resources/org/apache/camel/component/jte/example.jte
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JteComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JteEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
  pom.xml
Labels: components, core, catalog, dsl, core-build-and-dependencies, camel-4

#12592 Unmarshal
  components/camel-asn1/src/main/docs/asn1-dataformat.adoc
  components/camel-asn1/src/main/java/org/apache/camel/dataformat/asn1/ASN1DataFormat.java
  components/camel-cbor/src/main/java/org/apache/camel/component/cbor/CBORDataFormat.java
  components/camel-csv/src/main/java/org/apache/camel/dataformat/csv/CsvDataFormat.java
  components/camel-csv/src/main/java/org/apache/camel/dataformat/csv/CsvUnmarshaller.java
  components/camel-fastjson/src/main/java/org/apache/camel/component/fastjson/FastjsonDataFormat.java
  components/camel-flatpack/src/main/java/org/apache/camel/dataformat/flatpack/FlatpackDataFormat.java
  components/camel-grok/src/main/java/org/apache/camel/component/grok/GrokDataFormat.java
  components/camel-gson/src/main/java/org/apache/camel/component/gson/GsonDataFormat.java
  components/camel-gson/src/test/java/org/apache/camel/component/gson/GsonDataFormatTest.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/AbstractJacksonDataFormat.java
  components/camel-jacksonxml/src/main/java/org/apache/camel/component/jacksonxml/JacksonXMLDataFormat.java
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/JaxbDataFormat.java
  components/camel-jsonapi/src/main/java/org/apache/camel/component/jsonapi/JsonApiDataFormat.java
  components/camel-jsonb/src/main/java/org/apache/camel/component/jsonb/JsonbDataFormat.java
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/SnakeYAMLDataFormat.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/SoapDataFormat.java
  core/camel-api/src/main/java/org/apache/camel/spi/DataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/SplitDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/transformer/DataFormatTransformer.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestProducerBindingProcessorTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitterSingleMapTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertBodyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertHeaderTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedRouteNodePrefixIdTest.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/UnmarshalProcessor.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: components, core, docs, camel-4

#12606 Kamelet no
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kamelet.json
  components/camel-kamelet/src/generated/java/org/apache/camel/component/kamelet/KameletComponentConfigurer.java
  components/camel-kamelet/src/generated/java/org/apache/camel/component/kamelet/KameletEndpointConfigurer.java
  components/camel-kamelet/src/generated/java/org/apache/camel/component/kamelet/KameletEndpointUriFactory.java
  components/camel-kamelet/src/generated/resources/org/apache/camel/component/kamelet/kamelet.json
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/Kamelet.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletComponent.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletEndpoint.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletHttpSinkNoErrorHandlerFalseTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletHttpSinkTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletNoErrorHandlerDirectTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletNoErrorHandlerRouteConfigurationTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletNoErrorHandlerTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KameletComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KameletEndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, camel-4

#12607 CAMEL-19143: parquet avro dataformat - Add enum for compression levels.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/parquetAvro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/parquetAvro.json
  components/camel-parquet-avro/src/generated/resources/org/apache/camel/dataformat/parquet/avro/parquetAvro.json
  components/camel-parquet-avro/src/main/java/org/apache/camel/dataformat/parquet/avro/ParquetAvroDataFormat.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/parquetAvro.json
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/ParquetAvroDataFormat.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#12594 CAMEL-20113 camel/tests consolidating
  components/camel-jaxb/src/test/java/org/apache/camel/example/SpringLoadRouteFromXmlTest.java
  components/camel-jaxb/src/test/java/org/apache/camel/jaxb/FallbackTypeConverterTest.java
  components/camel-jaxb/src/test/resources/org/apache/camel/example/BarRoute.xml
  components/camel-jaxb/src/test/resources/org/apache/camel/example/SpringLoadRouteFromXmlTest.xml
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyBridgeHostHeaderIssueTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyFailoverRoundRobinTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyValidatorStreamTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyValidatorStreamWithStreamCachingEnabledTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyValidatorTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyXsltHttpTemplateTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyXsltTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/SpringFailoverRoundRobinTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyRedirectTest.java
  components/camel-jetty/src/test/resources/OptimizationRequest.xsd
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/InvalidRequest.xml
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/JettySpringFailoverRoundRobinTest.xml
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/ValidRequest.xml
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/greeting.xsl
  components/camel-jetty/src/test/resources/org/apache/camel/component/jetty/transform.xsl
  tests/camel-itest/src/test/java/org/apache/camel/itest/jaxb/JaxbFallbackTypeConverterTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jaxb/example/Bar.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyJmsShutdownInProgressTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyJmsTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyJmsTwowayTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyValidatorStreamWithStreamCachingEnabledTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/SetExchangePatternProcessor.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/SetResponseProcessor.java
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyJmsShutdownInProgressTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyJmsTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyJmsTwowayTest-context.xml
Labels: components, tests, camel-4

#12608 early exit from loop when the condition is met
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelTraceAction.java
Labels: dsl, camel-4

#12530 CAMEL-20019: demo session handler implementation
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServer.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServerConfiguration.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSessionTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: components, docs, camel-4

#12620 CAMEL-20285 camel-json-validator: Added options to set DeserializationFeature for ObjectMapper
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/json-validator.json
  components/camel-json-validator/src/generated/java/org/apache/camel/component/jsonvalidator/JsonValidatorEndpointConfigurer.java
  components/camel-json-validator/src/generated/java/org/apache/camel/component/jsonvalidator/JsonValidatorEndpointUriFactory.java
  components/camel-json-validator/src/generated/resources/org/apache/camel/component/jsonvalidator/json-validator.json
  components/camel-json-validator/src/main/java/org/apache/camel/component/jsonvalidator/JsonValidatorEndpoint.java
  components/camel-json-validator/src/test/java/org/apache/camel/component/jsonvalidator/ValidatorDeserializationFeaturesTest.java
Labels: components, catalog, camel-4

#12626 camel-core: expression should call super.init
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: core, camel-4
