Repository apache/camel, pull requests merged in 2023-10, with the labels that each got.

#11617 Upgrade JT400 to version 20.0.3
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11618 Upgrade Commons Io to version 2.14.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11620 Camel-Json-Validator: Added the updated supported schemas
  components/camel-json-validator/src/main/docs/json-validator-component.adoc
Labels: components, camel-4

#11621 Upgrade Commons Pool to version 2.12.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11622 CAMEL-19937: camel-core - Properties component - Add option to ignore…
  core/camel-api/src/main/java/org/apache/camel/spi/PropertiesComponent.java
  core/camel-base/src/generated/java/org/apache/camel/component/properties/PropertiesComponentConfigurer.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesParser.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesComponent.java
  core/camel-core/src/test/java/org/apache/camel/component/properties/PropertiesComponentIgnoreMissingPropertyTest.java
Labels: core, camel-4

#11624 Fix jbang run execution on windows
  dsl/camel-jbang/camel-jbang-core/src/main/resources/log4j2-background.properties
  dsl/camel-jbang/camel-jbang-core/src/main/resources/log4j2.properties
Labels: dsl, camel-4

#11625 Disable FileExclusiveReadManuelTest and FileExclusiveReadLockCopyTest on
  core/camel-core/src/test/java/org/apache/camel/component/file/FileExclusiveReadLockCopyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileExclusiveReadManuelTest.java
Labels: core, camel-4

#11627 CAMEL-19936: camel-xml-io - Parsing error with line precise error
  core/camel-util/src/main/java/org/apache/camel/util/IOHelper.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/in/BaseParser.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/io/XmlPullParserLocationException.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/in/ModelParserTest.java
  core/camel-xml-io/src/test/resources/invalid/convertBodyParseError.xml
Labels: core, camel-4

#11626 Fix DefaultComponentNameResolver on Windows
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultComponentNameResolver.java
Labels: core, camel-4

#11623 Fix SimpleTest pretty print of expression on Windows
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
Labels: core, camel-4

#11629 Enable Camel components on s390x
  components/camel-cassandraql/pom.xml
  components/camel-zookeeper-master/pom.xml
  components/camel-zookeeper/pom.xml
Labels: components, camel-4

#11630 Upgrade AWS SDK v2 to version 2.20.158
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#11631 CAMEL-19942 - Camel-Jbang Export: Improve SBOM generator by supportin…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SBOMGenerator.java
Labels: dsl, camel-4

#11632 CAMEL-19944 - Upgrade Azure SDK BOM to version 1.2.17
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11633 Enable Camel components on s390x
  components/camel-cassandraql/pom.xml
  components/camel-rocketmq/pom.xml
  components/camel-zookeeper-master/pom.xml
  components/camel-zookeeper/pom.xml
Labels: components

#11635 CAMEL-19918: camel-saxon - Using saxon=true does not work.
  components/camel-saxon/src/test/resources/org/apache/camel/language/xpath/XPathLanguageDefaultSettingsTest.xml
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathLanguage.java
Labels: components, camel-4

#11636 Use label as ppc64le
  Jenkinsfile.ppc64le
Labels: ci, camel-4

#11637 Upgrade AWS SDK v2 to version 2.20.159
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11639 Upgrade JNats to version 2.17.0 and Nats container image to 2.10.1
  parent/pom.xml
  test-infra/camel-test-infra-nats/src/test/java/org/apache/camel/test/infra/nats/services/NatsLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11642 License Maven Plugin: Remove deprecation and fixed configuration
  pom.xml
Labels: camel-4

#11641 Upgrade Picocli to version 4.7.5
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11643 CAMEL-19939: camel-jbang - dependency copy - Use camel-tooling-maven
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyCopy.java
Labels: docs, dsl, camel-4

#11645 CAMEL-19949: camel-jbang - Allow to set a custom remote debugging port
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#11646 Upgrade AWS SDK v2 to version 2.20.160
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11647 CAMEL-19952: camel-core-model - Bean should be able to be created fro…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/main/java/org/apache/camel/model/app/RegistryBeanDefinition.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/LwModelToXMLDumper.java
  core/camel-xml-jaxb/src/main/java/org/apache/camel/xml/jaxb/JaxbModelToXMLDumper.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/LwModelToYAMLDumper.java
  dsl/camel-xml-io-dsl/pom.xml
  dsl/camel-xml-io-dsl/src/main/docs/java-xml-io-dsl.adoc
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlLoadAppTest.java
  dsl/camel-xml-io-dsl/src/test/resources/org/apache/camel/dsl/xml/io/camel-app9.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeansDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/docs/yaml-dsl.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/BeansTest.groovy
Labels: core, catalog, dsl, camel-4

#11648 docs: correct DSL examples
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
Labels: components, camel-4

#11649 docs: correct DSL examples
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
Labels: components, camel-3

#11650 CAMEL-19953: route templates / kamelets - Add scriptLanguage to speci…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templateBean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templatedRouteBean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/routebuilder/SpringTemplatedRouteTest.xml
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/templateBean.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/templatedRouteBean.json
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanFactoryDefinition.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_1.adoc
  docs/user-manual/modules/ROOT/pages/route-template.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeanFactoryDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RouteTemplateTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/TemplatedRouteTest.groovy
Labels: components, core, catalog, docs, dsl, camel-4

#11651 CAMEL-19954 - Bump Debezium to version 2.4.0.Final
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-db2.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-mongodb.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-mysql.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-oracle.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-postgres.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-sqlserver.json
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2ComponentConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointUriFactory.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-db2/src/generated/resources/org/apache/camel/component/debezium/debezium-db2.json
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbComponentConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/configuration/MongoDbConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/resources/org/apache/camel/component/debezium/debezium-mongodb.json
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlComponentConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/configuration/MySqlConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mysql/src/generated/resources/org/apache/camel/component/debezium/debezium-mysql.json
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleComponentConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointUriFactory.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/org/apache/camel/component/debezium/debezium-oracle.json
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresComponentConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointUriFactory.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/configuration/PostgresConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-postgres/src/generated/resources/org/apache/camel/component/debezium/debezium-postgres.json
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverComponentConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointUriFactory.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/configuration/SqlServerConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/resources/org/apache/camel/component/debezium/debezium-sqlserver.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumDb2ComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumMongodbComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumMysqlComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumOracleComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumPostgresComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumSqlserverComponentBuilderFactory.java
  parent/pom.xml
Labels: components, catalog, dsl, core-build-and-dependencies, camel-4

#11652 Camel-JBang SBOM subcommand: Docs
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#11653 CAMEL-19555: added assertions to the camel-spring-main tests
  components/camel-spring-main/src/test/java/org/apache/camel/spring/MainDummyTest.java
  components/camel-spring-main/src/test/java/org/apache/camel/spring/MainExampleTest.java
  components/camel-spring-main/src/test/java/org/apache/camel/spring/MainVetoTest.java
  components/camel-spring-main/src/test/java/org/apache/camel/spring/MultipleCamelContextTest.java
  components/camel-spring-main/src/test/java/org/apache/camel/spring/SpringMainStartFailedIssueTest.java
Labels: components, camel-4

#11654 (chores) camel-core: code cleanup
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AdviceIterator.java
Labels: core, camel-4

#11655 CAMEL-19950: camel-report-maven-plugin - Get rid of grape
  apache-camel/pom.xml
  bom/camel-bom/pom.xml
  catalog/camel-catalog-maven-grape/pom.xml
  catalog/camel-catalog-maven-grape/src/main/java/org/apache/camel/catalog/maven/ComponentArtifactHelper.java
  catalog/camel-catalog-maven-grape/src/main/java/org/apache/camel/catalog/maven/DefaultMavenArtifactProvider.java
  catalog/camel-catalog-maven-grape/src/main/java/org/apache/camel/catalog/maven/MavenArtifactProvider.java
  catalog/camel-catalog-maven-grape/src/main/java/org/apache/camel/catalog/maven/MavenVersionManager.java
  catalog/camel-catalog-maven-grape/src/main/java/org/apache/camel/catalog/maven/TimeoutHttpClientHandler.java
  catalog/camel-catalog-maven-grape/src/main/resources/META-INF/LICENSE.txt
  catalog/camel-catalog-maven-grape/src/main/resources/META-INF/NOTICE.txt
  catalog/camel-catalog-maven-grape/src/test/java/org/apache/camel/catalog/maven/MavenArtifactProviderManualTest.java
  catalog/camel-catalog-maven-grape/src/test/java/org/apache/camel/catalog/maven/MavenVersionManagerManualTest.java
  catalog/camel-catalog-maven-grape/src/test/resources/log4j2.properties
  catalog/camel-catalog-maven/src/main/java/org/apache/camel/catalog/maven/MavenVersionManager.java
  catalog/camel-report-maven-plugin/pom.xml
  catalog/camel-report-maven-plugin/src/main/docs/camel-report-maven-plugin.adoc
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
  catalog/pom.xml
  docs/user-manual/modules/ROOT/pages/camel-report-maven-plugin.adoc
  parent/pom.xml
  tests/camel-itest/pom.xml
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloaderImpl.java
Labels: catalog, docs, tooling, tests, core-build-and-dependencies, camel-4

#11657 Upgrade AWS SDK v2 to version 2.20.161
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11659 CAMEL-19962 - Camel-Azure-Datalake: Headers metadata are wrong
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/org/apache/camel/component/azure/storage/datalake/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConstants.java
Labels: components, catalog, components-azure

#11660 CAMEL-19962 - Camel-Azure-Datalake: Headers metadata are wrong
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/org/apache/camel/component/azure/storage/datalake/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConstants.java
Labels: components, catalog, components-azure, camel-4

#11658 CAMEL-19962 - Camel-Azure-Datalake: Headers metadata are wrong
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/org/apache/camel/component/azure/storage/datalake/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConstants.java
Labels: components, catalog, components-azure, camel-3

#11664 CAMEL-19638 : Mockito core version update
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11666 Upgrade AWS SDK v2 to version 2.20.162
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11668 CAMEL-19965 - Camel-Plc4x: Upgrade to 0.11.0
  components/camel-plc4x/pom.xml
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XPollingConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XProducer.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11669 CAMEL-19966 - Upgrade Testcontainers to version 1.19.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11671 Tests: Fix mockito tests for Camel-PgEvent
  components/camel-pgevent/src/test/java/org/apache/camel/pgevent/PgEventConsumerTest.java
  components/camel-pgevent/src/test/java/org/apache/camel/pgevent/PgEventProducerTest.java
Labels: components, camel-4

#11672 Upgrade Box Java SDK to version 4.6.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11675 aws2-sns: Replace queueUrl with queueArn in component documentation
  components/camel-aws/camel-aws2-sns/src/main/docs/aws2-sns-component.adoc
Labels: components, components-aws, camel-4

#11676 [4.0.x] aws2-sns: Replace queueUrl with queueArn in component documentation
  components/camel-aws/camel-aws2-sns/src/main/docs/aws2-sns-component.adoc
Labels: components, components-aws

#11670 CAMEL-19536: replaced Thread.sleep() in camel-micrometer
  components/camel-micrometer/pom.xml
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierTest.java
Labels: components, camel-4

#11677 Upgrade Minio to version 8.5.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11679 CAMEL-19955 - Camel-Infinispan: Review the usage of Protostream sampl…
  components/camel-infinispan/camel-infinispan-embedded/pom.xml
  components/camel-infinispan/camel-infinispan/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11678 CAMEL-19970 - Avoid IllegalArgumentException for file without
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#11685 [4.0.x] 19970 backport fix illegal argument exception for file without extension
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#11680 [3.x] Mapstruct: Method must be public in DefaultMapStructFinder.discoverMappings
  components/camel-mapstruct/src/main/java/org/apache/camel/component/mapstruct/DefaultMapStructFinder.java
Labels: components, camel-3

#11683 [3.21.x] CAMEL-19970 - Avoid IllegalArgumentException for file without
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#11684 [3.x] Camel 3.x 19970 backport fix illegal argument exception when file without extension
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-3

#11687 Upgrade Spring Rabbit to version 3.0.9
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11688 CAMEL-19973 - Camel-AWS components: Revisit description - Timestream …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-timestream.json
  components/camel-aws/camel-aws2-timestream/pom.xml
  components/camel-aws/camel-aws2-timestream/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-aws/camel-aws2-timestream/src/generated/resources/org/apache/camel/component/aws2/timestream/aws2-timestream.json
  components/camel-aws/camel-aws2-timestream/src/main/docs/aws2-timestream-component.adoc
Labels: components, catalog, components-aws, camel-4

#11690 Upgrade Netty to version 4.1.100.Final
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11692 Upgrade Vertx to version 4.4.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11689 CAMEL-19977: camel-core - Java DSL - Add support for using Java 17 te…
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaParserHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaRestDslParserHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaTreeParserHelper.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/MyJava17TextBlockRouteBuilder.java
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterJava17TextBlockRouteBuilderConfigureTest.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/processor/UriAsJava17TextBlockTest.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
Labels: core, catalog, camel-4

#11698 Upgrade Vertx to version 4.4.6 (#11692)
  parent/pom.xml
Labels: core-build-and-dependencies

#11673 Camel-17040 add no data response option
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/delete.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/get.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/head.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/patch.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/post.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/put.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/rest.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/restBinding.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/restConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/Address.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyNoContentRestConfigTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyNoContentTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/package-info.java
  components/camel-servlet/src/test/java/org/apache/camel/component/servlet/rest/Address.java
  components/camel-servlet/src/test/java/org/apache/camel/component/servlet/rest/RestServletNoContentRestConfigTest.java
  components/camel-servlet/src/test/java/org/apache/camel/component/servlet/rest/RestServletNoContentTest.java
  components/camel-servlet/src/test/java/org/apache/camel/component/servlet/rest/package-info.java
  core/camel-api/src/main/java/org/apache/camel/spi/RestConfiguration.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/RestConfigurationConfigurer.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/delete.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/get.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/head.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/patch.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/post.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/put.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/rest.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/restBinding.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/rest/restConfiguration.json
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestBindingDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestConfigurationDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/VerbDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RestBindingAdvice.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/rest/RestBindingReifier.java
  core/camel-main/src/generated/java/org/apache/camel/main/RestConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_1.adoc
  docs/user-manual/modules/ROOT/pages/rest-dsl.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, docs, dsl, camel-4

#11697 Upgrade Netty to version 4.1.100.Final
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#11696 Upgrade Netty to version 4.1.100.Final
  parent/pom.xml
Labels: core-build-and-dependencies

#11695 Upgrade Netty to version 4.1.100.Final
  parent/pom.xml
Labels: core-build-and-dependencies

#11701 Upgrade Infinispan and related container image to version 14.0.18.Final
  parent/pom.xml
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4, incremental-build-all

#11702 Upgrade Infinispan and related container image to version 14.0.18.Final
  parent/pom.xml
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerService.java
Labels: test-infra, core-build-and-dependencies

#11700 Upgrade jetty to 11.0.17
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11703 Upgrade to zookeeper 3.9.1
  parent/pom.xml
  test-infra/camel-test-infra-zookeeper/src/test/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperContainer.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11704 Upgrade Jackrabbit to version 2.21.20
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11706 Upgrade Jetty to version 9.4.53.v20231009
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#11707 Upgrade Jetty to version 9.4.53.v20231009
  parent/pom.xml
Labels: core-build-and-dependencies

#11708 Upgrade Jetty to version 9.4.53.v20231009
  parent/pom.xml
Labels: core-build-and-dependencies

#11709 Refactored LDAP docs - backport from main to camel-4.0.x branch
  components/camel-ldap/src/main/docs/ldap-component.adoc
Labels: components

#11705 CAMEL-19827: camel-kafka - Consumer should fail-fast if invalid host:…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaComponentConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointUriFactory.java
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerBadPortHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerBadPortSupervisingHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerUnresolvableHealthCheckIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_2.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
Labels: components, components-kafka, catalog, docs, camel-4

#11713 CAMEL-19982: camel-jbang - Allow --jvm-debug as last parameter
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#11714 CAMEL-19982: camel-jbang - Allow --jvm-debug as last parameter
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#11716 Upgrade AWS SDK v2 to version 2.21.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11656 (chores) camel-core: avoid hitting the JVM slow path
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
Labels: core, camel-4

#11717 Upgrade Spring to version 6.0.13
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11719 CAMEL-19967: Fix RouteBuilder/RouteConfigurationBuilder to ensure Cam…
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteConfigurationBuilder.java
Labels: core, camel-4

#11718 Upgrade micrometer 1.11.5 and tracing 1.1.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11723 Optimize EndpointHelper.matchEndpoint
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultEndpointRegistryTest.java
  core/camel-support/src/main/java/org/apache/camel/support/EndpointHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/PatternHelper.java
Labels: core, camel-4

#11725 Upgrade undertow 2.3.9
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11724 CAMEL-19968: The Tracing Strategy is failing when using pollEnrich wi…
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategy.java
Labels: components

#11722 Upgrade to Mockito 5.6.0
  catalog/camel-report-maven-plugin/pom.xml
  components/camel-box/camel-box-component/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies, camel-4

#11727 CAMEL-19968: The Tracing Strategy is failing when using pollEnrich
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategy.java
Labels: components, catalog, camel-4

#11730 Upgrade Infinispan to version 14.0.19.Final
  parent/pom.xml
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11731 CAMEL-19973 - Camel-AWS components: Revisit description - Athena Comp…
  components/camel-aws/camel-aws2-athena/pom.xml
  components/camel-aws/camel-aws2-athena/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#11732 CAMEL-19973 - Camel-AWS components: Revisit description - Cloudwatch …
  components/camel-aws/camel-aws2-cw/pom.xml
  components/camel-aws/camel-aws2-cw/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#11733 CAMEL-19996 avoid NPE when handling exception without coordinator
  core/camel-core-processor/src/main/java/org/apache/camel/processor/saga/SagaProcessor.java
Labels: core, camel-4

#11734 CAMEL-19998: move several internal APIs to the CamelContext extension
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: core, camel-4

#11735 Upgrade AWS SDK v2 to version 2.21.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11737 Upgrade Kubernetes Client to version 6.9.0
  components/camel-kubernetes/src/generated/java/io/fabric8/kubernetes/client/ConfigFluentImplConfigurer.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11736 CAMEL-19998: move more private APIs to the Extension
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: core, camel-4

#11738 (chores) camel-core: minor cleanup in the shutdown strategy
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultShutdownStrategy.java
Labels: core, camel-4

#11740 CAMEL-19973 - Camel-AWS components: Revisit description - DynamoDB co…
  components/camel-aws/camel-aws2-ddb/pom.xml
  components/camel-aws/camel-aws2-ddb/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#11741 CAMEL-19998: cleanup executor startup step recorder API
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultCamelContextSuspendResumeRouteTest.java
Labels: core, camel-4

#11744 CAMEL-19998: reduce coupling between CamelContext and the InternalServiceManager
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalServiceManager.java
Labels: core, camel-4

#11745 CAMEL-19998: reduce coupling between CamelContext and the InternalRouteStartupManager
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalRouteStartupManager.java
Labels: core, camel-4

#11739 CAMEL-19994: camel-platform-http-vertx - Allow access to vertx reques…
  components/camel-platform-http-vertx/pom.xml
  components/camel-platform-http-vertx/src/main/docs/platform-http-vertx.adoc
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/HttpMessage.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpPooledExchangeTest.java
Labels: components, camel-4

#11746 Upgrade undertow 2.3.10
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11747 Upgrade to log4j 2.21.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11748 Upgrade AWS SDK v2 to version 2.21.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11750 CAMEL-20003 - Upgrade Google Cloud BOM to version 26.25.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11749 CAMEL-20002: Make it easier to extend DefaultInjector
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultInjector.java
Labels: core, camel-4

#11753 CAMEL-20005 - Upgrade Google Secrets Manager BOM to version 2.28.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11751 Remove deprecated Class.newInstance usage in StaxProcessor
  components/camel-stax/src/main/java/org/apache/camel/component/stax/StAXProcessor.java
Labels: components, camel-4

#11755 CAMEL-20006 - Upgrade Google Cloud Functions BOM to version 2.30.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11758 Bean cache
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/bean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/class.json
  components/camel-bean/src/generated/java/org/apache/camel/component/bean/BeanComponentConfigurer.java
  components/camel-bean/src/generated/resources/org/apache/camel/component/bean/bean.json
  components/camel-bean/src/generated/resources/org/apache/camel/component/beanclass/class.json
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanComponent.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/BeanComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ClasComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#11759 CAMEL-20010
  components/camel-sql/src/main/java/org/apache/camel/processor/idempotent/jdbc/JdbcMessageIdRepository.java
Labels: components, camel-4

#11760 (chores) camel-core: reduce method size to force inlining
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultReactiveExecutor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultStreamCachingStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SharedCamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/StreamCachingHelper.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
  core/camel-main/src/main/java/org/apache/camel/main/MainDurationEventNotifier.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/UnitOfWorkHelper.java
Labels: core, camel-4

#11761 (chores) camel-disruptor: reduce method size
  components/camel-disruptor/src/main/java/org/apache/camel/component/disruptor/DisruptorConsumer.java
  components/camel-disruptor/src/main/java/org/apache/camel/component/disruptor/DisruptorProducer.java
Labels: components, camel-4

#11763 (chores) camel-core: minor cleanup in the RedeliveryErrorHandler
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
Labels: core, camel-4

#11764 (chores) camel-main: cleanup shutdown action check
  core/camel-main/src/main/java/org/apache/camel/main/MainDurationEventNotifier.java
Labels: core, camel-4

#11765 (chores) camel-core: remove unnecessary volatile
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#11769 camel-kafka - fix typo in the description of linger.ms
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka, catalog, camel-4

#11711 CAMEL-19541: replaced Thread.sleep() in camel-quartz
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/SpringQuartzConsumerTwoAppsClusteredFailoverTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/SpringQuartzConsumerTwoAppsClusteredRecoveryTest.java
  components/camel-quartz/src/test/java/org/apache/camel/routepolicy/quartz/SimpleScheduledCombinedRoutePolicyTest.java
  components/camel-quartz/src/test/java/org/apache/camel/routepolicy/quartz/SpringQuartzTwoAppsClusteredFailoverTest.java
Labels: components, camel-4

#11770 CAMEL-19998: cleanup unused methods
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#11771 camel-kafka - fix typo in the description of linger.ms
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, dsl, camel-3

#11773 camel-kafka - fix typo in the description of linger.ms
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, dsl

#11772 camel-kafka - fix typo in the description of linger.ms
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, dsl

#11776 Fix missing space in description of Cmale JBang Transform parameter d…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Transform.java
Labels: dsl, camel-4

#11777 Upgrade spring-security to align with spring-boot 3.1.5
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11779 Allow accessing Exchange during saga in LRAClient
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRAClient.java
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRASagaCoordinator.java
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRASagaService.java
  components/camel-saga/src/main/java/org/apache/camel/component/saga/SagaProducer.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/saga/RequiredSagaProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/saga/RequiresNewSagaProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/saga/SagaProcessor.java
  core/camel-support/src/main/java/org/apache/camel/saga/CamelSagaCoordinator.java
  core/camel-support/src/main/java/org/apache/camel/saga/CamelSagaService.java
  core/camel-support/src/main/java/org/apache/camel/saga/InMemorySagaCoordinator.java
  core/camel-support/src/main/java/org/apache/camel/saga/InMemorySagaService.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_2.adoc
Labels: components, core, docs, camel-4

#11780 Upgrade AWS SDK v2 to version 2.21.4
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#11783 Upgrade AWS SDK v2 to version 2.21.4
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  components/camel-aws/camel-aws2-s3/src/generated/resources/org/apache/camel/component/aws2/s3/aws2-s3.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies

#11781 Added route naming example for YAML
  docs/user-manual/modules/faq/pages/how-do-i-name-my-routes.adoc
Labels: docs, camel-4

#11754 CAMEL-20008 - Improve assertion to compare xml and not string in XMLTokenExpressionIteratorTest
  components/camel-stax/pom.xml
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenExpressionIteratorTest.java
Labels: components, camel-4

#11786 Upgrade SSHD to version 2.11.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11788 CAMEL-20008 - Improve assertion to compare xml (java 21 fix)
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenExpressionIteratorGroupingTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenizeExpressionIteratorWModeTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguageGroupingTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguageStreamingFileTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguageTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenizeWrapLanguageGroupingTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenizeWrapLanguageTest.java
Labels: components, camel-4

#11787 Upgrade undertow to 2.2.28.Final
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#11789 Sshd 2.11.0 4.0.x
  parent/pom.xml
Labels: catalog, tooling-maven, ci, core-build-and-dependencies, core-build-tooling, camel-4

#11790 Upgrade SSHD to version 2.11.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#11791 Upgrade SSHD to version 2.11.0
  parent/pom.xml
Labels: core-build-and-dependencies

#11792 Upgrade SSHD to version 2.11.0
  parent/pom.xml
Labels: core-build-and-dependencies

#11795 Model apps
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/bean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/beans.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/camel.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/constructor.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/constructors.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/properties.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/property.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/beans.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/camel.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/property.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/model.properties
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/bean.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/constructor.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/constructors.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/properties.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/property.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/property.json
  core/camel-core-model/src/main/java/org/apache/camel/model/PropertyDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/ApplicationDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeanConstructorDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeanConstructorsDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeanPropertiesDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeanPropertyDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/ComponentScanDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/RegistryBeanDefinition.java
  core/camel-main/src/main/java/org/apache/camel/main/MainDurationEventNotifier.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/GenerateMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageModelMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCatalogMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SchemaGeneratorMojo.java
Labels: core, catalog, dsl, tooling, tooling-maven, camel-4

#11798 CAMEL-19907: camel-micrometer - Add option to use old legacy naming s…
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerUtils.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierNamingStrategy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerRouteEventNotifierNamingStrategy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/messagehistory/MicrometerMessageHistoryNamingStrategy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyNamingStrategy.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/AbstractMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/LegacyMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyTest.java
Labels: components, camel-4

#11801 Upgrade AWS SDK v2 to version 2.21.5
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11802 Upgrade Santuario XMLSec to version 2.2.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11803 Upgrade Santuario XMLSec to version 2.2.6
  parent/pom.xml
Labels: core-build-and-dependencies

#11804 Upgrade Spring Rabbit to version 3.0.10
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11808 CAMEL-20031: camel-yaml-dsl - Fix description to be correct in model …
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: dsl, camel-4

#11805 Upgrade Spring Rabbitmq to version 3.0.10
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11806 CAMEL-19707: camel-aws-s3 - Upload small / zero length files in singl…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/generated/resources/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Configuration.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3MultipartUploadOperationIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2S3ComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#11810 (chores) camel-core: reduce method size to help inlining
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
  core/camel-support/src/main/java/org/apache/camel/support/EventHelper.java
Labels: core, camel-4

#11809 camel-lra: provide additional unit tests
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRASagaService.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRAClientTest.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRASagaCoordinatorTest.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRASagaServiceTest.java
Labels: components, camel-4

#11811 CAMEL-20028: camel-mail - Make disposition optional if filename is non empty
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailBinding.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailAttachmentNamesTest.java
  components/camel-mail/src/test/resources/disposition_none.txt
Labels: components, camel-4

#11813 CAMEL-20032: camel-yaml-dsl - Choice should not have steps in schema
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: dsl, camel-4

#11814 CAMEL-20028: camel-mail - Make disposition optional if filename is non empty
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailBinding.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailAttachmentNamesTest.java
  components/camel-mail/src/test/resources/disposition_none.txt
Labels: components, camel-3

#11817 Upgrade AWS SDK v2 to version 2.21.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11818 Bean leak
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanComponent.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/DefaultBeanProcessorFactory.java
  core/camel-support/src/main/java/org/apache/camel/support/LRUCache.java
Labels: components, core, camel-4
