Repository apache/camel, pull requests merged in 2023-11, with the labels that each got.

#11881 CAMEL-20039: camel-core - SimpleLRUCache add support for soft cache
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleSoftCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultLRUCacheFactory.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleSoftCache.java
Labels: core

#11883 Upgrade AWS SDK v2 to version 2.21.13
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11884 Upgrade Flink to version 1.18.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11885 CAMEL-20069 - Upgrade Azure SDK BOM to version 1.2.18
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11888 Camel-Box: Upgrade to Jose4j to version 0.9.3 and exclusion version 0…
  components/camel-box/camel-box-api/pom.xml
  components/camel-box/camel-box-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11887 Upgrade Azurite container image to version 3.27.0
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
Labels: test-infra, camel-4

#11889 CAMEL-20070: avoid unnecessary costly comparisons
  core/camel-api/src/main/java/org/apache/camel/converter/TypeConvertible.java
Labels: core, camel-4

#11891 Upgrade Camel version in Camel JBang docker file to 4.1.0
  dsl/camel-jbang/camel-jbang-container/Dockerfile
Labels: dsl, camel-4

#11893 CAMEL-20072 - Upgrade Google Cloud BOM to version 26.26.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11894 CAMEL-20073 - Bump google-cloud-functions-bom to version 2.31.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11892 Fix typo in doc for Maven settings.xml
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#11896 CAMEL-20074 - Bump google-cloud-secretmanager-bom to version 2.29.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11895 CAMEL-20075 - camel-kubernetes - upgrade to 6.9.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11898 Update using-getin-or-getout-methods-on-exchange.adoc
  docs/user-manual/modules/faq/pages/using-getin-or-getout-methods-on-exchange.adoc
Labels: docs, camel-4

#11899 Upgrade Graal JS to version 23.0.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11900 chore: backport doc corrections and other minor changes from main branch
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/Dhis2Converters.java
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
Labels: components

#11870 CAMEL-19997: new camel-smb component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smb.json
  components/camel-smb/pom.xml
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbComponentConfigurer.java
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbEndpointConfigurer.java
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbEndpointUriFactory.java
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/component/smb
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/configurer/smb-component
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/configurer/smb-endpoint
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/urifactory/smb-endpoint
  components/camel-smb/src/generated/resources/org/apache/camel/component/smb/smb.json
  components/camel-smb/src/main/docs/smb-component.adoc
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbComponent.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConfiguration.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbEndpoint.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbIOBean.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbReadBean.java
  components/camel-smb/src/main/resources/META-INF/services/org/apache/camel/component/smb
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbComponentIT.java
  components/camel-smb/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
  test-infra/camel-test-infra-smb/pom.xml
  test-infra/camel-test-infra-smb/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/common/SmbProperties.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbContainer.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbLocalContainerService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbRemoteService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbServiceFactory.java
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/Dockerfile
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/smb.conf
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/start.sh
  test-infra/pom.xml
Labels: components, core, catalog, dsl, test-infra, core-build-and-dependencies, camel-4

#11903 CAMEL-19961
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/spring-rabbitmq.json
  components/camel-spring-rabbitmq/src/generated/resources/org/apache/camel/component/springrabbit/spring-rabbitmq.json
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/DefaultMessagePropertiesConverter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQConstants.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQConsumerQueuesIT.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQProducerIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SpringRabbitMQEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-3

#11908 Upgrade OpenSearch to 2.11.0 and its Java client to 2.8.0
  parent/pom.xml
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/OpenSearchLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11907 Upgrade Pulsar to version 3.1.1
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11909 Otel
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-observation/src/main/java/org/apache/camel/observation/AttributeProcessor.java
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationTracer.java
  components/camel-observation/src/main/java/org/apache/camel/observation/SetCorrelationContextProcessor.java
  components/camel-opentelemetry/src/generated/java/org/apache/camel/opentelemetry/OpenTelemetryTracerConfigurer.java
  components/camel-opentelemetry/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.opentelemetry.OpenTelemetryTracer
  components/camel-opentelemetry/src/generated/resources/META-INF/services/org/apache/camel/opentelemetry-tracer
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
  core/camel-api/src/generated/java/org/apache/camel/spi/CamelTracingService.java
  core/camel-main/src/generated/java/org/apache/camel/main/OtelConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.OtelConfigurationProperties
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/OtelConfigurationProperties.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: components, core, catalog, tooling, tooling-maven, camel-4

#11912 Upgrade AWS SDK v2 to version 2.21.15
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11913 Upgrade JNats to version 2.17.1 and related container to 2.10.4
  parent/pom.xml
  test-infra/camel-test-infra-nats/src/test/java/org/apache/camel/test/infra/nats/services/NatsLocalContainerService.java
  test-infra/camel-test-infra-smb/pom.xml
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbContainer.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbService.java
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/smb.conf
Labels: test-infra, core-build-and-dependencies, camel-4

#11914 Upgrade SMBJ to version 0.12.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11915 Upgrade Lucene to version 9.8.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11916 Upgrade Optaplanner to version 9.44.0.Final
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11918 Upgrade Jetty to version 11.0.18
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11925 Upgrade AWS SDK v2 to version 2.21.16
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11926 Upgrade Elasticsearch and related container image to version 2.10.4
  parent/pom.xml
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11919 Move some bits of Documentation from 'in Camel 3.x' to since 'Camel 3.x'
  docs/user-manual/modules/ROOT/pages/camel-component-maven-plugin.adoc
  docs/user-manual/modules/faq/pages/how-do-i-disable-jmx.adoc
Labels: docs, camel-4

#11924 CAMEL-20086: Avoid losing kamelets-version setting in Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#11927 CAMEL-20088 - Camel-Azure-Schema-Registry component: Moving the bits …
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/azure-schema-registry.json
  components/camel-azure/camel-azure-schema-registry/pom.xml
  components/camel-azure/camel-azure-schema-registry/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-azure/camel-azure-schema-registry/src/generated/resources/azure-schema-registry.json
  components/camel-azure/camel-azure-schema-registry/src/main/docs/azure-schema-registry.adoc
  components/camel-azure/camel-azure-schema-registry/src/main/java/org/apache/camel/component/azure/schema/registry/DefaultAzureCredentialWrapper.java
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, catalog, tooling, tooling-maven, components-azure, core-build-and-dependencies, camel-4

#11917 CAMEL-20062: fix the split package warning in Camel Quarkus
  components/camel-vertx/camel-vertx-common/src/generated/java/org/apache/camel/component/vertx/common/CamelVertxCommonBulkConverterLoader.java
  core/camel-api/src/main/java/org/apache/camel/spi/TypeConverterRegistry.java
  core/camel-api/src/main/java/org/apache/camel/spi/TypeConvertible.java
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/ConverterStatistics.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/TypeResolverHelper.java
  core/camel-core/src/test/java/org/apache/camel/impl/CustomBulkTypeConvertersTest.java
  core/camel-support/src/generated/java/org/apache/camel/converter/stream/StreamCacheBulkConverterLoader.java
  core/camel-xml-jaxp/src/generated/java/org/apache/camel/converter/jaxp/CamelXmlJaxpBulkConverterLoader.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/TypeConverterLoaderGeneratorMojo.java
Labels: components, core, tooling, tooling-maven, camel-4

#11928 CAMEL-20088 - Camel-Azure-Schema-Registry component: Moving the bits …
  components/camel-azure/pom.xml
Labels: components, components-azure, camel-4

#11882 Converter lookup once again matches subclass converters like in Camel 3
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/converter/JacksonTypeConverters.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/TypeResolverHelper.java
  core/camel-core/src/test/java/org/apache/camel/impl/converter/TypeResolverHelperTest.java
Labels: components, core, camel-4

#11929 CAMEL-19828: added missing direct converter
  components/camel-jackson/src/generated/java/org/apache/camel/component/jackson/converter/JacksonTypeConvertersLoader.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/converter/JacksonTypeConverters.java
Labels: components, camel-4

#11933 CAMEL-19828: avoid iterating twice over the converters' map
  core/camel-base/src/main/java/org/apache/camel/impl/converter/TypeResolverHelper.java
Labels: core, camel-4

#11932 CAMEL-20080 Update camel-4-migration-guide.adoc
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4

#11936 Upgrade AWS SDK v2 to version 2.21.17
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11940 Upgrade Localstack Container Image to version 2.3.2
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSContainer.java
Labels: test-infra, camel-4

#11942 CAMEL-19986-1: Improved ThrottlingExecutor
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/ThrottlingExecutor.java
Labels: components, camel-4

#11920 CAMEL-20044 add extra logging for BreakOnFirstError
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/AbstractCommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/ProcessingResult.java
Labels: components, components-kafka

#11943 CAMEL-20087: Add data type transformers from Kamelet utils
  components/camel-aws/camel-aws2-ddb/pom.xml
  components/camel-aws/camel-aws2-ddb/src/generated/resources/META-INF/services/org/apache/camel/transformer/aws2-ddb-application-json
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/transform/Ddb2JsonDataTypeTransformer.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/transform/Ddb2JsonDataTypeTransformerTest.java
  components/camel-aws/camel-aws2-sqs/pom.xml
  components/camel-aws/camel-aws2-sqs/src/generated/resources/META-INF/services/org/apache/camel/transformer/aws2-sqs-application-cloudevents
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/transform/AWS2SQSCloudEventDataTypeTransformer.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/transform/AWS2SQSCloudEventDataTypeTransformerTest.java
  components/camel-azure/camel-azure-storage-blob/pom.xml
  components/camel-azure/camel-azure-storage-blob/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-storage-blob-application-cloudevents
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/transform/AzureStorageBlobCloudEventDataTypeTransformer.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/transform/AzureStorageBlobCloudEventDataTypeTransformerTest.java
  components/camel-google/camel-google-sheets/pom.xml
  components/camel-google/camel-google-sheets/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-sheets-application-x-struct
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/transform/CellCoordinate.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/transform/GoogleSheetsJsonStructDataTypeTransformer.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/transform/RangeCoordinate.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/transform/GoogleSheetsJsonStructDataTypeTransformerTest.java
  components/camel-google/camel-google-storage/pom.xml
  components/camel-google/camel-google-storage/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-storage-application-cloudevents
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/transform/GoogleStorageCloudEventDataTypeTransformer.java
  components/camel-google/camel-google-storage/src/test/java/org/apache/camel/component/google/storage/transform/GoogleStorageCloudEventDataTypeTransformerTest.java
  components/camel-jackson-avro/pom.xml
  components/camel-jackson-avro/src/generated/resources/META-INF/services/org/apache/camel/transformer/avro-binary
  components/camel-jackson-avro/src/generated/resources/META-INF/services/org/apache/camel/transformer/avro-x-java-object
  components/camel-jackson-avro/src/generated/resources/META-INF/services/org/apache/camel/transformer/avro-x-struct
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/Avro.java
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroBinaryDataTypeTransformer.java
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroPojoDataTypeTransformer.java
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroSchemaResolver.java
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroStructDataTypeTransformer.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroBinaryDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroPojoDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroSchemaResolverTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroStructDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/Person.java
  components/camel-jackson-avro/src/test/resources/org/apache/camel/component/jackson/avro/transform/Person.avsc
  components/camel-jackson-avro/src/test/resources/schemas/avro/Person.avsc
  components/camel-jackson/pom.xml
  components/camel-jackson/src/generated/resources/META-INF/services/org/apache/camel/transformer/application-json
  components/camel-jackson/src/generated/resources/META-INF/services/org/apache/camel/transformer/application-x-java-object
  components/camel-jackson/src/generated/resources/META-INF/services/org/apache/camel/transformer/application-x-struct
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/SchemaHelper.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/SchemaType.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/Json.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonDataTypeTransformer.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonFormatSchema.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonPojoDataTypeTransformer.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonSchemaResolver.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonStructDataTypeTransformer.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/JsonDataTypeTransformerTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/JsonPojoDataTypeTransformerTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/JsonSchemaResolverTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/JsonStructDataTypeTransformerTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/Person.java
  components/camel-jackson/src/test/resources/org/apache/camel/component/jackson/transform/person.schema.json
  components/camel-jackson/src/test/resources/schemas/json/org.apache.camel.component.jackson.transform.Person.json
  core/camel-api/src/main/java/org/apache/camel/spi/MimeType.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultTransformerRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/transformer/DataTypeProcessorTest.java
Labels: components, core, components-aws, components-azure, camel-4

#11937 CAMEL-20092: reset error counter before greedy poll
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
Labels: core, camel-4

#11938 CAMEL-20085: aws2-sqs - catch any SdkException when deleting message
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
Labels: components, components-aws, camel-4

#11944 [BACKPORT-4.0.x] CAMEL-20086: Avoid losing kamelets-version setting in Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl

#11941 CAMEL-20093: cleanup code duplications in camel-catalog
  catalog/camel-catalog-common/pom.xml
  catalog/camel-catalog-common/src/main/java/org/apache/camel/catalog/common/CatalogHelper.java
  catalog/camel-catalog-common/src/main/java/org/apache/camel/catalog/common/FileUtil.java
  catalog/camel-catalog-console/src/main/java/org/apache/camel/catalog/console/CatalogConsole.java
  catalog/camel-csimple-maven-plugin/pom.xml
  catalog/camel-csimple-maven-plugin/src/main/java/org/apache/camel/maven/GenerateMojo.java
  catalog/camel-report-maven-plugin/pom.xml
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/XmlRouteParser.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaParserHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaRestDslParserHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaTreeParserHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/ParserCommon.java
  catalog/pom.xml
Labels: catalog, camel-4

#11947 (chores) camel-test-infra-cassandra: upgrade to Cassandra 4.1.3
  test-infra/camel-test-infra-cassandra/src/test/java/org/apache/camel/test/infra/cassandra/services/CassandraLocalContainerService.java
Labels: test-infra, camel-4

#11949 CAMEL-20092: reset error counter before greedy poll (BACKPORT #11937 to 3.x)
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
Labels: core, camel-3

#11948 CAMEL-20092: reset error counter before greedy poll (BAKCPORT #11937 to 4.0.x)
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
Labels: core

#11950 CAMEL-20092: reset error counter before greedy poll (BACKPORT #11937 to 3.21.x)
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
Labels: core

#11930 CAMEL-20061: SMPP interface version can now be configured
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smpp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smpps.json
  components/camel-smpp/src/generated/java/org/apache/camel/component/smpp/SmppComponentConfigurer.java
  components/camel-smpp/src/generated/java/org/apache/camel/component/smpp/SmppEndpointConfigurer.java
  components/camel-smpp/src/generated/java/org/apache/camel/component/smpp/SmppEndpointUriFactory.java
  components/camel-smpp/src/generated/resources/org/apache/camel/component/smpp/smpp.json
  components/camel-smpp/src/generated/resources/org/apache/camel/component/smpp/smpps.json
  components/camel-smpp/src/main/docs/smpp-component.adoc
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppConfiguration.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppConsumer.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppProducer.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/SmppConfigurationTest.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/SmppProducerTest.java
Labels: components, catalog, camel-4

#11953 Jb agent
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenGav.java
  tooling/camel-tooling-maven/src/test/java/org/apache/camel/tooling/maven/MavenGavTest.java
Labels: docs, dsl, tooling, camel-4

#11954 Upgrade Pubnub-gson to version 6.4.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11955 CAMEL-20093: cleaned up duplicated code in DefaultCamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
Labels: catalog, camel-4

#11956 CAMEL-20093: cleaned up duplicated code in camel-route-parser
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaParserHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaTreeParserHelper.java
Labels: catalog, camel-4

#11957 CAMEL-19905: Add streaming option to camel-platform-http-vertx
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/platform-http.json
  components/camel-platform-http-vertx/src/main/docs/platform-http-vertx.adoc
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/AsyncInputStream.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/DefaultHttpRequestBodyHandler.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/HttpRequestBodyHandler.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/StreamingHttpRequestBodyHandler.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpLargeMessageStreamingTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpProxyTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpStreamingTest.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointConfigurer.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointUriFactory.java
  components/camel-platform-http/src/generated/resources/org/apache/camel/component/platform/http/platform-http.json
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PlatformHttpEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#11958 Fix typo on SSLContextParameters javadocs
  core/camel-api/src/main/java/org/apache/camel/support/jsse/BaseSSLContextParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextParameters.java
Labels: core, camel-4

#11961 Fixed typo in Spring support docs
  docs/user-manual/modules/ROOT/pages/spring.adoc
Labels: docs, camel-4

#11962 Upgrade SnakeYAML to 2.1
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/SnakeYAMLDataFormat.java
  parent/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/AbstractGenerateMojo.java
Labels: components, tooling, tooling-maven, core-build-and-dependencies, camel-4

#11963 Upgrade Hazelcast to version 5.3.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11906 [CAMEL-20081]: Utilize the multicast processor in the dynamic router,…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/dynamic-router.json
  components/camel-dynamic-router/src/generated/java/org/apache/camel/component/dynamicrouter/DynamicRouterEndpointConfigurer.java
  components/camel-dynamic-router/src/generated/java/org/apache/camel/component/dynamicrouter/DynamicRouterEndpointUriFactory.java
  components/camel-dynamic-router/src/generated/resources/org/apache/camel/component/dynamicrouter/dynamic-router.json
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterComponent.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterConfiguration.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterControlChannelProcessor.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterControlMessage.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterEndpoint.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterMulticastProcessor.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessor.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/PrioritizedFilter.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/PrioritizedFilterProcessor.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/DynamicRouterControlChannelProcessorTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/DynamicRouterProcessorTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/PrioritizedFilterTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterBasicSynchronousIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterMultipleRecipientModeIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/integration/DynamicRouterUriControlIT.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/support/DynamicRouterTestSupport.java
Labels: components, catalog, camel-4

#11964 Fix Validation for Maven Surefire Plugin in Camel-hazelcast component
  components/camel-hazelcast/pom.xml
Labels: components, camel-4

#11965 Upgrade Infinispan to version 14.0.20.Final
  parent/pom.xml
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#11966 Fix Validation for Maven Surefire Plugin in Camel-ftp, Camel-Pulsar a…
  components/camel-ftp/pom.xml
  components/camel-infinispan/camel-infinispan-embedded/pom.xml
  components/camel-pulsar/pom.xml
Labels: components, camel-4

#11945 CAMEL-19526: replaced the Thread.sleep with the best option or removed it.
  components/camel-jms/src/test/java/org/apache/camel/component/jms/AggregatedJmsRouteTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOnlyDisableTimeToLiveTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsProducerWithJMSHeaderTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSimpleRequestCustomReplyToTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSimpleRequestLateReplyTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ManagedJmsSelectorTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/async/MyAsyncProducer.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsInOutExclusiveTopicRecipientListTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsInOutExclusiveTopicTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsSendToAlotOfDestinationWithSameEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/TempReplyToIssueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/temp/JmsRequestReplyTemporaryRefreshFailureOnStartupTest.java
Labels: components, components-jms, camel-4

#11972 CAMEL-20081: Added an entry for Dynamic Router EIP changes to the 4.2 upgrade doc.
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_2.adoc
Labels: docs, camel-4

#11969 CAMEL-20062: left-over formatting fixes
  core/camel-base/src/main/java/org/apache/camel/impl/converter/ConverterStatistics.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
  core/camel-core/src/test/java/org/apache/camel/impl/CustomBulkTypeConvertersTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/converter/TypeResolverHelperTest.java
Labels: core, camel-4

#11973 CAMEL-20101: camel-jolt - query parameter allowContextMapAll is ignored
  components/camel-jolt/src/generated/java/org/apache/camel/component/jolt/JoltEndpointConfigurer.java
  components/camel-jolt/src/generated/java/org/apache/camel/component/jolt/JoltEndpointUriFactory.java
  components/camel-jolt/src/generated/resources/org/apache/camel/component/jolt/jolt.json
  components/camel-jolt/src/main/java/org/apache/camel/component/jolt/JoltEndpoint.java
Labels: components, camel-4

#11976 CAMEL-20100: camel-jsonpath - Add support for parsing using byte[] if…
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathEngine.java
Labels: components, camel-4

#11978 Upgrade Minio to version 8.5.7
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11979 CAMEL-20094: camel-catalog: camel-spring.xsd keeps being regenerated.
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/PackageHelper.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/EipDocumentationEnricherMojo.java
Labels: tooling, tooling-maven, camel-4

#11982 CAMEL-20110: camel-jetty - Allow to configure idleTimeout on jetty se…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jetty.json
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/JettyHttpEndpoint.java
  components/camel-jetty/src/generated/java/org/apache/camel/component/jetty11/JettyHttp11EndpointUriFactory.java
  components/camel-jetty/src/generated/java/org/apache/camel/component/jetty11/JettyHttpEndpoint11Configurer.java
  components/camel-jetty/src/generated/resources/org/apache/camel/component/jetty11/jetty.json
  components/camel-jetty/src/main/java/org/apache/camel/component/jetty11/JettyHttpComponent11.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JettyHttp11EndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#11981 (chores) camel-github: fixed broken link
  components/camel-github/src/main/docs/github-component.adoc
Labels: components, camel-4

#11983 Remove endpoint
  components/camel-spring-redis/src/test/java/org/apache/camel/component/redis/RedisRemoveEndpointTest.java
  components/camel-spring-redis/src/test/java/org/apache/camel/component/redis/RedisRemoveRouteTest.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultEndpointRegistryTest.java
Labels: components, core, camel-4

#11984 Upgrade Olingo4 to version 4.10.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11971 CAMEL-20103: fix the currency problem acquiring a producer template from the Defau…
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultProducerCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultProducerCache.java
Labels: core, camel-4

#11986 Upgrade GraphQL Java to version 21.3
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#11987 CAMEL-19973 - Camel-AWS components: Revisit description - EKS Component
  components/camel-aws/camel-aws2-eks/pom.xml
  components/camel-aws/camel-aws2-eks/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#11988 CAMEL-19973 - Camel-AWS components: Revisit description - Eventbridge…
  components/camel-aws/camel-aws2-eventbridge/pom.xml
  components/camel-aws/camel-aws2-eventbridge/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#11990 CAMEL-19973 - Camel-AWS components: Revisit description - IAM Component
  components/camel-aws/camel-aws2-iam/pom.xml
  components/camel-aws/camel-aws2-iam/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#11991 (chores) camel-tooling-util: fixed checkstyle
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/PackageHelper.java
Labels: tooling

#11994 Upgrade Box Java SDK to version 4.6.1
  components/camel-box/camel-box-api/pom.xml
  components/camel-box/camel-box-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#11996 CAMEL-20113: test module cleanups
  tests/camel-itest/src/test/java/org/apache/camel/itest/async/MyAsyncProducer.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/customerrelations/CustomerServicesTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/doc/DataFormatComponentConfigurationAndDocumentationTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/doc/EipDocumentationTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/ftp/FtpInitialConnectTimeoutTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/JettyRecipientListCxfIssueTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/Server.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/issues/JettyHttpFileCacheTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/issues/JettyHttpTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jaxb/JaxbFallbackTypeConverterTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyBridgeHostHeaderIssueTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyFailoverRoundRobinTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyFreemarkerTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyJmsShutdownInProgressTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyJmsTwowayTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyRestRedirectTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettySimulateFailoverRoundRobinTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyVelocityTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyXsltHttpTemplateTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jetty/JettyXsltTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsConsumerShutdownTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsHttpJmsTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsHttpPostIssueTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsHttpPostIssueWithMockTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsResequencerTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/netty/NettyAsyncRequestReplyTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/nettyhttp/NettyHttpClientChunkedResponseTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/security/KeystorePasswordCallback.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/JmsToHttpRoute.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/JmsToHttpWithOnExceptionAndNoTransactionErrorHandlerConfiguredRoute.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/JmsToHttpWithOnExceptionRoute.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/JmsToHttpWithRollbackRoute.java
Labels: tests, camel-4

#11995 Update Migration guide to 4.2 related to BacklogDebugger class removal
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_2.adoc
Labels: docs, camel-4

#11999 Kamelet debug
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultChannel.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/DebugDevConsole.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
Labels: core, dsl, camel-4

#11997 Upgrade default version for Camel in Camel JBang to 4.2.0
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#12000 CAMEL-19770: cleanup catches of Throwable in core code
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Throttler.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
Labels: core, camel-4

#12001 CAMEL-19770: cleanup catches of Throwable in DSLs
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/ActionBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/MessageTableHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Hawtio.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ProcessBaseCommand.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KnownDependenciesResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KnownReposResolver.java
Labels: dsl, camel-4

#11959 CAMEL-20044 fix to handle commit on breakOnFirstError
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReplayOldMessagesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsynchCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSynchCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/testutil/CamelKafkaUtil.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
Labels: components, components-kafka, docs

#12008 CAMEL-20114: Clean up temporary files generated by camel-salesforce-maven-plugin generatePubSub goal
  components/camel-salesforce/camel-salesforce-codegen/src/main/java/org/apache/camel/component/salesforce/codegen/GeneratePubSubExecution.java
Labels: components, camel-4

#12006 Bindy component docs update
  components/camel-bindy/src/main/docs/bindy-dataformat.adoc
Labels: components, camel-4

#12015 Upgrade Commons-compress to version 1.25.0
  components/camel-tarfile/src/main/java/org/apache/camel/processor/aggregate/tarfile/TarAggregationStrategy.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#12016 CAMEL-20117 - Johnzon-jsonb: Update to 2.0.0
  components/camel-jsonb/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#12013 CAMEL-20093: cleaned up duplicated code in camel-route-parser
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/RestDslParser.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/RouteBuilderParser.java
Labels: catalog, camel-4

#12019 CAMEL-19770: cleanup catches of Throwable in camel-report-maven-plugin
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/CoverageResultsProcessor.java
Labels: catalog, camel-4

#12017 CAMEL-20105
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/micrometer-prometheus.json
  components/camel-micrometer-prometheus/pom.xml
  components/camel-micrometer-prometheus/src/generated/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheusConfigurer.java
  components/camel-micrometer-prometheus/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.micrometer.prometheus.MicrometerPrometheus
  components/camel-micrometer-prometheus/src/generated/resources/META-INF/services/org/apache/camel/micrometer-prometheus
  components/camel-micrometer-prometheus/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-micrometer-prometheus/src/generated/resources/micrometer-prometheus.json
  components/camel-micrometer-prometheus/src/main/docs/micrometer-prometheus.adoc
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/BindersHelper.java
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConsole.java
  components/camel-micrometer/src/test/resources/log4j2.properties
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/pom.xml
  core/camel-api/src/generated/java/org/apache/camel/spi/CamelMetricsService.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/LraConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/MetricsConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/OtelConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.MetricsConfigurationProperties
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/LraConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MetricsConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/OtelConfigurationProperties.java
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: components, core, catalog, tooling, tooling-maven, core-build-and-dependencies, camel-4

#12018 [WIP] Improve the documentation for httpHeaders parameter.
  components/camel-stream/src/main/java/org/apache/camel/component/stream/StreamEndpoint.java
Labels: components, camel-4

#12020 Upgrade Shiro to version 1.13.0 and regen
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12021 Upgrade smallrye stuff
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12022 Upgrade to jackson 2.15.3
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12039 Standby
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-debug/src/main/java/org/apache/camel/component/debug/CamelDebuggerFactory.java
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-api/src/main/java/org/apache/camel/spi/BacklogDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultChannel.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/DebugDevConsole.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/CamelContextConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/DebuggerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DebuggerConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedBacklogDebuggerMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBacklogDebugger.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogDebuggerStandbyTest.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogDebuggerTest.java
Labels: components, core, catalog, camel-4

#12041 (chores) camel-test-infra-etcd3: updated test image to the latest version
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/services/Etcd3LocalContainerService.java
Labels: test-infra, camel-4

#12044 [mongodb] Select right container image on find-operation test
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOperationIT.java
Labels: components, camel-4

#12040 [CAMEL-20122] Improve StreamConsumer headers handling
  components/camel-stream/src/main/java/org/apache/camel/component/stream/StreamConsumer.java
  components/camel-stream/src/main/java/org/apache/camel/component/stream/StreamEndpoint.java
Labels: components, camel-4

#12048 (chores) camel-test-infra-arangodb: update ArangoDB container to the latest version
  test-infra/camel-test-infra-arangodb/src/test/java/org/apache/camel/test/infra/arangodb/services/ArangoDbContainer.java
Labels: test-infra, camel-4

#12049 (chores) camel-test-infra-consul: update Consul container to the latest version
  test-infra/camel-test-infra-consul/src/test/java/org/apache/camel/test/infra/consul/services/ConsulLocalContainerService.java
Labels: test-infra, camel-4

#12057 (chores) camel-test-infra-fhir: update HAPI container to the latest version
  test-infra/camel-test-infra-fhir/src/test/java/org/apache/camel/test/infra/fhir/services/FhirLocalContainerService.java
Labels: test-infra, camel-4

#12058 (chores) camel-test-infra-hashicorp-vault: update container to the latest version
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerService.java
Labels: test-infra, camel-4

#12060 (chores) camel-test-infra-mosquitto: update container to the latest version
  test-infra/camel-test-infra-mosquitto/src/test/java/org/apache/camel/test/infra/mosquitto/services/MosquittoLocalContainerService.java
Labels: test-infra, camel-4

#12061 (chores) camel-test-infra-nats: update container to the latest version
  test-infra/camel-test-infra-nats/src/test/java/org/apache/camel/test/infra/nats/services/NatsLocalContainerService.java
Labels: test-infra, camel-4

#12059 (chores) camel-test-infra-microprofile-lra: update container to the latest version
  test-infra/camel-test-infra-microprofile-lra/src/test/java/org/apache/camel/test/infra/microprofile/lra/services/MicroprofileLRALocalContainerService.java
Labels: test-infra, camel-4

#12062 (chores) camel-test-postgres: update container to the latest version
  test-infra/camel-test-infra-postgres/src/test/java/org/apache/camel/test/infra/postgres/services/PostgresLocalContainerService.java
Labels: test-infra, camel-4

#12063 (chores) camel-test-rabbitmq: update container to the latest version
  test-infra/camel-test-infra-rabbitmq/src/test/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQLocalContainerService.java
Labels: test-infra, camel-4

#12072 CAMEL-20124: camel-netty - Fix ChannelHandlerFactories' usage of unsharable ByteArrayDecoder
  components/camel-netty/src/main/java/org/apache/camel/component/netty/ChannelHandlerFactories.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyBinaryProxyTest.java
Labels: components, camel-4

#12076 (chores) camel-test-infra-smb: fixed invalid test service name
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbServiceFactory.java
Labels: test-infra, camel-4

#12080 CAMEL-20125: camel-jbang - Export to camel-main - Allow to configure …
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-from-auth-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-to-auth-pom.tmpl
Labels: docs, dsl, camel-4

#12081 CAMEL-20127: Add messageAs function to simple language
  core/camel-core-languages/src/main/docs/modules/languages/pages/csimple-language.adoc
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/MyAttachmentMessage.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: core, camel-4

#12082 Replace obsolete classname in the camel-netty document
  components/camel-netty/src/main/docs/netty-component.adoc
Labels: components, camel-4

#12091 Update default kamelet catalog to 4.2.0 in Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#12090 CAMEL-20129 - Upgrade Localstack to version 3.0.0
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/transform/AWS2SQSCloudEventDataTypeTransformer.java
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSContainer.java
Labels: components, components-aws, test-infra, camel-4

#12066 CAMEL-19770: cleanup catches of Throwable in components
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Consumer.java
  components/camel-olingo4/camel-olingo4-api/src/main/java/org/apache/camel/component/olingo4/api/impl/Olingo4AppImpl.java
  components/camel-spring/src/main/java/org/apache/camel/spring/spi/TransactionErrorHandler.java
Labels: components, camel-4

#12092 (chores) camel-core: cleanup test setup process
  core/camel-management/src/test/java/org/apache/camel/management/ManagedAggregateControllerTest.java
Labels: core, camel-4

#12094 Camel spring boot docs, add xml-starter dependency
  docs/user-manual/modules/ROOT/pages/spring-xml-extensions.adoc
Labels: docs, camel-4

#12095 Aws sdk 2.21.26
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#12097 Upgrade Reactor Netty to version 1.13
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12096 INFRA-25195: increase the debug level for the Cassandra tests
  components/camel-cassandraql/src/test/resources/log4j2.properties
Labels: components, camel-4

#12101 (chores) camel-rocketmq: try to make the tests a bit more reliable
  components/camel-rocketmq/src/test/java/org/apache/camel/component/rocketmq/RocketMQRouteTest.java
Labels: components, camel-4

#12004 CAMEL-20044 Backport breakOnFirstError Fix to Camel 4
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/pom.xml
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/AbstractCommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/ProcessingResult.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReplayOldMessagesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsynchCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSynchCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/testutil/CamelKafkaUtil.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
Labels: components, components-kafka, catalog, docs, camel-4

#12093 CAMEL-19997: initial implementation of a SMB component
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smb.json
  components/camel-smb/pom.xml
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbComponentConfigurer.java
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbEndpointConfigurer.java
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbEndpointUriFactory.java
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/component/smb
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/configurer/smb-component
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/configurer/smb-endpoint
  components/camel-smb/src/generated/resources/META-INF/services/org/apache/camel/urifactory/smb-endpoint
  components/camel-smb/src/generated/resources/org/apache/camel/component/smb/smb.json
  components/camel-smb/src/main/docs/smb-component.adoc
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbComponent.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConfiguration.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbEndpoint.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbIOBean.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbReadBean.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbComponentIT.java
  components/camel-smb/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/smb.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/smb-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SmbComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SmbEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
  test-infra/camel-test-infra-smb/pom.xml
  test-infra/camel-test-infra-smb/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/common/SmbProperties.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbContainer.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbLocalContainerService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbRemoteService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbServiceFactory.java
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/Dockerfile
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/smb.conf
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/start.sh
  test-infra/pom.xml
Labels: components, core, catalog, docs, dsl, test-infra, core-build-and-dependencies, camel-3

#12112 Upgrade Google Cloud Function BOM to version 2.32.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12111 Camel 20134
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-joor/src/main/java/org/apache/camel/language/joor/CamelJoorClassLoader.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorScriptingCompiler.java
  core/camel-api/src/main/java/org/apache/camel/spi/CompileStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCompileStrategy.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MainCommandLineSupport.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/JavaJoorClassLoader.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/JavaRoutesBuilderLoader.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  parent/pom.xml
Labels: components, core, catalog, dsl, core-build-and-dependencies, camel-4

#12119 CAMEL-19997: camel-smb - Update first version
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smb.json
  components/camel-smb/pom.xml
  components/camel-smb/src/generated/resources/org/apache/camel/component/smb/smb.json
  components/camel-smb/src/main/docs/smb-component.adoc
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConfiguration.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbEndpoint.java
Labels: components, catalog, camel-4

#12122 CAMEL-20135: regenerate nav.adoc for the eips
  docs/eips-nav.adoc.template
  docs/gulpfile.js
Labels: docs, camel-4

#12123 CAMEL-20142 Camel-http: brings transitively 2 core versions
  components/camel-http/pom.xml
Labels: components, camel-4

#12121 [CAMEL-20139]: fix for incorrect correlation key in first aggregated message
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/AggregateCompletionByBatchConsumerTest.java
Labels: core, camel-4

#12128 Upgrade AWS SDK to version 2.21.28
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12132 Camel-Azure-Storage-Blob: AZURE_SAS must be listed in the enums of Cr…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-blob.json
  components/camel-azure/camel-azure-storage-blob/src/generated/resources/org/apache/camel/component/azure/storage/blob/azure-storage-blob.json
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConfiguration.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/transform/AzureStorageBlobCloudEventDataTypeTransformer.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/transform/AzureStorageBlobCloudEventDataTypeTransformerTest.java
Labels: components, catalog, components-azure, camel-4

#12131 CAMEL-20136: Enable source location if debug or tracing in standby mode
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinition.java
  core/camel-core/src/test/java/org/apache/camel/util/DumpModelAsXmlSourceLocationStandbyTest.java
Labels: core, camel-4

#12139 CAMEL-19973 - Camel-AWS components: Revisit description - Kinesis Com…
  components/camel-aws/camel-aws2-kinesis/pom.xml
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#12143 CAMEL-20131: Improve SetHeaders EIP implementation and docs
  core/camel-core-engine/src/main/docs/modules/eips/nav.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/setHeader-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/setHeaders-eip.adoc
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/SetHeadersDefinition.java
  core/camel-core/src/test/java/org/apache/camel/model/SetHeadersDefinitionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/SetHeadersProcessorTest.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/SetHeadersTest.groovy
Labels: core, dsl, camel-4

#12157 CAMEL-19973 - Camel-AWS components: Revisit description - KMS Component
  components/camel-aws/camel-aws2-kms/pom.xml
  components/camel-aws/camel-aws2-kms/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#12156 Upgrade Owasp Maven Plugin to version 9.0.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12159 CAMEL-19973 - Camel-AWS components: Revisit description - MQ Component
  components/camel-aws/camel-aws2-mq/pom.xml
  components/camel-aws/camel-aws2-mq/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#12146 Properly generate EIP nav.adoc
  core/camel-core-engine/src/main/docs/modules/eips/nav.adoc
  docs/gulpfile.js
Labels: core, docs, camel-4

#12158 CAMEL-19973 - Camel-AWS components: Revisit description - Lambda Comp…
  components/camel-aws/camel-aws2-lambda/pom.xml
  components/camel-aws/camel-aws2-lambda/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#12163 tearDown overload inherits @AfterEach instead of the declared @AfterAll
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobChangeFeedOperationsIT.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobConsumerIT.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobOperationsIT.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobProducerIT.java
Labels: components, components-azure, camel-4

#12165 CAMEL-19973 - Camel-AWS components: Revisit description - MSK Component
  components/camel-aws/camel-aws2-msk/pom.xml
  components/camel-aws/camel-aws2-msk/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#12166 CAMEL-19973 - Camel-AWS components: Revisit description - Redshift Component
  components/camel-aws/camel-aws2-redshift/pom.xml
  components/camel-aws/camel-aws2-redshift/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4

#12167 CAMEL-19973 - Camel-AWS components: Revisit description - S3 Component
  components/camel-aws/camel-aws2-s3/pom.xml
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/services/org/apache/camel/component.properties
Labels: components, components-aws, camel-4
