Repository apache/camel, pull requests merged in 2023-04, with the labels that each got.

#9744 fixed results of inspection "HashMap can be substituted with EnumMap"
  components/camel-arangodb/src/main/java/org/apache/camel/component/arangodb/ArangoDbProducer.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/CosmosDbProducer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusProducer.java
  components/camel-fhir/camel-fhir-component/src/main/java/org/apache/camel/component/fhir/FhirEndpoint.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbProducer.java
  components/camel-xj/src/main/java/org/apache/camel/component/xj/XJConstants.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/ErrorHandlerReifier.java
Labels: components, core, components-aws, components-azure, camel-4

#9745 CAMEL-19233: changed code generation for <component>ApiCollection
  tooling/maven/camel-api-component-maven-plugin/src/main/resources/api-collection.vm
Labels: tooling, tooling-maven, camel-4

#9746 CAMEL-15105: make the DataFormatResolver a plugin of the context
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/ExtendedCamelContextConfigurer.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContextExtension.java
  core/camel-support/src/main/java/org/apache/camel/support/PluginHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: core, dsl, camel-4

#9748 CAMEL-15105: make the PeriodTaskResolver a plugin of the context
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/ExtendedCamelContextConfigurer.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/lw/LightweightCamelContextExtension.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/PluginHelper.java
Labels: core, camel-4

#9751 fixed results of inspection "HashSet can be replaced with EnumSet"
  components/camel-file-watch/src/main/java/org/apache/camel/component/file/watch/FileWatchEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileEndpoint.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubComponent.java
  components/camel-infinispan/camel-infinispan-embedded/src/main/java/org/apache/camel/component/infinispan/embedded/InfinispanEmbeddedConsumer.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbComponent.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/spi/Method.java
Labels: components, camel-4

#9755 replaced iterated addition to collection with bulk operation
  components/camel-olingo2/camel-olingo2-api/src/main/java/org/apache/camel/component/olingo2/api/impl/UriType.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzManuallyTriggerJobTest.java
  core/camel-util/src/main/java/org/apache/camel/util/HostUtils.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSupportMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/support/ToolingSupport.java
Labels: components, core, dsl, camel-4

#9754 optimized map iteration: entrySet() and enhanced 'for' loop instead o…
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/FakeAWSDaemon.java
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/TestDataBuilder.java
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/TestUtils.java
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/cache/CaffeineCacheProducerTest.java
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/loadcache/CaffeineLoadCacheProducerTest.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvMarshalHeaderWithCustomMarshallFactoryTest.java
  components/camel-github/src/test/java/org/apache/camel/component/github/services/MockPullRequestService.java
  components/camel-google/camel-google-storage/src/test/java/org/apache/camel/component/google/storage/localstorage/FakeStorageRpc.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsAsyncRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/SpringHttpsRouteTest.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathEngine.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/KubernetesClusterServiceTest.java
  components/camel-mail/src/test/java/org/apache/camel/dataformat/mime/multipart/MimeMultipartDataFormatTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSSLTest.java
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpProducer.java
Labels: components, components-aws, camel-4

#9611 CAMEL-19173 - Splitting long uris in XML DSLs
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/in/BaseParser.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/in/ModelParserTest.java
  core/camel-xml-jaxb/src/main/java/org/apache/camel/xml/jaxb/JaxbHelper.java
Labels: core, camel-3

#9763 replaced addAll() calls with parametrized constructor calls
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/ShardList.java
  components/camel-box/camel-box-component/src/main/java/org/apache/camel/component/box/internal/BoxConnectionHelper.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsComponent.java
  components/camel-facebook/src/main/java/org/apache/camel/component/facebook/FacebookConsumer.java
  components/camel-facebook/src/main/java/org/apache/camel/component/facebook/data/ReadingBuilder.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpHeaderCaseTest.java
  components/camel-jmx/src/main/java/org/apache/camel/component/jmx/JMXEndpoint.java
  components/camel-ldap/src/test/java/org/apache/directory/server/core/integ5/ServerAnnotationProcessor.java
  components/camel-ldif/src/test/java/org/apache/directory/server/core/integ5/ServerAnnotationProcessor.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpHeaderCaseTest.java
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Consumer.java
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Index.java
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Producer.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Consumer.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Index.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Producer.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/scan/ScanTestSupport.java
  components/camel-zookeeper-master/src/main/java/org/apache/camel/component/zookeepermaster/group/internal/ZooKeeperGroup.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogTracer.java
  core/camel-base/src/main/java/org/apache/camel/converter/CollectionConverter.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/NotifyBuilder.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitterPojoTest.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiConsumer.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlSupportMojo.java
Labels: components, core, dsl, components-aws, camel-4

#9764 fixed string format
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/unit/PubsubProducerTest.java
  components/camel-mllp/src/test/java/org/apache/camel/test/junit/rule/mllp/MllpClientResource.java
Labels: components, camel-4

#9765 fixed non-functional usage of Optional.isPresent()
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/support/TcpDataWriter.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/CamelParallelExecutionStrategy.java
Labels: components, core, camel-4

#9767 simplified boolean conditions
  core/camel-xml-io/src/main/java/org/apache/camel/xml/io/MXParser.java
Labels: core, camel-4

#9773 CAMEL-19224: Fix blob consumer prefix usage
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConfigurationOptionsProxy.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobConsumerIT.java
Labels: components, components-azure, camel-3

#9769 simplified boolean expressions
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyFixedLengthFactory.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/BoxFilesManagerIT.java
  components/camel-cometd/src/main/java/org/apache/camel/component/cometd/CometdConsumer.java
  components/camel-hdfs/src/test/java/org/apache/camel/component/hdfs/HdfsProducerTest.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/CamelServlet.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-mllp/src/test/java/org/apache/camel/test/junit/rule/mllp/MllpServerResource.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/handlers/ClientChannelHandler.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/UndertowProducer.java
  components/camel-xmlsecurity/src/main/java/org/apache/camel/component/xmlsecurity/api/XmlSignatureHelper.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/cluster/ZooKeeperClusterView.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/WebSpherePackageScanClassResolver.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/PredicateClause.java
  core/camel-util/src/main/java/org/apache/camel/util/AntPathMatcher.java
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: components, components-kafka, core, camel-4

#9784 CAMEL-15105: part 17
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: components, components-kafka, core, tooling, components-aws, components-azure, camel-4

#9783 (chores) Minor cleanup
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9789 CAMEL-15105: added missing overrides
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: core, camel-4

#9788 CAMEL-19245: camel-java-joor-dsl - Provide the compiled classes
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/CompilationUnit.java
  dsl/camel-java-joor-dsl/src/test/java/org/apache/camel/dsl/java/joor/CompilationUnitTest.java
Labels: dsl, camel-4

#9792 (chores) camel-core: fixed unnecessary string formatting
  core/camel-core/src/test/java/org/apache/camel/CamelParallelExecutionStrategy.java
Labels: core, camel-4

#9794 CAMEL-15105: part 19
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: core, camel-4

#9796 removed redundant calls of String.format()
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/src/test/java/org/apache/camel/component/debezium/DebeziumConsumerTest.java
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/PubsubTestSupport.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpProducerConsumerLoopbackTest.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerMulitpleTcpPacketTest.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/verifier/MongoComponentVerifierExtension.java
Labels: components, catalog, camel-4

#9795 optimized map iteration: entrySet() instead of keySet()
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/util/CaseInsensitiveMapTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultExchangeHolder.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListHealth.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/XRefCheckMojo.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslYamlGenerator.java
Labels: core, dsl, tooling, tooling-maven, camel-4

#9801 CAMEL-15105: fixed invalid NPE on EmptyRouteFileTest test
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/EmptyRouteFileTest.groovy
Labels: dsl, camel-4

#9803 CAMEL-19193 - Follow Micrometer meter naming conventions
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConstants.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
Labels: components, docs, camel-3

#9804 Fixed default host and port for zeebe service and improved documentat…
  components/camel-zeebe/pom.xml
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeComponent.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ZeebeComponentTest.java
Labels: components, camel-4

#9808 fix for the issue "assignment to a catch block parameter"
  components/camel-cm-sms/src/main/java/org/apache/camel/component/cm/CMSenderOneMessageImpl.java
Labels: components, camel-4

#9807 removed unread local StringBuilder instance
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/FutureEventDrivenOperation.java
Labels: components, camel-4

#9809 fixed throw lists - removed specific exceptions if more generic ones…
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-crypto/src/test/java/org/apache/camel/converter/crypto/PGPDataFormatTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/ProxyProtocolTest.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/SharedSingletonObjectPool.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/api/dto/LimitsTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/api/dto/RecentItemTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/api/dto/approval/ApprovalResultTest.java
  components/camel-tarfile/src/test/java/org/apache/camel/processor/aggregate/tarfile/TarAggregationStrategyEmptyFirstFileTest.java
  components/camel-whatsapp/src/test/java/org/apache/camel/component/whatsapp/integration/WhatsAppServiceIT.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/BaseSSLContextParameters.java
Labels: components, core, components-aws, camel-4

#9806 reacted on inspection "set.removeAll(list) calls may work slowly"
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpComponent.java
  components/camel-zookeeper-master/src/main/java/org/apache/camel/component/zookeepermaster/group/internal/ZooKeeperGroup.java
Labels: components, camel-4

#9797 static methods don't need final keyword, it's senseless
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/ReactiveStreamsComponent.java
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/stored/template/generated/TokenMgrError.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/io/MXParser.java
Labels: components, core, camel-4

#9814 Fixed default host and port for zeebe service and improved documentation
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeComponent.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ZeebeComponentTest.java
Labels: components, camel-3

#9812 Removed a call of Class.getClass().getClass() that is called on the i…
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/generics/GenericsUtil.java
Labels: tooling, tooling-maven, camel-4

#9811 CAMEL-19234: Lookup beans by name+type first, and fallback to name-an…
  core/camel-support/src/main/java/org/apache/camel/support/EndpointHelper.java
Labels: core, camel-4

#9770 CAMEL-18904: Add functions to simple language to create empty map/li…
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/LanguageTestSupport.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
Labels: core, camel-4

#9818 CAMEL-19238: Set default port for vertx-websocket wss scheme
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponent.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConstants.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpoint.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketDefaultPortAssignmentTest.java
Labels: components, camel-4

#9820 CAMEL-19250: Classes generated by camel-restdsl-openapi-plugin are no…
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/GenerateMojo.java
Labels: tooling, tooling-maven

#9817 String.equalsTo("") replaced with String.isEmpty() in core and tooling
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/MultiCompile.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloaderImpl.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenGav.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/support/DIRegistry.java
Labels: dsl, tooling, camel-4

#9815 Removed empty List of RouteBuilders and the related loop.
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
Labels: core, camel-4

#9816 Removed empty List headerParts and the related loop
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/SoapDataFormat.java
Labels: components, camel-4

#9822 Reacted on inspection "subsequent calls can be fused into Stream API chain
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/api/dto/composite/SObjectBatch.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/api/dto/composite/SObjectComposite.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/api/dto/composite/SObjectTree.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/ZooKeeperCuratorConfiguration.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultInflightRepository.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/StaticServiceDiscovery.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-support/src/main/java/org/apache/camel/component/extension/verifier/ResultErrorHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiCollection.java
Labels: components, core, camel-4

#9823 CAMEL-19239: Add options to the vertx-websocket client to configure or disable the Origin header
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponentConfigurer.java
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointConfigurer.java
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointUriFactory.java
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/org/apache/camel/component/vertx/websocket/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponent.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConfiguration.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConstants.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpoint.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponentConfigurationTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointConfigurationTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketOriginTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/VertxWebsocketComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/VertxWebsocketEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#9833 Fixed results of inspection "redundant local variable" for dsl
  dsl/camel-endpointdsl/src/main/java/org/apache/camel/builder/endpoint/AbstractEndpointBuilder.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Bind.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Pipe.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/AvailablePortFinder.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KnownKameletRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-common/src/main/java/org/apache/camel/dsl/yaml/common/YamlDeserializerSupport.java
Labels: dsl, camel-4

#9829 CAMEL-19255: Added code to export kamelets yaml files to /kamelets fo…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
Labels: dsl, camel-4

#9832 Fixed results of inspection "redundant local variable" for core
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultFactoryFinder.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultFluentProducerTemplate.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/IntrospectionSupport.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/AbstractLocationPropertiesSource.java
  core/camel-base/src/main/java/org/apache/camel/converter/CollectionConverter.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleExpressionParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimplePredicateParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleTokenizer.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestsDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendDynamicAwareResolver.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/errorhandler/RedeliveryErrorHandler.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/LoadBalanceReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/MulticastReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/OnCompletionReifier.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBrowsableEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/converter/stream/FileInputStreamCache.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/language/DefaultAnnotationExpressionFactory.java
  core/camel-util/src/main/java/org/apache/camel/util/BaseOrderedProperties.java
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/ThreadHelper.java
Labels: core, camel-4

#9830 CAMEL-19257: fix the bug in camel-jslt
  components/camel-jslt/src/main/java/org/apache/camel/component/jslt/JsltEndpoint.java
  components/camel-jslt/src/test/java/org/apache/camel/component/jslt/JsltSafeSerializationTest.java
  components/camel-jslt/src/test/java/org/apache/camel/component/jslt/SafeBean.java
  components/camel-jslt/src/test/java/org/apache/camel/component/jslt/UnsafeBean.java
  components/camel-jslt/src/test/resources/org/apache/camel/component/jslt/serialization/input.json
  components/camel-jslt/src/test/resources/org/apache/camel/component/jslt/serialization/output.json
  components/camel-jslt/src/test/resources/org/apache/camel/component/jslt/serialization/transformation.jslt
Labels: components

#9831 Fixed results of inspection "redundant local variable" for tooling
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/support/DIRegistry.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/Version.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateReadmeMojo.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslYamlGenerator.java
Labels: tooling, tooling-maven, camel-4

#9828 Optimization of loops with the only action of appending a string several times
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/model/CamelNodeDetails.java
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyFixedLengthFactory.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/ClusteredJdbcAggregationRepository.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/ClusteredPostgresAggregationRepository.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepository.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/PostgresAggregationRepository.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogTracerEventMessage.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/types/SimpleIllegalSyntaxException.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/FileUtil.java
  tooling/camel-util-json/src/main/java/org/apache/camel/util/json/Jsoner.java
Labels: components, core, catalog, tooling, camel-4

#9841 (chores) camel-jms: fix flaky JMS test requiring a transient context
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsInOutIndividualRequestTimeoutTest.java
Labels: components, components-jms, camel-4

#9843 Replaced string concatenation in loop with StringJoiner. PR for core
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
Labels: core, camel-4

#9842 Replaced string concatenation in loop with StringJoiner. PR for compnents
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/DefaultCxfBinding.java
Labels: components, camel-4

#9827 CAMEL-19256: camel-jdbc - close stmt in the finnal block
  components/camel-jdbc/src/main/java/org/apache/camel/component/jdbc/JdbcProducer.java
Labels: components, camel-4

#9844 (chores) camel-jms: disabled flaky tests on GH
  components/camel-jms/src/test/java/org/apache/camel/component/jms/ManagedJmsEndpointTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameQueueTest.java
Labels: components, components-jms, camel-4

#9847 Replaced the concatenation as an argument of StringBuilder.append() calls
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2SignedDataGenerator.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/AS2HeaderUtils.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/DispositionNotificationContentUtils.java
  components/camel-bean-validator/src/main/java/org/apache/camel/component/bean/validator/BeanValidationException.java
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyKeyValuePairFactory.java
  components/camel-cm-sms/src/main/java/org/apache/camel/component/cm/client/SMSMessage.java
  components/camel-jt400/src/main/java/org/apache/camel/component/jt400/Jt400PgmProducer.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/Kamelet.java
  components/camel-nats/src/main/java/org/apache/camel/component/nats/NatsConfiguration.java
  components/camel-olingo4/camel-olingo4-api/src/main/java/org/apache/camel/component/olingo4/api/impl/Olingo4AppImpl.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpConverters.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/DefaultNamespaceContext.java
Labels: components, camel-4

#9848 Upgrade Hazelcast to 5.2.3
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9851 JDK 8 support was dropped in the 3.15.x branch
  docs/user-manual/modules/faq/pages/what-platforms-are-supported.adoc
Labels: docs, camel-4

#9852 Added header for job key in worker and completeJob and failJob to sim…
  components/camel-zeebe/src/generated/resources/org/apache/camel/component/zeebe/zeebe.json
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeConstants.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeConsumer.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/JobProcessor.java
Labels: components, camel-4

#9855 Fix for code inspection "initial size for Collection.toArray() should be zero". Related to performance. PR for tooling
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/MethodBodySourceCodeEmitter.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/OperationVisitor.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDefinitionEmitter.java
Labels: tooling, camel-4

#9856 Fix for code inspection "initial size for Collection.toArray() should be zero". PR for components
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/AS2HeaderUtils.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/DispositionNotificationContentUtils.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  components/camel-couchbase/src/main/java/org/apache/camel/component/couchbase/CouchbaseEndpoint.java
  components/camel-disruptor/src/main/java/org/apache/camel/component/disruptor/DisruptorReference.java
  components/camel-facebook/src/main/java/org/apache/camel/component/facebook/FacebookConsumer.java
  components/camel-facebook/src/main/java/org/apache/camel/component/facebook/FacebookEndpoint.java
  components/camel-facebook/src/main/java/org/apache/camel/component/facebook/FacebookProducer.java
  components/camel-facebook/src/main/java/org/apache/camel/component/facebook/data/FacebookMethodsTypeHelper.java
  components/camel-flink/src/main/java/org/apache/camel/component/flink/DataSetFlinkProducer.java
  components/camel-flink/src/main/java/org/apache/camel/component/flink/annotations/AnnotatedDataSetCallback.java
  components/camel-gson/src/main/java/org/apache/camel/component/gson/GsonDataFormat.java
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/JettyHttpComponent.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/easypredicate/EasyPredicateParser.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailBinding.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConsumer.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConverters.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockValueBuilder.java
  components/camel-robotframework/src/main/java/org/apache/camel/component/robotframework/RobotFrameworkArguments.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/api/SalesforceReportResultsToListConverter.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/AbstractClientBase.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppDataSmCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppSubmitMultiCommand.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppSubmitSmCommand.java
  components/camel-soap/src/main/java/org/apache/camel/dataformat/soap/name/ServiceInterfaceStrategy.java
  components/camel-spring-main/src/main/java/org/apache/camel/spring/Main.java
Labels: components, camel-4

#9857 Fix for code inspection "initial size for Collection.toArray() should be zero". PR for core
  core/camel-api/src/main/java/org/apache/camel/support/jsse/BaseSSLContextParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/FilterParameters.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/IntrospectionSupport.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/AnnotationTypeConverterLoader.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementAgent.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedEventNotifier.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ValueBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodParser.java
  core/camel-support/src/main/java/org/apache/camel/support/management/MBeanInfoAssembler.java
  core/camel-util/src/main/java/org/apache/camel/util/AntPathMatcher.java
  core/camel-util/src/main/java/org/apache/camel/util/HostUtils.java
  core/camel-util/src/main/java/org/apache/camel/util/StringQuoteHelper.java
Labels: core, camel-4

#9865 doc: added note about a method from org.apache.camel.main.Listener that was removed in Camel 4
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4

#9860 CAMEL-19256: camel-jdbc - close stmt in the finnal block (#9827) for camel-3.x
  components/camel-jdbc/src/main/java/org/apache/camel/component/jdbc/JdbcProducer.java
Labels: components, camel-3

#9867 Fix spelling error in 3.1 upgrade guide
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_1.adoc
Labels: docs, camel-4

#9868 (chores) camel-netty-http: use computeIfAbsent for cleaner map handling
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/NettyHttpComponent.java
Labels: components, camel-4

#9869 CAMEL-19270 - camel-netty - add support for unix domain sockets
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyComponentConfigurer.java
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyConfigurationConfigurer.java
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyEndpointConfigurer.java
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyEndpointUriFactory.java
  components/camel-netty/src/generated/resources/org/apache/camel/component/netty/netty.json
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyProducer.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyServerBootstrapConfiguration.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/SingleTCPNettyServerBootstrapFactory.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyTCPSyncUDSTest.java
Labels: components, camel-4

#9880 (chores) camel-cxf: swapped incorrect assertion arguments
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/mtom/CxfJavaMtomProducerPayloadTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/mtom/CxfMtomConsumerTest.java
Labels: components, camel-4

#9884 Upgrade to Picoli 4.7.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9886 (chores) camel-core: replace a few Thread.sleep in tests
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConcurrentWriteAppendSameFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeDoneFileIssueTest.java
Labels: core, camel-4

#9891 (chores) camel-bean: remove unused parameter
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanHelper.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/MethodInfo.java
Labels: components, camel-4

#9892 (chores) camel-cxf: remove unused parameters
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsInvoker.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/interceptors/RawMessageWSDLGetInterceptor.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpoint.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpointUtils.java
Labels: components, camel-4

#9894 [DOCS] JQ component - Fix Javadoc grammar
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqExpression.java
Labels: components, camel-4

#9895 Change camel-opentelemtry references to camel-opentelemetry
  core/camel-api/src/main/java/org/apache/camel/spi/CamelEvent.java
  core/camel-api/src/main/java/org/apache/camel/spi/EventFactory.java
  core/camel-base/src/main/java/org/apache/camel/impl/event/ExchangeAsyncProcessingStartedEvent.java
  core/camel-support/src/main/java/org/apache/camel/support/SimpleEventNotifierSupport.java
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: core, docs, camel-4

#9897 CAMEL-19278: Update saxon to 11.5
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#9850 [CAMEL-19129] Improve CXF SOAP documentation
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components, camel-4

#9898 [Camel-19280] camel coap observe
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coap+tcp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coap.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coaps+tcp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coaps.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-coap/src/generated/java/org/apache/camel/coap/CoAPEndpointConfigurer.java
  components/camel-coap/src/generated/java/org/apache/camel/coap/CoAPEndpointUriFactory.java
  components/camel-coap/src/generated/resources/org/apache/camel/coap/coap+tcp.json
  components/camel-coap/src/generated/resources/org/apache/camel/coap/coap.json
  components/camel-coap/src/generated/resources/org/apache/camel/coap/coaps+tcp.json
  components/camel-coap/src/generated/resources/org/apache/camel/coap/coaps.json
  components/camel-coap/src/main/java/org/apache/camel/coap/CamelCoapResource.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPConstants.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPConsumer.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPEndpoint.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPHelper.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPNotifier.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPObserver.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPProducer.java
  components/camel-coap/src/test/java/org/apache/camel/coap/CoAPObserveTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/CoAPEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#9906 Use jakarta API in ITs
  tooling/maven/camel-restdsl-openapi-plugin/src/it/expanded-v3-yaml/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-dto-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-dto/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-v3-yaml/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-dto-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-kamelet-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/AbstractGenerateMojo.java
Labels: tooling, tooling-maven, camel-4

#9908 CAMEL-19286: camel-ignite - Support the REPLACE operation in the Ignite Cache Producer
  components/camel-ignite/src/main/java/org/apache/camel/component/ignite/IgniteConstants.java
  components/camel-ignite/src/main/java/org/apache/camel/component/ignite/cache/IgniteCacheOperation.java
  components/camel-ignite/src/main/java/org/apache/camel/component/ignite/cache/IgniteCacheProducer.java
  components/camel-ignite/src/test/java/org/apache/camel/component/ignite/IgniteCacheTest.java
Labels: components, camel-4

#9912 CAMEL-18943: Migrate to saxon 12.1 and change the detection method of…
  camel-dependencies/pom.xml
  components/camel-saxon/src/main/java/org/apache/camel/component/xquery/XQueryBuilder.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XmlConverter.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/support/builder/xml/XMLConverterHelper.java
  parent/pom.xml
Labels: components, core, core-build-and-dependencies, camel-4

#9920 Backport to 3.20 the fix for CAMEL-19294
  test-infra/camel-test-infra-zookeeper/src/test/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperContainer.java
Labels: test-infra

#9917 CAMEL-19294: do use the configured Zookeeper container
  test-infra/camel-test-infra-zookeeper/src/test/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperContainer.java
Labels: test-infra, camel-4

#9919 Backport to 3.18 the fix for CAMEL-19294
  test-infra/camel-test-infra-zookeeper/src/test/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperContainer.java
Labels: test-infra, camel-3

#9914 CAMEL-19293: set dn only once
  components/camel-spring-ldap/src/main/java/org/apache/camel/component/springldap/SpringLdapProducer.java
Labels: components, camel-4

#9921 doc: Add default camel metrics to micrometer component
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
Labels: components, camel-4

#9922 CAMEL-15105: move the error handler instance to the extension
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultPooledExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/ExtendedExchangeExtension.java
Labels: core, camel-4

#9923 doc: Add default camel metrics to microprofile metrics component
  components/camel-microprofile/camel-microprofile-metrics/src/main/docs/microprofile-metrics-component.adoc
Labels: components, camel-3

#9924 doc: info about the origins of XML Pull Parser classes
  core/camel-xml-io/src/main/java/org/apache/camel/xml/io/MXParser.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/io/XmlPullParser.java
Labels: core, camel-4

#9925 CAMEL-19292: do create the registry for testing
  core/camel-core/src/test/java/org/apache/camel/ContextTestSupport.java
Labels: core, camel-4

#9927 (chores) camel-support: removed unused assignment
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
Labels: core, camel-4

#9930 CAMEL-15105: some Exchange-related cleanups
  core/camel-api/src/main/java/org/apache/camel/ExchangeExtension.java
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/ExtendedExchangeExtension.java
Labels: core, camel-4

#9929 (chores) minor cleanups for lists
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/ShardTree.java
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/client/CosmosDbClientFactory.java
Labels: components, components-aws, components-azure, camel-4

#9931 CAMEL-19230: Bring back Optaplanner and upgrade Optaplannet to 9.37.0…
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/optaplanner.json
  components/camel-optaplanner/pom.xml
  components/camel-optaplanner/src/generated/java/org/apache/camel/component/optaplanner/OptaPlannerComponentConfigurer.java
  components/camel-optaplanner/src/generated/java/org/apache/camel/component/optaplanner/OptaPlannerEndpointConfigurer.java
  components/camel-optaplanner/src/generated/java/org/apache/camel/component/optaplanner/OptaPlannerEndpointUriFactory.java
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/component/optaplanner
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/configurer/optaplanner-component
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/configurer/optaplanner-endpoint
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/urifactory/optaplanner-endpoint
  components/camel-optaplanner/src/generated/resources/org/apache/camel/component/optaplanner/optaplanner.json
  components/camel-optaplanner/src/main/docs/optaplanner-component.adoc
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerComponent.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerConfiguration.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerConstants.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerConsumer.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerEndpoint.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerProducer.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaplannerEventSupport.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaplannerSolutionEvent.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaplannerSolutionEventListener.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaPlannerAsyncConfigFileTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaPlannerProblemChangeTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaPlannerSyncConfigFileTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaplannerSolverManagerAsyncTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaplannerSolverManagerSyncTest.java
  components/camel-optaplanner/src/test/resources/log4j2.properties
  components/camel-optaplanner/src/test/resources/org/apache/camel/component/optaplanner/solverConfig.xml
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/optaplanner.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/optaplanner-component.adoc
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/OptaplannerComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/OptaPlannerEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#9932 [CAMEL-18985] Updated `SyncCommitManager` to perform offsets auto-commit only if it's enabled.
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/SyncCommitManager.java
Labels: components, components-kafka

#9938 Fix YAML DSL XPathNamespaceTest for JDK 17
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/XPathNamespaceTest.groovy
Labels: dsl

#9937 (chores) camel-kafka: only run certain Kafka 3 tests when using a Kafka 3 container
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthInvalidIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthInvalidWithReconnectIT.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalAuthKafkaService.java
Labels: components, components-kafka, test-infra, camel-4

#9942 CAMEL-19296: disable checkstyle on auto-generated files
  buildingtools/src/main/resources/camel-checkstyle-suppressions.xml
Labels: core-build-tooling, camel-4

#9947 Backport CAMEL-18985 to Camel 3.18.x
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/SyncCommitManager.java
Labels: components, components-kafka

#9948 camel-salesforce: fixed checkstyle
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/api/FieldsToNullPropertyFilter.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/RestApiIntegrationTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/dto/generated/ContentVersion.java
Labels: components

#9949 (chores) style: fixed checktyle issues on 3.20
  buildingtools/src/main/resources/camel-checkstyle-suppressions.xml
Labels: core-build-tooling

#9950 (chores) style: disable checkstyle on auto-generated files in camel-xml-jaxb-dsl
  buildingtools/src/main/resources/camel-checkstyle-suppressions.xml
Labels: core-build-tooling, camel-4

#9953 CAMEL-15105: cleaned up handling the unit of work and onCompletions
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultPooledExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/ExtendedExchangeExtension.java
Labels: core, camel-4

#9954 (chores) performance: use native array copying which may benefit from intrinsic functions
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
Labels: core, camel-4

#9958 doc: Add default camel metrics to microprofile metrics component
  components/camel-microprofile/camel-microprofile-metrics/src/main/docs/microprofile-metrics-component.adoc
Labels: components

#9961 Converter cleanups
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
Labels: core, camel-4

#9959 doc: Add default camel metrics to microprofile metrics component
  components/camel-microprofile/camel-microprofile-metrics/src/main/docs/microprofile-metrics-component.adoc
Labels: components

#9963 (chores) camel-core: fix correlation ID handling.
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Enricher.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/enricher/EnricherCorrelationIdTest.java
Labels: core, camel-4

#9964 CAMEL-15105: reduce unnecessary visibility on the AbstractExchange
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
Labels: core, camel-4

#9965 (chores) camel-base-engine: break a few large methods
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultReactiveExecutor.java
Labels: core, camel-4

#9967 fix up MTOM doc for camel-cxf-soap
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components

#9966 fix up MTOM doc for camel-cxf-soap
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components
