Repository apache/camel, pull requests merged in 2023-02, with the labels that each got.

#9277 (chores) ci: avoid skipping building Camel 3.20 on s390x
  Jenkinsfile.s390x
Labels: ci

#9278 (chores) ci: avoid skipping building Camel 3.18 on s390x
  Jenkinsfile.s390x
Labels: ci

#9279 (chores) ci: avoid skipping building Camel 3.x on s390x
  Jenkinsfile.s390x
Labels: ci, camel-3

#9280 camel-plc4x: Fixed inconsistently passing/failing unit test (CAMEL-18861)
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XComponentTest.java
Labels: components, camel-4

#9281 Remove activemq references
  camel-dependencies/pom.xml
  core/camel-core-engine/src/main/docs/modules/eips/pages/toD-eip.adoc
  parent/pom.xml
  tests/camel-partial-classpath-test/pom.xml
Labels: core, tests, core-build-and-dependencies, camel-4

#9282 camel-plc4x: plc4x improvements in camel 3 (CAMEL-18861)
  components/camel-plc4x/src/main/docs/plc4x-component.adoc
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XPollingConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XProducer.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XComponentTest.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XEndpointTest.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XProducerTest.java
Labels: components, camel-3

#9288 (chores) camel-ftp: temporarily disables a test breaking the CI
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFileToFtpSplitParallelIT.java
Labels: components, camel-4

#9293 CAMEL-19004: parse routeConfigurations with XML namespace
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoaderTest.java
Labels: dsl, camel-4

#9296 CAMEL-19006: parse templatedRoutes without XML namespace
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoaderTest.java
Labels: dsl, camel-4

#9294 CAMEL-19005: Upgrade to 6.3.1
  camel-dependencies/pom.xml
  components/camel-pubnub/pom.xml
  components/camel-pubnub/src/generated/resources/org/apache/camel/component/pubnub/pubnub.json
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubConfiguration.java
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubConsumer.java
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubEndpoint.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/PubNubTestBase.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/example/PubNubGeoLocationExample.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/example/PubNubPresenseExample.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/example/PubNubSensor2Example.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/example/PubNubSensorExample.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9299 jakarta-enterprise-cdi-api-version property is listed twice in parent/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9301 Upgrade Azurite to 3.21.0
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
Labels: test-infra, camel-4

#9302 CAMEL-19009: camel-gson - Date Format with GsonBuilder
  components/camel-gson/src/main/java/org/apache/camel/component/gson/GsonDataFormat.java
  components/camel-gson/src/test/java/org/apache/camel/component/gson/SpringGsonJsonDataFormatTest.java
  components/camel-gson/src/test/java/org/apache/camel/component/gson/TestPojo.java
  components/camel-gson/src/test/resources/org/apache/camel/component/gson/SpringGsonJsonDataFormatTest.xml
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JsonDataFormat.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/JsonDataFormatReifier.java
Labels: components, core, camel-4

#9300 CAMEL-19009: camel-gson - Date Format with GsonBuilder
  components/camel-gson/src/main/java/org/apache/camel/component/gson/GsonDataFormat.java
  components/camel-gson/src/test/java/org/apache/camel/component/gson/SpringGsonJsonDataFormatTest.java
  components/camel-gson/src/test/java/org/apache/camel/component/gson/TestPojo.java
  components/camel-gson/src/test/resources/org/apache/camel/component/gson/SpringGsonJsonDataFormatTest.xml
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JsonDataFormat.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/JsonDataFormatReifier.java
Labels: components, core, camel-3

#9276 CAMEL-18980: Fix snmp V1
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpTrapProducer.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/AbstractTrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv1TrapTest.java
  components/camel-snmp/src/test/java/org/apache/camel/component/snmp/Snmpv2TrapTest.java
Labels: components, camel-4

#9308 Upgrade wildfly-elytron to 1.15.15.Final
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9311 CAMEL-19018: Fix camel-vertx-http potential duplication of HTTP header values
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/DefaultVertxHttpBinding.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpMultiRouteTest.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpThrowExceptionOnFailureTest.java
Labels: components, camel-4

#9312 Bump curator version
  camel-dependencies/pom.xml
  components/camel-zookeeper-master/src/main/java/org/apache/camel/component/zookeepermaster/group/internal/ZooKeeperGroup.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9314 Artemis Priority Tests
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsPriorityConsumerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/TwoConsumerOnSameQueueTest.java
Labels: components, components-jms, camel-4

#9315 CAMEL-18981: Add capability to vertx-websocket server for capturing peer connect / disconnect events
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointConfigurer.java
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointUriFactory.java
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/org/apache/camel/component/vertx/websocket/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConfiguration.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConstants.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConsumer.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEvent.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHost.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebSocketEventTest.java
Labels: components, camel-4

#9326 Upgrade Google Cloud libraries-bom to 26.1.6
  camel-dependencies/pom.xml
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubProducer.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9328 Trace console
  core/camel-api/src/main/java/org/apache/camel/spi/BacklogTracer.java
  core/camel-api/src/main/java/org/apache/camel/spi/BacklogTracerEventMessage.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogTracer.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogTracerEventMessage.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-console/src/generated/java/org/apache/camel/impl/console/TraceConsoleConfigurer.java
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.impl.console.TraceConsole
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/dev-console/trace
  core/camel-console/src/main/java/org/apache/camel/impl/console/TraceConsole.java
  core/camel-core/src/test/java/org/apache/camel/util/MessageHelperTest.java
  core/camel-management-api/pom.xml
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedBacklogTracerMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBacklogDebugger.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBacklogTracer.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerFilterTest.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerIdOnAllNodesTest.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerPatternRouteTest.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerPatternTest.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerStreamCachingTest.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerTest.java
  core/camel-support/pom.xml
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: core, docs, camel-4

#9286 Rewrite JdbcOrphanLockAwareIdempotentRepository::insert to not rely on exception
  components/camel-sql/src/main/java/org/apache/camel/processor/idempotent/jdbc/JdbcOrphanLockAwareIdempotentRepository.java
  components/camel-sql/src/test/java/org/apache/camel/processor/idempotent/jdbc/JdbcMessageIdRepositoryTest.java
Labels: components, camel-4

#9337 Update camel-configuration-utilities.adoc
  docs/user-manual/modules/ROOT/pages/camel-configuration-utilities.adoc
Labels: docs, camel-4

#9340 camel-pgevent: org.testcontainers:postgresql should be test scope
  components/camel-pgevent/pom.xml
Labels: components, camel-4

#9348 [CAMEL-18610] Upgrade to Debezium 2.X
  camel-dependencies/pom.xml
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/pom.xml
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/src/main/java/org/apache/camel/component/debezium/DebeziumConstants.java
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/src/main/java/org/apache/camel/maven/config/ConnectorConfigGenerator.java
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/src/test/java/org/apache/camel/maven/config/ConnectorConfigGeneratorTest.java
  components/camel-debezium/camel-debezium-common/pom.xml
  components/camel-debezium/camel-debezium-db2/pom.xml
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2ComponentConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointUriFactory.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-db2/src/generated/resources/org/apache/camel/component/debezium/debezium-db2.json
  components/camel-debezium/camel-debezium-db2/src/test/java/org/apache/camel/component/debezium/DebeziumDb2ComponentTest.java
  components/camel-debezium/camel-debezium-db2/src/test/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-mongodb/pom.xml
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbComponentConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/configuration/MongoDbConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/resources/org/apache/camel/component/debezium/debezium-mongodb.json
  components/camel-debezium/camel-debezium-mongodb/src/test/java/org/apache/camel/component/debezium/DebeziumMongodbComponentTest.java
  components/camel-debezium/camel-debezium-mongodb/src/test/java/org/apache/camel/component/debezium/configuration/MongodbConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-mysql/pom.xml
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlComponentConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/configuration/MySqlConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mysql/src/generated/resources/org/apache/camel/component/debezium/debezium-mysql.json
  components/camel-debezium/camel-debezium-mysql/src/test/java/org/apache/camel/component/debezium/DebeziumMySqlComponentTest.java
  components/camel-debezium/camel-debezium-mysql/src/test/java/org/apache/camel/component/debezium/configuration/MySqlConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-oracle/pom.xml
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleComponentConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointUriFactory.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/org/apache/camel/component/debezium/debezium-oracle.json
  components/camel-debezium/camel-debezium-oracle/src/test/java/org/apache/camel/component/debezium/DebeziumOracleComponentTest.java
  components/camel-debezium/camel-debezium-oracle/src/test/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-postgres/pom.xml
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresComponentConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointUriFactory.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/configuration/PostgresConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-postgres/src/generated/resources/org/apache/camel/component/debezium/debezium-postgres.json
  components/camel-debezium/camel-debezium-postgres/src/test/java/org/apache/camel/component/debezium/DebeziumPostgresComponentTest.java
  components/camel-debezium/camel-debezium-postgres/src/test/java/org/apache/camel/component/debezium/configuration/PostgresConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-sqlserver/pom.xml
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverComponentConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointUriFactory.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/configuration/SqlServerConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/resources/org/apache/camel/component/debezium/debezium-sqlserver.json
  components/camel-debezium/camel-debezium-sqlserver/src/test/java/org/apache/camel/component/debezium/DebeziumSqlserverComponentTest.java
  components/camel-debezium/camel-debezium-sqlserver/src/test/java/org/apache/camel/component/debezium/configuration/SqlserverConnectorEmbeddedDebeziumConfigurationTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9346 CAMEL-19047 CamelTestSupport (junit5) - some checks does not work with Lifecycle.PER_CLASS
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
Labels: components, camel-4

#9339 avoid java assert keyword as disabled per default
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeIT.java
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/csv/BindyCsvSkipFieldTest.java
  components/camel-caffeine/src/main/java/org/apache/camel/component/caffeine/resume/CaffeineCache.java
  components/camel-cassandraql/src/main/java/org/apache/camel/utils/cassandra/CassandraUtils.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/converter/MyCvsRecordConverter.java
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/message/CxfMessageHelper.java
  components/camel-file/src/main/java/org/apache/camel/component/file/consumer/adapters/DefaultFileOffsetResumeAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/KafkaErrorStrategies.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/producer/support/KafkaProducerCallBack.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
  components/camel-xj/src/main/java/org/apache/camel/component/xj/JsonXmlStreamReader.java
  core/camel-core/src/test/java/org/apache/camel/builder/xml/XsltUriResolverTest.java
  core/camel-core/src/test/java/org/apache/camel/component/properties/PropertiesComponentPropertiesSourceTest.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/jndi/JndiContext.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/DefaultAnnotationProcessor.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/api/CamelTestSupportHelper.java
Labels: components, components-kafka, core, components-aws, test-infra, camel-4

#9341 Avoid using the GlobalOpenTelemetry.get() and allow for injection of …
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java
Labels: components, camel-4

#9355 Implements CAMEL-19044
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogBaseCommand.java
Labels: dsl, camel-3

#9357 (chores) documentation: updates to the Exchange guides
  docs/main/modules/working-with-camel-core/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/exchange.adoc
  docs/user-manual/modules/ROOT/pages/using-exchange-pattern-annotations.adoc
Labels: docs, camel-4

#9358 Split init of contextPropagators to separate method.
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
Labels: components, camel-4

#9360 (chores) docs: refined CamelContext documentation
  docs/user-manual/modules/ROOT/pages/camelcontext.adoc
Labels: docs, camel-4

#9344 CAMEL-19031: Check current saga status is RUNNING before add a step
  core/camel-core/src/test/java/org/apache/camel/processor/SagaTimeoutTest.java
  core/camel-support/src/main/java/org/apache/camel/saga/InMemorySagaCoordinator.java
Labels: core, camel-4

#9364 (chores) doc: minor adjustments to the route explanation in the CamelContext doc
  docs/user-manual/modules/ROOT/pages/camelcontext.adoc
Labels: docs, camel-4

#9368 CAMEL-19068: remove SAGA_LONG_RUNNING_ACTION in out Message
  core/camel-core-processor/src/main/java/org/apache/camel/processor/saga/SagaProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/SagaPropagationTest.java
Labels: core, camel-4

#9372 CAMEL-19070: camel-elasticsearch - Increase startup timeout
  camel-dependencies/pom.xml
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchTestSupport.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9371 CAMEL-15105: removed unnecessary casts to ExtendedCamelContext within the AbstractCamelContext
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9369 CAMEL-19069
  components/camel-minio/src/generated/resources/org/apache/camel/component/minio/minio.json
  components/camel-minio/src/main/docs/minio-component.adoc
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConfiguration.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConstants.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioOperations.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioProducer.java
  components/camel-minio/src/test/java/org/apache/camel/component/minio/integration/MinioPresignedUrlIT.java
Labels: components, camel-4

#9367 CAMEL-19066: Do not copy correlationId after multicast
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastCorrelationIdTest.java
Labels: core, camel-4

#9385 (chores) dsls: simplify getting the PID as a String
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: dsl, camel-4

#9387 CAMEL-19078: Allow response headers with empty values to be returned
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
Labels: components, camel-4

#9393 Make AWS test credentials FIPS compliant
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/common/TestAWSCredentialsProvider.java
Labels: test-infra

#9394 Make AWS test credentials FIPS compliant
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/common/TestAWSCredentialsProvider.java
Labels: test-infra, camel-3

#9374 CAMEL-19065: camel-kafka - Add KafkaSagaIT test
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaSagaIT.java
Labels: components, components-kafka, camel-4

#9384 remove the ScopeWrapper workaround
  camel-dependencies/pom.xml
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9392 CAMEL-19066: Do not copy correlationId after Enricher
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Enricher.java
  core/camel-core/src/test/java/org/apache/camel/processor/enricher/EnricherCorrelationIdTest.java
Labels: core, camel-4

#9395 CAMEL-19083: Tidy yaml-dsl docs and link to the schema
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/docs/yaml-dsl.adoc
Labels: dsl, camel-4

#9396 CAMEL-19084: Add basic YAML tests for resume strategies
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/PausableTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ResumableTest.groovy
Labels: dsl, camel-4

#9398 CAMEL-18988: camel-core - tests failing due to OOM
  core/camel-core/pom.xml
  core/camel-core/src/test/java/org/apache/camel/builder/ExchangeBuilderTest.java
  core/camel-core/src/test/java/org/apache/camel/catalog/RuntimeCamelCatalogTest.java
  core/camel-core/src/test/java/org/apache/camel/component/log/LogEndpointTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/CamelProduceInterfaceEventNotifierTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/CamelEventsTimestampEnabledTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierExchangeCompletedTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierExchangeSentTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierFailureHandledEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierIgnoreCamelContextInitEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierRedeliveryEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/EventNotifierServiceStoppingFailedEventTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/MultipleEventNotifierEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/event/SimpleEventNotifierEventsTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/NavigateRouteTest.java
  core/camel-core/src/test/resources/log4j2.properties
  core/camel-support/src/main/java/org/apache/camel/throttling/ThrottlingExceptionRoutePolicy.java
Labels: core, camel-4

#9397 Outdated reference to CompletionAwareAggregationStrategy in aggregate-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/aggregate-eip.adoc
Labels: core

#9399 CAMEL-18988: camel-core - tests failing due to OOM (part 2)
  camel-dependencies/pom.xml
  components/camel-aws/camel-aws-secrets-manager/pom.xml
  components/camel-aws/camel-aws2-kms/pom.xml
  components/camel-aws/camel-aws2-lambda/pom.xml
  components/camel-aws/camel-aws2-sns/pom.xml
  components/camel-bindy/pom.xml
  core/camel-core/pom.xml
  core/camel-core/src/test/resources/junit-platform.properties
  parent/pom.xml
Labels: components, core, components-aws, core-build-and-dependencies, camel-4

#9383 [CAMEL-19075] camel-bean. Incorrect choice of overloaded method with several arguments, if one of them has brackets.
  components/camel-bean/pom.xml
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  core/camel-core/src/test/java/org/apache/camel/processor/BeanProcessorOverloadedMethodsWithBracketsTest.java
Labels: components, core, camel-4

#9402 (chores) minor cleanups for the AbstractCamelContext
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#9373 Update camel-4-migration-guide.adoc
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4

#9404 Change Mojo for example projects
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/ExampleModel.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareExampleMojo.java
Labels: tooling, tooling-maven, camel-4

#9411 Fix typo in getting started page
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs, camel-4

#9416 fixed typo on Getting Started Page under Concepts And Terminology Fun…
  docs/main/modules/getting-started/pages/index.adoc
Labels: docs, camel-4

#9418 [CAMEL-19092] Upgrade to maven-resolver 1.9.5
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#9419 [CAMEL-19092] Upgrade to maven-resolver 1.9.5
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9426 (perf chores) camel-seda: cache queue reference to avoid costly operations in the hot path
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaEndpoint.java
Labels: components, camel-4

#9435 (chores) camel-main: use log markers for a warning message
  core/camel-main/src/main/java/org/apache/camel/main/MainDurationEventNotifier.java
Labels: core, camel-4

#9437 (chores) camel-base-engine: delay checking if the exchange failed
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
Labels: core, camel-4

#9436 (chores) camel-base-engine: cleanup duplicated code
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AdviceIterator.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SharedCamelInternalProcessor.java
Labels: core, camel-4

#9433 CAMEL-19060 + CAMEL-19058: minor improvements
  core/camel-main/src/main/java/org/apache/camel/main/MainDurationEventNotifier.java
Labels: core, camel-4

#9452 CAMEL-19060: fix test issues in CI
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaEndpoint.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaRemoveRouteThenAddAgainTest.java
Labels: components, core, camel-4
