Repository apache/camel, pull requests merged in 2023-01, with the labels that each got.

#8955 [CAMEL-5963] camel-smpp: add Transceiver (TRX) support
  components/camel-smpp/pom.xml
  components/camel-smpp/src/generated/java/org/apache/camel/component/smpp/SmppComponentConfigurer.java
  components/camel-smpp/src/generated/java/org/apache/camel/component/smpp/SmppEndpointConfigurer.java
  components/camel-smpp/src/generated/java/org/apache/camel/component/smpp/SmppEndpointUriFactory.java
  components/camel-smpp/src/main/docs/smpp-component.adoc
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/MessageReceiverListenerImpl.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppConfiguration.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppProducer.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/SmppConfigurationTest.java
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/integration/SmppTRXProducerIT.java
Labels: components

#8964 (chores) camel-arangodb: avoid risky unboxing
  components/camel-arangodb/src/main/java/org/apache/camel/component/arangodb/ArangoDbProducer.java
Labels: components

#8965 CAMEL-18854: x-queue-type was set with x-single-active-consumer value.
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQConstants.java
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQDeclareSupport.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQConstants.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpoint.java
Labels: components

#8967 camel-plc4x: Connection now established in doStart() of Producer/Consumer instead of constructors
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XProducer.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XEndpointTest.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XProducerTest.java
Labels: components

#8968 camel-plc4x: Added timeout to future in process() method of Plc4XProducer and fixed deprecated Camel methods
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XProducer.java
Labels: components

#8969 Fix polling consumer incorrect xref in Event Driven Consumer
  core/camel-core-engine/src/main/docs/modules/eips/pages/eventDrivenConsumer-eip.adoc
Labels: core

#8970 (chores) tests: move utility method to TestSupport
  components/camel-barcode/src/test/java/org/apache/camel/dataformat/barcode/BarcodeDataFormatCamelTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FileToFtpTempFileNameIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFileToFtpDeleteIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpDirectoryToBinaryFilesIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpKeepLastModifiedIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpSetNamesWithMultiDirectoriesIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpToAsciiFileIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpToAsciiFileNoBodyConversionIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpToBinaryFileIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpToBinaryFilesIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpToFileNoFileNameHeaderIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpChangedReadLockIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpChangedRootDirReadLockIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpChangedZeroLengthReadLockIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpConsumerLocalWorkDirectoryAsAbsolutePathIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpConsumerLocalWorkDirectoryDirectIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpConsumerLocalWorkDirectoryIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpConsumerLocalWorkDirectoryWorkOnPayloadIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpConsumerResumeDownloadIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpSimpleConsumeStreamingStepwiseIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/RemoteFileProduceOverruleOnlyOnceIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/SftpConsumerLocalWorkDirectoryIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/manual/FtpConsumerCamelManualTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/manual/FtpConsumerCamelRecursiveManualTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/manual/FtpConsumerNotStepwiseCamelManualTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/manual/FtpConsumerNotStepwiseCamelRecursiveManualTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/manual/FtpConsumerScottManualTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/manual/FtpConsumerScottRecursiveManualTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpChangedReadLockIT.java
  components/camel-jaxb/src/test/java/org/apache/camel/example/ExplicitEncodingAndXMLCharFilteringTest.java
  components/camel-jaxb/src/test/java/org/apache/camel/example/ExplicitFileEncodingTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpToFileTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/file/JettyFileConsumerTest.java
  components/camel-quartz/src/test/java/org/apache/camel/pollconsumer/quartz/FileConsumerQuartzSchedulerRestartTest.java
  components/camel-quartz/src/test/java/org/apache/camel/pollconsumer/quartz/FileConsumerQuartzSchedulerTest.java
  components/camel-saxon/src/test/java/org/apache/camel/builder/saxon/XPathSplitChoicePerformanceTest.java
  components/camel-saxon/src/test/java/org/apache/camel/component/xquery/XQueryFromFileExceptionTest.java
  components/camel-saxon/src/test/java/org/apache/camel/component/xquery/XQueryFromFileTest.java
  components/camel-saxon/src/test/java/org/apache/camel/component/xquery/XQueryLanguageFromFileTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/SplitGroupMultiXmlTokenTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/SplitGroupWrappedMultiXmlTokenTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/SpringXMLTokenSplitTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenSplitTest.java
  components/camel-stax/src/test/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguageStreamingFileTest.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestSupport.java
Labels: components

#8971 camel-plc4x: Added autoReconnect uri parameter
  components/camel-plc4x/src/generated/java/org/apache/camel/component/plc4x/Plc4XEndpointConfigurer.java
  components/camel-plc4x/src/generated/java/org/apache/camel/component/plc4x/Plc4XEndpointUriFactory.java
  components/camel-plc4x/src/generated/resources/org/apache/camel/component/plc4x/plc4x.json
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XProducer.java
Labels: components

#8975 (chores) camel-core: disabled flaky test on Github
  core/camel-management/src/test/java/org/apache/camel/management/ManagedPooledExchangeTest.java
Labels: core

#8973 CAMEL-18496: removed the deprecated component camel-cmis
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/cmis.json
  components/camel-cmis/pom.xml
  components/camel-cmis/src/generated/java/org/apache/camel/component/cmis/CMISComponentConfigurer.java
  components/camel-cmis/src/generated/java/org/apache/camel/component/cmis/CMISEndpointConfigurer.java
  components/camel-cmis/src/generated/java/org/apache/camel/component/cmis/CMISEndpointUriFactory.java
  components/camel-cmis/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-cmis/src/generated/resources/META-INF/services/org/apache/camel/component/cmis
  components/camel-cmis/src/generated/resources/META-INF/services/org/apache/camel/configurer/cmis-component
  components/camel-cmis/src/generated/resources/META-INF/services/org/apache/camel/configurer/cmis-endpoint
  components/camel-cmis/src/generated/resources/META-INF/services/org/apache/camel/urifactory/cmis-endpoint
  components/camel-cmis/src/generated/resources/org/apache/camel/component/cmis/cmis.json
  components/camel-cmis/src/main/docs/cmis-component.adoc
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISComponent.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISConsumer.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISEndpoint.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISHelper.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISProducer.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISQueryProducer.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISSessionFacade.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CMISSessionFacadeFactory.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CamelCMISActions.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/CamelCMISConstants.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/DefaultCMISSessionFacadeFactory.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/RecursiveTreeWalker.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/SessionFactoryLocator.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/exception/CamelCmisException.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/exception/CamelCmisObjectNotFoundException.java
  components/camel-cmis/src/main/java/org/apache/camel/component/cmis/exception/CamelCmisUnauthorizedException.java
  components/camel-cmis/src/test/java/org/apache/camel/component/cmis/CMISConsumerTest.java
  components/camel-cmis/src/test/java/org/apache/camel/component/cmis/CMISProducerTest.java
  components/camel-cmis/src/test/java/org/apache/camel/component/cmis/CMISQueryProducerTest.java
  components/camel-cmis/src/test/java/org/apache/camel/component/cmis/CMISTestSupport.java
  components/camel-cmis/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/cmis.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/cmis-component.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CmisComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/CMISEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies

#8974 Update try-catch-finally.adoc
  docs/user-manual/modules/ROOT/pages/try-catch-finally.adoc
Labels: docs

#8981 (chores) documentation: removed advanced guides from Working with Camel Core
  docs/main/modules/working-with-camel-core/pages/index.adoc
Labels: docs

#8984 (chores) documentation: reorganize the route documentation
  docs/main/modules/working-with-camel-core/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/java-dsl.adoc
  docs/user-manual/modules/ROOT/pages/routes.adoc
Labels: docs

#8978 CAMEL-18860: java-joor-dsl - Adapt the code for native compilation
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/ClassRoutesBuilderLoader.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/Helper.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/JavaJoorClassLoader.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/JavaRoutesBuilderLoader.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/MultiCompile.java
Labels: dsl

#8988 Align all Lucene and Solr versions to 8.11.2
  camel-dependencies/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrLocalContainerService.java
Labels: test-infra, core-build-and-dependencies

#8989 Upgrade Spark to 3.3.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#8987 CAMEL-18863: camel-pulsar - Support chunking to enable sending a large message
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarConfiguration.java
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarProducer.java
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarProducerInIT.java
Labels: components

#8991 (chores) camel-mllp: disabled flaky test on Github
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpClientProducerConnectionErrorTest.java
Labels: components

#8994 camel-aws2-sns: Fix potential NPE when registering health checks
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Endpoint.java
Labels: components, components-aws

#9004 (chores) more documentation cleanups
  docs/main/modules/getting-started/pages/index.adoc
  docs/main/modules/working-with-camel-core/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/component.adoc
  docs/user-manual/modules/ROOT/pages/java-dsl.adoc
  docs/user-manual/modules/ROOT/pages/routes.adoc
  docs/user-manual/modules/ROOT/pages/uris.adoc
Labels: docs

#9008 (chores) removed unused private fields
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultComponent.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultProducer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusComponent.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/QueueComponent.java
  components/camel-braintree/README.md
  components/camel-braintree/src/main/java/org/apache/camel/component/braintree/BraintreeConfiguration.java
  components/camel-caffeine/src/main/java/org/apache/camel/component/caffeine/cache/CaffeineCacheComponent.java
  components/camel-caffeine/src/main/java/org/apache/camel/component/caffeine/load/CaffeineLoadCacheComponent.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cluster/ConsulClusterService.java
  components/camel-cron/src/main/java/org/apache/camel/component/cron/CronHelper.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/HybridSourceDataBinding.java
  components/camel-digitalocean/src/main/java/org/apache/camel/component/digitalocean/DigitalOceanComponent.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/DropboxComponent.java
  components/camel-ehcache/src/main/java/org/apache/camel/component/ehcache/EhcacheEndpoint.java
  components/camel-git/src/main/java/org/apache/camel/component/git/consumer/AbstractGitConsumer.java
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/GoogleDriveConsumer.java
  components/camel-google/camel-google-functions/src/main/java/org/apache/camel/component/google/functions/GoogleCloudFunctionsProducer.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/BatchGoogleMailClientFactory.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/stream/GoogleSheetsStreamConsumer.java
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultComponent.java
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultProducer.java
  components/camel-huawei/camel-huaweicloud-iam/src/main/java/org/apache/camel/component/huaweicloud/iam/models/ClientConfigurations.java
  components/camel-infinispan/camel-infinispan-embedded/src/main/java/org/apache/camel/component/infinispan/embedded/cluster/InfinispanEmbeddedClusterService.java
  components/camel-jbpm/src/main/java/org/apache/camel/component/jbpm/workitem/AbstractCamelCommand.java
  components/camel-jgroups-raft/src/main/java/org/apache/camel/component/jgroups/raft/JGroupsRaftComponent.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AttachFileProducer.java
  components/camel-oaipmh/src/main/java/org/apache/camel/oaipmh/component/OAIPMHProducer.java
  components/camel-opentracing/src/main/java/org/apache/camel/opentracing/OpenTracingTracingStrategy.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerConsumer.java
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/engine/DelayedMonoPublisher.java
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECProducer.java
  components/camel-spring/src/main/java/org/apache/camel/spring/spi/LegacyTransactionErrorHandlerBuilder.java
  components/camel-workday/src/main/java/org/apache/camel/component/workday/producer/WorkdayDefaultProducer.java
  components/camel-workday/src/main/java/org/apache/camel/component/workday/producer/WorkdayReportProducer.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/ServiceRegistrationRoutePolicyFactory.java
Labels: components, core, components-azure

#9010 (chores) camel-kafka: simplify complex resume strategy error message
  components/camel-kafka/src/main/java/org/apache/camel/processor/resume/kafka/SingleNodeKafkaResumeStrategy.java
Labels: components, components-kafka

#9014 CAMEL-18131 - Adding health check to test conectivity
  components/camel-aws/camel-aws2-ses/pom.xml
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2Component.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2Endpoint.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2HealthCheck.java
  components/camel-aws/camel-aws2-ses/src/test/java/org/apache/camel/component/aws2/ses/Ses2HealthCheckProfileCredsTest.java
  components/camel-aws/camel-aws2-ses/src/test/java/org/apache/camel/component/aws2/ses/Ses2HealthCheckStaticCredsTest.java
  components/camel-aws/camel-aws2-ses/src/test/java/org/apache/camel/component/aws2/ses/SesComponentVerifierExtensionTest.java
Labels: components, components-aws

#9013 CAMEL-18620: Fix Redpanda integration tests
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryPersistenceIT.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/RedpandaTransactionsEnabledContainer.java
Labels: components, components-kafka, test-infra

#9015 [CAMEL-4616] camel-jms: test not loosing messages in async TX sends
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/AsyncJmsProducerExceptionInTXTest.java
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/broker.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/camelBrokerClient.xml
Labels: components, components-jms

#9016 CAMEL-18864: java-joor-dsl - Drop support of class files
  core/camel-api/src/main/java/org/apache/camel/spi/ExtendedRoutesBuilderLoader.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MainRoutesLoader.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
  dsl/camel-dsl-support/src/main/java/org/apache/camel/dsl/support/ExtendedRouteBuilderLoaderSupport.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/ClassRoutesBuilderLoader.java
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/JavaRoutesBuilderLoader.java
  dsl/camel-java-joor-dsl/src/test/java/org/apache/camel/dsl/java/joor/ClassRoutesBuilderLoaderTest.java
  dsl/camel-java-joor-dsl/src/test/java/org/apache/camel/dsl/java/joor/JavaJoorCaptureByteCodeTest.java
  dsl/camel-java-joor-dsl/src/test/java/org/apache/camel/dsl/java/joor/JavaJoorSaveToDiskTest.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderRoutesLoader.java
Labels: core, docs, dsl

#9019 (chores) init: prevent suppressing the propagation of unhandled Throwables
  init/camel-bundle-plugin/src/main/java/org/apache/felix/bundleplugin/ManifestPlugin.java
Labels: core-build-tooling

#9021 fix CAMEL-4616 flaky test
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/broker.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/camelBrokerClient.xml
Labels: components, components-jms

#9022 CAMEL-18868 Aws2-s3: CreateDownloadLink does not work with useDefaultCredentialsProvider
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
Labels: components, components-aws

#9023 (chores) camel-management: prevent resources from leaking
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedCamelContext.java
Labels: core

#9025 (chores) documentation: minor adjustments to data processing/transformation documentation
  docs/main/modules/working-with-camel-core/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/bean-integration.adoc
  docs/user-manual/modules/ROOT/pages/data-format.adoc
  docs/user-manual/modules/ROOT/pages/processor.adoc
Labels: docs

#9024 CAMEL-18779: Refactor sjms2
  components/camel-sjms/pom.xml
  components/camel-sjms2/pom.xml
  components/camel-sjms2/src/test/java/org/apache/camel/component/sjms2/SimpleJms2ComponentTest.java
  components/camel-sjms2/src/test/java/org/apache/camel/component/sjms2/Sjms2ComponentRestartTest.java
  components/camel-sjms2/src/test/java/org/apache/camel/component/sjms2/Sjms2EndpointNameOverrideTest.java
  components/camel-sjms2/src/test/java/org/apache/camel/component/sjms2/Sjms2EndpointTest.java
  components/camel-sjms2/src/test/java/org/apache/camel/component/sjms2/support/Jms2TestSupport.java
  parent/pom.xml
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/AbstractArtemisEmbeddedService.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisService.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisServiceFactory.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisTCPAllProtocolsService.java
Labels: components, components-jms, test-infra, core-build-and-dependencies

#9026 CAMEL-18864: java-joor-dsl - Remove method Helper#asClassName
  dsl/camel-java-joor-dsl/src/main/java/org/apache/camel/dsl/java/joor/Helper.java
Labels: dsl

#9029 (chores) camel-ftp: prevent disconnect from suppressing exception
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpOperations.java
Labels: components

#9027 (chores) camel-caffeine: use a more strict assert for equality check in the load producer test
  components/camel-caffeine/src/test/java/org/apache/camel/component/caffeine/loadcache/CaffeineLoadCacheProducerTest.java
Labels: components

#9028 (chores) camel-fastjson: return the actual unmarshall generic type
  components/camel-fastjson/src/main/java/org/apache/camel/component/fastjson/FastjsonDataFormat.java
Labels: components

#9032 (chores) camel-jaxb: return the actual no namespace schema location
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/JaxbDataFormat.java
Labels: components

#9033 (chores) camel-irc: prevent NPE on lost connection
  components/camel-irc/src/main/java/org/apache/camel/component/irc/IrcProducer.java
Labels: components

#9034 CAMEL-18742 - camel-jpa: deprecated transactionManager
  components/camel-jpa/src/generated/resources/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaComponent.java
Labels: components

#9041 Upgrade Cassandra to 4.1.0
  camel-dependencies/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-cassandra/src/test/java/org/apache/camel/test/infra/cassandra/services/CassandraLocalContainerService.java
Labels: test-infra, core-build-and-dependencies

#9042 CAMEL-18878 Autowiring on endpoint works even if is disabled on component
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultComponentAutowiredFalseTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultEndpoint.java
Labels: core

#9035 Minor cleanup to the Camel rest options
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/rest.json
  components/camel-rest/src/generated/java/org/apache/camel/component/rest/RestComponentConfigurer.java
  components/camel-rest/src/generated/resources/org/apache/camel/component/rest/rest.json
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestComponent.java
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RestEndpointComponentBuilderFactory.java
Labels: components, catalog, docs, dsl

#9049 CAMEL-18131 - Adding health check to test conectivity
  components/camel-aws/camel-aws2-msk/pom.xml
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2Component.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2Endpoint.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2HealthCheck.java
  components/camel-aws/camel-aws2-msk/src/test/java/org/apache/camel/component/aws2/msk/MSK2HealthCheckProfileCredsTest.java
  components/camel-aws/camel-aws2-msk/src/test/java/org/apache/camel/component/aws2/msk/MSK2HealthCheckStaticCredsTest.java
  components/camel-aws/camel-aws2-msk/src/test/java/org/apache/camel/component/aws2/msk/MSKComponentVerifierExtensionTest.java
Labels: components, components-aws

#9047 CAMEL-18871: Application does not recover (threads are WAITING) when NettyProducer pool is exhausted
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyComponentConfigurer.java
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyConfigurationConfigurer.java
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyEndpointConfigurer.java
  components/camel-netty/src/generated/java/org/apache/camel/component/netty/NettyEndpointUriFactory.java
  components/camel-netty/src/generated/resources/org/apache/camel/component/netty/netty.json
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyConfiguration.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyProducer.java
Labels: components

#9051 (chores) build: enable auto-format by default
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9053 (chores) camel 4: use Java 17 as the minimum version
  pom.xml
Labels: camel-4

#9050 (chores) camel-http / camel-rest: fix usage of deprecated option
  components/camel-http/src/test/java/org/apache/camel/component/http/rest/RestCamelComponentVerifierTest.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestComponentVerifierExtension.java
Labels: components, camel-4

#9057 CAMEL-18892: Restore MLLP tests
  components/camel-mllp/pom.xml
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerTransactionTest.java
Labels: components, camel-4

#9064 CAMEL-18839: reverts upgrade to Kafka 3.3.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9066 (backport) CAMEL-18839: reverts upgrade to Kafka 3.3.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-3

#9063 CAMEL-18903: Use swagger-core-jakarta dependency instead of swagger-c…
  components/camel-openapi-java/pom.xml
Labels: components, camel-4

#9068 (chores) camel-http / camel-undertow: fix usage of deprecated options
  components/camel-undertow/src/test/java/org/apache/camel/component/undertow/rest/RestUndertowComponentVerifierTest.java
Labels: components, camel-3

#9075 [CAMEL-18880] Upgrade to maven-resolver 1.9.2 (and prepare for 1.9.4)
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/MavenDependencyResolverTest.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#9077 camel-ehcache: fixed tests due to migration to Jakarta / Camel 4
  components/camel-ehcache/pom.xml
Labels: components, camel-4

#9074 CAMEL-18887:camel-kotlin - Upgrade to 1.8
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9089 Jakarta Migration: Fixed JPA tests
  components/camel-jpa/pom.xml
  components/camel-jpa/src/main/docs/jpa-component.adoc
  components/camel-jpa/src/test/resources/META-INF/persistence.xml
  components/camel-jpa/src/test/resources/META-INF/persistence_2_1.xsd
  components/camel-jpa/src/test/resources/META-INF/persistence_3_1.xsd
  components/camel-jpa/src/test/resources/profiles/hibernate/META-INF/persistence.xml
Labels: components, camel-4

#9076 Solving TODO in AS2 component
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Consumer.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
Labels: components, camel-4

#9091 (chores) camel-core: fixes rest verification tests
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestComponentVerifierExtensionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestComponentVerifierTest.java
Labels: core, camel-4

#9092 (backport) Camel rest verification tests
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestComponentVerifierExtensionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestComponentVerifierTest.java
Labels: core, camel-3

#9093 Jakarta Migration: Fixed Mail tests
  camel-dependencies/pom.xml
  components/camel-attachments/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9103 CAMEL-18921: Use Artemis and JmsComponent
  camel-dependencies/pom.xml
  parent/pom.xml
  tests/camel-itest/pom.xml
  tests/camel-itest/src/test/java/org/apache/camel/itest/CamelJmsTestHelper.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/AdviceWithTransactionIssueTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JMSNestedTransactionRollbackTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JMSTransactionIsTransactedRedeliveredTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsConsumerShutdownTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsPollingConsumerTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/sql/FromJmsToJdbcIdempotentConsumerToJmsTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/sql/FromJmsToJdbcIdempotentConsumerToJmsXaTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/Jms2RequiresNewTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/utils/extensions/JmsServiceExtension.java
  tests/camel-itest/src/test/resources/org/apache/camel/itest/greeter/CamelGreeterConsumerTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/greeter/CamelGreeterTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/greeter/CxfToJmsInOutTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/greeter/JmsToCxfInOutTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyJmsShutdownInProgressTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyJmsShutdownTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyJmsTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyJmsTwowayTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jetty/JettyMulticastJmsFileTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/AdviceWithTransactionIssueTest.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/FileToJmsTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/JMSNestedTransactionTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/JMSTransactionIsTransactedRedeliveredTest.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/JmsConsumerShutdownTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/JmsPollingConsumerTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/SpringJmsValidatorTest.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/sql/FromJmsToJdbcIdempotentConsumerToJmsTest.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/sql/FromJmsToJdbcIdempotentConsumerToJmsXaTest.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/tx/Jms2RequiresNewTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/tx/JmsToHttpTXTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/tx/JmsToHttpTXWithOnExceptionAndNoTransactionErrorHandlerConfiguredTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/tx/JmsToHttpTXWithOnExceptionTest-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/tx/JmsToHttpTXWithRollbackTest-context.xml
  tests/camel-itest/src/test/resources/spring-config/jms-applicationContext.xml
Labels: tests, core-build-and-dependencies, camel-4

#9086 CAMEL-18912: Reuse client from consumer
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2ClientHealthCheck.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamConsumerHealthCheck.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2HealthCheck.java
  components/camel-aws/camel-aws2-ecs/src/main/java/org/apache/camel/component/aws2/ecs/ECS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2Endpoint.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2HealthCheck.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2HealthCheck.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheck.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCustomClientTest.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2HealthCheck.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2HealthCheck.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheck.java
Labels: components, components-aws, camel-4

#9107 camel-solr: fixed tests for Jakarta / Camel 4
  camel-dependencies/pom.xml
  components/camel-solr/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9105 CAMEL-18912: Reuse client from consumer (#9086)
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2ClientHealthCheck.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamConsumerHealthCheck.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2HealthCheck.java
  components/camel-aws/camel-aws2-ecs/src/main/java/org/apache/camel/component/aws2/ecs/ECS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2Endpoint.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2HealthCheck.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2HealthCheck.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheck.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCustomClientTest.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2HealthCheck.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2HealthCheck.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheck.java
Labels: components, components-aws, camel-3

#9108 CAMEL-18780: Prevent blocking sqs consumer when using message extend
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsConsumerExtendMessageVisibilityTest.java
Labels: components, components-aws, camel-4

#9110 CAMEL-18912: Reuse client from consumer backport to 3.20.x
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2ClientHealthCheck.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2ClientHealthCheck.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamConsumerHealthCheck.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2HealthCheck.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2ClientHealthCheck.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2Endpoint.java
  components/camel-aws/camel-aws2-iam/src/main/java/org/apache/camel/component/aws2/iam/IAM2HealthCheck.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheck.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCustomClientTest.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2HealthCheck.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheck.java
Labels: components, components-aws

#9112 Enable camel stomp
  components/pom.xml
Labels: components, camel-4

#9113 CAMEL-18932: Upgrade to slf4j-api 2.0.6
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9117 [CAMEL-18880] Upgrade to maven-resolver 1.9.4
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#9119 [CAMEL-18880] Upgrade to maven-resolver 1.9.4
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-3

#9118 CXF tests - use artemis
  components/camel-cxf/camel-cxf-spring-rest/pom.xml
  components/camel-cxf/camel-cxf-spring-soap/pom.xml
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/jms/CxfEndpointJMSConsumerTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/resources/org/apache/camel/component/cxf/jms/camel-context.xml
Labels: components, camel-4

#9121 Fixed typos and reworded some sentences in JMX doc
  docs/user-manual/modules/ROOT/pages/jmx.adoc
Labels: docs, camel-4

#9124 CAMEL-18928: removed component camel-optaplanner
  bom/camel-bom/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/optaplanner.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/componentdsl.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/endpointdsl.json
  components/camel-optaplanner/pom.xml
  components/camel-optaplanner/src/generated/java/org/apache/camel/component/optaplanner/OptaPlannerComponentConfigurer.java
  components/camel-optaplanner/src/generated/java/org/apache/camel/component/optaplanner/OptaPlannerEndpointConfigurer.java
  components/camel-optaplanner/src/generated/java/org/apache/camel/component/optaplanner/OptaPlannerEndpointUriFactory.java
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/component/optaplanner
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/configurer/optaplanner-component
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/configurer/optaplanner-endpoint
  components/camel-optaplanner/src/generated/resources/META-INF/services/org/apache/camel/urifactory/optaplanner-endpoint
  components/camel-optaplanner/src/generated/resources/org/apache/camel/component/optaplanner/optaplanner.json
  components/camel-optaplanner/src/main/docs/optaplanner-component.adoc
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerComponent.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerConfiguration.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerConstants.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerConsumer.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerEndpoint.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerProducer.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaplannerEventSupport.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaplannerSolutionEvent.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaplannerSolutionEventListener.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaPlannerAsyncSolverTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaPlannerConsumerTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaPlannerDaemonSolverTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaPlannerSyncSolverTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaplannerSolverManagerAsyncTest.java
  components/camel-optaplanner/src/test/java/org/apache/camel/component/optaplanner/OptaplannerSolverManagerTest.java
  components/camel-optaplanner/src/test/resources/log4j2.properties
  components/camel-optaplanner/src/test/resources/org/apache/camel/component/optaplanner/daemonSolverConfig.xml
  components/camel-optaplanner/src/test/resources/org/apache/camel/component/optaplanner/solverConfig.xml
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/optaplanner.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/optaplanner-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/OptaplannerComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/OptaPlannerEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
Labels: components, core, catalog, docs, dsl, camel-4

#9132 CAMEL-18928: updated migration guide with removed components
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: docs, camel-4

#9141 CAMEL-18928: removed test-infra-activemq
  test-infra/camel-test-infra-activemq/pom.xml
  test-infra/camel-test-infra-activemq/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/common/ActiveMQProperties.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/common/ConnectionFactoryHelper.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/AbstractActiveMQEmbeddedService.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQEmbeddedService.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQEmbeddedServiceBuilder.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQPersistentVMService.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQRemoteService.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQService.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQServiceFactory.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/ActiveMQVMService.java
  test-infra/camel-test-infra-activemq/src/test/java/org/apache/camel/test/infra/activemq/services/LegacyEmbeddedBroker.java
  test-infra/pom.xml
Labels: test-infra, camel-4

#9144 CAMEL-17895: Add option for vertx-websocket consumer to connect as a WS client
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointConfigurer.java
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointUriFactory.java
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/org/apache/camel/component/vertx/websocket/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/main/docs/vertx-websocket-component.adoc
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketClientConsumer.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponent.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConfiguration.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConsumer.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpoint.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHelper.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHost.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConsumerAsClientBinaryMessageTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConsumerAsClientReconnectTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConsumerAsClientTextMessageTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHelperTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketSSLTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketTest.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/VertxWebsocketEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#9147 CAMEL-18942. Copy the description of the path/operation to the genera…
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslYamlGenerator.java
  tooling/openapi-rest-dsl-generator/src/test/java/org/apache/camel/generator/openapi/RestDslYamlGeneratorV3SimpleWithRoutesDescriptionTest.java
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreSimpleWithRoutesDescriptionYaml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/org/apache/camel/generator/openapi/openapi-spec-description.json
Labels: tooling

#9151 Upgrade rest assured
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9154 CAMEL-18909: DTO generator option in camel-jbang generate command
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies

#9157 CAMEL-18932: fixed camel-pulsar tests due to sl4fj upgrade
  components/camel-pulsar/pom.xml
Labels: components, camel-4

#9164 (chores) camel-pulsar: reduce exposure to internal Pulsar details in tests
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarProducerInIT.java
Labels: components, camel-4

#9173 Update dependencies for Spring Boot 2.7.8 update
  camel-dependencies/pom.xml
Labels: core-build-and-dependencies, camel-4

#9174 Add <type>pom</type to camel-core-all (no JAR)
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9175 Spring Boot 2.7.8 parent dependencies
  parent/pom.xml
Labels: core-build-and-dependencies

#9180 Update publish-subscribe-channel.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/publish-subscribe-channel.adoc
Labels: core

#9179 (chores) build: removed outdated scripts
  buildingtools/java9-maven-settings
  buildingtools/java9-maven-settings.bat
Labels: core-build-tooling, camel-4

#9177 (chores) camel-kafka: disable connection check test on Apache CI
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAuthIT.java
Labels: components, components-kafka, camel-4

#9178 (chores) camel-pulsar: fixes some errors shown in logs
  components/camel-pulsar/pom.xml
Labels: components, camel-4

#9182 Simplify creation of SSL context for WireMock Jetty server.
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/HttpsTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/HttpsV3Test.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/WireMockJettyServerFactory.java
Labels: components, camel-4

#9187 CAMEL-18961 change sun-mail to angus-mail
  camel-dependencies/pom.xml
  components/camel-aws/camel-aws2-ses/pom.xml
  components/camel-google/camel-google-mail/pom.xml
  components/camel-mail/pom.xml
  parent/pom.xml
  tests/test-bundles/mock-javamail_1.7/pom.xml
Labels: components, components-aws, tests, core-build-and-dependencies, camel-4

#9190 Use live healthcheck from doc
  test-infra/camel-test-infra-minio/src/test/java/org/apache/camel/test/infra/minio/services/MinioLocalContainerService.java
Labels: test-infra, camel-4

#9189 Fix File flaky test
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerAbsolutePathTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistAppendNoFileBeforeTest.java
Labels: core, camel-4

#9193 Update kotlin-dsl-adoc
  dsl/camel-kotlin-dsl/src/main/docs/kotlin-dsl.adoc
Labels: dsl

#9181 Prevent high channel churn in a queue full scenario
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQMessagePublisher.java
Labels: components

#9183 Prevent high channel churn in a queue full scenario
  components/camel-rabbitmq/src/main/java/org/apache/camel/component/rabbitmq/RabbitMQMessagePublisher.java
Labels: components, camel-3

#9198 CAMEL-18974: Downgrade pulsar
  camel-dependencies/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#9200 (chores) Upgrade a few Maven test plugins
  pom.xml
Labels: camel-4

#9202 (chores) camel-core: be a bit more lenient to avoid false negatives in file tests
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerPollStrategyStopOnRollbackTest.java
Labels: core, camel-4

#9201 (chores) build: upgrade formatter plugin to the latest version
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#9192 CAMEL-18968 Camel-aws2-sqs - Queue url might stay empty
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsProducerDelayedQueueuTest.java
Labels: components, components-aws, camel-4

#9195 CAMEL-18968 Camel-aws2-sqs - Queue url might stay empty.
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsProducerDelayedQueueuTest.java
Labels: components, components-aws, camel-3

#9196 CAMEL-18968 Camel-aws2-sqs - Queue url might stay empty.
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsProducerDelayedQueueuTest.java
Labels: components, components-aws

#9197 CAMEL-18968 Camel-aws2-sqs - Queue url might stay empty.
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsProducerDelayedQueueuTest.java
Labels: components, components-aws

#9205 Update Jenkinsfile.s390x
  Jenkinsfile.s390x
Labels: ci, camel-4

#9207 (chores) test-infra: improve logs for service errors
  test-infra/camel-test-infra-arangodb/src/test/java/org/apache/camel/test/infra/arangodb/services/ArangoDBService.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisService.java
  test-infra/camel-test-infra-aws-common/src/test/java/org/apache/camel/test/infra/aws/common/services/AWSService.java
  test-infra/camel-test-infra-azure-common/src/test/java/org/apache/camel/test/infra/azure/common/services/AzureService.java
  test-infra/camel-test-infra-cassandra/src/test/java/org/apache/camel/test/infra/cassandra/services/CassandraService.java
  test-infra/camel-test-infra-chatscript/src/test/java/org/apache/camel/test/infra/chatscript/services/ChatScriptService.java
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/services/TestServiceUtil.java
  test-infra/camel-test-infra-consul/src/test/java/org/apache/camel/test/infra/consul/services/ConsulService.java
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseService.java
  test-infra/camel-test-infra-couchdb/src/test/java/org/apache/camel/test/infra/couchdb/services/CouchDbService.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchService.java
  test-infra/camel-test-infra-etcd3/src/test/java/org/apache/camel/test/infra/etcd3/services/Etcd3Service.java
  test-infra/camel-test-infra-fhir/src/test/java/org/apache/camel/test/infra/fhir/services/FhirService.java
  test-infra/camel-test-infra-google-pubsub/src/test/java/org/apache/camel/test/infra/google/pubsub/services/GooglePubSubService.java
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultService.java
  test-infra/camel-test-infra-hdfs/src/test/java/org/apache/camel/test/infra/hdfs/v2/services/HDFSService.java
  test-infra/camel-test-infra-ignite/src/test/java/org/apache/camel/test/infra/ignite/services/IgniteService.java
  test-infra/camel-test-infra-infinispan/src/test/java/org/apache/camel/test/infra/infinispan/services/InfinispanService.java
  test-infra/camel-test-infra-jdbc/src/test/java/org/apache/camel/test/infra/jdbc/services/JDBCService.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyEmbeddedService.java
  test-infra/camel-test-infra-jetty/src/test/java/org/apache/camel/test/infra/jetty/services/JettyService.java
  test-infra/camel-test-infra-messaging-common/src/test/java/org/apache/camel/test/infra/messaging/services/MessagingService.java
  test-infra/camel-test-infra-microprofile-lra/src/test/java/org/apache/camel/test/infra/microprofile/lra/services/MicroprofileLRAService.java
  test-infra/camel-test-infra-minio/src/test/java/org/apache/camel/test/infra/minio/services/MinioService.java
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/services/MongoDBService.java
  test-infra/camel-test-infra-mosquitto/src/test/java/org/apache/camel/test/infra/mosquitto/services/MosquittoService.java
  test-infra/camel-test-infra-nats/src/test/java/org/apache/camel/test/infra/nats/services/NatsService.java
  test-infra/camel-test-infra-openldap/src/test/java/org/apache/camel/test/infra/openldap/services/OpenldapService.java
  test-infra/camel-test-infra-postgres/src/test/java/org/apache/camel/test/infra/postgres/services/PostgresService.java
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarService.java
  test-infra/camel-test-infra-rabbitmq/src/test/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQService.java
  test-infra/camel-test-infra-redis/src/test/java/org/apache/camel/test/infra/redis/services/RedisService.java
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrService.java
  test-infra/camel-test-infra-xmpp/src/test/java/org/apache/camel/test/infra/xmpp/services/XmppService.java
  test-infra/camel-test-infra-zookeeper/src/test/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperService.java
Labels: test-infra, camel-4

#9206 CAMEL-18967: Delegate checks whether a request body is allowed to Vert.x
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/spi/Method.java
Labels: components, camel-4

#9208 CAMEL-18977: camel-joor - Make the code more flexible for native mode
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorCompiler.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorLanguage.java
Labels: components, camel-4

#9214 CAMEL-XXX Update documentation for SASL_SSL kafka security protocol
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
  tooling/maven/camel-package-maven-plugin/src/test/resources/json/test_component.json
Labels: components, components-kafka, catalog, dsl, tooling, tooling-maven, camel-4

#9212 CAMEL-18940: Add support for path & query parameters in vertx-websocket server consumer
  components/camel-vertx/camel-vertx-websocket/src/main/docs/vertx-websocket-component.adoc
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConsumer.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHelper.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHost.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketTest.java
Labels: components, camel-4

#9216 CAMEL-18977: camel-joor - Make the code more flexible for native mode
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorCompiler.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorLanguage.java
Labels: components, camel-3

#9218 CAMEL-XXX Update documentation for SASL_SSL kafka security protocol - camel-3.x
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
  tooling/maven/camel-package-maven-plugin/src/test/resources/json/test_component.json
Labels: components, components-kafka, catalog, dsl, tooling, tooling-maven, camel-3

#9220 CAMEL-18957: minor API cleanups and documentation
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/AnnotationProcessor.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/DefaultAnnotationProcessor.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/DefaultCamelContextExtension.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/ExtensionUtils.java
  test-infra/camel-test-infra-core/src/test/java/org/apache/camel/test/infra/core/MockUtils.java
Labels: test-infra, camel-4

#9219 CAMEL-18917 camel-as2: add validating signature support to server
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ServerConnection.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/AS2MessageDispositionNotificationEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/DispositionNotificationMultipartReportEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/MultipartSignedEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/protocol/ResponseMDN.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/HttpMessageUtils.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/MicUtils.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/SigningUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/MicUtilsTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/SigningUtilsTest.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2EndpointConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2EndpointUriFactory.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ServerManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/resources/org/apache/camel/component/as2/as2.json
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Configuration.java
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Consumer.java
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/internal/AS2ConnectionHelper.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
Labels: components, camel-4

#9209 Camel DataSonnet support
  camel-dependencies/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/datasonnet.json
  components/camel-datasonnet/pom.xml
  components/camel-datasonnet/src/generated/resources/META-INF/services/org/apache/camel/language.properties
  components/camel-datasonnet/src/generated/resources/META-INF/services/org/apache/camel/language/datasonnet
  components/camel-datasonnet/src/generated/resources/org/apache/camel/language/datasonnet/datasonnet.json
  components/camel-datasonnet/src/main/docs/datasonnet-language.adoc
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/CML.java
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/Datasonnet.java
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetConstants.java
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetExpression.java
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetLanguage.java
  components/camel-datasonnet/src/test/java/library/TestLib.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/DatasonnetLanguageTest.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/datasonnet/CamelDatasonnetJavaDslTest.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/datasonnet/CamelDatasonnetTest.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/datasonnet/ExpressionsInJavaTest.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/datasonnet/Gizmo.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/datasonnet/Manufacturer.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/datasonnet/PropertiesTest.java
  components/camel-datasonnet/src/test/resources/dslibs.jar
  components/camel-datasonnet/src/test/resources/javaTest.json
  components/camel-datasonnet/src/test/resources/libraries/testlib4.libsonnet
  components/camel-datasonnet/src/test/resources/log4j2.properties
  components/camel-datasonnet/src/test/resources/namedImports.ds
  components/camel-datasonnet/src/test/resources/namedImportsFS.ds
  components/camel-datasonnet/src/test/resources/namedImports_result.json
  components/camel-datasonnet/src/test/resources/org/apache/camel/language.datasonnet/camel-context.xml
  components/camel-datasonnet/src/test/resources/payload.csv
  components/camel-datasonnet/src/test/resources/payload.xml
  components/camel-datasonnet/src/test/resources/readCSVTest.ds
  components/camel-datasonnet/src/test/resources/readJavaTest.ds
  components/camel-datasonnet/src/test/resources/readXMLExtTest.ds
  components/camel-datasonnet/src/test/resources/readXMLExtTest.json
  components/camel-datasonnet/src/test/resources/simpleMapping.ds
  components/camel-datasonnet/src/test/resources/simpleMapping_payload.json
  components/camel-datasonnet/src/test/resources/simpleMapping_result.json
  components/camel-datasonnet/src/test/resources/testlib3.libsonnet
  components/camel-datasonnet/src/test/resources/writeJavaTest.ds
  components/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies, camel-4

#9222 (chores) camel-test-infra-elasticsearch: retry the container startup if it fails
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/services/ContainerEnvironmentUtil.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/common/ElasticSearchProperties.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerService.java
Labels: test-infra, camel-4

#9224 (chores) camel-ftp: increase JVM memory for failsafe
  components/camel-ftp/pom.xml
Labels: components, camel-4

#9225 Back port Kafka doc updates
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
  tooling/maven/camel-package-maven-plugin/src/test/resources/json/test_component.json
Labels: components, components-kafka, catalog, dsl, tooling, tooling-maven

#9226 Update pulsar version
  camel-dependencies/pom.xml
  components/camel-pulsar/src/test/java/org/apache/camel/component/pulsar/integration/PulsarSuspendRouteIT.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9233 CAMEL-18979: Add delimiter and prefix to ListObjectsRequest
  components/camel-aws/camel-aws2-s3/src/generated/resources/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Configuration.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Constants.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
Labels: components, components-aws, camel-3

#9228 (chores) documentation: minor cleanups on the Exchange guide
  docs/user-manual/modules/ROOT/pages/exchange.adoc
Labels: docs, camel-4

#9191 Feature zeebe component
  components/camel-zeebe/pom.xml
  components/camel-zeebe/src/generated/java/org/apache/camel/component/zeebe/ZeebeComponentConfigurer.java
  components/camel-zeebe/src/generated/java/org/apache/camel/component/zeebe/ZeebeEndpointConfigurer.java
  components/camel-zeebe/src/generated/java/org/apache/camel/component/zeebe/ZeebeEndpointUriFactory.java
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/component/zeebe
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/configurer/zeebe-component
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/configurer/zeebe-endpoint
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/urifactory/zeebe-endpoint
  components/camel-zeebe/src/generated/resources/org/apache/camel/component/zeebe/zeebe.json
  components/camel-zeebe/src/generated/resources/zeebe.json
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeComponent.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeConstants.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeConsumer.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeEndpoint.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeProducer.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/internal/OperationName.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/internal/ZeebeService.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/AbstractZeebeResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/DeploymentRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/DeploymentResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/JobRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/JobResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/JobWorkerMessage.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/MessageRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/MessageResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ProcessDeploymentResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ProcessRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ProcessResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ZeebeMessage.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/AbstractBaseProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/DeploymentProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/JobProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/MessageProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/ProcessProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/ZeebeProcessor.java
  components/camel-zeebe/src/main/resources/component/zeebe
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ResourceDeploymentIT.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ZeebeConsumerIT.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ZeebeEndpointTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/internal/ZeebeServiceIT.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/DeploymentRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/JobRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/JobResponseTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/JobWorkerMessageTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/MessageRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/MessageResponseTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/ProcessDeploymentResponseTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/ProcessRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/ProcessResponseTest.java
  components/camel-zeebe/src/test/resources/data/test1_definition.bpmn
  components/camel-zeebe/src/test/resources/log4j2.properties
  components/pom.xml
Labels: components, camel-3

#9243 Camel 18966 feature zeebe component main
  components/camel-zeebe/pom.xml
  components/camel-zeebe/src/generated/java/org/apache/camel/component/zeebe/ZeebeComponentConfigurer.java
  components/camel-zeebe/src/generated/java/org/apache/camel/component/zeebe/ZeebeEndpointConfigurer.java
  components/camel-zeebe/src/generated/java/org/apache/camel/component/zeebe/ZeebeEndpointUriFactory.java
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/component/zeebe
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/configurer/zeebe-component
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/configurer/zeebe-endpoint
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-zeebe/src/generated/resources/META-INF/services/org/apache/camel/urifactory/zeebe-endpoint
  components/camel-zeebe/src/generated/resources/org/apache/camel/component/zeebe/zeebe.json
  components/camel-zeebe/src/generated/resources/zeebe.json
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeComponent.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeConstants.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeConsumer.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeEndpoint.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeProducer.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/internal/OperationName.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/internal/ZeebeService.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/AbstractZeebeResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/DeploymentRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/DeploymentResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/JobRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/JobResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/JobWorkerMessage.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/MessageRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/MessageResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ProcessDeploymentResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ProcessRequest.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ProcessResponse.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/model/ZeebeMessage.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/AbstractBaseProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/DeploymentProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/JobProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/MessageProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/ProcessProcessor.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/processor/ZeebeProcessor.java
  components/camel-zeebe/src/main/resources/component/zeebe
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ResourceDeploymentIT.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ZeebeConsumerIT.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/ZeebeEndpointTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/internal/ZeebeServiceIT.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/DeploymentRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/JobRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/JobResponseTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/JobWorkerMessageTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/MessageRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/MessageResponseTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/ProcessDeploymentResponseTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/ProcessRequestTest.java
  components/camel-zeebe/src/test/java/org/apache/camel/component/zeebe/model/ProcessResponseTest.java
  components/camel-zeebe/src/test/resources/data/test1_definition.bpmn
  components/camel-zeebe/src/test/resources/log4j2.properties
  components/pom.xml
Labels: components, camel-4

#9246 Execute test sequentially
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFileToFtpSplitParallelIT.java
Labels: components, camel-4

#9250 [CAMEL-18982] Avoid custom versions of maven javadoc and resource plugin
  components/camel-spring-security/pom.xml
  parent/pom.xml
  tooling/maven/camel-javadoc-plugin/pom.xml
  tooling/maven/camel-javadoc-plugin/src/main/java/org/apache/maven/plugins/javadoc/AbstractJavadocMojo.java
  tooling/maven/camel-javadoc-plugin/src/main/java/org/apache/maven/plugins/javadoc/CamelJavadocJar.java
  tooling/maven/camel-javadoc-plugin/src/main/java/org/apache/maven/plugins/javadoc/StaleHelper.java
  tooling/maven/camel-resources-plugin/pom.xml
  tooling/maven/camel-resources-plugin/src/main/java/org/apache/camel/maven/resources/CopyResources.java
  tooling/maven/camel-resources-plugin/src/main/java/org/apache/camel/maven/resources/Resource.java
  tooling/maven/camel-resources-plugin/src/main/resources/META-INF/LICENSE.txt
  tooling/maven/camel-resources-plugin/src/main/resources/META-INF/MANIFEST.MF
  tooling/maven/camel-resources-plugin/src/main/resources/META-INF/NOTICE.txt
  tooling/maven/pom.xml
Labels: components, tooling, tooling-maven, core-build-and-dependencies, camel-4

#9255 CAMEL-18947: Align dependencies
  camel-dependencies/pom.xml
  components/camel-netty-http/src/generated/java/org/apache/camel/component/netty/http/NettyHttpConfigurationConfigurer.java
  components/camel-netty-http/src/generated/java/org/apache/camel/component/netty/http/NettyHttpEndpointUriFactory.java
  components/camel-netty-http/src/generated/resources/org/apache/camel/component/netty/http/netty-http.json
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-3

#9261 (chores) tests: fixed disabled reasons for multiple tests
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerCreateSecretProducerLocalstackIT.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerDescribeSecretProducerLocalstackIT.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerProducerListSecretsLocalstackIT.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerRotateSecretProducerLocalstackIT.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerUpdateSecretProducerLocalstackIT.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamConsumerHealthCustomClientTest.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCustomClientTest.java
  components/camel-aws/camel-aws2-kms/src/test/java/org/apache/camel/component/aws2/kms/localstack/KmsCreateKeyIT.java
  components/camel-aws/camel-aws2-kms/src/test/java/org/apache/camel/component/aws2/kms/localstack/KmsDisableKeyIT.java
  components/camel-aws/camel-aws2-kms/src/test/java/org/apache/camel/component/aws2/kms/localstack/KmsListKeysIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaAliasesIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaDeleteFunctionIT.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/LambdaListFunctionsIT.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/integration/SnsTopicProducerIT.java
Labels: components, components-aws, camel-4

#9264 CAMEL-18987: camel-zookeeper - Upgrade to 3.8.1
  camel-dependencies/pom.xml
  components/camel-zookeeper/src/generated/resources/org/apache/camel/component/zookeeper/zookeeper.json
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#9269 (chores) camel-kafka: ensures that the component do not run any tests during the release
  components/camel-kafka/pom.xml
Labels: components, components-kafka, camel-4

#9270 (chores) camel-core: tests cleanups
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanChoseMethodWithMatchingTypeAndSkipSettersTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/cluster/FileLockClusteredRoutePolicyFactoryTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/cluster/FileLockClusteredRoutePolicyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitCustomExpressionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitRefCustomExpressionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/async/MyAsyncComponent.java
  core/camel-core/src/test/java/org/apache/camel/processor/transformer/TransformerRouteTest.java
Labels: core, camel-4

#9268 (chores) camel-ftp: cleanup FromFileToFtpSplitParallelIT
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFileToFtpSplitParallelIT.java
Labels: components, camel-4

#9254 camel-plc4x Implemented Plc4XPollingConsumer and some refactoring (CAMEL-18861)
  components/camel-plc4x/src/main/docs/plc4x-component.adoc
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XPollingConsumer.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XProducer.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XComponentTest.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XEndpointTest.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/Plc4XProducerTest.java
Labels: components, camel-4

#9274 (chores) camel-ftp: test cleanups
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/RemoteFileIgnoreDoPollErrorTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/UriConfigurationTest.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpFilterIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpRemoteFileFilterDirectoryIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpRemoteFileFilterIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpConsumerProcessStrategyIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpProducerConcurrentIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpProducerDoneFileNameIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpProducerTempFileExistIssueIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpConsumerProcessStrategyIT.java
Labels: components, camel-4

#9275 (chores) camel-util: adjust test as clientId is now marked as secure
  core/camel-util/src/test/java/org/apache/camel/util/URISupportTest.java
Labels: core, camel-4
