Repository apache/camel, pull requests merged in 2023-06, with the labels that each got.

#10252 CAMEL-19400: camel-elasticsearch - Use singleton service to speed up
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchScrollSearchIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchSizeLimitIT.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchTestSupport.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/common/ElasticSearchProperties.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerService.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchService.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchServiceFactory.java
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/RemoteElasticSearchService.java
Labels: components, test-infra, camel-4

#10255 Add camel-catalog as dependency to prevent parallel build failures
  dsl/camel-endpointdsl/pom.xml
Labels: dsl, camel-4

#10257 CAMEL-19408: camel-swift - Restore the component
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/swiftMt.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/swiftMx.json
  components/camel-swift/pom.xml
  components/camel-swift/src/generated/java/org/apache/camel/dataformat/swift/mt/SwiftMtDataFormatConfigurer.java
  components/camel-swift/src/generated/java/org/apache/camel/dataformat/swift/mx/SwiftMxDataFormatConfigurer.java
  components/camel-swift/src/generated/java/org/apache/camel/dataformat/swift/mx/SwiftMxTypeConvertersLoader.java
  components/camel-swift/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-swift/src/generated/resources/META-INF/services/org/apache/camel/configurer/swiftMt-dataformat
  components/camel-swift/src/generated/resources/META-INF/services/org/apache/camel/configurer/swiftMx-dataformat
  components/camel-swift/src/generated/resources/META-INF/services/org/apache/camel/dataformat.properties
  components/camel-swift/src/generated/resources/META-INF/services/org/apache/camel/dataformat/swiftMt
  components/camel-swift/src/generated/resources/META-INF/services/org/apache/camel/dataformat/swiftMx
  components/camel-swift/src/generated/resources/org/apache/camel/dataformat/swift/mt/swiftMt.json
  components/camel-swift/src/generated/resources/org/apache/camel/dataformat/swift/mx/swiftMx.json
  components/camel-swift/src/main/docs/swiftMt-dataformat.adoc
  components/camel-swift/src/main/docs/swiftMx-dataformat.adoc
  components/camel-swift/src/main/java/org/apache/camel/dataformat/swift/mt/SwiftMtDataFormat.java
  components/camel-swift/src/main/java/org/apache/camel/dataformat/swift/mx/ReadConfiguration.java
  components/camel-swift/src/main/java/org/apache/camel/dataformat/swift/mx/SwiftMxDataFormat.java
  components/camel-swift/src/main/java/org/apache/camel/dataformat/swift/mx/SwiftMxTypeConverters.java
  components/camel-swift/src/main/java/org/apache/camel/dataformat/swift/mx/WriteConfiguration.java
  components/camel-swift/src/test/java/org/apache/camel/dataformat/swift/mt/SpringSwiftMtDataFormatTest.java
  components/camel-swift/src/test/java/org/apache/camel/dataformat/swift/mt/SwiftMtDataFormatTest.java
  components/camel-swift/src/test/java/org/apache/camel/dataformat/swift/mx/SpringSwiftMxDataFormatTest.java
  components/camel-swift/src/test/java/org/apache/camel/dataformat/swift/mx/SwiftMxDataFormatTest.java
  components/camel-swift/src/test/resources/log4j2.properties
  components/camel-swift/src/test/resources/mt/message1.txt
  components/camel-swift/src/test/resources/mt/message2.json
  components/camel-swift/src/test/resources/mt/message2.txt
  components/camel-swift/src/test/resources/mx/message1.xml
  components/camel-swift/src/test/resources/mx/message2.json
  components/camel-swift/src/test/resources/mx/message2.xml
  components/camel-swift/src/test/resources/mx/message3.xml
  components/camel-swift/src/test/resources/routes/SpringSwiftMtDataFormatTest.xml
  components/camel-swift/src/test/resources/routes/SpringSwiftMxDataFormatTest.xml
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/dataformats.properties
  docs/components/modules/dataformats/examples/json/swiftMt.json
  docs/components/modules/dataformats/examples/json/swiftMx.json
  docs/components/modules/dataformats/nav.adoc
  docs/components/modules/dataformats/pages/swiftMt-dataformat.adoc
  docs/components/modules/dataformats/pages/swiftMx-dataformat.adoc
  parent/pom.xml
Labels: components, core, catalog, docs, core-build-and-dependencies, camel-4

#10258 remove jakarta mail dep from pom
  dsl/camel-endpointdsl/pom.xml
Labels: dsl, camel-4

#10233 (chores) replacing inner classes with lambda
  dsl/camel-yaml-dsl/camel-yaml-dsl-common/src/main/java/org/apache/camel/dsl/yaml/common/YamlDeserializationContext.java
Labels: dsl, camel-4

#10260 CAMEL-19140 : fix typo and update deprected property name from constants
  components/camel-velocity/src/main/java/org/apache/camel/component/velocity/CamelVelocityDelegateClassLoader.java
  components/camel-velocity/src/main/java/org/apache/camel/component/velocity/VelocityEndpoint.java
Labels: components, camel-4

#10272 CAMEL-19421 - Camel-Jira: Use Files.createTempFile in FileConverter i…
  components/camel-jira/src/main/java/org/apache/camel/component/jira/FileConverter.java
Labels: components, camel-4

#10269 [3.18.x] Add Java snippets on CXF component page, normalize formating markup, re-indent examples
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components

#10270 [3.20.x] Add Java snippets on CXF component page, normalize formating markup, re-indent examples
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components

#10277 Fix typo in sql-component.adoc leveldb.adoc
  components/camel-leveldb/src/main/docs/leveldb.adoc
  components/camel-sql/src/main/docs/sql-component.adoc
Labels: components, camel-4

#10278 Fix typo in sql-component.adoc leveldb.adoc
  components/camel-leveldb/src/main/docs/leveldb.adoc
  components/camel-sql/src/main/docs/sql-component.adoc
Labels: components, camel-3

#10273 (chores) camel-test-infra-artemis: prevent blocking the tests due to disk usage
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisPersistentVMService.java
Labels: test-infra, camel-4

#10268 [CAMEL-18189] Read <spring:beans> from XML files (camel-xml-io) and p…
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/RoutesConfigurer.java
  core/camel-xml-io-util/src/main/java/org/apache/camel/xml/io/util/XmlStreamInfo.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/in/BaseParser.java
  dsl/camel-kamelet-main/pom.xml
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/KameletMainTest.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/app/Bean1.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/app/Bean2.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/app/Greeter.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/app/GreeterMessage.java
  dsl/camel-kamelet-main/src/test/resources/org/apache/camel/main/xml/spring-camel1.xml
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlLoadAppTest.java
Labels: core, dsl, camel-4

#10280 (chores) camel-sjms: prevent tests from consuming data from other tests
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/producer/SjmsToDSendDynamicTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/producer/SjmsToDTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/tx/TransactedTopicProducerTest.java
Labels: components, components-jms, camel-4

#10279 (chores) camel-paho: prevent test from consuming data from another test
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoToDTest.java
Labels: components, camel-4

#10283 [CAMEL-18189] Add documentation about <bean> support
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/KameletMainTest.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/app/Greeter.java
  dsl/camel-kamelet-main/src/test/resources/org/apache/camel/main/xml/spring-camel2.xml
  dsl/camel-xml-io-dsl/src/main/docs/java-xml-io-dsl.adoc
Labels: docs, dsl, camel-4

#10288 (chores) camel-core: isolate another misbehaved test
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastParallelMiddleTimeoutTest.java
Labels: core, camel-4

#10296 CAMEL-18608: camel-sjms - Consumes messages before other tests
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/consumer/JmsPollingConsumerTest.java
Labels: components, components-jms, camel-4

#10306 (chores) core: use final when possible
  core/camel-support/src/main/java/org/apache/camel/support/builder/RecordableInputStream.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/support/management/MBeanInfoAssembler.java
Labels: core, camel-4

#10307 (chores) core: fix visibility mismatch
  core/camel-support/src/main/java/org/apache/camel/converter/stream/FileInputStreamCache.java
Labels: core, camel-4

#10310 (chores) core: cleanup duplicated code
  core/camel-support/src/main/java/org/apache/camel/support/CamelContextHelper.java
Labels: core, camel-4

#10311 (chores) core: list containsAll may perform poorly
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodHelper.java
Labels: core, camel-4

#10325 CAMEL-19417: camel-spring-rabbitmq - convert all message properties by default
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/DefaultMessagePropertiesConverter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQConstants.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQConsumerQueuesIT.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQProducerIT.java
Labels: components, camel-4

#10334 Upgrade Maven Surefire and Failsafe plugin from 3.1.0 to 3.1.2
  pom.xml
Labels: camel-4

#10344 (chores) core: removed unnecessary checks
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPackageScanClassResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPackageScanResourceResolver.java
Labels: core, camel-4

#10342 Remove a pointless Quarkus Java snippet inside a Spring XML docs section
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components, camel-4

#10337 Migrate deprecated method from commons-lang3 to commons-text
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/DocumentationEnricher.java
Labels: tooling, tooling-maven, camel-4

#10333 CAMEL-19435: camel-core - Remove converter: String -> java.io.File
  components/camel-file/src/main/java/org/apache/camel/component/file/FileOperations.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/GenericFileProcessStrategySupport.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFileToFtpDefaultRootRenameStrategyIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpDirectoryToBinaryFilesIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpSetNamesWithMultiDirectoriesIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpToBinaryFileIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FromFtpToBinaryFilesIT.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpSimpleConsumeStreamingStepwiseIT.java
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  core/camel-base/src/main/java/org/apache/camel/converter/IOConverter.java
  core/camel-core/src/test/java/org/apache/camel/converter/ConverterTest.java
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
Labels: components, core, docs, camel-4

#10348 [3.20.x] Remove a pointless Quarkus Java snippet inside a Spring XML docs section
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components

#10349 [3.18.x] Remove a pointless Quarkus Java snippet inside a Spring XML docs section
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components

#10352 Upgrade to kafka 3.4.1
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10335 Upgrade Maven Surefire and Failsafe plugin from 3.0.0-MX to 3.1.2
  pom.xml
Labels: camel-3

#10286 CAMEL-19409: Allow clients to manually restart the subscription
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceConsumer.java
Labels: components, camel-3

#10350 CAMEL-19440 - Manage caffeine to build and test with a single deterministic version
  components/camel-caffeine/pom.xml
  components/camel-infinispan/camel-infinispan-embedded/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10363 CAMEL-19442 - Manage Gson to build and test with a single deterministic version
  components/camel-gson/pom.xml
  components/camel-huawei/camel-huaweicloud-functiongraph/pom.xml
  components/camel-huawei/camel-huaweicloud-iam/pom.xml
  components/camel-huawei/camel-huaweicloud-obs/pom.xml
  components/camel-ironmq/pom.xml
  components/camel-pubnub/pom.xml
  components/camel-slack/pom.xml
  components/camel-splunk/pom.xml
  components/camel-thrift/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10359 tooling - camel-spring-xsd - Generate this in a more consistent way a…
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/Constants.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/DocumentationEnricher.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/EipDocumentationEnricherMojo.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/test/java/org/apache/camel/maven/EipDocumentationEnricherMojoTest.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/test/resources/enriched-camel-spring.xsd
Labels: tooling, tooling-maven, camel-4

#10366 CAMEL-19432: Only create EventHubProducerAsyncClient if one is not already present in the configuration
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsProducer.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/integration/EventHubsProducerCustomClientIT.java
Labels: components, components-azure, camel-4

#10373 CAMEL-19412: doc how to setting kerby file at camel-kafka
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka, camel-4

#10374 (chores) Replace String::replaceAll by String::replace
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyCsvFactory.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileSendDynamicAware.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiSupport.java
Labels: components, camel-4

#10378 (chores) core: cleanup code duplication
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageHelper.java
Labels: core, camel-4

#10383 (chores) camel-core-languages: use final when possible
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleGeneratedCode.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/BaseSimpleParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimplePredicateParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/UnaryExpression.java
Labels: core, camel-4

#10381 Backport to 3.18 the krb5 explanation for camel-kafka
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka

#10386 (chores) core: cleanup code duplication
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageHelper.java
Labels: core, camel-4

#10398 CAMEL-19408: camel-swift - Upgrade to SRU2022-10.0.1
  camel-dependencies/pom.xml
  components/camel-swift/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10402 (chores) core: cleanup code duplication
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
Labels: core, camel-4

#10408 (chores) camel-cxf: fixed duplicate entry causing the build to fail with Maven 4
  components/camel-cxf/camel-cxf-common/pom.xml
Labels: components, camel-4

#10397 CAMEL-19458: Bouncycastle 1.74 update
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10400 should servlet and rest throw exceptions when duplicate and ambiguous paths occur
  components/camel-http-common/src/main/java/org/apache/camel/http/common/CamelServlet.java
  components/camel-http-common/src/test/java/org/apache/camel/http/common/CamelServletTest.java
  core/camel-support/src/main/java/org/apache/camel/support/RestConsumerContextPathMatcher.java
  core/camel-support/src/test/java/org/apache/camel/support/RestConsumerContextPathMatcherTest.java
Labels: components, core, camel-4

#10372 CAMEL-19451 - Import grpc-bom to build and test with a single deterministic set of gRPC dependencies
  camel-dependencies/pom.xml
  components/camel-etcd3/pom.xml
  components/camel-grpc/pom.xml
  components/camel-opentelemetry/pom.xml
  components/camel-salesforce/camel-salesforce-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10422 CAMEL-19373: camel-spring-rabbitmq - Fix reply timeout
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpoint.java
Labels: components

#10423 CAMEL-19468: Upgrade saxon to 12.2
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10430 CAMEL-19457: Re-adding test because it was removed instead of fixed.
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/DynamicRouterProducerTest.java
Labels: components, camel-4

#10428 Escape OPTIONS from ambiguous path exception
  core/camel-support/src/main/java/org/apache/camel/support/RestConsumerContextPathMatcher.java
Labels: core, camel-4

#10432 Removed outdated disclaimer
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/docs/yaml-dsl.adoc
Labels: dsl, camel-4

#10434 CAMEL-19470 camel-mongodb : add option fullDocument for changeStreams…
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/MongoDbEndpointConfigurer.java
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/MongoDbEndpointUriFactory.java
  components/camel-mongodb/src/generated/resources/org/apache/camel/component/mongodb/mongodb.json
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbChangeStreamsConsumer.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbChangeStreamsThread.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbEndpoint.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbChangeStreamsConsumerIT.java
  components/camel-mongodb/src/test/resources/mongodb.test.properties
Labels: components, camel-3

#10450 CAMEL-19130: Upgrade to snakeyaml 2.x
  camel-dependencies/pom.xml
  components/camel-snakeyaml/src/generated/resources/org/apache/camel/component/snakeyaml/snakeYaml.json
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/SnakeYAMLDataFormat.java
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/custom/CustomClassLoaderConstructor.java
  components/camel-snakeyaml/src/test/java/org/apache/camel/component/snakeyaml/SnakeYAMLDoSTest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
  parent/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/AbstractGenerateMojo.java
Labels: components, dsl, tooling, tooling-maven, core-build-and-dependencies, camel-3

#10454 CAMEL-19019: camel-kafka - Upgrade to Kafka 3.4.x
  bom/camel-bom/pom.xml
  camel-dependencies/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/vertx-kafka.json
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/pom.xml
  components/camel-vertx/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/vertx-kafka.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/vertx-kafka-component.adoc
  docs/components/modules/others/examples/json/vertx-kafka-maven-plugin.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/VertxKafkaComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/RedpandaTransactionsEnabledContainer.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/StrimziContainer.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, test-infra, core-build-and-dependencies, camel-3

#10459 Add a note about the removal of camel-vertx-kafka
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
Labels: docs, camel-4

#10436 CAMEL-19470 camel-mongodb : add option fullDocument for changeStreams...
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/MongoDbEndpointConfigurer.java
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/MongoDbEndpointUriFactory.java
  components/camel-mongodb/src/generated/resources/org/apache/camel/component/mongodb/mongodb.json
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbChangeStreamsConsumer.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbChangeStreamsThread.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbEndpoint.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbChangeStreamsConsumerIT.java
  components/camel-mongodb/src/test/resources/mongodb.test.properties
Labels: components, camel-4

#10463 CAMEL-18890: Remove camel-vertx-kafka
  Jenkinsfile.s390x
  bom/camel-bom/pom.xml
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/VertxKafkaEndpointBuilderFactory.java
  parent/pom.xml
Labels: dsl, ci, core-build-and-dependencies, camel-3

#10466 WireTapAbortPolicyTest is flaky
  core/camel-core/src/test/java/org/apache/camel/processor/WireTapAbortPolicyTest.java
Labels: core, camel-4

#10470 (chores) ci: fix flakyness on split test
  core/camel-core/src/test/java/org/apache/camel/processor/SplitParallelTimeoutTest.java
Labels: core, camel-4

#10471 Added ppc64le supported hashicorp-vault image
  components/camel-hashicorp-vault/pom.xml
Labels: components, camel-4

#10474 Revert "CAMEL-19130: Upgrade to snakeyaml 2.x (#10450)"
  camel-dependencies/pom.xml
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/SnakeYAMLDataFormat.java
  components/camel-snakeyaml/src/main/java/org/apache/camel/component/snakeyaml/custom/CustomClassLoaderConstructor.java
  components/camel-snakeyaml/src/test/java/org/apache/camel/component/snakeyaml/SnakeYAMLDoSTest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CodeRestGenerator.java
  parent/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/AbstractGenerateMojo.java
Labels: components, dsl, tooling, tooling-maven, core-build-and-dependencies, camel-3

#10472 (chores) Minor cleanups on the RoutingSlip
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RoutingSlip.java
Labels: core, camel-4

#10478 CAMEL-19464: camel-kafka - Upgrade to 3.5.x
  camel-dependencies/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
Labels: test-infra, core-build-and-dependencies, camel-4

#10479 CAMEL-19490: camel-elasticsearch - Upgrade to 8.8.x
  camel-dependencies/pom.xml
  components/camel-elasticsearch/pom.xml
  parent/pom.xml
  test-infra/camel-test-infra-elasticsearch/src/test/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerService.java
Labels: components, test-infra, core-build-and-dependencies, camel-4

#10482 (doc) Update the contribution guide
  CONTRIBUTING.md
Labels: docs, camel-4

#10486 Fixup Workaround INFRA-24713 in the deploy script rather than for all possible builds
  Jenkinsfile.deploy
Labels: ci, camel-4

#10489 (chores) camel-bean: do catch AssertionErrors
  components/camel-bean/src/main/java/org/apache/camel/component/bean/AbstractBeanProcessor.java
Labels: components, camel-4

#10485 Update commercial-camel-offerings.adoc
  docs/user-manual/modules/ROOT/pages/commercial-camel-offerings.adoc
Labels: docs, camel-4

#10492 CAMEL-19499: camel-yaml-dsl: Missing rest-configuration in YAML DSL s…
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: dsl, camel-3

#10497 (chores) ci: fix SplitParallelTimeoutTest blocking core tests
  core/camel-core/src/test/java/org/apache/camel/processor/SplitParallelTimeoutTest.java
Labels: core, camel-4

#10491 CAMEL-19499: camel-yaml-dsl: Missing rest-configuration in YAML DSL s…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/beans.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/camel.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/beans.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/camel.json
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/GenerateYamlDeserializersMojo.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camel-yaml-dsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#10477 [CAMEL-19330] Dump model for Choice should have otherwise last
  core/camel-core-model/src/main/java/org/apache/camel/model/ChoiceDefinition.java
Labels: core, camel-4

#10501 (chores) doc: reorganize the contributing documentation
  docs/main/modules/contributing/nav.adoc
  docs/main/modules/contributing/pages/index.adoc
Labels: docs, camel-4

#10504 CAMEL-19505 - Upgrade Azure SDK BOM to version 1.2.14
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10506 CAMEL-19506 - Upgrade Huawei-cloud SDK core and related to 3.1.45
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10508 (chores) doc: consolidated building documentation
  docs/main/modules/contributing/pages/building.adoc
  docs/main/modules/contributing/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/building.adoc
Labels: docs, camel-4

#10500 (chores) camel-core: prevent ThrottlerTest from running on GH
  core/camel-core/src/test/java/org/apache/camel/processor/ThrottlerTest.java
Labels: core, camel-4

#10511 Fix test and use single kafka instance
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerHealthCheckIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaHealthCheckTestSupport.java
Labels: components, components-kafka, camel-4

#10512 CAMEL-19497: prevent unhandled exceptions from blocking indefinitely
  components/camel-bean/src/main/java/org/apache/camel/component/bean/AbstractBeanProcessor.java
Labels: components, camel-4

#10518 Update grpc-version
  camel-dependencies/pom.xml
  components/camel-salesforce/camel-salesforce-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10519 CAMEL-19492: Fix modifier orders to comply with the JLS
  core/camel-xml-io/src/main/java/org/apache/camel/xml/io/MXParser.java
Labels: core, camel-4

#10520 Camel-Salesforce: s390x support
  components/camel-salesforce/pom.xml
Labels: components, camel-4

#10505 Add possibility to override LRAClient
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRAClient.java
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRASagaService.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRAClientTest.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRASagaServiceTest.java
Labels: components, camel-3

#10475 [CAMEL-19479] Add `threadId` to simple language
  components/camel-csimple-joor/src/test/java/org/apache/camel/language/csimple/joor/OriginalSimpleTest.java
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  tooling/maven/camel-package-maven-plugin/pom.xml
Labels: components, core, tooling, tooling-maven, camel-4

#10516 CAMEL-19502 Netty4-http SNI configuration using SSLContextParameters
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/HttpClientInitializerFactory.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSSLSNITest.java
Labels: components, catalog, camel-4

#10523 Upgrade AWS SDK v2 to version 2.20.94
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#10524 Camel-Bindy: Use isEmpty instead of comparing with empty String
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyFixedLengthFactory.java
Labels: components, camel-4, backport camel-3.x, backport camel-3.20.x

#10528 Camel-Bindy: Use isEmpty instead of comparing with empty String
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyFixedLengthFactory.java
Labels: components, camel-3

#10529 Camel-Bindy: Use isEmpty instead of comparing with empty String
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/BindyFixedLengthFactory.java
Labels: components

#10532 CAMEL-19558 - Manage protobuf to build and test with a single deterministic version
  camel-dependencies/pom.xml
  components/camel-grpc/pom.xml
  components/camel-protobuf/pom.xml
  components/camel-salesforce/camel-salesforce-component/pom.xml
  core/camel-support/src/main/java/org/apache/camel/converter/stream/InputStreamCache.java
  parent/pom.xml
Labels: components, core, core-build-and-dependencies, camel-4

#10533 Jt400 dependency upgrade
  camel-dependencies/pom.xml
  components/camel-jt400/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#10536 (chores) camel-package-maven-plugin: ensure a modern version of the compiler plugin
  tooling/maven/camel-package-maven-plugin/src/it/HeaderSupport/pom.xml
Labels: tooling, tooling-maven, camel-4

#10537 (chores) camel-fhir: use Assumptions to check for test pre-conditions
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/AbstractFhirTestSupport.java
Labels: components, camel-4

#10540 CAMEL-19561: reverts to Artemis 2.28
  camel-dependencies/pom.xml
  dsl/camel-kamelet-main/src/main/resources/camel-main-known-dependencies.properties
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#10541 CAMEL-19285: prevent Kafka client from entering an endless loop
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/ReconnectErrorStrategy.java
Labels: components, components-kafka, camel-3

#10543 CAMEL-19285: prevent Kafka client from entering an endless loop
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/ReconnectErrorStrategy.java
Labels: components, components-kafka

#10546 (chores) doc: unify the contributing documentation
  CONTRIBUTING.md
Labels: docs, camel-4

#10552 Upgrade AWS SDK v2 to version 2.20.96
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4
