Repository apache/camel, pull requests merged in 2024-01, with the labels that each got.

#12637 Fluent
  catalog/camel-catalog-maven/src/test/java/org/apache/camel/catalog/maven/MavenVersionManagerManualTest.java
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/file-watch.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ftp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ftps.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sftp.json
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/FilesConsumer.java
  components/camel-file-watch/src/generated/resources/org/apache/camel/component/file/watch/file-watch.json
  components/camel-file-watch/src/main/java/org/apache/camel/component/file/watch/FileWatchEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/GenericFileProcessStrategySupport.java
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/ftp.json
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/ftps.json
  components/camel-ftp/src/generated/resources/org/apache/camel/component/file/remote/sftp.json
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpConsumer.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/RemoteFileConfiguration.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpConsumer.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsMessageHelper.java
  components/camel-ldap/src/test/java/org/apache/directory/server/core/integ5/DSAnnotationProcessor.java
  components/camel-ldif/src/test/java/org/apache/directory/server/core/integ5/DSAnnotationProcessor.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConsumer.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/jms/JmsMessageHelper.java
  components/camel-spring-batch/src/test/java/org/apache/camel/component/spring/batch/SpringBatchEndpointTest.java
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/convertVariable.xml
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/model/UploadMedia.java
  core/camel-api/src/main/java/org/apache/camel/FluentProducerTemplate.java
  core/camel-api/src/main/java/org/apache/camel/PropertyInject.java
  core/camel-api/src/main/java/org/apache/camel/spi/ManagementAgent.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultFluentProducerTemplate.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultResourceResolvers.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/AdviceWith.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RemoveVariableProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SetVariableProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateController.java
  core/camel-core/src/test/java/org/apache/camel/builder/FluentProducerTemplateTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerFileExpressionThrowExceptionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/converter/ConvertVariableTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultComponent.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/ConvertVariableProcessor.java
  docs/user-manual/modules/ROOT/pages/using-propertyplaceholder.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CommandLineHelper.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ConvertVariableTest.groovy
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/JmsToHttpWithOnExceptionAndNoTransactionErrorHandlerConfiguredRoute.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/JmsToHttpWithOnExceptionRoute.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/EipDocumentationEnricherMojo.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, components-azure, components-jms, tests, camel-4

#12612 CAMEL-20113: camel/tests consolidating
  components/camel-jms/src/test/java/org/apache/camel/component/jms/DynamicRouteTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsConsumerShutdownTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsEndpointConfigurationTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsPollEnrichTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsPollingConsumerTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsSpringValidatorTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsValidatorTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/AdviceWithTransactionIssueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/FileToJmsIssueTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JMSNestedTransactionRollbackTest.java
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/JmsConsumerShutdownTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/JmsPollingConsumerTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/JmsSpringValidatorTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/JmsValidatorTestSchema.xsd
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/AdviceWithTransactionIssueTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/issues/FileToJmsIssueTest.xml
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JMSNestedTransactionRollbackTest.xml
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsIntegrationTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsMediumQueuePerformanceTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsPerformanceTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsResequencerTest.java
Labels: components, components-jms, tests, camel-4

#12642 CAMEL-20225: use a monotonic clock in the BackOffTimerTask
  core/camel-util/src/main/java/org/apache/camel/util/backoff/BackOffTimerTask.java
Labels: core, camel-4

#12644 Javadoc typo
  core/camel-api/src/main/java/org/apache/camel/ValidationException.java
Labels: core, camel-4

#12643 CAMEL-20113: camel/tests consolidating
  tests/camel-itest/src/test/java/org/apache/camel/itest/proxy/Echo.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/proxy/EchoClient.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/proxy/EchoProduceTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/test/SpringDebugBeforeTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/tx/Jms2RequiresNewTest.java
  tests/camel-itest/src/test/resources/org/apache/camel/itest/test/SpringDebugBeforeTest.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/tx/Jms2RequiresNewTest-context.xml
Labels: tests, camel-4

#12646 CAMEL-20225: minor documentation improvements for the clock API
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: docs, camel-4

#12649 (chores): cleanup duplicated pattern matching code
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultMessage.java
  core/camel-support/src/main/java/org/apache/camel/support/PatternHelper.java
Labels: core, camel-4

#12652 (chores): code cleanup in ExtendedExchangeExtension
  core/camel-support/src/main/java/org/apache/camel/support/ExtendedExchangeExtension.java
Labels: core, camel-4

#12653 (chores): cleanup duplicated code in camel-jta
  components/camel-jta/src/main/java/org/apache/camel/jta/TransactionErrorHandler.java
Labels: components, camel-4

#12655 (chores) camel-netty-http: use StandardCharsets for decoding headers
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
Labels: components, camel-4

#12660 CAMEL-20296: component-test - Exclude IT folders
  .github/actions/component-test/component-test.sh
Labels: camel-4

#12663 (chores) camel-core: minor cleanups
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#12673 (chores) camel-core: more context cleanups
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#12674 (chores) camel-aws: minor fix
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Component.java
Labels: components, components-aws, camel-4

#12669 JmsDeliveryDelayTest fix flackiness
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeliveryDelayTest.java
Labels: components, components-jms, camel-4

#12677 (chores) camel-paho-mqtt5: disable tests on s390x
  components/camel-paho-mqtt5/pom.xml
Labels: components, camel-4

#12679 CAMEL-20279 - provide retry attempts for known flaky container start during tests
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSLocalContainerService.java
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerService.java
Labels: test-infra, camel-4

#12680 CAMEL-20264: Removed unused `AvailablePortFinder`, simplified another…
  core/camel-management/src/test/java/org/apache/camel/management/util/AvailablePortFinder.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/AvailablePortFinder.java
Labels: core, dsl, camel-4

#12682 (chores) camel-paho-mqtt5: fix integration/unit test mismatch
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/integration/PahoMqtt5ComponentMqtt5IT.java
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/integration/PahoMqtt5ITSupport.java
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/integration/PahoMqtt5OverrideTopicMqtt5IT.java
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/integration/PahoMqtt5ToDIT.java
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/integration/PahoMqtt5ToDSendDynamicIT.java
Labels: components, camel-4

#12683 (chores) camel-kafka: disable flaky tests on ppc64le
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReplayOldMessagesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsynchCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerHealthCheckIT.java
Labels: components, components-kafka, camel-4

#12684 (chores) camel-kafka: disable flaky tests on ppc64le
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSynchCommitManagerIT.java
Labels: components, components-kafka, camel-4

#12685 (chores) camel-paho-mqtt5: fix another integration/unit test mismatch
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5ReconnectAfterFailureIT.java
Labels: components, camel-4

#12681 docs: fix typos
  components/camel-bindy/src/main/docs/bindy-dataformat.adoc
  components/camel-quickfix/src/main/docs/quickfix-component.adoc
  components/camel-robotframework/src/main/docs/robotframework-component.adoc
  components/camel-thrift/src/main/docs/thrift-component.adoc
  components/camel-xj/src/main/docs/xj-component.adoc
Labels: components, camel-4

#12694 (chores) camel-mllp: minor cleanups
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerOptionalEndOfDataWithValidationTest.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/TcpServerConsumerEndOfDataAndValidationTestSupport.java
Labels: components, camel-4

#12625 CAMEL-20286 camel-netty: add support for native transport over kqueue and fixed UDS-connected warnings
  components/camel-netty/pom.xml
  components/camel-netty/src/main/docs/netty-component.adoc
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyProducer.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyServerBossPoolBuilder.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyWorkerPoolBuilder.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/SingleTCPNettyServerBootstrapFactory.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyTCPSyncUDSTest.java
Labels: components, camel-4

#12696 Camel-Robotframework: Fixed typo in docs
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/robotframework.json
  components/camel-robotframework/src/generated/resources/org/apache/camel/component/robotframework/robotframework.json
  components/camel-robotframework/src/main/docs/robotframework-component.adoc
  components/camel-robotframework/src/main/java/org/apache/camel/component/robotframework/RobotFrameworkEndpoint.java
Labels: components, catalog, camel-4

#12675 Adding Jenkins file for PPC64LE JDK11
  Jenkinsfile.jdk11.ppc64le
Labels: ci

#12700 Fix typo acitvemq in step-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/step-eip.adoc
Labels: core

#12701 Fix type acitvemq to activemq step-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/step-eip.adoc
Labels: core, camel-4

#12706 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepository.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodec.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodecTest.java
  components/camel-sql/src/test/java/org/malicious/example/Employee.java
Labels: components, camel-4

#12707 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepository.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodec.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodecTest.java
  components/camel-sql/src/test/java/org/malicious/example/Employee.java
Labels: components

#12708 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepository.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodec.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodecTest.java
  components/camel-sql/src/test/java/org/malicious/example/Employee.java
Labels: components, camel-3

#12709 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepository.java
  components/camel-sql/src/main/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodec.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodecTest.java
  components/camel-sql/src/test/java/org/malicious/example/Employee.java
Labels: components

#12716 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/docs/sql-component.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: components, docs, camel-4

#12717 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/docs/sql-component.adoc
Labels: components

#12718 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/docs/sql-component.adoc
Labels: components, camel-3

#12719 CAMEL-20303 - Camel-Sql: Add ObjectInputFilter String pattern paramet…
  components/camel-sql/src/main/docs/sql-component.adoc
Labels: components

#12704 CAMEL-20231: use an unmodifiable list instead of copying the old one
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRouteStartupOrder.java
Labels: core, camel-4

#12670 [CAMEL-20298] Enhancing JSONata Compatibility for Full Reference Port
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jsonata.json
  components/camel-jsonata/pom.xml
  components/camel-jsonata/src/generated/resources/org/apache/camel/component/jsonata/jsonata.json
  components/camel-jsonata/src/main/java/org/apache/camel/component/jsonata/JsonataEndpoint.java
  components/camel-jsonata/src/test/java/org/apache/camel/component/jsonata/JsonataFirstSampleTest.java
  components/camel-jsonata/src/test/resources/org/apache/camel/component/jsonata/firstSample/expressions.spec
  components/camel-jsonata/src/test/resources/org/apache/camel/component/jsonata/firstSample/output.json
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  parent/pom.xml
Labels: components, catalog, docs, core-build-and-dependencies, camel-4

#12002 CAMEL-20044 remove lastResult from Kafka Camel component
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/ProcessingResult.java
Labels: components, components-kafka

#12720 CAMEL-18969 - Support mongodb connection string/uri to configure came…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/mongodb.json
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/MongoDbEndpointConfigurer.java
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/MongoDbEndpointUriFactory.java
  components/camel-mongodb/src/generated/resources/org/apache/camel/component/mongodb/mongodb.json
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MongoDbEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#12732 Revert "Bump org.apache.camel.k:camel-k-crds from 2.1.0 to 2.2.0"
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12733 Backport CAMEL-20301
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
Labels: core

#12736 CAMEL-20297 camel-seda: do not swallow interrupted exceptions (leftover)
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaProducer.java
Labels: components, camel-4

#12737 (chores) camel-spring-xml: try to reduce flakiness in test
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/interceptor/TransactedStackSizeBreakOnExceptionTest.java
Labels: components, camel-4

#12738 fix(docs): Update "how-do-i-configure-endpoints.adoc"
  docs/user-manual/modules/faq/pages/how-do-i-configure-endpoints.adoc
Labels: docs, camel-4

#12760 CAMEL-20306 - Camel-CassandraQL: Add ObjectInputFilter String pattern parameter in CassandraAggregationRepository to be used in unmarshall operations
  components/camel-cassandraql/src/main/docs/cql-component.adoc
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraAggregationRepository.java
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodec.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodecTest.java
  components/camel-cassandraql/src/test/java/org/malicious/example/Employee.java
Labels: components

#12759 CAMEL-20306 - Camel-CassandraQL: Add ObjectInputFilter String pattern parameter in CassandraAggregationRepository to be used in unmarshall operations
  components/camel-cassandraql/src/main/docs/cql-component.adoc
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraAggregationRepository.java
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodec.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodecTest.java
  components/camel-cassandraql/src/test/java/org/malicious/example/Employee.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: components, docs, camel-4

#12761 CAMEL-20306 - Camel-CassandraQL: Add ObjectInputFilter String pattern parameter in CassandraAggregationRepository to be used in unmarshall operations
  components/camel-cassandraql/src/main/docs/cql-component.adoc
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraAggregationRepository.java
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodec.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodecTest.java
  components/camel-cassandraql/src/test/java/org/malicious/example/Employee.java
Labels: components, camel-3

#12762 CAMEL-20306 - Camel-CassandraQL: Add ObjectInputFilter String pattern parameter in CassandraAggregationRepository to be used in unmarshall operations
  components/camel-cassandraql/src/main/docs/cql-component.adoc
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraAggregationRepository.java
  components/camel-cassandraql/src/main/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodec.java
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodecTest.java
  components/camel-cassandraql/src/test/java/org/malicious/example/Employee.java
Labels: components

#12753 CAMEL-20297 camel-aws2-sqs: do not swallow interrupted exceptions
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
Labels: components, components-aws, camel-4

#12754 Improve data type resolving in YAML Pipe loader
  core/camel-api/src/main/java/org/apache/camel/spi/TransformerResolver.java
  core/camel-core/src/test/java/org/apache/camel/processor/transformer/ByteArrayDataTypeTransformerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/transformer/StringDataTypeTransformerTest.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/YamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/PipeLoaderTest.groovy
Labels: core, dsl, camel-4

#12757 CAMEL-20297 camel-dhis2: do not swallow interrupted exceptions
  components/camel-dhis2/camel-dhis2-api/src/main/java/org/apache/camel/component/dhis2/api/Dhis2ResourceTables.java
Labels: components, camel-4

#12756 CAMEL-20297 camel-mock: do not swallow interrupted exceptions
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
Labels: components, camel-4

#12771 Regen endpointdsl
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DynamicRouterControlEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FileWatchEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FtpEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FtpsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/RobotFrameworkEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SalesforceEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SftpEndpointBuilderFactory.java
Labels: dsl, camel-4

#12770 Camel-CloudEvents: Fixed failing test
  components/camel-cloudevents/src/test/java/org/apache/camel/component/cloudevents/transformer/CloudEventJsonDataTypeTransformerTest.java
Labels: components, camel-4

#12768 Fix main branch for Jbang Camel K IntegrationRunTest
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: dsl, camel-4

#12776 CAMEL-20334 - AWS S3 cloudevents data type does not set proper data C…
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/transform/AWS2S3CloudEventDataTypeTransformer.java
  components/camel-cloudevents/src/main/java/org/apache/camel/component/cloudevents/CloudEvent.java
Labels: components, components-aws, camel-4

#12772 CAMEL-20297 camel-etcd3: do not swallow interrupted exceptions
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/processor/aggregate/Etcd3AggregationRepository.java
Labels: components, camel-4

#12773 CAMEL-20297 camel-file: do not swallow interrupted exceptions
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFilePollingConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/FileChangedExclusiveReadLockStrategy.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/FileLockExclusiveReadLockStrategy.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/GenericFileRenameExclusiveReadLockStrategy.java
Labels: components, camel-4

#12778 CAMEL-20113: camel/tests consolidating
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpClientChunkedResponseTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JMSTransactionIsTransactedRedeliveredTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/nettyhttp/NettyHttpClientChunkedResponseTest.java
  tests/camel-itest/src/test/resources/org/apache/camel/itest/jms/JMSTransactionIsTransactedRedeliveredTest.xml
Labels: components, tests, camel-4

#12793 Get Back to Spring 6.1.2 until Spring Boot release
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12788 Saxon 'getStructuredVersionNumber' has no parameter: https://www.saxo…
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XmlConverter.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/support/builder/xml/XMLConverterHelper.java
Labels: core, camel-4

#12792 CAMEL-20297 camel-jbang: do not swallow interrupted exceptions
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/TransformRoute.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/ActionBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelRouteDumpAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSendAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStartupRecorderAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStubAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelThreadDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/RouteControllerAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/TransformMessageAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Hawtio.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DownloadThreadPool.java
Labels: dsl, camel-4

#12777 CAMEL-20218: Use a single Kafka consumer with assign() call
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
Labels: components, components-kafka, camel-4

#12803 CAMEL-20335: component-test - Exclude target folders
  .github/actions/component-test/component-test.sh
Labels: camel-4

#12805 Azure Storage Blob cloudevents data type does not set proper data Con…
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/transform/AzureStorageBlobCloudEventDataTypeTransformer.java
Labels: components, components-azure, camel-4

#12806 Azure Storage Queue cloudevents data type does not set proper data Co…
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/transform/AzureStorageQueueCloudEventDataTypeTransformer.java
  components/camel-cloudevents/src/main/java/org/apache/camel/component/cloudevents/CloudEvent.java
Labels: components, components-azure, camel-4

#12811 Update PathVisitor.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/PathVisitor.java
Labels: tooling, camel-4

#12815 Upgrade CycloneDX Maven Plugin to version 2.7.11
  pom.xml
Labels: camel-4

#12804 CAMEL-20297 camel-salesforce: do not swallow interrupted exceptions
  components/camel-salesforce/camel-salesforce-codegen/src/main/java/org/apache/camel/component/salesforce/codegen/ObjectDescriptions.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceMetaDataExtension.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/SalesforceSession.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/AbstractClientBase.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/processor/QueryResultIterator.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/PushTopicHelper.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
Labels: components, camel-4

#12819 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessionCredentials to support temporary credentials - AWS S3
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/sensitive-keys.json
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3ComponentConfigurer.java
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointConfigurer.java
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointUriFactory.java
  components/camel-aws/camel-aws2-s3/src/generated/resources/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Component.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Configuration.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/client/AWS2S3ClientFactory.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/client/impl/AWS2S3ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWSS3ClientFactoryTest.java
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
Labels: components, core, catalog, components-aws, camel-4

#12820 CAMEL-16064: preliminary refactoring of camel-kafka
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/AbstractKafkaRecordProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/ProcessingResult.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/OffsetPartitionAssignmentAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/streaming/KafkaRecordStreamingProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/streaming/KafkaRecordStreamingProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
Labels: components, components-kafka, camel-4

#12798 Dynamic Router EIP Component: Code quality improvements and more test coverage.
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlChannelSendDynamicAware.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlComponent.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlConfiguration.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlConstants.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlEndpoint.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlMessage.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlProducer.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlService.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/filter/DynamicRouterFilterService.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/filter/PrioritizedFilter.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/filter/PrioritizedFilterStatistics.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterComponent.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterConfiguration.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterConstants.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterEndpoint.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterProcessor.java
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterRecipientListHelper.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlChannelSendDynamicAwareTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlComponentTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlEndpointTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlProducerTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlServiceTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/filter/DynamicRouterFilterServiceTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterComponentTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterEndpointTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterProcessorTest.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/routing/DynamicRouterRecipientListHelperTest.java
  components/camel-dynamic-router/src/test/resources/org/apache/camel/component/dynamicrouter/integration/DynamicRouterJmxIT-context.xml
Labels: components, camel-4

#12822 CAMEL-20292 fixed inverted flags
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/console/DependencyDownloaderConsole.java
Labels: dsl, camel-4

#12825 CAMEL-20339: camel-yaml-dsl - Fix Saga EIP with options not working.
  core/camel-core-model/src/main/java/org/apache/camel/model/PropertyExpressionDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/CustomResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/SagaTest.groovy
Labels: core, dsl, camel-4

#12821 fix binary operator match problem
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleTokenizer.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleParserPredicateTest.java
Labels: core, camel-4

#12833 CAMEL-20346: Comparison with type converters and stream caching shoul…
  core/camel-core/src/test/java/org/apache/camel/processor/StreamCachingChoiceTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/StreamCachingChoiceWithVariableTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ThrottlerMethodCallTest.java
  core/camel-core/src/test/java/org/apache/camel/util/ObjectHelperTest.java
  core/camel-core/src/test/resources/org/apache/camel/util/foo.txt
  core/camel-core/src/test/resources/org/apache/camel/util/quote.txt
  core/camel-support/src/main/java/org/apache/camel/support/ObjectHelper.java
Labels: core, camel-4

#12839 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessionCredentials to support temporary credentials - AWS SQS
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sqs.json
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2ComponentConfigurer.java
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2EndpointConfigurer.java
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2EndpointUriFactory.java
  components/camel-aws/camel-aws2-sqs/src/generated/resources/org/apache/camel/component/aws2/sqs/aws2-sqs.json
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Component.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Configuration.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/client/Sqs2ClientFactory.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/client/impl/Sqs2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#12840 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessionCredentials to support temporary credentials - AWS SNS
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2ComponentConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointUriFactory.java
  components/camel-aws/camel-aws2-sns/src/generated/resources/org/apache/camel/component/aws2/sns/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Component.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Configuration.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/client/Sns2ClientFactory.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/client/impl/Sns2ClientSessionTokenImpl.java
Labels: components, catalog, components-aws, camel-4

#12846 (chores) camel-kafka: stop skipping some tests on aarch64
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReplayOldMessagesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsynchCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSynchCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerHealthCheckIT.java
Labels: components, components-kafka, camel-4

#12847 github links are handled later on
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#12842 CAMEL-20297 camel-zookeeper: do not swallow interrupted exceptions
  components/camel-zookeeper-master/src/main/java/org/apache/camel/component/zookeepermaster/group/internal/ZooKeeperGroup.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/ConnectionHolder.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/ZooKeeperConsumer.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/AnyOfOperations.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/CreateOperation.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/DeleteOperation.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/ExistenceChangedOperation.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/ExistsOperation.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/GetChildrenOperation.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/GetDataOperation.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/operations/SetDataOperation.java
Labels: components, camel-4

#12856 CAMEL-20294: remove camel-facebook
  components/fix-eip-xrefs.sh
  docs/components/modules/ROOT/nav.adoc
  dsl/camel-componentdsl/src/generated/resources/metadata.json
Labels: components, docs, dsl, camel-4

#12861 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessionCredentials to support temporary credentials - AWS SES
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ses.json
  components/camel-aws/camel-aws2-ses/src/generated/java/org/apache/camel/component/aws2/ses/Ses2ComponentConfigurer.java
  components/camel-aws/camel-aws2-ses/src/generated/java/org/apache/camel/component/aws2/ses/Ses2EndpointConfigurer.java
  components/camel-aws/camel-aws2-ses/src/generated/java/org/apache/camel/component/aws2/ses/Ses2EndpointUriFactory.java
  components/camel-aws/camel-aws2-ses/src/generated/resources/org/apache/camel/component/aws2/ses/aws2-ses.json
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2Component.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2Configuration.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/client/Ses2ClientFactory.java
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/client/impl/Ses2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-ses/src/test/java/org/apache/camel/component/aws2/ses/Ses2ClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#12860 CAMEL-20353: disabled camel-rest-openapi test
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiRequestValidationTest.java
Labels: components, camel-4

#12862 (chores) camel-json-validator: fix test
  components/camel-json-validator/src/test/java/org/apache/camel/component/jsonvalidator/JsonValidationExceptionTest.java
Labels: components, camel-4

#12844 CAMEL-19519 - camel-file: replace Thread.sleep in tests.
  core/camel-core/src/test/java/org/apache/camel/component/file/DirectoryCreateIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeNoopIdempotentEnabledTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumePollEnrichFileIdleEventTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumePollEnrichFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentKeyChangedIssue2Test.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentRefTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerPollStrategyNotBeginTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilePollingConsumerTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDoneFileNameDeleteTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDoneFileNamePrefixTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDoneFileNameSimplePrefixTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDoneFileNameSuffixTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDoneFileNameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDualDoneFileNameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerPreMoveDoneFileNameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerShouldSkipDoneFilePrefixTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerShouldSkipDoneFileSuffixTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerShouldSkipDoneFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/cluster/FileLockClusteredRoutePolicyFactoryTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/cluster/FileLockClusteredRoutePolicyTest.java
Labels: core, camel-4

#12865 Imporve azure blob SAS doc
  components/camel-azure/camel-azure-storage-blob/src/main/docs/azure-storage-blob-component.adoc
Labels: components, components-azure, camel-4

#12864 Revert log4j to version 2.21.1 to match spring-boot-dependencies
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12875 CAMEL-20344 - Upgrade to Spring 6.1.3
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#12874 (chores) camel-file: cleanup code duplications
  components/camel-file/src/main/java/org/apache/camel/component/file/FileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileOperations.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileSendDynamicAware.java
Labels: components, camel-4

#12877 Upgrade Infinispan container image version to 14.0.22.Final for test-…
  test-infra/camel-test-infra-infinispan/src/test/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#12848 CAMEL-20253: camel-jbang - Add support for jolokia 2.x
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-platform-http-main/pom.xml
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/jolokia/JolokiaHttpRequestHandlerSupport.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/MainHttpServerJolokiaTest.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
  dsl/camel-jbang/camel-jbang-core/pom.xml
  parent/pom.xml
Labels: components, core, catalog, dsl, core-build-and-dependencies, camel-4

#12883 CAMEL-20362 - Camel-Netty-HTTP: Headers validation should be enabled …
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
Labels: components, camel-4

#12884 CAMEL-20362 - Camel-Netty-HTTP: Headers validation should be enabled …
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
Labels: components

#12891 CAMEL-20350: camel-observation - Fix Micrometer should use real null …
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationTracer.java
Labels: components, camel-4

#12893 CAMEL-20360: Improve and tidy camel-jasypt documentation
  components/camel-jasypt/src/main/docs/jasypt.adoc
Labels: components, camel-4

#12892 CAMEL-20363: camel-jms - Make getting JMSCorrelationID more roboust f…
  components/camel-jms/src/main/java/org/apache/camel/component/jms/EndpointMessageListener.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsBinding.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsMessageHelper.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsProducer.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/ReplyManagerSupport.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeliveryDelayTest.java
Labels: components, components-jms, camel-4

#12894 CAMEL-20364: camel-jms - Remove JMSCorrelationIDAsBytes header as its…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jms.json
  components/camel-activemq/src/generated/resources/org/apache/camel/component/activemq/activemq.json
  components/camel-amqp/src/generated/resources/org/apache/camel/component/amqp/amqp.json
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsComponentConfigurer.java
  components/camel-jms/src/generated/resources/org/apache/camel/component/jms/jms.json
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsBinding.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsComponent.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConstants.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsMessageHelper.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ActivemqComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AmqpComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2S3ComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2SesComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2SnsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2SqsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DynamicRouterControlComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JmsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RobotframeworkComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SalesforceComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AMQPEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ActiveMQEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JmsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Ses2EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Sns2EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Sqs2EndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, components-jms, camel-4

#12895 CAMEL-20366 - Dependabot: Define some exclusions in the yaml configur…
  .github/dependabot.yml
Labels: camel-4

#12897 CAMEL-20353: Fix rest-openapi 3.1 test for requestValidationWithJsonBodyAndMissingMandatoryFields
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiRequestValidationTest.java
  components/camel-rest-openapi/src/test/resources/petstore-3.1.yaml
Labels: components, camel-4

#12898 Exchange properties
  components/camel-freemarker/src/main/java/org/apache/camel/component/freemarker/FreemarkerEndpoint.java
  components/camel-freemarker/src/test/resources/org/apache/camel/component/freemarker/example.ftl
  components/camel-groovy/src/main/docs/groovy-language.adoc
  components/camel-groovy/src/test/java/org/apache/camel/language/groovy/GroovyLanguageTest.java
  components/camel-stringtemplate/src/main/java/org/apache/camel/component/stringtemplate/StringTemplateEndpoint.java
  components/camel-thymeleaf/src/main/java/org/apache/camel/component/thymeleaf/ThymeleafEndpoint.java
  components/camel-velocity/src/main/java/org/apache/camel/component/velocity/VelocityEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
Labels: components, core, camel-4

#12879 CAMEL-19241: implement support for auto-commits with batching in camel-kafka
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/CommitManagers.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/batching/BatchingProcessingITSupport.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/batching/KafkaBatchingProcessingAutoCommitErrorHandlingIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/batching/KafkaBatchingProcessingAutoCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/batching/KafkaBatchingProcessingManualCommitIT.java
Labels: components, components-kafka, camel-4

#12904 CAMEL-20278: upgrade wildfly-elytron to 2.x
  components/camel-elytron/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#12905 CAMEL-20338: camel-jms - Store header with actual JMS destination nam…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jms.json
  components/camel-activemq/src/generated/resources/org/apache/camel/component/activemq/activemq.json
  components/camel-amqp/src/generated/resources/org/apache/camel/component/amqp/amqp.json
  components/camel-jms/src/generated/resources/org/apache/camel/component/jms/jms.json
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsBinding.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsComponent.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConstants.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsMessageHelper.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsProducer.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/ReplyManagerSupport.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDestinationProducedHeaderTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JmsEndpointBuilderFactory.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStartupRecorderAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStubAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelThreadDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/RouteControllerAction.java
Labels: components, catalog, dsl, components-jms, camel-4

#12916 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-cloudtrail.json
  components/camel-aws/camel-aws-cloudtrail/src/generated/java/org/apache/camel/component/aws/cloudtrail/CloudtrailComponentConfigurer.java
  components/camel-aws/camel-aws-cloudtrail/src/generated/java/org/apache/camel/component/aws/cloudtrail/CloudtrailEndpointConfigurer.java
  components/camel-aws/camel-aws-cloudtrail/src/generated/java/org/apache/camel/component/aws/cloudtrail/CloudtrailEndpointUriFactory.java
  components/camel-aws/camel-aws-cloudtrail/src/generated/resources/org/apache/camel/component/aws/cloudtrail/aws-cloudtrail.json
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailComponent.java
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailConfiguration.java
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/client/CloudtrailClientFactory.java
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/client/impl/CloudtrailClientSessionTokenImpl.java
  components/camel-aws/camel-aws-cloudtrail/src/test/java/org/apache/camel/component/aws/cloudtrail/CloudtrailClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#12917 CAMEL-19956 camel-jbang: added support for custom logging configuration
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
Labels: dsl, camel-4

#12931 CAMEL-20374: Disable failing test so we can have CI test pass on came…
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/integration/MessageOrderingIT.java
Labels: components, camel-4

#12932 Upgade google http client 1.44.1
  components/camel-google/camel-google-calendar/pom.xml
  components/camel-google/camel-google-drive/pom.xml
  components/camel-google/camel-google-mail/pom.xml
  components/camel-google/camel-google-sheets/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#12938 Update Jenkinsfile.jdk17
  Jenkinsfile.jdk17
Labels: ci, camel-4

#12939 Update Jenkinsfile.jdk21
  Jenkinsfile.jdk21
Labels: ci, camel-4

#12940 Update Jenkinsfile.ppc64le
  Jenkinsfile.ppc64le
Labels: ci, camel-4

#12944 Update Jenkinsfile.deploy
  Jenkinsfile.deploy
Labels: ci, camel-4

#12935 maven-plugin-plugin - Add goalPrefix
  catalog/camel-csimple-maven-plugin/pom.xml
  catalog/camel-csimple-maven-plugin/src/main/docs/camel-csimple-maven-plugin.adoc
  catalog/camel-csimple-maven-plugin/src/main/java/org/apache/camel/maven/GenerateMojo.java
  catalog/camel-report-maven-plugin/pom.xml
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/pom.xml
  tooling/maven/bom-generator-maven-plugin/pom.xml
  tooling/maven/camel-api-component-maven-plugin/pom.xml
  tooling/maven/camel-component-maven-plugin/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
  tooling/maven/camel-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/pom.xml
  tooling/maven/sync-properties-maven-plugin/pom.xml
Labels: components, catalog, dsl, tooling, tooling-maven, camel-4

#12945 Upgrade Localstack container image to version 3.1.0
  test-infra/camel-test-infra-aws-v2/src/test/resources/org/apache/camel/test/infra/aws2/services/container.properties
Labels: test-infra, camel-4

#12947 Fix of NPE in IcalDatsFormat (Camel-20375)
  components/camel-ical/src/main/java/org/apache/camel/component/ical/ICalDataFormat.java
  components/camel-ical/src/test/java/org/apache/camel/component/ical/ICalDataFormatTest.java
Labels: components, camel-4

#12949 CAMEL-20372: Change max.poll.interval.ms type from Long to Integer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaComponentConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointConfigurer.java
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
  tooling/maven/camel-package-maven-plugin/src/test/resources/json/test_component.json
Labels: components, components-kafka, catalog, dsl, tooling, tooling-maven

#12956 camel-kudu: Make component dependency doc consistent with other components
  components/camel-kudu/src/main/docs/kudu-component.adoc
Labels: components, camel-4

#12948 CAMEL-20218: On startup populate local cache synchronously
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaConsumerUtil.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaConsumerUtilsTest.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryPersistenceIT.java
Labels: components, components-kafka, camel-4

#12954 CAMEL-20218: On startup populate local cache synchronously - branch 3.22.x
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaConsumerUtil.java
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaConsumerUtilsTest.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryPersistenceIT.java
Labels: components, components-kafka

#12955 CAMEL-20379: Camel CLI infra, add maven repos config
  dsl/camel-jbang/camel-jbang-it/README.adoc
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  test-infra/camel-test-infra-cli/README.adoc
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/common/CliProperties.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliBuiltContainer.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliLocalContainerService.java
  test-infra/camel-test-infra-cli/src/test/resources/org/apache/camel/test/infra/cli/services/Dockerfile
  test-infra/camel-test-infra-cli/src/test/resources/org/apache/camel/test/infra/cli/services/entrypoint.sh
Labels: dsl, test-infra, camel-4

#12953 CAMEL-20202: Read Azure BinaryData as stream
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/QueueConsumer.java
  components/camel-azure/camel-azure-storage-queue/src/test/java/org/apache/camel/component/azure/storage/queue/integration/StorageQueueConsumerIT.java
Labels: components, components-azure, camel-4

#12964 CAMEL-20376: camel-xpath - XPath language add support for variables
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/tokenize.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/xpath.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/xquery.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/xtokenize.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/tokenize.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/xpath.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/xquery.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/xtokenize.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-saxon/src/generated/resources/org/apache/camel/language/xquery/xquery.json
  components/camel-saxon/src/main/java/org/apache/camel/component/xquery/XQueryBuilder.java
  components/camel-saxon/src/main/java/org/apache/camel/language/xquery/XQueryLanguage.java
  components/camel-stax/src/generated/resources/org/apache/camel/language/xtokenizer/xtokenize.json
  components/camel-stax/src/main/java/org/apache/camel/language/xtokenizer/XMLTokenExpressionIterator.java
  components/camel-stax/src/main/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguage.java
  components/camel-xpath/src/generated/resources/org/apache/camel/language/xpath/xpath.json
  core/camel-core-languages/src/generated/resources/org/apache/camel/language/tokenizer/tokenize.json
  core/camel-core-languages/src/main/java/org/apache/camel/language/tokenizer/TokenizeLanguage.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/language/tokenize.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/language/xpath.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/language/xquery.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/language/xtokenize.json
  core/camel-core-model/src/main/java/org/apache/camel/model/language/SingleInputExpressionDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/TokenizerExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XMLTokenizerExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XPathExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XQueryExpressionReifier.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4
