Repository apache/camel, pull requests merged in 2024-02, with the labels that each got.

#12969 (chores) minor code cleanups
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JavaJoorClassLoader.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/jolokia/JolokiaHttpRequestHandlerSupport.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiValidationException.java
  components/camel-ssh/src/main/java/org/apache/camel/component/ssh/SshUtils.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultDumpRoutesStrategy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: components, core, dsl, camel-4

#12970 AMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessionCredentials to support temporary credentials - AWS Config
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-config.json
  components/camel-aws/camel-aws-config/src/generated/java/org/apache/camel/component/aws/config/AWSConfigComponentConfigurer.java
  components/camel-aws/camel-aws-config/src/generated/java/org/apache/camel/component/aws/config/AWSConfigEndpointConfigurer.java
  components/camel-aws/camel-aws-config/src/generated/java/org/apache/camel/component/aws/config/AWSConfigEndpointUriFactory.java
  components/camel-aws/camel-aws-config/src/generated/resources/org/apache/camel/component/aws/config/aws-config.json
  components/camel-aws/camel-aws-config/src/main/java/org/apache/camel/component/aws/config/AWSConfigComponent.java
  components/camel-aws/camel-aws-config/src/main/java/org/apache/camel/component/aws/config/AWSConfigConfiguration.java
  components/camel-aws/camel-aws-config/src/main/java/org/apache/camel/component/aws/config/client/AWSConfigClientFactory.java
  components/camel-aws/camel-aws-config/src/main/java/org/apache/camel/component/aws/config/client/impl/AWSConfigClientSessionTokenImpl.java
  components/camel-aws/camel-aws-config/src/test/java/org/apache/camel/component/aws/config/AWSConfigClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#12972 Camel 20281 s3 refine
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/client/impl/AWS2S3ClientSessionTokenImpl.java
Labels: components, components-aws, camel-4

#12980 Configuration of languages should be consistent (part 1)
  components/camel-bean/src/main/java/org/apache/camel/language/bean/BeanLanguage.java
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetLanguage.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JavaLanguage.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqLanguage.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathLanguage.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathLanguageTest.java
  components/camel-saxon/src/main/java/org/apache/camel/language/xquery/XQueryLanguage.java
  components/camel-stax/src/main/java/org/apache/camel/language/xtokenizer/XMLTokenExpressionIterator.java
  components/camel-stax/src/main/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguage.java
  components/camel-wasm/src/main/java/org/apache/camel/language/wasm/WasmExpression.java
  components/camel-wasm/src/main/java/org/apache/camel/language/wasm/WasmLanguage.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathLanguage.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/tokenizer/TokenizeLanguage.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClause.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClauseSupport.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/MethodCallExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/WasmExpressionReifier.java
  core/camel-core/src/test/java/org/apache/camel/language/TokenizerTest.java
  core/camel-core/src/test/java/org/apache/camel/support/CustomizersTest.java
  core/camel-support/src/main/java/org/apache/camel/support/SingleInputLanguageSupport.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  dsl/camel-kotlin-dsl/src/test/kotlin/org/apache/camel/dsl/kotlin/KotlinRoutesBuilderLoaderTest.kt
  dsl/camel-kotlin-dsl/src/test/resources/routes/routes-with-languages-configuration.kts
Labels: components, core, docs, dsl, camel-4

#12982 CAMEL-20380: fixed incomplete batching on poll timeout
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/batching/BatchingProcessingITSupport.java
Labels: components, components-kafka, camel-4

#12981 CAMEL-20387: tracing-headers should be case insensitive
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ExtractAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/propagation/CamelHeadersExtractAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/propagation/CamelMessagingHeadersExtractAdapter.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/propagation/CamelMessagingHeadersExtractAdapterTest.java
Labels: components, camel-4

#12984 Lang4
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/xquery.json
  components/camel-hl7/src/main/java/org/apache/camel/component/hl7/Hl7TerserLanguage.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqExpression.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqLanguage.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionFromHeaderOrPropertyTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionFromHeaderTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionFromPropertyTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqSimpleTransformVariableTest.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPath.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathAnnotationExpressionFactory.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathEngine.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathExpression.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathLanguage.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathLanguageTest.java
  components/camel-saxon/src/generated/java/org/apache/camel/component/xquery/XQueryEndpointConfigurer.java
  components/camel-saxon/src/generated/java/org/apache/camel/component/xquery/XQueryEndpointUriFactory.java
  components/camel-saxon/src/generated/resources/org/apache/camel/component/xquery/xquery.json
  components/camel-saxon/src/main/java/org/apache/camel/component/xquery/XQuery.java
  components/camel-saxon/src/main/java/org/apache/camel/component/xquery/XQueryAnnotationExpressionFactory.java
  components/camel-saxon/src/main/java/org/apache/camel/component/xquery/XQueryBuilder.java
  components/camel-saxon/src/main/java/org/apache/camel/component/xquery/XQueryEndpoint.java
  components/camel-saxon/src/main/java/org/apache/camel/language/xquery/XQueryLanguage.java
  components/camel-stax/src/main/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguage.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPath.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathAnnotationExpressionFactory.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathBuilder.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathLanguage.java
  core/camel-api/src/main/java/org/apache/camel/NoSuchHeaderException.java
  core/camel-api/src/main/java/org/apache/camel/NoSuchPropertyException.java
  core/camel-api/src/main/java/org/apache/camel/NoSuchVariableException.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClauseSupport.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/JsonPathExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XPathExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XQueryExpressionReifier.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/SingleInputLanguageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/SingleInputTypedLanguageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  dsl/camel-groovy-dsl/camel-groovy-dsl-test/src/test/groovy/org/apache/camel/dsl/groovy/GroovyRouteBuilderLoaderTest.groovy
  dsl/camel-groovy-dsl/camel-groovy-dsl-test/src/test/resources/routes/routes-with-languages-configuration.groovy
Labels: components, core, catalog, dsl, camel-4

#12986 Lang5
  components/camel-bean/src/main/java/org/apache/camel/language/bean/BeanLanguage.java
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetLanguage.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JavaAnnotationExpressionFactory.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JavaLanguage.java
  components/camel-joor/src/main/java/org/apache/camel/language/joor/JoorAnnotationExpressionFactory.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqLanguage.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathLanguage.java
  components/camel-language/src/main/java/org/apache/camel/component/language/LanguageEndpoint.java
  components/camel-language/src/main/java/org/apache/camel/component/language/LanguageProducer.java
  components/camel-saxon/src/main/java/org/apache/camel/language/xquery/XQueryLanguage.java
  components/camel-wasm/src/main/java/org/apache/camel/language/wasm/WasmLanguage.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathLanguage.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleLanguage.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/JavaExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/JoorExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/MethodCallExpressionReifier.java
  core/camel-support/src/main/java/org/apache/camel/support/SingleInputTypedLanguageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/TypedLanguageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: components, core, camel-4

#12995 CAMEL-20386: camel-jq - Add @Jq annotation for bean parameter binding…
  components/camel-jq/src/main/java/org/apache/camel/language/jq/Jq.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqAnnotationExpressionFactory.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqExpression.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqBeanTest.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqExpressionTest.java
Labels: components, camel-4

#13002 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-secrets-manager.json
  components/camel-aws/camel-aws-secrets-manager/src/generated/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerComponentConfigurer.java
  components/camel-aws/camel-aws-secrets-manager/src/generated/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerEndpointConfigurer.java
  components/camel-aws/camel-aws-secrets-manager/src/generated/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerEndpointUriFactory.java
  components/camel-aws/camel-aws-secrets-manager/src/generated/resources/org/apache/camel/component/aws/secretsmanager/aws-secrets-manager.json
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerComponent.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerConfiguration.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/client/SecretsManagerClientFactory.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/client/impl/SecretsManagerClientSessionTokenImpl.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13004 CAMEL-20378: Languages should be thread-safe and be configured only v…
  components/camel-stax/src/main/java/org/apache/camel/language/xtokenizer/XMLTokenizeLanguage.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/tokenizer/TokenizeLanguage.java
  core/camel-core/src/test/java/org/apache/camel/language/TokenizeLanguageTest.java
  core/camel-support/src/main/java/org/apache/camel/support/IteratorConvertTo.java
Labels: components, core, camel-4

#13003 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-athena.json
  components/camel-aws/camel-aws2-athena/src/generated/java/org/apache/camel/component/aws2/athena/Athena2ComponentConfigurer.java
  components/camel-aws/camel-aws2-athena/src/generated/java/org/apache/camel/component/aws2/athena/Athena2EndpointConfigurer.java
  components/camel-aws/camel-aws2-athena/src/generated/java/org/apache/camel/component/aws2/athena/Athena2EndpointUriFactory.java
  components/camel-aws/camel-aws2-athena/src/generated/resources/org/apache/camel/component/aws2/athena/aws2-athena.json
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2Component.java
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2Configuration.java
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/client/Athena2ClientFactory.java
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/client/impl/Athena2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-athena/src/test/java/org/apache/camel/component/aws2/athena/AthenaClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13006 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-cw.json
  components/camel-aws/camel-aws2-cw/src/generated/java/org/apache/camel/component/aws2/cw/Cw2ComponentConfigurer.java
  components/camel-aws/camel-aws2-cw/src/generated/java/org/apache/camel/component/aws2/cw/Cw2EndpointConfigurer.java
  components/camel-aws/camel-aws2-cw/src/generated/java/org/apache/camel/component/aws2/cw/Cw2EndpointUriFactory.java
  components/camel-aws/camel-aws2-cw/src/generated/resources/org/apache/camel/component/aws2/cw/aws2-cw.json
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2Component.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2Configuration.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/client/Cw2ClientFactory.java
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/client/impl/Cw2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-cw/src/test/java/org/apache/camel/component/aws2/cw/Cw2ClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13008 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/java/org/apache/camel/component/aws2/ec2/AWS2EC2ComponentConfigurer.java
  components/camel-aws/camel-aws2-ec2/src/generated/java/org/apache/camel/component/aws2/ec2/AWS2EC2EndpointConfigurer.java
  components/camel-aws/camel-aws2-ec2/src/generated/java/org/apache/camel/component/aws2/ec2/AWS2EC2EndpointUriFactory.java
  components/camel-aws/camel-aws2-ec2/src/generated/resources/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2Component.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2Configuration.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/client/AWS2EC2ClientFactory.java
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/client/impl/AWS2EC2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-ec2/src/test/java/org/apache/camel/component/aws2/ec2/AWS2EC2ClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13009 Lang8
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-secrets-manager.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-athena.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/datasonnet.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/datasonnet.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-datasonnet/src/generated/resources/org/apache/camel/language/datasonnet/datasonnet.json
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetExpression.java
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetLanguage.java
  components/camel-datasonnet/src/test/java/org/apache/camel/language/DatasonnetLanguageTest.java
  core/camel-core-model/src/generated/resources/org/apache/camel/model/language/datasonnet.json
  core/camel-core-model/src/main/java/org/apache/camel/model/language/DatasonnetExpression.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/DatasonnetExpressionReifier.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#13011 Make component-test runnable only by organization members
  .github/actions/component-test/action.yaml
  .github/workflows/pr-comment.yml
Labels: camel-4

#13012 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/client/impl/Ses2ClientSessionTokenImpl.java
Labels: components, components-aws, camel-4

#13005 CAMEL-20382: camel-kafka - RecordMetadata header naming convention
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConstants.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/producer/support/ProducerUtil.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaProducerTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaProducerFullIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaTransactionIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, docs, dsl, camel-4

#13017 Upgrade Vault image to 1.15.5
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: test-infra, camel-4

#13019 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-eks.json
  components/camel-aws/camel-aws2-eks/src/generated/java/org/apache/camel/component/aws2/eks/EKS2ComponentConfigurer.java
  components/camel-aws/camel-aws2-eks/src/generated/java/org/apache/camel/component/aws2/eks/EKS2EndpointConfigurer.java
  components/camel-aws/camel-aws2-eks/src/generated/java/org/apache/camel/component/aws2/eks/EKS2EndpointUriFactory.java
  components/camel-aws/camel-aws2-eks/src/generated/resources/org/apache/camel/component/aws2/eks/aws2-eks.json
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2Component.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2Configuration.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/client/EKS2ClientFactory.java
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/client/impl/EKS2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-eks/src/test/java/org/apache/camel/component/aws2/eks/EKS2ClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13020 CAMEL-20391: camel-core - All languages should support expression loa…
  core/camel-core-languages/src/main/java/org/apache/camel/language/constant/ConstantLanguage.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/header/HeaderLanguage.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/variable/VariableLanguage.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/ExpressionReifier.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/SingleInputTypedLanguageSupport.java
Labels: core, camel-4

#13023 Camel JBang test infra: fix version info
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliLocalContainerService.java
Labels: test-infra, camel-4

#13024 Keep DHIS2 component backwards compatible
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
  components/camel-dhis2/pom.xml
Labels: components, camel-4

#13026 Sanitize Splunk HEC URI in thrown exception
  components/camel-splunk-hec/src/generated/java/org/apache/camel/component/splunkhec/SplunkHECEndpointUriFactory.java
  components/camel-splunk-hec/src/generated/resources/org/apache/camel/component/splunkhec/splunk-hec.json
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECEndpoint.java
  components/camel-splunk-hec/src/test/java/org/apache/camel/component/splunkhec/SplunkHECEndpointTest.java
Labels: components, camel-4

#13034 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-eventbridge.json
  components/camel-aws/camel-aws2-eventbridge/src/generated/java/org/apache/camel/component/aws2/eventbridge/EventbridgeComponentConfigurer.java
  components/camel-aws/camel-aws2-eventbridge/src/generated/java/org/apache/camel/component/aws2/eventbridge/EventbridgeEndpointConfigurer.java
  components/camel-aws/camel-aws2-eventbridge/src/generated/java/org/apache/camel/component/aws2/eventbridge/EventbridgeEndpointUriFactory.java
  components/camel-aws/camel-aws2-eventbridge/src/generated/resources/org/apache/camel/component/aws2/eventbridge/aws2-eventbridge.json
  components/camel-aws/camel-aws2-eventbridge/src/main/java/org/apache/camel/component/aws2/eventbridge/EventbridgeComponent.java
  components/camel-aws/camel-aws2-eventbridge/src/main/java/org/apache/camel/component/aws2/eventbridge/EventbridgeConfiguration.java
  components/camel-aws/camel-aws2-eventbridge/src/main/java/org/apache/camel/component/aws2/eventbridge/client/EventbridgeClientFactory.java
  components/camel-aws/camel-aws2-eventbridge/src/main/java/org/apache/camel/component/aws2/eventbridge/client/impl/EventbridgeClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/EventbridgeClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#12968 Adding Jenkins file for PPC64LE JDK21
  Jenkinsfile.ppc64le.jdk21
Labels: ci

#13035 camel-jbang - Upgrade to camel-k 2.2.0 apis
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#13050 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kms.json
  components/camel-aws/camel-aws2-kms/src/generated/java/org/apache/camel/component/aws2/kms/KMS2ComponentConfigurer.java
  components/camel-aws/camel-aws2-kms/src/generated/java/org/apache/camel/component/aws2/kms/KMS2EndpointConfigurer.java
  components/camel-aws/camel-aws2-kms/src/generated/java/org/apache/camel/component/aws2/kms/KMS2EndpointUriFactory.java
  components/camel-aws/camel-aws2-kms/src/generated/resources/org/apache/camel/component/aws2/kms/aws2-kms.json
  components/camel-aws/camel-aws2-kms/src/main/java/org/apache/camel/component/aws2/kms/KMS2Component.java
  components/camel-aws/camel-aws2-kms/src/main/java/org/apache/camel/component/aws2/kms/KMS2Configuration.java
  components/camel-aws/camel-aws2-kms/src/main/java/org/apache/camel/component/aws2/kms/client/KMS2ClientFactory.java
  components/camel-aws/camel-aws2-kms/src/main/java/org/apache/camel/component/aws2/kms/client/impl/KMS2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-kms/src/test/java/org/apache/camel/component/aws2/kms/KMSClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13052 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-lambda.json
  components/camel-aws/camel-aws2-lambda/src/generated/java/org/apache/camel/component/aws2/lambda/Lambda2ComponentConfigurer.java
  components/camel-aws/camel-aws2-lambda/src/generated/java/org/apache/camel/component/aws2/lambda/Lambda2EndpointConfigurer.java
  components/camel-aws/camel-aws2-lambda/src/generated/java/org/apache/camel/component/aws2/lambda/Lambda2EndpointUriFactory.java
  components/camel-aws/camel-aws2-lambda/src/generated/resources/org/apache/camel/component/aws2/lambda/aws2-lambda.json
  components/camel-aws/camel-aws2-lambda/src/main/java/org/apache/camel/component/aws2/lambda/Lambda2Component.java
  components/camel-aws/camel-aws2-lambda/src/main/java/org/apache/camel/component/aws2/lambda/Lambda2Configuration.java
  components/camel-aws/camel-aws2-lambda/src/main/java/org/apache/camel/component/aws2/lambda/client/Lambda2ClientFactory.java
  components/camel-aws/camel-aws2-lambda/src/main/java/org/apache/camel/component/aws2/lambda/client/impl/Lambda2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/LambdaClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13051 CAMEL-20396: Enable KuduClient to be autowired
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kudu.json
  components/camel-kudu/src/generated/java/org/apache/camel/component/kudu/KuduComponentConfigurer.java
  components/camel-kudu/src/generated/resources/org/apache/camel/component/kudu/kudu.json
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduComponent.java
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduEndpoint.java
  components/camel-kudu/src/test/java/org/apache/camel/component/kudu/KuduClientAutowiredTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KuduComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#13054 (doc) Updated the contributing guide
  docs/main/modules/contributing/pages/building.adoc
  docs/main/modules/contributing/pages/index.adoc
  docs/main/modules/contributing/pages/testing-camel.adoc
Labels: docs, camel-4

#13055 CAMEL-20397: fix incorrect details regarding JMS 1.1 and 2.0
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jms.json
  components/camel-activemq/src/generated/resources/org/apache/camel/component/activemq/activemq.json
  components/camel-amqp/src/generated/resources/org/apache/camel/component/amqp/amqp.json
  components/camel-jms/src/generated/resources/org/apache/camel/component/jms/jms.json
  components/camel-jms/src/main/docs/jms-component.adoc
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConfiguration.java
Labels: components, catalog, components-jms, camel-4

#13056 (chores) camel-jms: documentation fixes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jms.json
  components/camel-activemq/src/generated/resources/org/apache/camel/component/activemq/activemq.json
  components/camel-amqp/src/generated/resources/org/apache/camel/component/amqp/amqp.json
  components/camel-jms/src/generated/resources/org/apache/camel/component/jms/jms.json
  components/camel-jms/src/main/docs/jms-component.adoc
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConfiguration.java
Labels: components, catalog, components-jms, camel-4

#13060 CAMEL-20399: String to short type conversion fails
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  core/camel-core/src/test/java/org/apache/camel/impl/converter/TypeConvertersTest.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/TypeConverterLoaderGeneratorMojo.java
Labels: core, tooling, tooling-maven, camel-4

#13057 (chores) camel-kafka: documentation fixes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka, catalog, camel-4

#13062 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-mq.json
  components/camel-aws/camel-aws2-mq/src/generated/java/org/apache/camel/component/aws2/mq/MQ2ComponentConfigurer.java
  components/camel-aws/camel-aws2-mq/src/generated/java/org/apache/camel/component/aws2/mq/MQ2EndpointConfigurer.java
  components/camel-aws/camel-aws2-mq/src/generated/java/org/apache/camel/component/aws2/mq/MQ2EndpointUriFactory.java
  components/camel-aws/camel-aws2-mq/src/generated/resources/org/apache/camel/component/aws2/mq/aws2-mq.json
  components/camel-aws/camel-aws2-mq/src/main/java/org/apache/camel/component/aws2/mq/MQ2Component.java
  components/camel-aws/camel-aws2-mq/src/main/java/org/apache/camel/component/aws2/mq/MQ2Configuration.java
  components/camel-aws/camel-aws2-mq/src/main/java/org/apache/camel/component/aws2/mq/client/MQ2ClientFactory.java
  components/camel-aws/camel-aws2-mq/src/main/java/org/apache/camel/component/aws2/mq/client/impl/MQ2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-mq/src/test/java/org/apache/camel/component/aws2/mq/MQ2ClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13064 CAMEL-20401: Check for potential null Kudu client on endpoint stop
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduEndpoint.java
Labels: components, camel-4

#13065 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-msk.json
  components/camel-aws/camel-aws2-msk/src/generated/java/org/apache/camel/component/aws2/msk/MSK2ComponentConfigurer.java
  components/camel-aws/camel-aws2-msk/src/generated/java/org/apache/camel/component/aws2/msk/MSK2EndpointConfigurer.java
  components/camel-aws/camel-aws2-msk/src/generated/java/org/apache/camel/component/aws2/msk/MSK2EndpointUriFactory.java
  components/camel-aws/camel-aws2-msk/src/generated/resources/org/apache/camel/component/aws2/msk/aws2-msk.json
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2Component.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/MSK2Configuration.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/client/MSK2ClientFactory.java
  components/camel-aws/camel-aws2-msk/src/main/java/org/apache/camel/component/aws2/msk/client/impl/MSK2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-msk/src/test/java/org/apache/camel/component/aws2/msk/MSK2ClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13066 [4.0.x] CAMEL-20401: Check for potential null Kudu client on endpoint stop
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduEndpoint.java
Labels: components

#13067 [3.22.x] CAMEL-20401: Check for potential null Kudu client on endpoint stop
  components/camel-kudu/src/main/java/org/apache/camel/component/kudu/KuduEndpoint.java
Labels: components

#13069 CAMEL-20377: fixes a confusing typo in the pom file
  pom.xml
Labels: camel-4

#13070 CAMEL-20281 - Camel-AWS Components: Make it possible to use AwsSessio…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-redshift-data.json
  components/camel-aws/camel-aws2-redshift/src/generated/java/org/apache/camel/component/aws2/redshift/data/RedshiftData2ComponentConfigurer.java
  components/camel-aws/camel-aws2-redshift/src/generated/java/org/apache/camel/component/aws2/redshift/data/RedshiftData2EndpointConfigurer.java
  components/camel-aws/camel-aws2-redshift/src/generated/java/org/apache/camel/component/aws2/redshift/data/RedshiftData2EndpointUriFactory.java
  components/camel-aws/camel-aws2-redshift/src/generated/resources/org/apache/camel/component/aws2/redshift/data/aws2-redshift-data.json
  components/camel-aws/camel-aws2-redshift/src/main/java/org/apache/camel/component/aws2/redshift/data/RedshiftData2Component.java
  components/camel-aws/camel-aws2-redshift/src/main/java/org/apache/camel/component/aws2/redshift/data/RedshiftData2Configuration.java
  components/camel-aws/camel-aws2-redshift/src/main/java/org/apache/camel/component/aws2/redshift/data/client/RedshiftData2ClientFactory.java
  components/camel-aws/camel-aws2-redshift/src/main/java/org/apache/camel/component/aws2/redshift/data/client/impl/RedshiftData2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-redshift/src/test/java/org/apache/camel/component/aws2/redshift/data/RedshiftData2ClientFactoryTest.java
Labels: components, catalog, components-aws, camel-4

#13071 (chores) camel-avro: documentation fixes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/avro.json
  components/camel-avro-rpc/camel-avro-rpc-component/src/generated/resources/org/apache/camel/component/avro/avro.json
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/docs/avro-component.adoc
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroComponent.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroConfiguration.java
Labels: components, catalog, camel-4

#13072 (chores) camel-avro: minor code cleanups
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroComponent.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroConfiguration.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroListener.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroProducer.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroReflectResponder.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/main/java/org/apache/camel/component/avro/AvroSpecificResponder.java
Labels: components, camel-4

#13074 CAMEL-20400: Support for Knative SinkBinding
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/knative.json
  components/camel-knative/camel-knative-api/src/generated/java/org/apache/camel/component/knative/spi/KnativeSinkBindingConfigurer.java
  components/camel-knative/camel-knative-api/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.knative.spi.KnativeSinkBinding
  components/camel-knative/camel-knative-api/src/main/java/org/apache/camel/component/knative/spi/KnativeResource.java
  components/camel-knative/camel-knative-api/src/main/java/org/apache/camel/component/knative/spi/KnativeSinkBinding.java
  components/camel-knative/camel-knative-api/src/main/java/org/apache/camel/component/knative/spi/KnativeSupport.java
  components/camel-knative/camel-knative-component/pom.xml
  components/camel-knative/camel-knative-component/src/generated/java/org/apache/camel/component/knative/KnativeComponentConfigurer.java
  components/camel-knative/camel-knative-component/src/generated/java/org/apache/camel/component/knative/KnativeEndpointConfigurer.java
  components/camel-knative/camel-knative-component/src/generated/java/org/apache/camel/component/knative/KnativeEndpointUriFactory.java
  components/camel-knative/camel-knative-component/src/generated/resources/org/apache/camel/component/knative/knative.json
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeComponent.java
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeConfiguration.java
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeProducer.java
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeSupport.java
  components/camel-knative/camel-knative-component/src/test/java/org/apache/camel/component/knative/KnativeSinkBindingTest.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KnativeComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KnativeEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#13078 CAMEL-20403: Support Knative Broker reference in Pipe YAML
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/YamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/PipeLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/support/YamlTestSupport.groovy
Labels: dsl, camel-4

#13083 (chores) camel-zeebe: avoid polluting the build
  components/camel-zeebe/pom.xml
Labels: components, camel-4

#13084 (chores) doc: minor contributions clarifications
  docs/main/modules/contributing/pages/index.adoc
Labels: docs, camel-4

#13085 (chores) camel-kafka: fixed an out-of-order section
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka, camel-4

#13086 Route scoped variables
  core/camel-api/src/main/java/org/apache/camel/VariableAware.java
  core/camel-api/src/main/java/org/apache/camel/spi/VariableRepository.java
  core/camel-api/src/main/java/org/apache/camel/spi/VariableRepositoryFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultVariableRepositoryFactory.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/VariablesDevConsole.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClause.java
  core/camel-core/src/test/java/org/apache/camel/processor/SetRouteVariableTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/SetRouteVariableTransferTest.java
  core/camel-main/src/main/java/org/apache/camel/main/MainSupportModelConfigurer.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedNonManagedServiceTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedProducerRouteAddRemoveRegisterAlwaysTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedRouteAddRemoveTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/RouteVariableRepository.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  docs/user-manual/modules/ROOT/pages/variables.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListVariable.java
Labels: core, docs, dsl, camel-4

#13081 CAMEL-20384: Modernize map operations
  components/camel-joor/src/main/java/org/apache/camel/language/joor/CompilationUnit.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Endpoint.java
  components/camel-xchange/src/main/java/org/apache/camel/component/xchange/XChangeComponent.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRuntimeEndpointRegistry.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleLanguage.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/injection/AnnotationDependencyInjection.java
Labels: components, core, dsl, camel-4

#13088 Var trace
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-stub/src/main/java/org/apache/camel/component/stub/StubConsole.java
  core/camel-api/src/main/java/org/apache/camel/spi/BacklogDebugger.java
  core/camel-api/src/main/java/org/apache/camel/spi/BacklogTracer.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogTracer.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-main/src/generated/java/org/apache/camel/main/DebuggerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DebuggerConfigurationProperties.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedBacklogDebuggerMBean.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedBacklogTracerMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBacklogDebugger.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedBacklogTracer.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/kotlin-api.adoc
  docs/user-manual/modules/ROOT/pages/backlog-debugger.adoc
  docs/user-manual/modules/ROOT/pages/backlog-tracer.adoc
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/MessageTableHelper.java
Labels: components, core, catalog, docs, dsl, camel-4

#13087 camel-knative-http: Avoid Nullpointer on KnativeHttpProducer/Consumer factory
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumerFactory.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducerFactory.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpSupport.java
Labels: components, camel-4

#13093 Upgrade Google Secrets Manager BOM to version 2.35.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#13096 CAMEL-20410: documentation fixes for camel-azure-cosmosdb
  components/camel-azure/camel-azure-cosmosdb/src/main/docs/azure-cosmosdb-component.adoc
Labels: components, components-azure, camel-4

#13097 CAMEL-20410: documentation fixes for camel-jms
  components/camel-jms/src/main/docs/jms-component.adoc
Labels: components, components-jms, camel-4

#13108 CAMEL-20415 - AWS Cloudtrail CloudEvent transformer
  components/camel-aws/camel-aws-cloudtrail/pom.xml
  components/camel-aws/camel-aws-cloudtrail/src/generated/resources/META-INF/services/org/apache/camel/transformer/aws-cloudtrail-application-cloudevents
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/transform/CloudtrailCloudEventDataTypeTransformer.java
Labels: components, components-aws, camel-4

#13106 CAMEL-20410: documentation fixes for camel-azure-eventhubs
  components/camel-azure/camel-azure-eventhubs/src/main/docs/azure-eventhubs-component.adoc
  components/camel-azure/camel-azure-files/src/main/docs/azure-files-component.adoc
Labels: components, components-azure, camel-4

#13110 docs: Add JBang plugin documentation
  docs/user-manual/modules/ROOT/pages/camel-jbang-k.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#13112 CAMEL-20418: camel-core - Log EIP should only use source line:name if…
  core/camel-core-engine/src/main/docs/modules/eips/pages/log-eip.adoc
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/LogReifier.java
Labels: core, camel-4

#13115 Upgrade Azurite container to version 3.29.0
  test-infra/camel-test-infra-azure-common/src/test/resources/org/apache/camel/test/infra/azure/common/services/container.properties
Labels: test-infra, camel-4

#13120 camel-jbang: Automatically load main http server for Knative component
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeComponent.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumer.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumerFactory.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducerFactory.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpSupport.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderComponentResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/util/CamelJBangSettingsHelper.java
Labels: components, dsl, camel-4

#13129 Upgrade Infinispan container image to version 14.0.24.Final
  test-infra/camel-test-infra-infinispan/src/test/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#13130 CAMEL-20423 - AWS STS Component: Provide a way of setting the duration of AssumeRoleRequest through header
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sts.json
  components/camel-aws/camel-aws2-sts/src/generated/resources/org/apache/camel/component/aws2/sts/aws2-sts.json
  components/camel-aws/camel-aws2-sts/src/main/java/org/apache/camel/component/aws2/sts/STS2Constants.java
  components/camel-aws/camel-aws2-sts/src/main/java/org/apache/camel/component/aws2/sts/STS2Producer.java
Labels: components, catalog, components-aws, camel-4

#13131 Upgrade Nats container to version 2.10.10
  test-infra/camel-test-infra-nats/src/test/resources/org/apache/camel/test/infra/nats/services/container.properties
Labels: test-infra, camel-4

#13133 Regen
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/transform/CloudtrailCloudEventDataTypeTransformer.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/transform/Ddb2JsonDataTypeTransformer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/transform/AWS2S3CloudEventDataTypeTransformer.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/transform/AWS2SQSCloudEventDataTypeTransformer.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/transform/AzureStorageBlobCloudEventDataTypeTransformer.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/transform/AzureStorageQueueCloudEventDataTypeTransformer.java
  components/camel-cloudevents/src/main/java/org/apache/camel/component/cloudevents/transformer/CloudEventHttpDataTypeTransformer.java
  components/camel-cloudevents/src/main/java/org/apache/camel/component/cloudevents/transformer/CloudEventJsonDataTypeTransformer.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/transform/GoogleSheetsJsonStructDataTypeTransformer.java
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/transform/GoogleStorageCloudEventDataTypeTransformer.java
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroBinaryDataTypeTransformer.java
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroPojoDataTypeTransformer.java
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroStructDataTypeTransformer.java
  components/camel-jackson-protobuf/src/main/java/org/apache/camel/component/jackson/protobuf/transform/ProtobufBinaryDataTypeTransformer.java
  components/camel-jackson-protobuf/src/main/java/org/apache/camel/component/jackson/protobuf/transform/ProtobufPojoDataTypeTransformer.java
  components/camel-jackson-protobuf/src/main/java/org/apache/camel/component/jackson/protobuf/transform/ProtobufStructDataTypeTransformer.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonDataTypeTransformer.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonPojoDataTypeTransformer.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/transform/JsonStructDataTypeTransformer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/STS2EndpointBuilderFactory.java
Labels: components, dsl, components-aws, components-azure, camel-4

#13132 CAMEL-20420: CSimple: use of builder throws UnsupportedOperationExcep…
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleLanguage.java
Labels: core, camel-4

#13135 Multi route loader
  core/camel-api/src/main/java/org/apache/camel/spi/RoutesBuilderLoader.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoutesLoader.java
  dsl/camel-dsl-support/src/main/java/org/apache/camel/dsl/support/RouteBuilderLoaderSupport.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/META-INF/services/org/apache/camel/routes-loader/camel-yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/META-INF/services/org/apache/camel/routes-loader/camel.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/META-INF/services/org/apache/camel/routes-loader/camelk-yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/META-INF/services/org/apache/camel/routes-loader/camelk.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/META-INF/services/org/apache/camel/routes-loader/kamelet.yaml
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/CamelKYamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/CamelYamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/YamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/PipeLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/support/YamlTestSupport.groovy
Labels: core, dsl, camel-4

#13137 (chores) camel-core: added the ability to provide a cause to ObjectHelper.notNull
  core/camel-core/src/test/java/org/apache/camel/util/ObjectHelperTest.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
Labels: core, camel-4

#13138 CAMEL-20410: documentation fixes for camel-datasonnet
  components/camel-datasonnet/src/main/docs/datasonnet-language.adoc
Labels: components, camel-4

#13139 CAMEL-20410: documentation fixes for camel-barcode
  components/camel-barcode/src/main/docs/barcode-dataformat.adoc
Labels: components, camel-4

#13140 Revert "(chores) camel-core: added the ability to provide a cause to ObjectHelper.notNull"
  core/camel-core/src/test/java/org/apache/camel/util/ObjectHelperTest.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
Labels: core, camel-4

#13143 CAMEL-20416 - AWS Kinesis CloudEvent Transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/aws2-kinesis-application-cloudevents.json
  components/camel-aws/camel-aws2-kinesis/pom.xml
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/services/org/apache/camel/transformer/aws2-kinesis-application-cloudevents
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/services/org/apache/camel/transformer/aws2-kinesis-application-cloudevents.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/transform/KinesisCloudEventDataTypeTransformer.java
Labels: components, catalog, components-aws, camel-4

#13141 CAMEL-20410: documentation fixes for camel-bean
  components/camel-bean/src/main/docs/bean-component.adoc
  components/camel-bean/src/main/docs/bean-language.adoc
  components/camel-bean/src/main/docs/class-component.adoc
Labels: components, camel-4

#13146 regen 3
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/transform/KinesisCloudEventDataTypeTransformer.java
Labels: components, components-aws, camel-4

#13145 [jbang-it] Fixes and improves Camel CLI tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/DevModeITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandOnMqttITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/VersionCommandITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JiraIssue.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliLocalContainerService.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliService.java
Labels: dsl, test-infra, camel-4

#13144 CAMEL-20410: documentation fixes for camel-bindy
  components/camel-bindy/src/main/docs/bindy-dataformat.adoc
Labels: components, camel-4

#13148 CAMEL-20421: camel-knative - Only create consumer/producer http facto…
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeComponent.java
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeEndpoint.java
  components/camel-knative/camel-knative-http/src/generated/resources/META-INF/services/org/apache/camel/dev-console/knative
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsole.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumer.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumerFactory.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducer.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducerFactory.java
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpTest.java
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpTestSupport.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListService.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderClassResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderComponentResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MainHttpServerFactory.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/ResourceResolverListener.java
Labels: components, core, dsl, camel-4

#13157 [CAMEL-20434]: Fix 411 content length required when request body is null
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpProducerNullBodyTest.java
Labels: components, camel-4

#13156 CAMEL-20410: documentation fixes for camel-webhook
  components/camel-webhook/src/main/docs/webhook-component.adoc
Labels: components, camel-4

#13158 CAMEL-20410: documentation fixes for camel-mock
  components/camel-mock/src/main/docs/mock-component.adoc
Labels: components, camel-4

#13160 CAMEL-20410: documentation fixes for camel-cxf-rest
  components/camel-cxf/camel-cxf-rest/src/main/docs/cxfrs-component.adoc
Labels: components, camel-4

#13159 CAMEL-20410: documentation fixes for base files
  docs/components/modules/ROOT/partials/component-configure-options.adoc
  docs/components/modules/ROOT/partials/component-endpoint-options.adoc
Labels: docs, camel-4

#13161 CAMEL-20410: documentation fixes for camel-cxf-soap
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components, camel-4

#13164 CAMEL-20435: camel-core - Resequencer EIP cannot be started again aft…
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Resequencer.java
  core/camel-core/src/test/java/org/apache/camel/processor/ResequencerTest.java
Labels: core, camel-4

#13190 CAMEL-20410: documentation fixes for pipeline eip
  core/camel-core-engine/src/main/docs/modules/eips/pages/pipeline-eip.adoc
Labels: core

#13188 CAMEL-20410: documentation fixes for camel-seda
  components/camel-seda/src/main/docs/seda-component.adoc
Labels: components, camel-4

#13197 Upgrade plc4x to version 0.12.0
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/test/java/org/apache/camel/component/plc4x/MockDriver.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#13200 Bump org.apache.commons:commons-compress from 1.25.0 to 1.26.0 (#13183)
  parent/pom.xml
Labels: core-build-and-dependencies

#13191 CAMEL-20411: camel-mongodb adds findOneAndDelete, findOneAndReplace and findOneAndUpdate operations
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/mongodb.json
  components/camel-mongodb/src/generated/resources/org/apache/camel/component/mongodb/mongodb.json
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbConstants.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbOperation.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbProducer.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOneAndDeleteOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOneAndReplaceOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOneAndUpdateOperationIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MongoDbEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#13215 CAMEL-20410: documentation fixes for camel-file
  components/camel-file/src/main/docs/file-component.adoc
Labels: components, camel-4

#13220 CAMEL-20410: more fixes
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zendesk/src/main/docs/zendesk-component.adoc
  components/camel-zip-deflater/src/main/docs/gzipDeflater-dataformat.adoc
  components/camel-zip-deflater/src/main/docs/zipDeflater-dataformat.adoc
  components/camel-zookeeper-master/src/main/docs/zookeeper-master-component.adoc
  components/camel-zookeeper/src/main/docs/zookeeper-component.adoc
Labels: components, camel-4

#13225 CAMEL-20410: documentation fixes for camel-zeebe
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/zeebe.json
  components/camel-zeebe/src/generated/resources/org/apache/camel/component/zeebe/zeebe.json
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeEndpoint.java
Labels: components, catalog, camel-4

#13228 Fix typos doc camel j bang
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#13193 camel-jbang-plugin-k: infer the dependencies by inspecting the route
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/Sample.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/route-deps.yaml
Labels: dsl, camel-4

#13229 Fix typos in 4.x Migration guides
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
Labels: docs, camel-4

#13234 CAMEL-20438: camel-xslt - XPath evaluation fails with result type int…
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathLanguage.java
  core/camel-core/src/test/java/org/apache/camel/language/XPathIntegerResultTest.java
Labels: components, core, camel-4

#13237 CAMEL-20444 - Camel-Azure-Servicebus: Support setting of CorrelationId on producer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/generated/resources/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConstants.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusProducer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusUtils.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/operations/ServiceBusSenderOperations.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusUtilsTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusConsumerTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/operations/ServiceBusSenderOperationsTest.java
Labels: components, catalog, components-azure, camel-4

#13240 CAMEL-20444 - Camel-Azure-Servicebus: Support setting of CorrelationI…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-azure/camel-azure-servicebus/src/generated/resources/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConstants.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusProducer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusUtils.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/operations/ServiceBusSenderOperations.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusUtilsTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusConsumerTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/operations/ServiceBusSenderOperationsTest.java
Labels: components, catalog, components-azure

#13242 CAMEL-20410: documentation fixes for camel-jslt
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jslt.json
  components/camel-jslt/src/generated/resources/org/apache/camel/component/jslt/jslt.json
  components/camel-jslt/src/main/docs/jslt-component.adoc
  components/camel-jslt/src/main/java/org/apache/camel/component/jslt/JsltEndpoint.java
Labels: components, catalog, camel-4

#13238 CAMEL-20444 - Camel-Azure-Servicebus: Support setting of CorrelationId on producer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/generated/resources/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConstants.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusProducer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusUtils.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/operations/ServiceBusSenderOperations.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusUtilsTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusConsumerTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/operations/ServiceBusSenderOperationsTest.java
Labels: components, catalog, components-azure

#13245 CAMEL-20446: camel-jbang - Regenerate --open-api on reload so you can…
  bom/camel-bom/pom.xml
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-kamelet-main/pom.xml
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/reload/OpenApiGeneratorReloadStrategy.java
  parent/pom.xml
Labels: docs, dsl, core-build-and-dependencies, camel-4

#13248 CAMEL-20447: camel-platform-http-main should not depend on jolokia bu…
  components/camel-platform-http-jolokia/pom.xml
  components/camel-platform-http-jolokia/src/main/java/org/apache/camel/component/platform/http/plugin/DefaultJolokiaPlatformHttpPlugin.java
  components/camel-platform-http-jolokia/src/test/java/org/apache/camel/component/platform/http/plugin/DefaultJolokiaPlatformHttpPluginTest.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http/pom.xml
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/plugin/JolokiaPlatformHttpPlugin.java
Labels: components, camel-4

#13256 CAMEL-20410: fixed website build for camel-microprofile-config
  components/camel-microprofile/camel-microprofile-config/src/main/docs/microprofile-config.adoc
Labels: components, camel-4

#13267 CAMEL-20449 - Azure Storage Files CloudEvent transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/azure-files-application-cloudevents.json
  components/camel-azure/camel-azure-files/pom.xml
  components/camel-azure/camel-azure-files/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-azure/camel-azure-files/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-files-application-cloudevents
  components/camel-azure/camel-azure-files/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-files-application-cloudevents.json
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/transform/AzureFilesCloudEventDataTypeTransformer.java
Labels: components, catalog, components-azure, camel-4

#13272 CAMEL-20450 - Azure Servicebus CloudEvent transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/azure-servicebus-application-cloudevents.json
  components/camel-azure/camel-azure-servicebus/pom.xml
  components/camel-azure/camel-azure-servicebus/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-azure/camel-azure-servicebus/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-servicebus-application-cloudevents
  components/camel-azure/camel-azure-servicebus/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-servicebus-application-cloudevents.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/transform/ServicebusCloudEventDataTypeTransformer.java
Labels: components, catalog, components-azure, camel-4

#13271 CAMEL-20410: fix product name
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/org/apache/camel/component/azure/storage/datalake/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/main/docs/azure-storage-datalake-component.adoc
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeComponent.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConfiguration.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConstants.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeEndpoint.java
Labels: components, catalog, components-azure, camel-4

#13282 CAMEL-20457: camel-core - Fix NPE in split parallel timeout without a…
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitParallelTimeoutNoAggregationStrategyTest.java
Labels: core, camel-4

#13285 CAMEL-20460: Improve platform http log
  catalog/camel-report-maven-plugin/pom.xml
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http-main/src/test/resources/log4j2.properties
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/HttpEndpointModel.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpComponent.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpConsumer.java
Labels: components, catalog, camel-4

#13286 CAMEL-18858: camel-core - Mark route as created by Kamelet so we know this, so we can filter out in tooling and whereelse (kamelet is a blackbox)
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-kamelet/pom.xml
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/Kamelet.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletProcessor.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletProducer.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/ManagedKameletRouteDisabledTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/ManagedKameletRouteEnabledTest.java
  components/camel-metrics/src/main/java/org/apache/camel/component/metrics/routepolicy/MetricsRoutePolicy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifier.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerRouteEventNotifier.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicy.java
  core/camel-api/src/main/java/org/apache/camel/Route.java
  core/camel-api/src/main/java/org/apache/camel/spi/ManagementAgent.java
  core/camel-api/src/main/java/org/apache/camel/spi/UnitOfWork.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ConsumerDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDumpDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/SourceDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/TopDevConsole.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendProcessor.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/RouteReifier.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/JmxSystemPropertyKeys.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedRouteMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementAgent.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementLifecycleStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedCamelContext.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRoute.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  docs/user-manual/modules/ROOT/pages/jmx.adoc
Labels: components, core, catalog, docs, camel-4

#13297 Regen
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/transform/ServicebusCloudEventDataTypeTransformer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AzureStorageDatalakeComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DataLakeEndpointBuilderFactory.java
Labels: components, dsl, components-azure, camel-4

#13298 CAMEL-20453 - Azure CosmosDB CloudEvent transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/azure-cosmosdb-application-cloudevents.json
  components/camel-azure/camel-azure-cosmosdb/pom.xml
  components/camel-azure/camel-azure-cosmosdb/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-azure/camel-azure-cosmosdb/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-cosmosdb-application-cloudevents
  components/camel-azure/camel-azure-cosmosdb/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-cosmosdb-application-cloudevents.json
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/transform/CosmosDbCloudEventDataTypeTransformer.java
Labels: components, catalog, components-azure, camel-4

#13300 CAMEL-20459: documentation fixes for the random load balancer EIP.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/random.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-engine/src/main/docs/modules/eips/pages/random-eip.adoc
  core/camel-core-model/src/generated/resources/org/apache/camel/model/loadbalancer/random.json
  core/camel-core-model/src/main/java/org/apache/camel/model/loadbalancer/RandomLoadBalancerDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#13302 CAMEL-20451 - Azure Eventhubs CloudEvent transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/azure-eventhubs-application-cloudevents.json
  components/camel-azure/camel-azure-eventhubs/pom.xml
  components/camel-azure/camel-azure-eventhubs/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-azure/camel-azure-eventhubs/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-eventhubs-application-cloudevents
  components/camel-azure/camel-azure-eventhubs/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-eventhubs-application-cloudevents.json
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/transform/EventHubsCloudEventDataTypeTransformer.java
Labels: components, catalog, components-azure, camel-4

#13306 CAMEL-20459: documentation fixes for the transactional client EIP.
  core/camel-core-engine/src/main/docs/modules/eips/pages/transactional-client.adoc
Labels: core, camel-4

#13310 CAMEL-18858: camel-kamelet - Create a copy of exchange when kamelet i…
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletProducer.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletReifier.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
Labels: components, core, camel-4

#13315 [CAMEL-20422] Fix model not found at runtime
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core, camel-4

#13309 CAMEL-20255: part 1 (remove MessageHistory methods)
  components/camel-metrics/src/main/java/org/apache/camel/component/metrics/messagehistory/MetricsMessageHistoryFactory.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/messagehistory/MicrometerMessageHistoryFactory.java
  core/camel-api/src/main/java/org/apache/camel/spi/MessageHistoryFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultMessageHistoryFactory.java
Labels: components, core, camel-4

#13312 fix(typo): Small typos in properties description
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/bean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/redeliveryPolicy.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/bean.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/redeliveryPolicy.json
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RedeliveryPolicyDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#13314 Register the os-maven-plugin only once as an extension
  .mvn/extensions.xml
  components/camel-grpc/pom.xml
  components/camel-kudu/pom.xml
  components/camel-netty/pom.xml
  components/camel-protobuf/pom.xml
  components/camel-salesforce/camel-salesforce-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#13323 Camel-AWS-Bedrock: Align Category in Endpoint
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockEndpoint.java
Labels: components, components-aws, camel-4

#13301 CAMEL-20019: add platform http vertx cookie handler
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/platform-http.json
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpCookieTest.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointConfigurer.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointUriFactory.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/cookie/CookieConfigurationConfigurer.java
  components/camel-platform-http/src/generated/resources/META-INF/org/apache/camel/component/platform/http/platform-http.json
  components/camel-platform-http/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.platform.http.cookie.CookieConfiguration
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/cookie/CookieConfiguration.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/cookie/CookieHandler.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PlatformHttpEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/PlatformHttpUriDsl.kt
Labels: components, catalog, docs, dsl, camel-4

#13324 Camel-AWS-Bedrock: Set result body as invoke model Message body
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockProducer.java
Labels: components, components-aws, camel-4

#13327 Camel-AWS-Bedrock: Documentation and json schema for supported model
  components/camel-aws/camel-aws-bedrock/src/main/docs/aws-bedrock-component.adoc
Labels: components, components-aws, camel-4

#13329 CAMEL-20469 - Camel-AWS-Bedrock: Support Amazon Titan Text G1 Lite Model
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockOperations.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/integration/BedrockProducerIT.java
Labels: components, components-aws, camel-4

#13330 Camel-AWS-Bedrock - Fixed artifact name
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-aws/camel-aws-bedrock/pom.xml
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-aws/camel-aws-bedrock/src/main/docs/aws-bedrock-component.adoc
  docs/.yarn/install-state.gz
  parent/pom.xml
Labels: components, catalog, docs, components-aws, core-build-and-dependencies, camel-4

#13325 [backport] CAMEL-20462: small typos in properties description
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/bean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/redeliveryPolicy.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/org/apache/camel/model/bean.json
  core/camel-core-model/src/generated/resources/org/apache/camel/model/redeliveryPolicy.json
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RedeliveryPolicyDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl

#13332 Camel AWS Bedrock: Added to Kit
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/sensitive-keys.json
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AwsBedrockComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/BedrockEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/AwsBedrockUriDsl.kt
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: core, catalog, dsl, tooling, tooling-maven, camel-4

#13326 align output log
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
Labels: components, camel-4

#13270 Handle quote escape in bindy
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/csv/BindyCsvDataFormat.java
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/csv/BindyEscapedCsvTest.java
Labels: components, camel-4

#13331 Automatically transform to xml if all files are yaml
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/TransformRoute.java
Labels: docs, dsl, camel-4

#13336 CAMEL-20476 - Camel-AWS-Bedrock: Support Amazon Titan Image Generator G1 model
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/pom.xml
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockOperations.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/integration/BedrockProducerIT.java
Labels: components, catalog, components-aws, camel-4

#13338 Inline rest-dsl
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/restConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-spring-xml/src/test/java/org/apache/camel/component/rest/RestRefTest.java
  components/camel-undertow/src/test/java/org/apache/camel/component/undertow/rest/RestManagementTest.java
  core/camel-api/src/main/java/org/apache/camel/spi/RestConfiguration.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/SourceDevConsole.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/rest/restConfiguration.json
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestConfigurationDefinition.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/FromRestGetPolicyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/FromRestGetTest.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-management/src/test/java/org/apache/camel/management/ManagedFromRestGetTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedFromRestPlaceholderTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  dsl/camel-js-dsl/src/test/java/org/apache/camel/dsl/js/JavaScriptRoutesBuilderLoaderTest.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-common/src/main/java/org/apache/camel/dsl/yaml/common/YamlDeserializerBase.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, docs, dsl, camel-4

#13337 Camel-AWS-Bedrock: Make image model return an array of images
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/integration/BedrockProducerIT.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/TransformRoute.java
Labels: components, dsl, components-aws, camel-4

#13339 Camel-AWS-Bedrock: Docs and example for Titan Image Generator and Tit…
  components/camel-aws/camel-aws-bedrock/src/main/docs/aws-bedrock-component.adoc
Labels: components, components-aws, camel-4

#13342 CAMEL-20452 - Azure Storage Datalake CloudEvent transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/azure-storage-datalake-application-cloudevents.json
  components/camel-azure/camel-azure-storage-datalake/pom.xml
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-storage-datalake-application-cloudevents
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/META-INF/services/org/apache/camel/transformer/azure-storage-datalake-application-cloudevents.json
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/transform/DataLakeCloudEventDataTypeTransformer.java
Labels: components, catalog, components-azure, camel-4

#13328 CAMEL-20255: cleanup deprecated timestamp-based methods
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-api/src/main/java/org/apache/camel/clock/Clock.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ContextDevConsole.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultCamelContextTest.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedCamelContext.java
  core/camel-support/src/main/java/org/apache/camel/support/CamelContextHelper.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
Labels: core, docs, camel-4

#13352 CAMEL-20477: do not shut down shared static services
  components/camel-jms/src/test/java/org/apache/camel/component/jms/tx/JmsToJmsTransactedTest.java
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/tx/JmsToJmsTransactedTest.xml
Labels: components, components-jms, camel-4

#13353 CAMEL-20210: camel-core - Rest DSL Narrow content-type with charset fails clientRequestValidation
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyInvalidContentTypeClientRequestValidationTest.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RestBindingAdvice.java
Labels: components, core

#13351 CAMEL-19553: camel-quartz ensure tests have assertions
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/DelegateEndpointQuartzTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzCronRouteTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzCronRouteWithSmallCacheTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzCronRouteWithStartDateEndDateTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzCustomCalendarFireTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzCustomCalendarNoFireTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzInterruptTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzNameCollisionTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzOneCamelContextSuspendResumeTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzPropertiesTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzSimpleRouteTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzStatefulJobRouteTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzSuspendRouteTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzTwoCamelContextRestartTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzTwoCamelContextSameNameClashTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzTwoCamelContextSuspendResumeTest.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzTwoCamelContextTest.java
  components/camel-quartz/src/test/java/org/apache/camel/routepolicy/quartz/SimpleScheduledRoutePolicyTest.java
Labels: components, camel-4

#13350 Openapi3
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/rest-openapi.json
  components/camel-openapi-java/pom.xml
  components/camel-openapi-java/src/main/docs/openapi-java.adoc
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/BeanConfig.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/OpenAPI3to2.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/OpenApiRestProducerFactory.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiReader.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiSupport.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/ComplexTypesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/OpenApiRestProducerFactoryTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiDefaultProducesConsumesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiLicenseInfoTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiModelApiSecurityRequirementsTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderApiDocsOverrideTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderApiDocsTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderContextPathTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderDayOfWeekTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderDisabledTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderEnableVendorExtensionTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderFileResponseModelTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderModelApiSecurityTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderModelBookOrderTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderModelTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderPropertyPlaceholderTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV2SecuritySchemesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiV3SecuritySchemesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/SpringRestOpenApiReaderModelApiSecurityTest.java
  components/camel-openapi-java/src/test/resources/hello-api.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesRequest.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesRequestWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesResponse.json
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/V20SchemaForComplexTypesResponseWithSchemaAnnotation.json
  components/camel-openapi-java/src/test/resources/petstore-v3.json
  components/camel-openapi-java/src/test/resources/petstore.json
  components/camel-rest-openapi/pom.xml
  components/camel-rest-openapi/src/generated/resources/META-INF/org/apache/camel/component/rest/openapi/rest-openapi.json
  components/camel-rest-openapi/src/main/docs/rest-openapi-component.adoc
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProducer.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/HttpsTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/HttpsV3Test.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiComponentTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiComponentYamlTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiDelegateHttpsTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiGlobalHttpsTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiGlobalHttpsV31Test.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiRequestValidationTest.java
  components/camel-rest-openapi/src/test/resources/alt-petstore.json
  components/camel-rest-openapi/src/test/resources/alt-petstore.yaml
  components/camel-rest-openapi/src/test/resources/fruits-2.0.yaml
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RestOpenapiComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/RestOpenApiEndpointBuilderFactory.java
  dsl/camel-jbang/camel-jbang-core/pom.xml
Labels: components, catalog, docs, dsl, camel-4

#13354 CAMEL-20477: prefer using singleton services when possible
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteRequestReplyTest.java
Labels: components, components-jms, camel-4

#13355 CAMEL-20472: camel-main - Add group for configuring tracing
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/TracerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.TracerConfigurationProperties
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/TracerConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: core, catalog, docs, dsl, tooling, tooling-maven, camel-4
