Repository apache/camel, pull requests merged in 2024-04, with the labels that each got.

#13667 CAMEL-20637: camel-rest-dsl - Matching rest operation may not select …
  core/camel-support/src/main/java/org/apache/camel/support/RestConsumerContextPathMatcher.java
  core/camel-support/src/test/java/org/apache/camel/support/RestConsumerContextPathMatcherTest.java
Labels: core, camel-4

#13672 Camel-AWS-Bedrock-runtime: Added all models in the related enum
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/runtime/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/runtime/BedrockConfiguration.java
Labels: components, catalog, components-aws, camel-4

#13676 CAMEL-19535 - camel-master: replace Thread.sleep in tests.
  components/camel-master/pom.xml
  components/camel-master/src/test/java/org/apache/camel/component/master/MasterComponentTest.java
Labels: components, camel-4

#13687 CAMEL-20641 - Camel-AWS-Bedrock-Agent: Add information about failures in ingestion job as header
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agent/BedrockAgentConstants.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agent/BedrockAgentIngestionJobConsumer.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agent/BedrockAgentProducer.java
Labels: components, components-aws, camel-4

#13688 rest-dsl binding part 1
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/PlatformHttpRestOpenApiConsumerRestDslBindingTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/PlatformHttpRestOpenApiConsumerRestDslTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/model/Category.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/model/Pet.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/model/Tag.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiConsumerPath.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/validator/DefaultRequestValidator.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/rest/RestBindingReifier.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdvice.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdviceFactory.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingConfiguration.java
Labels: components, core, camel-4

#13691 rest-dsl openapi binding part 2
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/rest-openapi.json
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/PlatformHttpRestOpenApiConsumerRestDslBindingTest.java
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiComponentConfigurer.java
  components/camel-rest-openapi/src/generated/resources/META-INF/org/apache/camel/component/rest/openapi/rest-openapi.json
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiComponent.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestDefinition.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RestOpenapiComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/RestOpenApiEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/RestOpenapiUriDsl.kt
Labels: components, core, catalog, dsl, camel-4

#13690 CAMEL-20643: Add option to propagate Opentelemetry Context even when t…
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategy.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategyPropagateContextTest.java
Labels: components, camel-4

#13692 rest-dsl openapi binding part 3
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/rest-openapi.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/restConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/PlatformHttpRestOpenApiConsumerRestDslBindingTest.java
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiComponentConfigurer.java
  components/camel-rest-openapi/src/generated/resources/META-INF/org/apache/camel/component/rest/openapi/rest-openapi.json
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiComponent.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  core/camel-api/src/main/java/org/apache/camel/spi/RestConfiguration.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/RestConfigurationConfigurer.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/rest/restConfiguration.json
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestConfigurationDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/rest/RestBindingReifier.java
  core/camel-main/src/generated/java/org/apache/camel/main/RestConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/RestConfigurationProperties.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingConfiguration.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RestOpenapiComponentBuilderFactory.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#13695 CAMEL-20644 - Camel-AWS-Bedrock-Agent-Runtime: Support usage of sessi…
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agentruntime/BedrockAgentRuntimeProducer.java
Labels: components, components-aws, camel-4

#13696 Backport CAMEL-20459
  core/camel-core-engine/src/main/docs/modules/eips/pages/split-eip.adoc
Labels: core

#13697 rest-dsl - binding part 4
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpConsumer.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenapiProcessorStrategy.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdvice.java
Labels: components, core, camel-4

#13700 CAMEL-20562 - Camel-AWS-Bedrock: Support Mistral AI models - Mistral …
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/runtime/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/runtime/integration/BedrockProducerIT.java
Labels: components, components-aws, camel-4

#13685 CAMEL-19543 - camel-sjms2: replace Thread.sleep in tests.
  components/camel-sjms2/src/test/java/org/apache/camel/component/sjms2/consumer/InOnlyTopicDurableConsumerTest.java
Labels: components, camel-4

#13708 CAMEL-18017: return body part fields copied from parsed MDN entity to avoid corruption
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/AS2MessageDispositionNotificationEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/DispositionNotificationContentUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/EntityParserTest.java
Labels: components, camel-4

#13707 Fix camel-vertx-websocket endpoint instantiation when connection to r…
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponent.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointConfigurationTest.java
Labels: components, camel-4

#13715 Upgrade Camel Kamelets to version 4.5.0
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#13718 (chores) camel-kafka: disable flaky test on GH actions
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReleaseResourcesIT.java
Labels: components, components-kafka, camel-4

#13724 CAMEL-20506 - Google Mail Stream CloudEvent transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/google-mail-stream-application-cloudevents.json
  components/camel-google/camel-google-mail/pom.xml
  components/camel-google/camel-google-mail/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-google/camel-google-mail/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-mail-stream-application-cloudevents
  components/camel-google/camel-google-mail/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-mail-stream-application-cloudevents.json
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/stream/transform/GoogleMailStreamCloudEventDataTypeTransformer.java
Labels: components, catalog, camel-4

#13514 CAMEL-20532: consolidate common failsafe configurations
  components/camel-ftp/pom.xml
  components/camel-jms/pom.xml
  components/camel-kafka/pom.xml
  components/camel-spring-xml/pom.xml
  components/pom.xml
  parent/pom.xml
Labels: components, components-kafka, components-jms, core-build-and-dependencies, camel-4

#13719 Camel-18017: mdn content corruption
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/AS2MessageDispositionNotificationEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/DispositionNotificationContentUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/EntityParserTest.java
Labels: components

#13734 CAMEL-20661: revert broken bouncy castle upgrade
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#13736 ARTEMIS-4715: adjust the wildcard to use the correct wildcard character
  components/camel-activemq/src/test/java/org/apache/camel/component/activemq/ActiveMQRouteIT.java
Labels: components, camel-4

#13737 (chores) camel-test-infra-artemis: always use the latest container available
  test-infra/camel-test-infra-artemis/src/test/resources/org/apache/camel/test/infra/artemis/services/container.properties
Labels: test-infra, camel-4

#13726 CAMEL-20659: include contentTransferEncoding on parsed Report
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/DispositionNotificationMultipartReportEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/EntityParser.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/EntityParserTest.java
Labels: components, camel-4

#13740 Upgrade Localstack container image to version 3.3.0
  test-infra/camel-test-infra-aws-v2/src/test/resources/org/apache/camel/test/infra/aws2/services/container.properties
Labels: test-infra, camel-4

#13742 Camel-Kafka: Added missing imports in integration test
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
Labels: components, components-kafka, camel-4

#13743 Camel-Hashicorp-Vault: Use latest Vault container image version 1.16.1
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: test-infra, camel-4

#13738 CAMEL-20758: make the subscription logic more flexible
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/TopicHelper.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/subcription/DefaultSubscribeAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/subcription/SubscribeAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/subcription/TopicInfo.java
Labels: components, components-kafka, camel-4

#13757 Upgrade Opensearch test-infra image to version 2.13.0
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-db2.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-mongodb.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-mysql.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-oracle.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-postgres.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-sqlserver.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumDb2ComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumMongodbComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumMysqlComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumOracleComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumPostgresComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumSqlserverComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumDb2EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumMongodbEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumMySqlEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumOracleEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumPostgresEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumSqlserverEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumDb2UriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumMongodbUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumMysqlUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumOracleUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumPostgresUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumSqlserverUriDsl.kt
  test-infra/camel-test-infra-opensearch/src/test/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: catalog, dsl, test-infra, camel-4

#13758 CAMEL-20662: Add more consumer options for the gRPC server setup
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/grpc.json
  components/camel-grpc/src/generated/java/org/apache/camel/component/grpc/GrpcEndpointConfigurer.java
  components/camel-grpc/src/generated/java/org/apache/camel/component/grpc/GrpcEndpointUriFactory.java
  components/camel-grpc/src/generated/resources/META-INF/org/apache/camel/component/grpc/grpc.json
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConfiguration.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConsumer.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcConsumerConfigurationTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GrpcEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/GrpcUriDsl.kt
Labels: components, catalog, dsl, camel-4

#13759 CAMEL-20758: allow user-provided subscription adapters
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConstants.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerCustomSubscribeAdapterIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
Labels: components, components-kafka, docs, camel-4

#13765 Upgrade Nats container image version to 2.10.14
  test-infra/camel-test-infra-nats/src/test/resources/org/apache/camel/test/infra/nats/services/container.properties
Labels: test-infra, camel-4

#13760 (chores) camel-infinispan: minor test cleanups
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteAggregationRepositoryOperationsIT.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteConfigurationIT.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteProducerIT.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteQueryConsumerIT.java
Labels: components, camel-4

#13774 CAMEL-20574 - Camel-Milvus: Add more producer operation - Query
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusAction.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusProducer.java
  components/camel-milvus/src/test/java/org/apache/camel/component/milvus/it/MilvusComponentIT.java
Labels: components, camel-4

#13776 Upgrade SmallRye Fault Tolerance to 6.3.0
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceProcessor.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#13764 Fixing documentation typos
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/validator.json
  components/camel-validator/src/generated/resources/META-INF/org/apache/camel/component/validator/validator.json
  components/camel-validator/src/main/java/org/apache/camel/component/validator/DefaultValidatorResourceResolverFactory.java
  components/camel-validator/src/main/java/org/apache/camel/component/validator/ValidatorEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ValidatorEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/ValidatorUriDsl.kt
Labels: components, catalog, dsl, camel-4

#13777 Downgrade Milvus SDK to 2.3.4
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#13762 (chores) camel-core: disable flaky core tests on GitHub
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentKeyNameAndSizeTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/AggregatorWithBatchConsumingIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastParallelStreamingTimeoutTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastParallelTimeoutStreamCachingTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/async/AsyncProcessorAwaitManagerInterruptWithRedeliveryTest.java
Labels: core, camel-4

#13778 upgrade spring 6.1.6
  components/camel-validator/src/main/java/org/apache/camel/component/validator/DefaultValidatorResourceResolverFactory.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#13717 Add properties to skip execution of the validate and route coverage mojos
  catalog/camel-report-maven-plugin/pom.xml
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
  docs/user-manual/modules/ROOT/pages/camel-report-maven-plugin.adoc
Labels: catalog, docs, camel-4

#13779 CAMEL-20663: camel-main - Reading properties file should support mixe…
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/test/java/org/apache/camel/main/MainSupervisingRouteControllerTest.java
  core/camel-main/src/test/resources/route-controller.properties
Labels: core, camel-4

#13780 Align DSL for Java, XML and YAML for error handler and stream caching
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/route.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/config/ErrorHandlerRouteTest.java
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/config/errorHandlerRoute.xml
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/route.json
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-xml-io/src/test/resources/routeInlinedErrorHandler.xml
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  docs/user-manual/modules/ROOT/pages/error-handler.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/PipeLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RouteTemplateTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/RoutesTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/kamelets/route-timer-source.kamelet.yaml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SchemaGeneratorMojo.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, camel-4

#13403 CAMEL-20521: camel-amqp - AMQP publisher application is losing messages with local JMS transaction enabled
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConfiguration.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/RestartBrokerBeforeCommitIT.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisContainer.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/RestartAwareArtemisContainer.java
Labels: components, components-jms, test-infra, camel-4

#13725 CAMEL-20388: camel-salesforce - Invoke client.disconnect() when recei…
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
Labels: components, camel-4

#13784 CAMEL-20670: Make platform-http-vertx multipart attachment ids consistent with other HTTP components
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
Labels: components, docs, camel-4

#13789 camel-jbang - Upgrade to hawtio 4.0.0
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Hawtio.java
Labels: dsl, camel-4

#13790 CAMEL-20673: camel-core - Add type converter for string to TimeUnit
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  core/camel-base/src/main/java/org/apache/camel/converter/DateTimeConverter.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/EnumTypeConverter.java
  core/camel-core/src/test/java/org/apache/camel/converter/DateTimeConverterTest.java
Labels: core, camel-4

#13791 CAMEL-20676: camel-snmp - Delay cannot be configured
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/snmp.json
  components/camel-snmp/src/generated/resources/META-INF/org/apache/camel/component/snmp/snmp.json
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SnmpEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SnmpUriDsl.kt
Labels: components, catalog, dsl, camel-4

#13793 Upgrade kubernetes client 6.12.0 and remove unused version
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#13795 hazelcast-seda: Nested transactions are not allowed!
  components/camel-hazelcast/src/main/java/org/apache/camel/component/hazelcast/seda/HazelcastSedaConsumer.java
Labels: components, camel-4

#13796 Upgrade debezium 2.6.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#13817 CAMEL-20678: camel-google-sheets - Error setting scopes parameter
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-sheets.json
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/GoogleSheetsComponentConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/GoogleSheetsConfigurationConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/GoogleSheetsEndpointConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/SheetsSpreadsheetsEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/SheetsSpreadsheetsValuesEndpointConfigurationConfigurer.java
  components/camel-google/camel-google-sheets/src/generated/resources/META-INF/org/apache/camel/component/google/sheets/google-sheets.json
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsComponent.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsConfiguration.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsVerifierExtension.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/GoogleSheetsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleSheetsEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/GoogleSheetsUriDsl.kt
Labels: components, catalog, docs, dsl, camel-4

#13834 Fix CI
  .github/workflows/pr-build-main.yml
  .github/workflows/push-build-main.yml
Labels: camel-4

#13835 (chores) ci: avoid skipping core tests
  .github/actions/incremental-build/incremental-build.sh
Labels: camel-4

#13836 (chores) camel-infinispan: reduce test verbosity
  components/camel-infinispan/camel-infinispan-embedded/pom.xml
Labels: components, camel-4

#13839 CAMEL-20684: Improve MicroProfile Fault Tolerance timer setup
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceProcessor.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceReifier.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceTimerService.java
Labels: components, camel-4

#13841 Xfix
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/errorHandler.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/errorHandler.json
  core/camel-core-model/src/main/java/org/apache/camel/model/ErrorHandlerDefinition.java
  core/camel-core/src/test/java/org/apache/camel/util/DumpModelAsXmlNamespaceTest.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/CustomResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/ErrorHandlerBuilderDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/ErrorHandlerDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#13837 CAMEL-20388: Restore the old cookieStore Strategy
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
Labels: components, camel-4

#13846 Upgrade Infinispan Container Image to version 15.0.1.Final
  test-infra/camel-test-infra-infinispan/src/test/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#13820 CAMEL-20613: set AbstractCamelContext#endpointStrategies to ConcurrentHashSet
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: core, camel-4

#13821 CAMEL-20613: set AbstractCamelContext#endpointStrategies to ConcurrentHashSet
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: core

#13822 CAMEL-20613: set AbstractCamelContext#endpointStrategies to ConcurrentHashSet
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
Labels: core

#13848 Pi array
  core/camel-api/src/main/java/org/apache/camel/PropertyInject.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelPostProcessorHelper.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelBeanPostProcessor.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/CamelPostProcessorHelperTest.java
  docs/user-manual/modules/ROOT/pages/bean-integration.adoc
Labels: core, docs, camel-4

#13849 CAMEL-20687: camel-kamelet - Make kamelets that have ids assigned - t…
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/Kamelet.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletComponent.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletRouteTest.java
Labels: components, camel-4

#13877 (chores) camel-core: removed broken test
  core/camel-core/src/test/java/org/apache/camel/processor/intercept/FromFileInterceptSendToIssue.java
  core/camel-core/src/test/java/org/apache/camel/processor/intercept/FromFileInterceptSendToIssueTest.java
Labels: core, camel-4

#13881 Upgrade Infinispan container image to version 15.0.2.Final
  test-infra/camel-test-infra-infinispan/src/test/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#13889 CAMEL-20505 - Google Calendar Streams CloudEvent Transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/google-calendar-stream-application-cloudevents.json
  components/camel-google/camel-google-calendar/pom.xml
  components/camel-google/camel-google-calendar/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-google/camel-google-calendar/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-calendar-stream-application-cloudevents
  components/camel-google/camel-google-calendar/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-calendar-stream-application-cloudevents.json
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/transform/GoogleCalendarStreamCloudEventDataTypeTransformer.java
Labels: components, catalog, camel-4

#13883 fixed 2 typos in a null check
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/OutputAwareFromDefinitionDeserializer.java
Labels: dsl, camel-4

#13893 Upgrade com.google.apis:google-api-services-drive from v3-rev20240123…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-drive.json
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/DriveDrivesEndpointConfiguration.java
  components/camel-google/camel-google-drive/src/generated/resources/META-INF/org/apache/camel/component/google/drive/google-drive.json
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies, camel-4

#13867 pg-replication-slot FIX: Calling super.doStart() after initializing the consumer to avoid poll() being called before the Consumer is initialized
  components/camel-pg-replication-slot/src/main/java/org/apache/camel/component/pg/replication/slot/PgReplicationSlotConsumer.java
Labels: components, camel-4

#13871 CAMEL-20206: split overly complex method in RouteBuilderParser
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/RouteBuilderParser.java
Labels: catalog, camel-4

#13901 CAMEL-20710 Implemented Objects.equals() for comparison of strings
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyServerBootstrapConfiguration.java
Labels: components, camel-4

#13904 CAMEL-20093 : Replaced 3 test cases with a single parameterized one.
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
Labels: catalog, camel-4

#13916 CAMEL-19713: Fix logging by ensuring use of SLF4J 2.0
  dsl/camel-endpointdsl/pom.xml
Labels: dsl, camel-4

#13919 camel-jbang - run with spring-boot or quarkus
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/spring-boot-logback.xml
Labels: core, docs, dsl, camel-4

#13903 CAMEL-20714 Added public no-arg constructor for SourceCache
  core/camel-xml-jaxp/src/main/java/org/apache/camel/util/xml/SourceCache.java
Labels: core, camel-4

#13872 CAMEL-20699, CAMEL-20691: Fix Azure ServiceBus header propagation
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConfiguration.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategy.java
Labels: components, components-azure, camel-4

#13869 CAMEL-20614: deep-copy enrich and poll-enrich processors during instantiation of a route template
  core/camel-core-model/src/main/java/org/apache/camel/model/Copyable.java
  core/camel-core-model/src/main/java/org/apache/camel/model/EnrichDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ExpressionNode.java
  core/camel-core-model/src/main/java/org/apache/camel/model/PollEnrichDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ToDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ToDynamicDefinition.java
  core/camel-core/src/test/java/org/apache/camel/model/RouteTemplateDefinitionTest.java
Labels: core, camel-4

#13870 CAMEL-20614: deep-copy enrich and poll-enrich processors during instantiation of a route template
  core/camel-core-model/src/main/java/org/apache/camel/model/Copyable.java
  core/camel-core-model/src/main/java/org/apache/camel/model/EnrichDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ExpressionNode.java
  core/camel-core-model/src/main/java/org/apache/camel/model/PollEnrichDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ToDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ToDynamicDefinition.java
  core/camel-core/src/test/java/org/apache/camel/model/RouteTemplateDefinitionTest.java
Labels: core

#13865 CAMEL-20692: camel-cxf - Set a default value for loggingSizeLimit
  components/camel-cxf/camel-cxf-rest/src/generated/resources/org/apache/camel/component/cxf/jaxrs/cxfrs.json
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsEndpoint.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpoint.java
Labels: components

#13920 CAMEL-20715: camel-olingo - Should handle DEFAULT as ApiName if creat…
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Component.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Component.java
Labels: components, camel-4

#13931 CAMEL-20692: camel-cxf - Set a default value for loggingSizeLimit
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/cxfrs.json
  components/camel-cxf/camel-cxf-rest/src/generated/resources/org/apache/camel/component/cxf/jaxrs/cxfrs.json
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsEndpoint.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpoint.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/spring/CxfEndpointBeanTest.java
Labels: components, catalog

#13935 CAMEL-20692: camel-cxf - Set a default value for loggingSizeLimit
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/cxfrs.json
  components/camel-cxf/camel-cxf-rest/src/generated/resources/org/apache/camel/component/cxf/jaxrs/cxfrs.json
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsEndpoint.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpoint.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/spring/CxfEndpointBeanTest.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/CxfrsUriDsl.kt
Labels: components, catalog, dsl

#13940 (chores) camel-activemq: disable tests that depend on Artemis container when not available
  components/camel-activemq/pom.xml
Labels: components, camel-4

#13939 (chores) camel-google-pub-sub-lite: do cast to avoid a potential overflow
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteComponent.java
Labels: components, camel-4

#13941 CAMEL-20521: disable flaky/unstable test
  components/camel-jms/src/test/java/org/apache/camel/component/jms/RestartBrokerBeforeCommitIT.java
Labels: components, components-jms, camel-4

#13943 CAMEL-20712 Throw created exception in MessagePredicate
  components/camel-quickfix/src/main/java/org/apache/camel/component/quickfixj/MessagePredicate.java
Labels: components, camel-4

#13944 CAMEL-20716 Throw created exception in FixMessageRouter
  components/camel-quickfix/src/test/java/org/apache/camel/component/quickfixj/examples/routing/FixMessageRouter.java
Labels: components, camel-4

#13945 Camel 20454
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/google-sheets-stream-application-cloudevents.json
  components/camel-google/camel-google-sheets/pom.xml
  components/camel-google/camel-google-sheets/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-google/camel-google-sheets/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-sheets-stream-application-cloudevents
  components/camel-google/camel-google-sheets/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-sheets-stream-application-cloudevents.json
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/transform/GoogleSheetsStreamCloudEventDataTypeTransformer.java
Labels: components, catalog, camel-4

#13951 chore(docs): Add Kaoto and Hawtio to Catalog page
  docs/user-manual/modules/ROOT/pages/camel-catalog.adoc
Labels: docs, camel-4

#13947 CAMEL-20718: Fixes JMSRedelivered conversion
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/interop/JMSDeserializer.java
Labels: components, components-kafka, camel-4

#13932 CAMEL-20705: fix non-atomic operations on volatile fields on the ScheduledPollConsumer
  core/camel-core/src/test/java/org/apache/camel/impl/ScheduledPollConsumerBackoffTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
Labels: core, camel-4

#13934 (chores) camel-core: removed unused field
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiComponent.java
Labels: core, camel-4

#13958 CAMEL-20719: Exclude Milvus bulk writer related dependencies
  components/camel-milvus/pom.xml
Labels: components, camel-4

#13961 Upgrade Milvus container image to version v2.4.0
  test-infra/camel-test-infra-milvus/src/test/resources/org/apache/camel/test/infra/milvus/services/container.properties
Labels: test-infra, camel-4

#13960 Add handshakeHeaders uri param in vertx-websocket component
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointConfigurer.java
  components/camel-vertx/camel-vertx-websocket/src/generated/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointUriFactory.java
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/META-INF/org/apache/camel/component/vertx/websocket/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketComponent.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketConfiguration.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpoint.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketEndpointConfigurationTest.java
  components/camel-vertx/camel-vertx-websocket/src/test/java/org/apache/camel/component/vertx/websocket/VertxWebsocketHandshakeHeadersTest.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/VertxWebsocketUriDsl.kt
Labels: components, catalog, dsl, camel-4

#13898 CAMEL-20383: convert CI jobs to a Matrix job (backport to 4.4.x)
  Jenkinsfile
  Jenkinsfile.jdk17
  Jenkinsfile.jdk21
  Jenkinsfile.ppc64le
  Jenkinsfile.s390x
  pom.xml
Labels: ci

#13962 (chores) camel-jms: fix test that needs an specific order
  components/camel-jms/src/test/java/org/apache/camel/component/jms/integration/consumers/SingleMessageSameTopicIT.java
Labels: components, components-jms, camel-4

#13963 CAMEL-20720: Update Camel K plugin command to CK 2.3.0
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#13976 Jbang log
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
Labels: docs, dsl, camel-4

#13979 camel-kamelet-main: Fix typo in docs for camel.main.jmxUpdateRouteEnabled config
  dsl/camel-kamelet-main/src/main/docs/kamelet-main.adoc
Labels: dsl, camel-4

#13974 (chores) camel-core: break a large and complex method in AbstractCamelContextFactoryBean
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
Labels: core, camel-4

#13977 (chores) camel-route-parser: break complex methods
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/RouteBuilderParser.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/XmlRouteParser.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaParserHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaRestDslParserHelper.java
Labels: catalog, camel-4

#13988 Rename Langchain4j property placeholder to follow the traditional syntax
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/XmlRouteParser.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelJavaRestDslParserHelper.java
  components/camel-ai/camel-langchain4j-chat/pom.xml
  components/camel-ai/camel-langchain4j-embeddings/pom.xml
  components/camel-milvus/pom.xml
  components/camel-pinecone/pom.xml
  components/camel-qdrant/pom.xml
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies, camel-4

#13987 (chores) docs: update the link for the CI jobs for Camel 4
  docs/main/modules/contributing/pages/index.adoc
Labels: docs, camel-4

#13992 Camel-Milvus: Upgrade Available operations in Headers metadata
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/milvus.json
  components/camel-milvus/src/generated/resources/META-INF/org/apache/camel/component/milvus/milvus.json
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/Milvus.java
Labels: components, catalog, camel-4

#13993 CAMEL-20727: camel-azure - Data lake upload should not read content i…
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeProducer.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/operations/DataLakeFileOperations.java
Labels: components, components-azure, camel-4

#13995 CAMEL-20727: camel-azure - Blob uploadPage should not read content in…
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/operations/BlobOperations.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/integration/BlobOperationsIT.java
Labels: components, components-azure, camel-4
