Repository apache/camel, pull requests merged in 2024-07, with the labels that each got.

#14682 CAMEL-20931: camel-core - Add substring function to simple language
  components/camel-csimple-joor/src/test/java/org/apache/camel/language/csimple/joor/OriginalSimpleTest.java
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: components, core, camel-4

#14690 CAMEL-20900: Add integration-profile command option on Camel K JBang
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubeCommand.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: dsl, camel-4

#14691 CAMEL-20931: cleanup duplicated code
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#14692 CAMEL-20930: camel-core - Bean DSL dev console
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/bean-model.json
  components/camel-spring-xml/pom.xml
  core/camel-console/src/main/java/org/apache/camel/impl/console/BeanDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/VariablesDevConsole.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/dev-console/bean-model.json
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/dev-console/bean-model
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  core/camel-core-model/src/main/java/org/apache/camel/model/console/BeanModelDevConsole.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelBeanDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListVariable.java
Labels: components, core, catalog, dsl, camel-4

#14694 CAMEL-20932: camel-core - Route templates parameters should be suppor…
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/AbstractReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/DeadLetterChannelReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/DefaultErrorHandlerReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/ErrorHandlerRefReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/ErrorHandlerReifier.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplateRedeliveryTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/OnExceptionRedeliveryPlaceholderTest.java
Labels: core, camel-4

#14701 Upgrade jandex to 3.2.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#14703 Seda
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaConsumer.java
  core/camel-core/src/test/java/org/apache/camel/processor/WireTapAbortPolicyTest.java
Labels: components, core, camel-4

#14704 CAMEL-20634: camel-langchain4j: Centralize header name CamelLangchain…
  components/camel-ai/camel-langchain4j-embeddings/src/main/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddings.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/transform/MilvusEmbeddingsDataTypeTransformer.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/transform/PineconeEmbeddingsDataTypeTransformer.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/transform/QdrantEmbeddingsDataTypeTransformer.java
  core/camel-api/src/main/java/org/apache/camel/ai/CamelLangchain4jAttributes.java
Labels: components, core, camel-4

#14707 chore(jbang): Fix plugin helper
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
Labels: dsl, camel-4

#14711 CAMEL-20938: camel-http: Fix disableStreamCache cannot read input str…
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpDisableStreamCacheTest.java
Labels: components, camel-4

#14712 chore(jbang): Use runtime type enum in all commands
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SBOMGenerator.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionSet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeType.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeTypeConverter.java
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/CodeRestGenerator.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Agent.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/RuntimeTypeConverter.java
Labels: dsl, camel-4

#14713 (chores) camel-lumberjack: fix a concurrency issue causing the test to be flaky
  components/camel-lumberjack/src/test/java/org/apache/camel/component/lumberjack/LumberjackMultiThreadIT.java
Labels: components, camel-4

#14714 Master retry
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/master.json
  components/camel-jgroups-raft/pom.xml
  components/camel-jgroups-raft/src/main/java/org/apache/camel/component/jgroups/raft/cluster/JGroupsRaftClusterView.java
  components/camel-jgroups-raft/src/test/java/org/apache/camel/component/jgroups/raft/cluster/JGroupsRaftMasterTest.java
  components/camel-master/src/generated/java/org/apache/camel/component/master/MasterComponentConfigurer.java
  components/camel-master/src/generated/resources/META-INF/org/apache/camel/component/master/master.json
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterComponent.java
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterConsumer.java
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MasterComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#14716 chore(jbang): Fix runtime type checks in run command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#14715 camel-jbang-it: update it
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/DevModeITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandITCase.java
Labels: dsl, camel-4

#14717 BugFix fixed string comparison: need !equals() instead of !=
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
Labels: components, camel-4

#14719 Upgrade Debezium to 2.7.0.Final
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-db2.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-mongodb.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-mysql.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-oracle.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-postgres.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-sqlserver.json
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2ComponentConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointConfigurer.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/DebeziumDb2EndpointUriFactory.java
  components/camel-debezium/camel-debezium-db2/src/generated/java/org/apache/camel/component/debezium/configuration/Db2ConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-db2/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-db2.json
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbComponentConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/DebeziumMongodbEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/java/org/apache/camel/component/debezium/configuration/MongoDbConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mongodb/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-mongodb.json
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlComponentConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointConfigurer.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/DebeziumMySqlEndpointUriFactory.java
  components/camel-debezium/camel-debezium-mysql/src/generated/java/org/apache/camel/component/debezium/configuration/MySqlConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-mysql/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-mysql.json
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleComponentConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointUriFactory.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-oracle.json
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresComponentConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointUriFactory.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/configuration/PostgresConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-postgres/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-postgres.json
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverComponentConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointConfigurer.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpointUriFactory.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/java/org/apache/camel/component/debezium/configuration/SqlServerConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-sqlserver/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-sqlserver.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumDb2ComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumMongodbComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumMysqlComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumOracleComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumPostgresComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumSqlserverComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumDb2EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumMongodbEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumMySqlEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumOracleEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumPostgresEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumSqlserverEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumDb2UriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumMongodbUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumMysqlUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumOracleUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumPostgresUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DebeziumSqlserverUriDsl.kt
  parent/pom.xml
Labels: components, catalog, dsl, core-build-and-dependencies, camel-4

#14718 BugFix removed write only object
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/WhatsAppWebhookProcessor.java
Labels: components, camel-4

#14736 CAMEL-17110: camel-aws: s3 consumer should have in-progress repo to a…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointConfigurer.java
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointUriFactory.java
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Consumer.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Endpoint.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3ConsumerIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2S3UriDsl.kt
Labels: components, catalog, dsl, components-aws, camel-4

#14742 Sqs duplicate
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sqs.json
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2EndpointConfigurer.java
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2EndpointUriFactory.java
  components/camel-aws/camel-aws2-sqs/src/generated/resources/META-INF/org/apache/camel/component/aws2/sqs/aws2-sqs.json
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsBatchConsumerConcurrentConsumersIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsBatchConsumerTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/integration/SqsConsumerMessageLocalstackIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Sqs2EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2SqsUriDsl.kt
Labels: components, catalog, dsl, components-aws, camel-4

#14743 CAMEL-20905: camel-djl - Support more applications for custom models
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/ModelPredictorProducer.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/audio/CustomAudioPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/audio/ZooAudioPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/CustomCvPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/CustomImageGenerationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/CustomObjectDetectionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooImageEnhancementPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/CustomNlpPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/CustomQuestionAnswerPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/CustomWordEmbeddingPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooMachineTranslationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/tabular/CustomTabularPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/tabular/ZooLinearRegressionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/tabular/ZooSoftmaxRegressionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/timeseries/CustomForecastingPredictor.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/AudioLocalTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageEnhancementLocalTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageGenerationTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/model/ModelPredictorProducerTest.java
  components/camel-ai/camel-djl/src/test/resources/data/enhance/fox.png
Labels: components, camel-4

#14746 CAMEL-20946: Generate Quarkus project with correct Camel Debug
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
Labels: dsl, camel-4

#14744 CAMEL-20943: camel-jbang - Add openapi generate integration test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/OpenApiITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
Labels: dsl, camel-4

#14747 [CAMEL-20948] Handle proper streaming with camel-util-json (no unnecessary StringWriter)
  tooling/camel-util-json/src/main/java/org/apache/camel/util/json/JsonArray.java
  tooling/camel-util-json/src/main/java/org/apache/camel/util/json/JsonObject.java
  tooling/camel-util-json/src/main/java/org/apache/camel/util/json/Jsoner.java
Labels: tooling, camel-4

#14748 CAMEL-20949: camel-bean - Method parameters with both type and proper…
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplateLocalBeanTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanOverloadedMethodTest.java
  core/camel-core/src/test/java/org/apache/camel/util/StingQuoteHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
  core/camel-util/src/main/java/org/apache/camel/util/StringQuoteHelper.java
  core/camel-util/src/test/java/org/apache/camel/util/StringQuoteHelperTest.java
Labels: core, camel-4

#14749 CAMEL-20814: Revert due to build-info causes to not be able to do Camel releases
  Dockerfile
  builder
  pom.xml
Labels: camel-4

#14750 CAMEL-20682: camel-kafka - KafkaIdempotentRepository misses continuou…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans/KafkaIdempotentRepository.json
  components/camel-kafka/src/generated/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryConfigurer.java
  components/camel-kafka/src/generated/resources/META-INF/services/org/apache/camel/bean/KafkaIdempotentRepository.json
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepository.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
Labels: components, components-kafka, catalog, docs, camel-4

#14751 CAMEL-20686 - appended UUID to static test filenames for uniqueness (set 3)
  core/camel-core/src/test/java/org/apache/camel/component/bean/FileBeanParameterBindingTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/ConsumerTemplateFileShutdownTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileAbsoluteAndRelativeConsumerTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerConsumedFileNameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerPreMoveDeleteTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerPreMoveNoopTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceOverruleExpressionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistFailTest.java
Labels: core, camel-4

#14758 CAMEL-20954: Cannot share SSLContextParameters between camel-kafka an…
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka, camel-4

#14767 Added VEX file from CycloneDX SBOM
  camel-sbom/camel-sbom.vex.json
Labels: camel-4

#14766 CAMEL-20838: avoid using API methods for JUnit features
  components/camel-slack/src/test/java/org/apache/camel/component/slack/SlackConsumerTest.java
Labels: components, camel-4

#14768 Kafka dev console and jbang command
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/kafka.json
  components/camel-kafka/pom.xml
  components/camel-kafka/src/generated/resources/META-INF/org/apache/camel/dev-console/kafka.json
  components/camel-kafka/src/generated/resources/META-INF/services/org/apache/camel/dev-console/kafka
  components/camel-kafka/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaDevConsole.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/TaskHealthState.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/CommitManager.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessorFacade.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/ProcessingResult.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/TopicHelper.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/ClassicRebalanceListener.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/classic/PartitionAssignmentAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/resume/ResumeRebalanceListener.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/streaming/KafkaRecordStreamingProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/subcription/DefaultSubscribeAdapter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/subcription/SubscribeAdapter.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListHealth.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListKafka.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ProcessWatchCommand.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/version/VersionGetTest.java
Labels: components, components-kafka, catalog, dsl, camel-4

#14774 CAMEL-20956: separate metrics collection concerns from record fetching concerns
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaDevConsole.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/devconsole/DefaultMetricsCollector.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/devconsole/DevConsoleMetricsCollector.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/devconsole/NoopMetricsCollector.java
Labels: components, components-kafka, camel-4

#14775 CAMEL-20955: Add JBang plugin modules to camel-bom
  bom/camel-bom/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#14776 chore(camel-jbang): Do not use single character shortcut options
  docs/user-manual/modules/ROOT/pages/camel-jbang-k.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginAdd.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginGet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/generated/resources/META-INF/services/org/apache/camel/camel-jbang-plugin/camel-jbang-plugin-k
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Bind.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKCommand.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKPlugin.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogs.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationGetTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogsTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: docs, dsl, camel-4

#14777 Update maven-release-plugin to 3.1.0 again
  pom.xml
Labels: camel-4

#14769 CAMEL-20227: avoid calling the consumer test unless Kafka consumer has been paused
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/errorhandler/KafkaConsumerListener.java
  core/camel-api/src/main/java/org/apache/camel/resume/ConsumerListener.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
Labels: components, components-kafka, core, camel-4

#14779 chore(camel-jbang): Fix table layout in Kubernetes plugin docs
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-k/pom.xml
Labels: docs, dsl, camel-4

#14780 Document how to use the local camel-jbang build
  dsl/camel-jbang/README.md
Labels: dsl, camel-4

#14781 CAMEL-20686 - appended static test filenames with UUID for uniqueness (set 4)
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeAlterFileNameHeaderIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerPreMoveTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileKeepLastModifiedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceAppendTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceOverruleTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceTempFileNameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerAllowNullBodyFileAlreadyExistsTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistAppendTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerMoveExistingStrategyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/GenericFileConverterTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/IOConverterTest.java
Labels: core, camel-4

#14782 camel-ai - Add ai-summary.adoc for AI components
  components/camel-ai/camel-chatscript/src/main/docs/chatscript-component.adoc
  components/camel-ai/camel-djl/src/main/docs/djl-component.adoc
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
  components/camel-ai/camel-langchain4j-embeddings/src/main/docs/langchain4j-embeddings-component.adoc
  components/camel-ai/camel-milvus/src/main/docs/milvus-component.adoc
  components/camel-ai/camel-pinecone/src/main/docs/pinecone-component.adoc
  components/camel-ai/camel-qdrant/src/main/docs/qdrant-component.adoc
  components/camel-ai/src/main/docs/ai-summary.adoc
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/ai-summary.adoc
Labels: components, docs, camel-4

#14788 Update elasticsearch-rest-client-component.adoc
  components/camel-elasticsearch-rest-client/src/main/docs/elasticsearch-rest-client-component.adoc
Labels: components, camel-4

#14790 CAMEL-20970: camel-main - Allow to configure MainListener via applica…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/test/java/org/apache/camel/main/MainListenerTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MyMainListener.java
Labels: core, catalog, camel-4

#14802 CAMEL-20973: log eip - Make it possible to configure log name more dy…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/log.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/log.json
  core/camel-core-model/src/main/java/org/apache/camel/model/LogDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/LogReifier.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#14805 camel-jira - Upgrade to jira client 6.0.1
  .mvn/rrf/groupId-atlassian.txt
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#14789 [CAMEL-20969] k8s plugin may generate conflicting docker build depend…
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#14821 Camel-AWS-Kinesis: KCL Consumer add a note about starting time and ta…
  components/camel-aws/camel-aws2-kinesis/src/main/docs/aws2-kinesis-component.adoc
Labels: components, components-aws, camel-4

#14822 (chores) camel-core: fixed timing issue causing test flakiness
  core/camel-core/src/test/java/org/apache/camel/component/file/FileExclusiveReadLockCopyTest.java
Labels: core, camel-4

#14824 CAMEL-20981: Fix ceOverrides option with YAML DSL
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/ce/AbstractCloudEventProcessor.java
  components/camel-knative/camel-knative-component/src/test/java/org/apache/camel/component/knative/KnativeComponentTest.java
  components/camel-knative/camel-knative-component/src/test/resources/environment.json
  components/camel-knative/camel-knative-component/src/test/resources/environment_classic.json
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpTest.java
Labels: components, camel-4

#14825 chore(camel-jbang): Kubernetes plugin command test
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
Labels: dsl, camel-4

#14823 Fix getInOnlyTemplate in SpringRabbitMQProducer.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQProducer.java
Labels: components, camel-4

#14846 fix getInOnlyTemplate in SpringRabbitMQProducer.java (#14823)
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQProducer.java
Labels: components

#14847 fix getInOnlyTemplate in SpringRabbitMQProducer.java (#14823)
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQProducer.java
Labels: components

#14850 (chores) camel-as2: minor test code cleanup
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
Labels: components, camel-4

#14860 Update graphql-component.adoc
  components/camel-graphql/src/main/docs/graphql-component.adoc
Labels: components, camel-4

#14848 CAMEL-20980 Add object mapper uri param for json validator
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/json-validator.json
  components/camel-json-validator/src/generated/java/org/apache/camel/component/jsonvalidator/JsonValidatorComponentConfigurer.java
  components/camel-json-validator/src/generated/java/org/apache/camel/component/jsonvalidator/JsonValidatorEndpointConfigurer.java
  components/camel-json-validator/src/generated/java/org/apache/camel/component/jsonvalidator/JsonValidatorEndpointUriFactory.java
  components/camel-json-validator/src/generated/resources/META-INF/org/apache/camel/component/jsonvalidator/json-validator.json
  components/camel-json-validator/src/main/java/org/apache/camel/component/jsonvalidator/JsonValidatorComponent.java
  components/camel-json-validator/src/main/java/org/apache/camel/component/jsonvalidator/JsonValidatorEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JsonValidatorComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JsonValidatorEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JsonValidatorUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14863 Camel-Jbang: Upgrade to Camel 4.7.0
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#14845 CAMEL-20686 - Appended static test filenames with UUID (set 5)
  core/camel-core/src/test/java/org/apache/camel/component/file/FileBeginFailureOneTimeTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerAbsolutePathDefaultMoveTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentKeyChangedIssue2Test.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistIgnoreTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistOverrideTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistTryRenameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileRouteOnDosWithNoVolTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultConsumerTemplateTest.java
Labels: core, camel-4

#14875 Camel-JBang: Upgrade to Camel Kamelets 4.7.0
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#14880 camel-djl - Add query parameter showProgress for controlling progress…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/djl.json
  components/camel-ai/camel-djl/src/generated/java/org/apache/camel/component/djl/DJLEndpointConfigurer.java
  components/camel-ai/camel-djl/src/generated/java/org/apache/camel/component/djl/DJLEndpointUriFactory.java
  components/camel-ai/camel-djl/src/generated/resources/META-INF/org/apache/camel/component/djl/djl.json
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/DJLEndpoint.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/DJLProducer.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/AbstractPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/ModelPredictorProducer.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/audio/CustomAudioPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/audio/ZooAudioPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/AbstractCvZooPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/CustomCvPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/CustomImageGenerationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooActionRecognitionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooImageClassificationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooImageEnhancementPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooImageGenerationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooInstanceSegmentationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooObjectDetectionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooPoseEstimationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooSemanticSegmentationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/ZooWordRecognitionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/AbstractNlpZooPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/CustomNlpPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/CustomQuestionAnswerPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/CustomWordEmbeddingPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooFillMaskPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooMachineTranslationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooMultipleChoicePredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooQuestionAnswerPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooSentimentAnalysisPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooTextClassificationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooTextEmbeddingPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooTextGenerationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooTokenClassificationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/nlp/ZooWordEmbeddingPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/tabular/CustomTabularPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/tabular/ZooLinearRegressionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/tabular/ZooSoftmaxRegressionPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/timeseries/CustomForecastingPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/timeseries/ZooForecastingPredictor.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageClassificationTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/model/ModelPredictorProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DJLEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DjlUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14862 CAMEL-20988: Fixed initialization failures logging
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/TestUtils.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbService.java
Labels: test-infra, camel-4

#14885 Undertow component javadocs typos fixes
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/UndertowHost.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/UndertowProducer.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/handlers/CamelWebSocketHandler.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/spi/UndertowSecurityProvider.java
Labels: components, camel-4

#14884 CAMEL-20998: Prioritize objectName configuration over headers
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageProducer.java
  components/camel-google/camel-google-storage/src/test/java/org/apache/camel/component/google/storage/unit/ProducerStoreFileTest.java
Labels: components, camel-4

#14883 [CAMEL-20995] Fix bug in azure-blob. Enable retry during upload if input stream support mark/reset
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientWrapper.java
Labels: components, components-azure, camel-4

#14886 Include disruptor and disruptor-vm on validation mojo
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
Labels: catalog, camel-4

#14889 Update protobuf-maven-plugin to v2.4.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#14778 Camel-20918: fix exception handling for Salesforce Streaming API
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/StreamingApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/ReplayExtension.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/streaming/ReplayExtensionTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/streaming/StubServer.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelperManualIT.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelperTest.java
Labels: components, camel-4

#14898 CAMEL-20984: Add Camel JBang Kubernetes trait container missing options
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: docs, dsl, camel-4

#14900 CAMEL-20983: Add JBang Knative service trait
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/AnnotationTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/DeploymentTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitCatalog.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitContext.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeBaseTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  parent/pom.xml
Labels: docs, dsl, core-build-and-dependencies, camel-4

#14901 (chores) camel-test-infra: use Fedora 39 as the minimum version for custom containers
  test-infra/camel-test-infra-dispatch-router/src/test/java/org/apache/camel/test/infra/dispatch/router/services/DispatchRouterContainer.java
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/Dockerfile
Labels: test-infra, camel-4

#14903 camel-djl - Add type converter for DJL types
  components/camel-ai/camel-djl/src/generated/java/org/apache/camel/component/djl/DJLConverterLoader.java
  components/camel-ai/camel-djl/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-ai/camel-djl/src/main/docs/djl-component.adoc
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/DJLConverter.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/AbstractPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/audio/CustomAudioPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/audio/ZooAudioPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/AbstractCvZooPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/cv/CustomCvPredictor.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvActionRecognitionTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageClassificationLocalTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageClassificationTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageEnhancementLocalTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvInstanceSegmentationTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvObjectDetectionTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvPoseEstimationTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvSemanticSegmentationTest.java
Labels: components, camel-4

#14902 camel-kafka: Better pattern subscribe documentation sample
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka, camel-4

#14899 add content to bookByIdQuery.graphql in graphql-component.adoc
  components/camel-graphql/src/main/docs/graphql-component.adoc
Labels: components, camel-4

#14907 camel-djl - Add a converter: Image -> byte[] for saving output to file
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/djl.json
  components/camel-ai/camel-djl/src/generated/java/org/apache/camel/component/djl/DJLConverterLoader.java
  components/camel-ai/camel-djl/src/generated/resources/META-INF/org/apache/camel/component/djl/djl.json
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/DJLConstants.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/DJLConverter.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageGenerationTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DJLEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#14908 Upgrade SmallRye Fault Tolerance to 6.4.0
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceProcessor.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceReifier.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14906 [CAMEL-21006] Allow kubernetes export without image registry
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#14910 CAMEL-21003: Fix disablement of property location loading when dev profile is active
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/test/java/org/apache/camel/main/MainPropertyPlaceholderTest.java
Labels: core, camel-4

#14911 CAMEL-20995: azure-blob Enable retry during upload if input stream su…
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientWrapper.java
Labels: components, components-azure

#14912 CAMEL-20995: azure-blob Enable retry during upload if input stream su…
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientWrapper.java
Labels: components, components-azure

#14916 Backport CAMEL-20988 to 4.4.x
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/TestUtils.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaService.java
  test-infra/camel-test-infra-smb/src/test/java/org/apache/camel/test/infra/smb/services/SmbService.java
Labels: test-infra

#14921 Backport CAMEL-20988 to 4.0.x
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/TestUtils.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaService.java
Labels: test-infra

#14927 CAMEL-21009 - Camel-AWS2-Kinesis: CloudWatchAsyncClient and DynamoDbAsyncClient parameters are ignored from KCL Consumer
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
Labels: components, components-aws, camel-4

#14913 CAMEL-21014: Fixed doFinally clause with route template
  core/camel-core-model/src/main/java/org/apache/camel/model/TryDefinition.java
  core/camel-core-model/src/test/java/org/apache/camel/model/TryDefinitionTest.java
Labels: core, camel-4

#14930 CAMEL-20983: Add JBang Knative trait support
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/MetadataHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/support/StubComponentResolver.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/CamelTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitCatalog.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitContext.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/knative-channel-sink.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/knative-channel-source.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/knative-endpoint-sink.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/knative-event-sink.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/knative-event-source.yaml
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderRoutesLoader.java
Labels: docs, dsl, camel-4

#14935 [CAMEL-21016] Add support for multiple build properties in jbang export
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
Labels: dsl, camel-4

#14936 CAMEL-21013: Add cluster-type and image-builder export command option
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: docs, dsl, camel-4

#14928 CAMEL-20935: introduce Camel LangChain4j Web Search component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-ai/camel-langchain4j-web-search/pom.xml
  components/camel-ai/camel-langchain4j-web-search/src/generated/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchComponentConfigurer.java
  components/camel-ai/camel-langchain4j-web-search/src/generated/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchConfigurationConfigurer.java
  components/camel-ai/camel-langchain4j-web-search/src/generated/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchEndpointConfigurer.java
  components/camel-ai/camel-langchain4j-web-search/src/generated/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchEndpointUriFactory.java
  components/camel-ai/camel-langchain4j-web-search/src/generated/resources/META-INF/org/apache/camel/component/langchain4j/web/search/langchain4j-web-search.json
  components/camel-ai/camel-langchain4j-web-search/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-langchain4j-web-search/src/generated/resources/META-INF/services/org/apache/camel/component/langchain4j-web-search
  components/camel-ai/camel-langchain4j-web-search/src/generated/resources/META-INF/services/org/apache/camel/configurer/langchain4j-web-search-component
  components/camel-ai/camel-langchain4j-web-search/src/generated/resources/META-INF/services/org/apache/camel/configurer/langchain4j-web-search-endpoint
  components/camel-ai/camel-langchain4j-web-search/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.langchain4j.web.search.LangChain4jWebSearchConfiguration
  components/camel-ai/camel-langchain4j-web-search/src/generated/resources/META-INF/services/org/apache/camel/urifactory/langchain4j-web-search-endpoint
  components/camel-ai/camel-langchain4j-web-search/src/main/docs/langchain4j-web-search-component.adoc
  components/camel-ai/camel-langchain4j-web-search/src/main/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchComponent.java
  components/camel-ai/camel-langchain4j-web-search/src/main/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchConfiguration.java
  components/camel-ai/camel-langchain4j-web-search/src/main/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchEndpoint.java
  components/camel-ai/camel-langchain4j-web-search/src/main/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchEngine.java
  components/camel-ai/camel-langchain4j-web-search/src/main/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchProducer.java
  components/camel-ai/camel-langchain4j-web-search/src/main/java/org/apache/camel/component/langchain4j/web/search/LangChain4jWebSearchResultType.java
  components/camel-ai/camel-langchain4j-web-search/src/test/java/org/apache/camel/component/langchain4j/web/search/LangChain4jGoogleWebSearchEngineIT.java
  components/camel-ai/camel-langchain4j-web-search/src/test/java/org/apache/camel/component/langchain4j/web/search/LangChain4jTavilyWebSearchEngineIT.java
  components/camel-ai/pom.xml
  docs/components/modules/ROOT/examples/json/langchain4j-web-search.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/langchain4j-web-search-component.adoc
  parent/pom.xml
Labels: components, catalog, docs, core-build-and-dependencies, camel-4

#14941 CAMEL-21017: Consolidate open-api options for Camel JBang export command
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: docs, dsl, camel-4

#14944 CAMEL-21020: remove obsolete swagger integration tests
  tooling/maven/camel-restdsl-openapi-plugin/src/it/customized-v3/src/main/java/com/example/MyDestinationGenerator.java
  tooling/maven/camel-restdsl-openapi-plugin/src/it/customized/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/customized/src/main/java/com/example/MyDestinationGenerator.java
  tooling/maven/camel-restdsl-openapi-plugin/src/it/customized/src/main/resources/petstore.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/customized/verify.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-dto/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-dto/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-dto/verify.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto-v3/verify.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto/verify.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml/verify.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-dto-v3/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-dto-v3/verify.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple/verify.groovy
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/GenerateMojo.java
Labels: tooling, tooling-maven, camel-4

#14937 [CAMEL-21016] camel-jbang: Add support for multiple --exclude, --repository
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CatalogLoader.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/console/DependencyDownloaderConsole.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloaderImpl.java
Labels: docs, dsl, tooling, camel-4

#14959 Typo: use 'per' and not 'pr.'
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ironmq.json
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/FromFtpToBinarySampleTest.java
  components/camel-ironmq/src/generated/resources/META-INF/org/apache/camel/component/ironmq/ironmq.json
  components/camel-ironmq/src/main/java/org/apache/camel/component/ironmq/IronMQConfiguration.java
  components/camel-ironmq/src/test/java/org/apache/camel/component/ironmq/integrationtest/ConcurrentConsumerLoadManualTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/IronMQEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/IronmqUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14958 Add a method to ResultErrorHelper to avoid the usage of deprecated method
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/firehose/KinesisFirehose2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-kms/src/main/java/org/apache/camel/component/aws2/kms/KMS2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-sts/src/main/java/org/apache/camel/component/aws2/sts/STS2ComponentVerifierExtension.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/DropboxComponentVerifierExtension.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchComponentVerifierExtension.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/GoogleMailComponentVerifierExtension.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/stream/GoogleMailStreamComponentVerifierExtension.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/GoogleSheetsVerifierExtension.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraVerifierExtension.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioComponentVerifierExtension.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/verifier/MongoComponentVerifierExtension.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchComponentVerifierExtension.java
  components/camel-paho-mqtt5/src/main/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5ComponentVerifierExtension.java
  components/camel-paho/src/main/java/org/apache/camel/component/paho/PahoComponentVerifierExtension.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestComponentVerifierExtensionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestComponentVerifierTest.java
  core/camel-support/src/main/java/org/apache/camel/component/extension/verifier/ResultErrorHelper.java
Labels: components, core, components-aws, camel-4

#14882 Align camel-4.4.x branch with dependencies from spring-boot 3.2.8.
  parent/pom.xml
Labels: core-build-and-dependencies

#14964 CAMEL-21024 - Camel-AWS-Secrets-Manager: Eventbridge/SQS notifications documentation
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: components, docs, components-aws, camel-4

#14963 Replace j.u.Stack with j.u.ArrayDequeue
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/XmlLineNumberParser.java
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/json/JsonParser.java
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/json/JsonStructure.java
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/FilesOperations.java
  components/camel-github/src/main/java/org/apache/camel/component/github/consumer/CommitConsumer.java
  components/camel-github/src/main/java/org/apache/camel/component/github/consumer/EventsConsumer.java
  components/camel-github/src/main/java/org/apache/camel/component/github/consumer/PullRequestCommentConsumer.java
  components/camel-github/src/main/java/org/apache/camel/component/github/consumer/PullRequestConsumer.java
  components/camel-github/src/main/java/org/apache/camel/component/github/consumer/TagConsumer.java
  components/camel-salesforce/camel-salesforce-codegen/src/main/java/org/apache/camel/component/salesforce/codegen/GenerateExecution.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/RouteCoverageXmlParser.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/util/xml/XmlLineNumberParser.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/io/YamlWriter.java
Labels: components, core, catalog, components-aws, components-azure, camel-4

#14962 CAMEL-21026: added a type converter for byte-array to PDF
  components/camel-pdf/src/generated/java/org/apache/camel/component/pdf/converter/PdfConverterLoader.java
  components/camel-pdf/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-pdf/src/main/docs/pdf-component.adoc
  components/camel-pdf/src/main/java/org/apache/camel/component/pdf/converter/PdfConverter.java
  components/camel-pdf/src/test/java/org/apache/camel/component/pdf/PDFUtil.java
  components/camel-pdf/src/test/java/org/apache/camel/component/pdf/PdfAppendTest.java
  components/camel-pdf/src/test/java/org/apache/camel/component/pdf/PdfConverterTest.java
  components/camel-pdf/src/test/java/org/apache/camel/component/pdf/PdfTextExtractionTest.java
Labels: components, camel-4

#14966 (chores) camel-test-infra: use Fedora 39 as the minimum version for c…
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/Dockerfile
Labels: test-infra

#14926 Add support for polling more than 10 messages from AWS SQS server
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sqs.json
  components/camel-aws/camel-aws2-sqs/pom.xml
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2ComponentConfigurer.java
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2EndpointConfigurer.java
  components/camel-aws/camel-aws2-sqs/src/generated/java/org/apache/camel/component/aws2/sqs/Sqs2EndpointUriFactory.java
  components/camel-aws/camel-aws2-sqs/src/generated/resources/META-INF/org/apache/camel/component/aws2/sqs/aws2-sqs.json
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Configuration.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Endpoint.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/AmazonSQSClientMock.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsBatchConsumerConcurrentConsumersIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsBatchConsumerTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsConsumerExtendMessageVisibilityTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/SqsDoesNotExtendMessageVisibilityTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/integration/Aws2SQSBaseTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/integration/SqsConsumerLocalstackIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2SqsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Sqs2EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2SqsUriDsl.kt
Labels: components, catalog, dsl, components-aws, camel-4

#14976 CAMEL-21021 - Camel-AWS-Secrets-Manager: Give the ability of refreshi…
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/vault/CloudTrailReloadTriggerTask.java
Labels: components, components-aws, camel-4

#14977 Camel-Jbang documentation: Removed missing fragment reference
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#14974 CAMEL-21035: Fix property binding support for map typed values
  core/camel-core/src/test/java/org/apache/camel/support/PropertyBindingSupportConfigurerTest.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
Labels: core, camel-4

#14975 Missing regex parameter for TokenizerExpression on ExpressionClauseSupport
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClauseSupport.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/TokenizerExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/TokenizeLanguageTest.java
Labels: core, camel-4

#14973 Upgrade mongodb driver to 4.11.2
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4
