Repository apache/camel, pull requests merged in 2024-06, with the labels that each got.

#14295 CAMEL-20785: fixes JUnit 5 API abuses
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/integration/SqsProducerAutoCreateQueueLocalstackIT.java
  components/camel-file-watch/src/test/java/org/apache/camel/component/file/watch/FileWatchComponentTestBase.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithOptionsTestSupport.java
  components/camel-nitrite/src/test/java/org/apache/camel/component/nitrite/AbstractNitriteTest.java
Labels: components, components-aws, camel-4

#14297 CAMEL-20823 Filter out folders when listing files
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
Labels: components, camel-4

#14298 CAMEL-20680 - fix root cause of slow publish to partition 1 + CAMEL-20722 re-enable
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
Labels: components, components-kafka, camel-4

#14294 CAMEL-20812: camel-netty-http: hostnameVerification option not used
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/netty-http.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/netty.json
  components/camel-netty-http/src/generated/resources/META-INF/org/apache/camel/component/netty/http/netty-http.json
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/HttpClientInitializerFactory.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/HttpServerInitializerFactory.java
  components/camel-netty/src/generated/resources/META-INF/org/apache/camel/component/netty/netty.json
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/NettyComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/NettyHttpComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/NettyEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/NettyHttpEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/NettyHttpUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/NettyUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14310 camel-smooks
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smooks.json
  components/camel-smooks/pom.xml
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksComponentConfigurer.java
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksEndpointConfigurer.java
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksEndpointUriFactory.java
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/converter/ResultConverterLoader.java
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/converter/SourceConverterLoader.java
  components/camel-smooks/src/generated/resources/META-INF/org/apache/camel/component/smooks/smooks.json
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/component/smooks
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/configurer/smooks-component
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/configurer/smooks-endpoint
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/urifactory/smooks-endpoint
  components/camel-smooks/src/main/docs/smooks-component.adoc
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksComponent.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksEndpoint.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksProcessor.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/converter/ResultConverter.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/converter/SourceConverter.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/Coordinate.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksComponentTest.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/converter/ResultConverterTest.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/converter/SourceConverterTest.java
  components/camel-smooks/src/test/resources/EBCDIC-input-message.txt
  components/camel-smooks/src/test/resources/data/order.txt
  components/camel-smooks/src/test/resources/edi-mapping-model.dfdl.xsd
  components/camel-smooks/src/test/resources/edi-to-xml-smooks-config.xml
  components/camel-smooks/src/test/resources/xml/expected-order.xml
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/smooks.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/smooks-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SmooksComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SmooksEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SmooksUriDsl.kt
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#14289 CAMEL-20785: split responsibilities from the test support class
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/MyRouteDuplicateIdTest.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/jaxws/CxfConsumerPayloadXPathTest.java
  components/camel-cxf/camel-cxf-spring-rest/pom.xml
  components/camel-cxf/camel-cxf-spring-rest/src/test/java/org/apache/camel/component/cxf/jaxrs/CxfRsConsumerTest.java
  components/camel-cxf/camel-cxf-spring-rest/src/test/java/org/apache/camel/component/cxf/jaxrs/CxfRsSpringConsumerTest.java
  components/camel-cxf/camel-cxf-spring-soap/pom.xml
  components/camel-ehcache/src/test/java/org/apache/camel/component/ehcache/EhcacheConfigurationTest.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirConfigurationIT.java
  components/camel-google/camel-google-calendar/src/test/java/org/apache/camel/component/google/calendar/CalendarConfigurationTest.java
  components/camel-google/camel-google-drive/src/test/java/org/apache/camel/component/google/drive/DriveConfigurationTest.java
  components/camel-google/camel-google-mail/src/test/java/org/apache/camel/component/google/mail/GmailConfigurationTest.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/SheetsConfigurationTest.java
  components/camel-jaxb/src/test/java/org/apache/camel/jaxb/CamelJaxbNoNamespaceSchemaLocationSpringTest.java
  components/camel-jaxb/src/test/java/org/apache/camel/jaxb/CamelJaxbSpringTest.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRAClientTest.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRASagaCoordinatorTest.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRASagaServiceTest.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/test/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceTimeoutTest.java
  components/camel-olingo4/camel-olingo4-component/src/test/java/org/apache/camel/component/olingo4/Olingo4ComponentConsumerTest.java
  components/camel-quickfix/src/test/java/org/apache/camel/component/quickfixj/QuickfixjConfigurationTest.java
  components/camel-saxon/src/test/java/org/apache/camel/component/xquery/XQueryComponentConfigurationTest.java
  components/camel-saxon/src/test/java/org/apache/camel/component/xquery/XQueryEndpointConfigurationTest.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelContextConfiguration.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelContextManager.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/LegacyCamelContextManager.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestExecutionConfiguration.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/util/CamelContextTestHelper.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/CamelTestSupportOneContextForAllTest.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/DebugJUnit5Test.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/DebugNoLazyTypeConverterTest.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/DebugTest.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/TestDebugBreakpoint.java
  components/camel-test/camel-test-main-junit5/src/main/java/org/apache/camel/test/main/junit5/CamelMainTestSupport.java
  components/camel-test/camel-test-spring-junit5/src/main/java/org/apache/camel/test/spring/junit5/CamelSpringTestSupport.java
  components/camel-test/camel-test-spring-junit5/src/test/java/org/apache/camel/test/patterns/DebugSpringTest.java
  components/camel-xslt-saxon/src/test/java/org/apache/camel/component/xslt/SaxonXsltComponentConfigurationTest.java
  components/camel-xslt-saxon/src/test/java/org/apache/camel/component/xslt/SaxonXsltEndpointConfigurationTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
Labels: components, catalog, docs, camel-4

#14311 CAMEL-18962: encryption and signature handling with server config
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/AS2MessageDispositionNotificationEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/EntityParser.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/exception/AS2AuthenticationException.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/exception/AS2DecryptionException.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/exception/AS2ErrorDispositionException.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/exception/AS2InsufficientSecurityException.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/protocol/ResponseMDN.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/HttpMessageUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTestBase.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2UnencryptedMessageTest.java
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Consumer.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2AsyncMDNServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerEncryptedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerITBase.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerSecEncryptedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerSecEncryptedSignedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerSecSignedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerSecTestBase.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerSecUnsignedUnencryptedIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
Labels: components, docs, camel-4

#14312 [CAMEL-20829] Streamline ServicePool synchronization
  core/camel-support/src/main/java/org/apache/camel/support/cache/ServicePool.java
Labels: core, camel-4

#14323 CAMEL-20785: modernize checks for supported JVMs
  components/camel-crypto/src/test/java/org/apache/camel/component/crypto/ECDSASignatureTest.java
  components/camel-crypto/src/test/java/org/apache/camel/component/crypto/SignatureTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSSLHandshakeErrorTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSSLSNITest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSSLTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/MainNettyGlobalSSLContextParametersTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyGlobalSSLContextParametersTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettySSLClasspathTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettySSLClientCertHeadersTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettySSLContextParametersTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettySSLPassphaseBeanTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettySSLTest.java
  components/camel-saxon/src/test/java/org/apache/camel/language/xpath/XPathLanguageDefaultSettingsTest.java
  components/camel-saxon/src/test/java/org/apache/camel/language/xpath/XPathLanguageTest.java
Labels: components, camel-4

#14324 chore: Use actions/upload-artifact v4
  .github/actions/component-test/action.yaml
  .github/actions/incremental-build/action.yaml
  .github/actions/quick-test/action.yaml
Labels: camel-4

#14339 chore: Specify a suffix for GitHub Actions upload artifact
  .github/actions/component-test/action.yaml
  .github/actions/incremental-build/action.yaml
  .github/actions/quick-test/action.yaml
  .github/workflows/pr-build-camel-3.yml
  .github/workflows/pr-build-camel-40x.yml
  .github/workflows/pr-build-main.yml
  .github/workflows/pr-comment.yml
Labels: camel-4

#14340 Use correct notation variable input for GitHub Actions
  .github/actions/component-test/action.yaml
  .github/actions/incremental-build/action.yaml
  .github/actions/quick-test/action.yaml
Labels: camel-4

#14342 chore: adjust uploaded artifact configuration
  .github/actions/component-test/action.yaml
  .github/actions/incremental-build/action.yaml
Labels: camel-4

#14341 CAMEL-20785: mark internal methods as deprecated
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
Labels: components, camel-4

#14373 chore: remove no more used test infra dependencies ftpmockserver and
  tests/camel-itest/pom.xml
Labels: tests, camel-4

#14344 CAMEL-20722 new log entry to log the exception
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaService.java
Labels: test-infra, camel-4

#14354 CAMEL-20785: avoid using setup/cleanup deprecated methods
  components/camel-aws/camel-aws-xray/src/test/java/org/apache/camel/component/aws/xray/CamelAwsXRayTestSupport.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletRouteDumpTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/AbstractClusteredJdbcAggregationTestSupport.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/AbstractJdbcAggregationTestSupport.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/ClusteredJdbcAggregateRecoverTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateDiscardOnTimeoutTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateForceCompletionHeaderTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateLoadAndRecoverTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateLoadConcurrentTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateLoadTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateNotLostRemovedWhenConfirmedTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateNotLostTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateRecoverDeadLetterChannelFailedTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateRecoverDeadLetterChannelTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateRecoverTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateRecoverWithRedeliveryPolicyTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateRecoverWithSedaTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateSerializedHeadersTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateStoreAsText2Test.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateStoreAsTextTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregateTimeoutCompletionRestartTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepositoryRecoverExistingTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcAggregationRepositoryTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcRemoveConfirmOrderAggregateTest.java
  components/camel-test/camel-test-main-junit5/src/main/java/org/apache/camel/test/main/junit5/CamelMainTestSupport.java
  components/camel-test/camel-test-main-junit5/src/test/java/org/apache/camel/test/main/junit5/legacy/ReplaceBeanTest.java
  components/camel-test/camel-test-main-junit5/src/test/java/org/apache/camel/test/main/junit5/legacy/ReplaceBeanWithMockTest.java
Labels: components, components-aws, camel-4

#14376 CAMEL-20722: Changed base class for KafkaBreakOnFirstErrorSeekIssueIT
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
Labels: components, components-kafka, camel-4

#14386 CAMEL-20623: camel-rest-openapi - Use client validator from camel-cor…
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdvice.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdviceFactory.java
Labels: components, core, camel-4

#14382 chore: remove unused test dependencies in Micrometer Prometheus
  components/camel-micrometer-prometheus/pom.xml
Labels: components, camel-4

#14383 chore: Remove unused test dependencies in Platform Http main
  components/camel-platform-http-main/pom.xml
Labels: components, camel-4

#14385 chore: Remove unused test dependencies in Knative
  components/camel-knative/camel-knative-api/pom.xml
  components/camel-knative/camel-knative-component/pom.xml
Labels: components, camel-4

#14387 chore: Remove unused test dependencies in Joor
  components/camel-joor/pom.xml
Labels: components, camel-4

#14388 chore: Remove unused test dependencies in Jgroup
  components/camel-jgroups/pom.xml
Labels: components, camel-4

#14389 chore: remove unused test dependencies in Hashicorp vault
  components/camel-hashicorp-vault/pom.xml
Labels: components, camel-4

#14391 chore: remove unused test dependencies in google
  components/camel-google/camel-google-functions/pom.xml
  components/camel-google/camel-google-secret-manager/pom.xml
  components/camel-google/camel-google-storage/pom.xml
Labels: components, camel-4

#14392 chore: remove unused test dependencies in Azure
  components/camel-azure/camel-azure-files/pom.xml
  components/camel-azure/camel-azure-key-vault/pom.xml
  components/camel-azure/camel-azure-servicebus/pom.xml
  components/camel-azure/camel-azure-storage-blob/pom.xml
Labels: components, components-azure, camel-4

#14393 chore: remove unused test dependencies in Aws
  components/camel-aws/camel-aws-bedrock/pom.xml
  components/camel-aws/camel-aws-cloudtrail/pom.xml
  components/camel-aws/camel-aws2-ec2/pom.xml
  components/camel-aws/camel-aws2-eks/pom.xml
  components/camel-aws/camel-aws2-iam/pom.xml
  components/camel-aws/camel-aws2-msk/pom.xml
  components/camel-aws/camel-aws2-ses/pom.xml
  components/camel-aws/camel-aws2-sns/pom.xml
Labels: components, components-aws, camel-4

#14396 chore: remove unused test dependencies in Atom
  components/camel-atom/pom.xml
Labels: components, camel-4

#14394 chore: remove unused test dependencies in jq
  components/camel-jq/pom.xml
Labels: components, camel-4

#14400 rest client validator
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/validator/DefaultRequestValidator.java
  core/camel-api/src/main/java/org/apache/camel/spi/RestClientRequestValidator.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/DefaultRestClientRequestValidator.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdvice.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdviceFactory.java
Labels: components, core, camel-4

#14401 Fix typo
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
Labels: core, camel-4

#14378 Remove GitHub Workflows on main branch
  .github/workflows/push-build-camel-3.yml
  .github/workflows/push-build-camel-40x.yml
  .github/workflows/push-build-main.yml
Labels: camel-4

#14384 CAMEL-20785: provide a way to create context managers when needed
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/ContextManagerFactory.java
Labels: components, camel-4

#14410 Fix documentation for Docker image for Camel JBang using run target
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#14411 CAMEL-20841 Fixes DS expressions not able to be evalated after being removed from mapperCache
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetExpression.java
Labels: components, camel-4

#14409 CAMEL-20608 - Improve Docker image for JBang
  dsl/camel-jbang/camel-jbang-container/Dockerfile
Labels: dsl, camel-4

#14412 CAMEL-20845: camel-core - Simple language to make it easy to replace …
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#14395 [CAMEL-20849] Move TransformerKey and ValidatorKey to the SPI
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/transform/Ddb2JsonDataTypeTransformerTest.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/transform/AWS2S3CloudEventDataTypeTransformerTest.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/transform/AWS2S3TransformCloudEventsTest.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/transform/AWS2SQSCloudEventDataTypeTransformerTest.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/transform/AzureStorageBlobCloudEventDataTypeTransformerTest.java
  components/camel-cloudevents/src/test/java/org/apache/camel/component/cloudevents/transformer/CloudEventHttpDataTypeTransformerTest.java
  components/camel-cloudevents/src/test/java/org/apache/camel/component/cloudevents/transformer/CloudEventJsonDataTypeTransformerTest.java
  components/camel-google/camel-google-storage/src/test/java/org/apache/camel/component/google/storage/transform/GoogleStorageCloudEventDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroBinaryDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroPojoDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroStructDataTypeTransformerTest.java
  components/camel-jackson-protobuf/src/test/java/org/apache/camel/component/jackson/protobuf/transform/ProtobufBinaryDataTypeTransformerTest.java
  components/camel-jackson-protobuf/src/test/java/org/apache/camel/component/jackson/protobuf/transform/ProtobufPojoDataTypeTransformerTest.java
  components/camel-jackson-protobuf/src/test/java/org/apache/camel/component/jackson/protobuf/transform/ProtobufStructDataTypeTransformerTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/JsonDataTypeTransformerTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/JsonPojoDataTypeTransformerTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/transform/JsonStructDataTypeTransformerTest.java
  core/camel-api/src/main/java/org/apache/camel/spi/TransformerKey.java
  core/camel-api/src/main/java/org/apache/camel/spi/TransformerRegistry.java
  core/camel-api/src/main/java/org/apache/camel/spi/ValidatorKey.java
  core/camel-api/src/main/java/org/apache/camel/spi/ValidatorRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultTransformerRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultTransformerResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultValidatorRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/TransformerConsole.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultCamelContext.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/transformer/AnnotationTransformerLoader.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/transformer/DataTypeProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/transformer/DefaultTransformerLoader.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultTransformerRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultTransformerResolverTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/transformer/ByteArrayDataTypeTransformerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/transformer/StringDataTypeTransformerTest.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementLifecycleStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedTransformerRegistry.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedValidatorRegistry.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/StubTransformerResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderTransformerResolver.java
Labels: components, core, docs, dsl, components-aws, components-azure, camel-4

#14408 CAMEL-20843: further split the CamelTestSupport responsibilities
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/PubNubTestBase.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/AbstractTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CommonTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestExecutionConfiguration.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/util/CamelContextTestHelper.java
  components/camel-test/camel-test-main-junit5/src/main/java/org/apache/camel/test/main/junit5/CamelMainExtension.java
  components/camel-test/camel-test-spring-junit5/src/main/java/org/apache/camel/test/spring/junit5/CamelAnnotationsHandler.java
Labels: components, camel-4

#14421 Making several configuration ehtods for TestSupport public
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelContextConfiguration.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestExecutionConfiguration.java
Labels: components, camel-4

#14374 CAMEL-20833 Add a recursive option for polling files and subdirectories
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smb.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbEndpointConfigurer.java
  components/camel-smb/src/generated/java/org/apache/camel/component/smb/SmbEndpointUriFactory.java
  components/camel-smb/src/generated/resources/META-INF/org/apache/camel/component/smb/smb.json
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConfiguration.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SmbEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SmbUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14406 CAMEL-20776: Kinesis Consumer uses a separate thread to monitor shard changes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2ComponentConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointUriFactory.java
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisConsumerClosedShardWithFailTest.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisConsumerClosedShardWithSilentTest.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeAfterRestartIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2KinesisComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Kinesis2EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2KinesisUriDsl.kt
Labels: components, catalog, dsl, components-aws, camel-4

#14423 CAMEL-19358 - changes to address flakiness of KafkaConsumerFullIT test
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerFullIT.java
Labels: components, components-kafka, camel-4

#14426 CAMEL-20852: New option to allow adding empty files to a zip
  components/camel-zipfile/src/generated/java/org/apache/camel/processor/aggregate/zipfile/ZipAggregationStrategyConfigurer.java
  components/camel-zipfile/src/generated/resources/META-INF/services/org/apache/camel/bean/ZipAggregationStrategy.json
  components/camel-zipfile/src/main/java/org/apache/camel/processor/aggregate/zipfile/ZipAggregationStrategy.java
  components/camel-zipfile/src/test/java/org/apache/camel/processor/aggregate/zipfile/ZipAggregationStrategyEmptyFileTest.java
Labels: components, camel-4

#14418 Automate version update of documentation
  .github/dependabot.yml
Labels: camel-4

#14437 camel-openapi-validator
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/rest-openapi.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/openapi-validator.json
  components/camel-openapi-validator/pom.xml
  components/camel-openapi-validator/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-openapi-validator/src/generated/resources/META-INF/services/org/apache/camel/rest-client-validator-factory
  components/camel-openapi-validator/src/generated/resources/openapi-validator.json
  components/camel-openapi-validator/src/main/docs/openapi-validator.adoc
  components/camel-openapi-validator/src/main/java/org/apache/camel/component/rest/openapi/validator/client/OpenApiRestClientRequestValidator.java
  components/camel-openapi-validator/src/test/java/org/apache/camel/component/rest/openapi/validator/client/OpenApiRestClientRequestValidatorTest.java
  components/camel-openapi-validator/src/test/resources/log4j2.properties
  components/camel-openapi-validator/src/test/resources/petstore-v3.json
  components/camel-rest-openapi/src/generated/resources/META-INF/org/apache/camel/component/rest/openapi/rest-openapi.json
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenapiProcessorStrategy.java
  core/camel-api/src/generated/java/org/apache/camel/ExchangeConstantProvider.java
  core/camel-api/src/main/java/org/apache/camel/Exchange.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdvice.java
  docs/components/modules/others/examples/json/openapi-validator.json
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/openapi-validator.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/RestOpenApiEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/RestOpenapiUriDsl.kt
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#14439 doc: Improve PLC4X documentation by adding most common supported
  components/camel-plc4x/src/main/docs/plc4x-component.adoc
Labels: components, camel-4

#14441 Add package updates for CXF split happened in 3.18
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_18.adoc
Labels: docs, camel-4

#14443 Handle missing additional properties for custom templates
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
Labels: dsl, camel-4

#14440 CAMEL-20851: Shut down ElasticSearch client sniffer on producer stop
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientProducer.java
Labels: components, camel-4

#14445 CAMEL-20798: EndpointServiceLocation on components to make it possible to know which remote system Camel connects to to assist for monitoring and observability - AWS SES
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/openapi-validator.json
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2Endpoint.java
Labels: components, catalog, components-aws, camel-4

#14447 Add endpoint service location to backlog tracing
  core/camel-api/src/main/java/org/apache/camel/spi/BacklogTracerEventMessage.java
  core/camel-api/src/main/java/org/apache/camel/spi/EndpointServiceLocation.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogTracerEventMessage.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSendAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStubAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelTraceAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/MessageTableHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/TransformMessageAction.java
Labels: core, dsl, camel-4

#14448 Use the correct camel spring boot starter for camel export
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl, camel-4

#14446 CAMEL-20846: Add capability to configure elasticsearch-rest-client with component options
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/src/generated/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientComponentConfigurer.java
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/org/apache/camel/component/elasticsearch/rest/client/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientComponent.java
  components/camel-elasticsearch-rest-client/src/test/java/org/apache/camel/component/elasticsearch/rest/client/ElasticSearchRestClientComponentConfigurationTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ElasticsearchRestClientComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#14438 CAMEL-20722 enable 2 tests on ppc arch + change base class
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsyncCommitManagerIT.java
Labels: components, components-kafka, camel-4

#14459 camel-elasticsearch-rest-client: Add header info to component JSON metadata
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/org/apache/camel/component/elasticsearch/rest/client/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientEndpoint.java
Labels: components, catalog, camel-4

#14460 camel-elasticsearch-rest-client: Include Spring Boot auto-configuration section in component docs
  components/camel-elasticsearch-rest-client/src/main/docs/elasticsearch-rest-client-component.adoc
Labels: components, camel-4

#14462 CAMEL-20798: EndpointServiceLocation on components to make it possibl…
  components/camel-aws/camel-aws-cloudtrail/src/main/java/org/apache/camel/component/aws/cloudtrail/CloudtrailEndpoint.java
Labels: components, components-aws, camel-4

#14461 CAMEL-20852: Fix CamelCatalogTest
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
Labels: catalog, camel-4

#14465 CAMEL-20861: Default tracer now include details of when an exchange w…
  core/camel-api/src/main/java/org/apache/camel/spi/Tracer.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultChannel.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultTracer.java
Labels: core, camel-4

#14474 CAMEL-20798: EndpointServiceLocation on components to make it possible to know which remote system Camel connects to to assist for monitoring and observability - Athena and Secrets Manager
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerEndpoint.java
  components/camel-aws/camel-aws2-athena/src/main/java/org/apache/camel/component/aws2/athena/Athena2Endpoint.java
Labels: components, components-aws, camel-4

#14420 doc: Improve CoAP component description
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coap+tcp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coap.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coaps+tcp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coaps.json
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coap+tcp.json
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coap.json
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coaps+tcp.json
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coaps.json
  components/camel-coap/src/main/docs/coap-component.adoc
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapTcpComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapsTcpComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/CoAPEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/CoapUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14475 camel-langchain4j-chat - NPE if only producer is used
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatProducer.java
Labels: components, camel-4

#14477 CAMEL-20798: EndpointServiceLocation on components to make it possibl…
  components/camel-aws/camel-aws2-cw/src/main/java/org/apache/camel/component/aws2/cw/Cw2Endpoint.java
Labels: components, components-aws, camel-4

#14424 CAMEL-20850: camel-core - compress changes in SimpleLRUCache
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#14480 fix(sql-component): Fix sql component adoc
  components/camel-sql/src/main/docs/sql-component.adoc
Labels: components, camel-4

#14483 CAMEL-20850: camel-core - compress changes in SimpleLRUCache
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core

#14482 CAMEL-20850: camel-core - compress changes in SimpleLRUCache
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core

#14476 chore: do not commit the install-state.gz file
  docs/.gitignore
Labels: docs, camel-4

#14485 CAMEL-20865: Add usage details to camel-elasticsearch-rest-client documentation
  components/camel-elasticsearch-rest-client/src/main/docs/elasticsearch-rest-client-component.adoc
Labels: components, camel-4

#14493 CAMEL-20823 Filter out folders when listing files
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
Labels: components

#14478 CAMEL-20722 increased timeout due to failure on ppc64le
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsyncCommitManagerIT.java
Labels: components, components-kafka, camel-4

#14494 CAMEL-19228 - Remove leftover comment
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseLocalContainerService.java
Labels: test-infra, camel-4

#14501 Regen: fix SensitiveUtils
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
Labels: core, camel-4

#14496 Upgrade protobuf 4.27.1
  components/camel-protobuf/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14503 Revert "Upgrade protobuf 4.27.1"
  components/camel-protobuf/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14504 Swap 2 arguments so they are in the correct order: expected value,
  core/camel-core/src/test/java/org/apache/camel/processor/OnCompletionModeBeforeConsumerExceptionSuppressedTest.java
Labels: core, camel-4

#14508 CAMEL-20798: EndpointServiceLocation on components to make it possible to know which remote system Camel connects to to assist for monitoring and observability - AWS DDB and DDB Streams
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2Endpoint.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamEndpoint.java
Labels: components, components-aws, camel-4

#14510 CAMEL-20873: Handle potential failures in VertxPlatformHttpSupport.writeResponse
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
Labels: components, camel-4

#14515 Upgrade camel-pubnub to v9 client
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pubnub.json
  components/camel-pubnub/src/generated/resources/META-INF/org/apache/camel/component/pubnub/pubnub.json
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubConfiguration.java
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubConsumer.java
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubEndpoint.java
  components/camel-pubnub/src/main/java/org/apache/camel/component/pubnub/PubNubProducer.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/PubNubOperationsTest.java
  components/camel-pubnub/src/test/java/org/apache/camel/component/pubnub/PubNubTestBase.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PubnubComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PubNubEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/PubnubUriDsl.kt
  parent/pom.xml
Labels: components, catalog, docs, dsl, core-build-and-dependencies, camel-4

#14516 CAMEL-20788: Update camel to use a newer protobuf-maven-plugin for gR…
  components/camel-grpc/pom.xml
  components/camel-protobuf/pom.xml
  components/camel-salesforce/camel-salesforce-component/README.md
  components/camel-salesforce/camel-salesforce-component/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14517 Align versions to spring-boot 3.2.6
  parent/pom.xml
Labels: core-build-and-dependencies

#14518 CAMEL-20830: Upgrade jetty. Remove ServletRequest/ServletResponse obj…
  components/camel-cxf/camel-cxf-spring-rest/src/test/java/org/apache/camel/component/cxf/jaxrs/CxfRsSpringConsumerTest.java
  components/camel-cxf/camel-cxf-spring-transport/src/test/java/org/apache/camel/component/cxf/common/message/DefaultCxfMessageMapperTest.java
  components/camel-cxf/camel-cxf-transport/pom.xml
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/message/DefaultCxfMessageMapper.java
  components/camel-cxf/camel-cxf-transport/src/test/java/org/apache/camel/component/cxf/common/message/DefaultCxfMessageMapperTest.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpConverter.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpMessage.java
  components/camel-jetty-common/src/generated/java/org/apache/camel/component/jetty/JettyConverterLoader.java
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/JettyConverter.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpConverterTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpGZipEncodingTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpHeaderTest.java
  components/camel-servlet/src/test/java/org/apache/camel/component/servlet/HttpClientRouteTest.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/ExchangeHeaders.java
  core/camel-api/src/main/java/org/apache/camel/Exchange.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  parent/pom.xml
Labels: components, core, docs, core-build-and-dependencies, camel-4

#14526 CAMEL-20215 - reactivate MllpTcpServerConsumerOptionalEndOfDataWithValidationTest
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerOptionalEndOfDataWithValidationTest.java
Labels: components, camel-4

#14527 Update MongoDB container used for IT tests to 7.0.11
  test-infra/camel-test-infra-mongodb/src/test/resources/org/apache/camel/test/infra/mongodb/services/container.properties
Labels: test-infra, camel-4

#14528 CAMEL-20798: EndpointServiceLocation on components to make it possibl…
  components/camel-aws/camel-aws2-ec2/src/main/java/org/apache/camel/component/aws2/ec2/AWS2EC2Endpoint.java
Labels: components, components-aws, camel-4

#14529 CAMEL-20798: EndpointServiceLocation on components to make it possibl…
  components/camel-aws/camel-aws2-ecs/src/main/java/org/apache/camel/component/aws2/ecs/ECS2Endpoint.java
Labels: components, components-aws, camel-4

#14530 CAMEL-19523 - remove Thread.sleep in iec60870 test
  components/camel-iec60870/src/test/java/org/apache/camel/component/iec60870/ConnectionTest.java
Labels: components, camel-4

#14532 CAMEL-19546 - remove Thread.sleep in Tarfile component test
  components/camel-tarfile/pom.xml
  components/camel-tarfile/src/test/java/org/apache/camel/processor/aggregate/tarfile/AggregationStrategyWithFilenameHeaderTest.java
  components/camel-tarfile/src/test/java/org/apache/camel/processor/aggregate/tarfile/AggregationStrategyWithPreservationTest.java
  components/camel-tarfile/src/test/java/org/apache/camel/processor/aggregate/tarfile/TarAggregationStrategyTest.java
Labels: components, camel-4

#14533 chore: remove usage of deprecated methods in tarfile component
  components/camel-tarfile/src/main/java/org/apache/camel/dataformat/tarfile/TarFileDataFormat.java
  components/camel-tarfile/src/main/java/org/apache/camel/dataformat/tarfile/TarIterator.java
  components/camel-tarfile/src/main/java/org/apache/camel/processor/aggregate/tarfile/TarAggregationStrategy.java
  components/camel-tarfile/src/test/java/org/apache/camel/dataformat/tarfile/TarFileDataFormatTest.java
Labels: components, camel-4

#14531 CAMEL-20800: Use cloudant instead of LightCouch
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/couchdb.json
  components/camel-couchdb/pom.xml
  components/camel-couchdb/src/generated/java/org/apache/camel/component/couchdb/CouchDbEndpointConfigurer.java
  components/camel-couchdb/src/generated/java/org/apache/camel/component/couchdb/CouchDbEndpointUriFactory.java
  components/camel-couchdb/src/generated/resources/META-INF/org/apache/camel/component/couchdb/couchdb.json
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbChangesetTracker.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbClientWrapper.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbConsumer.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbEndpoint.java
  components/camel-couchdb/src/main/java/org/apache/camel/component/couchdb/CouchDbProducer.java
  components/camel-couchdb/src/test/java/org/apache/camel/component/couchdb/CouchDbChangesetTrackerTest.java
  components/camel-couchdb/src/test/java/org/apache/camel/component/couchdb/CouchDbProducerTest.java
  components/camel-couchdb/src/test/java/org/apache/camel/component/couchdb/integration/CouchDbCrudIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/CouchDbEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/CouchdbUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14481 CAMEL-20790: prevent an NPE under high concurrency
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
Labels: components, components-kafka, camel-4

#14479 CAMEL-20840: fixed incomplete/incorrect implementation of resume adapter
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/services/org/apache/camel/adapter-factory
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Constants.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/consumer/KinesisDefaultResumeAdapter.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/consumer/KinesisResumeAction.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/consumer/KinesisResumeAdapter.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeAfterRestartIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeIT.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/ResumeActionAwareAdapter.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Kinesis2EndpointBuilderFactory.java
Labels: components, core, catalog, dsl, components-aws, camel-4

#14535 CAMEL-20798: EndpointServiceLocation on components to make it possible to know which remote system Camel connects to to assist for monitoring and observability - AWS Eventbridge and EKS
  components/camel-aws/camel-aws2-eks/src/main/java/org/apache/camel/component/aws2/eks/EKS2Endpoint.java
  components/camel-aws/camel-aws2-eventbridge/src/main/java/org/apache/camel/component/aws2/eventbridge/EventbridgeEndpoint.java
Labels: components, components-aws, camel-4

#14536 CAMEL-19659 - reactivate FHIR Integration tests
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirCapabilitiesIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirConfigurationIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirCreateIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirCustomClientConfigurationIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirDeleteIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirExtraParametersIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirHistoryIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirLoadPageIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirMetaIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirOperationIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirPatchIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirReadIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirSearchIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirSimpleIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirTransactionIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirUpdateIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirValidateIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/Hl7v2PatientToFhirPatientIT.java
  test-infra/camel-test-infra-fhir/src/test/java/org/apache/camel/test/infra/fhir/services/FhirLocalContainerService.java
  test-infra/camel-test-infra-fhir/src/test/resources/org/apache/camel/test/infra/fhir/services/container.properties
Labels: components, test-infra, camel-4

#14537 Backport CAMEL-20790 to 4.4.x
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
Labels: components, components-kafka

#14538 CAMEL-20500: camel-jbang - Move generate commands to its own plugin
  components/camel-rest/src/main/java/org/apache/camel/component/rest/DefaultRestRegistry.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestEndpoint.java
  core/camel-api/src/main/java/org/apache/camel/spi/RestRegistry.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListRest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginType.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginGetTest.java
  dsl/camel-jbang/camel-jbang-plugin-generate/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-generate/src/generated/resources/META-INF/services/org/apache/camel/camel-jbang-plugin/camel-jbang-plugin-generate
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/CodeGenerator.java
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/CodeRestGenerator.java
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/GeneratePlugin.java
  dsl/camel-jbang/pom.xml
Labels: components, core, docs, dsl, camel-4

#14539 File confirm
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-files.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/file.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ftp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ftps.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sftp.json
  components/camel-azure/camel-azure-files/src/generated/java/org/apache/camel/component/file/azure/FilesEndpointConfigurer.java
  components/camel-azure/camel-azure-files/src/generated/java/org/apache/camel/component/file/azure/FilesEndpointUriFactory.java
  components/camel-azure/camel-azure-files/src/generated/resources/META-INF/org/apache/camel/component/file/azure/azure-files.json
  components/camel-file/src/generated/java/org/apache/camel/component/file/FileEndpointConfigurer.java
  components/camel-file/src/generated/java/org/apache/camel/component/file/FileEndpointUriFactory.java
  components/camel-file/src/generated/resources/META-INF/org/apache/camel/component/file/file.json
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileOnCompletion.java
  components/camel-ftp/src/generated/java/org/apache/camel/component/file/remote/FtpEndpointConfigurer.java
  components/camel-ftp/src/generated/java/org/apache/camel/component/file/remote/FtpEndpointUriFactory.java
  components/camel-ftp/src/generated/java/org/apache/camel/component/file/remote/FtpsEndpointUriFactory.java
  components/camel-ftp/src/generated/java/org/apache/camel/component/file/remote/SftpEndpointConfigurer.java
  components/camel-ftp/src/generated/java/org/apache/camel/component/file/remote/SftpEndpointUriFactory.java
  components/camel-ftp/src/generated/resources/META-INF/org/apache/camel/component/file/remote/ftp.json
  components/camel-ftp/src/generated/resources/META-INF/org/apache/camel/component/file/remote/ftps.json
  components/camel-ftp/src/generated/resources/META-INF/org/apache/camel/component/file/remote/sftp.json
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpConsumerIdempotentRefIT.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentConfirmTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FileEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FilesEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FtpEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FtpsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SftpEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/AzureFilesUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/FileUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/FtpUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/FtpsUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SftpUriDsl.kt
Labels: components, core, catalog, docs, dsl, components-azure, camel-4

#14547 chore: do not call yarn install for doc on unsupported platforms
  docs/pom.xml
Labels: docs, camel-4

#14546 CAMEL-20880 - Move AI related component to camel-ai middle folder - C…
  components/camel-ai/camel-qdrant/pom.xml
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantComponentConfigurer.java
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantConfigurationConfigurer.java
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantConverterLoader.java
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantEndpointConfigurer.java
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantEndpointUriFactory.java
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/org/apache/camel/component/qdrant/qdrant.json
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/component/qdrant
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.qdrant.QdrantConfiguration
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/configurer/qdrant-component
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/configurer/qdrant-endpoint
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings.json
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/urifactory/qdrant-endpoint
  components/camel-ai/camel-qdrant/src/main/docs/qdrant-component.adoc
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/Qdrant.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantAction.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantActionException.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantComponent.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantConfiguration.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantConverter.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantEndpoint.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantProducer.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/transform/QdrantEmbeddingsDataTypeTransformer.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/QdrantCommonTest.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/QdrantCreateCollectionTest.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/QdrantDeleteTest.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/QdrantRetrieveTest.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/QdrantTestSupport.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/QdrantUpsertTest.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/it/QdrantComponentIT.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/it/QdrantDeleteCollectionIT.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/it/QdrantDeletePointsIT.java
  components/camel-ai/camel-qdrant/src/test/resources/log4j2.properties
  components/camel-ai/pom.xml
  components/pom.xml
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
  docs/components/modules/ROOT/examples/json/qdrant.json
  docs/components/modules/ROOT/pages/qdrant-component.adoc
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, core, docs, tooling, tooling-maven, camel-4

#14553 CAMEL-20835: camel-core - Multicast/RecipientList use LRUCache with c…
  core/camel-core-processor/src/main/java/org/apache/camel/processor/DefaultProcessorFactory.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RecipientList.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RecipientListProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Splitter.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/MulticastReifier.java
Labels: core, camel-4

#14554 CAMEL-20880 - Move AI related component to camel-ai middle folder - M…
  components/camel-ai/camel-milvus/pom.xml
  components/camel-ai/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusComponentConfigurer.java
  components/camel-ai/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusConfigurationConfigurer.java
  components/camel-ai/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusEndpointConfigurer.java
  components/camel-ai/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusEndpointUriFactory.java
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/org/apache/camel/component/milvus/milvus.json
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/component/milvus
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/configurer/milvus-component
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/configurer/milvus-endpoint
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.milvus.MilvusConfiguration
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/milvus-embeddings
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/milvus-embeddings.json
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/urifactory/milvus-endpoint
  components/camel-ai/camel-milvus/src/main/docs/milvus-component.adoc
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/Milvus.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusAction.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusComponent.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusConfiguration.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusEndpoint.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusProducer.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/transform/MilvusEmbeddingsDataTypeTransformer.java
  components/camel-ai/camel-milvus/src/test/java/org/apache/camel/component/milvus/MilvusCreateCollectionTest.java
  components/camel-ai/camel-milvus/src/test/java/org/apache/camel/component/milvus/MilvusTestSupport.java
  components/camel-ai/camel-milvus/src/test/java/org/apache/camel/component/milvus/MilvusUpsertTest.java
  components/camel-ai/camel-milvus/src/test/java/org/apache/camel/component/milvus/it/MilvusComponentIT.java
  components/camel-ai/camel-milvus/src/test/resources/log4j2.properties
  components/camel-ai/pom.xml
  components/pom.xml
  docs/components/modules/ROOT/examples/json/milvus.json
  docs/components/modules/ROOT/pages/milvus-component.adoc
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, docs, tooling, tooling-maven, camel-4

#14550 chore: upgrade Maven used by the wrapper to 3.9.8
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: camel-4

#14555 chore: Do not fetch full Git history on PR jobs
  .github/workflows/pr-build-camel-3.yml
  .github/workflows/pr-build-camel-40x.yml
  .github/workflows/pr-build-main.yml
Labels: camel-4

#14557 Add an assertion predicate after calling as AssertJ method.
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandITCase.java
Labels: dsl, camel-4

#14558 CAMEL-20881: Only create DefaultPollingConsumerPollStrategy when needed.
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/RemoteFilePollingConsumerPollStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/LimitedPollingConsumerPollStrategy.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultPollingConsumerPollStrategy.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollEndpoint.java
Labels: components, core, camel-4

#14559 CAMEL-20880 - Move AI related component to camel-ai middle folder - P…
  components/camel-ai/camel-pinecone/pom.xml
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbComponentConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbConfigurationConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpointConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpointUriFactory.java
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/component/pinecone
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.pinecone.PineconeVectorDbConfiguration
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/configurer/pinecone-component
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/configurer/pinecone-endpoint
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer/pinecone-embeddings
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer/pinecone-embeddings.json
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/urifactory/pinecone-endpoint
  components/camel-ai/camel-pinecone/src/main/docs/pinecone-component.adoc
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbAction.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbComponent.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbConfiguration.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpoint.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/transform/PineconeEmbeddingsDataTypeTransformer.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
  components/camel-ai/camel-pinecone/src/test/resources/log4j2.properties
  components/camel-ai/pom.xml
  components/pom.xml
  docs/components/modules/ROOT/examples/json/pinecone.json
  docs/components/modules/ROOT/pages/pinecone-component.adoc
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, docs, tooling, tooling-maven, camel-4

#14560 Updated information about Camel Commercial Offering
  docs/user-manual/modules/ROOT/pages/commercial-camel-offerings.adoc
Labels: docs, camel-4

#14570 CAMEL-20885 - deprecate Kotlin
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/kotlin-api.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/kotlin-dsl.json
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  dsl/camel-kotlin-api/pom.xml
  dsl/camel-kotlin-api/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  dsl/camel-kotlin-api/src/generated/resources/kotlin-api.json
  dsl/camel-kotlin-api/src/main/docs/kotlin-api.adoc
  dsl/camel-kotlin-dsl/pom.xml
  dsl/camel-kotlin-dsl/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  dsl/camel-kotlin-dsl/src/generated/resources/kotlin-dsl.json
  dsl/camel-kotlin-dsl/src/main/docs/kotlin-dsl.adoc
Labels: catalog, docs, dsl, camel-4

#14562 Iterate over the "entrySet" instead of the "keySet"
  core/camel-support/src/main/java/org/apache/camel/support/RouteVariableRepository.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/PackageScanHelper.java
Labels: core, camel-4

#14569 CAMEL-20887: camel-tooling-model - Add parseArtifact in generatePojoB…
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/JsonMapper.java
Labels: tooling, camel-4

#14572 CAMEL-20834: camel-salesforce - A NullPointException in SubscriptionH…
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
Labels: components, camel-4

#14575 chore: Swap assertion test argument to be in correct order: expected
  components/camel-azure/camel-azure-storage-datalake/src/test/java/org/apache/camel/component/azure/storage/datalake/component/DataLakeComponentTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsDeliveryDelayTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSessionTest.java
  core/camel-support/src/test/java/org/apache/camel/support/RestConsumerContextPathMatcherTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeCommandMainTest.java
Labels: components, core, dsl, components-azure, components-jms, camel-4

#14576 Regen to fix main branch PR
  core/camel-api/src/main/java/org/apache/camel/Message.java
Labels: core, camel-4

#14577 Update step-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/step-eip.adoc
Labels: core, camel-4

#14586 CAMEL-20884 - improve Velocity usage in Camel package Maven plugin
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGeneratorMojo.java
Labels: tooling, tooling-maven, camel-4

#14584 camel-djl - Remove discontinued -native-auto dependencies
  components/camel-ai/camel-djl/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14578 CAMEL-20838: convert spring-based JPA tests to use CamelSpringTestSupport
  components/camel-jpa/pom.xml
  components/camel-jpa/src/test/java/org/apache/camel/processor/jpa/AbstractJpaTest.java
Labels: components, camel-4

#14585 CAMEL-20893: remove duplicated test
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsRouteRequestReplyTest.java
Labels: components, components-jms, camel-4

#14598 CAMEL-20798: EndpointServiceLocation on components to make it possible to know which remote system Camel connects to to assist for monitoring and observability - Azure CosmosDB
  components/camel-azure/camel-azure-cosmosdb/src/main/java/org/apache/camel/component/azure/cosmosdb/CosmosDbEndpoint.java
Labels: components, components-azure, camel-4

#14589 CAMEL-20884 - Cache Index from jandex.idx defined in jar
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SpiGeneratorMojo.java
Labels: tooling, tooling-maven, camel-4

#14601 CAMEL-20645: Support trait addons in Camel K JBang plugin
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeEndpoint.java
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/ce/AbstractCloudEventProcessor.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Bind.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeCommandMainTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/org/apache/camel/dsl/jbang/core/commands/k/integration.yaml
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/route.yaml
Labels: components, dsl, camel-4

#14607 camel-20838: fix camel-jsch test to use parameters
  components/camel-jsch/src/test/java/org/apache/camel/component/scp/ScpAlgorithmsTest.java
Labels: components, camel-4

#14610 Align camel-4.4.x branch with dependencies from spring-boot 3.2.7
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfRecipientListTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfRecipientListWithUrlParamsTest.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathSplitSingleListOptionTest.java
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeConfiguration.java
  core/camel-core-engine/src/main/docs/modules/eips/nav.adoc
  parent/pom.xml
Labels: components, core, core-build-and-dependencies

#14612 CAMEL-20903: camel-jbang - Only load custom plugin if in use
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginAdd.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CamelJBangPlugin.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/Plugin.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginType.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginAddTest.java
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/GeneratePlugin.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubePlugin.java
Labels: dsl, camel-4

#14491 CAMEL-20804 - Deprecate camel-cloud
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/cloud.json
  core/camel-cloud/pom.xml
  core/camel-cloud/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  core/camel-cloud/src/generated/resources/cloud.json
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/AbstractServiceRegistry.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/BlacklistServiceFilter.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/BlacklistServiceFilterFactory.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/CombinedServiceDiscovery.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/CombinedServiceDiscoveryFactory.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/CombinedServiceFilter.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/CombinedServiceFilterFactory.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceCallExpression.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceCallProcessor.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceDefinition.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceDiscovery.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceFilter.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceHealth.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceLoadBalancer.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/DefaultServiceLoadBalancerFactory.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/HealthyServiceFilter.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/HealthyServiceFilterFactory.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/PassThroughServiceFilter.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/PassThroughServiceFilterFactory.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/RandomServiceChooser.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/RoundRobinServiceChooser.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/ServiceCallExpressionSupport.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/ServiceRegistrationRoutePolicy.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/ServiceRegistrationRoutePolicyFactory.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/ServiceRegistryHelper.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/ServiceRegistrySelectors.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/StaticServiceDiscovery.java
  core/camel-cloud/src/main/java/org/apache/camel/impl/cloud/StaticServiceDiscoveryFactory.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
Labels: core, catalog, docs, camel-4

#14611 CAMEL-20895: camel-djl - The image classification predictors should not round the resulted probabilities
  components/camel-ai/camel-djl/src/main/docs/djl-component.adoc
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/CustomImageClassificationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/ZooImageClassificationPredictor.java
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/model/ZooObjectDetectionPredictor.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/ImageClassificationLocalTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/ImageClassificationTest.java
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/ObjectDetectionTest.java
Labels: components, camel-4

#14608 CAMEL-20686 - changed file resources in tests to more unique & dynamic UUID
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerMoveExistingTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerTempFileExistsIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerProducerDoneFileNameTest.java
Labels: core, camel-4

#14615 CAMEL-20897: Allow to use {xxx} inside RAW(xxx) for more power
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/PrototypeExchangeFactory.java
  core/camel-core/src/test/java/org/apache/camel/support/component/RawParameterHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultComponent.java
  core/camel-support/src/main/java/org/apache/camel/support/component/RawParameterHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/SendDynamicAwareSupport.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
  docs/user-manual/modules/faq/pages/how-do-i-configure-endpoints.adoc
Labels: core, docs, camel-4

#14574 CAMEL-20889: camel-core: Stream is not reset when Message.getBody(cla…
  core/camel-core/src/test/java/org/apache/camel/util/ExchangeHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
Labels: core, camel-4

#14616 camel-core - Using shared dummy exchange instance for special needs i…
  components/camel-controlbus/src/main/java/org/apache/camel/component/controlbus/ControlBusProducer.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpConsumer.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpConsumer.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlConsumer.java
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanModelHelper.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ChoiceReifier.java
  core/camel-core/src/test/java/org/apache/camel/util/ExchangeHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/RawParameterHelper.java
Labels: components, core, camel-4

#14617 remote vs local counter to better observe how many internal and external messages is being processed
  core/camel-api/src/main/java/org/apache/camel/spi/InflightRepository.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultInflightRepository.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ConsumerDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ContextDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/EndpointDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/InflightConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedCamelContextMBean.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedConsumerMBean.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedEndpointMBean.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedProducerMBean.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedRouteMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedCamelContext.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedConsumer.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedProducer.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRoute.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelContextStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListInflight.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProcess.java
Labels: core, dsl, camel-4

#14620 CAMEL-20722 - increase consumer count, add Availability.wait
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
Labels: components, components-kafka, camel-4

#14618 CAMEL-20794: AWS2 Kinesis producer supports sending batch
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Producer.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisProducerIT.java
Labels: components, components-aws, camel-4

#14627 CAMEL-20901: Add an option to provide a custom Vertx instance to ArangoDB
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/arangodb.json
  components/camel-arangodb/src/generated/java/org/apache/camel/component/arangodb/ArangoDbComponentConfigurer.java
  components/camel-arangodb/src/generated/java/org/apache/camel/component/arangodb/ArangoDbEndpointConfigurer.java
  components/camel-arangodb/src/generated/java/org/apache/camel/component/arangodb/ArangoDbEndpointUriFactory.java
  components/camel-arangodb/src/generated/resources/META-INF/org/apache/camel/component/arangodb/arangodb.json
  components/camel-arangodb/src/main/java/org/apache/camel/component/arangodb/ArangoDbComponent.java
  components/camel-arangodb/src/main/java/org/apache/camel/component/arangodb/ArangoDbEndpoint.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCustomVertxIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ArangodbComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ArangoDbEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/ArangodbUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14628 CAMEL-20909 - Camel-Aws-Kinesis: Support KCL Consumers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/pom.xml
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2ComponentConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointUriFactory.java
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Endpoint.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KclKinesisConsumerIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2KinesisComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Kinesis2EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2KinesisUriDsl.kt
  parent/pom.xml
Labels: components, catalog, dsl, components-aws, core-build-and-dependencies, camel-4

#14609 CAMEL-20838: use a JUnit extension for collecting the test name when necessary
  components/camel-avro-rpc/camel-avro-rpc-component/src/test/java/org/apache/camel/component/avro/AvroConsumerTestSupport.java
  components/camel-avro-rpc/camel-avro-rpc-component/src/test/java/org/apache/camel/component/avro/AvroProducerTestSupport.java
  components/camel-consul/src/test/java/org/apache/camel/component/consul/ConsulTestSupport.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchTestSupport.java
  components/camel-file-watch/src/test/java/org/apache/camel/component/file/watch/FileWatchComponentTestBase.java
  components/camel-nitrite/src/test/java/org/apache/camel/component/nitrite/AbstractNitriteTest.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestNameExtension.java
Labels: components, camel-4

#14638 camel-mail - Fix stream caching with pollEnrich and attachment
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConverters.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailAttachmentPollEnrichTest.java
Labels: components, camel-4

#14642 CAMEL-20921: camel-xml-io - Fix loading route configuration if using …
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlLoadAppTest.java
  dsl/camel-xml-io-dsl/src/test/resources/org/apache/camel/dsl/xml/io/camel-app13.xml
Labels: dsl, camel-4

#14640 CAMEL-20917: avoid using hard-coded groups and versions
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
Labels: dsl, camel-4

#14637 (chores) camel-test-infra-etcd3: upgrade the container to 3.5.14
  test-infra/camel-test-infra-etcd3/src/test/resources/org/apache/camel/test/infra/etcd3/services/container.properties
Labels: test-infra, camel-4

#14646 camel-etcd: Lets see if CI tests can pass this
  components/camel-etcd3/pom.xml
Labels: components, camel-4

#14650 Patch 5 (Add documentation for EventNotifier)
  docs/main/modules/advanced-camel-core-guides/pages/index.adoc
  docs/user-manual/modules/ROOT/pages/event-notifier.adoc
  docs/user-manual/modules/ROOT/pages/index.adoc
Labels: docs, camel-4

#14653 CAMEL-20917: fix lots of NPEs introduced by the fix
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
Labels: dsl, camel-4

#14654 Add AWS Kinesis batch producer description in Kinesis component doc.
  components/camel-aws/camel-aws2-kinesis/src/main/docs/aws2-kinesis-component.adoc
Labels: components, components-aws, camel-4

#14641 Avoid NPE on Camel Tests
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
Labels: components, camel-4

#14660 CAMEL-20924: camel-http - add oauth2scope parameter
  components/camel-http/src/main/docs/http-component.adoc
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
Labels: components, camel-4

#14664 camel-jbang: Propagate versions when using --fresh option in export
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
Labels: dsl, camel-4

#14663 camel-jbang: Use additional properties during export to add Maven POM properties
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl, camel-4
