Repository apache/camel, pull requests merged in 2024-08, with the labels that each got.

#14876 [CAMEL-19665] Switch camel-jira to using ScheduledBatchPollingConsumer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jira.json
  components/camel-jira/src/generated/resources/META-INF/org/apache/camel/component/jira/jira.json
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraConfiguration.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraEndpoint.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/AbstractJiraConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewCommentsConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/NewIssuesConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/consumer/WatchUpdatesConsumer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/oauth/OAuthAsynchronousHttpClientFactory.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddCommentProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/AddIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/DeleteIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/TransitionIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/UpdateIssueProducer.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/producer/WatcherProducer.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/consumer/NewCommentsConsumerTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JiraComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JiraEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JiraUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14988 CAMEL-21038 Filter out app/bean.json so that EIPDocumentationEnricher produces consistent results
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/EipDocumentationEnricherMojo.java
Labels: tooling, tooling-maven, camel-4

#14996 CAMEL-20199: Remove synchronized block from Api Collections
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/internal/AS2ApiCollection.java
  components/camel-box/camel-box-component/src/generated/java/org/apache/camel/component/box/internal/BoxApiCollection.java
  components/camel-braintree/src/generated/java/org/apache/camel/component/braintree/internal/BraintreeApiCollection.java
  components/camel-dhis2/camel-dhis2-component/src/generated/java/org/apache/camel/component/dhis2/internal/Dhis2ApiCollection.java
  components/camel-fhir/camel-fhir-component/src/generated/java/org/apache/camel/component/fhir/internal/FhirApiCollection.java
  components/camel-google/camel-google-calendar/src/generated/java/org/apache/camel/component/google/calendar/internal/GoogleCalendarApiCollection.java
  components/camel-google/camel-google-drive/src/generated/java/org/apache/camel/component/google/drive/internal/GoogleDriveApiCollection.java
  components/camel-google/camel-google-mail/src/generated/java/org/apache/camel/component/google/mail/internal/GoogleMailApiCollection.java
  components/camel-google/camel-google-sheets/src/generated/java/org/apache/camel/component/google/sheets/internal/GoogleSheetsApiCollection.java
  components/camel-olingo2/camel-olingo2-component/src/generated/java/org/apache/camel/component/olingo2/internal/Olingo2ApiCollection.java
  components/camel-olingo4/camel-olingo4-component/src/generated/java/org/apache/camel/component/olingo4/internal/Olingo4ApiCollection.java
  components/camel-twilio/src/generated/java/org/apache/camel/component/twilio/internal/TwilioApiCollection.java
  components/camel-zendesk/src/generated/java/org/apache/camel/component/zendesk/internal/ZendeskApiCollection.java
  tooling/maven/camel-api-component-maven-plugin/src/main/resources/api-collection.vm
Labels: components, tooling, tooling-maven, camel-4

#15002 CAMEL-21040: fix invalid formatting in multiple components
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
  components/camel-ai/camel-langchain4j-embeddings/src/main/docs/langchain4j-embeddings-component.adoc
  components/camel-ai/camel-langchain4j-web-search/src/main/docs/langchain4j-web-search-component.adoc
  components/camel-ai/camel-milvus/src/main/docs/milvus-component.adoc
  components/camel-ai/camel-pinecone/src/main/docs/pinecone-component.adoc
  components/camel-ai/camel-qdrant/src/main/docs/qdrant-component.adoc
  components/camel-as2/camel-as2-component/src/main/docs/as2-component.adoc
  components/camel-dataformat/src/main/docs/dataformat-component.adoc
  components/camel-direct/src/main/docs/direct-component.adoc
  components/camel-dynamic-router/src/main/docs/dynamic-router-component.adoc
  components/camel-dynamic-router/src/main/docs/dynamic-router-control-component.adoc
  components/camel-file/src/main/docs/file-component.adoc
  components/camel-iec60870/src/main/docs/iec60870-client-component.adoc
  components/camel-iec60870/src/main/docs/iec60870-server-component.adoc
  components/camel-jq/src/main/docs/jq-language.adoc
  components/camel-kamelet/src/main/docs/kamelet-component.adoc
  components/camel-mybatis/src/main/docs/mybatis-bean-component.adoc
  components/camel-paho/src/main/docs/paho-component.adoc
  components/camel-quickfix/src/main/docs/quickfix-component.adoc
  components/camel-xpath/src/main/docs/xpath-language.adoc
Labels: components, camel-4

#14971 [CAMEL-21032] Generate k8s service for health endpoint
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/route-service.yaml
Labels: dsl, camel-4

#14995 Add Jsonata frame binding functionality
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jsonata.json
  components/camel-jsonata/src/generated/java/org/apache/camel/component/jsonata/JsonataComponentConfigurer.java
  components/camel-jsonata/src/generated/java/org/apache/camel/component/jsonata/JsonataEndpointConfigurer.java
  components/camel-jsonata/src/generated/java/org/apache/camel/component/jsonata/JsonataEndpointUriFactory.java
  components/camel-jsonata/src/generated/resources/META-INF/org/apache/camel/component/jsonata/jsonata.json
  components/camel-jsonata/src/main/docs/jsonata-component.adoc
  components/camel-jsonata/src/main/java/org/apache/camel/component/jsonata/JsonataComponent.java
  components/camel-jsonata/src/main/java/org/apache/camel/component/jsonata/JsonataEndpoint.java
  components/camel-jsonata/src/main/java/org/apache/camel/component/jsonata/JsonataFrameBinding.java
  components/camel-jsonata/src/test/java/org/apache/camel/component/jsonata/JsonataFrameBindingTest.java
  components/camel-jsonata/src/test/resources/org/apache/camel/component/jsonata/frameBinding/expressions.spec
  components/camel-jsonata/src/test/resources/org/apache/camel/component/jsonata/frameBinding/input.json
  components/camel-jsonata/src/test/resources/org/apache/camel/component/jsonata/frameBinding/output.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JsonataComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JsonataEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JsonataUriDsl.kt
Labels: components, catalog, dsl, camel-4

#15011 CAMEL-21040: more documentation fixes
  components/camel-bindy/src/main/docs/bindy-dataformat.adoc
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/annotation/CsvRecord.java
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/annotation/FixedLengthRecord.java
  components/camel-grpc/src/main/docs/grpc-component.adoc
  components/camel-infinispan/camel-infinispan-embedded/src/main/docs/infinispan-embedded-component.adoc
  components/camel-infinispan/camel-infinispan/src/main/docs/infinispan-component.adoc
  components/camel-spring-redis/src/main/docs/spring-redis-component.adoc
  core/camel-base/src/main/docs/properties-component.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/bean-eip.adoc
  core/camel-core-languages/src/main/docs/modules/languages/pages/file-language.adoc
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
Labels: components, core, camel-4

#15012 CAMEL-21040: more documentation fixes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  catalog/camel-report-maven-plugin/src/main/docs/camel-report-maven-plugin.adoc
  components/camel-jms/src/main/docs/jms-component.adoc
  components/camel-mongodb/src/main/docs/mongodb-component.adoc
  components/camel-saxon/src/main/docs/xquery-component.adoc
  components/camel-saxon/src/main/docs/xquery-language.adoc
  components/camel-sql/src/main/docs/sql-component.adoc
  components/camel-xpath/src/main/docs/xpath-language.adoc
  components/camel-xslt-saxon/src/main/docs/xslt-saxon-component.adoc
  components/camel-xslt/src/main/docs/xslt-component.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/choice-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/dead-letter-channel.adoc
  core/camel-core-xml/src/generated/resources/META-INF/org/apache/camel/core/xml/routeController.json
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/CamelRouteControllerDefinition.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/RouteControllerConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/backlog-tracer.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_5.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_9.adoc
  docs/user-manual/modules/ROOT/pages/camel-report-maven-plugin.adoc
  docs/user-manual/modules/ROOT/pages/error-handler.adoc
  docs/user-manual/modules/ROOT/pages/jmx.adoc
  docs/user-manual/modules/ROOT/pages/oncompletion.adoc
  docs/user-manual/modules/ROOT/pages/release-guide-website.adoc
  docs/user-manual/modules/ROOT/pages/threading-model.adoc
  docs/user-manual/modules/ROOT/pages/using-propertyplaceholder.adoc
  docs/user-manual/modules/faq/pages/how-do-i-restart-camelcontext.adoc
  docs/user-manual/modules/faq/pages/how-do-i-retrieve-the-thrown-exception-during-processing-an-exchange.adoc
  docs/user-manual/modules/faq/pages/how-do-i-retry-failed-messages-forever.adoc
  dsl/camel-xml-io-dsl/src/main/docs/java-xml-io-dsl.adoc
  dsl/camel-xml-jaxb-dsl/src/main/docs/java-xml-jaxb-dsl.adoc
Labels: components, core, catalog, docs, dsl, components-jms, camel-4

#15013 Update commercial-camel-offerings.adoc
  docs/user-manual/modules/ROOT/pages/commercial-camel-offerings.adoc
Labels: docs, camel-4

#14969 CAMEL-20964: Add property based trait config in camel-jbang-kubernetes
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelperTest.java
Labels: docs, dsl, camel-4

#15019 make PythonLanguage and PythonExpression cache compiled PyCode objects
  components/camel-python/src/main/java/org/apache/camel/language/python/PythonExpression.java
  components/camel-python/src/main/java/org/apache/camel/language/python/PythonLanguage.java
  components/camel-python/src/test/java/org/apache/camel/language/python/PythonScriptingLanguageTest.java
  components/camel-python/src/test/java/org/apache/camel/language/python/PythonTest.java
  components/camel-python/src/test/resources/mypython.py
Labels: components, camel-4

#15021 CAMEL-21044: Fix missing Azure Service Bus FQNS configuration
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/client/ServiceBusClientFactory.java
Labels: components, components-azure, camel-4

#15022 CAMEL-21044: Fix missing Azure Service Bus FQNS configuration
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/client/ServiceBusClientFactory.java
Labels: components, components-azure

#15028 Removal of bouncycastle dependencies from camel-crypto.
  components/camel-crypto/pom.xml
Labels: components, camel-4

#15029 CAMEL-21040: minor typo fixes
  core/camel-core-engine/src/main/docs/modules/eips/pages/transform-eip.adoc
Labels: core, camel-4

#14970 Splunk added validateCertificates parameter
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/splunk.json
  components/camel-splunk/src/generated/java/org/apache/camel/component/splunk/SplunkEndpointConfigurer.java
  components/camel-splunk/src/generated/java/org/apache/camel/component/splunk/SplunkEndpointUriFactory.java
  components/camel-splunk/src/generated/resources/META-INF/org/apache/camel/component/splunk/splunk.json
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkConfiguration.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkConnectionFactory.java
  components/camel-splunk/src/test/java/org/apache/camel/component/splunk/SplunkComponentConfigurationTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SplunkEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SplunkUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14998 Splunk HEC add sslContextParameters
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/splunk-hec.json
  components/camel-splunk-hec/src/generated/java/org/apache/camel/component/splunkhec/SplunkHECComponentConfigurer.java
  components/camel-splunk-hec/src/generated/java/org/apache/camel/component/splunkhec/SplunkHECEndpointConfigurer.java
  components/camel-splunk-hec/src/generated/java/org/apache/camel/component/splunkhec/SplunkHECEndpointUriFactory.java
  components/camel-splunk-hec/src/generated/resources/META-INF/org/apache/camel/component/splunkhec/splunk-hec.json
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECComponent.java
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECEndpoint.java
  components/camel-splunk-hec/src/main/java/org/apache/camel/component/splunkhec/SplunkHECProducer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SplunkHecComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SplunkHECEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SplunkHecUriDsl.kt
Labels: components, catalog, dsl, camel-4

#15030 CAMEL-21048: Add required dot in MLLP ACK timestamp pattern.
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/internal/Hl7Util.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/internal/Hl7UtilTest.java
Labels: components, camel-4

#15032 CAMEL-21040: ensure more consistency in the document sections
  components/camel-crypto/src/main/docs/crypto-component.adoc
  components/camel-csv/src/main/docs/csv-dataformat.adoc
  components/camel-cxf/camel-cxf-rest/src/main/docs/cxfrs-component.adoc
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
  components/camel-dataset/src/main/docs/dataset-component.adoc
  components/camel-datasonnet/src/main/docs/datasonnet-language.adoc
Labels: components, camel-4

#15033 CAMEL-20968 : Camel LangChain4j : add the RAG feature
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/langchain4j-chat.json
  components/camel-ai/camel-langchain4j-chat/src/generated/resources/META-INF/org/apache/camel/component/langchain4j/chat/langchain4j-chat.json
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChat.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatProducer.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/rag/LangChain4jRagAggregatorStrategy.java
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j.chat/LangChain4jChatIT.java
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j.chat/LangChain4jRagAggregatorTest.java
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j.chat/OllamaTestSupport.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/LangChain4jChatEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15034 CAMEL-20968: fix formatting
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j.chat/LangChain4jChatIT.java
Labels: components, camel-4

#15035 CAMEL-21040: ensure more consistency in the document sections
  components/camel-ai/camel-djl/src/main/docs/djl-component.adoc
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
  components/camel-ai/camel-langchain4j-web-search/src/main/docs/langchain4j-web-search-component.adoc
  components/camel-ai/camel-pinecone/src/main/docs/pinecone-component.adoc
  components/camel-debezium/camel-debezium-postgres/src/main/docs/debezium-postgres-component.adoc
  components/camel-debezium/camel-debezium-sqlserver/src/main/docs/debezium-sqlserver-component.adoc
  components/camel-digitalocean/src/main/docs/digitalocean-component.adoc
  components/camel-disruptor/src/main/docs/disruptor-component.adoc
  components/camel-dns/src/main/docs/dns-component.adoc
  components/camel-docker/src/main/docs/docker-component.adoc
  components/camel-drill/src/main/docs/drill-component.adoc
  components/camel-dropbox/src/main/docs/dropbox-component.adoc
  components/camel-dynamic-router/src/main/docs/dynamic-router-component.adoc
  components/camel-ehcache/src/main/docs/ehcache-component.adoc
  components/camel-elasticsearch-rest-client/src/main/docs/elasticsearch-rest-client-component.adoc
  components/camel-elasticsearch/src/main/docs/elasticsearch-component.adoc
  components/camel-etcd3/src/main/docs/etcd3-component.adoc
  components/camel-exec/src/main/docs/exec-component.adoc
  components/camel-file-watch/src/main/docs/file-watch-component.adoc
  components/camel-file/src/main/docs/file-component.adoc
  components/camel-flatpack/src/main/docs/flatpack-component.adoc
  components/camel-flatpack/src/main/docs/flatpack-dataformat.adoc
  components/camel-flink/src/main/docs/flink-component.adoc
  components/camel-fop/src/main/docs/fop-component.adoc
  components/camel-freemarker/src/main/docs/freemarker-component.adoc
Labels: components, camel-4

#15039 CAMEL-21040: ensure more consistency in the document sections
  components/camel-ftp/src/main/docs/ftp-component.adoc
  components/camel-ftp/src/main/docs/sftp-component.adoc
  components/camel-git/src/main/docs/git-component.adoc
  components/camel-github/src/main/docs/github-component.adoc
  components/camel-google/camel-google-bigquery/src/main/docs/google-bigquery-component.adoc
  components/camel-google/camel-google-pubsub-lite/src/main/docs/google-pubsub-lite-component.adoc
  components/camel-google/camel-google-pubsub/src/main/docs/google-pubsub-component.adoc
  components/camel-google/camel-google-storage/src/main/docs/google-storage-component.adoc
  components/camel-grok/src/main/docs/grok-dataformat.adoc
  components/camel-groovy/src/main/docs/groovy-language.adoc
  components/camel-grpc/src/main/docs/grpc-component.adoc
  components/camel-guava-eventbus/src/main/docs/guava-eventbus-component.adoc
  components/camel-hashicorp-vault/src/main/docs/hashicorp-vault-component.adoc
  components/camel-headersmap/src/main/docs/headersmap.adoc
  components/camel-hl7/src/main/docs/hl7terser-language.adoc
Labels: components, camel-4

#15040 CAMEL-21040: ensure more consistency in the document sections
  components/camel-ai/camel-langchain4j-tokenizer/src/main/docs/langchain4j-tokenizer-component.adoc
  components/camel-http/src/main/docs/http-component.adoc
  components/camel-huawei/camel-huaweicloud-dms/src/main/docs/hwcloud-dms-component.adoc
  components/camel-huawei/camel-huaweicloud-frs/src/main/docs/hwcloud-frs-component.adoc
  components/camel-huawei/camel-huaweicloud-functiongraph/src/main/docs/hwcloud-functiongraph-component.adoc
  components/camel-huawei/camel-huaweicloud-iam/src/main/docs/hwcloud-iam-component.adoc
  components/camel-huawei/camel-huaweicloud-imagerecognition/src/main/docs/hwcloud-imagerecognition-component.adoc
  components/camel-huawei/camel-huaweicloud-obs/src/main/docs/hwcloud-obs-component.adoc
  components/camel-huawei/camel-huaweicloud-smn/src/main/docs/hwcloud-smn-component.adoc
  components/camel-infinispan/camel-infinispan-embedded/src/main/docs/infinispan-embedded-component.adoc
  components/camel-infinispan/camel-infinispan/src/main/docs/infinispan-component.adoc
  components/camel-irc/src/main/docs/irc-component.adoc
  components/camel-ironmq/src/main/docs/ironmq-component.adoc
  components/camel-jackson-avro/src/main/docs/avroJackson-dataformat.adoc
  components/camel-jackson-protobuf/src/main/docs/protobufJackson-dataformat.adoc
  components/camel-jackson/src/main/docs/jackson-dataformat.adoc
  components/camel-jacksonxml/src/main/docs/jacksonXml-dataformat.adoc
  components/camel-jaxb/src/main/docs/jaxb-dataformat.adoc
  components/camel-jcache/src/main/docs/jcache-component.adoc
  components/camel-jetty/src/main/docs/jetty-component.adoc
Labels: components, camel-4

#15038 CAMEL-20991: camel-jbang - Make export able to complete for source co…
  core/camel-core/src/test/java/org/apache/camel/util/ObjectHelperTest.java
  core/camel-support/src/main/java/org/apache/camel/support/component/PropertyConfigurerSupport.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/ExportPropertiesParser.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/ExportTypeConverter.java
Labels: core, dsl, camel-4

#15041 CAMEL-21012 - camel-milvus: action name mismatch with embeddings
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/milvus.json
  components/camel-ai/camel-langchain4j-embeddings/src/test/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsComponentMilvusTargetIT.java
  components/camel-ai/camel-milvus/src/generated/resources/META-INF/org/apache/camel/component/milvus/milvus.json
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/Milvus.java
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/transform/MilvusEmbeddingsDataTypeTransformer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MilvusEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15042 CAMEL-21040: ensure more consistency in the document sections
  components/camel-jdbc/src/main/docs/jdbc-component.adoc
  components/camel-jgroups/src/main/docs/jgroups-component.adoc
  components/camel-jira/src/main/docs/jira-component.adoc
  components/camel-jms/src/main/docs/jms-component.adoc
  components/camel-jooq/src/main/docs/jooq-component.adoc
  components/camel-joor/src/main/docs/java-language.adoc
  components/camel-joor/src/main/docs/joor-language.adoc
  components/camel-jpa/src/main/docs/jpa-component.adoc
  components/camel-jq/src/main/docs/jq-language.adoc
  components/camel-jslt/src/main/docs/jslt-component.adoc
  components/camel-jsonpath/src/main/docs/jsonpath-language.adoc
  components/camel-jt400/src/main/docs/jt400-component.adoc
  components/camel-jte/src/main/docs/jte-component.adoc
Labels: components, components-jms, camel-4

#15043 CAMEL-21053: camel-xslt - All exchange properties should be avaiabl
  components/camel-saxon/src/main/java/org/apache/camel/component/xquery/XQueryBuilder.java
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltBuilder.java
Labels: components, camel-4

#14849 CAMEL-20237: camel-platform-http-main - Make it possible to configure http auth via properties file
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-platform-http-main/pom.xml
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/authentication/BasicAuthenticationConfigurer.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/authentication/JWTAuthenticationConfigurer.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/authentication/MainAuthenticationConfigurer.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/authentication/AuthenticationConfigurationMainHttpServerTest.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/authentication/BasicAuthenticationMainHttpServerTest.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/authentication/JWTAuthenticationMainHttpServerTest.java
  components/camel-platform-http-main/src/test/resources/basic-auth.properties
  components/camel-platform-http-main/src/test/resources/camel-platform-http-vertx-auth.properties
  components/camel-platform-http-main/src/test/resources/incomplete-auth.properties
  components/camel-platform-http-main/src/test/resources/jwt-auth.properties
  components/camel-platform-http-main/src/test/resources/test-camel-main-auth-jwt.jks
  components/camel-platform-http-vertx/pom.xml
  components/camel-platform-http-vertx/src/main/docs/platform-http-vertx.adoc
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/auth/AuthenticationConfig.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpAuthenticationTest.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerAuthenticationConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerBasicAuthenticationConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerBasicAuthenticationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerJWTAuthenticationConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.HttpServerAuthenticationConfigurationProperties
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.HttpServerBasicAuthenticationConfigurationProperties
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.HttpServerBasicAuthenticationProperties
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.HttpServerJWTAuthenticationConfigurationProperties
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/ConfigurationPropertiesWithMandatoryFields.java
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerAuthenticationConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerBasicAuthenticationConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerJWTAuthenticationConfigurationProperties.java
Labels: components, core, catalog, camel-4

#15045 CAMEL-21040: ensure more consistency in the document sections
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kamelet/src/main/docs/kamelet-component.adoc
  components/camel-knative/camel-knative-component/src/main/docs/knative-component.adoc
  components/camel-knative/camel-knative-http/src/main/docs/knative-http.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-config-maps-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-cronjob-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-custom-resources-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-deployments-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-events-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-hpa-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-job-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-namespaces-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-nodes-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-persistent-volumes-claims-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-persistent-volumes-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-pods-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-replication-controllers-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-resources-quota-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-secrets-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-service-accounts-component.adoc
  components/camel-kubernetes/src/main/docs/kubernetes-services-component.adoc
  components/camel-kubernetes/src/main/docs/openshift-build-configs-component.adoc
  components/camel-kubernetes/src/main/docs/openshift-builds-component.adoc
  components/camel-kubernetes/src/main/docs/openshift-deploymentconfigs-component.adoc
  components/camel-kudu/src/main/docs/kudu-component.adoc
  components/camel-ldap/src/main/docs/ldap-component.adoc
  components/camel-ldif/src/main/docs/ldif-component.adoc
  components/camel-leveldb/src/main/docs/leveldb.adoc
  components/camel-log/src/main/docs/log-component.adoc
  components/camel-lucene/src/main/docs/lucene-component.adoc
  components/camel-lumberjack/src/main/docs/lumberjack-component.adoc
  components/camel-lzf/src/main/docs/lzf-dataformat.adoc
  components/camel-mail-microsoft-oauth/src/main/docs/mail-microsoft-oauth.adoc
  components/camel-mail/src/main/docs/mail-component.adoc
  components/camel-mapstruct/src/main/docs/mapstruct-component.adoc
  components/camel-master/src/main/docs/master-component.adoc
  components/camel-metrics/src/main/docs/metrics-component.adoc
  components/camel-micrometer-prometheus/src/main/docs/micrometer-prometheus.adoc
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-microprofile/camel-microprofile-config/src/main/docs/microprofile-config.adoc
  components/camel-mina/src/main/docs/mina-component.adoc
  components/camel-minio/src/main/docs/minio-component.adoc
  components/camel-mllp/src/main/docs/mllp-component.adoc
  components/camel-mock/src/main/docs/mock-component.adoc
  components/camel-mongodb-gridfs/src/main/docs/mongodb-gridfs-component.adoc
  components/camel-mongodb/src/main/docs/mongodb-component.adoc
  components/camel-mustache/src/main/docs/mustache-component.adoc
  components/camel-mvel/src/main/docs/mvel-component.adoc
  components/camel-mybatis/src/main/docs/mybatis-bean-component.adoc
  components/camel-nats/src/main/docs/nats-component.adoc
Labels: components, components-kafka, camel-4

#15046 CAMEL-21051: camel-ftp - Do not swallow exception due to finally bloc…
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpOperations.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpOperations.java
Labels: components, camel-4

#15051 Camel-Milvus: Fixed docs with reference to qdrant
  components/camel-ai/camel-milvus/src/main/docs/milvus-component.adoc
Labels: components, camel-4

#15052 Camel-Milvus: Relation with Langchain4j-embeddings in docs
  components/camel-ai/camel-milvus/src/main/docs/milvus-component.adoc
Labels: components, camel-4

#15053 Camel-Google-Secret-Manager: Fixed names of application.properties
  components/camel-google/camel-google-secret-manager/src/main/docs/google-secret-manager-component.adoc
Labels: components, camel-4

#15062 Improve JBang Kubernetes plugin logs command parameter
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Bind.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogs.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogsTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
Labels: dsl, camel-4

#15060 CAMEL-21040: ensure more consistency in the document sections
  components/camel-ai/camel-milvus/src/main/docs/milvus-component.adoc
  components/camel-netty-http/src/main/docs/netty-http-component.adoc
  components/camel-netty/src/main/docs/netty-component.adoc
  components/camel-nitrite/src/main/docs/nitrite-component.adoc
  components/camel-oaipmh/src/main/docs/oaipmh-component.adoc
  components/camel-olingo2/camel-olingo2-component/src/main/docs/olingo2-component.adoc
  components/camel-olingo4/camel-olingo4-component/src/main/docs/olingo4-component.adoc
  components/camel-opensearch/src/main/docs/opensearch-component.adoc
  components/camel-openstack/src/main/docs/openstack-cinder-component.adoc
  components/camel-openstack/src/main/docs/openstack-glance-component.adoc
  components/camel-openstack/src/main/docs/openstack-keystone-component.adoc
  components/camel-openstack/src/main/docs/openstack-neutron-component.adoc
  components/camel-openstack/src/main/docs/openstack-nova-component.adoc
  components/camel-openstack/src/main/docs/openstack-summary.adoc
  components/camel-openstack/src/main/docs/openstack-swift-component.adoc
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
  components/camel-optaplanner/src/main/docs/optaplanner-component.adoc
  components/camel-paho-mqtt5/src/main/docs/paho-mqtt5-component.adoc
  components/camel-paho/src/main/docs/paho-component.adoc
  components/camel-parquet-avro/src/main/docs/parquetAvro-dataformat.adoc
  components/camel-pdf/src/main/docs/pdf-component.adoc
  components/camel-pg-replication-slot/src/main/docs/pg-replication-slot-component.adoc
  components/camel-pgevent/src/main/docs/pgevent-component.adoc
  components/camel-platform-http/src/main/docs/platform-http-component.adoc
  components/camel-plc4x/src/main/docs/plc4x-component.adoc
  components/camel-printer/src/main/docs/lpr-component.adoc
  components/camel-protobuf/src/main/docs/protobuf-dataformat.adoc
  components/camel-pubnub/src/main/docs/pubnub-component.adoc
  components/camel-python/src/main/docs/python-language.adoc
  components/camel-quartz/src/main/docs/quartz-component.adoc
  components/camel-quickfix/src/main/docs/quickfix-component.adoc
  components/camel-reactive-streams/src/main/docs/reactive-streams-component.adoc
  components/camel-ref/src/main/docs/ref-component.adoc
  components/camel-resourceresolver-github/src/main/docs/resourceresolver-github.adoc
  components/camel-rest-openapi/src/main/docs/rest-openapi-component.adoc
  components/camel-rest/src/main/docs/rest-component.adoc
  components/camel-rocketmq/src/main/docs/rocketmq-component.adoc
  components/camel-rss/src/main/docs/rss-component.adoc
  components/camel-saga/src/main/docs/saga-component.adoc
  components/camel-salesforce/camel-salesforce-component/src/main/docs/salesforce-component.adoc
  components/camel-saxon/src/main/docs/xquery-component.adoc
  components/camel-saxon/src/main/docs/xquery-language.adoc
  components/camel-scheduler/src/main/docs/scheduler-component.adoc
  components/camel-schematron/src/main/docs/schematron-component.adoc
  components/camel-seda/src/main/docs/seda-component.adoc
  components/camel-servicenow/camel-servicenow-component/src/main/docs/servicenow-component.adoc
  components/camel-servlet/src/main/docs/servlet-component.adoc
  components/camel-shiro/src/main/docs/shiro.adoc
Labels: components, camel-4

#15061 CAMEL-20986: a few minor improvements for consistency
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/langChain4j.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/tokenizer/langChain4j.json
  core/camel-core-model/src/main/java/org/apache/camel/model/tokenizer/LangChain4jTokenizerDefinition.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#15064 CAMEL-20947 - Add Jolokia config in camel.debug profile of Camel Quarkus
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
Labels: dsl, camel-4

#15066 CAMEL-21040: ensure more consistency in the document sections
  components/camel-sjms/src/main/docs/sjms-component.adoc
  components/camel-sjms2/src/main/docs/sjms2-component.adoc
  components/camel-slack/src/main/docs/slack-component.adoc
  components/camel-snakeyaml/src/main/docs/snakeYaml-dataformat.adoc
  components/camel-snmp/src/main/docs/snmp-component.adoc
  components/camel-soap/src/main/docs/soap-dataformat.adoc
  components/camel-solr/src/main/docs/solr-component.adoc
  components/camel-splunk-hec/src/main/docs/splunk-hec-component.adoc
  components/camel-splunk/src/main/docs/splunk-component.adoc
  components/camel-spring-batch/src/main/docs/spring-batch-component.adoc
  components/camel-spring-rabbitmq/src/main/docs/spring-rabbitmq-component.adoc
  components/camel-spring-ws/src/main/docs/spring-ws-component.adoc
  components/camel-spring/src/main/docs/spring-summary.adoc
  components/camel-sql/src/main/docs/sql-component.adoc
  components/camel-sql/src/main/docs/sql-stored-component.adoc
  components/camel-ssh/src/main/docs/ssh-component.adoc
Labels: components, components-jms, camel-4

#15067 CAMEL-21055: camel-core-model - Adjust label on EIP nodes so they are…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/circuitBreaker.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/doTry.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/faultToleranceConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/langChain4j.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/marshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/onFallback.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/resilience4jConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/routeTemplates.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/sort.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/unmarshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/doTry.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/faultToleranceConfiguration.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/langChain4j.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/marshal.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/onFallback.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/resilience4jConfiguration.json
  core/camel-core-engine/src/main/docs/modules/eips/examples/json/unmarshal.json
  core/camel-core-engine/src/main/docs/modules/eips/nav.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/marshal-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/unmarshal-eip.adoc
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/circuitBreaker.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/doTry.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/faultToleranceConfiguration.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/marshal.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/onFallback.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/resilience4jConfiguration.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/routeTemplates.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/sort.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/tokenizer/langChain4j.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/unmarshal.json
  core/camel-core-model/src/main/java/org/apache/camel/model/CircuitBreakerDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/FaultToleranceConfigurationDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/MarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/OnFallbackDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/OutputDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/PropertyDefinitions.java
  core/camel-core-model/src/main/java/org/apache/camel/model/Resilience4jConfigurationDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplatesDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/SortDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/TokenizerDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/TryDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/UnmarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/tokenizer/LangChain4jTokenizerDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#15065 CAMEL-21059 Cannot run or export when --repository is set before the integration file
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
Labels: dsl, camel-4

#15070 CAMEL-21040: ensure more consistency in the document sections
  components/camel-stax/src/main/docs/stax-component.adoc
  components/camel-stitch/src/main/docs/stitch-component.adoc
  components/camel-stomp/src/main/docs/stomp-component.adoc
  components/camel-stream/src/main/docs/stream-component.adoc
  components/camel-stringtemplate/src/main/docs/string-template-component.adoc
  components/camel-stub/src/main/docs/stub-component.adoc
  components/camel-swift/src/main/docs/swiftMt-dataformat.adoc
  components/camel-telegram/src/main/docs/telegram-component.adoc
  components/camel-test/camel-test-junit5/src/main/docs/test-junit5.adoc
  components/camel-test/camel-test-main-junit5/src/main/docs/test-main-junit5.adoc
  components/camel-test/camel-test-spring-junit5/src/main/docs/test-spring-junit5.adoc
  components/camel-threadpoolfactory-vertx/src/main/docs/threadpoolfactory-vertx.adoc
  components/camel-thymeleaf/src/main/docs/thymeleaf-component.adoc
  components/camel-tika/src/main/docs/tika-component.adoc
  components/camel-timer/src/main/docs/timer-component.adoc
  components/camel-tracing/src/main/docs/tracing.adoc
  components/camel-twilio/src/main/docs/twilio-component.adoc
  components/camel-undertow-spring-security/src/main/docs/undertow-spring-security.adoc
  components/camel-undertow/src/main/docs/undertow-component.adoc
  components/camel-univocity-parsers/src/main/docs/univocityFixed-dataformat.adoc
  components/camel-velocity/src/main/docs/velocity-component.adoc
  components/camel-vertx/camel-vertx-http/src/main/docs/vertx-http-component.adoc
  components/camel-vertx/camel-vertx-websocket/src/main/docs/vertx-websocket-component.adoc
  components/camel-wasm/src/main/docs/wasm-component.adoc
Labels: components, camel-4

#15082 CAMEL-21065 - Add Jolokia config in camel.debug profile of Camel
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl, camel-4

#15084 CAMEL-21040: ensure more consistency in the document sections
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
  components/camel-weather/src/main/docs/weather-component.adoc
  components/camel-whatsapp/src/main/docs/whatsapp-component.adoc
  components/camel-wordpress/src/main/docs/wordpress-component.adoc
  components/camel-xchange/src/main/docs/xchange-component.adoc
  components/camel-xj/src/main/docs/xj-component.adoc
  components/camel-xmlsecurity/src/main/docs/xmlSecurity-dataformat.adoc
  components/camel-xmlsecurity/src/main/docs/xmlsecurity-sign-component.adoc
  components/camel-xmlsecurity/src/main/docs/xmlsecurity-verify-component.adoc
  components/camel-xmpp/src/main/docs/xmpp-component.adoc
  components/camel-xpath/src/main/docs/xpath-language.adoc
  components/camel-xslt-saxon/src/main/docs/xslt-saxon-component.adoc
  components/camel-xslt/src/main/docs/xslt-component.adoc
  components/camel-zeebe/src/main/docs/zeebe-component.adoc
  components/camel-zip-deflater/src/main/docs/zipDeflater-dataformat.adoc
  components/camel-zookeeper-master/src/main/docs/zookeeper-master-component.adoc
  components/camel-zookeeper/src/main/docs/zookeeper-component.adoc
Labels: components, camel-4

#15083 CAMEL-21067: marked camel-univocity as deprecated
  components/camel-univocity-parsers/pom.xml
  components/camel-univocity-parsers/src/generated/resources/META-INF/services/org/apache/camel/dataformat.properties
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/AbstractUniVocityDataFormat.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/UniVocityCsvDataFormat.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/UniVocityFixedDataFormat.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/UniVocityTsvDataFormat.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
Labels: components, docs, camel-4

#15089 CAMEL-21064: camel-as2: Parse HTTP headers case-insensitive
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/AS2DispositionModifier.java
Labels: components, camel-4

#15090 CAMEL-21071: camel-rest-openapi - Auto detect RestApiConsumerFactory …
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestApiEndpoint.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestEndpoint.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderComponentResolver.java
Labels: components, dsl, camel-4

#15099 Fix documentation mongodb
  components/camel-mongodb/src/main/docs/mongodb-component.adoc
Labels: components, camel-4

#15101 (chores) camel-test-infra-ollama: upgrade Ollama container to 0.3.5
  test-infra/camel-test-infra-ollama/src/test/resources/org/apache/camel/test/infra/ollama/services/container.properties
Labels: test-infra, camel-4

#15098 Improve JBang Kubernetes export to print failure details
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#15112 CAMEL-21013: Fix JBang kubernetes plugin deployment to OpenShift
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/ClusterType.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#15063 feat(core): auto cloud native properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConstants.java
  core/camel-main/src/test/java/org/apache/camel/main/MainPropertyPlaceholderTest.java
  core/camel-main/src/test/resources/cloud.properties
  core/camel-main/src/test/resources/k8s/etc/camel/conf.d/_configmaps/my-prop-1.txt
  core/camel-main/src/test/resources/k8s/etc/camel/conf.d/_secrets/my-prop-2.txt
Labels: core, catalog, camel-4

#15100 (RFC) CAMEL-21069: remove legacy blueprint code
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/CamelXmlHelper.java
  components/camel-spring/src/main/java/org/apache/camel/spring/spi/LegacyTransactionErrorHandlerReifier.java
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelBeanPostProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultManagementStrategyFactory.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesLocation.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LegacyDeadLetterChannelBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LegacyDefaultErrorHandlerBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LegacyErrorHandlerBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LegacyErrorHandlerBuilderRef.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LegacyErrorHandlerBuilderSupport.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/LegacyNoErrorHandlerBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/model/OptionalIdentifiedDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/DeadLetterChannelConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/DeadLetterChannelProperties.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/DefaultErrorHandlerConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/DefaultErrorHandlerProperties.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/ErrorHandlerRefConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/ErrorHandlerRefProperties.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/NoErrorHandlerConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/NoErrorHandlerProperties.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/LegacyDeadLetterChannelReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/LegacyDefaultErrorHandlerReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/LegacyErrorHandlerRefReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/LegacyNoErrorHandlerReifier.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelEndpointFactoryBean.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementStrategyFactory.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/DocumentationEnricher.java
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/main/java/org/apache/camel/maven/EipDocumentationEnricherMojo.java
  tooling/maven/camel-restdsl-openapi-plugin/src/main/java/org/apache/camel/maven/generator/openapi/GenerateXmlMojo.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslXmlGenerator.java
  tooling/openapi-rest-dsl-generator/src/test/java/org/apache/camel/generator/openapi/RestDslXmlGeneratorV3Test.java
Labels: components, core, catalog, tooling, tooling-maven, camel-4

#15118 chore(doc): info to compile from root project
  .github/pull_request_template.md
Labels: camel-4

#15124 CAMEL-21057: camel-rest-openapi - Ensure returned URI includes scheme…
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
Labels: components, camel-4

#15144 chore(camel-jbang): Remove obsolete kubernetes-client workaround
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
Labels: dsl, camel-4

#15147 chore(docs): Improve JBang Kubernetes plugin documentation
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
Labels: docs, camel-4

#15148 Backport CAMEL-21057 to 4.4.x
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
Labels: components

#15146 CAMEL-21078: allow enabling adviceWith
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestExecutionConfiguration.java
Labels: components, camel-4

#15155 CAMEL-20869: camel-spring-rabbitmq - Add options for skip declare/bin…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/spring-rabbitmq.json
  components/camel-spring-rabbitmq/src/generated/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpointConfigurer.java
  components/camel-spring-rabbitmq/src/generated/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpointUriFactory.java
  components/camel-spring-rabbitmq/src/generated/resources/META-INF/org/apache/camel/component/springrabbit/spring-rabbitmq.json
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SpringRabbitMQEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SpringRabbitmqUriDsl.kt
Labels: components, catalog, dsl, camel-4

#15145 CAMEL-20638: camel-platform-http - Do not return http request headers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/platform-http.json
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSessionTest.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointConfigurer.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointUriFactory.java
  components/camel-platform-http/src/generated/resources/META-INF/org/apache/camel/component/platform/http/platform-http.json
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/JettyCustomPlatformHttpConsumer.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/PlatformHttpReturnHttpRequestHeadersTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PlatformHttpEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/PlatformHttpUriDsl.kt
Labels: components, catalog, dsl, camel-4

#15162 CAMEL-20638: camel-platform-http - Do not return http request headers - FIX
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/JettyCustomPlatformHttpConsumer.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/PlatformHttpReturnHttpRequestHeadersTest.java
Labels: components, camel-4

#15158 (chores) convert core/camel-api to use pattern matching for instanceof
  core/camel-api/src/main/java/org/apache/camel/CamelContextAware.java
  core/camel-api/src/main/java/org/apache/camel/CamelExecutionException.java
  core/camel-api/src/main/java/org/apache/camel/Component.java
  core/camel-api/src/main/java/org/apache/camel/LineNumberAware.java
  core/camel-api/src/main/java/org/apache/camel/RuntimeCamelException.java
  core/camel-api/src/main/java/org/apache/camel/resume/Serializable.java
  core/camel-api/src/main/java/org/apache/camel/spi/DataType.java
  core/camel-api/src/main/java/org/apache/camel/spi/ResourceAware.java
  core/camel-api/src/main/java/org/apache/camel/spi/RoutesLoader.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/service/ServiceHelper.java
Labels: core, camel-4

#15167 CAMEL-21089: Enable CamelBaseBulkConverterLoader to convert from String to byte primitive
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/TypeConverterLoaderGeneratorMojo.java
Labels: core, tooling, tooling-maven, camel-4

#15168 CAMEL-21081: Add iif function to simple language
  components/camel-csimple-joor/src/main/docs/csimple-joor.adoc
  components/camel-csimple-joor/src/test/java/org/apache/camel/language/csimple/joor/OriginalSimpleTest.java
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleCodeGenerator.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/BaseSimpleParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimplePredicateParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/BinaryExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/LogicalExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionStart.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/UnaryExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
Labels: components, core, camel-4

#15169 [4.4.x] CAMEL-21089: Enable CamelBaseBulkConverterLoader to convert from String to byte primitive
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/TypeConverterLoaderGeneratorMojo.java
Labels: core, tooling, tooling-maven

#15170 CAMEL-21090: camel-as2 fix wrong header name prefix.
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/internal/AS2Constants.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2AsyncMDNServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
Labels: components, docs, camel-4

#15177 CAMEL-20569: camel-catalog - Markup languages which functions they support for better doc and tooling.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/file.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/languages/simple.json
  core/camel-api/src/generated/java/org/apache/camel/spi/annotations/Language.java
  core/camel-core-languages/src/generated/resources/META-INF/org/apache/camel/language/simple/file.json
  core/camel-core-languages/src/generated/resources/META-INF/org/apache/camel/language/simple/simple.json
  core/camel-core-languages/src/main/docs/modules/languages/pages/file-language.adoc
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/FileConstants.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/FileLanguage.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleConstants.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleLanguage.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/src/main/java/org/apache/camel/maven/dsl/yaml/support/Schema.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/JsonMapper.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/LanguageModel.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/Strings.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGenerateConfigurerMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageLanguageMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/generics/ClassUtil.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/annotations/Language.java
Labels: core, catalog, dsl, tooling, tooling-maven, camel-4

#15159 CAMEL-21082 - do not delete existing file sin target folder when
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/InitTest.java
Labels: docs, dsl, camel-4

#15180 CAMEL-20774: Add configuration of existing keystore instance to Sprin…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-spring-xml/src/generated/resources/META-INF/org/apache/camel/spring/xml/keyStoreParameters.json
  components/camel-spring-xml/src/generated/resources/META-INF/org/apache/camel/spring/xml/secureRandomParameters.json
  components/camel-spring-xml/src/generated/resources/META-INF/org/apache/camel/spring/xml/sslContextParameters.json
  components/camel-spring-xml/src/test/resources/org/apache/camel/util/spring/KeyStoreParametersFactoryBeanTest-context.xml
  core/camel-api/src/main/java/org/apache/camel/support/jsse/KeyManagersParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/KeyStoreParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextClientParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SSLContextServerParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/SecureRandomParameters.java
  core/camel-api/src/main/java/org/apache/camel/support/jsse/TrustManagersParameters.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/AbstractKeyManagersParametersFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/AbstractKeyStoreParametersFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/AbstractSSLContextParametersFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/AbstractSSLContextServerParametersFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/AbstractSecureRandomParametersFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/AbstractTrustManagersParametersFactoryBean.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/CipherSuitesParametersDefinition.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/util/jsse/SecureSocketProtocolsParametersDefinition.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/SSLConfigurationProperties.java
Labels: components, core, catalog, camel-4

#15179 (chores) convert core/camel-base to use pattern matching for instanceof
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesLookup.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesParser.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesComponent.java
  core/camel-base/src/main/java/org/apache/camel/converter/CollectionConverter.java
  core/camel-base/src/main/java/org/apache/camel/converter/IOConverter.java
  core/camel-base/src/main/java/org/apache/camel/converter/ObjectConverter.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/ArrayTypeConverter.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/AsyncProcessorTypeConverter.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/BaseTypeConverterRegistry.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/CoreTypeConverterRegistry.java
  core/camel-base/src/main/java/org/apache/camel/impl/converter/FutureTypeConverter.java
  core/camel-base/src/main/java/org/apache/camel/impl/event/DefaultEventFactory.java
Labels: core, camel-4

#15188 CAMEL621093 - align commons-io for fhir component
  components/camel-fhir/camel-fhir-api/pom.xml
  components/camel-fhir/camel-fhir-component/pom.xml
Labels: components, camel-4

#15194 Upgrade maven wrapper 3.9.9
  .mvn/wrapper/maven-wrapper.properties
Labels: camel-4

#15198 Github Actions Security Best practices: Pin Actions to Full lenght Co…
  .github/workflows/alternative-os-build-main.yml
Labels: camel-4

#15199 Github Actions Security Best practices: Pin Actions to Full lenght Co…
  .github/workflows/component-pr.yaml
Labels: camel-4

#15200 Github Actions Security Best practices: Pin Actions to Full lenght Co…
  .github/workflows/depsreview.yaml
Labels: camel-4

#15201 Github Actions Security Best practices: Pin Actions to Full lenght Co…
  .github/workflows/generate-sbom-main.yml
Labels: camel-4

#15203 Github Actions Security Best practices: Pin Actions to Full lenght Co…
  .github/workflows/pr-build-camel-3.yml
Labels: camel-4

#15204 Github Actions Security Best practices: Pin Actions to Full lenght Co…
  .github/workflows/pr-build-camel-40x.yml
Labels: camel-4

#15205 Github Actions Security Best practices: Pin Actions to Full lenght Co…
  .github/workflows/pr-build-main.yml
Labels: camel-4

#15217 CAMEL-21096: camel-core - Rest DSL interceptFrom should work also if …
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/FromRestGetInterceptFromTest.java
Labels: core, camel-4

#15219 CAMEL-20992: Do not complete, abandon or dead-letter messages in RECEIVE_AND_DELETE receive mode
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumerTest.java
Labels: components, components-azure, camel-4

#15215 (chores) convert core/camel-base-engine to use pattern matching for instanceof
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractDynamicRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BaseExecutorServiceManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BootstrapConfigurerResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelPostProcessorHelper.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultChannel.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultContextPluginManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultEndpointRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultExecutorServiceManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPeriodTaskScheduler.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultResourceResolvers.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoutesLoader.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRuntimeEndpointRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultServiceBootstrapCloseable.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultShutdownStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultTransformerRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultUnitOfWork.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DeferServiceStartupListener.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalRouteStartupManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalServiceManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/IntrospectionSupport.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/RouteService.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/StreamCachingHelper.java
Labels: core, camel-4

#15216 CAMEL-21094 - Merge multiple PDF files
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pdf.json
  components/camel-pdf/src/generated/resources/META-INF/org/apache/camel/component/pdf/pdf.json
  components/camel-pdf/src/main/java/org/apache/camel/component/pdf/PdfHeaderConstants.java
  components/camel-pdf/src/main/java/org/apache/camel/component/pdf/PdfOperation.java
  components/camel-pdf/src/main/java/org/apache/camel/component/pdf/PdfProducer.java
  components/camel-pdf/src/test/java/org/apache/camel/component/pdf/PdfMergeTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PdfEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15222 Upgrade Vert.x to 4.5.9
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#15228 CAMEL-20804 - mark classes as deprecated in camel-api o.a.c.cloud
  core/camel-api/src/main/java/org/apache/camel/cloud/DiscoverableService.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceCallConstants.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceChooser.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceChooserAware.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceChooserFactory.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceDefinition.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceDiscovery.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceDiscoveryAware.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceDiscoveryFactory.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceExpressionFactory.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceFactory.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceFilter.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceFilterAware.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceFilterFactory.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceHealth.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceLoadBalancer.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceLoadBalancerFactory.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceLoadBalancerFunction.java
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceRegistry.java
Labels: core, camel-4

#15218 Camel 21097
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2MicAlgorithm.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MicAlgorithmTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/MicUtilsTest.java
Labels: components, camel-4

#15237 Update azure-sdk-bom to 1.2.26
  parent/pom.xml
  test-infra/camel-test-infra-azure-common/src/test/resources/org/apache/camel/test/infra/azure/common/services/container.properties
Labels: test-infra, core-build-and-dependencies

#15238 CAMEL-21100: Fix azure-eventhubs configuration validation for credential type AZURE_IDENTITY
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsComponent.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/EventHubsComponentTest.java
Labels: components, components-azure, camel-4

#15182 OpenTelemetry testing improvements
  components/camel-opentelemetry/pom.xml
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryExtension.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/OpenTelemetryPropagateContextTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategyPropagateContextTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/OpenTelemetryTracingStrategyTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/SpanTestData.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/SpanTreePrinter.java
  components/camel-opentelemetry/src/test/resources/log4j2.properties
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/util/CamelContextTestHelper.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/InjectAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/SpanAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/SpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tag.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AbstractSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/propagation/CamelHeadersExtractAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/propagation/CamelMessagingHeadersExtractAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/propagation/CamelMessagingHeadersInjectAdapter.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/ActiveSpanManagerTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/MockSpanAdapter.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#15230 CAMEL-20958: camel-aws - Kinesis consumer loops on closed shards
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisConsumerClosedShardWithSilentTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2KinesisComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Kinesis2EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2KinesisUriDsl.kt
Labels: components, catalog, dsl, components-aws, camel-4

#15240 CAMEL-21011 - improve error message with Camel JBang
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/exceptionhandler/MissingPluginParameterExceptionHandler.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/exceptionhandler/ParameterExceptionHandlerTest.java
Labels: dsl, camel-4

#15245 Remove redundant commons-io dependency from camel-azure-eventhubs
  components/camel-azure/camel-azure-eventhubs/pom.xml
Labels: components, components-azure, camel-4

#15248 dev console - source to be able to download using raw mode
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  core/camel-api/src/main/java/org/apache/camel/console/DevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDumpDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/SourceDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/TopDevConsole.java
  core/camel-support/src/main/java/org/apache/camel/support/LoggerHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/console/AbstractDevConsole.java
Labels: components, core, camel-4

#15247 CAMEL-21101 - Camel-Hashicorp-Vault: Get Secret operation doesn't tak…
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultProducer.java
  components/camel-hashicorp-vault/src/test/java/org/apache/camel/component/hashicorp/vault/integration/operations/HashicorpProducerCreateSecretIT.java
Labels: components

#15249 CAMEL-21011 - improve error message with Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/exceptionhandler/MissingPluginParameterExceptionHandler.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/exceptionhandler/ParameterExceptionHandlerTest.java
Labels: dsl, camel-4

#15251 Http stream
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/atmosphere-websocket.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/http.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/https.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jetty.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/servlet.json
  components/camel-atmosphere-websocket/src/generated/resources/META-INF/org/apache/camel/component/atmosphere/websocket/atmosphere-websocket.json
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpCommonEndpoint.java
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/http.json
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/https.json
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpDisableStreamCacheTest.java
  components/camel-jetty/src/generated/resources/META-INF/org/apache/camel/component/jetty12/jetty.json
  components/camel-servlet/src/generated/resources/META-INF/org/apache/camel/component/servlet/servlet.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AtmosphereWebsocketEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/HttpEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JettyHttp12EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ServletEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/AtmosphereWebsocketUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/HttpUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JettyUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/ServletUriDsl.kt
Labels: components, catalog, dsl, camel-4

#15254 Add documentation about Kubernetes Configmap Properties Function to C…
  components/camel-kubernetes/src/main/docs/kubernetes-config-maps-component.adoc
Labels: components, camel-4

#15241 Add `ExchangePropertyKey` for active tracing span property
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  core/camel-api/src/generated/java/org/apache/camel/ExchangeConstantProvider.java
  core/camel-api/src/main/java/org/apache/camel/Exchange.java
  core/camel-api/src/main/java/org/apache/camel/ExchangePropertyKey.java
  core/camel-support/src/main/java/org/apache/camel/saga/InMemorySagaCoordinator.java
Labels: components, core, camel-4

#15258 Configure test container rabbitMQ with several startup attempt
  test-infra/camel-test-infra-rabbitmq/src/test/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQLocalContainerService.java
Labels: test-infra, camel-4

#15259 Upgrade aws container used in tests from 3.5.0 to 3.6.0
  test-infra/camel-test-infra-aws-v2/src/test/resources/org/apache/camel/test/infra/aws2/services/container.properties
Labels: test-infra, camel-4

#15260 Upgrade elasticsearch container used in test to 8.15.0
  test-infra/camel-test-infra-elasticsearch/src/test/resources/org/apache/camel/test/infra/elasticsearch/services/container.properties
Labels: test-infra, camel-4

#15261 (chores) camel-langchain4j-chat: use human-readable names for the tools
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpoint.java
Labels: components, camel-4

#15257 CAMEL-20979: if no operationId is specified, generate an id
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenapiProcessorStrategyTest.java
  components/camel-rest-openapi/src/test/resources/missing-opid.yaml
Labels: components, camel-4

#15267 CAMEL-21105 - Camel-Kubernetes: Configmap creation should allow to add annotations
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kubernetes-config-maps.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/kubernetes/config_maps/kubernetes-config-maps.json
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/KubernetesConstants.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/config_maps/KubernetesConfigMapsProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesConfigMapsProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KubernetesConfigMapsEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15271 Configure test container Solr with several startup attempt
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrLocalContainerService.java
Labels: test-infra, camel-4

#15275 Fix style in SpringStreamCachingStrategyTest
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringStreamCachingStrategyTest.java
Labels: components, camel-4

#15274 CAMEL-21108 - use legacy JUnit search algorithm
  components/camel-amqp/pom.xml
Labels: components, camel-4

#15273 jbang - export main with jib/jkube
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-jkube-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJibTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJkubeTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/application-jib.properties
  dsl/camel-jbang/camel-jbang-core/src/test/resources/application-jkube.properties
Labels: dsl, camel-4

#15276 Update camel-4x-upgrade-guide-4_7.adoc - fix typo idempontent
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
Labels: docs, camel-4

#15277 Camel-AWS components: Providing minimum permissions documentation for…
  components/camel-aws/camel-aws2-s3/src/main/docs/aws2-s3-component.adoc
Labels: components, components-aws, camel-4

#15281 CAMEL-21109: Make comparing numbers and floating numbers in typeCoerc…
  core/camel-core/src/test/java/org/apache/camel/converter/TypeCoerceCompareTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ObjectHelper.java
Labels: core, camel-4

#15272 (chores) convert core/camel-core-model to use pattern matching for instanceof
  core/camel-core-model/src/main/java/org/apache/camel/builder/AdviceWith.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/AdviceWithTasks.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/Builder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/ExpressionClauseSupport.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/JtaTransactionErrorHandlerBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/NotifyBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/SpringTransactionErrorHandlerBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/model/AggregateDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ChoiceDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/CircuitBreakerDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ExpressionNode.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ExpressionNodeHelper.java
  core/camel-core-model/src/main/java/org/apache/camel/model/InterceptDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinitionHelper.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/TemplatedRouteDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/TryDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallExpressionConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceChooserConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceDiscoveryConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceFilterConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceLoadBalancerConfiguration.java
  core/camel-core-model/src/main/java/org/apache/camel/model/errorhandler/ErrorHandlerHelper.java
Labels: core, camel-4

#15280 (chores) avoid using StringWriter if possible
  catalog/camel-csimple-maven-plugin/src/main/java/org/apache/camel/maven/GenerateMojo.java
  components/camel-test/camel-test-spring-junit5/src/main/java/org/apache/camel/test/spring/junit5/CamelSpringTestSupport.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGenerateConfigurerMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
Labels: components, catalog, tooling, tooling-maven, camel-4

#15290 CAMEL-19665: camel-jira - Endpoint should also be poll scheduled when…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jira.json
  components/camel-jira/src/generated/java/org/apache/camel/component/jira/JiraEndpointConfigurer.java
  components/camel-jira/src/generated/java/org/apache/camel/component/jira/JiraEndpointUriFactory.java
  components/camel-jira/src/generated/resources/META-INF/org/apache/camel/component/jira/jira.json
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JiraEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JiraUriDsl.kt
Labels: components, catalog, dsl, camel-4

#15289 (chores) consolidate duplicated code for printing the stack traces
  components/camel-crypto-pgp/src/test/java/org/apache/camel/converter/crypto/PGPDataFormatTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HeaderFilteringTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyHttpEndpointDisconnectTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/error/ncd/NoClassDefFoundErrorWrapExceptionTest.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumer.java
  components/camel-microprofile/camel-microprofile-health/src/main/java/org/apache/camel/microprofile/health/CamelMicroProfileHealthHelper.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/DefaultNettyHttpBinding.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/DefaultUndertowHttpBinding.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/XmlSignatureTest.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/HealthDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteControllerConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  core/camel-core/src/test/java/org/apache/camel/util/NoClassDefFoundErrorWrapExceptionTest.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedCamelHealth.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedSupervisingRouteController.java
  core/camel-support/src/main/java/org/apache/camel/support/ExceptionHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/DefaultExchangeFormatter.java
Labels: components, core, components-jms, camel-4

#15291 (chores) convert core/camel-core-processor to use pattern matching for instanceof
  core/camel-core-processor/src/main/java/org/apache/camel/processor/DefaultProcessorFactory.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/PollEnricher.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ProcessorHelper.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RecipientListProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RoutingSlip.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendDynamicProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Splitter.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ThreadsProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/WireTapProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/resume/ResumableCompletion.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/validator/ProcessorValidator.java
Labels: core, camel-4

#15292 (chores) convert core/camel-support to use pattern matching for instanceof
  core/camel-support/src/main/java/org/apache/camel/converter/stream/CachedOutputStream.java
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/AbstractVariableRepository.java
  core/camel-support/src/main/java/org/apache/camel/support/AsyncProcessorConverterHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/CamelContextHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/ChildServiceSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultComponent.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultRegistry.java
  core/camel-support/src/main/java/org/apache/camel/support/DeferProducer.java
  core/camel-support/src/main/java/org/apache/camel/support/EndpointHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/EventDrivenPollingConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/ExpressionToPredicateAdapter.java
  core/camel-support/src/main/java/org/apache/camel/support/GroupTokenIterator.java
  core/camel-support/src/main/java/org/apache/camel/support/HeaderFilterStrategyComponent.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/LifecycleStrategySupport.java
  core/camel-support/src/main/java/org/apache/camel/support/LoggerHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/ObjectHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/OrderedComparator.java
  core/camel-support/src/main/java/org/apache/camel/support/PredicateAssertHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/PredicateToExpressionAdapter.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyConfigurerHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/ResolverHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/RouteVariableRepository.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollConsumer.java
  core/camel-support/src/main/java/org/apache/camel/support/ScheduledPollEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/support/SupplierRegistry.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/OutputStreamBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ValueBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/DefaultProducerCache.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiComponent.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiEndpoint.java
  core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiProducer.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiConsumerHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodPropertiesHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/EndpointUriFactorySupport.java
  core/camel-support/src/main/java/org/apache/camel/support/component/PropertyConfigurerSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/jndi/CamelInitialContextFactory.java
  core/camel-support/src/main/java/org/apache/camel/support/jndi/JndiContext.java
  core/camel-support/src/main/java/org/apache/camel/support/management/DefaultManagementMBeanAssembler.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/RestBindingAdvice.java
  core/camel-support/src/main/java/org/apache/camel/support/resume/ResumeStrategyHelper.java
Labels: core, camel-4

#15297 (chores) convert core/camel-xml-io to use pattern matching for instanceof
  core/camel-xml-io/src/main/java/org/apache/camel/xml/LwModelToXMLDumper.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/in/BaseParser.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/out/BaseWriter.java
Labels: core, camel-4

#15295 (chores) convert core/camel-management to use pattern matching for instanceof
  core/camel-management/src/main/java/org/apache/camel/management/DefaultInstrumentationProcessor.java
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementObjectNameStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementObjectStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementLifecycleStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementStrategyFactory.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedClusterService.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedComponent.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedDataFormat.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedDoTry.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedEndpoint.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedEventNotifier.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedProcess.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedProcessor.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedService.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedThreads.java
Labels: core, camel-4

#15299 (chores) Fix StringBuilder append misuses
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/model/fix/complex/onetomany/Order.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/ExecEndpointTest.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/ExecJavaProcessRecipientListTest.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/ExecJavaProcessTest.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/ExecScriptTest.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/impl/ExecDocumentationExamplesTest.java
  components/camel-snmp/src/main/java/org/apache/camel/component/snmp/SnmpConverters.java
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementObjectNameStrategy.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageModelMojo.java
Labels: components, core, tooling, tooling-maven, camel-4

#15293 (chores) convert core/camel-core-reifier to use pattern matching for instanceof
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/AbstractReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/AggregateReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/BeanReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ChoiceReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ClaimCheckReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/MulticastReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ProcessorReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/RecipientListReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ResequenceReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ResumableReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/RouteReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/SplitReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/DataFormatReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/errorhandler/ErrorHandlerReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/ExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XMLTokenizerExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XPathExpressionReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XQueryExpressionReifier.java
Labels: core, camel-4

#15301 (chores) tooling: use more adequately sized buffers
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/JavadocHelper.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/Strings.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/srcgen/Annotation.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/srcgen/GenericType.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/srcgen/JavaClass.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGenerateConfigurerMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/ComponentDslMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointDslMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointSchemaGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageDataFormatMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageLanguageMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PackageModelMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainDocMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareComponentMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SchemaHelper.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SpiGeneratorMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateSensitizeHelper.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/generics/JavadocUtil.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/generics/PackagePluginUtils.java
Labels: tooling, tooling-maven, camel-4

#15302 (chores) core: use more adequately sized buffers
  core/camel-api/src/main/java/org/apache/camel/CamelExchangeException.java
  core/camel-api/src/main/java/org/apache/camel/catalog/EndpointValidationResult.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/BacklogTracer.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogTracerEventMessage.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultAsyncProcessorAwaitManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultShutdownStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultTracer.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesParser.java
  core/camel-base/src/main/java/org/apache/camel/impl/scan/AssignableToPackageScanFilter.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleCodeGenerator.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimplePredicateParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleTokenizer.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/CompositeNodes.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/LiteralExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionStart.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/NotifyBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/model/SagaDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/WhenDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/console/BeanModelDevConsole.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/ExpressionDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/PipelineHelper.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SetHeadersProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SetVariablesProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregationStrategyParameterInfo.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/OptimisticLockRetryPolicy.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/StringAggregationStrategy.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
  core/camel-support/src/main/java/org/apache/camel/support/RestComponentHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/RestConsumerContextPathMatcher.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/TokenXMLExpressionIterator.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodArg.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodImpl.java
  core/camel-support/src/main/java/org/apache/camel/support/component/ApiMethodParser.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/DefaultExchangeFormatter.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/DefaultMaskingFormatter.java
  core/camel-support/src/main/java/org/apache/camel/support/processor/PredicateValidationException.java
  core/camel-util/src/main/java/org/apache/camel/util/AntPathMatcher.java
  core/camel-util/src/main/java/org/apache/camel/util/CollectionHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/FileUtil.java
  core/camel-util/src/main/java/org/apache/camel/util/IOHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/OgnlHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/StringQuoteHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
  core/camel-util/src/main/java/org/apache/camel/util/backoff/BackOff.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/in/ParserTest.java
  core/camel-xml-jaxp-util/src/main/java/org/apache/camel/util/xml/pretty/XmlPrettyPrinter.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/DomConverter.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XmlConverter.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/support/builder/xml/XMLConverterHelper.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/support/processor/validation/SchemaValidationException.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/util/xml/XmlLineNumberParser.java
Labels: core, camel-4

#15309 CAMEL-21116 - Camel-AWS2-S3: Make ignoreBody supported also for getOb…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Configuration.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3GetObjectOperationIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2S3ComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2S3UriDsl.kt
Labels: components, catalog, dsl, components-aws, camel-4

#15294 (chores) convert core/camel-main to use pattern matching for instanceof
  core/camel-main/src/main/java/org/apache/camel/main/MainHelper.java
  core/camel-main/src/main/java/org/apache/camel/main/MainPropertiesReload.java
  core/camel-main/src/main/java/org/apache/camel/main/RoutesConfigurer.java
  core/camel-main/src/test/java/org/apache/camel/main/MainIoCBeanConfigInjectConfigurerTest.java
Labels: core, camel-4

#15300 (chores) convert core/camel-yaml-io to use pattern matching for instanceof
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/LwModelToYAMLDumper.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/io/YamlWriter.java
Labels: core, camel-4

#15296 (chores) convert core/camel-util to use pattern matching for instanceof
  core/camel-util/src/main/java/org/apache/camel/util/IOHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/Scanner.java
  core/camel-util/src/main/java/org/apache/camel/util/URIScanner.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/RejectableScheduledThreadPoolExecutor.java
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/RejectableThreadPoolExecutor.java
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/SizedScheduledExecutorService.java
  core/camel-util/src/main/java/org/apache/camel/util/concurrent/ThreadPoolRejectedPolicy.java
Labels: core, camel-4

#15312 Upgrade Nats container image to version 2.10.18
  test-infra/camel-test-infra-nats/src/test/resources/org/apache/camel/test/infra/nats/services/container.properties
Labels: test-infra, camel-4

#15310 Do not play some tests of Tahu on s390x and ppc64le
  components/camel-tahu/pom.xml
  components/camel-tahu/src/test/java/org/apache/camel/component/tahu/TahuEdgeProducerIT.java
  components/camel-tahu/src/test/java/org/apache/camel/component/tahu/TahuHostConsumerIT.java
  components/camel-tahu/src/test/java/org/apache/camel/component/tahu/handlers/TahuEdgeClientManualIT.java
  components/camel-tahu/src/test/java/org/apache/camel/component/tahu/handlers/TahuHostApplicationManualIT.java
Labels: components, camel-4

#15314 Fix section level in doc for kubernetes
  components/camel-kubernetes/src/main/docs/kubernetes-config-maps-component.adoc
Labels: components, camel-4

#15315 CAMEL-21112: camel-sql - SQL producer in batch mode using inlined sim…
  components/camel-sql/src/main/java/org/apache/camel/component/sql/DefaultSqlPrepareStatementStrategy.java
  components/camel-sql/src/test/java/org/apache/camel/component/sql/ProducerBatchSimpleExpTest.java
Labels: components, camel-4

#15317 camel-tracing close scope only once
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
Labels: components, camel-4

#15316 [CAMEL-21119] Improve support for java.nio.file.Path
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  core/camel-base/src/main/java/org/apache/camel/converter/IOConverter.java
  core/camel-base/src/main/java/org/apache/camel/converter/NIOConverter.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleOverrideMethodTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  core/camel-util/src/main/java/org/apache/camel/util/FileUtil.java
  core/camel-util/src/main/java/org/apache/camel/util/IOHelper.java
  core/camel-xml-jaxp/src/generated/java/org/apache/camel/converter/jaxp/CamelXmlJaxpBulkConverterLoader.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XmlConverter.java
Labels: core, camel-4

#15318 CAMEL-21117: camel-jbang - Detect transacted dsl and add camel-jta au…
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/TransactedDownloader.java
Labels: dsl, camel-4

#15333 CAMEL-20367: Adds Maven and Gradle run test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/MavenGradleITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/maven-gradle/build.gradle
Labels: dsl, camel-4

#15336 CAMEL-20367: Adds running routes from source directory test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RouteFromDirITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/from-source-dir/FromDirectoryRoute.java
Labels: dsl, camel-4

#15337 CAMEL-21120: camel-groovy - Should clear cache when stopping to clean…
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyLanguage.java
Labels: components, camel-4

#15340 (chores) core/camel-util: avoid unnecessary autoboxing
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
Labels: core, camel-4

#15351 Sdir
  dsl/camel-jbang/camel-jbang-console/src/main/java/org/apache/camel/jbang/console/SourceDirDevConsole.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderRoutesLoader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/NoopRoutesBuilderLoader.java
Labels: dsl, camel-4

#15353 CAMEL-21135: camel-core - AdviceWith using toUri pattern should also …
  core/camel-core-model/src/main/java/org/apache/camel/builder/AdviceWithTasks.java
  core/camel-core-model/src/main/java/org/apache/camel/model/PollDefinition.java
  core/camel-core/src/test/java/org/apache/camel/issues/AdviceWithWeaveByToUriEnrichTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/AdviceWithWeaveByToUriPollEnrichTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/AdviceWithWeaveByToUriPollTest.java
Labels: core, camel-4

#15352 camel-jbang: Fix Run command to support both run and dev mode with Qu…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#15356 Add note about proxy configuration when using Camel JBang in doc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#15367 CAMEL-21130: camel-jbang - support java sources reload with Quarkus r…
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: docs, dsl, camel-4

#15368 Add init and destroy methods to @BindToRegistry (part 1)
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulRegistry.java
  core/camel-api/src/main/java/org/apache/camel/BindToRegistry.java
  core/camel-api/src/main/java/org/apache/camel/spi/CamelDependencyInjectionAnnotationFactory.java
  core/camel-api/src/main/java/org/apache/camel/spi/Registry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelBeanPostProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultDependencyInjectionAnnotationFactory.java
  core/camel-core/src/test/java/org/apache/camel/impl/BindToRegistryBeanInitDestroyMethodTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultRegistry.java
  core/camel-support/src/main/java/org/apache/camel/support/SimpleRegistry.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/PackageScanHelper.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeansDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/YamlRoutesBuilderLoaderSupport.java
Labels: components, core, docs, dsl, camel-4

#15373 Respect style to fix PR build on main branch
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/injection/AnnotationDependencyInjection.java
Labels: dsl, camel-4

#15374 Use slim container image of Solr
  test-infra/camel-test-infra-solr/src/test/resources/org/apache/camel/test/infra/solr/services/container.properties
Labels: test-infra, camel-4

#15377 CAMEL-21107 - Camel-Kubernetes: Add ability to add annotation to create resources operation - Secrets
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kubernetes-secrets.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/kubernetes/secrets/kubernetes-secrets.json
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/KubernetesConstants.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/secrets/KubernetesSecretsProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesSecretsProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KubernetesSecretsEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15375 (chores) make copy/pasted code consistent
  core/camel-util/src/main/java/org/apache/camel/util/StringHelper.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/Strings.java
Labels: core, tooling, camel-4

#15378 Camel-Kubernetes: Add ability to add annotation to create resources o…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kubernetes-job.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/kubernetes/job/kubernetes-job.json
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/KubernetesConstants.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/job/KubernetesJobProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesJobProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KubernetesJobEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4
