Repository apache/camel, pull requests merged in 2024-10, with the labels that each got.

#15771 CAMEL-21292: camel-jbang - Export to quarkus should map 3rd-party JAR…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/quarkus-dependencies.properties
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/ActiveMQRoute.java
Labels: dsl, camel-4

#15707 CAMEL-21286 - Add a cache for JAXB ObjectFactory lookup
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/JaxbHelper.java
Labels: components, camel-4

#15789 fix(jbang): include platform-http dependency
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl, camel-4

#15801 Fix and update spring ws tests
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/ConsumerEndpointMappingByBeanNameRouteTest-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/ConsumerEndpointMappingResponseHandlingRouteTest-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/ProducerLocalRouteTest-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/SoapHeaderTest-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/SoapResponseAttachmentTest-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/addresing/CamelDirectSenderTest-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/addresing/ConsumerWSAParamsActionTests-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/addresing/ConsumerWSAParamsTOTests-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/addresing/ProducerParamsBasicTest-context.xml
  components/camel-spring-ws/src/test/resources/org/apache/camel/component/spring/ws/addresing/ProducerParamsPrecedenceTest-context.xml
Labels: components, camel-4

#15802 CAMEL-21300: camel-platform-http - Consumer should have option to control if writing response failing should cause Exchange to fail
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/platform-http.json
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpComponentConfigurer.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointConfigurer.java
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpEndpointUriFactory.java
  components/camel-platform-http/src/generated/resources/META-INF/org/apache/camel/component/platform/http/platform-http.json
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpComponent.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PlatformHttpComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PlatformHttpEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15790 Cleanup dependency management (#15745)
  catalog/camel-catalog-common/pom.xml
  catalog/camel-csimple-maven-plugin/pom.xml
  catalog/camel-report-maven-plugin/pom.xml
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/pom.xml
  components/camel-salesforce/camel-salesforce-codegen/pom.xml
  components/camel-salesforce/camel-salesforce-maven-plugin/pom.xml
  components/camel-servicenow/camel-servicenow-maven-plugin/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/pom.xml
  parent/pom.xml
  tooling/camel-tooling-maven/pom.xml
  tooling/maven/bom-generator-maven-plugin/pom.xml
  tooling/maven/camel-api-component-maven-plugin/pom.xml
  tooling/maven/camel-component-maven-plugin/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
  tooling/maven/camel-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/pom.xml
  tooling/maven/sync-properties-maven-plugin/pom.xml
  tooling/parent/pom.xml
Labels: components, catalog, dsl, tooling, tooling-maven, core-build-and-dependencies, camel-4

#15805 fix: [CAMEL-21297]: camel-test-infra-dispatch-router not working due …
  test-infra/camel-test-infra-dispatch-router/src/test/java/org/apache/camel/test/infra/dispatch/router/services/DispatchRouterContainer.java
  test-infra/camel-test-infra-dispatch-router/src/test/resources/org/apache/camel/test/infra/dispatch/router/services/Dockerfile
Labels: test-infra

#15806 Remove Capability capability
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/CamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultRuntimeProvider.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/RuntimeProvider.java
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Agent.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/AgentTest.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/EntityRef.java
Labels: catalog, dsl, tooling, camel-4

#15811 CAMEL-21305: backport to 4.8x
  components/camel-pdf/src/generated/java/org/apache/camel/component/pdf/converter/PdfConverterLoader.java
  components/camel-pdf/src/main/java/org/apache/camel/component/pdf/converter/PdfConverter.java
Labels: components

#15814 Fix typo Kubenetes --> Kubernetes
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
Labels: docs, camel-4

#15812 CAMEL-21306: camel-jsonpath - Null should be accepted return value
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathEngine.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathNullHeaderTest.java
Labels: components, camel-4

#15815 CAMEL-21307: backport to 4.8x
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
Labels: components

#15496 CAMEL-21202 - Add a ThreadPoolFactory to propagate OpenTelemetry contexts
  components/camel-opentelemetry/pom.xml
  components/camel-opentelemetry/src/generated/resources/META-INF/services/org/apache/camel/thread-factory-listener
  components/camel-opentelemetry/src/generated/resources/META-INF/services/org/apache/camel/thread-pool-factory
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryInstrumentedThreadFactoryListener.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryInstrumentedThreadPoolFactory.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/internal/CurrentContextScheduledExecutorService.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/internal/ForwardingScheduledExecutorService.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/internal/package-info.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  core/camel-api/src/main/java/org/apache/camel/spi/ThreadPoolFactory.java
Labels: components, core, camel-4

#15813 typo Openshift --> OpenShift
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/openshift-build-configs.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/openshift-builds.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/openshift-deploymentconfigs.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/openshift/build_configs/openshift-build-configs.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/openshift/builds/openshift-builds.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/openshift/deploymentconfigs/openshift-deploymentconfigs.json
  components/camel-kubernetes/src/main/docs/openshift-build-configs-component.adoc
  components/camel-kubernetes/src/main/docs/openshift-builds-component.adoc
  components/camel-kubernetes/src/main/docs/openshift-deploymentconfigs-component.adoc
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/KubernetesConstants.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/openshift/build_configs/OpenshiftBuildConfigsEndpoint.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/openshift/builds/OpenshiftBuildsEndpoint.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/openshift/deploymentconfigs/OpenshiftDeploymentConfigsConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/openshift/deploymentconfigs/OpenshiftDeploymentConfigsEndpoint.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/KubernetesTestSupport.java
  docs/components/modules/ROOT/nav.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/OpenshiftBuildConfigsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/OpenshiftBuildsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/OpenshiftDeploymentconfigsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/OpenshiftBuildConfigsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/OpenshiftBuildsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/OpenshiftDeploymentConfigsEndpointBuilderFactory.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Container.java
Labels: components, catalog, docs, dsl, camel-4

#15816 CAMEL-21309: camel-cxf - Force using sync client when using tracing/opentelemetry as otherwise spans are not working correctly.
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsProducer.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfProducer.java
Labels: components, camel-4

#15829 fix(dsl): jbang run/export contract first API
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
Labels: dsl, camel-4

#15831 Upgrade test container for Azure to fix test on main branch
  test-infra/camel-test-infra-azure-common/src/test/resources/org/apache/camel/test/infra/azure/common/services/container.properties
Labels: test-infra, camel-4

#15833 CAMEL-21080: do not use deprecated test methods in camel-clickup
  components/camel-clickup/src/test/java/org/apache/camel/component/clickup/ClickUpWebhookRegistrationAlreadyExistsTest.java
  components/camel-clickup/src/test/java/org/apache/camel/component/clickup/ClickUpWebhookRegistrationTest.java
Labels: components, camel-4

#15834 (chores) camel-test-infra: upgrade to Fedora 40 for custom containers
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliBuiltContainer.java
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/Dockerfile
Labels: test-infra, camel-4

#15841 CAMEL-21312 - camel-debezium - Upgrade to 3.0
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-oracle.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/debezium-postgres.json
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleComponentConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointConfigurer.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/DebeziumOracleEndpointUriFactory.java
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-oracle/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-oracle.json
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresComponentConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointConfigurer.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/DebeziumPostgresEndpointUriFactory.java
  components/camel-debezium/camel-debezium-postgres/src/generated/java/org/apache/camel/component/debezium/configuration/PostgresConnectorEmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-postgres/src/generated/resources/META-INF/org/apache/camel/component/debezium/debezium-postgres.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumOracleComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DebeziumPostgresComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumOracleEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DebeziumPostgresEndpointBuilderFactory.java
  parent/pom.xml
Labels: components, catalog, dsl, core-build-and-dependencies, camel-4

#15840 CAMEL-21316: camel-jbang - Export with k8s secret does not include ca…
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/k8s-secret.yaml
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderPropertiesFunctionResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/ExportPropertiesParser.java
Labels: dsl, camel-4

#15842 Upgrade Infinispan Container image to version 15.0.9.Final
  test-infra/camel-test-infra-infinispan/src/test/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#15843 CAMEL-21322: camel-core: Add RouteRestartingEvent/RouteRestartingFail…
  components/camel-smpp/src/test/java/org/apache/camel/component/smpp/integration/SmppTRXProducerSupervisingRouteControllerIT.java
  core/camel-api/src/main/java/org/apache/camel/spi/CamelEvent.java
  core/camel-api/src/main/java/org/apache/camel/spi/EventFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultSupervisingRouteController.java
  core/camel-base/src/main/java/org/apache/camel/impl/event/DefaultEventFactory.java
  core/camel-base/src/main/java/org/apache/camel/impl/event/RouteRestartingEvent.java
  core/camel-base/src/main/java/org/apache/camel/impl/event/RouteRestartingFailureEvent.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultSupervisingRouteControllerTest.java
  core/camel-support/src/main/java/org/apache/camel/support/EventHelper.java
Labels: components, core, camel-4

#15867 CAMEL-21324 - Camel-AWS-Secret-Manager: for context reloading on secr…
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/vault/CloudTrailReloadTriggerTask.java
Labels: components, components-aws, camel-4

#15870 CAMEL-21203: Remove camel-jsh-dsl
  bom/camel-bom/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/jsh-dsl.json
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinitionHelper.java
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/jsh-dsl.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/GistHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/GitHubHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/ProcessHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/SourceHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/jsh.tmpl
  dsl/camel-jsh-dsl/pom.xml
  dsl/camel-jsh-dsl/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  dsl/camel-jsh-dsl/src/generated/resources/META-INF/services/org/apache/camel/routes-loader/jsh
  dsl/camel-jsh-dsl/src/generated/resources/jsh-dsl.json
  dsl/camel-jsh-dsl/src/main/docs/jsh-dsl.adoc
  dsl/camel-jsh-dsl/src/main/java/org/apache/camel/dsl/jsh/Jsh.java
  dsl/camel-jsh-dsl/src/main/java/org/apache/camel/dsl/jsh/JshClassLoader.java
  dsl/camel-jsh-dsl/src/main/java/org/apache/camel/dsl/jsh/JshLoaderDelegate.java
  dsl/camel-jsh-dsl/src/main/java/org/apache/camel/dsl/jsh/JshRoutesBuilderLoader.java
  dsl/camel-jsh-dsl/src/test/java/org/apache/camel/dsl/jsh/JshSourceLoaderTest.java
  dsl/camel-jsh-dsl/src/test/resources/log4j2-test.properties
  dsl/camel-jsh-dsl/src/test/resources/routes/MyRoute.jsh
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderRoutesLoader.java
  dsl/pom.xml
  parent/pom.xml
Labels: core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#15869 CAMEL-21317: Camel jbang kubernetes documentation fix route/ingress
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
Labels: docs, camel-4

#15868 Enable automated property function test
  components/camel-hashicorp-vault/src/test/java/org/apache/camel/component/hashicorp/vault/integration/HashicorpVaultPropertiesSourceNoEnvTestIT.java
Labels: components, camel-4

#15880 CAMEL-21311 - NATS: Automatically added nats:// prefix in servers-par…
  components/camel-nats/src/main/java/org/apache/camel/component/nats/NatsConfiguration.java
  components/camel-nats/src/test/java/org/apache/camel/component/nats/NatsSplitServersMultiprotocolTest.java
Labels: components, camel-4

#15881 Update aws-secrets-manager-component.adoc
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
Labels: components, components-aws, camel-4

#15882 Update aws-secrets-manager-component.adoc
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
Labels: components, components-aws

#15883 Camel-YAML-DSL: Removed Kamelet Load Source Test for Groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletLoaderSourcesTest.groovy
Labels: dsl, camel-4

#15884 CAMEL-21328: camel-as2 - Algorithm picker should deal with upper vs l…
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2MicAlgorithm.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MicAlgorithmTest.java
Labels: components, camel-4

#15902 CAMEL-21262 - Camel-AWS2-S3: Explicitly add Producer operations HeadObject and HeadBucket
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Operations.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3HeadBucketIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3HeadObjectIT.java
Labels: components, components-aws, camel-4

#15903 Skip IT tests for TorchServe on s390x and ppc64le
  components/camel-ai/camel-torchserve/pom.xml
Labels: components, camel-4

#15904 Upgrade hapi (fhir) container to 7.4.0 in tests
  test-infra/camel-test-infra-fhir/src/test/resources/org/apache/camel/test/infra/fhir/services/container.properties
Labels: test-infra, camel-4

#15912 CAMEL-21193: camel-jbang - Add receive command
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/receive.json
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
  core/camel-console/src/generated/java/org/apache/camel/impl/console/ReceiveDevConsoleConfigurer.java
  core/camel-console/src/generated/resources/META-INF/org/apache/camel/dev-console/receive.json
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.impl.console.ReceiveDevConsole
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/dev-console/receive
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  core/camel-console/src/main/java/org/apache/camel/impl/console/ReceiveDevConsole.java
  core/camel-util/src/main/java/org/apache/camel/util/ObjectHelper.java
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelBrowseAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelReceiveAction.java
Labels: core, catalog, docs, dsl, camel-4

#15914 CAMEL-21335: camel-core - Should log summary when starting and stoppi…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
Labels: core, dsl, camel-4

#15913 CAMEL-21249 - Camel-Kamelets: Move Kamelets utils in Camel Kamelets c…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/aws2-ddb-application-x-struct.json
  components/camel-kamelet/pom.xml
  components/camel-kamelet/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-kamelet/src/generated/resources/META-INF/services/org/apache/camel/transformer/aws2-ddb-application-x-struct
  components/camel-kamelet/src/generated/resources/META-INF/services/org/apache/camel/transformer/aws2-ddb-application-x-struct.json
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/djl/ImageNetUtil.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/format/MimeType.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/format/schema/DelegatingSchemaResolver.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/mongodb/SslAwareMongoClient.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/serialization/gson/JavaTimeInstantTypeAdapter.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/serialization/kafka/KafkaHeaderDeserializer.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/DropField.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/ExtractField.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/HoistField.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/InsertField.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/MaskField.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/MessageTimestampRouter.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/RegexRouter.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/ReplaceField.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/TimestampRouter.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/aws2/ddb/Ddb2JsonStructDataTypeTransformer.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/kafka/BatchManualCommit.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/kafka/ManualCommit.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/kafka/ValueToKey.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/kafka/KafkaHeaderDeserializerTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/ExtractFieldTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/HoistFieldTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/InsertFieldTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/MaskFieldTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/RegexRouterTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/ReplaceFieldTest.java
Labels: components, catalog, camel-4

#15916 CAMEL-21252 Add checking for non .*-versions to sync-properties-maven-plugin (#15653)
  camel-dependencies/pom.xml
  components/camel-zeebe/pom.xml
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
  docs/user-manual/modules/ROOT/pages/camel-report-maven-plugin.adoc
  parent/pom.xml
  tests/camel-itest/pom.xml
  tooling/maven/sync-properties-maven-plugin/src/main/java/org/apache/camel/maven/sync/properties/SyncPropertiesMojo.java
Labels: components, core, docs, tooling, tooling-maven, tests, core-build-and-dependencies

#15923 CAMEL-21334 - use specific ppc64le container image for OpenSearch Integration tests
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/common/OpenSearchProperties.java
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/OpenSearchLocalContainerService.java
  test-infra/camel-test-infra-opensearch/src/test/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: test-infra, camel-4

#15922 CAMEL-21336: Allow Kamelets configured by EnvVars only
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/Kamelet.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletComponent.java
  core/camel-api/src/main/java/org/apache/camel/RouteTemplateContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/main/java/org/apache/camel/model/DefaultRouteTemplateContext.java
  core/camel-util/src/main/java/org/apache/camel/util/IOHelper.java
Labels: components, core, camel-4

#15925 [CAMEL-21310] camel-jackson - Upgrade to 2.18
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#15928 CAMEL-21342: camel-kamelet-main - openapi generator should be optional and downloaded dynamically
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/ParamDefinition.java
  dsl/camel-kamelet-main/pom.xml
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/reload/OpenApiGeneratorReloadStrategy.java
  tooling/openapi-rest-dsl-generator/pom.xml
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslGenerator.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslXmlGenerator.java
  tooling/openapi-rest-dsl-generator/src/main/java/org/apache/camel/generator/openapi/RestDslYamlGenerator.java
Labels: core, dsl, tooling, camel-4

#15927 [BACKPORT-4.8.x] CAMEL-21276, CAMEL-21336
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/Kamelet.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletComponent.java
  core/camel-api/src/main/java/org/apache/camel/RouteTemplateContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogDebugger.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/EnvPropertiesFunction.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/ServiceHostPropertiesFunction.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/ServicePortPropertiesFunction.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/ServicePropertiesFunction.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/main/java/org/apache/camel/model/DefaultRouteTemplateContext.java
  core/camel-main/src/main/java/org/apache/camel/main/MainHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageHelper.java
  core/camel-util/pom.xml
  core/camel-util/src/main/java/org/apache/camel/util/FilePathResolver.java
  core/camel-util/src/main/java/org/apache/camel/util/IOHelper.java
  core/camel-util/src/test/java/org/apache/camel/util/IOHelperTest.java
Labels: components, core

#15929 CAMEL-21343: camel-seda - Allow to mimic the behavior of camel-vm
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaConsumer.java
Labels: components, camel-4

#15930 CAMEL-21343: camel-seda - Allow to mimic the behavior of camel-vm
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaConsumer.java
Labels: components, camel-4

#15926 CAMEL-20593: use ASF docker image
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAutoInstResumeRouteStrategyIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentGroupIdIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentWithCustomSerializerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerIdempotentWithProcessorIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/common/KafkaTestUtil.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryEagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryNonEagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/processor/idempotent/kafka/KafkaIdempotentRepositoryPersistenceIT.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalAuthKafkaService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
  test-infra/camel-test-infra-kafka/src/test/resources/org/apache/camel/test/infra/kafka/services/container.properties
Labels: components, components-kafka, test-infra, camel-4

#15931 CAMEL-21344 Update OpenTelemetry dependencies
  components/camel-opentelemetry/pom.xml
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryInstrumentedThreadPoolFactory.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/internal/CurrentContextScheduledExecutorService.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/internal/ForwardingScheduledExecutorService.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/internal/package-info.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#15924 Clickup event serde fix
  components/camel-clickup/src/main/java/org/apache/camel/component/clickup/model/Event.java
Labels: components, camel-4

#15946 Revert open search ppc64 le not working
  components/camel-opensearch/pom.xml
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/common/OpenSearchProperties.java
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/OpenSearchLocalContainerService.java
  test-infra/camel-test-infra-opensearch/src/test/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: components, test-infra, camel-4

#15944 [CAMEL-21345] Invalid manifest with jbang camel k8s --cluster-type op…
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
Labels: dsl, camel-4

#15947 CAMEL-21265 - Create ApplicationEnvironmentPreparedEvent for Vault co…
  components/camel-google/camel-google-secret-manager/src/main/java/org/apache/camel/component/google/secret/manager/GoogleSecretManagerPropertiesFunction.java
Labels: components, camel-4

#15948 CAMEL-21265 - Create ApplicationEnvironmentPreparedEvent for Vault co…
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultPropertiesFunction.java
Labels: components, components-azure, camel-4

#15955 Fix CVE
  .github/actions/install-packages/action.yml
  components/camel-jackson-avro/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#15954 Fix Avro CVE In Jackson Databind Avro
  .github/actions/install-packages/action.yml
  components/camel-jackson-avro/pom.xml
Labels: components

#15956 [Jetty] custom SecureRequestCustomizer configuration
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/JettyHttpComponent.java
  components/camel-jetty/src/main/java/org/apache/camel/component/jetty12/JettyHttpComponent12.java
Labels: components

#15957 CAMEL-21347: camel-aws-s3 - Head bucket operation to store header wit…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Constants.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3HeadBucketIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, components-aws, camel-4

#15959 [CAMEL-21349] Add support for camel spring-boot on OpenShift
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
Labels: dsl, camel-4

#15960 CAMEL-21334 - Open search ppc64le integration tests activation
  components/camel-opensearch/pom.xml
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/common/OpenSearchProperties.java
  test-infra/camel-test-infra-opensearch/src/test/java/org/apache/camel/test/infra/opensearch/services/OpenSearchLocalContainerService.java
  test-infra/camel-test-infra-opensearch/src/test/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: components, test-infra, camel-4

#15962 chore: deactivate solr Integration tests on ppc64le
  components/camel-solr/pom.xml
Labels: components, camel-4

#15976 [CAMEL-21349] Add support for camel spring-boot on OpenShift
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
Labels: dsl, camel-4

#15982 CAMEL-21265 - Create ApplicationEnvironmentPreparedEvent for Vault co…
  components/camel-google/camel-google-secret-manager/src/main/java/org/apache/camel/component/google/secret/manager/GoogleSecretManagerPropertiesFunction.java
Labels: components, camel-4

#15985 CAMEL-21357: Add ability to resolve JQ root scope from the registry
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqFunctions.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqLanguage.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqCustomScopeTest.java
Labels: components, camel-4

#15987 [4.8.x] CAMEL-21357: Add ability to resolve JQ root scope from the registry
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqFunctions.java
  components/camel-jq/src/main/java/org/apache/camel/language/jq/JqLanguage.java
  components/camel-jq/src/test/java/org/apache/camel/language/jq/JqCustomScopeTest.java
Labels: components, camel-4

#15991 chore: provide more details in assertion message for DefaultSupervisingRouteControllerTest.testSupervising()
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultSupervisingRouteControllerTest.java
Labels: core, camel-4

#15984 CAMEL-21356 - Javadoc compliance with doclint for Java 17 in camel-tooling-util
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/CamelVersionHelper.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/JavadocHelper.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/PackageHelper.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/ReflectionHelper.java
  tooling/camel-tooling-util/src/main/java/org/apache/camel/tooling/util/Strings.java
Labels: tooling, camel-4

#15986 CAMEL-21356 - Javadoc compliance with doclint for Java 17 in spi-annotations, tooling-model and util-json
  core/camel-api/src/generated/java/org/apache/camel/spi/ApiMethod.java
  core/camel-api/src/generated/java/org/apache/camel/spi/ApiParam.java
  core/camel-api/src/generated/java/org/apache/camel/spi/ApiParams.java
  core/camel-api/src/generated/java/org/apache/camel/spi/AsEndpointUri.java
  core/camel-api/src/generated/java/org/apache/camel/spi/AsPredicate.java
  core/camel-api/src/generated/java/org/apache/camel/spi/Metadata.java
  core/camel-api/src/generated/java/org/apache/camel/spi/UriEndpoint.java
  core/camel-api/src/generated/java/org/apache/camel/spi/UriParam.java
  core/camel-api/src/generated/java/org/apache/camel/spi/UriPath.java
  core/camel-api/src/generated/java/org/apache/camel/spi/annotations/HealthCheck.java
  core/camel-api/src/generated/java/org/apache/camel/spi/annotations/Language.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/Strings.java
  tooling/camel-util-json/src/main/java/org/apache/camel/util/json/Jsoner.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/ApiMethod.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/ApiParam.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/ApiParams.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/AsEndpointUri.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/AsPredicate.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/Metadata.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/UriEndpoint.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/UriParam.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/UriPath.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/annotations/HealthCheck.java
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/annotations/Language.java
Labels: core, tooling, camel-4

#15993 Fix link
  docs/user-manual/modules/ROOT/pages/building.adoc
Labels: docs, camel-4

#15994 CAMEL-21360 - Camel Spring Boot: Vault early resolving properties doc…
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
Labels: components, components-aws, camel-4

#15995 CAMEL-21360 - Camel Spring Boot: Vault early resolving properties doc…
  components/camel-google/camel-google-secret-manager/src/main/docs/google-secret-manager-component.adoc
Labels: components, camel-4

#15996 CAMEL-21360 - Camel Spring Boot: Vault early resolving properties doc…
  components/camel-google/camel-google-secret-manager/src/main/docs/google-secret-manager-component.adoc
Labels: components, camel-4

#15958 [CAMEL-21199] Camel-jackson not properly marshalling 4-byte characters
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/jackson.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/jacksonXml.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/jacksonXml.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/json.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-jackson/src/generated/java/org/apache/camel/component/jackson/JacksonDataFormatConfigurer.java
  components/camel-jackson/src/generated/resources/META-INF/org/apache/camel/component/jackson/jackson.json
  components/camel-jackson/src/main/docs/jackson-dataformat.adoc
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/AbstractJacksonDataFormat.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/JacksonMarshalMultibyteCharactersTest.java
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/JacksonMarshalUseWriterTest.java
  components/camel-jacksonxml/src/generated/java/org/apache/camel/component/jacksonxml/JacksonXMLDataFormatConfigurer.java
  components/camel-jacksonxml/src/generated/resources/META-INF/org/apache/camel/component/jacksonxml/jacksonXml.json
  components/camel-jacksonxml/src/main/docs/jacksonXml-dataformat.adoc
  components/camel-jacksonxml/src/main/java/org/apache/camel/component/jacksonxml/JacksonXMLDataFormat.java
  components/camel-protobuf/src/main/java/org/apache/camel/dataformat/protobuf/ProtobufDataFormat.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/jacksonXml.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/json.json
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JacksonXMLDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JsonDataFormat.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/JacksonXMLDataFormatReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/JsonDataFormatReifier.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#15999 CAMEL-21353: camel-core - Add possibility to set some condition for C…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/spi/StartupCondition.java
  core/camel-api/src/main/java/org/apache/camel/spi/StartupConditionStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultStartupConditionStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/impl/StartupConditionRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/StartupConditionTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/VetoCamelContextStartTest.java
  core/camel-main/src/generated/java/org/apache/camel/main/StartupConditionConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.StartupConditionConfigurationProperties
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/StartupConditionConfigurationProperties.java
  core/camel-main/src/test/java/org/apache/camel/main/MainStartupConditionEnvTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainStartupConditionTest.java
  core/camel-main/src/test/java/org/apache/camel/main/MainStartupConditionTimeoutTest.java
  core/camel-support/src/main/java/org/apache/camel/support/startup/EnvStartupCondition.java
  core/camel-support/src/main/java/org/apache/camel/support/startup/FileStartupCondition.java
  docs/user-manual/modules/ROOT/nav.adoc
  docs/user-manual/modules/ROOT/pages/lifecycle.adoc
  docs/user-manual/modules/ROOT/pages/startup-condition.adoc
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: core, catalog, docs, tooling, tooling-maven, camel-4

#16002 chore: avoid flakiness of DefaultSupervisingTest
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultSupervisingRouteControllerTest.java
Labels: core, camel-4

#16005 Camel-AWS-Secrets-Manager: Use Specific service for AWS Test with tes…
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/AwsSecretsManagerBaseTest.java
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSServiceFactory.java
Labels: components, components-aws, test-infra, camel-4

#16004 Fix building Camel from source link
  docs/user-manual/modules/ROOT/pages/building.adoc
Labels: docs, camel-4

#15998 [CAMEL-21362] camel k8s run cannot find pod on openshift
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/BaseTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/DeploymentTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/LabelTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: dsl, camel-4

#16007 chore: stabilizing DefaultSupervisingRouteControllerTest
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultSupervisingRouteControllerTest.java
Labels: core, camel-4

#16009 CAMEL-21363: Adding @JsonIgnoreProperties(ignoreUnknown = true) to pr…
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/model/Contact.java
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/model/Message.java
  components/camel-whatsapp/src/main/java/org/apache/camel/component/whatsapp/model/MessageResponse.java
  components/camel-whatsapp/src/test/java/org/apache/camel/component/whatsapp/integration/WhatsAppServiceIT.java
Labels: components, camel-4

#16006 Remove Capability capability
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/CamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultRuntimeProvider.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/RuntimeProvider.java
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Agent.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/AgentTest.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/EntityRef.java
Labels: catalog, dsl, tooling, camel-4

#16012 chore: Improve Knative Http connection error details
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducer.java
Labels: components, camel-4

#16022 [BACKPORT-4.8.x] chore: Improve Knative Http connection error details
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducer.java
Labels: components, camel-4

#16026 chore: update qdrant container used for integration tests to 1.12.1
  test-infra/camel-test-infra-qdrant/src/test/resources/org/apache/camel/test/infra/qdrant/services/container.properties
Labels: test-infra, camel-4

#16025 Changed Main constructor in camel-main to use instances CamelConfiguration
  core/camel-main/src/main/java/org/apache/camel/main/Main.java
  core/camel-main/src/main/java/org/apache/camel/main/MainCommandLineSupport.java
Labels: core, camel-4

#16042 chore: Update container image used in test for cassandra to 5.0.2
  test-infra/camel-test-infra-cassandra/src/test/resources/org/apache/camel/test/infra/cassandra/services/container.properties
Labels: test-infra, camel-4

#16008 Camel 21302
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsProducer.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfProducer.java
  components/camel-direct/src/main/java/org/apache/camel/component/direct/DirectProducer.java
  components/camel-opentelemetry/pom.xml
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/AsyncCxfTest.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CurrentSpanTest.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  core/camel-api/src/generated/java/org/apache/camel/ExchangeConstantProvider.java
  core/camel-api/src/main/java/org/apache/camel/Exchange.java
  core/camel-api/src/main/java/org/apache/camel/ExchangePropertyKey.java
Labels: components, core, camel-4

#16041 chore: stabilize FtpRecursiveDepth2IT
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpRecursiveDepth2IT.java
Labels: components, camel-4

#16051 CAMEL-21371: camel-core - Add converter for Reader to InputStream
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathChoiceReaderTest.java
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  core/camel-base/src/main/java/org/apache/camel/converter/IOConverter.java
Labels: components, core, camel-4

#16048 CAMEL-20367: Adds Jolokia and Hawtio tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/JolokiaITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
Labels: dsl, camel-4

#16052 CAMEL-21373 - Camel-AWS-Secrets-Manager: Delete operation add an head…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-secrets-manager.json
  components/camel-aws/camel-aws-secrets-manager/src/generated/resources/META-INF/org/apache/camel/component/aws/secretsmanager/aws-secrets-manager.json
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerConstants.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerProducer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SecretsManagerEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#16053 [CAMEL-21361] fabric8 kubernetes-client fails to connect to openshift
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogKamelet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/KameletCatalogHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesClientTest.java
Labels: dsl, camel-4

#16054 chore: stabilize MulticastParallelStreamingTest.testMulticastParallel()
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastParallelStreamingTest.java
Labels: core, camel-4

#16060 CAMEL-21330 - Camel-AWS-Secrets-Manager: Support Properties Function with Localstack
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerPropertiesFunction.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/AwsSecretsManagerBaseTest.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerPropertiesSourceTestLocalstackIT.java
  core/camel-api/src/main/java/org/apache/camel/vault/AwsVaultConfiguration.java
  core/camel-main/src/generated/java/org/apache/camel/main/AwsVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/AwsVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/AwsVaultConfigurationProperties.java
  core/camel-main/src/test/java/org/apache/camel/main/MainVaultTest.java
Labels: components, core, catalog, components-aws, camel-4

#16063 CAMEL-21330 - Camel-AWS-Secrets-Manager: Support Properties Function …
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
Labels: components, components-aws, camel-4

#16061 CAMEL-21080: added more details about how to migrate to the new interfaces
  components/camel-test/camel-test-junit5/src/main/docs/test-junit5.adoc
Labels: components, camel-4

#16062 CAMEL-21374: camel-jbang - Export with custom kamelets should copy al…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/mypipe.yaml
  dsl/camel-jbang/camel-jbang-core/src/test/resources/mytimer.kamelet.yaml
Labels: dsl, camel-4

#16065 CAMEL-21372: camel-jbang - Fix NPE in run/export with custom camel ve…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#16066 chore(doc): suggest best security practice on cloud environments
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
  components/camel-azure/camel-azure-key-vault/src/main/docs/azure-key-vault-component.adoc
  components/camel-google/camel-google-secret-manager/src/main/docs/google-secret-manager-component.adoc
  components/camel-hashicorp-vault/src/main/docs/hashicorp-vault-component.adoc
Labels: components, components-aws, components-azure, camel-4

#16064 CAMEL-21358: Add Knative Http SSL client options
  components/camel-knative/camel-knative-component/src/main/docs/knative-component.adoc
  components/camel-knative/camel-knative-http/src/main/docs/knative-http.adoc
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpClientOptions.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducer.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducerFactory.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpSupport.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/TrustAllOptions.java
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpServer.java
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpTest.java
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpsServer.java
  components/camel-knative/camel-knative-http/src/test/resources/keystore/client.crt
  components/camel-knative/camel-knative-http/src/test/resources/keystore/client.jks
  components/camel-knative/camel-knative-http/src/test/resources/keystore/client.p12
  components/camel-knative/camel-knative-http/src/test/resources/keystore/client.pem
  components/camel-knative/camel-knative-http/src/test/resources/keystore/server.crt
  components/camel-knative/camel-knative-http/src/test/resources/keystore/server.pem
  components/camel-knative/camel-knative-http/src/test/resources/keystore/truststore.jks
  pom.xml
Labels: components, camel-4

#16070 chore(docs): Move Knative Http to components
  components/camel-knative/camel-knative-http/src/main/docs/knative-http-component.adoc
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/knative-http-component.adoc
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/knative-http.adoc
Labels: components, docs, camel-4

#16074 chore: Improve test assertion in FileProducerCharsetUTFtoUTFTest
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerCharsetUTFtoUTFTest.java
Labels: core, camel-4

#16076 Upgrade AWS SDK to version 2.28.29
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/META-INF/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#16075 CAMEL-21382: camel-core - Tracing with headers that are Map type can …
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogTracerEventMessage.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/CamelInternalProcessor.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogTracerHeaderMapTest.java
Labels: core, camel-4

#16083 chore: reduce flakiness of GrpcProducerStreamingTest
  components/camel-grpc/pom.xml
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcProducerStreamingTest.java
Labels: components, camel-4

#16084 [CAMEL-21381] camel k8s cannot run spring-boot on openshift
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CommandHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesClientTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: dsl, camel-4

#16092 CAMEL-21355: refine no tools called scenario
  components/camel-ai/camel-langchain4j-tools/src/main/docs/langchain4j-tools-component.adoc
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jTools.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsProducer.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jTooNoToolsIT.java
Labels: components, camel-4

#16093 CAMEL-21376 - null pointer exception fix in UseOriginalAggregationStrategy
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/UseOriginalAggregationStrategy.java
Labels: core, camel-4

#16094 CAMEL-21387: camel-opentelemetry add some documentation for Spring Boot
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
Labels: components, camel-4

#16091 [CAMEL-21386] camel k8s run --dev does not work on openshift
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelThreadDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: dsl, camel-4

#16099 CAMEL-21383: Add Knative client OIDC support
  components/camel-knative/camel-knative-http/src/main/docs/knative-http-component.adoc
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpProducer.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpSupport.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeOidcClientOptions.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeOidcInterceptor.java
  components/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeSslClientOptions.java
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpServer.java
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpTest.java
  components/camel-knative/camel-knative-http/src/test/resources/oidc/renewed_token.txt
  components/camel-knative/camel-knative-http/src/test/resources/oidc/token.txt
Labels: components, camel-4

#16096 Produce stream from Smooks component when no export is defined
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smooks.json
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksEndpointConfigurer.java
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksEndpointUriFactory.java
  components/camel-smooks/src/generated/resources/META-INF/org/apache/camel/component/smooks/smooks.json
  components/camel-smooks/src/main/docs/smooks-component.adoc
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksEndpoint.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksProcessor.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksComponentTest.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
  components/camel-smooks/src/test/resources/edi-to-xml-smooks-config.xml
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SmooksComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SmooksEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16098 Camel 21386 4.8.x
  dsl/camel-jbang/README.md
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CommandHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelThreadDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesClientTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: dsl, camel-4

#16112 CAMEL-21395: camel-debezium - Add a note to the upgrade guide
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
Labels: docs, camel-4

#16105 Camel-11780: add camel-amqp ssl config
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/sensitive-keys.json
  components/camel-amqp/src/generated/java/org/apache/camel/component/amqp/AMQPComponentConfigurer.java
  components/camel-amqp/src/generated/resources/META-INF/org/apache/camel/component/amqp/amqp.json
  components/camel-amqp/src/main/docs/amqp-component.adoc
  components/camel-amqp/src/main/java/org/apache/camel/component/amqp/AMQPComponent.java
  components/camel-amqp/src/main/java/org/apache/camel/component/amqp/AMQPConnectionDetails.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPConfigTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPSAuthRouteTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/artemis/AMQPAuthRouteTest.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/artemis/AMQPEmbeddedBrokerTest.java
  components/camel-amqp/src/test/resources/server-ca-truststore.p12
  components/camel-amqp/src/test/resources/server-keystore.p12
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AmqpComponentBuilderFactory.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/common/ArtemisProperties.java
  test-infra/camel-test-infra-artemis/src/test/java/org/apache/camel/test/infra/artemis/services/ArtemisAMQPService.java
Labels: components, core, catalog, dsl, test-infra, camel-4

#16113 Add global data formats to XML/YAML DSL which makes it easier to use and also migrate from old Camel apps
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/beans.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/camel.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-api/src/main/java/org/apache/camel/spi/DumpRoutesStrategy.java
  core/camel-api/src/main/java/org/apache/camel/spi/ModelToXMLDumper.java
  core/camel-api/src/main/java/org/apache/camel/spi/ModelToYAMLDumper.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultDumpRoutesStrategy.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/app/beans.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/app/camel.json
  core/camel-core-model/src/main/java/org/apache/camel/model/DataFormatDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/DataFormatsDefinition.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/LwModelToXMLDumper.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/in/BaseParser.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/out/BaseWriter.java
  core/camel-xml-jaxb/src/main/java/org/apache/camel/xml/jaxb/JaxbModelToXMLDumper.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/LwModelToYAMLDumper.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/io/YamlWriter.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/TransformRoute.java
  dsl/camel-xml-io-dsl/pom.xml
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlModelParser.java
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlLoadAppTest.java
  dsl/camel-xml-io-dsl/src/test/resources/org/apache/camel/dsl/xml/io/camel-app14.xml
  dsl/camel-xml-io-dsl/src/test/resources/org/apache/camel/dsl/xml/io/camel-app15.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/CustomResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/DataFormatsDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/DataFormatsTest.groovy
  tooling/maven/camel-package-maven-plugin/src/main/resources/velocity/model-parser.vm
Labels: core, catalog, dsl, tooling, tooling-maven, camel-4

#16119 CAMEL-21401: camel-core - Custom bean in DSL using factory method sho…
  core/camel-support/src/main/java/org/apache/camel/support/PropertyBindingSupport.java
Labels: core, camel-4

#16111 CAMEL-21398: migrate the Smooks Data Format from the Camel cartridge to the Apache Camel code base
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smooks.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/smooks.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/dataFormats.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/marshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/smooks.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/unmarshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-smooks/pom.xml
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksDataFormatConfigurer.java
  components/camel-smooks/src/generated/java/org/apache/camel/dataformat/smooks/SmooksDataFormatConfigurer.java
  components/camel-smooks/src/generated/resources/META-INF/org/apache/camel/component/smooks/smooks.json
  components/camel-smooks/src/generated/resources/META-INF/org/apache/camel/dataformat/smooks/smooks.json
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/configurer/smooks-dataformat
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/dataformat.properties
  components/camel-smooks/src/generated/resources/META-INF/services/org/apache/camel/dataformat/smooks
  components/camel-smooks/src/main/docs/smooks-component.adoc
  components/camel-smooks/src/main/docs/smooks-dataformat.adoc
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksEndpoint.java
  components/camel-smooks/src/main/java/org/apache/camel/dataformat/smooks/SmooksDataFormat.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
  components/camel-smooks/src/test/java/org/apache/camel/dataformat/smooks/Customer.java
  components/camel-smooks/src/test/java/org/apache/camel/dataformat/smooks/SmooksDataFormatTest.java
  components/camel-smooks/src/test/java/org/apache/camel/dataformat/smooks/gender/Gender.java
  components/camel-smooks/src/test/resources/edi-to-xml-smooks-config.xml
  components/camel-smooks/src/test/resources/smooks-config.xml
  components/camel-smooks/src/test/resources/xml/customer.xml
  components/camel-smooks/src/test/resources/xml/expected-customer.xml
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/dataFormats.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/smooks.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/marshal.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/unmarshal.json
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/model.properties
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/jaxb.index
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatBuilderFactory.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatClause.java
  core/camel-core-model/src/main/java/org/apache/camel/model/MarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/UnmarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/DataFormatsDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/SmooksDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/transformer/DataFormatTransformerDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/DataFormatReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/SmooksDataFormatReifier.java
  core/camel-main/src/generated/resources/org/apache/camel/main/dataformats.properties
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/components/modules/dataformats/examples/json/smooks.json
  docs/components/modules/dataformats/nav.adoc
  docs/components/modules/dataformats/pages/smooks-dataformat.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SmooksEndpointBuilderFactory.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, docs, dsl, camel-4

#16107 CAMEL-21397 - camel-file - fix autoCreateStepwise for Windows environments
  components/camel-file/src/main/java/org/apache/camel/component/file/FileOperations.java
Labels: components, camel-4

#16123 CAMEL-21404: camel-core - Routes loader should skip failing if file h…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoutesLoader.java
  core/camel-main/src/main/java/org/apache/camel/main/RoutesConfigurer.java
Labels: core, camel-4

#16118 CAMEL-21395: camel-debezium - Add a note to the upgrade guide for v 4.8
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
Labels: docs, camel-4

#16124 CAMEL-21393: Upgrade to Jackson 2.18.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16125 CAMEL-11780: camel-amqp improve option handling
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  components/camel-amqp/src/generated/java/org/apache/camel/component/amqp/AMQPComponentConfigurer.java
  components/camel-amqp/src/generated/resources/META-INF/org/apache/camel/component/amqp/amqp.json
  components/camel-amqp/src/main/docs/amqp-component.adoc
  components/camel-amqp/src/main/java/org/apache/camel/component/amqp/AMQPComponent.java
  components/camel-amqp/src/test/java/org/apache/camel/component/amqp/AMQPConfigTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AmqpComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16126 fix: Apache Fury is not supporting architecture using Big Endian
  components/camel-fury/pom.xml
  components/camel-fury/src/main/docs/fury-dataformat.adoc
Labels: components, camel-4

#16128 CAMEL-21407: Implemented the case of processing an unsubscribe reques…
  components/camel-dynamic-router/src/main/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlProducer.java
  components/camel-dynamic-router/src/test/java/org/apache/camel/component/dynamicrouter/control/DynamicRouterControlProducerTest.java
Labels: components, camel-4

#16129 Allow Smooks execution context to be overridden via header
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smooks.json
  components/camel-smooks/src/generated/resources/META-INF/org/apache/camel/component/smooks/smooks.json
  components/camel-smooks/src/main/docs/smooks-component.adoc
  components/camel-smooks/src/main/docs/smooks-dataformat.adoc
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksConstants.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksEndpoint.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksProcessor.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SmooksEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16134 CAMEL-20199: Remove synchronized block from components J to M
  components/camel-ai/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusEndpoint.java
  components/camel-github/src/main/java/org/apache/camel/component/github/consumer/CommitConsumer.java
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/converter/JacksonTypeConverters.java
  components/camel-jasypt/src/main/java/org/apache/camel/component/jasypt/JasyptPropertiesParser.java
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/FallbackTypeConverter.java
  components/camel-jcache/src/main/java/org/apache/camel/component/jcache/JCacheManager.java
  components/camel-jcr/src/main/java/org/apache/camel/component/jcr/JcrConsumer.java
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/JettyHttpComponent.java
  components/camel-jira/src/main/java/org/apache/camel/component/jira/JiraEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/EndpointMessageListener.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsComponent.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsProducer.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsTemporaryQueueEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsTemporaryTopicEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/StreamMessageInputStream.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/MessageSelectorCreator.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/QueueReplyManager.java
  components/camel-jmx/src/main/java/org/apache/camel/component/jmx/JMXConsumerNotificationFilter.java
  components/camel-jolt/src/main/java/org/apache/camel/component/jolt/JoltEndpoint.java
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaComponent.java
  components/camel-jslt/src/main/java/org/apache/camel/component/jslt/JsltEndpoint.java
  components/camel-json-validator/src/main/java/org/apache/camel/component/jsonvalidator/JsonValidatorEndpoint.java
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonStream.java
  components/camel-jt400/src/main/java/org/apache/camel/component/jt400/Jt400Component.java
  components/camel-jt400/src/main/java/org/apache/camel/component/jt400/Jt400MsgQueueConsumer.java
  components/camel-jta/src/main/java/org/apache/camel/jta/JtaTransactionErrorHandlerReifier.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/KameletComponent.java
  components/camel-knative/camel-knative-component/src/main/java/org/apache/camel/component/knative/KnativeComponent.java
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterConsumer.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpTcpClientProducer.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbTailTrackingManager.java
  components/camel-mybatis/src/main/java/org/apache/camel/component/mybatis/MyBatisComponent.java
Labels: components, components-kafka, components-jms, camel-4

#16135 CAMEL-20199: Remove synchronized block from components N to Q
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpoint.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantEndpoint.java
  components/camel-netty-http/src/main/java/org/apache/camel/component/netty/http/NettyHttpComponent.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/SharedSingletonObjectPool.java
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2AppWrapper.java
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Component.java
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/Olingo2Endpoint.java
  components/camel-olingo2/camel-olingo2-component/src/main/java/org/apache/camel/component/olingo2/internal/Olingo2PropertiesHelper.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4AppWrapper.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Component.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Endpoint.java
  components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/internal/Olingo4PropertiesHelper.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchProducer.java
  components/camel-optaplanner/src/main/java/org/apache/camel/component/optaplanner/OptaPlannerEndpoint.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpComponent.java
  components/camel-printer/src/main/java/org/apache/camel/component/printer/PrintDocument.java
  components/camel-pulsar/src/main/java/org/apache/camel/component/pulsar/PulsarProducer.java
  components/camel-quickfix/src/main/java/org/apache/camel/component/quickfixj/QuickfixjComponent.java
  components/camel-quickfix/src/main/java/org/apache/camel/component/quickfixj/QuickfixjEndpoint.java
Labels: components, camel-4

#16136 CAMEL-21412: camel-test - Make it easy to use expression outside rout…
  core/camel-core-model/src/main/java/org/apache/camel/builder/LanguageBuilderFactory.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/ConstantExpression.java
  core/camel-core/src/test/java/org/apache/camel/issues/MockExpectedHeaderXPathTest.java
Labels: core, camel-4
