Repository apache/camel, pull requests merged in 2024-03, with the labels that each got.

#13356 [CAMEL-20498] Fix bug with camel-http HTTP OAuth2 Authorization header
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpOAuth2AuthenticationTest.java
Labels: components, camel-4

#13359 CAMEL-20490: rest-dsl should turn off useXForwardHeaders by default.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/restConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-api/src/main/java/org/apache/camel/spi/RestConfiguration.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/rest/restConfiguration.json
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestConfigurationDefinition.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/RestConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, docs, dsl, camel-4

#13361 CAMEL-20502: JacksonAvro should be default avro dataformat. Add schem…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/avroJackson.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/jackson.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/avro.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/json.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-avro/src/main/docs/avro-dataformat.adoc
  components/camel-avro/src/test/java/org/apache/camel/dataformat/avro/AvroMarshalAndUnmarshalTest.java
  components/camel-avro/src/test/resources/org/apache/camel/dataformat/avro/springDataFormat.xml
  components/camel-jackson-avro/src/generated/resources/org/apache/camel/component/jackson/avro/avroJackson.json
  components/camel-jackson-avro/src/main/docs/avroJackson-dataformat.adoc
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroLookupResolverTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalJsonNodeTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalPojoTest.java
  components/camel-jackson/src/generated/resources/org/apache/camel/component/jackson/jackson.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/avro.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/json.json
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatClause.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/AvroDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/JsonDataFormat.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AllDslKotlinMojo.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, camel-4

#13365 CAMEL-20464 - Slack CloudEvent transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/slack-application-cloudevents.json
  components/camel-slack/pom.xml
  components/camel-slack/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-slack/src/generated/resources/META-INF/services/org/apache/camel/transformer/slack-application-cloudevents
  components/camel-slack/src/generated/resources/META-INF/services/org/apache/camel/transformer/slack-application-cloudevents.json
  components/camel-slack/src/main/java/org/apache/camel/component/slack/transform/SlackCloudEventDataTypeTransformer.java
Labels: components, catalog, camel-4

#13366 CAMEL-20482: use min/max depth during markerfile cleanup
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/MarkerFileExclusiveReadLockStrategy.java
  core/camel-core/src/test/java/org/apache/camel/component/file/MarkerFileExclusiveReadLockStrategyRecursiveCleanupTest.java
Labels: components, core, camel-4

#13364 CAMEL-20495: camel-jsonpath - If resultType is List then automatic wr…
  components/camel-jsonpath/src/main/docs/jsonpath-language.adoc
  components/camel-jsonpath/src/main/java/org/apache/camel/jsonpath/JsonPathExpression.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathSplitMultipleListTest.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathSplitSingleListOptionTest.java
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathSplitSingleListTest.java
Labels: components, camel-4

#13373 Regen
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathSplitSingleListOptionTest.java
Labels: components, camel-4

#13374 Fix setting type converter registry to keep backwards behaviour. CEQ …
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
Labels: core, camel-4

#13375 CAMEL-20511 - Camel-AWS-Bedrock: Support Amazon Titan Embeddings G1 Model
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockOperations.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/integration/BedrockProducerIT.java
Labels: components, catalog, components-aws, camel-4

#13376 Invoke CamelContextCustomizer as part of DefaultConfigurationConfigurer::afterConfigure
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/test/java/org/apache/camel/main/MainCustomizerTest.java
Labels: core, camel-4

#13383 CAMEL-20515 - Camel-AWS-Bedrock: Support AI21 Jurassic2 Ultra model
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/sensitive-keys.json
  components/camel-aws/camel-aws-bedrock/pom.xml
  components/camel-aws/camel-aws-bedrock/src/generated/java/org/apache/camel/component/aws2/bedrock/BedrockEndpointUriFactory.java
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockConfiguration.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/integration/BedrockProducerIT.java
  core/camel-util/src/main/java/org/apache/camel/util/SensitiveUtils.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/BedrockEndpointBuilderFactory.java
Labels: components, core, catalog, dsl, components-aws, camel-4

#13385 CAMEL-20519: Servlet documentation improvements
  components/camel-servlet/src/main/docs/servlet-component.adoc
Labels: components, camel-4

#13386 CAMEL-20516 - Camel-AWS-Bedrock: Support AI21 Jurassic2 Mid model
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/integration/BedrockProducerIT.java
Labels: components, components-aws, camel-4

#13390 Camel-AWS-Bedrock: Adding metadata related to available models as Uri…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/aws-bedrock.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockConfiguration.java
Labels: components, catalog, components-aws, camel-4

#13389 CAMEL-20523: camel-xpath - The resultQName converter is wrong causing…
  core/camel-core/src/test/java/org/apache/camel/language/XPathLanguageEndpointTest.java
  core/camel-xml-jaxp/src/main/java/org/apache/camel/converter/jaxp/XmlConverter.java
Labels: core, camel-4

#13395 CAMEL-20419: Add missing transformer methods to JsonMapper
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/JsonMapper.java
Labels: tooling, camel-4

#13393 Mm
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-micrometer-prometheus/src/generated/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheusConfigurer.java
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/json/AbstractMicrometerService.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/ContextMetricsStatistics.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfiguration.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyFactory.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyNamingStrategy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/RouteMetric.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/messagehistory/ManagedMessageHistoryTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/AbstractMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/LegacyMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/ManagedMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerContextPolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfigrationTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/SharedMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/ZMicrometerContextOnlyPolicyTest.java
  core/camel-main/src/generated/java/org/apache/camel/main/MetricsConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/MetricsConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListMetric.java
Labels: components, core, catalog, docs, dsl, camel-4

#13394 CAMEL-20518: replace invalid quote breaking the catalog generation on Windows
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/generated/resources/META-INF/org/apache/camel/component/salesforce/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceEndpointConfig.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SalesforceComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SalesforceEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#13396 (chores) camel-lumberjack: cleanup multi-thread test
  components/camel-lumberjack/src/test/java/org/apache/camel/component/lumberjack/LumberjackMultiThreadIT.java
Labels: components, camel-4

#13398 CAMEL-20507: camel-core - Add enums to expression builders
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathSplitSingleListOptionTest.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/JsonPathExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/MethodCallExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/XMLTokenizerExpression.java
  core/camel-core-model/src/main/java/org/apache/camel/model/language/XPathExpression.java
Labels: components, core, camel-4

#13399 CAMEL-20530: Adds converter from IS to Bson
  components/camel-mongodb/src/generated/java/org/apache/camel/component/mongodb/converters/MongoDbBasicConvertersLoader.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/converters/MongoDbBasicConverters.java
Labels: components, camel-4

#13402 CAMEL-20520: camel-rest-openapi - Generate OpenApi scheme once on sta…
  components/camel-openapi-java/src/main/docs/openapi-java.adoc
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/DefaultRestApiResponseAdapter.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/OpenApiRestApiProcessorFactory.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/OpenApiRestProducerFactory.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestApiResponseAdapter.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiProcessor.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiSupport.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiDefaultProducesConsumesTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiLicenseInfoTest.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiProcessorTest.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/StartupRecorderDevConsole.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
Labels: components, core, docs, camel-4

#13405 CAMEL-20534: Fix gRPC producer / consumer port validation
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConfiguration.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConsumer.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcProducer.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcConsumerConfigurationTest.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcProducerConfigurationTest.java
Labels: components, camel-4

#13406 [4.4.x] CAMEL-20534: Fix gRPC producer / consumer port validation
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConfiguration.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcConsumer.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/GrpcProducer.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcConsumerConfigurationTest.java
  components/camel-grpc/src/test/java/org/apache/camel/component/grpc/GrpcProducerConfigurationTest.java
Labels: components

#13407 CAMEL-20533: camel-rest - Binding mode json or xml should automatical…
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestEndpoint.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestDefinition.java
  docs/user-manual/modules/ROOT/pages/rest-dsl.adoc
Labels: components, core, docs, camel-4

#13411 Camel-AWS-Bedrock Agent Runtime: Enriching the retrieveAndGenerate re…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock-agent-runtime.json
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/agentruntime/aws-bedrock-agent-runtime.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agentruntime/BedrockAgentRuntimeConfiguration.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agentruntime/BedrockAgentRuntimeConstants.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agentruntime/BedrockAgentRuntimeProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/agentruntime/integration/BedrockAgentRuntimeProducerIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AwsBedrockAgentRuntimeComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/BedrockAgentRuntimeEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#13427 CAMEL-20299: camel-spring-rabbitmq - Add option to auto declare produ…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/spring-rabbitmq.json
  components/camel-spring-rabbitmq/src/generated/java/org/apache/camel/component/springrabbit/SpringRabbitMQComponentConfigurer.java
  components/camel-spring-rabbitmq/src/generated/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpointConfigurer.java
  components/camel-spring-rabbitmq/src/generated/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpointUriFactory.java
  components/camel-spring-rabbitmq/src/generated/resources/META-INF/org/apache/camel/component/springrabbit/spring-rabbitmq.json
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQComponent.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQEndpoint.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQProducer.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQProducerAutoDeclareIT.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQProducerSimpleIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SpringRabbitmqComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SpringRabbitMQEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/SpringRabbitmqUriDsl.kt
Labels: components, catalog, dsl, camel-4

#13429 Upgrade to pulsar 3.2.1
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/test/resources/org/apache/camel/test/infra/pulsar/services/container.properties
Labels: test-infra, core-build-and-dependencies, camel-4

#13430 CAMEL-20491: camel-shiro - Upgrade to 2.0 that is jakarta ee compatible
  components/camel-shiro/pom.xml
  components/camel-shiro/src/main/java/org/apache/camel/component/shiro/security/ShiroSecurityHelper.java
  components/camel-shiro/src/main/java/org/apache/camel/component/shiro/security/ShiroSecurityPolicy.java
  components/camel-shiro/src/main/java/org/apache/camel/component/shiro/security/ShiroSecurityProcessor.java
  components/camel-shiro/src/main/java/org/apache/camel/component/shiro/security/ShiroSecurityTokenInjector.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  parent/pom.xml
Labels: components, docs, core-build-and-dependencies, camel-4

#13433 CAMEL-20300: camel-jms - Add resolver for creating custom temporary q…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jms.json
  components/camel-activemq/src/generated/java/org/apache/camel/component/activemq/ActiveMQEndpointUriFactory.java
  components/camel-activemq/src/generated/resources/META-INF/org/apache/camel/component/activemq/activemq.json
  components/camel-amqp/src/generated/java/org/apache/camel/component/amqp/AMQPEndpointUriFactory.java
  components/camel-amqp/src/generated/resources/META-INF/org/apache/camel/component/amqp/amqp.json
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsComponentConfigurer.java
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsEndpointConfigurer.java
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsEndpointUriFactory.java
  components/camel-jms/src/generated/resources/META-INF/org/apache/camel/component/jms/jms.json
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsComponent.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConfiguration.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsProducer.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/TemporaryQueueResolver.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/TemporaryQueueReplyManager.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsTemporaryQueueResolverTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ActivemqComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AmqpComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JmsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AMQPEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ActiveMQEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JmsEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/ActivemqUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/AmqpUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JmsUriDsl.kt
Labels: components, catalog, dsl, components-jms, camel-4

#13435 Update message-broker.adoc and changed link from s3 to sqs to match text
  core/camel-core-engine/src/main/docs/modules/eips/pages/message-broker.adoc
Labels: core, camel-3

#13432 CAMEL-20413: camel-bom - Use actual version in BOM instead of project…
  bom/camel-bom/pom.xml
  bom/pom.xml
  tooling/maven/bom-generator-maven-plugin/src/main/java/org/apache/camel/maven/bom/generator/BomGeneratorMojo.java
Labels: tooling, tooling-maven, camel-4

#13404 Revert "camel-jbang-plugin-k: infer the dependencies by inspecting the route"
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/Sample.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/route-deps.yaml
Labels: dsl, camel-4

#13445 CAMEL-20544 - Camel-AWS-Bedrock-Agent: Add a consumer for polling the…
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/agent/integration/BedrockAgentConsumerIT.java
Labels: components, components-aws, camel-4

#13444 CAMEL-20549: camel-kafka - Using sslKeystoreType should work with PEM
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
Labels: components, components-kafka, camel-4

#13449 Update message-broker.adoc and fixed link to sqs (#13435)
  core/camel-core-engine/src/main/docs/modules/eips/pages/message-broker.adoc
Labels: core

#13448 Update message-broker.adoc and fixed link to sqs (#13435)
  core/camel-core-engine/src/main/docs/modules/eips/pages/message-broker.adoc
Labels: core

#13446 CAMEL-20551: camel-core - Avoid ignoring beans when using several repos
  core/camel-core/src/test/java/org/apache/camel/support/DefaultRegistryTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultRegistry.java
Labels: core, camel-4

#13455 CAMEL-20543 - Camel-AWS-Bedrock-Agent: Support more operations on the producer side
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-bedrock-agent.json
  components/camel-aws/camel-aws-bedrock/src/generated/resources/META-INF/org/apache/camel/component/aws2/bedrock/agent/aws-bedrock-agent.json
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agent/BedrockAgentConstants.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agent/BedrockAgentOperations.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/agent/BedrockAgentProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/agent/integration/BedrockAgentProducerIT.java
Labels: components, catalog, components-aws, camel-4

#13457 fix(docs): Adds camel-http entry for changed redirect behaviour to 3.19 upgrade guide
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_19.adoc
Labels: docs, camel-4

#13456 chore: minor camel-catalog cleanup
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultRuntimeProvider.java
Labels: catalog, camel-4

#13397 CAMEL-20517 camel-jbang-plugin-k doesn't recognize command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
Labels: dsl, camel-4

#13458 Jbang profile
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/ProfileConfigurer.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SBOMGenerator.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: core, catalog, docs, dsl, camel-4

#13462 CAMEL-20560 - Camel-AWS-Bedrock: Support Anthropic models
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/runtime/BedrockProducer.java
  components/camel-aws/camel-aws-bedrock/src/test/java/org/apache/camel/component/aws2/bedrock/runtime/integration/BedrockProducerIT.java
Labels: components, components-aws, camel-4

#13465 CAMEL-20504 - Google Pubsub CloudEvent Transformer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/google-pubsub-application-cloudevents.json
  components/camel-google/camel-google-pubsub/pom.xml
  components/camel-google/camel-google-pubsub/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-google/camel-google-pubsub/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-pubsub-application-cloudevents
  components/camel-google/camel-google-pubsub/src/generated/resources/META-INF/services/org/apache/camel/transformer/google-pubsub-application-cloudevents.json
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/transform/GooglePubsubCloudEventDataTypeTransformer.java
Labels: components, catalog, camel-4

#13466 Main profile
  core/camel-base/src/main/java/org/apache/camel/component/properties/ClasspathPropertiesSource.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/FilePropertiesSource.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesComponent.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/RefPropertiesSource.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainCommandLineSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConstants.java
  core/camel-main/src/main/java/org/apache/camel/main/ProfileConfigurer.java
  core/camel-main/src/test/java/org/apache/camel/main/MainTest.java
  core/camel-main/src/test/resources/application-prod.properties
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  docs/user-manual/modules/ROOT/pages/camel-maven-plugin.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  tooling/maven/camel-maven-plugin/src/main/docs/camel-maven-plugin.adoc
  tooling/maven/camel-maven-plugin/src/main/java/org/apache/camel/maven/DevMojo.java
  tooling/maven/camel-maven-plugin/src/main/java/org/apache/camel/maven/RunMojo.java
Labels: core, docs, dsl, tooling, tooling-maven, camel-4

#13467 CAMEL-20654: camel-xslt: Make variables available as xsl:param
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltBuilder.java
Labels: components, camel-4

#13483 Regen
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/LangchainChatComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/LangchainEmbeddingsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/LangchainEmbeddingsEndpointBuilderFactory.java
Labels: dsl, camel-4

#13479 (chores) camel-qdrant: disable tests on PPC64LE and s390x
  components/camel-qdrant/pom.xml
Labels: components, camel-4

#13485 CAMEL-20545: Using replaceFromWith with camel-test and having route t…
  core/camel-core-model/src/main/java/org/apache/camel/model/FromDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
Labels: core, camel-4

#13487 Upgrade GraalJS to 23.1.2
  components/camel-javascript/pom.xml
  dsl/camel-js-dsl/pom.xml
  parent/pom.xml
Labels: components, dsl, core-build-and-dependencies, camel-4

#13486 Jaxb properties should be present in parent/pom.xml CAMEL-20566
  parent/pom.xml
  pom.xml
Labels: core-build-and-dependencies, camel-4

#13490 Update year in NOTICE.txt
  NOTICE.txt
Labels: camel-4

#13484 Backport CAMEL-20518
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/generated/resources/org/apache/camel/component/salesforce/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceEndpointConfig.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SalesforceComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SalesforceEndpointBuilderFactory.java
Labels: components, catalog, dsl

#13505 CAMEL-20485 - Create a Camel-Milvus component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/milvus.json
  components/camel-milvus/pom.xml
  components/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusComponentConfigurer.java
  components/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusConfigurationConfigurer.java
  components/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusEndpointConfigurer.java
  components/camel-milvus/src/generated/java/org/apache/camel/component/milvus/MilvusEndpointUriFactory.java
  components/camel-milvus/src/generated/resources/META-INF/org/apache/camel/component/milvus/milvus.json
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/component/milvus
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/configurer/milvus-component
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/configurer/milvus-endpoint
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.milvus.MilvusConfiguration
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/urifactory/milvus-endpoint
  components/camel-milvus/src/main/docs/milvus-component.adoc
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/Milvus.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusAction.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusComponent.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusConfiguration.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusEndpoint.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusProducer.java
  components/camel-milvus/src/test/java/org/apache/camel/component/milvus/MilvusCreateCollectionTest.java
  components/camel-milvus/src/test/java/org/apache/camel/component/milvus/MilvusTestSupport.java
  components/camel-milvus/src/test/java/org/apache/camel/component/milvus/MilvusUpsertTest.java
  components/camel-milvus/src/test/java/org/apache/camel/component/milvus/it/MilvusComponentIT.java
  components/camel-milvus/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/milvus.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/milvus-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MilvusComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MilvusEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/MilvusUriDsl.kt
  parent/pom.xml
  test-infra/camel-test-infra-milvus/pom.xml
  test-infra/camel-test-infra-milvus/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/common/MilvusProperties.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusLocalContainerService.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusRemoteService.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusService.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusServiceFactory.java
  test-infra/camel-test-infra-milvus/src/test/resources/org/apache/camel/test/infra/milvus/services/container.properties
  test-infra/pom.xml
Labels: components, core, catalog, docs, dsl, test-infra, core-build-and-dependencies, camel-4

#13504 [backport 4.4.x] CAMEL-20517 camel-jbang-plugin-k doesn't recognize command (#13397)
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
Labels: dsl

#13494 [CAMEL-20512] Add full path for camel jbang process if using Windows
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#13513 Camel-Milvus: Fix some metadata
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/langchain-embeddings.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/milvus.json
  components/camel-milvus/src/generated/resources/META-INF/org/apache/camel/component/milvus/milvus.json
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/Milvus.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/LangchainEmbeddingsUriDsl.kt
Labels: components, catalog, dsl, camel-4

#13510 CAMEL-20563: shutdown existing consumer instance to release resources…
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReleaseResourcesIT.java
Labels: components, components-kafka, camel-4

#13511 CAMEL-20563: shutdown existing consumer instance.
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReleaseResourcesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaTransactionIT.java
Labels: components, components-kafka

#13488 Camel 20567 make it possible to define restconfiguration in xml-io-dsl and xml-jaxb-dsl
  core/camel-xml-jaxb/src/main/java/org/apache/camel/xml/jaxb/JaxbHelper.java
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/java/org/apache/camel/dsl/xml/io/XmlLoadAppTest.java
  dsl/camel-xml-io-dsl/src/test/resources/org/apache/camel/dsl/xml/io/camel-app12.xml
  dsl/camel-xml-jaxb-dsl-test/definition/src/test/java/org/apache/camel/dsl/xml/jaxb/definition/LoadRestConfigurationFromXmlTest.java
  dsl/camel-xml-jaxb-dsl-test/definition/src/test/resources/org/apache/camel/dsl/xml/jaxb/definition/restConfiguration.xml
  dsl/camel-xml-jaxb-dsl/src/main/java/org/apache/camel/dsl/xml/jaxb/JaxbXmlRoutesBuilderLoader.java
Labels: core, dsl, camel-4

#13517 Camel-AI: Langchain Embeddings component testing with Camel Milvus
  components/camel-ai/camel-langchain-embeddings/pom.xml
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsComponentMilvusTargetIT.java
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsTestSupport.java
Labels: components, camel-4

#13481 CAMEL-20548: include a capability section to advertise which artifact provides a specific feature
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/CamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultRuntimeProvider.java
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/RuntimeProvider.java
  catalog/camel-catalog/src/main/resources/org/apache/camel/catalog/capabilities.properties
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/EntityRef.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/Kind.java
Labels: catalog, tooling, camel-4

#13519 CAMEL-20579: Handle NotYetImplementedForExchangeException for xchange ticker service lookup
  components/camel-xchange/src/main/java/org/apache/camel/component/xchange/XChangeEndpoint.java
Labels: components, camel-4

#13516 (chores) camel-kafka: increase fork timeout to prevent failures due to long-running tests
  components/camel-kafka/pom.xml
Labels: components, components-kafka, camel-4

#13518 catalog: make catalog more type safe
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/DefaultCamelCatalog.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCachingCamelCatalog.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/DefaultRuntimeCamelCatalog.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/BaseModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/ComponentModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/DataFormatModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/DevConsoleModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/EipModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/Kind.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/LanguageModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/OtherModel.java
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/TransformerModel.java
Labels: core, catalog, tooling, camel-4

#13529 Camel-Milvus Test Infra: Improved options
  components/camel-milvus/src/test/java/org/apache/camel/component/milvus/MilvusTestSupport.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/common/MilvusProperties.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusLocalContainerService.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusRemoteService.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusService.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusServiceFactory.java
Labels: components, test-infra, camel-4

#13532 Camel-Milvus Test Infra: Align langchain embeddings component to new …
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsComponentMilvusTargetIT.java
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsComponentQdrantTargetIT.java
Labels: components, camel-4

#13521 CAMEL-20559 camel-jbang-plugin-k run command error on a multi-valued trait property
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: dsl, camel-4

#13531 CAMEL-20581: ensure components use the correct lifecycle for service
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerTransactionTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/consumer/AsyncConsumerFalseTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/consumer/AsyncConsumerInOutTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/producer/AsyncQueueProducerTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/producer/AsyncTopicProducerTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/tx/TransactedAsyncExceptionTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/tx/TransactedOnCompletionTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/tx/TransactedQueueInOutProducerTest.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/tx/TransactedQueueProducerTest.java
Labels: components, components-jms, camel-4

#13530 CAMEL-20477: fixed incorrect lifecycle for the Artemis service
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsComponentTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/temp/JmsReconnectManualTest.java
Labels: components, components-jms, camel-4

#13533 [4.0.x] Upgrade Jetty to 11.0.20
  parent/pom.xml
Labels: core-build-and-dependencies

#13534 [backport 4.4] CAMEL-20559 camel-jbang-plugin-k run command error on a multi-valued trait property (#13521)
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: dsl

#13509 [CAMEL-20577] Avoid rest routes dupes
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
Labels: core, camel-4

#13537 (chores) camel-chatscript: fixed incorrect lifecycle for the ChatScript
  components/camel-chatscript/src/test/java/org/apache/camel/component/ChatScriptComponentIT.java
Labels: components, camel-4

#13503 CAMEL-16660 - Hazelcast : tests : create camel-test-infra-Hazelcast.
  components/camel-hazelcast/pom.xml
  components/camel-hazelcast/src/test/java/org/apache/camel/component/hazelcast/HazelcastConfigurationTest.java
  components/camel-hazelcast/src/test/java/org/apache/camel/component/hazelcast/HazelcastListProducerTest.java
  components/camel-hazelcast/src/test/java/org/apache/camel/component/hazelcast/HazelcastSedaTransferExchangeTest.java
  components/camel-hazelcast/src/test/java/org/apache/camel/component/hazelcast/HazelcastSetProducerTest.java
  components/camel-hazelcast/src/test/java/org/apache/camel/processor/aggregate/hazelcast/HazelcastAggregationRepositoryCamelTestSupport.java
  components/camel-hazelcast/src/test/java/org/apache/camel/processor/idempotent/hazelcast/HazelcastIdempotentRepositoryTest.java
  test-infra/camel-test-infra-hazelcast/pom.xml
  test-infra/camel-test-infra-hazelcast/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-hazelcast/src/test/java/org/apache/camel/test/infra/hazelcast/common/HazelcastProperties.java
  test-infra/camel-test-infra-hazelcast/src/test/java/org/apache/camel/test/infra/hazelcast/services/HazelcastEmbeddedService.java
  test-infra/camel-test-infra-hazelcast/src/test/java/org/apache/camel/test/infra/hazelcast/services/HazelcastRemoteService.java
  test-infra/camel-test-infra-hazelcast/src/test/java/org/apache/camel/test/infra/hazelcast/services/HazelcastService.java
  test-infra/camel-test-infra-hazelcast/src/test/java/org/apache/camel/test/infra/hazelcast/services/HazelcastServiceFactory.java
  test-infra/pom.xml
Labels: components, test-infra, camel-4

#13536 CAMEL-20576 camel-jbang-plugin-k run command kebab-case parsing invalid
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: dsl, camel-4

#13507 CAMEL-20565 - Azure servicebus dead-lettering
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusComponentConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointUriFactory.java
  components/camel-azure/camel-azure-servicebus/src/generated/resources/META-INF/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConfiguration.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AzureServicebusComponentBuilderFactory.java
Labels: components, dsl, components-azure, camel-4

#13544 CAMEL-20584: Revert "Bump mongo-java-driver-version from 4.11.1 to 5.0.0 (#13476)"
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#13546 [backport 4.4] CAMEL-20576 camel-jbang-plugin-k run command kebab-case parsing invalid
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: dsl

#13549 Partial revert of 0fb5aa31ae590eb042a1664ff18b6d5c44acc5c4 because of…
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/AbstractGenerateConfigurerMojo.java
Labels: tooling, tooling-maven, camel-4

#13550 CAMEL-20587 - Camel-Qdrant: Add a datatype for transforming langchain…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/qdrant.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/qdrant-embeddings.json
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsComponentQdrantTargetIT.java
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsTestSupport.java
  components/camel-qdrant/pom.xml
  components/camel-qdrant/src/generated/resources/META-INF/org/apache/camel/component/qdrant/qdrant.json
  components/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings
  components/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings.json
  components/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/Qdrant.java
  components/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/transform/QdrantEmbeddingsDataTypeTransformer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/LangchainEmbeddingsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/QdrantEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#13551 Avoid rest routes dupes
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
Labels: core

#13552 CAMEL-20583: Java 21 - Reduce the noise from the ThreadType logger
  core/camel-util/src/main/java21/org/apache/camel/util/concurrent/ThreadType.java
Labels: core, camel-4

#13555 fix(camel-salesforce): bump cometd-java-client-version to 8.0.0.beta2 [CAMEL-20588]
  parent/pom.xml
Labels: core-build-and-dependencies

#13562 CAMEL-20583: fixed compilation problem on static initialization
  core/camel-util/src/main/java21/org/apache/camel/util/concurrent/ThreadType.java
Labels: core, camel-4

#13408 feat(jbang): camel-k agent sub-command
  dsl/camel-jbang/camel-jbang-plugin-k/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Agent.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubePlugin.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/Capability.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/RuntimeType.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/RuntimeTypeConverter.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/SourceMetadata.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/StubComponentResolver.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/StubDataFormatResolver.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/StubLanguageResolver.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/support/StubTransformerResolver.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/AgentTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/route-i.yaml
Labels: dsl, camel-4

#13563 (chores) ci: start checking PRs with Java 21
  .github/workflows/pr-build-main.yml
  .github/workflows/push-build-main.yml
Labels: camel-4

#13564 (chores) camel-kafka: prevent unreliable test from running on the ASF CI
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReleaseResourcesIT.java
Labels: components, components-kafka, camel-4

#13565 (chores) core: isolate a few flaky tests to see if they run better
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerRenameUsingCopyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/MarkerFileExclusiveReadLockStrategyRecursiveCleanupTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/KeyStoreParametersTest.java
Labels: core, camel-4

#13557 Expose `recordException` and `ignoreException` on Resilience4j configuration
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/resilience4jConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-resilience4j/src/main/java/org/apache/camel/component/resilience4j/ResilienceReifier.java
  core/camel-core-model/src/generated/java/org/apache/camel/model/Resilience4jConfigurationDefinitionConfigurer.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/resilience4jConfiguration.json
  core/camel-core-model/src/main/java/org/apache/camel/model/Resilience4jConfigurationCommon.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#13566 CAMEL-20594 - Camel-Milvus: Add a datatype for transforming langchain embeddings in Milvus objects
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/milvus.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/milvus-embeddings.json
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsComponentMilvusTargetIT.java
  components/camel-ai/camel-langchain-embeddings/src/test/java/org/apache/camel/component/langchain/embeddings/LangchainEmbeddingsTestSupport.java
  components/camel-milvus/pom.xml
  components/camel-milvus/src/generated/resources/META-INF/org/apache/camel/component/milvus/milvus.json
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/milvus-embeddings
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/milvus-embeddings.json
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings.json
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/Milvus.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/transform/MilvusEmbeddingsDataTypeTransformer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MilvusEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#13522 Update simple-language.adoc
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
Labels: core, camel-3

#13567 Camel validate transitive dependency
  catalog/camel-report-maven-plugin/src/main/docs/camel-report-maven-plugin.adoc
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
Labels: catalog, camel-4

#13568 (chores) camel-test-infra-rocketmq: code cleanups
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/common/RocketMQProperties.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQBrokerContainer.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQContainerService.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQNameserverContainer.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQService.java
  test-infra/camel-test-infra-rocketmq/src/test/java/org/apache/camel/test/infra/rocketmq/services/RocketMQServiceFactory.java
  test-infra/camel-test-infra-rocketmq/src/test/resources/org/apache/camel/test/infra/rocketmq/services/container.properties
Labels: test-infra, camel-4

#13570 Validate routes in transitive dependencies
  catalog/camel-report-maven-plugin/src/main/docs/camel-report-maven-plugin.adoc
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
Labels: catalog

#13571 CAMEL-20485: cleanup references to Qdrant
  components/camel-milvus/pom.xml
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings
  components/camel-milvus/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-embeddings.json
  components/camel-milvus/src/main/docs/milvus-component.adoc
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/transform/MilvusEmbeddingsDataTypeTransformer.java
Labels: components, camel-4

#13575 [CAMEL-20597]: Fix NullPointerException when query header is not set
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/processor/RawProcessor.java
Labels: components, camel-4

#13556 CAMEL-20590: avoiding delay to execute timeout to Camel RabbitMQ (InOut)
  core/camel-support/src/main/java/org/apache/camel/support/DefaultTimeoutMap.java
Labels: core

#13586 Fix command `camel jolokia` fails to attach JVM agent (4.4.x)
  dsl/camel-jbang/camel-jbang-core/pom.xml
Labels: dsl

#13588 CAMEL-20599: camel-ai - pom.xml should be clean
  components/camel-ai/camel-langchain-chat/pom.xml
  components/camel-ai/camel-langchain-embeddings/pom.xml
  components/camel-ai/pom.xml
Labels: components, camel-4

#13589 Update random-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/random-eip.adoc
Labels: core, camel-4

#13590 move camel-chatscript into camel-ai folder
  components/camel-ai/camel-chatscript/pom.xml
  components/camel-ai/camel-chatscript/src/generated/java/org/apache/camel/component/chatscript/ChatScriptComponentConfigurer.java
  components/camel-ai/camel-chatscript/src/generated/java/org/apache/camel/component/chatscript/ChatScriptEndpointConfigurer.java
  components/camel-ai/camel-chatscript/src/generated/java/org/apache/camel/component/chatscript/ChatScriptEndpointUriFactory.java
  components/camel-ai/camel-chatscript/src/generated/resources/META-INF/org/apache/camel/component/chatscript/chatscript.json
  components/camel-ai/camel-chatscript/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-chatscript/src/generated/resources/META-INF/services/org/apache/camel/component/chatscript
  components/camel-ai/camel-chatscript/src/generated/resources/META-INF/services/org/apache/camel/configurer/chatscript-component
  components/camel-ai/camel-chatscript/src/generated/resources/META-INF/services/org/apache/camel/configurer/chatscript-endpoint
  components/camel-ai/camel-chatscript/src/generated/resources/META-INF/services/org/apache/camel/urifactory/chatscript-endpoint
  components/camel-ai/camel-chatscript/src/main/docs/chatscript-component.adoc
  components/camel-ai/camel-chatscript/src/main/java/org/apache/camel/component/chatscript/ChatScriptBot.java
  components/camel-ai/camel-chatscript/src/main/java/org/apache/camel/component/chatscript/ChatScriptComponent.java
  components/camel-ai/camel-chatscript/src/main/java/org/apache/camel/component/chatscript/ChatScriptEndpoint.java
  components/camel-ai/camel-chatscript/src/main/java/org/apache/camel/component/chatscript/ChatScriptMessage.java
  components/camel-ai/camel-chatscript/src/main/java/org/apache/camel/component/chatscript/ChatScriptProducer.java
  components/camel-ai/camel-chatscript/src/main/java/org/apache/camel/component/chatscript/utils/ChatScriptConstants.java
  components/camel-ai/camel-chatscript/src/test/java/org/apache/camel/component/ChatScriptComponentIT.java
  components/camel-ai/camel-chatscript/src/test/resources/log4j2.properties
  components/camel-ai/pom.xml
  components/pom.xml
  docs/components/modules/ROOT/examples/json/chatscript.json
  docs/components/modules/ROOT/pages/chatscript-component.adoc
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, docs, tooling, tooling-maven, camel-4

#13592 CAMEL-20596: Propagate Azure Service Bus message headers to/from Came…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusComponentConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointUriFactory.java
  components/camel-azure/camel-azure-servicebus/src/generated/resources/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConfiguration.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusProducer.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/AzureServicebusUriDsl.kt
Labels: components, catalog, dsl, components-azure

#13593 CAMEL-20602: Support user properties on Camel JBang bind command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Bind.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/YamlHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/pipe-kamelet-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/pipe-uri-kamelet.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/pipe-uri-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/step-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubernetesHelper.java
Labels: dsl, camel-4

#13594 CAMEL-20601: Support error handler on Camel JBang bind command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Bind.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/error-handler-log.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/error-handler-sink-kamelet.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/error-handler-sink-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/pipe-kamelet-kamelet.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/pipe-kamelet-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/pipe-uri-kamelet.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/pipe-uri-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/BindTest.java
Labels: dsl, camel-4

#13595 CAMEL-20606: Add Camel K bind command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Bind.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Bind.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/KubePlugin.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/resources/templates/pipe-kamelet-kamelet.yaml.tmpl
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/resources/templates/pipe-kamelet-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/resources/templates/pipe-uri-kamelet.yaml.tmpl
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/resources/templates/pipe-uri-uri.yaml.tmpl
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: dsl, camel-4

#13597 Var fail
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Enricher.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/PollEnricher.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendDynamicProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/SendProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/EnrichVariableErrorTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/PollEnrichVariableErrorTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ToDynamicVariableErrorTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ToVariableErrorTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
Labels: core, docs, camel-4

#13603 Add Milvus Client SDK version to parent POM
  components/camel-milvus/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#13602 CAMEL-20606: Create pipe on cluster with bind command
  docs/user-manual/modules/ROOT/pages/camel-jbang-k.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Bind.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/Bind.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogs.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/KubeBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/resources/org/apache/camel/dsl/jbang/core/commands/k/pipe.yaml
Labels: docs, dsl, camel-4

#13604 test-infra: use official testcontainer qdrant module
  test-infra/camel-test-infra-qdrant/pom.xml
  test-infra/camel-test-infra-qdrant/src/test/java/org/apache/camel/test/infra/qdrant/services/QdrantContainer.java
  test-infra/camel-test-infra-qdrant/src/test/java/org/apache/camel/test/infra/qdrant/services/QdrantLocalContainerService.java
Labels: test-infra, camel-4

#13606 yaml-dsl: add a test with processor referenced by class name
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ProcessTest.groovy
Labels: dsl, camel-4

#13591 (chores) camel-test-infra-rocketmq: upgrade to the latest container image
  test-infra/camel-test-infra-rocketmq/src/test/resources/org/apache/camel/test/infra/rocketmq/services/container.properties
Labels: test-infra, camel-4

#13620 Update jt400-component.adoc
  components/camel-jt400/src/main/docs/jt400-component.adoc
Labels: components, camel-4

#13608 Fix typo on Elasticsearch aggregation strategy class name
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans/ElasticsearchBulkRequestAggregationStrategy.json
  components/camel-elasticsearch/src/generated/java/org/apache/camel/component/es/aggregation/ElasticsearchBulkRequestAggregationStrategyConfigurer.java
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/bean.properties
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/bean/ElasticsearchBulkRequestAggregationStrategy.json
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.es.aggregation.ElastichsearchBulkRequestAggregationStrategy
  components/camel-elasticsearch/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.es.aggregation.ElasticsearchBulkRequestAggregationStrategy
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/aggregation/ElasticsearchBulkRequestAggregationStrategy.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
Labels: components, catalog, docs, camel-4

#13621 Update Kamelet catalog version used by JBang to 4.4.1
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#13627 CAMEL-20622: added support for CollectionInfo for camel-qdrant
  components/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantAction.java
  components/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantProducer.java
  components/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/QdrantCommonTest.java
  components/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/it/QdrantComponentIT.java
Labels: components, camel-4

#13628 Fixed DDB Stream transform prefix for event source
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddbstream/transform/Ddb2StreamCloudEventDataTypeTransformer.java
Labels: components, components-aws, camel-4

#13631 CAMEL-20459: fix Split EIP documentation
  core/camel-core-engine/src/main/docs/modules/eips/pages/split-eip.adoc
Labels: core, camel-4

#13598 jms inout concurrency issue
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/QueueReplyManager.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/ReplyManagerSupport.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/TemporaryQueueReplyManager.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/reply/QueueReplyManager.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/reply/TemporaryQueueReplyManager.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultTimeoutMap.java
Labels: components, core, components-jms, camel-4

#13629 CAMEL-20624: Fix bug in camel-http to avoid duplicate OAuth2 Authorization headers
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
Labels: components, camel-4

#13645 camel-jbang - Fix jolokia 2.0.x not discoverable by default
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Jolokia.java
Labels: dsl, camel-4

#13646 camel-jbang - Fix jolokia 2.0.x not discoverable by default (4.4.x)
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Jolokia.java
Labels: dsl

#13596 camel-cdi remove deprecated fireEvent method
  components/camel-cdi/src/main/java/org/apache/camel/cdi/CdiCamelExtension.java
  components/camel-cdi/src/main/java/org/apache/camel/cdi/CdiEventNotifier.java
Labels: components

#13648 CAMEL-20620: camel-platform-http-vertx - Path parameters should not l…
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
Labels: components, camel-4

#13659 CAMEL-20632- Fix documentation for Camel Langchain4j chat component
  components/camel-ai/camel-langchain-chat/src/main/docs/langchain-chat-component.adoc
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/langchain-chat-component.adoc
Labels: components, docs, camel-4

#13630 CAMEL-20625: Create a camel-google-pubsub-lite component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-google/camel-google-pubsub-lite/pom.xml
  components/camel-google/camel-google-pubsub-lite/src/generated/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpointUriFactory.java
  components/camel-google/camel-google-pubsub-lite/src/generated/java/org/apache/camel/component/google/pubsublite/GooglePubsubComponentConfigurer.java
  components/camel-google/camel-google-pubsub-lite/src/generated/java/org/apache/camel/component/google/pubsublite/GooglePubsubEndpointConfigurer.java
  components/camel-google/camel-google-pubsub-lite/src/generated/java/org/apache/camel/component/google/pubsublite/GooglePubsubEndpointUriFactory.java
  components/camel-google/camel-google-pubsub-lite/src/generated/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteComponentConfigurer.java
  components/camel-google/camel-google-pubsub-lite/src/generated/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteEndpointConfigurer.java
  components/camel-google/camel-google-pubsub-lite/src/generated/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteEndpointUriFactory.java
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/org/apache/camel/component/google/pubsublite/google-pubsub-lite.json
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/component/google-pubsub
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/component/google-pubsub-lite
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/configurer/google-pubsub-component
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/configurer/google-pubsub-endpoint
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/configurer/google-pubsub-lite-component
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/configurer/google-pubsub-lite-endpoint
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/urifactory/google-pubsub-endpoint
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/urifactory/google-pubsub-lite-endpoint
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/org/apache/camel/component/google/pubsublite/google-pubsub.json
  components/camel-google/camel-google-pubsub-lite/src/main/docs/google-pubsub-lite-component.adoc
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteComponent.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteConstants.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteConsumer.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteEndpoint.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteProducer.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/consumer/Acknowledge.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/consumer/CamelMessageReceiver.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/serializer/DefaultGooglePubsubSerializer.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/serializer/GooglePubsubSerializer.java
  components/camel-google/camel-google-pubsub-lite/src/test/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteComponentTest.java
  components/camel-google/camel-google-pubsub-lite/src/test/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteConsumerTest.java
  components/camel-google/camel-google-pubsub-lite/src/test/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteProducerTest.java
  components/camel-google/camel-google-pubsub-lite/src/test/resources/log4j.properties
  components/camel-google/camel-google-pubsub-lite/src/test/resources/simple.properties
  components/camel-google/pom.xml
  docs/components/modules/ROOT/examples/json/google-pubsub-lite.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/google-pubsub-lite-component.adoc
  parent/pom.xml
Labels: components, catalog, docs, core-build-and-dependencies, camel-4

#13661 CAMEL-20629: camel-platform-http-vertx - Header filter strategy shoul…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/platform-http.json
  components/camel-platform-http-vertx/pom.xml
  components/camel-platform-http/pom.xml
  components/camel-platform-http/src/generated/java/org/apache/camel/component/platform/http/PlatformHttpComponentConfigurer.java
  components/camel-platform-http/src/generated/resources/META-INF/org/apache/camel/component/platform/http/platform-http.json
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpComponent.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpHeaderFilterStrategy.java
  docs/components/modules/ROOT/nav.adoc
Labels: components, catalog, docs, camel-4

#13663 CAMEL-20623: Use same client request validation in rest-dsl with open…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/rest-openapi.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/openApi.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/PlatformHttpRestOpenApiConsumerRestDslTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/PlatformHttpRestOpenApiConsumerTest.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpHeaderFilterStrategy.java
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiComponentConfigurer.java
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpointConfigurer.java
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpointUriFactory.java
  components/camel-rest-openapi/src/generated/resources/META-INF/org/apache/camel/component/rest/openapi/rest-openapi.json
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiComponent.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/rest/openApi.json
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/OpenApiDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/RestBindingAdvice.java
  core/camel-support/src/main/java/org/apache/camel/support/http/HttpUtil.java
  core/camel-support/src/main/java/org/apache/camel/support/http/RestUtil.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RestOpenapiComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/RestOpenApiEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/RestOpenapiUriDsl.kt
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#13665 Fixup catalog: make catalog more type safe
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/CamelCatalog.java
Labels: catalog, camel-4

#13666 rest-openapi - validator for producer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/rest-openapi.json
  components/camel-rest-openapi/pom.xml
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiComponentConfigurer.java
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpointConfigurer.java
  components/camel-rest-openapi/src/generated/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpointUriFactory.java
  components/camel-rest-openapi/src/generated/resources/META-INF/org/apache/camel/component/rest/openapi/rest-openapi.json
  components/camel-rest-openapi/src/main/docs/rest-openapi-component.adoc
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiComponent.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/validator/DefaultRequestValidator.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/validator/RequestValidationCustomizer.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/validator/RequestValidator.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/validator/RestOpenApiOperation.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/validator/RestOpenApiPath.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiCustomValidatorCustomizerTest.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/RestOpenApiRequestValidationTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RestOpenapiComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/RestOpenApiEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/RestOpenapiUriDsl.kt
  parent/pom.xml
Labels: components, catalog, docs, dsl, core-build-and-dependencies, camel-4
