Repository apache/camel, pull requests merged in 2024-09, with the labels that each got.

#15383 CAMEL-21150: camel-jbang - Make tracer in standby as default
  core/camel-console/src/main/java/org/apache/camel/impl/console/TraceDevConsole.java
  core/camel-main/src/main/java/org/apache/camel/main/ProfileConfigurer.java
  core/camel-management/src/test/java/org/apache/camel/management/BacklogDebuggerTest.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageHelper.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelTraceAction.java
Labels: core, docs, dsl, camel-4

#15382 Spring WS docs and code cleanup.
  components/camel-ignite/.gitignore
  components/camel-spring-ws/src/main/docs/spring-ws-component.adoc
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/SpringWebserviceComponent.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/SpringWebserviceConsumer.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/bean/CamelDirectConnection.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/bean/CamelEndpointMapping.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/bean/CamelSpringWSEndpointMapping.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/bean/WSACamelEndpointMapping.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/converter/StringSourceConverter.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/filter/impl/BasicMessageFilter.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/filter/impl/HeaderTransformationMessageFilter.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/type/EndpointMappingType.java
  components/camel-spring-ws/src/test/java/org/apache/camel/component/spring/ws/security/ProducerWss4JSecurityHeaderManualTest.java
Labels: components, camel-4

#15385 CAMEL-21107 - Camel-Kubernetes: Add ability to add annotation to crea…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kubernetes-deployments.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/openshift-deploymentconfigs.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/kubernetes/deployments/kubernetes-deployments.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/openshift/deploymentconfigs/openshift-deploymentconfigs.json
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/KubernetesConstants.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/deployments/KubernetesDeploymentsProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesDeploymentsProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KubernetesDeploymentsEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/OpenshiftDeploymentConfigsEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15390 CAMEL-21114: Fix multicast EIP in transacted mode with camel-zipfile
  components/camel-zipfile/pom.xml
  components/camel-zipfile/src/main/java/org/apache/camel/dataformat/zipfile/ZipIterator.java
  components/camel-zipfile/src/test/java/org/apache/camel/processor/aggregate/zipfile/ZipSplitAggregateTransactedIssueTest.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
Labels: components, core, camel-4

#15391 camel-hashicorp-vault: Add a note clarifying camel.vault.hashicorp properties usage
  components/camel-hashicorp-vault/src/main/docs/hashicorp-vault-component.adoc
Labels: components, camel-4

#15381 CAMEL-21001: camel-jbang Kubernetes - Add Route trait
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/IngressTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/RouteTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitCatalog.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitContext.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/route/tls.key
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/route/tls.pem
Labels: docs, dsl, camel-4

#15392 Camel-AWS-secrets-manager: Add a note clarifying camel.vault.hashicor…
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
Labels: components, components-aws, camel-4

#15393 Camel-google-secret-manager: Add a note clarifying camel.vault.gcp pr…
  components/camel-google/camel-google-secret-manager/src/main/docs/google-secret-manager-component.adoc
Labels: components, camel-4

#15394 Camel-Azure-key-vault: Add a note clarifying camel.vault.azure proper…
  components/camel-azure/camel-azure-key-vault/src/main/docs/azure-key-vault-component.adoc
Labels: components, components-azure, camel-4

#15395 CAMEL-21154: Handle potential NPE from getSecret operation response
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultProducer.java
  components/camel-hashicorp-vault/src/test/java/org/apache/camel/component/hashicorp/vault/integration/operations/HashicorpProducerCreateSecretIT.java
Labels: components, camel-4

#15399 embedded HTTP server can now be used for static pages like a html web app
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
Labels: components, core, catalog, camel-4

#15397 camel-hashicorp-vault: Remove redundant commons-io dependency
  components/camel-hashicorp-vault/pom.xml
Labels: components, camel-4

#15398 camel-hashicorp-vault: Add Spring Boot auto-configuration to component documentation
  components/camel-hashicorp-vault/src/main/docs/hashicorp-vault-component.adoc
Labels: components, camel-4

#15401 CAMEL-21156: Enable hashicorp-vault SecretPath header to be used on create & delete operations
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultProducer.java
  components/camel-hashicorp-vault/src/test/java/org/apache/camel/component/hashicorp/vault/integration/operations/HashicorpProducerSecretPathHeaderIT.java
Labels: components, camel-4

#15409 camel-hashicorp-vault: Add message headers section to component documentation
  components/camel-hashicorp-vault/src/main/docs/hashicorp-vault-component.adoc
Labels: components, camel-4

#15408 CAMEL-21157: camel-core - PeriodicTask should be able to run a task f…
  core/camel-api/src/main/java/org/apache/camel/spi/PeriodTaskScheduler.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultPeriodTaskScheduler.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/PeriodTaskSchedulerTest.java
Labels: core, camel-4

#15410 CAMEL-21159: fix incorrect metadata/catalog for camel-langchain4j-chat
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/langchain4j-chat.json
  components/camel-ai/camel-langchain4j-chat/src/generated/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatComponentConfigurer.java
  components/camel-ai/camel-langchain4j-chat/src/generated/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpointConfigurer.java
  components/camel-ai/camel-langchain4j-chat/src/generated/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpointUriFactory.java
  components/camel-ai/camel-langchain4j-chat/src/generated/resources/META-INF/org/apache/camel/component/langchain4j/chat/langchain4j-chat.json
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Langchain4jChatComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/LangChain4jChatEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Langchain4jChatUriDsl.kt
Labels: components, catalog, dsl, camel-4

#15412 CAMEL-21160: ensure that the consumer in camel-langchain4j-chat is configured after creation
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpoint.java
Labels: components, camel-4

#15396 CAMEL-21153: rework the function calling features
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-ai/camel-langchain4j-tools/pom.xml
  components/camel-ai/camel-langchain4j-tools/src/generated/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsComponentConfigurer.java
  components/camel-ai/camel-langchain4j-tools/src/generated/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsConfigurationConfigurer.java
  components/camel-ai/camel-langchain4j-tools/src/generated/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsEndpointConfigurer.java
  components/camel-ai/camel-langchain4j-tools/src/generated/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsEndpointUriFactory.java
  components/camel-ai/camel-langchain4j-tools/src/generated/resources/META-INF/org/apache/camel/component/langchain4j/tools/langchain4j-tools.json
  components/camel-ai/camel-langchain4j-tools/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-langchain4j-tools/src/generated/resources/META-INF/services/org/apache/camel/component/langchain4j-tools
  components/camel-ai/camel-langchain4j-tools/src/generated/resources/META-INF/services/org/apache/camel/configurer/langchain4j-tools-component
  components/camel-ai/camel-langchain4j-tools/src/generated/resources/META-INF/services/org/apache/camel/configurer/langchain4j-tools-endpoint
  components/camel-ai/camel-langchain4j-tools/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.langchain4j.tools.LangChain4jToolsConfiguration
  components/camel-ai/camel-langchain4j-tools/src/generated/resources/META-INF/services/org/apache/camel/urifactory/langchain4j-tools-endpoint
  components/camel-ai/camel-langchain4j-tools/src/main/docs/langchain4j-tools-component.adoc
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jTools.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsComponent.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsConfiguration.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsConsumer.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsEndpoint.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsProducer.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/TagsHelper.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/spec/CamelSimpleToolParameter.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/spec/CamelToolExecutorCache.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/spec/CamelToolSpecification.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/spec/NamedJsonSchemaProperty.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolMultipleGroupsIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolMultipleMatchingGroupsIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/resources/log4j2.properties
  components/camel-ai/pom.xml
  docs/components/modules/ROOT/examples/json/langchain4j-tools.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/langchain4j-tools-component.adoc
  parent/pom.xml
Labels: components, catalog, docs, core-build-and-dependencies, camel-4

#15411 CAMEL-21153: deprecate chat with tools feature in camel-langchain4j-chat
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/CamelSimpleToolParameter.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/CamelToolExecutorCache.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/CamelToolSpecification.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/NamedJsonSchemaProperty.java
Labels: components, camel-4

#15413 (chores) upgrade guides: fixed typos and grammar issues
  docs/user-manual/modules/ROOT/pages/camel-3-migration-guide.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_11.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_14.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_18.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_20.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_21.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_22.adoc
  docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_7.adoc
  docs/user-manual/modules/ROOT/pages/camel-4-migration-guide.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_1.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_2.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
Labels: docs, camel-4

#15416 CAMEL-21161: camel-aws2-s3 is uploading always files as multipart whe…
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
Labels: components, components-aws, camel-4

#15420 CAMEL-21040: use links to GitHub instead of SVN
  components/camel-beanio/src/main/docs/beanio-dataformat.adoc
  components/camel-cxf/camel-cxf-rest/src/main/docs/cxfrs-component.adoc
  components/camel-jpa/src/main/docs/jpa-component.adoc
  components/camel-leveldb/src/main/docs/leveldb.adoc
  components/camel-mail/src/main/docs/mail-component.adoc
Labels: components, camel-4

#15418 CAMEL-20199: Remove synchronized block from components D to F
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Component.java
  components/camel-direct/src/main/java/org/apache/camel/component/direct/DirectComponent.java
  components/camel-disruptor/src/main/java/org/apache/camel/component/disruptor/DisruptorComponent.java
  components/camel-disruptor/src/main/java/org/apache/camel/component/disruptor/DisruptorEndpoint.java
  components/camel-disruptor/src/main/java/org/apache/camel/component/disruptor/DisruptorReference.java
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/cloud/Etcd3WatchServiceDiscovery.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/policy/Etcd3RoutePolicy.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileOperations.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileProducer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/cluster/FileLockClusterService.java
  components/camel-file/src/main/java/org/apache/camel/component/file/cluster/FileLockClusterView.java
  components/camel-freemarker/src/main/java/org/apache/camel/component/freemarker/FreemarkerComponent.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpOperations.java
  core/camel-api/src/main/java/org/apache/camel/support/service/BaseService.java
Labels: components, core, camel-4

#15421 CAMEL-21163: unwrap the synthetic ClientProxy beans
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsEndpoint.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/DefaultSqlEndpoint.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/stored/SqlStoredEndpoint.java
  core/camel-util/src/main/java/org/apache/camel/util/UnwrapHelper.java
Labels: components, core, components-jms, camel-4

#15431 Camel-Hashicorp-vault: Added to PrepareCamelMainMojo
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/vault/HashicorpVaultConfiguration.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: core, catalog, tooling, tooling-maven, camel-4

#15429 CAMEL-21088: Support all export options on Kubernetes run command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#15433 CAMEL-21169 - Kubernetes Secrets: Trigger context reloading on update…
  components/camel-kubernetes/src/main/docs/kubernetes-secrets-component.adoc
Labels: components, camel-4

#15432 CAMEL-21040: fixed grammar, typos and other issues in the test documentation
  docs/user-manual/modules/ROOT/pages/advice-with.adoc
  docs/user-manual/modules/ROOT/pages/test-infra.adoc
  docs/user-manual/modules/ROOT/pages/testing.adoc
Labels: docs, camel-4

#15430 CAMEL-21168: Add startup configuration dev console and jbang command
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/main-configuration.json
  core/camel-console/src/main/java/org/apache/camel/impl/console/PropertiesDevConsole.java
  core/camel-main/src/generated/resources/META-INF/org/apache/camel/dev-console/main-configuration.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/dev-console/main-configuration
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationDevConsole.java
  core/camel-main/src/main/java/org/apache/camel/main/MainHelper.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProperties.java
Labels: core, catalog, dsl, camel-4

#15437 CAMEL-21176: DefaultExchangeHolder - Also store exchange variables to…
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultExchangeHolderTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultExchangeHolder.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
Labels: core, docs, camel-4

#15438 CAMEL-21162: camel-http - Http producer should capture response input…
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpStreamCacheNoSpoolToDiskTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpStreamCacheSpoolToDiskTest.java
Labels: components, camel-4

#15436 CAMEL-21175 - Create package name for file created with Camel Jbang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/java.tmpl
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/InitTest.java
Labels: dsl, camel-4

#15439 CAMEL-21173 - Camel-Jbang Dev Console: Add Kubernetes Vault support
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/kubernetes-secrets.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/dev-console/kubernetes-secrets.json
  components/camel-kubernetes/src/generated/resources/META-INF/services/org/apache/camel/dev-console/kubernetes-secrets
  components/camel-kubernetes/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/secrets/vault/SecretsDevConsole.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/secrets/vault/SecretsReloadTriggerTask.java
Labels: components, catalog, camel-4

#15444 CAMEL-20199: Remove synchronized block from components G to I
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/protocol/ResponseMDN.java
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/internal/AS2PropertiesHelper.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KinesisConnection.java
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/AbstractCamelInvocationHandler.java
  components/camel-box/camel-box-component/src/main/java/org/apache/camel/component/box/internal/BoxPropertiesHelper.java
  components/camel-braintree/src/main/java/org/apache/camel/component/braintree/BraintreeConfiguration.java
  components/camel-braintree/src/main/java/org/apache/camel/component/braintree/internal/BraintreePropertiesHelper.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPComponent.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPProducer.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulEndpoint.java
  components/camel-controlbus/src/main/java/org/apache/camel/component/controlbus/ControlBusComponent.java
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/internal/Dhis2PropertiesHelper.java
  components/camel-dropbox/src/main/java/org/apache/camel/component/dropbox/util/DropboxPropertyManager.java
  components/camel-fhir/camel-fhir-component/src/main/java/org/apache/camel/component/fhir/internal/FhirPropertiesHelper.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryConnectionFactory.java
  components/camel-google/camel-google-calendar/src/main/java/org/apache/camel/component/google/calendar/internal/GoogleCalendarPropertiesHelper.java
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/internal/GoogleDrivePropertiesHelper.java
  components/camel-google/camel-google-mail/src/main/java/org/apache/camel/component/google/mail/internal/GoogleMailPropertiesHelper.java
  components/camel-google/camel-google-sheets/src/main/java/org/apache/camel/component/google/sheets/internal/GoogleSheetsPropertiesHelper.java
  components/camel-hazelcast/src/main/java/org/apache/camel/component/hazelcast/policy/HazelcastRoutePolicy.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/DefaultHttpRegistry.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpEndpoint.java
  components/camel-iec60870/src/main/java/org/apache/camel/component/iec60870/AbstractConnectionMultiplexor.java
  components/camel-iec60870/src/main/java/org/apache/camel/component/iec60870/AbstractIecComponent.java
  components/camel-iec60870/src/main/java/org/apache/camel/component/iec60870/client/ClientConnection.java
  components/camel-infinispan/camel-infinispan-embedded/src/main/java/org/apache/camel/component/infinispan/embedded/cluster/InfinispanEmbeddedClusterView.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/cluster/InfinispanRemoteClusterView.java
  components/camel-irc/src/main/java/org/apache/camel/component/irc/IrcComponent.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/utils/extensions/JmsServiceExtension.java
Labels: components, components-aws, tests, camel-4

#15446 CAMEL-21177: Rework DataSonnet libsonnet resource discovery
  components/camel-datasonnet/src/main/java/org/apache/camel/language/datasonnet/DatasonnetLanguage.java
Labels: components, camel-4

#15447 Fix flaky tests
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
Labels: components, camel-4

#15448 CAMEL-21173 - Camel-Jbang Dev Console: Add Kubernetes Vault support -…
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListVault.java
Labels: dsl, camel-4

#15451 CAMEL-21136: Add /q/send to camel-main/camel-jbang for sending messages to Camel via HTTP
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-http-base/src/main/java/org/apache/camel/http/base/HttpProtocolHeaderFilterStrategy.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpProtocolHeaderFilterStrategy.java
  components/camel-platform-http-main/src/main/docs/platform-http-main.adoc
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
Labels: components, core, catalog, camel-4

#15449 CAMEL-20367: Adds tests for file management via http in dev mode
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/DevModeITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
Labels: dsl, camel-4

#15450 chore(camel-jbang): Fix route trait
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/RouteTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: dsl, camel-4

#15452 CAMEL-20367: Adds logging levels tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/LoggingLevelsITCase.java
Labels: dsl, camel-4

#15457 CAMEL-21172 - Camel-Jbang Dev Console: Add Hashicorp Vault support
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/hashicorp-secrets.json
  components/camel-hashicorp-vault/src/generated/resources/META-INF/org/apache/camel/dev-console/hashicorp-secrets.json
  components/camel-hashicorp-vault/src/generated/resources/META-INF/services/org/apache/camel/dev-console/hashicorp-secrets
  components/camel-hashicorp-vault/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/SecretsDevConsole.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListVault.java
Labels: components, catalog, dsl, camel-4

#15458 chore(camel-jbang): Fix dev mode in Kubernetes run command
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
Labels: dsl, camel-4

#15456 chore(camel-jbang): Disable ingress trait by default
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/IngressTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: dsl, camel-4

#15459 CAMEL-21178: Add browse jbang command
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/browse.json
  core/camel-console/src/generated/resources/META-INF/org/apache/camel/dev-console/browse.json
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/dev-console/browse
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  core/camel-console/src/main/java/org/apache/camel/impl/console/BrowseDevConsole.java
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/ActionBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelBrowseAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/MessageTableHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteStatus.java
Labels: core, catalog, dsl, camel-4

#15460 CAMEL-21164: camel-rest - Code first should use actual values for pro…
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiReader.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/SpringRestOpenApiReaderModelApiSecurityPlaceholderTest.java
  components/camel-openapi-java/src/test/resources/org/apache/camel/openapi/SpringRestOpenApiReaderModelApiSecurityPlaceholderTest.xml
Labels: components, camel-4

#15471 CAMEL-21185: camel-management - ShutdownStrategy should be a MBean so…
  core/camel-api/src/main/java/org/apache/camel/spi/ShutdownStrategy.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultShutdownStrategy.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedShutdownStrategyMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementLifecycleStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedShutdownStrategy.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedShutdownStrategyTest.java
  core/camel-support/src/main/java/org/apache/camel/support/LoggingExceptionHandler.java
  docs/user-manual/modules/ROOT/pages/graceful-shutdown.adoc
Labels: core, docs, camel-4

#15467 chore: Move from deprecated redpandata container used in test
  test-infra/camel-test-infra-kafka/src/test/resources/org/apache/camel/test/infra/kafka/services/container.properties
Labels: test-infra, camel-4

#15469 CAMEL-20367: Adds plugin management tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ManagePluginsITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
Labels: dsl, camel-4

#15470 Remove tests for kafka 2
  components/camel-kafka/pom.xml
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/common/KafkaProperties.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaServiceFactory.java
  test-infra/camel-test-infra-kafka/src/test/resources/org/apache/camel/test/infra/kafka/services/container.properties
Labels: components, components-kafka, test-infra, camel-4

#15484 CAMEL-21188: camel-endpointdsl - Include camel-activemq6 component
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ActiveMQ6EndpointBuilderFactory.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointDslMojo.java
Labels: dsl, tooling, tooling-maven, camel-4

#15485 CAMEL-21189: camel-jms: Add idleReceivesPerTaskLimit
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq6.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jms.json
  components/camel-activemq/src/generated/java/org/apache/camel/component/activemq/ActiveMQEndpointUriFactory.java
  components/camel-activemq/src/generated/resources/META-INF/org/apache/camel/component/activemq/activemq.json
  components/camel-activemq6/src/generated/java/org/apache/camel/component/activemq6/ActiveMQEndpointUriFactory.java
  components/camel-activemq6/src/generated/resources/META-INF/org/apache/camel/component/activemq6/activemq6.json
  components/camel-amqp/src/generated/java/org/apache/camel/component/amqp/AMQPEndpointUriFactory.java
  components/camel-amqp/src/generated/resources/META-INF/org/apache/camel/component/amqp/amqp.json
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsComponentConfigurer.java
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsEndpointConfigurer.java
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsEndpointUriFactory.java
  components/camel-jms/src/generated/resources/META-INF/org/apache/camel/component/jms/jms.json
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsComponent.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConfiguration.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/QueueReplyManager.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/TemporaryQueueReplyManager.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsComponentTest.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/JmsEndpointConfigurationTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Activemq6ComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ActivemqComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AmqpComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JmsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AMQPEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ActiveMQ6EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ActiveMQEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JmsEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Activemq6UriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/ActivemqUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/AmqpUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JmsUriDsl.kt
Labels: components, catalog, dsl, components-jms, camel-4

#15468 [CAMEL-21063] Provide health endpoint for k8s export main
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#15497 Camel-AWS-Secrets-Manager: Properties function, removed exception in …
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerPropertiesFunction.java
Labels: components, components-aws, camel-4

#15511 CAMEL-21186 - AWS Secrets Manager: Support Batch Retrieval for Secrets
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws-secrets-manager.json
  components/camel-aws/camel-aws-secrets-manager/src/generated/resources/META-INF/org/apache/camel/component/aws/secretsmanager/aws-secrets-manager.json
  components/camel-aws/camel-aws-secrets-manager/src/main/docs/aws-secrets-manager-component.adoc
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerConstants.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerOperations.java
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerProducer.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/SecretsManagerBatchGetSecretProducerLocalstackIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SecretsManagerEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#15510 CAMEL-21195: disabled flaky test on ASF CI
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
Labels: core, camel-4

#15517 CAMEL-21201: camel-ftp - Enrich exception with FTP client error codes…
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpOperations.java
Labels: components, camel-4

#15520 [CAMEL-21200] OSGi javax.jms range is wrong
  components/camel-activemq/pom.xml
Labels: components

#15522 CAMEL-20888- Mention removed jars related to kotlin in migration guide
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
Labels: docs, camel-4

#15523 CAMEL-21206 - Camel-Google-Storage: Support prefix in ListObjects ope…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-storage.json
  components/camel-google/camel-google-storage/src/generated/resources/META-INF/org/apache/camel/component/google/storage/google-storage.json
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageConstants.java
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageProducer.java
  components/camel-google/camel-google-storage/src/test/java/org/apache/camel/component/google/storage/unit/ProducerLocalTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleCloudStorageEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15519 CAMEL-21196: modernized assertions in camel-core.component
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanExplicitMethodAmbiguousTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanInvokeAsyncTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanOverloadedMethodTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/MyServiceProxyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/ProxyReturnFutureExceptionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/log/LogCustomFormatterTest.java
  core/camel-core/src/test/java/org/apache/camel/component/mock/MockEndpointTimeClauseTest.java
  core/camel-core/src/test/java/org/apache/camel/component/properties/PropertiesComponentRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/component/xslt/XsltOutputFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/xslt/XsltRouteXsltWithErrorTest.java
  core/camel-core/src/test/java/org/apache/camel/component/xslt/XsltTransformingExceptionTest.java
Labels: core, camel-4

#15537 CAMEL-21207 - Camel-Opensearch: Provide a parameter to set HostNameVe…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/opensearch.json
  components/camel-opensearch/src/generated/java/org/apache/camel/component/opensearch/OpensearchEndpointConfigurer.java
  components/camel-opensearch/src/generated/java/org/apache/camel/component/opensearch/OpensearchEndpointUriFactory.java
  components/camel-opensearch/src/generated/resources/META-INF/org/apache/camel/component/opensearch/opensearch.json
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchConfiguration.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchProducer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/OpensearchEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15533 CAMEL-21196: modernized assertions in camel-core.converter
  core/camel-core/src/test/java/org/apache/camel/converter/EnumConverterTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/StaticFallbackConverterTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/stream/CachedOutputStreamTest.java
Labels: core, camel-4

#15541 (chores) regen
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JmsComponentBuilderFactory.java
Labels: dsl, camel-4

#15539 CAMEL-21211: Azure Service Bus - filter unknown header types
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategy.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategyTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusProducerIT.java
Labels: components, components-azure, camel-4

#15540 CAMEL-21211: Azure Service Bus - filter unknown header types
  components/camel-azure/camel-azure-servicebus/pom.xml
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategy.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategyTest.java
Labels: components, components-azure

#15521 Improvement camel-rest-openapi consumer: request and response types
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/OpenApiUtils.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
Labels: components, camel-4

#15542 Camel-opensearch: Use ObjectHelper where it makes sense
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchProducer.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/aggregation/OpensearchBulkRequestAggregationStrategy.java
Labels: components, camel-4

#15532 Upgrade redis container in test to 7.4.0
  test-infra/camel-test-infra-redis/src/test/resources/org/apache/camel/test/infra/redis/services/container.properties
Labels: test-infra, camel-4

#15556 CAMEL-21174: camel-groovy - Allow to use groovy in the log EIP
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-groovy/src/test/java/org/apache/camel/processor/groovy/GroovyLogEipTest.java
  core/camel-api/src/generated/java/org/apache/camel/ExchangeConstantProvider.java
  core/camel-api/src/main/java/org/apache/camel/Exchange.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/LogProcessor.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/LogReifier.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
Labels: components, core, catalog, camel-4

#15559 CAMEL-21214: browsable endpoint - getBrowseStatus for quick status wi…
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileEndpoint.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/RemoteFileConsumer.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/DefaultQueueBrowseStrategy.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsQueueEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/QueueBrowseStrategy.java
  core/camel-api/src/main/java/org/apache/camel/spi/BrowsableEndpoint.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/BrowseDevConsole.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedBrowsableEndpointAsJSonFileTest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelBrowseAction.java
Labels: components, core, dsl, components-jms, camel-4

#15560 CAMEL-21219: camel-jms - Sending request/reply should not include tem…
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsBinding.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConfiguration.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsMessageHelper.java
  components/camel-jms/src/test/java/org/apache/camel/component/jms/issues/JmsRequestReplyCamelDeliveryModeHeaderIssueTest.java
Labels: components, components-jms, camel-4

#15555 CAMEL-21211: Azure Service Bus - filter unknown header types
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategy.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategyTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusProducerIT.java
Labels: components, core, catalog, dsl, components-azure, camel-4

#15552 Upgrade Postgres Container used in tests to 16.4
  test-infra/camel-test-infra-postgres/src/test/resources/org/apache/camel/test/infra/postgres/services/container.properties
Labels: test-infra, camel-4

#15553 Upgrade Cassandra container used in tests to 5.0.0
  test-infra/camel-test-infra-cassandra/src/test/resources/org/apache/camel/test/infra/cassandra/services/container.properties
Labels: test-infra, camel-4

#15557 CAMEL-21217: camel-rest-openapi consumer allows for the automatic unmarshalling of request body
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/OpenApiUtils.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
Labels: components, camel-4

#15574 CAMEL-21107 - Camel-Kubernetes: Add ability to add annotation to crea…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kubernetes-cronjob.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/kubernetes/cronjob/kubernetes-cronjob.json
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/KubernetesConstants.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/cronjob/KubernetesCronJobProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesCronJobProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KubernetesCronJobEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15572 CAMEL-21225: Upgrade to pulsar 2.10.6
  camel-dependencies/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies

#15587 CAMEL-21107 - Camel-Kubernetes: Add ability to add annotation to crea…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kubernetes-namespaces.json
  components/camel-kubernetes/src/generated/resources/META-INF/org/apache/camel/component/kubernetes/namespaces/kubernetes-namespaces.json
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/KubernetesConstants.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/namespaces/KubernetesNamespacesProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesNamespacesProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KubernetesNamespacesEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15573 Refactor and fix camel-cxf-soap first example
  components/camel-cxf/camel-cxf-soap/src/main/docs/cxf-component.adoc
Labels: components, camel-4

#15588 chore(doc): scan cloud configuration as properties
  docs/user-manual/modules/ROOT/pages/using-propertyplaceholder.adoc
Labels: docs, camel-4

#15591 (chores) camel-platform-http: do not test for Jolokia version
  components/camel-platform-http-jolokia/src/test/java/org/apache/camel/component/platform/http/plugin/DefaultJolokiaPlatformHttpPluginTest.java
Labels: components, camel-4

#15576 [CAMEL-21227] camel k8s run ignores output format
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: dsl, camel-4

#15607 Update simple-language.adoc
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
Labels: core, camel-4

#15592 [CAMEL-21236] Explicitly enable/disable quarkus image push
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#15608 CAMEL-19767: Improve test handling AssertionError
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
  core/camel-core/src/test/java/org/apache/camel/component/dataset/DataSetProducerTest.java
Labels: components, core, camel-4

#15609 camel-jetty12: Add component property for setting RequestLog to Jetty12
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jetty.json
  components/camel-jetty/src/generated/java/org/apache/camel/component/jetty12/JettyHttpComponent12Configurer.java
  components/camel-jetty/src/generated/resources/META-INF/org/apache/camel/component/jetty12/jetty.json
  components/camel-jetty/src/main/java/org/apache/camel/component/jetty12/JettyHttpComponent12.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestRequestLogTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JettyComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15611 CAMEL-20883: Upgrade min version to 3.9 for maven-enforcer-plugin. We…
  pom.xml
Labels: camel-4

#15612 CAMEL-21085: camel-jbang - Init command to accept absolute file inste…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
Labels: dsl, camel-4

#15610 Use the newly maintained univocity parsers
  components/camel-univocity-parsers/pom.xml
  components/camel-univocity-parsers/src/generated/resources/META-INF/services/org/apache/camel/dataformat.properties
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/AbstractUniVocityDataFormat.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/HeaderRowProcessor.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/UniVocityCsvDataFormat.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/UniVocityFixedDataFormat.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/UniVocityTsvDataFormat.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#15613 CAMEL-19767: Light refactoring on test using AssertionError
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonStreamTest.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailSorterTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/SSLContextParametersTest.java
Labels: components, core, camel-4

#15620 Camel-Jbang-generate plugin: Move to 4.8.0
  docs/user-manual/modules/ROOT/pages/camel-report-maven-plugin.adoc
  dsl/camel-jbang/camel-jbang-plugin-generate/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/GeneratePlugin.java
Labels: docs, dsl, camel-4

#15622 Upgrade Camel-Kamelets to version 4.8.0 for Camel-Jbang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginType.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#15623 Upgrade Camel-Kamelets to version 4.8.0 for VersionHelper in camel-ka…
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/util/VersionHelper.java
Labels: dsl, camel-4

#15625 CAMEL-21241: properties component - Should capture details about reso…
  core/camel-api/src/main/java/org/apache/camel/spi/PropertiesComponent.java
  core/camel-api/src/main/java/org/apache/camel/spi/PropertiesResolvedValue.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesLookup.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesLookupListener.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/DefaultPropertiesParser.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/PropertiesComponent.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/PropertiesDevConsole.java
  core/camel-core/src/test/java/org/apache/camel/component/properties/PropertiesComponentResolvedValueTest.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationDevConsole.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProperties.java
Labels: core, dsl, camel-4

#15632 Upgrade Hashicorp Vault image to version 1.17.5
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: test-infra, camel-4

#15636 Upgrade Nats Container image version 2.10.20
  test-infra/camel-test-infra-nats/src/test/resources/org/apache/camel/test/infra/nats/services/container.properties
Labels: test-infra, camel-4

#15639 CAMEL-21246: camel-jbang - Export should include dependencies when ca…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
Labels: dsl, camel-4

#15647 CAMEL-20367: Adds Cmd start stop route tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CmdStartStopITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
Labels: dsl, camel-4

#15648 CAMEL-20367: Adds platform-http component test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/PlatformHttpITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/server.yaml
Labels: dsl, camel-4

#15649 CAMEL-20367: Adds list service test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ListServiceITCase.java
Labels: dsl, camel-4

#15558 CAMEL-21216: Apache Camel LRA does not work with Oracle MicroTX LRA coordinator
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRASagaRoutes.java
  components/camel-lra/src/main/java/org/apache/camel/service/lra/LRAUrlBuilder.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRASagaRoutesTest.java
Labels: components, camel-4

#15652 CAMEL-21248 - Camel-Aws2-S3: Support Conditional Writes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3ComponentConfigurer.java
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointConfigurer.java
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointUriFactory.java
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Configuration.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3MultipartUploadOperationIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2S3ComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#15653 CAMEL-21252 Add checking for non .*-versions to sync-properties-maven-plugin
  camel-dependencies/pom.xml
  components/camel-zeebe/pom.xml
  docs/user-manual/modules/ROOT/pages/camel-report-maven-plugin.adoc
  parent/pom.xml
  tests/camel-itest/pom.xml
  tooling/maven/sync-properties-maven-plugin/src/main/java/org/apache/camel/maven/sync/properties/SyncPropertiesMojo.java
Labels: components, docs, tooling, tooling-maven, tests, core-build-and-dependencies, camel-4

#15590 (chores) camel-tests: cleanup duplicated property loading code
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AbstractAS2ITSupport.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/MendelsonSslEndpointManualTest.java
  components/camel-azure/camel-azure-cosmosdb/src/test/java/org/apache/camel/component/azure/cosmosdb/CosmosDbTestUtils.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/TestUtils.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/BlobTestUtils.java
  components/camel-azure/camel-azure-storage-queue/src/test/java/org/apache/camel/component/azure/storage/queue/QueueTestUtils.java
  components/camel-box/camel-box-component/src/test/java/org/apache/camel/component/box/AbstractBoxITSupport.java
  components/camel-braintree/src/test/java/org/apache/camel/component/braintree/AbstractBraintreeTestSupport.java
  components/camel-digitalocean/src/test/java/org/apache/camel/component/digitalocean/integration/DigitalOceanTestSupport.java
  components/camel-docker/src/test/java/org/apache/camel/component/docker/it/DockerITTestSupport.java
  components/camel-dropbox/src/test/java/org/apache/camel/component/dropbox/integration/DropboxTestSupport.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/integration/BigQueryITSupport.java
  components/camel-google/camel-google-calendar/src/test/java/org/apache/camel/component/google/calendar/AbstractGoogleCalendarTestSupport.java
  components/camel-google/camel-google-calendar/src/test/java/org/apache/camel/component/google/calendar/stream/AbstractGoogleCalendarStreamTestSupport.java
  components/camel-google/camel-google-drive/src/test/java/org/apache/camel/component/google/drive/AbstractGoogleDriveTestSupport.java
  components/camel-google/camel-google-mail/src/test/java/org/apache/camel/component/google/mail/AbstractGoogleMailTestSupport.java
  components/camel-google/camel-google-mail/src/test/java/org/apache/camel/component/google/mail/stream/AbstractGoogleMailStreamTestSupport.java
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/PubsubTestSupport.java
  components/camel-huawei/camel-huaweicloud-frs/src/test/java/org/apache/camel/component/huaweicloud/frs/TestConfiguration.java
  components/camel-huawei/camel-huaweicloud-functiongraph/src/test/java/org/apache/camel/TestConfiguration.java
  components/camel-huawei/camel-huaweicloud-imagerecognition/src/test/java/org/apache/camel/component/huaweicloud/image/TestConfiguration.java
  components/camel-huawei/camel-huaweicloud-smn/src/test/java/org/apache/camel/component/huaweicloud/smn/TestConfiguration.java
  components/camel-irc/src/test/java/org/apache/camel/component/irc/it/IrcIntegrationITSupport.java
  components/camel-jt400/src/test/java/org/apache/camel/component/jt400/Jt400DataQueueConsumerManualTest.java
  components/camel-minio/src/test/java/org/apache/camel/component/minio/MinioTestUtils.java
  components/camel-olingo2/camel-olingo2-component/src/test/java/org/apache/camel/component/olingo2/AbstractOlingo2TestSupport.java
  components/camel-sjms/src/test/java/org/apache/camel/component/sjms/support/JmsCommonTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/TestSupport.java
  components/camel-twilio/src/test/java/org/apache/camel/component/twilio/AbstractTwilioTestSupport.java
  components/camel-twitter/src/test/java/org/apache/camel/component/twitter/CamelTwitterITSupport.java
  components/camel-zendesk/src/test/java/org/apache/camel/component/zendesk/AbstractZendeskTestSupport.java
Labels: components, components-azure, components-jms, camel-4

#15669 Update options in camel-jbang.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#15668 CAMEL-20367: Adds observability tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/MetricsObservabilityITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/CircuitBreakerRoute.java
Labels: dsl, camel-4

#15651 feat(jbang): make export reproducible
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
Labels: dsl, camel-4

#15674 CAMEL-21253 - Camel AWS Kinesis: KCL Consumers, make the ConfigsBuild…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2ComponentConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointUriFactory.java
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2KinesisComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Kinesis2EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#15670 CAMEL-21080: introduce new interfaces for simplifying migration of the test code
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/ConfigurableContext.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/ConfigurableTest.java
Labels: components, camel-4

#15675 CAMEL-21080: clean dupes
  catalog/camel-route-parser/src/test/java/org/apache/camel/parser/java/RoasterJavaRestDslTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpDefaultPortNumberTest.java
Labels: components, catalog, camel-4

#15676 CAMEL-21080: avoid duplicating JMX configuration
  components/camel-crypto/src/test/java/org/apache/camel/component/crypto/ECDSASignatureTest.java
  components/camel-crypto/src/test/java/org/apache/camel/component/crypto/SignatureTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyEnableJmxTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/SignatureAlgorithmTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/SignatureDigestMethodTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/XAdESSignaturePropertiesTest.java
  components/camel-xmlsecurity/src/test/java/org/apache/camel/component/xmlsecurity/XmlSignatureTest.java
Labels: components, camel-4

#15677 CAMEL-21080: more interface pre-work to simplifying migration of the test code
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CommonTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/ConfigurableContext.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/ConfigurableTest.java
Labels: components, camel-4

#15673 CAMEL-20367: Adds adding custom jar test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CustomJarsITCase.java
Labels: dsl, camel-4

#15693 CAMEL-21260: camel-cxf - Allow to configure synchronous on component …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/cxf.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/cxfrs.json
  components/camel-cxf/camel-cxf-rest/src/generated/java/org/apache/camel/component/cxf/jaxrs/CxfRsComponentConfigurer.java
  components/camel-cxf/camel-cxf-rest/src/generated/resources/META-INF/org/apache/camel/component/cxf/jaxrs/cxfrs.json
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsComponent.java
  components/camel-cxf/camel-cxf-soap/src/generated/java/org/apache/camel/component/cxf/jaxws/CxfComponentConfigurer.java
  components/camel-cxf/camel-cxf-soap/src/generated/resources/META-INF/org/apache/camel/component/cxf/jaxws/cxf.json
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfComponent.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CxfComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CxfrsComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15691 CAMEL-21251 - Camel-AWS2-S3: Support Conditional Reads on producer operations
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Constants.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#15679 CAMEL-21255: camel-core - Add listener for creating ThreadFactory in …
  core/camel-api/src/main/java/org/apache/camel/spi/ExecutorServiceManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BaseExecutorServiceManager.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultExecutorServiceManagerTest.java
Labels: core, camel-4

#15672 [CAMEL-21238] Reloading in k8s run does not change route behaviour
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
Labels: dsl, camel-4

#15699 Backport 4.4.x
  components/camel-opentelemetry/pom.xml
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java
Labels: components

#15701 fix(jbang): parameterized export test
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJibTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJkubeTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
Labels: dsl, camel-4

#15703 Camel 21267 4.8.x
  dsl/camel-jbang/README.md
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: dsl

#15708 Fix typo issue when generating bean json
  tooling/camel-tooling-model/src/main/java/org/apache/camel/tooling/model/JsonMapper.java
Labels: tooling, camel-4

#15711 CAMEL-21253 - Camel AWS Kinesis: KCL Consumers, make the ConfigsBuild…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2ComponentConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointUriFactory.java
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2KinesisComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Kinesis2EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws

#15712 Add breaking change note for Camel JBang repos parameter in Migration
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
Labels: docs, camel-4

#15715 Update commands in camel-jbang.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#15713 CAMEL-20367: Adds dependency listing tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/DependencyListITCase.java
Labels: dsl, camel-4

#15718 CAMEL-21272: deprecated camel-k jbang plugin. Use kamel CLI instead.
  docs/user-manual/modules/ROOT/pages/camel-jbang-k.adoc
  dsl/camel-jbang/camel-jbang-plugin-k/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKCommand.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKPlugin.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/AgentTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/CamelKCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationGetTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogsTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRunTest.java
Labels: docs, dsl, camel-4

#15706 CAMEL-21270: avoid abusing temporary dir for shared CI nodes
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJibTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJkubeTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/InitTest.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#15714 CAMEL-21273: camel-jbang - Detect saga dsl
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/SagaDownloader.java
Labels: dsl, camel-4

#15720 Revert "chore(deps): Bump swagger-openapi3-version from 2.2.23 to 2.2.24"
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#15678 CAMEL-21256: camel-github startingSha=last does not work with large history
  components/camel-github/src/main/java/org/apache/camel/component/github/consumer/CommitConsumer.java
  components/camel-github/src/test/java/org/apache/camel/component/github/consumer/CommitConsumerLastTest.java
Labels: components, camel-4

#15724 CAMEL-21196: modernized assertions in camel-core.language
  core/camel-core/src/test/java/org/apache/camel/language/BeanLanguageInvalidOGNLTest.java
  core/camel-core/src/test/java/org/apache/camel/language/BeanLanguageMethodMissingParenthesisTest.java
  core/camel-core/src/test/java/org/apache/camel/language/BeanTest.java
  core/camel-core/src/test/java/org/apache/camel/language/FileLanguageTest.java
  core/camel-core/src/test/java/org/apache/camel/language/NoSuchLanguageTest.java
  core/camel-core/src/test/java/org/apache/camel/language/RefTest.java
  core/camel-core/src/test/java/org/apache/camel/language/XPathLanguageSingleNodeListTest.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleOperatorTest.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleParserExpressionInvalidTest.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleParserPredicateInvalidTest.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
Labels: core, camel-4

#15723 [CAMEL-21235] Cannot run k8s app in namespace other than default
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: dsl

#15721 [CAMEL-21235] Cannot run k8s app in namespace other than default
  dsl/camel-jbang/README.md
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: dsl, camel-4

#15725 Upgrade jboss-nio-version to 3.8.14.Final
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#15726 Upgrade jboss-xnio-version to 3.8.14.Final; refresh
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2KinesisUriDsl.kt
  parent/pom.xml
Labels: dsl, core-build-and-dependencies

#15728 CAMEL-21196: modernized assertions in camel-core.model
  core/camel-core/src/test/java/org/apache/camel/model/ProcessorTypeConfigurationTest.java
  core/camel-core/src/test/java/org/apache/camel/model/RouteConfigurationOnCompletionTest.java
  core/camel-core/src/test/java/org/apache/camel/model/RoutesConfigurationBuilderIdOrPatternTest.java
  core/camel-core/src/test/java/org/apache/camel/model/RoutesConfigurationErrorHandlerTest.java
  core/camel-core/src/test/java/org/apache/camel/model/StartingRoutesErrorReportedTest.java
Labels: core, camel-4

#15727 CAMEL-21280: azure-files: Only CredentialType.SHARED_ACCOUNT_KEY is handled
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/FilesOperations.java
  components/camel-azure/camel-azure-files/src/test/java/org/apache/camel/component/file/azure/FilesOperationsTest.java
Labels: components, components-azure, camel-4

#15731 Upgrade maven-archetype-plugin and maven-archetype-packaging to 3.3.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#15717 CAMEL-21283 - Switch back to repos parameter in Camel JBang run and export commands
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: docs, dsl, camel-4

#15740 Backport 4.8.x - CAMEL-21283 - Switch back to repos parameter in Camel JBang run and
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: docs, dsl

#15742 Upgrade maven-archetype-plugin and maven-archetype-packaging to 3.3.0
  parent/pom.xml
Labels: core-build-and-dependencies

#15743 fix(jbang): strenghten unit test
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
Labels: dsl, camel-4

#15744 CAMEL-21276: camel-core: Lookup ENV variable should use IOHelper to b…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogDebugger.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/EnvPropertiesFunction.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/ServiceHostPropertiesFunction.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/ServicePortPropertiesFunction.java
  core/camel-base/src/main/java/org/apache/camel/component/properties/ServicePropertiesFunction.java
  core/camel-main/src/main/java/org/apache/camel/main/MainHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/LanguageHelper.java
  core/camel-util/pom.xml
  core/camel-util/src/main/java/org/apache/camel/util/FilePathResolver.java
  core/camel-util/src/main/java/org/apache/camel/util/IOHelper.java
  core/camel-util/src/test/java/org/apache/camel/util/IOHelperTest.java
Labels: core, camel-4

#15746 camel-jetty - Fix failing unit test
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpHeaderTest.java
Labels: components, camel-4

#15747 Upgrade httpclient version to 5.4
  components/camel-graphql/src/test/java/org/apache/camel/component/graphql/server/GraphqlServer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpsAuthenticationTest.java
  components/camel-wordpress/src/test/java/org/apache/camel/component/wordpress/api/test/WordpressMockServerTestSupport.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#15758 CAMEL-21287: Camel-Azure-Files add missing header for AZURE_IDENTITY
  components/camel-azure/camel-azure-files/src/main/java/org/apache/camel/component/file/azure/FilesOperations.java
Labels: components, components-azure, camel-4

#15760 CAMEL-21282: camel-file - Add option to create dir in stepwise mode.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/file.json
  components/camel-file/src/generated/java/org/apache/camel/component/file/FileEndpointConfigurer.java
  components/camel-file/src/generated/java/org/apache/camel/component/file/FileEndpointUriFactory.java
  components/camel-file/src/generated/resources/META-INF/org/apache/camel/component/file/file.json
  components/camel-file/src/main/java/org/apache/camel/component/file/FileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileOperations.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/FileEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#15745 Cleanup dependency management
  catalog/camel-catalog-common/pom.xml
  catalog/camel-csimple-maven-plugin/pom.xml
  catalog/camel-report-maven-plugin/pom.xml
  components/camel-debezium/camel-debezium-common/camel-debezium-maven-plugin/pom.xml
  components/camel-salesforce/camel-salesforce-codegen/pom.xml
  components/camel-salesforce/camel-salesforce-maven-plugin/pom.xml
  components/camel-servicenow/camel-servicenow-maven-plugin/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-maven-plugin/pom.xml
  parent/pom.xml
  tooling/camel-tooling-maven/pom.xml
  tooling/maven/bom-generator-maven-plugin/pom.xml
  tooling/maven/camel-api-component-maven-plugin/pom.xml
  tooling/maven/camel-component-maven-plugin/pom.xml
  tooling/maven/camel-eip-documentation-enricher-maven-plugin/pom.xml
  tooling/maven/camel-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/maven/camel-restdsl-openapi-plugin/pom.xml
  tooling/maven/sync-properties-maven-plugin/pom.xml
  tooling/parent/pom.xml
Labels: components, catalog, dsl, tooling, tooling-maven, core-build-and-dependencies, camel-4
