Repository apache/camel, pull requests merged in 2024-11, with the labels that each got.

#16133 CAMEL-21355: backport to 4.8x
  components/camel-ai/camel-langchain4j-tools/src/main/docs/langchain4j-tools-component.adoc
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jTools.java
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsProducer.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jTooNoToolsIT.java
Labels: components, camel-4

#16141 Solve issue caused by multiple Smooks endpoints on same route
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/smooks.json
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksEndpointConfigurer.java
  components/camel-smooks/src/generated/java/org/apache/camel/component/smooks/SmooksEndpointUriFactory.java
  components/camel-smooks/src/generated/resources/META-INF/org/apache/camel/component/smooks/smooks.json
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksEndpoint.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksProcessor.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SmooksEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16140 CAMEL-21369: camel-jbang kubernetes - add quarkus extensions configuration for Route trait
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/BaseTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/RouteTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/Trait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitCatalog.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitContext.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#16149 CAMEL-20199: camel-jetty - Propagate exception
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/JettyHttpComponent.java
Labels: components, camel-4

#16151 CAMEL-21417: disable tests broken for a while
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3CopyObjectCustomerKeyIT.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettySessionSupportTest.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/StreamingApiConsumerTest.java
Labels: components, components-aws, camel-4

#16161 Fix typo on variables.adoc
  docs/user-manual/modules/ROOT/pages/variables.adoc
Labels: docs, camel-4

#16160 fix(components/plc4x): fix NPE when Camel can not establish connection
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XEndpoint.java
  components/camel-plc4x/src/main/java/org/apache/camel/component/plc4x/Plc4XProducer.java
Labels: components, camel-4

#16179 CAMEL-21421 - Move assertj version to parent pom
  components/camel-ai/camel-langchain4j-chat/pom.xml
  components/camel-ai/camel-langchain4j-core/pom.xml
  components/camel-ai/camel-langchain4j-embeddings/pom.xml
  components/camel-ai/camel-langchain4j-tools/pom.xml
  components/camel-ai/camel-langchain4j-web-search/pom.xml
  components/camel-ai/camel-milvus/pom.xml
  components/camel-ai/camel-pinecone/pom.xml
  components/camel-ai/camel-qdrant/pom.xml
  components/camel-aws/camel-aws2-sqs/pom.xml
  components/camel-azure/camel-azure-servicebus/pom.xml
  components/camel-azure/camel-azure-storage-datalake/pom.xml
  components/camel-clickup/pom.xml
  components/camel-consul/pom.xml
  components/camel-flink/pom.xml
  components/camel-http/pom.xml
  components/camel-ignite/pom.xml
  components/camel-infinispan/camel-infinispan-embedded/pom.xml
  components/camel-infinispan/camel-infinispan/pom.xml
  components/camel-jetty/pom.xml
  components/camel-jms/pom.xml
  components/camel-jq/pom.xml
  components/camel-kamelet/pom.xml
  components/camel-knative/camel-knative-api/pom.xml
  components/camel-knative/camel-knative-component/pom.xml
  components/camel-knative/camel-knative-http/pom.xml
  components/camel-mail/pom.xml
  components/camel-micrometer/pom.xml
  components/camel-microprofile/camel-microprofile-config/pom.xml
  components/camel-netty-http/pom.xml
  components/camel-netty/pom.xml
  components/camel-platform-http-jolokia/pom.xml
  components/camel-platform-http-vertx/pom.xml
  components/camel-reactive-streams/pom.xml
  components/camel-rest-openapi/pom.xml
  components/camel-salesforce/camel-salesforce-component/pom.xml
  components/camel-salesforce/camel-salesforce-maven-plugin/pom.xml
  components/camel-spring-xml/pom.xml
  components/camel-telegram/pom.xml
  components/camel-wasm/pom.xml
  components/camel-webhook/pom.xml
  components/camel-whatsapp/pom.xml
  core/camel-cloud/pom.xml
  core/camel-console/pom.xml
  core/camel-core-xml/pom.xml
  core/camel-core/pom.xml
  core/camel-util/pom.xml
  dsl/camel-java-joor-dsl/pom.xml
  dsl/camel-jbang/camel-jbang-it/pom.xml
  dsl/camel-xml-io-dsl/pom.xml
  dsl/camel-xml-jaxb-dsl-test/definition/pom.xml
  dsl/camel-xml-jaxb-dsl-test/spring/pom.xml
  dsl/camel-xml-jaxb-dsl/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-common/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl/pom.xml
  parent/pom.xml
  tooling/maven/camel-component-maven-plugin/pom.xml
  tooling/maven/camel-package-maven-plugin/pom.xml
  tooling/openapi-rest-dsl-generator/pom.xml
Labels: components, core, dsl, tooling, tooling-maven, components-aws, components-azure, components-jms, core-build-and-dependencies, camel-4

#16181 Upgrade Minio container image to RELEASE.2024-10-29T16-01-48Z-cpuv1 f…
  test-infra/camel-test-infra-minio/src/test/resources/org/apache/camel/test/infra/minio/services/container.properties
Labels: test-infra, camel-4

#16163 [CAMEL-21392] Add support for --cluster-type=k3s
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/ClusterType.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/DeploymentTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitContext.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Container.java
Labels: docs, dsl, camel-4

#16162 [CAMEL-20883] Remove addPluginArtifactMetadata mojo usage
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16200 (chores) camel-jbang: disable resource intensive tests
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: dsl, camel-4

#16147 Allow byte array in body to be processed in Smooks component
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksProcessor.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
Labels: components, camel-4

#16195 CAMEL-21423: camel-crypto - Check IvParameterSpec at first when initi…
  components/camel-crypto/src/main/java/org/apache/camel/converter/crypto/CryptoDataFormat.java
  components/camel-crypto/src/test/java/org/apache/camel/converter/crypto/CryptoDataFormatTest.java
  components/camel-crypto/src/test/resources/org/apache/camel/component/crypto/SpringCryptoDataFormatTest.xml
Labels: components, camel-4

#16142 CAMEL-21402: camel-mock - Make it easier to use more built-in languag…
  components/camel-mock/src/main/docs/mock-component.adoc
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockValueBuilder.java
  core/camel-core/src/test/java/org/apache/camel/issues/MockExpectedHeaderXPathTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/PredicateBuilder.java
Labels: components, core, camel-4

#16201 CAMEL-21417: Fix JettySessionSupportTest
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettySessionSupportTest.java
Labels: components, camel-4

#16150 CAMEL-21403: retrieve full message for content containing non ASCII chars
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/MicUtilsTest.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2AsyncMDNServerManagerIT.java
Labels: components, camel-4

#16202 CAMEL-21422: LoadTriplet should use lock just in case some crazy high…
  core/camel-management/src/main/java/org/apache/camel/management/mbean/LoadTriplet.java
Labels: core, camel-4

#16203 (chores) camel-jbang: minor cleanups
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelReceiveAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/MessageTableHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelProcessorTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListCircuitBreaker.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListHealth.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProperties.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/MetadataHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/support/StubComponentResolver.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/MountTrait.java
Labels: dsl, camel-4

#16219 CAMEL-21420: XML and YAML DSL should better support languages with namespaces such as xpath when parsing and writing outputs
  core/camel-core-model/src/main/java/org/apache/camel/model/language/NamespaceAwareExpression.java
  core/camel-xml-io/pom.xml
  core/camel-xml-io/src/main/java/org/apache/camel/xml/in/BaseParser.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/out/BaseWriter.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/out/ModelWriterTest.java
  core/camel-xml-io/src/test/resources/beansWithFactoryMethod.xml
  core/camel-xml-io/src/test/resources/resequencerStream.xml
  core/camel-xml-io/src/test/resources/routeXPathAndXmlNamespaces.xml
  core/camel-xml-io/src/test/resources/routingSlip.xml
  core/camel-xml-io/src/test/resources/routingSlipHeaderSet.xml
  core/camel-yaml-io/pom.xml
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/io/YamlWriter.java
  core/camel-yaml-io/src/test/java/org/apache/camel/yaml/out/XPathNamespacesTest.java
  tooling/maven/camel-package-maven-plugin/src/main/resources/velocity/model-writer.vm
Labels: core, tooling, tooling-maven, camel-4

#16220 Fix for RestOpenApiProcessor for parsing path variables from the http request uri succesfully.
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
Labels: components, camel-4

#16222 (chores) camel-etcd3: skip tests in s390x and ppc64le
  components/camel-etcd3/pom.xml
Labels: components, camel-4

#16224 CAMEL-21434: decouple configuration references from the KameletMain class
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/version/VersionList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CamelCommandHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: dsl, camel-4

#16221 CAMEL-6766 Generated produces string now includes media types from all responses
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/OpenApiUtils.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/OpenApiUtilsTest.java
Labels: components, camel-4

#16214 camel-fury: Improve to allow auto discovery Fury from the registry
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/fury.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/dataFormats.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/fury.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/marshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/unmarshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-fury/src/generated/java/org/apache/camel/component/fury/FuryDataFormatConfigurer.java
  components/camel-fury/src/generated/resources/META-INF/org/apache/camel/component/fury/fury.json
  components/camel-fury/src/main/java/org/apache/camel/component/fury/FuryDataFormat.java
  components/camel-fury/src/test/java/org/apache/camel/component/fury/FuryTest.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/dataFormats.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/fury.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/marshal.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/unmarshal.json
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatBuilderFactory.java
  core/camel-core-model/src/main/java/org/apache/camel/model/MarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/UnmarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/DataFormatsDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/FuryDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/transformer/DataFormatTransformerDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/DataFormatReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/FuryDataFormatReifier.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, dsl, camel-4

#16233 camel-opentelemetry: Updates broken link in doc
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
Labels: components, camel-4

#16226 (chores) camel-kamelet-main: break large method
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
Labels: dsl, camel-4

#16223 fix(components): Micrometer Prometheus configurable path
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-micrometer-prometheus/src/generated/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheusConfigurer.java
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  core/camel-main/src/generated/java/org/apache/camel/main/MetricsConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MetricsConfigurationProperties.java
Labels: components, core, catalog, camel-4

#16235 Upgrade Camel Kamelets to version 4.8.1
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#16237 Upgrade Localstack test infra image to version 3.8.1
  test-infra/camel-test-infra-aws-v2/src/test/resources/org/apache/camel/test/infra/aws2/services/container.properties
Labels: test-infra, camel-4

#16238 CAMEL-21432: camel-core - Prevent 0 as cache size for multicast EIP
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#16234 CAMEL-21438: disable unreliable tests on multiple platforms
  components/camel-lumberjack/src/test/java/org/apache/camel/component/lumberjack/LumberjackComponentTest.java
  components/camel-lumberjack/src/test/java/org/apache/camel/component/lumberjack/LumberjackMultiThreadIT.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileSortByIgnoreCaseExpressionTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ResequenceBatchNotIgnoreInvalidExchangesTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ResequenceStreamRejectOldExchangesTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/StreamResequencerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ThreadsRejectedExecutionTest.java
Labels: components, core, camel-4

#16239 CAMEL-21432: camel-core - Prevent 0 as cache size for multicast EIP (4.4)
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core

#16240 CAMEL-21432: camel-core - Prevent 0 as cache size for multicast EIP (4.8)
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#16241 fix: solve pagination exception in DHIS2 component caused by Jackson update
  components/camel-dhis2/camel-dhis2-api/src/test/java/org/apache/camel/component/dhis2/api/Dhis2GetTestCase.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2GetIT.java
  components/camel-dhis2/pom.xml
Labels: components, camel-4

#16243 Upgrade Pinecone Client to version 3.0.0
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16182 CAMEL-21443: Camel JBang shell command
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Shell.java
  parent/pom.xml
Labels: docs, dsl, core-build-and-dependencies, camel-4

#16242 CAMEL-21430 Generated produces string now includes media types from all responses.
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
Labels: components, camel-4

#16244 Allow CamelContext to be inherited in Smooks pipeline
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksProcessor.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16227 CAMEL-20503: camel-http OAuth2 support for caching / refreshing tokens
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/http.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/https.json
  components/camel-atmosphere-websocket/src/main/java/org/apache/camel/component/atmosphere/websocket/WebsocketEndpoint.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpCommonEndpoint.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpConfiguration.java
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpEndpointConfigurer.java
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpEndpointUriFactory.java
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/http.json
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/https.json
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpOAuth2TokenCachingTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/handler/OAuth2TokenRequestHandler.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/HttpEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16245 Enable camel-JPA and camel-paho tests on s390x
  components/camel-jpa/pom.xml
  components/camel-paho/src/test/java/org/apache/camel/component/paho/PahoComponentTest.java
Labels: components, camel-4

#16258 Removed dead property placeholder for opensearch
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16261 CAMEL-21445 - camel-core - Vault with secret refresh should be disabl…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/vault/KubernetesVaultConfiguration.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
Labels: core, catalog, camel-4

#16262 CAMEL-21445 - camel-core - Vault with secret refresh should be disabl…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/vault/KubernetesVaultConfiguration.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
Labels: core, catalog, camel-4

#16264 (chores) doc: minor grammar/typos fixes in the 4.9 migration guide
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
Labels: docs, camel-4

#16260 CAMEL-21446: Fixes key resolution with default
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/properties/BasePropertiesFunction.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/ConfigMapPropertiesFunctionTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/SecretPropertiesFunctionTest.java
Labels: components, camel-4

#16263 CAMEL-21448: deprecate camel-etcd3
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans/Etcd3AggregationRepository.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/etcd3.json
  components/camel-etcd3/pom.xml
  components/camel-etcd3/src/generated/resources/META-INF/org/apache/camel/component/etcd3/etcd3.json
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/bean.properties
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/bean/Etcd3AggregationRepository.json
  components/camel-etcd3/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-etcd3/src/main/docs/etcd3-component.adoc
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/policy/Etcd3RoutePolicy.java
  components/camel-etcd3/src/main/java/org/apache/camel/component/etcd3/processor/aggregate/Etcd3AggregationRepository.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Etcd3EndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, camel-4

#16275 (chores) itests: minor adjustments
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/CamelGreeterFileDomTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/greeter/CxfToJmsInOutTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsHttpJmsTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsHttpPostIssueTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsHttpPostIssueWithMockTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsJaxbTest.java
  tests/camel-itest/src/test/java/org/apache/camel/itest/jms/JmsJettyAsyncTest.java
Labels: tests, camel-4

#16278 CAMEL-21371: camel-core - Add converter for Reader to InputStream (#1…
  components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathChoiceReaderTest.java
  core/camel-base/src/generated/java/org/apache/camel/converter/CamelBaseBulkConverterLoader.java
  core/camel-base/src/main/java/org/apache/camel/converter/IOConverter.java
Labels: components, core, camel-4

#16280 CAMEL-21402: Mock endpoints can now use all the standard languages mo…
  components/camel-mock/src/main/docs/mock-component.adoc
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockValueBuilder.java
  core/camel-core/src/test/java/org/apache/camel/issues/MockExpectedHeaderCustomTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/MockExpectedHeaderSimpleTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: components, core, camel-4

#16288 CAMEL-20199: Remove synchronized blocks from components R to S
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/ReactiveStreamsCamelSubscriber.java
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/ReactiveStreamsComponent.java
  components/camel-reactive-streams/src/main/java/org/apache/camel/component/reactive/streams/engine/DelayedMonoPublisher.java
  components/camel-reactor/src/main/java/org/apache/camel/component/reactor/engine/ReactorCamelProcessor.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQProducer.java
  components/camel-rxjava/src/main/java/org/apache/camel/component/rxjava/engine/RxJavaCamelProcessor.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/SalesforceSession.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
  components/camel-scheduler/src/main/java/org/apache/camel/component/scheduler/SchedulerComponent.java
  components/camel-seda/src/main/java/org/apache/camel/component/seda/QueueReference.java
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaComponent.java
  components/camel-seda/src/main/java/org/apache/camel/component/seda/SedaEndpoint.java
  components/camel-servicenow/camel-servicenow-component/src/main/java/org/apache/camel/component/servicenow/auth/OAuthToken.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsComponent.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsProducer.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/consumer/EndpointMessageListener.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/consumer/SimpleMessageListenerContainer.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/reply/MessageSelectorCreator.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/reply/QueueReplyManager.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkConnectionFactory.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/SplunkEndpoint.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/support/SplunkDataWriter.java
  components/camel-splunk/src/main/java/org/apache/camel/component/splunk/support/SubmitDataWriter.java
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/EndpointMessageListener.java
  components/camel-spring-security/src/main/java/org/apache/camel/component/spring/security/SpringSecurityAuthorizationPolicy.java
  components/camel-spring-ws/src/main/java/org/apache/camel/component/spring/ws/SpringWebserviceProducer.java
  components/camel-spring/src/main/java/org/apache/camel/component/event/EventEndpoint.java
  components/camel-spring/src/main/java/org/apache/camel/spring/spi/TransactionErrorHandlerReifier.java
  components/camel-stax/src/main/java/org/apache/camel/component/stax/StAXJAXBIteratorExpression.java
  components/camel-stream/src/main/java/org/apache/camel/component/stream/StreamConsumer.java
  components/camel-stream/src/main/java/org/apache/camel/component/stream/StreamProducer.java
Labels: components, components-jms, camel-4

#16277 feat(components): add camel-observability-services
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-observability-services/pom.xml
  components/camel-observability-services/src/main/docs/observability-services.adoc
  components/camel-observability-services/src/main/resources/observability-services.properties
  components/pom.xml
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConstants.java
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/observability-services.adoc
  parent/pom.xml
Labels: components, core, catalog, docs, core-build-and-dependencies, camel-4

#16290 [CAMEL-21451] Migrate to JKube generated resources for all runtimes
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/run-java.sh
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/BaseTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/DeploymentTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/LabelTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/RouteTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: dsl, camel-4

#16293 camel-jbang - Auto detect vault dependencies
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloaderPeriodTaskResolver.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/ExportPeriodTaskResolver.java
Labels: dsl, camel-4

#16292 CAMEL-21278: Remove unused code in Trait Model
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Builder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Configuration.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Environment.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Knative.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Service.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Traits.java
Labels: dsl, camel-4

#16302 chore(components): observability services change default
  components/camel-observability-services/src/main/docs/observability-services.adoc
  components/camel-observability-services/src/main/resources/observability-services.properties
Labels: components, camel-4

#16321 chore(doc): local testing collector server
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
Labels: components, camel-4

#16320 feat(components): add opentelemetry into observability services
  components/camel-observability-services/pom.xml
  components/camel-observability-services/src/main/docs/observability-services.adoc
  components/camel-observability-services/src/main/resources/observability-services.properties
Labels: components, camel-4

#16318 CAMEL-20367: Adds data mapping tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/TransformMessageITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/data-mapping/components/data.xml
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/data-mapping/components/transform.xml
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/data-mapping/data-formats/data.csv
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/data-mapping/src/data.json
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/data-mapping/src/transform.yaml
Labels: dsl, camel-4

#16305 Camel-21457: Add knative service timeout on jbang plugin kubernetes
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
Labels: docs, dsl, camel-4

#16306 Add YAML route examples for DHIS2 component
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
Labels: components, camel-4

#16336 Upgrade Vert.x to 4.5.11
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16335 fix(main): makes health path configurable
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-platform-http-main/src/main/docs/platform-http-main.adoc
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/MainHttpServerTest.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
Labels: components, core, catalog, camel-4

#16345 [CAMEL-21464] camel k8s run ... may lead to exec format error
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#16344 feat(components): add health to observability services
  components/camel-observability-services/pom.xml
  components/camel-observability-services/src/main/docs/observability-services.adoc
  components/camel-observability-services/src/main/resources/observability-services.properties
Labels: components, camel-4

#16353 Downgrade software.amazon.kinesis:amazon-kinesis-client to 2.6.0
  .github/dependabot.yml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16346 [Backport 4.8.x] Fix for RestOpenApiProcessor for parsing path variables from the http…
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
Labels: components, camel-4

#16361 feat(components): add management to observability services
  components/camel-observability-services/pom.xml
  components/camel-observability-services/src/main/docs/observability-services.adoc
  docs/user-manual/modules/ROOT/pages/jmx.adoc
Labels: components, docs, camel-4

#16365 Align versions with spring-boot 3.3.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16366 Upgrade jolokia to 2.1.2
  components/camel-platform-http-jolokia/src/test/java/org/apache/camel/component/platform/http/plugin/DefaultJolokiaPlatformHttpPluginTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16373 CAMEL-21470: camel-datasonnet - Upgrade to 3.0.0
  components/camel-datasonnet/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16376 chore: Upgrade Jolokia version in Camel JBang exported project
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl, camel-4

#16378 chore: upgrade Maven wrapper in exported project from Camel Jbang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/.mvn/wrapper/maven-wrapper.jar
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/.mvn/wrapper/maven-wrapper.properties
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/mvnw
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/mvnw.cmd
Labels: dsl, camel-4

#16372 [Camel 4.8.x] chore(doc): spring boot configuration required
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
Labels: components, camel-4

#16381 CAMEL-21387: camel-opentelementry use OTEL Java agent by default docu…
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
Labels: components, camel-4

#16379 chore: Update docker base image version for Camel JBang exported project
  dsl/camel-jbang/camel-jbang-core/src/main/resources/quarkus-docker/Dockerfile.jvm
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/Dockerfile.tmpl
Labels: dsl, camel-4

#16380 CAMEL-21471: camel-quartz ignores ignoreExpiredNextFireTime when endAt is expired
  components/camel-quartz/src/main/java/org/apache/camel/component/quartz/QuartzEndpoint.java
  components/camel-quartz/src/test/java/org/apache/camel/component/quartz/QuartzCronRouteWithEmptyStartDateExpiredEndDateTest.java
Labels: components, camel-4

#16385 chore(test): Deactivate failing k plugin test
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
Labels: dsl, camel-4

#16387 CAMEL-21467: camel-core - No longer compute cache changes size
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#16388 Update security.adoc
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: docs, camel-4

#16391 CAMEL-21475: camel-yaml-dsl - Using route templates with hardcoded ids problem
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplateDuplicateIdIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplateStepIdTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
Labels: core, docs, camel-4

#16392 Upgrade Minio Container image to version RELEASE.2024-11-07T00-52-20Z…
  test-infra/camel-test-infra-minio/src/test/resources/org/apache/camel/test/infra/minio/services/container.properties
Labels: test-infra, camel-4

#16396 CAMEL-21477 - Camel-Google-Storage: Add prefix option to consumer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-storage.json
  components/camel-google/camel-google-storage/src/generated/java/org/apache/camel/component/google/storage/GoogleCloudStorageComponentConfigurer.java
  components/camel-google/camel-google-storage/src/generated/java/org/apache/camel/component/google/storage/GoogleCloudStorageEndpointConfigurer.java
  components/camel-google/camel-google-storage/src/generated/java/org/apache/camel/component/google/storage/GoogleCloudStorageEndpointUriFactory.java
  components/camel-google/camel-google-storage/src/generated/resources/META-INF/org/apache/camel/component/google/storage/google-storage.json
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageConfiguration.java
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageConsumer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/GoogleStorageComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleCloudStorageEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16397 chore(components): add debugging traces
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetrySpanAdapter.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
Labels: components, camel-4

#16399 CAMEL-21481: camel-jbang - Capture reload error when doing route reloads
  core/camel-api/src/main/java/org/apache/camel/spi/ReloadStrategy.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ContextDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ReloadDevConsole.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultContextReloadStrategy.java
  core/camel-support/src/main/java/org/apache/camel/support/FileWatcherResourceReloadStrategy.java
  core/camel-support/src/main/java/org/apache/camel/support/ResourceReloadStrategySupport.java
  core/camel-support/src/main/java/org/apache/camel/support/RouteOnDemandReloadStrategy.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelContextStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProcess.java
Labels: core, dsl, camel-4

#16406 Camel-Azure-Key-Vault: Docs updated
  components/camel-azure/camel-azure-key-vault/src/main/docs/azure-key-vault-component.adoc
Labels: components, components-azure, camel-4

#16407 CAMEL-21489: camel-micrometer - Add option to exclude routes in captu…
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfiguration.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/AbstractMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfigurationTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/ZMicrometerRoutePolicyExcludePatternTest.java
Labels: components, camel-4

#16408 fixes CAMEL-21492 - lists a component usable for payload security
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: docs, camel-4

#16409 fixes CAMEL-21492 - added XMLSecurityDsataformat as a possible provider of payload security into the doc
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: docs, camel-4

#16410 [CAMEL-21493]camel-ref: should use CamelContext.hasEndpoint but not C…
  components/camel-ref/src/main/java/org/apache/camel/component/ref/RefEndpoint.java
Labels: components, camel-4
