Repository apache/camel, pull requests merged in 2024-12, with the labels that each got.

#16416 (chores) docs: minor grammar fixes on the 4.9 migration
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
Labels: docs, camel-4

#16419 CAMEL-21476 - Camel-Azure-Key-Vault: Add Update Secret operation to P…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-key-vault.json
  components/camel-azure/camel-azure-key-vault/src/generated/resources/META-INF/org/apache/camel/component/azure/key/vault/azure-key-vault.json
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultConstants.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultOperation.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultProducer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KeyVaultEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-azure, camel-4

#16417 (chores) docs: minor grammar fixes for documents updated in 4.9
  components/camel-azure/camel-azure-key-vault/src/main/docs/azure-key-vault-component.adoc
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/aggregate-eip.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: components, core, docs, components-azure, camel-4

#16418 camel-jbang - Run background should wait
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: docs, dsl, camel-4

#16421 CAMEL-21418: restl-dsl - Fix client request validation and multiple v…
  core/camel-core/src/test/java/org/apache/camel/support/http/RestUtilTest.java
  core/camel-support/src/main/java/org/apache/camel/support/http/RestUtil.java
Labels: core, camel-4

#16424 CAMEL-21502: fixed incorrect reference to the chat component
  components/camel-ai/camel-langchain4j-tools/src/main/docs/langchain4j-tools-component.adoc
Labels: components, camel-4

#16427 CAMEL-21456 : camel-jbang-kubernetes - Add TLS support to ingress trait
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/IngressTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: docs, dsl, camel-4

#16426 Backport CAMEL-21502
  components/camel-ai/camel-langchain4j-tools/src/main/docs/langchain4j-tools-component.adoc
Labels: components, camel-4

#16428 CAMEL-21506: ensure that PDF conversions work when using the file component
  components/camel-pdf/src/generated/java/org/apache/camel/component/pdf/converter/PdfConverterLoader.java
  components/camel-pdf/src/main/java/org/apache/camel/component/pdf/converter/PdfConverter.java
Labels: components, camel-4

#16442 Upgrade AWS SDK to version 2.29.27
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/META-INF/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#16443 CAMEL-21325: camel-jbang - Kubernetes run should cleanup old temp fol…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CommandHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#16444 CAMEL-21514: camel-jgropus - Upgrade to 5.4 and remove cluster lock
  components/camel-jgroups/src/main/docs/jgroups-component.adoc
  components/camel-jgroups/src/main/java/org/apache/camel/component/jgroups/cluster/JGroupsLockClusterService.java
  components/camel-jgroups/src/main/java/org/apache/camel/component/jgroups/cluster/JGroupsLockClusterView.java
  components/camel-jgroups/src/test/java/org/apache/camel/component/jgroups/cluster/JGroupsLockMasterTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
  parent/pom.xml
Labels: components, docs, core-build-and-dependencies, camel-4

#16445 Update competing-consumers.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/competing-consumers.adoc
Labels: core, camel-4

#16447 Update threading-model.adoc
  docs/user-manual/modules/ROOT/pages/threading-model.adoc
Labels: docs, camel-4

#16429 Backport CAMEL-21506
  components/camel-pdf/src/generated/java/org/apache/camel/component/pdf/converter/PdfConverterLoader.java
  components/camel-pdf/src/main/java/org/apache/camel/component/pdf/converter/PdfConverter.java
Labels: components, camel-4

#16456 CAMEL-21465: Upgrade Cassandra java-driver dependencies to 4.18.1
  components/camel-cassandraql/pom.xml
  components/camel-cassandraql/src/test/java/org/apache/camel/component/cassandra/MockLoadBalancingPolicy.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16457 Revert "chore(deps): Bump io.fabric8:knative-model from 6.13.4 to 7.0.0"
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16458 CAMEL-21517: Deprecate camel-google-pubsub-lite
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-pubsub-lite.json
  components/camel-google/camel-google-pubsub-lite/pom.xml
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/org/apache/camel/component/google/pubsublite/google-pubsub-lite.json
  components/camel-google/camel-google-pubsub-lite/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-google/camel-google-pubsub-lite/src/main/docs/google-pubsub-lite-component.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GooglePubsubLiteEndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, camel-4

#16479 Upgrade default versions in Camel JBang to 4.9.0
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#16481 Update log-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/log-eip.adoc
Labels: core, camel-4

#16480 Update health-check.adoc
  docs/user-manual/modules/ROOT/pages/health-check.adoc
Labels: docs, camel-4

#16483 [CAMEL-21520] OSGi ErrorHandler package missing in import package
  core/camel-xml-jaxb/pom.xml
Labels: core

#16506 CAMEL-21528: Avoid blocking the event loop in vertx-http response handlers
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpProducer.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpSlowErrorHandlerTest.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpTestSupport.java
Labels: components, camel-4

#16509 http component log
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans/LoggingHttpActivityListener.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/http.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/https.json
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpComponentConfigurer.java
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpEndpointConfigurer.java
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpEndpointUriFactory.java
  components/camel-http/src/generated/java/org/apache/camel/component/http/LoggingHttpActivityListenerConfigurer.java
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/http.json
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/https.json
  components/camel-http/src/generated/resources/META-INF/services/org/apache/camel/bean.properties
  components/camel-http/src/generated/resources/META-INF/services/org/apache/camel/bean/LoggingHttpActivityListener.json
  components/camel-http/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.http.LoggingHttpActivityListener
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpActivityListener.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpEndpoint.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-http/src/main/java/org/apache/camel/component/http/LoggingHttpActivityListener.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpLoggingActivityTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/HttpComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/HttpsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/HttpEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16507 CAMEL-21529: camel-catalog - Consider adding another version discover…
  catalog/camel-catalog/pom.xml
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/VersionHelper.java
  catalog/camel-catalog/src/main/resources/META-INF/version.properties
Labels: catalog, camel-4

#16496 Backport camel k8s stuff to 4.8x
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CommandHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/run-java.sh
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-k/src/test/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/ClusterType.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/BaseTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/DeploymentTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/IngressTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/LabelTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/RouteTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitContext.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Container.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Knative.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/PodLogsTest.java
Labels: docs, dsl, camel-4

#16497 Fixed NPE when no response body in DefaultRawClient
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/DefaultRawClient.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/client/DefaultRawClientTest.java
Labels: components, camel-4

#16510 [4.8.x] CAMEL-21528: Avoid blocking the event loop in vertx-http response handlers
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpProducer.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpSlowErrorHandlerTest.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpTestSupport.java
Labels: components, camel-4

#16513 [CAMEL-21531]RestOpenApiReaderTest is broken for some locations
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderTest.java
Labels: components, camel-4

#16508 CAMEL-21529: camel-catalog - Consider adding another version discover…
  catalog/camel-catalog/pom.xml
  catalog/camel-catalog/src/main/java/org/apache/camel/catalog/VersionHelper.java
  catalog/camel-catalog/src/main/resources/META-INF/version.properties
Labels: catalog, camel-4

#16514 CAMEL-21532: fix the Log4j2 config file not being respected in Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
Labels: dsl, camel-4

#16515 CAMEL-21532: fix the Log4j2 config file not being respected in Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
Labels: dsl, camel-4

#16512 CAMEL-21530: camel-jbang - Remove deps on runtime and cluster-type wh…
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#16529 CAMEL-21533: camel-jbang - Backport Knative test coverage to 4.8.x
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#16540 [CAMEL-21537]: Enable ppc64le support for mongodb
  components/camel-mongodb/pom.xml
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOperationIT.java
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/common/MongoDBProperties.java
  test-infra/camel-test-infra-mongodb/src/test/java/org/apache/camel/test/infra/mongodb/services/MongoDBLocalContainerService.java
  test-infra/camel-test-infra-mongodb/src/test/resources/org/apache/camel/test/infra/mongodb/services/container.properties
Labels: components, test-infra, camel-4

#16542 CAMEL-21526 - camel-aws - Unable to set Timestamp in query parameters…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2ComponentConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointUriFactory.java
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisComponentConfigurationTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2KinesisComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Kinesis2EndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Aws2KinesisUriDsl.kt
Labels: components, catalog, dsl, components-aws, camel-4

#16544 CAMEL-21466: camel-jbang - camel k8s delete may not cleanup properly
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
Labels: dsl, camel-4

#16545 CAMEL-21535: camel-groovy - Make it easier to validate groovy script …
  catalog/camel-catalog/pom.xml
  catalog/camel-catalog/src/test/java/org/apache/camel/catalog/CamelCatalogTest.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyExpression.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyLanguage.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyValidationException.java
  components/camel-groovy/src/test/java/org/apache/camel/language/groovy/GroovyLanguageTest.java
  core/camel-core-catalog/src/main/java/org/apache/camel/catalog/impl/AbstractCamelCatalog.java
Labels: components, core, catalog, camel-4

#16547 Upgrade Kamelets to 4.8.2
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#16561 doc(component): OpenTelemetry zero code SDK autoconfiguration
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
Labels: components, camel-4

#16562 CAMEL-21510: camel-jbang - Kubernetes plugin support for parameter name
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesPlugin.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesPodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesPodLogsTest.java
Labels: dsl, camel-4

#16563 CAMEL-21547: Migrate bean routing functionality from Smooks Cartridge to Smooks Component
  components/camel-smooks/pom.xml
  components/camel-smooks/src/main/docs/smooks-component.adoc
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/routing/BeanRouter.java
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/routing/BeanRouterObserver.java
  components/camel-smooks/src/main/resources/META-INF/xsd/smooks/camel-1.5.xsd
  components/camel-smooks/src/main/resources/META-INF/xsd/smooks/camel-1.5.xsd-smooks.xml
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/routing/BeanRouterFunctionalTest.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/routing/BeanRouterObserverTest.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/routing/BeanRouterTest.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/routing/gender/Gender.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/routing/gender/GenderTypeConverterFactory.java
  components/camel-smooks/src/test/java/org/apache/camel/dataformat/smooks/SmooksDataFormatTest.java
  components/camel-smooks/src/test/resources/META-INF/services/org.smooks.api.converter.TypeConverterFactory
  components/camel-smooks/src/test/resources/bean-routing-smooks-config.xml
  components/camel-smooks/src/test/resources/xml/customer.xml
  components/camel-smooks/src/test/resources/xml/expected-customer.xml
Labels: components, camel-4

#16580 CAMEL-21510: camel-jbang - Kubernetes plugin support for parameter name
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-plugin-k/src/main/java/org/apache/camel/dsl/jbang/core/commands/k/IntegrationLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesPlugin.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesPodLogs.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesPodLogsTest.java
Labels: dsl, camel-4

#16581 (WIP) CAMEL-20682 - review File tests for incorrectly shared resources - set 6
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConcurrentWriteAppendSameFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentKeyChangedIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerIdempotentOnExceptionHandledTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerNoopTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileMarkerFileRecursiveDoNotDeleteOldLockFilesTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilePollEnrichNoWaitTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilePollEnrichTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceAppendCharsEmptyMessageTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceAppendCharsSingleMessageTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceAppendCharsTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceOverruleOnlyOnceTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProduceTempPrefixTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistAppendNoFileBeforeTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerFileExistOverrideNoFileBeforeTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerRenameUsingCopyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDoneFileNameDeleteTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDoneFileNoopTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerDualDoneFileNameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerProducerDoneFileNameRouteTest.java
Labels: core, camel-4

#16095 (follow-up) remove dependency management from individual poms
  components/camel-google/camel-google-bigquery/pom.xml
  components/camel-google/camel-google-functions/pom.xml
  components/camel-google/camel-google-pubsub-lite/pom.xml
  components/camel-google/camel-google-pubsub/pom.xml
  components/camel-google/camel-google-secret-manager/pom.xml
  components/camel-google/camel-google-storage/pom.xml
Labels: components, camel-4

#16594 CAMEL-21555: By default do not lazily start Smooks
  components/camel-smooks/src/main/java/org/apache/camel/component/smooks/SmooksProcessor.java
  components/camel-smooks/src/test/java/org/apache/camel/component/smooks/SmooksProcessorTest.java
Labels: components, camel-4

#16543 feat(components): deprecate tracing MDC
  components/camel-observation/src/main/docs/observation.adoc
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
  components/camel-tracing/src/main/docs/tracing.adoc
  components/camel-tracing/src/main/java/org/apache/camel/tracing/ActiveSpanManager.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
Labels: components, docs, camel-4

#16595 hashicorp vault
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultPropertiesFunction.java
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  dsl/camel-kamelet-main/src/main/resources/camel-main-known-dependencies.properties
Labels: components, core, dsl, camel-4

#16603 chore(docs): Fix Camel JBang --dep option typos
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#16604 CAMEL-21559, mongodb: insertOne instead of replaceOne when saving without _id
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbProducer.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbOperationsIT.java
Labels: components, camel-4

#16611 [4.8.x] Allow propagating -version properties from the top pom to camel-dependencies
  tooling/maven/sync-properties-maven-plugin/src/main/java/org/apache/camel/maven/sync/properties/SyncPropertiesMojo.java
Labels: tooling, tooling-maven, camel-4

#16612 Upgrade DJL to version 0.31.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16624 milvus ppc64le integration tests activation
  components/camel-ai/camel-milvus/pom.xml
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/common/MilvusProperties.java
  test-infra/camel-test-infra-milvus/src/test/java/org/apache/camel/test/infra/milvus/services/MilvusLocalContainerService.java
  test-infra/camel-test-infra-milvus/src/test/resources/org/apache/camel/test/infra/milvus/services/container.properties
Labels: components, test-infra, camel-4

#16625 CAMEL-21562. It's not a problem if the client is not allowed to do HeadBucket
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Endpoint.java
Labels: components, components-aws, camel-4

#16626 CAMEL-21562. It's not a problem if the client is not allowed to do He…
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Endpoint.java
Labels: components, components-aws, camel-4

#16613 CAMEL-21558: Add missing package context for Static Endpoint DSL Generation
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/EndpointDslMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/resources/velocity/endpoint-builder-factory.vm
  tooling/maven/camel-package-maven-plugin/src/main/resources/velocity/endpoint-builder.vm
  tooling/maven/camel-package-maven-plugin/src/main/resources/velocity/endpoint-builders.vm
  tooling/maven/camel-package-maven-plugin/src/main/resources/velocity/endpoint-static-builders.vm
Labels: tooling, tooling-maven, camel-4

#16627 CAMEL-21563 : camel-jbang ps option output in JSON
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProcess.java
Labels: dsl, camel-4

#16628 CAMEL-21563 : camel-jbang ps option output in JSON
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListProcess.java
Labels: dsl, camel-4

#16643 camel-jbang - Debug to work with split eip
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultBacklogDebugger.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DefaultDebugger.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
Labels: core, dsl, camel-4

#16644 CAMEL-20686 - set 7: review File tests for incorrectly shared resource
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeFilesAndDeleteTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FromFileDoNotDeleteFileIfProcessFailsTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FromFileDoNotMoveFileIfProcessFailsTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/NewFileConsumeTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/NIOConverterTest.java
  core/camel-core/src/test/java/org/apache/camel/issues/FilePollingConsumerIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/language/FileLanguageTest.java
Labels: core, camel-4

#16650 aws2-kinesis: Make Kinesis KCL application name configurable
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2ComponentConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointConfigurer.java
  components/camel-aws/camel-aws2-kinesis/src/generated/java/org/apache/camel/component/aws2/kinesis/Kinesis2EndpointUriFactory.java
  components/camel-aws/camel-aws2-kinesis/src/generated/resources/META-INF/org/apache/camel/component/aws2/kinesis/aws2-kinesis.json
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Component.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Configuration.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KinesisConnection.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/KinesisComponentConfigurationTest.java
Labels: components, components-aws, camel-4

#16651 (chores) test-infra: upgrate Azurite container to the latest version
  test-infra/camel-test-infra-azure-common/src/test/resources/org/apache/camel/test/infra/azure/common/services/container.properties
Labels: test-infra, camel-4

#16654 Revert "chore(deps): Bump org.apache.mina:mina-core from 2.2.3 to 2.2.4 (#16647)"
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16653 CAMEL-21495: rest-dsl - Mark route as inlined by rest-dsl to avoid du…
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinition.java
Labels: core, camel-4

#16655 upgrade to mina 2.2.4
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/mina.json
  components/camel-mina/src/generated/java/org/apache/camel/component/mina/MinaComponentConfigurer.java
  components/camel-mina/src/generated/java/org/apache/camel/component/mina/MinaEndpointConfigurer.java
  components/camel-mina/src/generated/java/org/apache/camel/component/mina/MinaEndpointUriFactory.java
  components/camel-mina/src/generated/resources/META-INF/org/apache/camel/component/mina/mina.json
  components/camel-mina/src/main/java/org/apache/camel/component/mina/MinaConfiguration.java
  components/camel-mina/src/main/java/org/apache/camel/component/mina/MinaConsumer.java
  components/camel-mina/src/main/java/org/apache/camel/component/mina/MinaProducer.java
  components/camel-mina/src/test/java/org/apache/camel/component/mina/MinaProducerConcurrentTest.java
  components/camel-mina/src/test/java/org/apache/camel/component/mina/MinaTransferExchangeOptionTest.java
  components/camel-mina/src/test/java/org/apache/camel/component/mina/MinaVMTransferExchangeOptionTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MinaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MinaEndpointBuilderFactory.java
  parent/pom.xml
Labels: components, catalog, docs, dsl, core-build-and-dependencies, camel-4

#16657 CAMEL-21572: fix java.lang.NullPointerException when using SetHeader and Stub
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: core, camel-4

#16656 CAMEL-21572: fix java.lang.NullPointerException when using SetHeader and Stub
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: core, camel-4

#16661 CAMEL-21484: mp-config should not be loadable as it has overhead at r…
  components/camel-microprofile/camel-microprofile-config/src/main/java/org/apache/camel/component/microprofile/config/CamelMicroProfilePropertiesSource.java
  components/camel-microprofile/camel-microprofile-config/src/test/java/org/apache/camel/component/microprofile/config/CamelMicroProfilePropertiesSourceTest.java
Labels: components, camel-4

#16665 Fix spelling
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/AS2MessageDispositionNotificationEntity.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfOneWayRouteTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyProducerHangTest.java
  components/camel-oaipmh/src/test/java/org/apache/camel/oaipmh/utils/MockOaipmhServer.java
  tooling/camel-util-json/src/main/java/org/apache/camel/util/json/Yylex.java
Labels: components, tooling, camel-4

#16669 Disable S3 test that broke after AWS SDK upgrade
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3CopyObjectCustomerKeyIT.java
Labels: components, components-aws, camel-4

#16425 CAMEL-21503: remove the tools feature from the chat component
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/langchain4j-chat.json
  components/camel-ai/camel-langchain4j-chat/src/generated/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpointConfigurer.java
  components/camel-ai/camel-langchain4j-chat/src/generated/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpointUriFactory.java
  components/camel-ai/camel-langchain4j-chat/src/generated/resources/META-INF/org/apache/camel/component/langchain4j/chat/langchain4j-chat.json
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatComponent.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatEndpoint.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatProducer.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/CamelSimpleToolParameter.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/CamelToolExecutorCache.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/CamelToolSpecification.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/tool/NamedJsonSchemaProperty.java
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j.chat/LangChain4jConsumerIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/LangChain4jChatEndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, camel-4

#16671 CAMEL-21503: updated documentation
  components/camel-ai/camel-langchain4j-chat/src/main/docs/langchain4j-chat-component.adoc
Labels: components, camel-4

#16672 remove leftover
  components/camel-cxf/camel-cxf-spring-soap/rm.sh
Labels: components, camel-4

#16673 Fix or disable broken tests
  core/camel-core/src/test/java/org/apache/camel/component/controlbus/ControlBusFailRouteTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerCharsetUTFtoISOTest.java
Labels: core, camel-4
