Repository apache/camel, pull requests merged in 2024-05, with the labels that each got.

#13996 CAMEL-20724: camel-saxon - Fix xquery namespaces usage
  components/camel-saxon/src/main/java/org/apache/camel/language/xquery/XQueryLanguage.java
  components/camel-saxon/src/test/java/org/apache/camel/builder/saxon/XQueryHeaderNameResultTypeAndNamespaceTest.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/language/XQueryExpressionReifier.java
Labels: components, core, camel-4

#14007 CAMEL-20652: camel-rest - Contract First - Make it possible to build …
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/DefaultRestOpenapiProcessorStrategy.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenapiProcessorStrategy.java
  docs/user-manual/modules/ROOT/pages/rest-dsl-openapi.adoc
Labels: components, docs, camel-4

#13989 Backport CI fixes to Camel 4.0 branch
  Jenkinsfile
Labels: ci

#13990 Backport CI fixes to Camel 4.4 branch
  Jenkinsfile
Labels: ci

#14012 CAMEL-20575 - Camel-Milvus: Improve documentation
  components/camel-milvus/src/main/docs/milvus-component.adoc
Labels: components, camel-4

#14011 ClaimCheckProcessor.java cleanup
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ClaimCheckProcessor.java
Labels: core, camel-4

#14008 CAMEL-20680: reduced test execution time by 400sec by removing unnecessary producer.send
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
Labels: components, components-kafka, camel-4

#14009 CAMEL-20722 Increased timeout in this set of tests to 10 seconds from 3
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsyncCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
Labels: components, components-kafka, camel-4

#14022 Kamelet ctr
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templateBean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templatedRouteBean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletLocalBeanInitDestroyTest.java
  core/camel-api/src/main/java/org/apache/camel/Route.java
  core/camel-api/src/main/java/org/apache/camel/RouteTemplateContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRoute.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/templateBean.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/templatedRouteBean.json
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanFactoryDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanModelHelper.java
  core/camel-core-model/src/main/java/org/apache/camel/model/DefaultRouteTemplateContext.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/RouteReifier.java
  core/camel-core/src/test/java/org/apache/camel/builder/RouteTemplateLocalBeanTest.java
  core/camel-support/src/main/java/org/apache/camel/support/LocalBeanRegistry.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/route-template.adoc
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeanFactoryDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeansDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletLoaderTest.groovy
Labels: components, core, catalog, docs, dsl, camel-4

#14046 Kamelet ctr5
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/beans.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models-app/camel.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/routeTemplate.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templateBean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templatedRoute.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/templatedRouteBean.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-api/src/main/java/org/apache/camel/spi/ModelToXMLDumper.java
  core/camel-api/src/main/java/org/apache/camel/spi/ModelToYAMLDumper.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultCamelContext.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultDumpRoutesStrategy.java
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/app/beans.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/app/camel.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/routeTemplate.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/templateBean.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/templatedRoute.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/templatedRouteBean.json
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/model.properties
  core/camel-core-model/src/generated/resources/org/apache/camel/model/app/jaxb.index
  core/camel-core-model/src/generated/resources/org/apache/camel/model/jaxb.index
  core/camel-core-model/src/main/java/org/apache/camel/builder/RouteBuilder.java
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanFactoryDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanModelHelper.java
  core/camel-core-model/src/main/java/org/apache/camel/model/Model.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateBeanDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/TemplatedRouteBeanDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/TemplatedRouteDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/LwModelToXMLDumper.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/in/ModelParserTest.java
  core/camel-xml-jaxb/src/main/java/org/apache/camel/xml/jaxb/JaxbModelToXMLDumper.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  core/camel-yaml-io/src/main/java/org/apache/camel/yaml/LwModelToYAMLDumper.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/xml/blueprint/BlueprintXmlBeansHandler.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/xml/spring/SpringXmlBeansHandler.java
  dsl/camel-kotlin-api/src/main/kotlin/org/apache/camel/kotlin/BeanFactoryDsl.kt
  dsl/camel-kotlin-api/src/main/kotlin/org/apache/camel/kotlin/RegistryBeanDsl.kt
  dsl/camel-kotlin-api/src/main/kotlin/org/apache/camel/kotlin/RootDsl.kt
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/pom.xml
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeanFactoryDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeansDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/CustomResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/RouteTemplateDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteBeanDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/TemplatedRouteDefinitionDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletLoaderTest.groovy
Labels: core, catalog, docs, dsl, camel-4

#14043 CAMEL-20732: fix parsing primitive array types in RestDefinition
  core/camel-core-model/pom.xml
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestDefinition.java
  core/camel-core-model/src/test/java/org/apache/camel/model/rest/RestDefinitionTest.java
Labels: core, camel-4

#14047 typo fix with property placeholder
  core/camel-base/src/main/docs/properties-component.adoc
Labels: core, camel-4

#14048 Exclude ws-java-sdk-core in camel-aws-xray to avoid conflict
  components/camel-aws/camel-aws-xray/pom.xml
Labels: components, components-aws, camel-4

#14021 (chores) camel-file: code cleanup
  components/camel-file/src/main/java/org/apache/camel/component/file/FileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFile.java
Labels: components, camel-4

#14049 (chores) brand: add project icon in IntelliJ
  .idea/icon.png
Labels: camel-4

#14052 CAMEL-20722 - changed timeout to 10 sec from 3 in more tests after random & sporadic failures during local testing
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSyncCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerAsyncManualCommitIT.java
Labels: components, components-kafka, camel-4

#14058 CAMEL-20725 - Camel-Pinecone: Add more producer operations - Update o…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbAction.java
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
Labels: components, catalog, camel-4

#14059 Camel-Pinecone: Removed unused headers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PineconeVectorDbEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#14061 CAMEL-20739 - Camel-Pinecone: Add a datatype for transforming langcha…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/pinecone-embeddings.json
  components/camel-ai/camel-langchain4j-embeddings/pom.xml
  components/camel-ai/camel-langchain4j-embeddings/src/test/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsComponentPineconeTargetIT.java
  components/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer/pinecone-embeddings
  components/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer/pinecone-embeddings.json
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/transform/PineconeEmbeddingsDataTypeTransformer.java
Labels: components, catalog, camel-4

#14057 (chores) camel-jpa: break large and complex methods
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaProducer.java
Labels: components, camel-4

#14069 CAMEL-20739 - Camel-Pinecone: Add a datatype for transforming langcha…
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/transform/PineconeEmbeddingsDataTypeTransformer.java
Labels: components, camel-4

#14070 Avoid causing all PRs to fail when there is a new camel release and c…
  etc/scripts/regen.sh
Labels: core-build-tooling, camel-4

#14060 CAMEL-20722 + CAMEL-20680 - re-enabled tests for CI
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReleaseResourcesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsyncCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSyncCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerFullIT.java
Labels: components, components-kafka, camel-4

#14062 [CAMEL-20728] add S3 multipart upload support for stream producer in camel-aws2-s3
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/stream/AWS2S3StreamUploadProducer.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadS3MultipartIT.java
Labels: components, components-aws, camel-4

#14073 CAMEL-20725 - Camel-Pinecone: Add more producer operations - Query by…
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbAction.java
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
Labels: components, camel-4

#14075 CAMEL-19358: camel-kafka - Add test for suspend/resume kafka consumer…
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaConsumerFullIT.java
Labels: components, components-kafka, camel-4

#14074 CAMEL-17829 read disposition-type from HttpContext
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/protocol/ResponseMDN.java
Labels: components, camel-4

#14072 Updated dependency coordinates for artifacts moved elsewhere
  components/camel-bonita/pom.xml
  components/camel-debezium/camel-debezium-mysql/pom.xml
  components/camel-debezium/camel-debezium-mysql/src/main/docs/debezium-mysql-component.adoc
  components/camel-ftp/pom.xml
  components/camel-oaipmh/pom.xml
  components/camel-openstack/pom.xml
  components/camel-platform-http-vertx/pom.xml
  components/camel-pubnub/pom.xml
  components/camel-rest-openapi/pom.xml
  components/camel-salesforce/camel-salesforce-maven-plugin/pom.xml
  components/camel-thymeleaf/pom.xml
  components/camel-xchange/pom.xml
  dsl/camel-kamelet-main/src/main/resources/camel-main-known-dependencies.properties
Labels: components, dsl, camel-4

#14077 Wiremock303
  components/camel-rest-openapi/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14078 Fix HTML route coverage report generation on Windows machines
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/CoverageResultsProcessor.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/htmlxlsx/process/FileUtil.java
Labels: catalog, camel-4

#14071 (chores) camel-jaxb: break large and complex methods
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/FallbackTypeConverter.java
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/JaxbDataFormat.java
  components/camel-jaxb/src/main/java/org/apache/camel/converter/jaxb/JaxbRestBindingJaxbDataFormatFactory.java
Labels: components, camel-4

#14067 Do not use Optional as parameters or fields
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cluster/ConsulClusterView.java
  components/camel-file/src/main/java/org/apache/camel/component/file/cluster/FileLockClusterView.java
  components/camel-infinispan/camel-infinispan-common/src/main/java/org/apache/camel/component/infinispan/cluster/InfinispanClusterView.java
  components/camel-jgroups-raft/src/main/java/org/apache/camel/component/jgroups/raft/cluster/ClusterRoleChangeListener.java
  components/camel-jgroups-raft/src/main/java/org/apache/camel/component/jgroups/raft/cluster/JGroupsRaftClusterView.java
  components/camel-jgroups/src/main/java/org/apache/camel/component/jgroups/cluster/JGroupsLockClusterView.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/cluster/KubernetesClusterView.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/utils/LeaderRecorder.java
  components/camel-lra/src/test/java/org/apache/camel/service/lra/LRASagaCoordinatorTest.java
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterConsumer.java
  components/camel-zookeeper/src/main/java/org/apache/camel/component/zookeeper/cluster/ZooKeeperClusterView.java
  core/camel-api/src/main/java/org/apache/camel/cluster/CamelClusterEventListener.java
  core/camel-cluster/src/main/java/org/apache/camel/impl/cluster/ClusteredRoutePolicy.java
  core/camel-core-model/src/main/java/org/apache/camel/model/cloud/ServiceCallServiceDiscoveryConfiguration.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/SagaReifier.java
  core/camel-core/src/test/java/org/apache/camel/cluster/ClusterServiceViewTest.java
  core/camel-core/src/test/java/org/apache/camel/cluster/ClusteredRoutePolicyFactoryTest.java
  core/camel-core/src/test/java/org/apache/camel/cluster/ClusteredRoutePolicyLeaderChangeTest.java
  core/camel-core/src/test/java/org/apache/camel/cluster/ClusteredRoutePolicyTest.java
  core/camel-core/src/test/java/org/apache/camel/cluster/ClusteredRoutePolicyUnmanagedClusterServiceTest.java
  core/camel-support/src/main/java/org/apache/camel/component/extension/verifier/ResultBuilder.java
  core/camel-support/src/main/java/org/apache/camel/saga/CamelSagaStep.java
  core/camel-support/src/main/java/org/apache/camel/support/cluster/AbstractCamelClusterView.java
Labels: components, core, camel-4

#14083 CAMEL-20722 - disabled on ppc64le due to consistent failure
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsyncCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSyncCommitManagerIT.java
Labels: components, components-kafka, camel-4

#14082 [CAMEL-20747] Migrate SpringSecurityAuthorizationPolicy to Spring 5
  components/camel-spring-security/src/main/docs/spring-security.adoc
  components/camel-spring-security/src/main/java/org/apache/camel/component/spring/security/SpringSecurityAccessPolicy.java
  components/camel-spring-security/src/main/java/org/apache/camel/component/spring/security/SpringSecurityAuthorizationPolicy.java
  components/camel-spring-security/src/main/java/org/apache/camel/component/spring/security/config/SpringSecurityAuthorizationPolicyParser.java
  components/camel-spring-security/src/main/resources/schema/camel-spring-security.xsd
  components/camel-spring-security/src/test/java/org/apache/camel/component/spring/security/config/SpringSecurityAuthorizationPolicyConfigTest.java
  components/camel-spring-security/src/test/resources/org/apache/camel/component/spring/security/SpringSecurityCamelContext.xml
  components/camel-spring-security/src/test/resources/org/apache/camel/component/spring/security/commonSecurity.xml
  components/camel-spring-security/src/test/resources/org/apache/camel/component/spring/security/config/SpringSecurityAuthorizationPolicy.xml
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  tests/camel-itest/src/test/java/org/apache/camel/itest/security/GreeterClientTest.java
  tests/camel-itest/src/test/resources/org/apache/camel/itest/security/CxfMessageCamelContext.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/security/camel-context.xml
  tests/camel-itest/src/test/resources/org/apache/camel/itest/security/commonSecurity.xml
Labels: components, docs, tests, camel-4

#14084 Camel-Pinecone: Refine metadata
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
Labels: components, catalog, camel-4

#14090 Camel-Pinecone: Refine metadata
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
Labels: components, catalog, camel-4

#14089 (chores) camel-report-maven-plugin: code cleanup
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
Labels: catalog, camel-4

#14092 CAMEL-20722: prevent certain camel-kafka tests from running on Power and s390x
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReleaseResourcesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReplayOldMessagesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorSeekIssueIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingAsyncCommitManagerIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingKafkaManualCommitRetryIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSyncCommitManagerIT.java
Labels: components, components-kafka, camel-4

#14063 Updated pom to skip build on Windows running on ARM
  components/camel-salesforce/pom.xml
Labels: components, camel-4

#14100 Revert "Updated pom to skip build on Windows running on ARM"
  components/camel-salesforce/pom.xml
Labels: components, camel-4

#14103 CAMEL-20757: camel-debug - Use the lightweight xml-io for route dumper
  components/camel-debug/pom.xml
  core/camel-management/pom.xml
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRoute.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedFromRestGetTest.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedFromRestPlaceholderTest.java
  core/camel-xml-io/src/main/java/org/apache/camel/xml/LwModelHelper.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KameletComponentBuilderFactory.java
Labels: components, core, dsl, camel-4

#14104 Upgrade parquet 1.14.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#14102 (chores) camel-file: code cleanup
  components/camel-file/src/main/java/org/apache/camel/component/file/FileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileEndpoint.java
  components/camel-file/src/main/java/org/apache/camel/component/file/FileOperations.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConsumer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileProducer.java
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileSendDynamicAware.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/FileChangedExclusiveReadLockStrategy.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/FileLockExclusiveReadLockStrategy.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/FileProcessStrategyFactory.java
  components/camel-file/src/main/java/org/apache/camel/component/file/strategy/MarkerFileExclusiveReadLockStrategy.java
Labels: components, camel-4

#14108 (chores) camel-jetty: minor adjustments to reduce flakiness on CI
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyAcceptTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyContentTypeTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyInvalidContentTypeClientRequestValidationTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyInvalidJSonClientRequestValidationTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyRequiredBodyTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyRequiredHttpHeaderTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/rest/RestJettyRequiredQueryParameterTest.java
Labels: components, camel-4

#14107 (chores) camel-jms: fix misconfigured Artemis broker instance
  components/camel-jms/src/test/resources/org/apache/camel/component/jms/integration/spring/tx/security/artemis-security.xml
Labels: components, components-jms, camel-4

#14106 debugger is created twice
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
Labels: core, docs, camel-4

#14110 Camel 20759 allow client compression before signing
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/as2.json
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ClientManager.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2MessageStructure.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/camel-as2-component/src/generated/resources/META-INF/org/apache/camel/component/as2/as2.json
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
Labels: components, catalog, docs, camel-4

#14119 (chores) camel-file: avoid using a restricted directory
  core/camel-core/src/test/java/org/apache/camel/component/file/FileProducerExpressionTest.java
Labels: core, camel-4

#14122 Camel-Pinecone: Fixed import and type of the Pinecone client
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbConfiguration.java
Labels: components, catalog, camel-4

#14123 Fix typo in LoadBalancer description
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/failoverLoadBalancer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/loadbalancer/failoverLoadBalancer.json
  core/camel-core-model/src/main/java/org/apache/camel/model/loadbalancer/FailoverLoadBalancerDefinition.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, dsl, camel-4

#14120 (chores) camel-mock: multiple code cleanups
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/dataset-test.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/dataset.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/mock.json
  components/camel-dataset/src/generated/resources/META-INF/org/apache/camel/component/dataset/dataset-test.json
  components/camel-dataset/src/generated/resources/META-INF/org/apache/camel/component/dataset/dataset.json
  components/camel-mock/src/generated/resources/META-INF/org/apache/camel/component/mock/mock.json
  components/camel-mock/src/main/java/org/apache/camel/component/mock/AssertionClause.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/InterceptSendToMockEndpointStrategy.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockComponent.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockEndpoint.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockExpressionClause.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockExpressionClauseSupport.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/MockValueBuilder.java
  components/camel-mock/src/main/java/org/apache/camel/component/mock/TimeClause.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DatasetComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DatasetTestComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MockComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DataSetEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DataSetTestEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MockEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DatasetTestUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/DatasetUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/MockUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14129 Debug jmx
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-debug/src/main/java/org/apache/camel/component/debug/CamelDebuggerFactory.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/debugger/DebuggerJmxConnectorService.java
  core/camel-main/src/generated/java/org/apache/camel/main/DebuggerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DebuggerConfigurationProperties.java
Labels: components, core, catalog, camel-4

#14144 Rerun failing tests
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#14066 Make EndpointRegistry extends Map<NormalizedEndpointUri, Endpoint>
  components/camel-rest/src/main/java/org/apache/camel/component/rest/DefaultRestRegistry.java
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-api/src/main/java/org/apache/camel/spi/EndpointRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultEndpointRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/ProvisionalEndpointRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/EndpointDevConsole.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultEndpointRegistryTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultCamelContextTest.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementLifecycleStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedEndpointRegistry.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRuntimeEndpointRegistry.java
Labels: components, core, camel-4

#14127 (chores) camel-cxf: code cleanup
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/common/CxfPayload.java
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CachedCxfPayload.java
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CxfConverter.java
  components/camel-cxf/camel-cxf-common/src/main/java/org/apache/camel/component/cxf/converter/CxfPayloadConverter.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CamelResourceProvider.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfConverter.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsComponent.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsEndpoint.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsProducer.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/DataFormatProvider.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/DefaultCxfRsBinding.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/SimpleCxfRsBinding.java
  components/camel-cxf/camel-cxf-rest/src/test/java/org/apache/camel/component/cxf/jaxrs/CxfRsStreamCacheTest.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/feature/AbstractDataFormatFeature.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/interceptors/RawMessageContentRedirectInterceptor.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfComponent.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfConsumer.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfEndpoint.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/CxfProducer.java
  components/camel-cxf/camel-cxf-soap/src/main/java/org/apache/camel/component/cxf/jaxws/DefaultCxfBinding.java
  components/camel-cxf/camel-cxf-soap/src/test/java/org/apache/camel/component/cxf/jaxws/CxfConsumerStreamCacheTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfDispatchMessageTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/CxfDispatchPayloadTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/mtom/CxfJavaMtomProducerPayloadTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/mtom/CxfMtomConsumerTest.java
  components/camel-cxf/camel-cxf-spring-soap/src/test/java/org/apache/camel/component/cxf/mtom/CxfMtomProducerPayloadModeTest.java
  components/camel-cxf/camel-cxf-spring-transport/src/test/java/org/apache/camel/component/cxf/transport/CamelDestinationTest.java
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/CamelConduit.java
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/CamelDestination.java
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/CamelOutputStream.java
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/CamelTransportFactory.java
  components/camel-cxf/camel-cxf-transport/src/main/java/org/apache/camel/component/cxf/transport/header/CxfHeaderFilterStrategy.java
Labels: components, camel-4

#14147 CAMEL-20206: split overly complex method in ValidateMojo
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
Labels: catalog, camel-4

#14145 CAMEL-20763: camel-support Handle special characters in REST templates
  core/camel-support/src/main/java/org/apache/camel/support/RestConsumerContextPathMatcher.java
  core/camel-support/src/test/java/org/apache/camel/support/RestConsumerContextPathMatcherTest.java
Labels: core, camel-4

#14155 Make incremental-build action generic
  .github/actions/incremental-build/action.yaml
  .github/actions/incremental-build/incremental-build.sh
Labels: camel-4

#14158 Ref is required when $repo/$project is specified
  .github/actions/incremental-build/action.yaml
Labels: camel-4

#14156 camel-core - Isolate some tests that are flaky on CI
  core/camel-core/src/test/java/org/apache/camel/support/jsse/FilterParametersTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/KeyManagersParametersTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/KeyStoreParametersTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/SSLContextParametersTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/SecureRandomParametersTest.java
  core/camel-core/src/test/java/org/apache/camel/support/jsse/TrustManagersParametersTest.java
  core/camel-core/src/test/resources/org/apache/camel/support/jsse/test.properties
Labels: core, camel-4

#14159 (chores) camel-base-engine: remove performance test
  core/camel-base-engine/src/test/java/org/apache/camel/impl/engine/ArrayCopyBenchmark.java
Labels: core, camel-4

#14161 Jms temp
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/amqp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jms.json
  components/camel-activemq/src/generated/java/org/apache/camel/component/activemq/ActiveMQEndpointUriFactory.java
  components/camel-activemq/src/generated/resources/META-INF/org/apache/camel/component/activemq/activemq.json
  components/camel-amqp/src/generated/java/org/apache/camel/component/amqp/AMQPEndpointUriFactory.java
  components/camel-amqp/src/generated/resources/META-INF/org/apache/camel/component/amqp/amqp.json
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsComponentConfigurer.java
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsEndpointConfigurer.java
  components/camel-jms/src/generated/java/org/apache/camel/component/jms/JmsEndpointUriFactory.java
  components/camel-jms/src/generated/resources/META-INF/org/apache/camel/component/jms/jms.json
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsComponent.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsConfiguration.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/ReplyManagerSupport.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/reply/TemporaryQueueReplyManager.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ActivemqComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AmqpComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/JmsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AMQPEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ActiveMQEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JmsEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/ActivemqUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/AmqpUriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/JmsUriDsl.kt
Labels: components, catalog, dsl, components-jms, camel-4

#14164 CAMEL-20773: camel-health - Consumer health checks should be skipped …
  core/camel-health/src/main/java/org/apache/camel/impl/health/ConsumerHealthCheck.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  docs/user-manual/modules/ROOT/pages/health-check.adoc
Labels: core, docs, camel-4

#14165 CAMEL-20768: camel-spring-redis - SpringRedisIdempotentRepository flu…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans/SpringRedisIdempotentRepository.json
  components/camel-spring-redis/src/generated/java/org/apache/camel/component/redis/processor/idempotent/SpringRedisIdempotentRepositoryConfigurer.java
  components/camel-spring-redis/src/generated/resources/META-INF/services/org/apache/camel/bean/SpringRedisIdempotentRepository.json
  components/camel-spring-redis/src/main/java/org/apache/camel/component/redis/processor/idempotent/SpringRedisIdempotentRepository.java
Labels: components, catalog, camel-4

#14168 Upgrade Camel-Kamelets for Camel-Jbang to version 4.6.0
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#14169 Fix multicast iterator to be lazy again
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/Splitter.java
  core/camel-core/src/test/java/org/apache/camel/issues/SplitterParallelWithIteratorThrowingExceptionTest.java
Labels: core, camel-4

#14163 (chores) camel-csv: test code cleanups
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvDataFormatCustomRecordConverterTest.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvMarshalTest.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvUnmarshalStreamTest.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/TestUtils.java
Labels: components, camel-4

#14175 CAMEL-20754: Support for MQTT 5 Publish Properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/paho-mqtt5.json
  components/camel-paho-mqtt5/src/generated/resources/META-INF/org/apache/camel/component/paho/mqtt5/paho-mqtt5.json
  components/camel-paho-mqtt5/src/main/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5Constants.java
  components/camel-paho-mqtt5/src/main/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5Consumer.java
  components/camel-paho-mqtt5/src/main/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5Producer.java
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/integration/PahoMqtt5ComponentMqtt5IT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PahoMqtt5EndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#14176 CAMEL-20782: disable MongoDB tests on ASF CI
  components/camel-mongodb-gridfs/src/test/java/org/apache/camel/component/mongodb/gridfs/integration/GridFsConsumerIT.java
  components/camel-mongodb-gridfs/src/test/java/org/apache/camel/component/mongodb/gridfs/integration/GridFsProducerOperationsIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbAggregateOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbBigDecimalConverterIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbBulkWriteOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbChangeStreamsConsumerIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbConnectionBeansIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbConversionsIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbCredentialsFromUriConnectionIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbDynamicityIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbExceptionHandlingIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOneAndDeleteOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOneAndReplaceOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOneAndUpdateOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOperationIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbHeaderHandlingIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbIndexIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbInsertBatchIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbOperationsIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbOutputTypeIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbReadPreferenceOptionIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbSpringDslOperationsIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbStopEndpointIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbTailableCursorConsumerIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/meta/integration/MongoDbMetaExtensionIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/processor/idempotent/integration/MongoDbIdempotentRepositoryIT.java
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/verifier/integration/MongoDbVerifierExtensionIT.java
Labels: components, camel-4

#14180 CAMEL-20778: intercept EIP should not intercept doTry/doCatch/doFinally.
  core/camel-api/src/main/java/org/apache/camel/spi/InterceptableProcessor.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultChannel.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/CatchProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/FinallyProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/TryProcessor.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/InterceptReifier.java
  core/camel-core/src/test/java/org/apache/camel/processor/intercept/InterceptDoTryCatchTest.java
Labels: core

#14179 Change aws2 kinesis record body type to byte array
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Producer.java
Labels: components, components-aws, camel-4

#14181 CAMEL-20600: camel-activemq6 for using 6.x brokers
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq6.json
  components/camel-activemq/pom.xml
  components/camel-activemq/src/generated/resources/META-INF/org/apache/camel/component/activemq/activemq.json
  components/camel-activemq/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-activemq/src/main/docs/activemq-component.adoc
  components/camel-activemq/src/main/java/org/apache/camel/component/activemq/ActiveMQEndpoint.java
  components/camel-activemq6/pom.xml
  components/camel-activemq6/src/generated/java/org/apache/camel/component/activemq6/ActiveMQComponentConfigurer.java
  components/camel-activemq6/src/generated/java/org/apache/camel/component/activemq6/ActiveMQEndpointConfigurer.java
  components/camel-activemq6/src/generated/java/org/apache/camel/component/activemq6/ActiveMQEndpointUriFactory.java
  components/camel-activemq6/src/generated/java/org/apache/camel/component/activemq6/converter/ActiveMQConverterLoader.java
  components/camel-activemq6/src/generated/java/org/apache/camel/component/activemq6/converter/ActiveMQMessageConverterLoader.java
  components/camel-activemq6/src/generated/resources/META-INF/org/apache/camel/component/activemq6/activemq6.json
  components/camel-activemq6/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-activemq6/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-activemq6/src/generated/resources/META-INF/services/org/apache/camel/component/activemq6
  components/camel-activemq6/src/generated/resources/META-INF/services/org/apache/camel/configurer/activemq6-component
  components/camel-activemq6/src/generated/resources/META-INF/services/org/apache/camel/configurer/activemq6-endpoint
  components/camel-activemq6/src/generated/resources/META-INF/services/org/apache/camel/send-dynamic/activemq6
  components/camel-activemq6/src/generated/resources/META-INF/services/org/apache/camel/urifactory/activemq6-endpoint
  components/camel-activemq6/src/main/docs/activemq6-component.adoc
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/ActiveMQComponent.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/ActiveMQConfiguration.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/ActiveMQEndpoint.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/ActiveMQQueueEndpoint.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/ActiveMQSendDynamicAware.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/ActiveMQTemporaryQueueEndpoint.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/ActiveMQTemporaryTopicEndpoint.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/OriginalDestinationPropagateStrategy.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/converter/ActiveMQConverter.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/converter/ActiveMQMessageConverter.java
  components/camel-activemq6/src/main/java/org/apache/camel/component/activemq6/converter/package.html
  components/camel-activemq6/src/test/java/org/apache/camel/component/activemq6/ActiveMQITSupport.java
  components/camel-activemq6/src/test/java/org/apache/camel/component/activemq6/ActiveMQRouteIT.java
  components/camel-activemq6/src/test/java/org/apache/camel/component/activemq6/ActiveMQToDIT.java
  components/camel-activemq6/src/test/java/org/apache/camel/component/activemq6/ActiveMQToDSendDynamicIT.java
  components/camel-activemq6/src/test/resources/log4j2-test.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/activemq6.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/activemq6-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Activemq6ComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/ActivemqComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ActiveMQEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  dsl/camel-kamelet-main/src/main/resources/camel-main-known-dependencies.properties
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/Activemq6UriDsl.kt
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/ActivemqUriDsl.kt
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#14183 CAMEL-20722 - changes to address flakiness observed on CI
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorOffUsingKafkaManualCommitIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorReleaseResourcesIT.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/KafkaBreakOnFirstErrorWithBatchUsingSyncCommitManagerIT.java
Labels: components, components-kafka, camel-4

#14194 CAMEL-20244: camel-core - Supervising route controller should default…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/spi/SupervisingRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultSupervisingRouteController.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/RouteControllerConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  docs/user-manual/modules/ROOT/pages/route-controller.adoc
Labels: core, catalog, docs, camel-4

#14182 camel-jpa - Cleanup
  components/camel-jpa/pom.xml
  components/camel-jpa/src/main/docs/jpa-component.adoc
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14197 CAMEL-20785: cleanup useless references to createCamelRegistry
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirConfigurationIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirCreateIT.java
  components/camel-fhir/camel-fhir-component/src/test/java/org/apache/camel/component/fhir/FhirSimpleIT.java
  components/camel-google/camel-google-drive/src/test/java/org/apache/camel/component/google/drive/DriveConfigurationTest.java
  components/camel-google/camel-google-mail/src/test/java/org/apache/camel/component/google/mail/GmailConfigurationTest.java
  components/camel-google/camel-google-sheets/src/test/java/org/apache/camel/component/google/sheets/SheetsConfigurationTest.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyRedeliveryTest.java
Labels: components, camel-4

#14196 (chores) camel-mail: separate test setup from execution
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailDisconnectTest.java
Labels: components, camel-4

#14199 CAMEL-20785: cleanup useless overrides
  components/camel-jira/src/test/java/org/apache/camel/component/jira/producer/DeleteIssueProducerTest.java
  components/camel-jira/src/test/java/org/apache/camel/component/jira/producer/TransitionIssueProducerTest.java
Labels: components, camel-4

#14200 CAMEL-20785: avoid tightly coupling to startCamelContext
  components/camel-cassandraql/src/test/java/org/apache/camel/processor/aggregate/cassandra/CassandraCamelCodecTest.java
  components/camel-sql/src/test/java/org/apache/camel/component/sql/stored/CallableStatementWrapperTest.java
  components/camel-sql/src/test/java/org/apache/camel/component/sql/stored/ParserTest.java
  components/camel-sql/src/test/java/org/apache/camel/processor/aggregate/jdbc/JdbcCamelCodecTest.java
Labels: components, camel-4

#14201 CAMEL-20775 - Added some tests for Hashicorp Vault and multiple engines
  components/camel-hashicorp-vault/src/test/java/org/apache/camel/component/hashicorp/vault/integration/HashicorpVaultPropertiesSourceNoEnvTestIT.java
  components/camel-hashicorp-vault/src/test/java/org/apache/camel/component/hashicorp/vault/integration/HashicorpVaultPropertiesSourceTestIT.java
Labels: components, camel-4

#14204 Jandex should be managed manually
  .github/dependabot.yml
Labels: camel-4

#14211 CAMEL-20792: Revert "camel-jpa - Cleanup (#14182)"
  components/camel-jpa/pom.xml
  components/camel-jpa/src/main/docs/jpa-component.adoc
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14213 CAMEL-20785: multiple cleanups to decouple the code
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/DebugBreakpoint.java
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/util/CamelContextTestHelper.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/DebugJUnit5Test.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/DebugNoLazyTypeConverterTest.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/DebugTest.java
  components/camel-test/camel-test-junit5/src/test/java/org/apache/camel/test/junit5/patterns/TestDebugBreakpoint.java
  components/camel-test/camel-test-spring-junit5/src/test/java/org/apache/camel/test/patterns/DebugSpringTest.java
Labels: components, camel-4

#14131 RFC: adjustments to the contributing guide
  docs/main/modules/contributing/pages/expectations.adoc
  docs/main/modules/contributing/pages/index.adoc
Labels: docs, camel-4

#14212 CAMEL-18280: Reuse AWS localstack for slower modules
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/localstack/Aws2DDBBase.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamConsumerHealthCheckIT.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/Aws2EventbridgeBase.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgeEnableRuleIT.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgePutRuleIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCheckProfileCredsIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCheckStaticCredsIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCustomClientIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeAfterRestartIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisProducerIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheckProfileCredsIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheckStaticCredsIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/Aws2S3Base.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3ConsumerIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3ConsumerIgnoreBodyIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3ConsumerIncludeBodyIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3CreateDownloadLinkOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3CreateDownloadLinkWithProvidedPresignerOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3DeleteBucketOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3GetObjectOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3GzipOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3ListObjectsOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3MultipartUploadOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3SimpleEncryptedUploadOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3SimpleUploadOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadMultipartAsyncIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadMultipartIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadOperationAsyncIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadOperationIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadS3MultipartIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3StreamUploadTimeoutIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3UploadWithUserMetadataIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheckIAMProfileCredsIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheckProfileCredsIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheckStaticCredsIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/integration/Aws2SQSBaseTest.java
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSServiceFactory.java
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/SharedNameGenerator.java
  test-infra/camel-test-infra-common/src/test/java/org/apache/camel/test/infra/common/TestEntityNameGenerator.java
Labels: components, components-aws, test-infra, camel-4

#14223 CAMEL-20795 - camel-nats - NATS Credential file support
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/nats.json
  components/camel-nats/src/generated/java/org/apache/camel/component/nats/NatsEndpointConfigurer.java
  components/camel-nats/src/generated/java/org/apache/camel/component/nats/NatsEndpointUriFactory.java
  components/camel-nats/src/generated/resources/META-INF/org/apache/camel/component/nats/nats.json
  components/camel-nats/src/main/java/org/apache/camel/component/nats/NatsConfiguration.java
  components/camel-nats/src/main/java/org/apache/camel/component/nats/NatsEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/NatsEndpointBuilderFactory.java
  dsl/camel-kotlin-api/src/generated/kotlin/org/apache/camel/kotlin/components/NatsUriDsl.kt
Labels: components, catalog, dsl, camel-4

#14228 Use latest Infinispan container image for test-infra module, 15.0.4.Final
  test-infra/camel-test-infra-infinispan/src/test/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#14233 CAMEL-20800: Revert Gson upgrade
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#14240 CI: Jenkins fixes
  Jenkinsfile
Labels: ci, camel-4

#14247 Upgrade Vault container image to version 1.16.2
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: test-infra, camel-4

#14249 Nats 2.10.16
  test-infra/camel-test-infra-nats/src/test/resources/org/apache/camel/test/infra/nats/services/container.properties
Labels: test-infra, camel-4

#14250 CAMEL-20875 allow modify unsupportedCheck temporarily
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelTestSupport.java
Labels: components, camel-4

#14268 Update jpa tests to OpenJPA 4.0.0
  components/camel-jpa/pom.xml
  components/camel-jpa/src/test/java/org/apache/camel/processor/jpa/JpaPollingConsumerLockEntityTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#14271 Opensearch 2.14.0
  components/camel-arangodb/src/main/java/org/apache/camel/component/arangodb/ArangoDbEndpoint.java
  components/camel-asterisk/src/main/java/org/apache/camel/component/asterisk/AsteriskEndpoint.java
  components/camel-debezium/camel-debezium-db2/src/main/java/org/apache/camel/component/debezium/DebeziumDb2Endpoint.java
  components/camel-debezium/camel-debezium-mongodb/src/main/java/org/apache/camel/component/debezium/DebeziumMongodbEndpoint.java
  components/camel-debezium/camel-debezium-mysql/src/main/java/org/apache/camel/component/debezium/DebeziumMySqlEndpoint.java
  components/camel-debezium/camel-debezium-oracle/src/main/java/org/apache/camel/component/debezium/DebeziumOracleEndpoint.java
  components/camel-debezium/camel-debezium-postgres/src/main/java/org/apache/camel/component/debezium/DebeziumPostgresEndpoint.java
  components/camel-debezium/camel-debezium-sqlserver/src/main/java/org/apache/camel/component/debezium/DebeziumSqlserverEndpoint.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteEndpoint.java
  components/camel-irc/src/main/java/org/apache/camel/component/irc/IrcEndpoint.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailEndpoint.java
  components/camel-milvus/src/main/java/org/apache/camel/component/milvus/MilvusEndpoint.java
  components/camel-paho/src/main/java/org/apache/camel/component/paho/PahoEndpoint.java
  components/camel-sap-netweaver/src/main/java/org/apache/camel/component/sap/netweaver/NetWeaverEndpoint.java
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbEndpoint.java
  components/camel-ssh/src/main/java/org/apache/camel/component/ssh/SshEndpoint.java
  components/camel-twilio/src/main/java/org/apache/camel/component/twilio/TwilioEndpoint.java
  components/camel-workday/src/main/java/org/apache/camel/component/workday/WorkdayEndpoint.java
  components/camel-zeebe/src/main/java/org/apache/camel/component/zeebe/ZeebeEndpoint.java
  test-infra/camel-test-infra-opensearch/src/test/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: components, test-infra, camel-4

#14270 Upgrade apache pulsar 3.2.3
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/test/resources/org/apache/camel/test/infra/pulsar/services/container.properties
Labels: test-infra, core-build-and-dependencies, camel-4

#14274 CAMEL-20798: EndpointServiceLocation on components to make it possibl…
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Endpoint.java
Labels: components, components-aws, camel-4

#14284 endpoint service registry
  core/camel-api/src/main/java/org/apache/camel/ExtendedCamelContext.java
  core/camel-api/src/main/java/org/apache/camel/spi/EndpointServiceLocation.java
  core/camel-api/src/main/java/org/apache/camel/spi/EndpointServiceRegistry.java
  core/camel-api/src/main/java/org/apache/camel/spi/ManagementAgent.java
  core/camel-api/src/main/java/org/apache/camel/spi/PluginManager.java
  core/camel-api/src/main/java/org/apache/camel/spi/RestRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultCamelContextExtension.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultEndpointServiceRegistry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/ServiceDevConsole.java
  core/camel-core-engine/src/generated/java/org/apache/camel/impl/ExtendedCamelContextConfigurer.java
  core/camel-core-xml/src/main/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBean.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/CamelOpenMBeanTypes.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedEndpointServiceRegistryMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementLifecycleStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedDynamicRouter.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedEndpointRegistry.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedEndpointServiceRegistry.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedEnricher.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedExchangeFactoryManager.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedPollEnricher.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRecipientList.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRoutingSlip.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRuntimeEndpointRegistry.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedSendDynamicProcessor.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedSendProcessor.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedWireTapProcessor.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListService.java
Labels: core, dsl, camel-4

#14275 CAMEL-20814: Publish buildinfo and provide a build container to improve release reproducibility.
  Dockerfile
  builder
  pom.xml
Labels: camel-4

#14288 Fix camel-opentelemetry test
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
Labels: components, camel-4

#14292 CAMEL-20814: only generate the buildinfo files during the release build
  pom.xml
Labels: camel-4

#14293 (chores) camel-braintree: update to support loading properties from external files
  components/camel-braintree/README.md
  components/camel-braintree/src/test/java/org/apache/camel/component/braintree/AbstractBraintreeTestSupport.java
Labels: components, camel-4

#14291 CAMEL-20821: camel-opentelemetry - Add traceProcessors boolean option
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-opentelemetry/src/generated/java/org/apache/camel/opentelemetry/OpenTelemetryTracerConfigurer.java
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/CamelOpenTelemetryTestSupport.java
  components/camel-opentelemetry/src/test/java/org/apache/camel/opentelemetry/OpenTelemetryPropagateContextTest.java
  core/camel-main/src/generated/java/org/apache/camel/main/OtelConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/OtelConfigurationProperties.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: components, core, catalog, tooling, tooling-maven, camel-4
