Repository apache/camel, pull requests merged in 2025-02, with the labels that each got.

#17009 camel-jbang-it: Fixes/Updates jbang tests
  dsl/camel-jbang/camel-jbang-it/pom.xml
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/OpenApiITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/TransformMessageITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/logback-test.xml
  test-infra/camel-test-infra-cli/pom.xml
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliService.java
Labels: dsl, test-infra, camel-4

#17010 CAMEL-21661: camel-micrometer - multiple registrations of gauge camel…
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifier.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierNamingStrategy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierNamingStrategyDefault.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierDynamicTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierNamingStrategyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierStaticTest.java
Labels: components, camel-4

#17012 (chores) camel-jetty: minor test cleanups
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/BaseJettyTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpProducerSendEmptyHeaderTest.java
Labels: components, camel-4

#17013 CAMEL-21656: camel-jms: When using disableReplyTo=true then JMSReplyT…
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsProducer.java
Labels: components, components-jms, camel-4

#17014 (chores) camel-jetty: isolate HTTPS tests to reduce flakiness
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteTest.java
Labels: components, camel-4

#17017 CAMEL-21695 Remove remaining traces of camel-k and camel-jbang-plugin-k
  bom/camel-bom/pom.xml
  core/camel-xml-io-util/src/main/java/org/apache/camel/xml/io/util/XmlStreamDetector.java
  core/camel-xml-io-util/src/main/java/org/apache/camel/xml/io/util/XmlStreamInfo.java
  docs/user-manual/modules/ROOT/nav.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang-k.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  docs/user-manual/modules/ROOT/pages/camelcontext-autoconfigure.adoc
  docs/user-manual/modules/faq/pages/how-do-i-edit-the-website.adoc
  dsl/camel-java-joor-dsl/src/main/docs/java-joor-dsl.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/bind/Bind.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/bind/PipeProvider.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/GitHubHelper.java
  dsl/camel-xml-io-dsl/src/main/docs/java-xml-io-dsl.adoc
  dsl/camel-xml-jaxb-dsl/src/main/docs/java-xml-jaxb-dsl.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeansDeserializer.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/IntegrationConfigurationPropertiesSource.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/IntegrationSourceResource.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/YamlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/ChoiceCamelKExtTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/IntegrationLoaderDependenciesTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/IntegrationLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletBindingLoaderIntegrationSpecTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletBindingLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/KameletIntegrationLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/PipeLoaderIntegrationSpecTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/PipeLoaderTest.groovy
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/support/YamlTestSupport.groovy
  parent/pom.xml
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenGav.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCatalogMojo.java
Labels: core, docs, dsl, tooling, tooling-maven, core-build-and-dependencies, camel-4

#17027 CAMEL-21699: camel-kafka - Batch consumer should not require message …
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaTransactionSynchronization.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessorFacade.java
Labels: components, components-kafka, camel-4

#17029 CAMEL-21691: camel-kafka - Add batchingIntervalMs option to trigger batch completion per interval
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaComponentConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointConfigurer.java
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaEndpointUriFactory.java
  components/camel-kafka/src/generated/resources/META-INF/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, dsl, camel-4

#16874 Camel JBang Update
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/META-INF/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/CamelQuarkusUpdate.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/CamelUpdate.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/CamelUpdateException.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/CamelUpdateMixin.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/Update.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateRun.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateListTest.java
Labels: components, components-kafka, catalog, docs, dsl, camel-4

#17032 camel-jbang-it: Change default maven local repo folder
  dsl/camel-jbang/camel-jbang-it/pom.xml
Labels: dsl, camel-4

#17030 CAMEL-21700: camel-platform-http-main - Support file uploads by default.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/main-http-server.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-platform-http-main/src/generated/resources/META-INF/org/apache/camel/dev-console/main-http-server.json
  components/camel-platform-http-main/src/generated/resources/META-INF/services/org/apache/camel/dev-console/main-http-server
  components/camel-platform-http-main/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServerDevConsole.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServer.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServerConfiguration.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServerSupport.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultStreamCachingStrategy.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MainHttpServerFactory.java
  core/camel-support/src/main/java/org/apache/camel/support/TempDirHelper.java
  core/camel-support/src/test/java/org/apache/camel/support/MessageHelperTest.java
  core/camel-support/src/test/java/org/apache/camel/support/ObjectHelperTest.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MainHttpServerFactory.java
Labels: components, core, catalog, dsl, camel-4

#17033 CAMEL-21700: camel-attachments - Fix when wrapping to AttachmentMessa…
  components/camel-attachments/src/main/java/org/apache/camel/attachment/AttachmentConverter.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/AttachmentMessage.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/DefaultAttachmentMessage.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConsumer.java
Labels: components, camel-4

#17045 CAMEL-21701: Make single file upload easy to access from message body
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
Labels: components, camel-4

#17046 camel-jbang-it: Update CRD on Camel K run
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/joke.yaml
Labels: dsl, camel-4

#17052 fixes CAMEL-21713: add endpoint url override to aws-secret-manager
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/vault/CloudTrailReloadTriggerTask.java
Labels: components, components-aws, camel-4

#17049 Sa
  components/camel-attachments/pom.xml
  components/camel-attachments/src/generated/resources/META-INF/services/org/apache/camel/simple-function-factory/camel-attachments
  components/camel-attachments/src/main/docs/attachments.adoc
  components/camel-attachments/src/main/java/org/apache/camel/attachment/Attachment.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/AttachmentExpressionBuilder.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/CSimpleAttachmentHelper.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/CamelFileDataSource.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/DefaultAttachment.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/NoSuchAttachmentException.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/SimpleAttachmentFunction.java
  components/camel-attachments/src/test/data/123.txt
  components/camel-attachments/src/test/java/org/apache/camel/attachment/SimpleAttachmentTest.java
  components/camel-csimple-joor/pom.xml
  components/camel-csimple-joor/src/main/java/org/apache/camel/language/csimple/joor/JoorCSimpleCompiler.java
  components/camel-csimple-joor/src/test/data/123.txt
  components/camel-csimple-joor/src/test/data/message1.xml
  components/camel-csimple-joor/src/test/data/message2.xml
  components/camel-csimple-joor/src/test/java/org/apache/camel/language/csimple/joor/CSimpleAttachmentsTest.java
  core/camel-api/src/main/java/org/apache/camel/spi/BeanProxyFactory.java
  core/camel-api/src/main/java/org/apache/camel/spi/SimpleLanguageFunctionFactory.java
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleCodeGenerator.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleExpressionParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimpleHelper.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/csimple/CSimplePredicateParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimplePredicateParser.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/BaseSimpleNode.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/BinaryExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/BooleanExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/CompositeNodes.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/DoubleQuoteEnd.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/DoubleQuoteStart.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/LiteralExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/LogicalExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/NullExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/NumericExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionEnd.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionStart.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleNode.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SingleQuoteEnd.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SingleQuoteStart.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/UnaryExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
  core/camel-support/src/main/java/org/apache/camel/support/builder/ExpressionBuilder.java
Labels: components, core, camel-4

#17050 CAMEL-21711: camel-core - IOConverter file/path to string should hand…
  core/camel-base/src/main/java/org/apache/camel/converter/IOConverter.java
Labels: core, camel-4

#17053 CAMEL-21706: Fix quiet mode on Kubernetes run command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelBeanDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/bind/Bind.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/Printer.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/CamelCommandBaseTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/StringPrinter.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/bind/BindObjectReferenceTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/bind/BindTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: dsl, camel-4

#17044 CAMEL-21541: Ceate Neo4j and introduce vector database support
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-ai/camel-langchain4j-embeddings/pom.xml
  components/camel-ai/camel-langchain4j-embeddings/src/test/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsComponentNeo4jTargetIT.java
  components/camel-ai/camel-neo4j/pom.xml
  components/camel-ai/camel-neo4j/src/generated/java/org/apache/camel/component/neo4j/Neo4jComponentConfigurer.java
  components/camel-ai/camel-neo4j/src/generated/java/org/apache/camel/component/neo4j/Neo4jConfigurationConfigurer.java
  components/camel-ai/camel-neo4j/src/generated/java/org/apache/camel/component/neo4j/Neo4jEndpointConfigurer.java
  components/camel-ai/camel-neo4j/src/generated/java/org/apache/camel/component/neo4j/Neo4jEndpointUriFactory.java
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/org/apache/camel/component/neo4j/neo4j.json
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/component/neo4j
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/configurer/neo4j-component
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/configurer/neo4j-endpoint
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.neo4j.Neo4jConfiguration
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/transformer/neo4j-embeddings
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/transformer/neo4j-embeddings.json
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/services/org/apache/camel/urifactory/neo4j-endpoint
  components/camel-ai/camel-neo4j/src/main/docs/langchain4j-neo4j-component.adoc
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4Operation.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4j.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jComponent.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jConfiguration.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jEndpoint.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jOperationException.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jProducer.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jSimilarityFunction.java
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/transformer/Neo4jEmbeddingDataTypeTransformer.java
  components/camel-ai/camel-neo4j/src/test/java/org/apache/camel/component/neo4j/Neo4jTestSupport.java
  components/camel-ai/camel-neo4j/src/test/java/org/apache/camel/component/neo4j/it/Neo4jNodeIT.java
  components/camel-ai/camel-neo4j/src/test/java/org/apache/camel/component/neo4j/it/Neo4jVectorEmbeddingsIT.java
  components/camel-ai/pom.xml
  docs/components/modules/ROOT/examples/json/neo4j.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/langchain4j-neo4j-component.adoc
  parent/pom.xml
  test-infra/camel-test-infra-neo4j/pom.xml
  test-infra/camel-test-infra-neo4j/src/main/java/org/apache/camel/test/infra/neo4j/common/Neo4jProperties.java
  test-infra/camel-test-infra-neo4j/src/main/java/org/apache/camel/test/infra/neo4j/services/Neo4jInfraService.java
  test-infra/camel-test-infra-neo4j/src/main/java/org/apache/camel/test/infra/neo4j/services/Neo4jLocalContainerInfraService.java
  test-infra/camel-test-infra-neo4j/src/main/java/org/apache/camel/test/infra/neo4j/services/Neo4jRemoteInfraService.java
  test-infra/camel-test-infra-neo4j/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-neo4j/src/main/resources/org/apache/camel/test/infra/neo4j/services/container.properties
  test-infra/camel-test-infra-neo4j/src/test/java/org/apache/camel/test/infra/neo4j/services/Neo4jService.java
  test-infra/camel-test-infra-neo4j/src/test/java/org/apache/camel/test/infra/neo4j/services/Neo4jServiceFactory.java
  test-infra/pom.xml
Labels: components, catalog, docs, test-infra, core-build-and-dependencies, camel-4, components-ai

#17051 [docs] Client Credentials Flow added to the list of supported OAuth authentication flow
  components/camel-salesforce/camel-salesforce-component/src/main/docs/salesforce-component.adoc
Labels: components, camel-4

#17063 Platform HTTP docs updates
  components/camel-platform-http/src/main/docs/platform-http-component.adoc
Labels: components, camel-4

#17060 extends fix of CAMEL-21713: endpoint url override to aws-secret-manager
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/vault/CloudTrailReloadTriggerTask.java
Labels: components, components-aws, camel-4

#17061 CAMEL-21716: Improve JBang Kubernetes plugin container image options
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: docs, dsl, camel-4

#17062 CAMEL-21717: camel-groovy - Make it easier to work with attachments
  components/camel-groovy/pom.xml
  components/camel-groovy/src/main/docs/groovy-language.adoc
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyExpression.java
  components/camel-groovy/src/test/data/message1.xml
  components/camel-groovy/src/test/java/org/apache/camel/language/groovy/GroovyLanguageTest.java
Labels: components, camel-4

#17065 [DOCS] Fix camel script command syntax in JBang documentation
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#17064 CAMEL-21718 : Qdrant Embedding Data transfomer for RAG results
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/qdrant-rag.json
  components/camel-ai/camel-langchain4j-embeddings/src/test/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsComponentQdrantTargetIT.java
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-rag
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/services/org/apache/camel/transformer/qdrant-rag.json
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantProducer.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/transform/QdrantReverseEmbeddingsDataTypeTransformer.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/it/QdrantComponentIT.java
Labels: components, catalog, camel-4, components-ai

#17068 CAMEL-21708: Add MimeTypeHelper with a big list of known mime-types
  catalog/camel-catalog/pom.xml
  catalog/camel-catalog/src/main/resources/mime-types.txt
  components/camel-attachments/src/main/java/org/apache/camel/attachment/CamelFileDataSource.java
  components/camel-attachments/src/test/java/org/apache/camel/attachment/SimpleAttachmentTest.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpConsumer.java
  core/camel-util/src/main/java/org/apache/camel/util/MimeTypeHelper.java
  core/camel-util/src/test/java/org/apache/camel/util/MimeTypeHelperTest.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateMimeTypeHelper.java
Labels: components, core, catalog, tooling, tooling-maven, camel-4

#17067 CAMEL-21720: Filter candidate Kubernetes cluster members by whether they are in running and ready states
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/cluster/lock/KubernetesLeadershipController.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/KubernetesClusterServiceTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/utils/LockTestServer.java
Labels: components, camel-4

#17069 fixes CAMEL-21721: azure-key-vault: fixing identity validation
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultComponent.java
  components/camel-azure/camel-azure-key-vault/src/test/java/org/apache/camel/component/azure/key/vault/KeyVaultConfigurationTest.java
Labels: components, components-azure, camel-4

#17066 camel-jbang-it: Use current uid/gid to run processes in the container
  dsl/camel-jbang/camel-jbang-it/pom.xml
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/DevModeITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  test-infra/camel-test-infra-cli/pom.xml
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliBuiltContainer.java
  test-infra/camel-test-infra-cli/src/test/resources/org/apache/camel/test/infra/cli/services/Dockerfile
Labels: dsl, test-infra, camel-4

#17073 CAMEL-21726 : Add OpenAI and HuggingFace Chat Models to create RAG Ka…
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/langchain4j/chat/HugginFaceChatLanguageModelBuilder.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/langchain4j/chat/OpenAiChatLanguageModelBuilder.java
Labels: components, camel-4

#17035 KnownDependenciesResolver to support packages
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KnownDependenciesResolver.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/download/KnownDependenciesResolverTest.java
  dsl/camel-kamelet-main/src/test/resources/camel-main-known-dependencies.properties
Labels: dsl, camel-4

#17074 camel-jbang - Upgrade to hawtio 4.3.0
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Hawtio.java
Labels: dsl, camel-4

#17089 CAMEL-21729: camel-jbang: dependency update pom.xml that can automati…
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyUpdate.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenGav.java
Labels: docs, dsl, tooling, camel-4

#17091 CAMEL-21734: camel-csv - Allow to configurer header via CsvFormat reference
  components/camel-csv/src/main/java/org/apache/camel/dataformat/csv/CsvMarshaller.java
  components/camel-csv/src/test/java/org/apache/camel/dataformat/csv/CsvMarshalHeaderFromCsvFormatTest.java
Labels: components, camel-4

#17106 Ignoring log4j2-test.xml in infinispan-common test jar
  components/camel-infinispan/camel-infinispan-embedded/src/test/resources/log4j2.component.properties
Labels: components, camel-4

#17117 Upgrade Vert.x to 4.5.13
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#17139 fix(components/platform-http-main): sanitize potential user input
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
Labels: components, camel-4

#17140 fix(camel-kubernetes): Use the namespace header in deployments operations
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/deployments/KubernetesDeploymentsProducer.java
Labels: components, camel-4

#17141 [Release 4.10.x] fix(components/platform-http-main): sanitize potential user input
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
Labels: components

#17142 fix(components/jetty-common): don't use user provided character encoding
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/CamelContinuationServlet.java
Labels: components, camel-4

#17155 [Release 4.10.x] fix(components/jetty-common): don't use user provided character encoding
  components/camel-jetty-common/src/main/java/org/apache/camel/component/jetty/CamelContinuationServlet.java
Labels: components

#17157 CAMEL-21731: Adding reference to external Open API docs
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/BeanConfig.java
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiSupport.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiLicenseInfoTest.java
  docs/user-manual/modules/ROOT/pages/rest-dsl.adoc
Labels: components, docs, camel-4

#17154 fix(components): sanitize user values before logging
  components/camel-http-common/src/main/java/org/apache/camel/http/common/DefaultHttpBinding.java
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpHelper.java
  components/camel-jetty/src/main/java/org/apache/camel/component/jetty12/AttachmentHttpBinding.java
Labels: components, camel-4

#17158 fix(camel-kubernetes): Incorrect error messages in custom resources p…
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/customresources/KubernetesCustomResourcesProducer.java
Labels: components, camel-4

#17133 CAMEL-21723: camel-jbang add edit command
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Edit.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Shell.java
Labels: dsl, camel-4

#17159 Sort update list by Maven ComparableVersion
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateList.java
Labels: dsl, camel-4

#17160 Removes second call to DefaultConfigurationConfigurer.configureVaultRefresh
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
Labels: core, camel-4

#17162 CAMEL-21735: camel-mongodb: If explicit configured with host to use, …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/mongodb.json
  components/camel-mongodb/src/generated/resources/META-INF/org/apache/camel/component/mongodb/mongodb.json
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbComponent.java
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MongoDbEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17153 [CAMEL-21740] camel-salesforce - pub/sub API corrupt replay id causes infinite resubscribe loop fix
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/PubSubApiClient.java
Labels: components, camel-4

#17116 CAMEL-21712: Add rfc8707 support to http component
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpConfiguration.java
  components/camel-http/src/main/docs/http-component.adoc
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/HttpEndpointBuilderFactory.java
Labels: components, dsl, camel-4

#17156 CAMEL-21741: Add test for MainHttpServer needs to get registered/star…
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/MainHttpServerRouteTest.java
Labels: components, camel-4

#17177 CAMEL-21748 - Upgrade to Camel-Kamelets 4.10.0 in camel-jbang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#17114 feat(components): add camel-telemetry-simple component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/telemetry-dev.json
  components/camel-telemetry-dev/pom.xml
  components/camel-telemetry-dev/src/generated/java/org/apache/camel/telemetrydev/TelemetryDevTracerConfigurer.java
  components/camel-telemetry-dev/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.telemetrydev.TelemetryDevTracer
  components/camel-telemetry-dev/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-telemetry-dev/src/generated/resources/META-INF/services/org/apache/camel/telemetry-dev-tracer
  components/camel-telemetry-dev/src/generated/resources/telemetry-dev.json
  components/camel-telemetry-dev/src/main/docs/telemetry-dev.adoc
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/DevSpanAdapter.java
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/DevTrace.java
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/DevTraceFormat.java
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/InMemoryCollector.java
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/TelemetryDevTracer.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/AsyncCXFTest.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/AsyncDirectTest.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/AsyncWiretapTest.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/DisableEndpointTest.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/EnableProcessorsTest.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/SpanPropagationTest.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/TelemetryDevTracerTest.java
  components/camel-telemetry-dev/src/test/java/org/apache/camel/telemetrydev/TelemetryDevTracerTestSupport.java
  components/camel-telemetry-dev/src/test/resources/log4j2.properties
  components/camel-telemetry/pom.xml
  components/camel-telemetry/src/main/docs/telemetry.adoc
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/TraceProcessorsInterceptStrategy.java
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/Tracer.java
  components/camel-telemetry/src/test/java/org/apache/camel/telemetry/AsyncCXFTest.java
  components/camel-telemetry/src/test/java/org/apache/camel/telemetry/AsyncDirectTest.java
  components/camel-telemetry/src/test/java/org/apache/camel/telemetry/AsyncWiretapTest.java
  components/camel-telemetry/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/java/org/apache/camel/main/TelemetryDevConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/TelemetrySimpleConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.TelemetryDevConfigurationProperties
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.TelemetrySimpleConfigurationProperties
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/MainConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/TelemetryDevConfigurationProperties.java
  docs/components/modules/others/examples/json/telemetry-dev.json
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/telemetry-dev.adoc
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: components, core, catalog, docs, tooling, tooling-maven, core-build-and-dependencies, camel-4

#17185 camel-test-infra-cli: keep kamelets version defined in the branch
  test-infra/camel-test-infra-cli/README.adoc
  test-infra/camel-test-infra-cli/src/test/resources/org/apache/camel/test/infra/cli/services/Dockerfile
Labels: test-infra, camel-4

#17082 CAMEL-21730: JBang export cannot validate route that depends on copie…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#17187 camel-jbang-it: exclude dependency tests for snapshot versions
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/DependencyListITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/InVersion.java
Labels: dsl, camel-4

#17188 camel-jbang-it: Configures repo/branch for the jbang installation
  dsl/camel-jbang/camel-jbang-it/pom.xml
Labels: dsl, camel-4

#17189 Improve KnownDependenciesResolver to load all properties files
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/KnownDependenciesResolver.java
Labels: dsl, camel-4

#17161 INFRA-26486: re-enable develocity
  .gitignore
  .mvn/develocity.xml
  .mvn/extensions.xml
Labels: camel-4

#17193 CAMEL-21662: Use absolute location of pom.xml with "camel run"
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#17191 CAMEL-21730: JBang export cannot validate route that depends on copie…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#17194 chore(doc): adding a note to explain a Kamelet calling another Kamelet
  components/camel-kamelet/src/main/docs/kamelet-component.adoc
Labels: components, camel-4

#17195 [CAMEL-21761] Use model cache for maven-resolver based downloader
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloaderImpl.java
Labels: tooling, camel-4

#17201 drill-jdbc-all shades a tons of dependencies that messes with Spring …
  components/camel-drill/pom.xml
Labels: components, camel-4

#17215 CAMEL-21767 - Camel-IBM-Secrets-manager: Add more type of secrets for create secret operation
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ibm-secrets-manager.json
  components/camel-ibm-secrets-manager/src/generated/resources/META-INF/org/apache/camel/component/ibm/secrets/manager/ibm-secrets-manager.json
  components/camel-ibm-secrets-manager/src/main/docs/ibm-secrets-manager-component.adoc
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/IBMSecretsManagerOperation.java
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/IBMSecretsManagerProducer.java
  components/camel-ibm-secrets-manager/src/test/java/org/apache/camel/component/ibm/secrets/manager/integration/operations/IBMSecretsManagerCreateKVSecretIT.java
Labels: components, catalog, camel-4

#17217 CAMEL-20367: Adds scripting with pipes test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ScriptingWithPipesITCase.java
Labels: dsl, camel-4

#17225 CAMEL-21551: added and documented stream caching processor
  core/camel-core-processor/src/main/java/org/apache/camel/processor/StreamCachingProcessor.java
  docs/user-manual/modules/ROOT/pages/stream-caching.adoc
Labels: core, docs, camel-4

#17227 Correct the artifact id of activemq6 dependency in the documentation
  components/camel-activemq6/src/main/docs/activemq6-component.adoc
Labels: components, camel-4

#17226 CAMEL-21774: camel-kafka - Add topicMustExists option so consumer can…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/java/org/apache/camel/component/kafka/KafkaComponentConfigurer.java
  components/camel-kafka/src/generated/resources/META-INF/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaComponent.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/subcription/DefaultSubscribeAdapter.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
Labels: components, components-kafka, catalog, dsl, camel-4

#17240 CAMEL-21770: Avoid closing autowired KubernetesClient
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/AbstractKubernetesEndpoint.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/properties/BasePropertiesFunction.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/secrets/vault/SecretsReloadTriggerTask.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesEndpointTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/properties/SecretReloadTest.java
Labels: components, camel-4

#17245 doc: Running a Maven or Gradle based project, improve note
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#17243 CAMEL-21755: Adjust attachments API on Message to avoid issue during routing
  components/camel-attachments/src/main/java/org/apache/camel/attachment/AttachmentConverter.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/AttachmentExpressionBuilder.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/AttachmentMap.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/AttachmentMessage.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/CSimpleAttachmentHelper.java
  components/camel-attachments/src/main/java/org/apache/camel/attachment/DefaultAttachmentMessage.java
  components/camel-jetty/src/main/java/org/apache/camel/component/jetty12/AttachmentHttpBinding.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConsumer.java
  components/camel-mail/src/main/java/org/apache/camel/component/mail/SplitAttachmentsExpression.java
  components/camel-mail/src/test/java/org/apache/camel/component/mail/MailAttachmentNamesTest.java
  components/camel-servlet/src/main/java/org/apache/camel/component/servlet/AttachmentHttpBinding.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/DefaultUndertowHttpBinding.java
  core/camel-api/src/main/java/org/apache/camel/ExchangeExtension.java
  core/camel-api/src/main/java/org/apache/camel/Message.java
  core/camel-api/src/main/java/org/apache/camel/trait/message/MessageTrait.java
  core/camel-support/src/main/java/org/apache/camel/support/AbstractExchange.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultMessage.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  core/camel-support/src/main/java/org/apache/camel/support/ExtendedExchangeExtension.java
  core/camel-support/src/main/java/org/apache/camel/support/MessageSupport.java
  core/camel-support/src/test/java/org/apache/camel/support/MessageHelperTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
Labels: components, core, docs, camel-4

#17242 CAMEL-20367: Adds camel catalog tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CamelCatalogITCase.java
Labels: dsl, camel-4

#17244 camel-jbang-it: replaces archetype generation with jbang export
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/MavenGradleITCase.java
Labels: dsl, camel-4

#17247 CAMEL-21785: Generate camel-main configurers for Kubernetes vault configuration
  core/camel-main/pom.xml
  core/camel-main/src/generated/java/org/apache/camel/main/KubernetesConfigMapVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/KubernetesVaultConfigurationConfigurer.java
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.vault.KubernetesConfigMapVaultConfiguration
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.vault.KubernetesVaultConfiguration
Labels: core, camel-4

#17248 CAMEL-20367: Adds camel debug test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CamelDebugITCase.java
Labels: dsl, camel-4

#17250 CAMEL-20367: Adds local Kamelets test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/LocalKameletsITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/user-source.kamelet.yaml
Labels: dsl, camel-4

#17249 CAMEL-21770: Avoid closing autowired KubernetesClient in ConfigmapsReloadTriggerTask
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/config_maps/vault/ConfigmapsReloadTriggerTask.java
Labels: components, camel-4

#17216 CAMEL-21710 camel-jbang-plugin-kubernetes - automatic cluster detection
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunCustomTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/log4j2.properties
Labels: docs, dsl, camel-4

#17260 CAMEL-21788: DelegatingCallback invokes completion in wrong order.
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/producer/support/DelegatingCallback.java
Labels: components, components-kafka, camel-4

#17261 CAMEL-20367: Adds stub test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandOnMqttITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ScriptingWithPipesITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/StubRoute.java
Labels: dsl, camel-4

#17264 CAMEL-21794: camel-jbang - Export bean with lazy-bean should not initialize the bean if not needed
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulRegistry.java
  core/camel-api/src/main/java/org/apache/camel/spi/Registry.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultDependencyInjectionAnnotationFactory.java
  core/camel-core/src/test/java/org/apache/camel/impl/BindToRegistrySupplierBeanInitDestroyMethodTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultRegistry.java
  core/camel-support/src/main/java/org/apache/camel/support/SimpleRegistry.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/main/java/org/apache/camel/dsl/yaml/deserializers/BeansDeserializer.java
Labels: components, core, docs, dsl, camel-4

#17263 CAMEL-21738: camel-kubernetes: Use a common approach to listing namespaced resources
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/config_maps/KubernetesConfigMapsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/cronjob/KubernetesCronJobProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/deployments/KubernetesDeploymentsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/events/KubernetesEventsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/hpa/KubernetesHPAProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/job/KubernetesJobProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/persistent_volumes_claims/KubernetesPersistentVolumesClaimsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/pods/KubernetesPodsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/replication_controllers/KubernetesReplicationControllersProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/resources_quota/KubernetesResourcesQuotaProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/secrets/KubernetesSecretsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/service_accounts/KubernetesServiceAccountsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/services/KubernetesServicesProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesConfigMapsProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesCronJobProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesDeploymentsProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesEventsProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesHPAProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesJobProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesPersistentVolumesClaimsProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesPodsProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesReplicationControllersProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesResourcesQuotaProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesSecretsProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesServiceAccountsProducerTest.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/producer/KubernetesServicesProducerTest.java
Labels: components, camel-4

#17266 Remove SlackHttpClient hacks, okhttp version is aligned, and the hack…
  components/camel-slack/pom.xml
  components/camel-slack/src/main/java/org/apache/camel/component/slack/CustomSlackHttpClient.java
  components/camel-slack/src/main/java/org/apache/camel/component/slack/SlackComponentVerifierExtension.java
  components/camel-slack/src/main/java/org/apache/camel/component/slack/SlackConsumer.java
  components/camel-slack/src/main/java/org/apache/camel/component/slack/SlackProducer.java
Labels: components, camel-4

#17267 CAMEL-21792 - camel-aws - KCL Kinesis Consumer fails with NPE when us…
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
Labels: components, components-aws

#17268 CAMEL-21792 - camel-aws - KCL Kinesis Consumer fails with NPE when us…
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
Labels: components, components-aws, camel-4

#17269 Upgrade to jboss-xnio 3.8.16.Final
  parent/pom.xml
Labels: core-build-and-dependencies

#17270 CAMEL-21588 Add indexName, collectionSimilarityMetric, dimension, cloud, and region to the configuration
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbComponentConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbConfigurationConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpointConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpointUriFactory.java
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbConfiguration.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/PineconeComponentConfigurationTest.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
  components/camel-ai/camel-pinecone/src/test/resources/pinecone_index.properties
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PineconeComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PineconeVectorDbEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4, components-ai

#17265 [CAMEL-21740] Check initial replay id validity on consumer startup
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/PubSubApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/PubSubApiClient.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/PubSubApiTest.java
Labels: components, camel-4

#17262 CAMEL-21769: camel-aws-sqs - Error is causing the sqs message to be extended forever
  components/camel-aws/camel-aws2-sqs/src/main/java/org/apache/camel/component/aws2/sqs/Sqs2Consumer.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerTest.java
Labels: components, components-aws, camel-4

#17281 CAMEL-21795 - Camel-AWS components: Adding STS dependency out of the …
  components/camel-aws/camel-aws-bedrock/pom.xml
  components/camel-aws/camel-aws-cloudtrail/pom.xml
  components/camel-aws/camel-aws-config/pom.xml
  components/camel-aws/camel-aws-secrets-manager/pom.xml
  components/camel-aws/camel-aws2-athena/pom.xml
  components/camel-aws/camel-aws2-cw/pom.xml
  components/camel-aws/camel-aws2-ddb/pom.xml
  components/camel-aws/camel-aws2-ec2/pom.xml
  components/camel-aws/camel-aws2-eks/pom.xml
  components/camel-aws/camel-aws2-eventbridge/pom.xml
  components/camel-aws/camel-aws2-iam/pom.xml
  components/camel-aws/camel-aws2-kinesis/pom.xml
  components/camel-aws/camel-aws2-kms/pom.xml
  components/camel-aws/camel-aws2-lambda/pom.xml
  components/camel-aws/camel-aws2-mq/pom.xml
  components/camel-aws/camel-aws2-msk/pom.xml
  components/camel-aws/camel-aws2-redshift/pom.xml
  components/camel-aws/camel-aws2-s3/pom.xml
  components/camel-aws/camel-aws2-ses/pom.xml
  components/camel-aws/camel-aws2-sns/pom.xml
  components/camel-aws/camel-aws2-sqs/pom.xml
  components/camel-aws/camel-aws2-step-functions/pom.xml
  components/camel-aws/camel-aws2-timestream/pom.xml
  components/camel-aws/camel-aws2-translate/pom.xml
Labels: components, components-aws, camel-4

#17282 CAMEL-21795 - Camel-AWS components: Adding STS dependency out of the …
  components/camel-aws/camel-aws-bedrock/pom.xml
  components/camel-aws/camel-aws-cloudtrail/pom.xml
  components/camel-aws/camel-aws-config/pom.xml
  components/camel-aws/camel-aws-secrets-manager/pom.xml
  components/camel-aws/camel-aws2-athena/pom.xml
  components/camel-aws/camel-aws2-cw/pom.xml
  components/camel-aws/camel-aws2-ddb/pom.xml
  components/camel-aws/camel-aws2-ec2/pom.xml
  components/camel-aws/camel-aws2-eks/pom.xml
  components/camel-aws/camel-aws2-eventbridge/pom.xml
  components/camel-aws/camel-aws2-iam/pom.xml
  components/camel-aws/camel-aws2-kinesis/pom.xml
  components/camel-aws/camel-aws2-kms/pom.xml
  components/camel-aws/camel-aws2-lambda/pom.xml
  components/camel-aws/camel-aws2-mq/pom.xml
  components/camel-aws/camel-aws2-msk/pom.xml
  components/camel-aws/camel-aws2-redshift/pom.xml
  components/camel-aws/camel-aws2-s3/pom.xml
  components/camel-aws/camel-aws2-ses/pom.xml
  components/camel-aws/camel-aws2-sns/pom.xml
  components/camel-aws/camel-aws2-sqs/pom.xml
  components/camel-aws/camel-aws2-step-functions/pom.xml
  components/camel-aws/camel-aws2-timestream/pom.xml
  components/camel-aws/camel-aws2-translate/pom.xml
Labels: components, components-aws

#17283 CAMEL-21805 - Camel-IBM-Secrets-manager: Add ListSecrets operation
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/ibm-secrets-manager.json
  components/camel-ibm-secrets-manager/src/generated/resources/META-INF/org/apache/camel/component/ibm/secrets/manager/ibm-secrets-manager.json
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/IBMSecretsManagerOperation.java
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/IBMSecretsManagerProducer.java
  components/camel-ibm-secrets-manager/src/test/java/org/apache/camel/component/ibm/secrets/manager/integration/operations/IBMSecretsManagerListSecretsIT.java
Labels: components, catalog, camel-4

#17285 CAMEL-20837: minor api adjustments
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelContextConfiguration.java
Labels: components, camel-4

#17196 CAMEL-21760: OpenID Connect & OAuth for Camel Kafka, Web, Rest
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/oauth.json
  components/camel-oauth/README.md
  components/camel-oauth/helm/Chart.yaml
  components/camel-oauth/helm/etc/camel-realm.json
  components/camel-oauth/helm/etc/keycloak.crt
  components/camel-oauth/helm/etc/keycloak.key
  components/camel-oauth/helm/etc/san.cnf
  components/camel-oauth/helm/templates/keycloak.yaml
  components/camel-oauth/helm/values-keycloak.yaml
  components/camel-oauth/pom.xml
  components/camel-oauth/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-oauth/src/generated/resources/oauth.json
  components/camel-oauth/src/main/java/org/apache/camel/oauth/AbstractOAuthProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/AuthCodeCredentials.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/ClientCredentials.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/Credentials.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/InMemorySession.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/InMemorySessionStore.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuth.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthBearerTokenProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthClientCredentialsProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthCodeFlowCallbackProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthCodeFlowParams.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthCodeFlowProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthConfig.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthException.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthFactory.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthFlowType.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthLogoutParams.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthLogoutProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthProperties.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthSession.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthSessionStore.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/TokenCredentials.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/UserCredentials.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/UserProfile.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/vertx/VertxOAuth.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/vertx/VertxOAuthFactory.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/vertx/VertxUserProfile.java
  components/camel-oauth/src/main/resources/log4j2.properties
  components/camel-oauth/src/test/java/org/apache/camel/test/oauth/AbstractKeycloakTest.java
  components/camel-oauth/src/test/java/org/apache/camel/test/oauth/KeycloakAdmin.java
  components/camel-oauth/src/test/java/org/apache/camel/test/oauth/KeycloakOAuthRestTest.java
  components/camel-oauth/src/test/java/org/apache/camel/test/oauth/KeycloakOAuthWebAppTest.java
  components/camel-oauth/src/test/java/org/apache/camel/test/oauth/SSLCertTrustTest.java
  components/camel-oauth/src/test/resources/index.html
  components/camel-oauth/src/test/resources/protected.html
  components/camel-oauth/src/test/resources/styles.css
  components/pom.xml
  docs/components/modules/others/examples/json/oauth.json
  parent/pom.xml
Labels: components, catalog, docs, core-build-and-dependencies, camel-4

#17297 Fix quotes for Camel Jbang deploy command example in documentation
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
Labels: docs, camel-4

#17301 CAMEL-21814 Add additional arguments to query actions for camel-pinecone
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PineconeVectorDbEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4, components-ai

#17300 CAMEL-21809: camel-coap - Allow to use configuration file for coap co…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coap+tcp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coap.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coaps+tcp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/coaps.json
  components/camel-coap/src/generated/java/org/apache/camel/coap/CoAPComponentConfigurer.java
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coap+tcp.json
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coap.json
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coaps+tcp.json
  components/camel-coap/src/generated/resources/META-INF/org/apache/camel/coap/coaps.json
  components/camel-coap/src/main/docs/coap-component.adoc
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPComponent.java
  components/camel-coap/src/main/java/org/apache/camel/coap/CoAPEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapTcpComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapsComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/CoapsTcpComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17296 feat(dsl): jbang export default observability services
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl, camel-4

#17298 feat(camel-salesforce): Add Event ID as header for Pub/Sub API event consumption
  components/camel-salesforce/camel-salesforce-component/src/generated/resources/META-INF/org/apache/camel/component/salesforce/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/PubSubApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceConstants.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/PubSubApiClient.java
Labels: components, camel-4

#17299 CAMEL-21806 Add host to camel-pinecone and fix possible collectionDimension NPE
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbComponentConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbConfigurationConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpointConfigurer.java
  components/camel-ai/camel-pinecone/src/generated/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpointUriFactory.java
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbConfiguration.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbEndpoint.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/PineconeComponentConfigurationTest.java
  components/camel-ai/camel-pinecone/src/test/resources/pinecone_index.properties
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PineconeComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PineconeVectorDbEndpointBuilderFactory.java
Labels: components, core, catalog, dsl, camel-4, components-ai
