Repository apache/camel, pull requests merged in 2025-09, with the labels that each got.

#19097 Handle Micro versions in camel jbang update list
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateList.java
Labels: dsl, camel-4

#19087 CAMEL-22405: simplify working with non-text media for Ai Agents
  components/camel-ai/camel-langchain4j-agent-api/src/main/java/org/apache/camel/component/langchain4j/agent/api/AiAgentBody.java
Labels: components, camel-4, components-ai

#19088 Backport CAMEL-22405: simplify working with non-text media for Ai Agents
  components/camel-ai/camel-langchain4j-agent-api/src/main/java/org/apache/camel/component/langchain4j/agent/api/AiAgentBody.java
Labels: components, components-ai

#19100 Upgrade AWS SDK to version 2.33.4
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/META-INF/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#19117 Enable ppc64le support for camel-qdrant
  components/camel-ai/camel-qdrant/pom.xml
  test-infra/camel-test-infra-qdrant/src/main/resources/org/apache/camel/test/infra/qdrant/services/container.properties
Labels: components, test-infra, camel-4, components-ai

#19119 Activemq and Activemq6 ppc64le integration tests activation
  components/camel-activemq/pom.xml
  components/camel-activemq6/pom.xml
  test-infra/camel-test-infra-artemis/src/main/resources/org/apache/camel/test/infra/artemis/services/container.properties
Labels: components, test-infra, camel-4

#19116 feat(components): google-pubsub inherit headers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-pubsub.json
  components/camel-google/camel-google-pubsub/src/generated/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpointConfigurer.java
  components/camel-google/camel-google-pubsub/src/generated/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpointUriFactory.java
  components/camel-google/camel-google-pubsub/src/generated/resources/META-INF/org/apache/camel/component/google/pubsub/google-pubsub.json
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConstants.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConsumer.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpoint.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubHeaderFilterStrategy.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubProducer.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/consumer/CamelMessageReceiver.java
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/integration/SingleExchangeRoundAllHeadersIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GooglePubsubEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#19137 [Camel 4.14.x] feat(components): google-pubsub inherit headers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-pubsub.json
  components/camel-google/camel-google-pubsub/src/generated/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpointConfigurer.java
  components/camel-google/camel-google-pubsub/src/generated/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpointUriFactory.java
  components/camel-google/camel-google-pubsub/src/generated/resources/META-INF/org/apache/camel/component/google/pubsub/google-pubsub.json
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConstants.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConsumer.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpoint.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubHeaderFilterStrategy.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubProducer.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/consumer/CamelMessageReceiver.java
  components/camel-google/camel-google-pubsub/src/test/java/org/apache/camel/component/google/pubsub/integration/SingleExchangeRoundAllHeadersIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GooglePubsubEndpointBuilderFactory.java
Labels: components, catalog, dsl

#19138 [4.14.x] CAMEL-22408: OpenAPI Description showing wrong allowable dates depending on system timezone
  components/camel-openapi-java/src/main/java/org/apache/camel/openapi/RestOpenApiSupport.java
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/RestOpenApiReaderTest.java
Labels: components

#19172 camel-ai: more typos corrections and other fixes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/neo4j.json
  components/camel-ai/camel-milvus/src/test/java/org/apache/camel/component/milvus/it/MilvusComponentIT.java
  components/camel-ai/camel-neo4j/src/generated/resources/META-INF/org/apache/camel/component/neo4j/neo4j.json
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jConfiguration.java
  components/camel-ai/camel-neo4j/src/test/java/org/apache/camel/component/neo4j/it/Neo4jNodeIT.java
  components/camel-ai/camel-neo4j/src/test/java/org/apache/camel/component/neo4j/it/Neo4jVectorEmbeddingsIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Neo4jComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Neo4jEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4, components-ai

#19196 Update undertow to 2.3.19.Final
  parent/pom.xml
Labels: core-build-and-dependencies, lts

#19173 CAMEL-22413: Explain the situation to use Kamelet EIP in the catalog
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/kamelet.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-xml-io.xsd
  core/camel-core-engine/src/main/docs/modules/eips/pages/kamelet-eip.adoc
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/kamelet.json
  core/camel-core-model/src/main/java/org/apache/camel/model/KameletDefinition.java
Labels: core, catalog, camel-4

#19207 Fix export condition for Camel Spring Boot
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
Labels: dsl, camel-4

#19210 CAMEL-22178 - Create AWS Textract component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-textract.json
  components/camel-aws/camel-aws2-textract/pom.xml
  components/camel-aws/camel-aws2-textract/src/generated/java/org/apache/camel/component/aws2/textract/Textract2ComponentConfigurer.java
  components/camel-aws/camel-aws2-textract/src/generated/java/org/apache/camel/component/aws2/textract/Textract2EndpointConfigurer.java
  components/camel-aws/camel-aws2-textract/src/generated/java/org/apache/camel/component/aws2/textract/Textract2EndpointUriFactory.java
  components/camel-aws/camel-aws2-textract/src/generated/resources/META-INF/org/apache/camel/component/aws2/textract/aws2-textract.json
  components/camel-aws/camel-aws2-textract/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-aws/camel-aws2-textract/src/generated/resources/META-INF/services/org/apache/camel/component/aws2-textract
  components/camel-aws/camel-aws2-textract/src/generated/resources/META-INF/services/org/apache/camel/configurer/aws2-textract-component
  components/camel-aws/camel-aws2-textract/src/generated/resources/META-INF/services/org/apache/camel/configurer/aws2-textract-endpoint
  components/camel-aws/camel-aws2-textract/src/generated/resources/META-INF/services/org/apache/camel/urifactory/aws2-textract-endpoint
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/Textract2Component.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/Textract2Configuration.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/Textract2Constants.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/Textract2Endpoint.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/Textract2Operations.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/Textract2Producer.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/Textract2ProducerHealthCheck.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/client/Textract2ClientFactory.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/client/Textract2InternalClient.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/client/impl/Textract2ClientIAMOptimized.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/client/impl/Textract2ClientIAMProfileOptimized.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/client/impl/Textract2ClientSessionTokenImpl.java
  components/camel-aws/camel-aws2-textract/src/main/java/org/apache/camel/component/aws2/textract/client/impl/Textract2ClientStandardImpl.java
  components/camel-aws/camel-aws2-textract/src/test/java/org/apache/camel/component/aws2/textract/AmazonAWSTextractMock.java
  components/camel-aws/camel-aws2-textract/src/test/java/org/apache/camel/component/aws2/textract/Textract2ClientFactoryTest.java
  components/camel-aws/camel-aws2-textract/src/test/java/org/apache/camel/component/aws2/textract/Textract2ProducerTest.java
  components/camel-aws/camel-aws2-textract/src/test/java/org/apache/camel/component/aws2/textract/integration/Textract2DetectTextIT.java
  components/camel-aws/camel-aws2-textract/src/test/resources/log4j2.properties
  components/camel-aws/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/aws2-textract.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2TextractComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Textract2EndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, components-aws, core-build-and-dependencies, camel-4

#19208 Add upgrade recipe tool note into relevant migration guides
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_1.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_13.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_14.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_15.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_2.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
  docs/user-manual/modules/ROOT/pages/migration-app-note.adoc
Labels: docs, camel-4

#19152 Defer Bean DataSource creation in sql and jdbc components
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jdbc.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/spring-jdbc.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sql.json
  components/camel-jdbc/src/generated/java/org/apache/camel/component/jdbc/JdbcEndpointConfigurer.java
  components/camel-jdbc/src/generated/java/org/apache/camel/component/jdbc/JdbcEndpointUriFactory.java
  components/camel-jdbc/src/generated/resources/META-INF/org/apache/camel/component/jdbc/jdbc.json
  components/camel-jdbc/src/main/java/org/apache/camel/component/jdbc/JdbcComponent.java
  components/camel-jdbc/src/main/java/org/apache/camel/component/jdbc/JdbcEndpoint.java
  components/camel-spring-parent/camel-spring-jdbc/src/generated/java/org/apache/camel/component/spring/jdbc/SpringJdbcEndpointUriFactory.java
  components/camel-spring-parent/camel-spring-jdbc/src/generated/resources/META-INF/org/apache/camel/component/spring/jdbc/spring-jdbc.json
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/SqlEndpointConfigurer.java
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/SqlEndpointUriFactory.java
  components/camel-sql/src/generated/resources/META-INF/org/apache/camel/component/sql/sql.json
  components/camel-sql/src/main/java/org/apache/camel/component/sql/DefaultSqlEndpoint.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlComponent.java
  core/camel-support/src/main/java/org/apache/camel/support/sql/DataSourceFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JdbcEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SpringJdbcEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SqlEndpointBuilderFactory.java
Labels: components, core, catalog, dsl, camel-4

#19225 fix(docs): amend wrong parameter description
  components/camel-micrometer-observability/src/main/docs/micrometer-observability.adoc
  components/camel-opentelemetry2/src/main/docs/opentelemetry2.adoc
  components/camel-telemetry-dev/src/main/docs/telemetry-dev.adoc
  components/camel-telemetry/src/main/docs/telemetry.adoc
Labels: components, camel-4

#19227 [Release 4.14.x] fix(docs): amend wrong parameter description
  components/camel-opentelemetry2/src/main/docs/opentelemetry2.adoc
  components/camel-telemetry-dev/src/main/docs/telemetry-dev.adoc
  components/camel-telemetry/src/main/docs/telemetry.adoc
Labels: components, lts

#19232 Handle micro versions of Camel Upgrade Recipes
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateList.java
Labels: dsl, camel-4

#19233 Handle micro versions of Camel Upgrade Recipes
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateList.java
Labels: dsl, lts

#19213 CAMEL-22423: ContextServicePlugin SPI - provides a plugin system for Apache Camel …
  core/camel-api/src/main/java/org/apache/camel/spi/ContextServicePlugin.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultContextServiceLoaderPlugin.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
Labels: core, camel-4

#19243 Prefix note file with underscore to prevent standalone publication
  docs/user-manual/modules/ROOT/pages/_migration-app-note.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_1.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_13.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_14.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_15.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_2.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_3.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_4.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_5.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_6.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_7.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_8.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_9.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
Labels: docs, camel-4

#19245 Align spring-*, jetty, http-* versions to the versions used in spring-boot 3.4.10
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeType.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#19246 fix(ci): exit on error
  etc/scripts/regen.sh
Labels: core-build-tooling, camel-4

#19262 CAMEL-22421: sending ACK in MSH-9.3 when receiving message structure
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/internal/Hl7Util.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerAutoAcknowledgementWithBridgeErrorHandlerTest.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerAutoAcknowledgementWithoutBridgeErrorHandlerTest.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/TcpServerConsumerAcknowledgementTestSupport.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/internal/Hl7UtilTest.java
Labels: components, camel-4

#19264 CAMEL-22420: camel-core - Detect duplicate processor ids within same …
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinitionHelper.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedDuplicateIdTest.java
Labels: core, camel-4

#19281 [4.14.x] CAMEL-22430: Make FileClusterService more resilient to split-brain scenarios
  components/camel-file/pom.xml
  components/camel-file/src/main/java/org/apache/camel/component/file/cluster/FileLockClusterLeaderInfo.java
  components/camel-file/src/main/java/org/apache/camel/component/file/cluster/FileLockClusterService.java
  components/camel-file/src/main/java/org/apache/camel/component/file/cluster/FileLockClusterUtils.java
  components/camel-file/src/main/java/org/apache/camel/component/file/cluster/FileLockClusterView.java
  components/camel-file/src/test/java/org/apache/camel/component/file/cluster/FileLockClusterUtilsTest.java
  components/camel-master/src/test/java/org/apache/camel/component/file/cluster/FileLockClusterServiceAdvancedFailoverTest.java
  components/camel-master/src/test/java/org/apache/camel/component/file/cluster/FileLockClusterServiceBasicFailoverTest.java
  components/camel-master/src/test/java/org/apache/camel/component/file/cluster/FileLockClusterServiceTestBase.java
  docs/user-manual/modules/ROOT/pages/clustering.adoc
Labels: components, docs, lts

#19310 Upgrade AWS SDK v2 to version 2.34.2
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ec2.json
  components/camel-aws/camel-aws2-ec2/src/generated/resources/META-INF/org/apache/camel/component/aws2/ec2/aws2-ec2.json
  parent/pom.xml
Labels: components, catalog, components-aws, core-build-and-dependencies, camel-4

#19312 camel-jbang: Add more tests for run and kubernetes run commands
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/route-props.properties
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/route-props.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/MountTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunCustomTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/test-configmap.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/test-multiple-config.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/test-secret.yaml
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliLocalContainerService.java
Labels: docs, dsl, test-infra, camel-4

#19322 Remove unused import
  components/camel-flink/src/main/java/org/apache/camel/component/flink/FlinkComponent.java
Labels: components, camel-4

#19320 chore: Update Maven Surefire plugin to 3.5.4 in Camel JBang export
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
Labels: dsl, camel-4

#19321 chore: Update Jolokia version to 2.3.0 in Camel JBang export
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/test/resources/pom-xml-files/springboot-pom.xml
Labels: dsl, camel-4

#19323 CAMEL-22442: camel-core - Add fallback resource resolver to load from…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultFallbackResourceResolver.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultResourceLoader.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-core/src/test/java/org/apache/camel/util/ResourceLoaderTest.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
Labels: core, dsl, camel-4

#19327 CAMEL-22453: camel-sql: Fix support for using Java String text blocks…
  components/camel-sql/src/test/java/org/apache/camel/component/sql/SqlProducerInTextBlockTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/UriAsJava17TextBlockTest.java
  core/camel-util/src/main/java/org/apache/camel/util/URISupport.java
Labels: components, core, camel-4

#19337 CAMEL-22447 - Camel-Keycloak: Adding publicKey to the access token verification
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/security/KeycloakSecurityHelper.java
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/security/KeycloakSecurityPolicy.java
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/security/KeycloakSecurityProcessor.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/security/KeycloakSecurityHelperTest.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/security/KeycloakSecurityIT.java
  components/camel-keycloak/src/test/resources/log4j2.properties
Labels: components, camel-4

#19358 CAMEL-22459 - Camel-Keycloak: Support permission based policies
  components/camel-keycloak/src/main/docs/keycloak.adoc
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/security/KeycloakSecurityHelper.java
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/security/KeycloakSecurityProcessor.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/security/KeycloakSecurityHelperTest.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/security/KeycloakSecurityIT.java
Labels: components, camel-4

#19366 CAMEL-22470 - Camel-Keycloak: Add test-infra module for Keycloak
  components/camel-keycloak/pom.xml
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/KeycloakTestInfraIT.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/security/KeycloakSecurityTestInfraIT.java
  test-infra/camel-test-infra-keycloak/pom.xml
  test-infra/camel-test-infra-keycloak/src/main/java/org/apache/camel/test/infra/keycloak/common/KeycloakProperties.java
  test-infra/camel-test-infra-keycloak/src/main/java/org/apache/camel/test/infra/keycloak/services/KeycloakInfraService.java
  test-infra/camel-test-infra-keycloak/src/main/java/org/apache/camel/test/infra/keycloak/services/KeycloakLocalContainerInfraService.java
  test-infra/camel-test-infra-keycloak/src/main/java/org/apache/camel/test/infra/keycloak/services/KeycloakRemoteInfraService.java
  test-infra/camel-test-infra-keycloak/src/main/resources/org/apache/camel/test/infra/keycloak/services/container.properties
  test-infra/camel-test-infra-keycloak/src/test/java/org/apache/camel/test/infra/keycloak/KeycloakInfraServiceTest.java
  test-infra/camel-test-infra-keycloak/src/test/java/org/apache/camel/test/infra/keycloak/services/KeycloakService.java
  test-infra/camel-test-infra-keycloak/src/test/java/org/apache/camel/test/infra/keycloak/services/KeycloakServiceFactory.java
  test-infra/pom.xml
Labels: components, test-infra, camel-4

#19372 CAMEL-22473 - added quarkus example to mail-microsoft-oath doc
  components/camel-mail-microsoft-oauth/src/main/docs/mail-microsoft-oauth.adoc
Labels: components, docs, camel-4

#19374 Camel-Keycloak: The default realm is master and should be added to th…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/keycloak.json
  components/camel-keycloak/src/generated/resources/META-INF/org/apache/camel/component/keycloak/keycloak.json
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/KeycloakConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KeycloakComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KeycloakEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#19376 [CAMEL-22414]The response stream is not cached for camel-cxf-rest pro…
  components/camel-cxf/camel-cxf-rest/src/generated/java/org/apache/camel/component/cxf/jaxrs/CxfConverterLoader.java
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfConverter.java
  components/camel-cxf/camel-cxf-rest/src/test/java/org/apache/camel/component/cxf/jaxrs/CxfRsProducerStreamCacheTest.java
Labels: components, camel-4
