Repository apache/camel, pull requests merged in 2025-07, with the labels that each got.

#18515 Upgrade Kamelets to version 4.10.6
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#18514 Remove duplicated code in Rest OpenAPI
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiComponent.java
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiProcessor.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateList.java
Labels: components, dsl, camel-4

#18507 CAMEL-22174 catch SMBRuntimeExceptions on connect and always close connection on disconnect
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbOperations.java
Labels: components, camel-4

#18519 CAMEL-22210: Add UUIDv4 option to simple uuid function
  core/camel-core-languages/src/main/docs/modules/languages/pages/simple-language.adoc
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/SimpleExpressionBuilder.java
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/impl/RandomUuidGeneratorTest.java
  core/camel-support/src/main/java/org/apache/camel/support/RandomUuidGenerator.java
  docs/user-manual/modules/ROOT/pages/uuidgenerator.adoc
Labels: core, docs, camel-4

#18398 Add camel-repackager-maven-plugin for self-executing JARs using Spring Boot loader
  dsl/camel-jbang/camel-launcher/README.md
  dsl/camel-jbang/camel-launcher/pom.xml
  tooling/maven/camel-repackager-maven-plugin/README.md
  tooling/maven/camel-repackager-maven-plugin/pom.xml
  tooling/maven/camel-repackager-maven-plugin/src/main/java/org/apache/camel/maven/RepackageMojo.java
  tooling/maven/camel-repackager-maven-plugin/src/test/java/org/apache/camel/maven/RepackageMojoTest.java
  tooling/maven/pom.xml
Labels: dsl, tooling, tooling-maven, camel-4

#18527 Expose more params for rocketmq component
  components/camel-rocketmq/src/generated/java/org/apache/camel/component/rocketmq/RocketMQComponentConfigurer.java
  components/camel-rocketmq/src/generated/java/org/apache/camel/component/rocketmq/RocketMQEndpointConfigurer.java
  components/camel-rocketmq/src/generated/java/org/apache/camel/component/rocketmq/RocketMQEndpointUriFactory.java
  components/camel-rocketmq/src/generated/resources/META-INF/org/apache/camel/component/rocketmq/rocketmq.json
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQComponent.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQConsumer.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQEndpoint.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQProducer.java
Labels: components, camel-4

#18536 CAMEL-22173 - updated Camel 4 upgrade guide according to the latest S…
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_13.adoc
Labels: docs, camel-4

#18535 CAMEL-22207: Wait for quarkus:run process to complete before performing cleanup tasks
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#18538 CAMEL-22173 - camel-salesforce: allow to configure fallbackToLatestRe…
  components/camel-salesforce/camel-salesforce-component/src/generated/java/org/apache/camel/component/salesforce/SalesforceComponentConfigurer.java
  components/camel-salesforce/camel-salesforce-component/src/generated/java/org/apache/camel/component/salesforce/SalesforceEndpointConfigurer.java
  components/camel-salesforce/camel-salesforce-component/src/generated/resources/META-INF/org/apache/camel/component/salesforce/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/PubSubApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceEndpoint.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceEndpointConfig.java
Labels: components, camel-4

#18537 CAMEL-22217: Fix potential ClassCastException in BrowseDevConsole
  core/camel-console/src/main/java/org/apache/camel/impl/console/BrowseDevConsole.java
Labels: core, camel-4

#18539 Update setBody-eip.adoc
  core/camel-core-engine/src/main/docs/modules/eips/pages/setBody-eip.adoc
Labels: core, camel-4

#18561 Upgrade Kudu to version 1.18.0
  components/camel-kudu/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#18579 Improve return to line with Camel Jbang update dependency
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyUpdate.java
Labels: dsl, camel-4

#18582 Use AsyncEmbeddedEngine replacing deprecated EmbeddedEngine for Debezium
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/src/main/java/org/apache/camel/component/debezium/configuration/EmbeddedDebeziumConfiguration.java
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/src/test/java/org/apache/camel/component/debezium/configuration/EmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-db2/src/test/java/org/apache/camel/component/debezium/db2/configuration/Db2ConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-mongodb/src/test/java/org/apache/camel/component/debezium/mongodb/configuration/MongodbConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-mysql/src/test/java/org/apache/camel/component/debezium/mysql/configuration/MySqlConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-oracle/src/test/java/org/apache/camel/component/debezium/oracle/configuration/OracleConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-postgres/src/test/java/org/apache/camel/component/debezium/postgres/configuration/PostgresConnectorEmbeddedDebeziumConfigurationTest.java
  components/camel-debezium/camel-debezium-sqlserver/src/test/java/org/apache/camel/component/debezium/sqlserver/configuration/SqlserverConnectorEmbeddedDebeziumConfigurationTest.java
Labels: components, camel-4

#18584 CAMEL-22230 - Camel-PQC: Support more signature and KEM algorithms - …
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureMAYONoAutowiredTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureSNOVANoAutowiredTest.java
Labels: components, camel-4

#18589 CAMEL-22232: Add filter option to Micrometer Dev Console
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConsole.java
Labels: components, camel-4

#18608 chore(deps): Bump org.apache.commons:commons-lang3 from 3.17.0 to 3.18.0 (#18575)
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18591 CAMEL-22235: camel-smb - SmbOperations may swallow exception and can …
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbOperations.java
Labels: components, camel-4

#18610 Upgrade jackrabbit to 2.22.1
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18609 CAMEL-22214: camel-groovy - Allow to pre-load groovy source files for shared functions and DTOs
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/groovy.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-groovy/pom.xml
  components/camel-groovy/src/generated/resources/META-INF/org/apache/camel/dev-console/groovy.json
  components/camel-groovy/src/generated/resources/META-INF/services/org/apache/camel/dev-console/groovy
  components/camel-groovy/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  components/camel-groovy/src/generated/resources/META-INF/services/org/apache/camel/groovy-script-compiler
  components/camel-groovy/src/main/docs/groovy-language.adoc
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/DefaultGroovyScriptCompiler.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyDevConsole.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyExpression.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyLanguage.java
  components/camel-groovy/src/main/java/org/apache/camel/language/groovy/GroovyScriptClassLoader.java
  components/camel-groovy/src/test/java/org/apache/camel/processor/groovy/DefaultGroovyCompilerTest.java
  components/camel-groovy/src/test/java/org/apache/camel/processor/groovy/GroovyCompilerRouteTest.java
  components/camel-groovy/src/test/java/org/apache/camel/processor/groovy/MainGroovyCompilerRouteTest.java
  components/camel-groovy/src/test/resources/camel-groovy/Cheese.groovy
  components/camel-groovy/src/test/resources/camel-groovy/Dude.groovy
  core/camel-api/src/main/java/org/apache/camel/spi/GroovyScriptCompiler.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-main/src/generated/java/org/apache/camel/main/MainConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/groovy-demo.camel.yaml
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/resources/camel-main-known-dependencies.properties
Labels: components, core, catalog, docs, dsl, camel-4

#18620 Google Drive Component: Fix error message
  components/camel-google/camel-google-drive/src/main/java/org/apache/camel/component/google/drive/BatchGoogleDriveClientFactory.java
Labels: components, camel-4

#18631 Fix Style on ListGroovy
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListGroovy.java
Labels: dsl, camel-4

#18490 Lra ppc64le integration tests activation
  components/camel-lra/pom.xml
  test-infra/camel-test-infra-microprofile-lra/src/main/resources/org/apache/camel/test/infra/microprofile/lra/services/container.properties
Labels: components, test-infra, camel-4

#18639 CAMEL-22247: Add migration notes
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_14.adoc
Labels: docs, camel-4

#18638 CAMEL-22238: Improve Camel JBang test plugin
  docs/user-manual/modules/ROOT/pages/camel-jbang-test.adoc
  dsl/camel-jbang/camel-jbang-plugin-test/src/main/java/org/apache/camel/dsl/jbang/core/commands/test/TestPlugin.java
  dsl/camel-jbang/camel-jbang-plugin-test/src/main/resources/templates/jbang-properties.tmpl
Labels: docs, dsl, camel-4

#18652 CAMEL-17339 - Avoid List<String> as configuration parameter types in …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/dapr.json
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprComponentConfigurer.java
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprEndpointConfigurer.java
  components/camel-dapr/src/generated/resources/META-INF/org/apache/camel/component/dapr/dapr.json
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConfiguration.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConfigurationOptionsProxy.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConstants.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprExchangeHeaders.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/consumer/DaprConfigurationConsumer.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprConfigurationHandler.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/consumer/DaprConfigurationConsumerTest.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/operations/DaprConfigurationTest.java
  core/camel-api/src/main/java/org/apache/camel/spi/GroovyScriptCompiler.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/DefaultPackageScanResourceResolver.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DaprComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DaprEndpointBuilderFactory.java
Labels: components, core, catalog, dsl, camel-4

#18654 CAMEL-17339 - Avoid List<String> as configuration parameter types in …
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_14.adoc
Labels: docs, camel-4

#18659 CAMEL-22251: platform-http-vertx: Fix when exchange is failed to not remove the caused excep tion which then otherwise leads to UnitOfwork seeing the exchange as completed succesfully instead of failed.
  components/camel-jetty/pom.xml
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/JettyEventNotifierTest.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSupport.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformEventNotifierTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpBasicTest.java
Labels: components, camel-4

#18642 CAMEL-22227 - Fix Camel JBang update dependency for Spring Boot and Quarkus
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyRuntime.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/RunHelper.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/DependencyUpdateTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
Labels: dsl, camel-4

#18685 CAMEL-17339 - Avoid List<String> as configuration parameter types in Endpoint configurations - Camel Consul tags
  components/camel-consul/src/main/java/org/apache/camel/component/consul/ConsulClientConfiguration.java
  components/camel-consul/src/main/java/org/apache/camel/component/consul/cloud/ConsulServiceDiscovery.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_14.adoc
Labels: components, docs, camel-4

#18683 Method.canAccess for static method should be called without instance parameter
  core/camel-support/src/main/java/org/apache/camel/support/ObjectHelper.java
Labels: core

#18698 (chores) Simplify testing tools with externally hosted models
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolMultipleCallsIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolMultipleGroupsIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolMultipleMatchingGroupsIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolNoToolsExistIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolNoToolsToBeCalledIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/ToolsHelper.java
Labels: components, camel-4, components-ai

#18699 CAMEL-22261 Reuse existing transaction if already transacted
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaProducerMultipleMessagesInTransactionWithSplitTest.java
Labels: components, components-kafka, camel-4

#18702 CAMEL-22265 camel-jbang infra run: Set the container name to a fixed name
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
  test-infra/camel-test-infra-arangodb/src/main/java/org/apache/camel/test/infra/arangodb/services/ArangoDBLocalContainerInfraService.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisAllInfraService.java
  test-infra/camel-test-infra-aws-v2/src/main/java/org/apache/camel/test/infra/aws2/services/AWSLocalContainerInfraService.java
  test-infra/camel-test-infra-azure-common/src/main/java/org/apache/camel/test/infra/azure/common/services/AzureStorageInfraService.java
  test-infra/camel-test-infra-azure-common/src/main/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
  test-infra/camel-test-infra-cassandra/src/main/java/org/apache/camel/test/infra/cassandra/services/CassandraLocalContainerInfraService.java
  test-infra/camel-test-infra-chatscript/src/main/java/org/apache/camel/test/infra/chatscript/services/ChatScriptLocalContainerInfraService.java
  test-infra/camel-test-infra-common/src/main/java/org/apache/camel/test/infra/common/services/ContainerEnvironmentUtil.java
  test-infra/camel-test-infra-couchbase/src/main/java/org/apache/camel/test/infra/couchbase/services/CouchbaseLocalContainerInfraService.java
  test-infra/camel-test-infra-couchdb/src/main/java/org/apache/camel/test/infra/couchdb/services/CouchDbLocalContainerInfraService.java
  test-infra/camel-test-infra-elasticsearch/src/main/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerInfraService.java
  test-infra/camel-test-infra-fhir/src/main/java/org/apache/camel/test/infra/fhir/services/FhirLocalContainerInfraService.java
  test-infra/camel-test-infra-google-pubsub/src/main/java/org/apache/camel/test/infra/google/pubsub/services/GooglePubSubLocalContainerInfraService.java
  test-infra/camel-test-infra-hashicorp-vault/src/main/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerInfraService.java
  test-infra/camel-test-infra-hivemq/src/main/java/org/apache/camel/test/infra/hivemq/services/AbstractLocalHiveMQService.java
  test-infra/camel-test-infra-hivemq/src/main/java/org/apache/camel/test/infra/hivemq/services/LocalHiveMQInfraService.java
  test-infra/camel-test-infra-hivemq/src/main/java/org/apache/camel/test/infra/hivemq/services/LocalHiveMQSparkplugTCKInfraService.java
  test-infra/camel-test-infra-infinispan/src/main/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerInfraService.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaInfraService.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/RedpandaInfraService.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/StrimziContainer.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/StrimziInfraService.java
  test-infra/camel-test-infra-kafka/src/main/resources/org/apache/camel/test/infra/kafka/services/container.properties
  test-infra/camel-test-infra-microprofile-lra/src/main/java/org/apache/camel/test/infra/microprofile/lra/services/MicroprofileLRALocalContainerInfraService.java
  test-infra/camel-test-infra-milvus/src/main/java/org/apache/camel/test/infra/milvus/services/MilvusLocalContainerInfraService.java
  test-infra/camel-test-infra-minio/src/main/java/org/apache/camel/test/infra/minio/services/MinioLocalContainerInfraService.java
  test-infra/camel-test-infra-mongodb/src/main/java/org/apache/camel/test/infra/mongodb/services/MongoDBLocalContainerInfraService.java
  test-infra/camel-test-infra-mosquitto/src/main/java/org/apache/camel/test/infra/mosquitto/services/MosquittoLocalContainerInfraService.java
  test-infra/camel-test-infra-nats/src/main/java/org/apache/camel/test/infra/nats/services/NatsLocalContainerInfraService.java
  test-infra/camel-test-infra-ollama/src/main/java/org/apache/camel/test/infra/ollama/services/OllamaLocalContainerInfraService.java
  test-infra/camel-test-infra-openldap/src/main/java/org/apache/camel/test/infra/openldap/services/OpenldapLocalContainerInfraService.java
  test-infra/camel-test-infra-postgres/src/main/java/org/apache/camel/test/infra/postgres/services/PostgresLocalContainerInfraService.java
  test-infra/camel-test-infra-pulsar/src/main/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerInfraService.java
  test-infra/camel-test-infra-qdrant/src/main/java/org/apache/camel/test/infra/qdrant/services/QdrantLocalContainerInfraService.java
  test-infra/camel-test-infra-rabbitmq/src/main/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQLocalContainerInfraService.java
  test-infra/camel-test-infra-redis/src/main/java/org/apache/camel/test/infra/redis/services/RedisLocalContainerInfraService.java
  test-infra/camel-test-infra-rocketmq/src/main/java/org/apache/camel/test/infra/rocketmq/services/RocketMQBrokerContainer.java
  test-infra/camel-test-infra-rocketmq/src/main/java/org/apache/camel/test/infra/rocketmq/services/RocketMQContainerInfraService.java
  test-infra/camel-test-infra-smb/src/main/java/org/apache/camel/test/infra/smb/services/SmbLocalContainerInfraService.java
  test-infra/camel-test-infra-solr/src/main/java/org/apache/camel/test/infra/solr/services/SolrLocalContainerInfraService.java
  test-infra/camel-test-infra-torchserve/src/main/java/org/apache/camel/test/infra/torchserve/services/TorchServeLocalContainerInfraService.java
  test-infra/camel-test-infra-xmpp/src/main/java/org/apache/camel/test/infra/xmpp/services/XmppLocalContainerInfraService.java
  test-infra/camel-test-infra-zookeeper/src/main/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperLocalContainerInfraService.java
Labels: dsl, test-infra, camel-4

#18711 Revert "CAMEL-22265 camel-jbang infra run: Set the container name to a fixed name"
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
  test-infra/camel-test-infra-arangodb/src/main/java/org/apache/camel/test/infra/arangodb/services/ArangoDBLocalContainerInfraService.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisAllInfraService.java
  test-infra/camel-test-infra-aws-v2/src/main/java/org/apache/camel/test/infra/aws2/services/AWSLocalContainerInfraService.java
  test-infra/camel-test-infra-azure-common/src/main/java/org/apache/camel/test/infra/azure/common/services/AzureStorageInfraService.java
  test-infra/camel-test-infra-azure-common/src/main/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
  test-infra/camel-test-infra-cassandra/src/main/java/org/apache/camel/test/infra/cassandra/services/CassandraLocalContainerInfraService.java
  test-infra/camel-test-infra-chatscript/src/main/java/org/apache/camel/test/infra/chatscript/services/ChatScriptLocalContainerInfraService.java
  test-infra/camel-test-infra-common/src/main/java/org/apache/camel/test/infra/common/services/ContainerEnvironmentUtil.java
  test-infra/camel-test-infra-couchbase/src/main/java/org/apache/camel/test/infra/couchbase/services/CouchbaseLocalContainerInfraService.java
  test-infra/camel-test-infra-couchdb/src/main/java/org/apache/camel/test/infra/couchdb/services/CouchDbLocalContainerInfraService.java
  test-infra/camel-test-infra-elasticsearch/src/main/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerInfraService.java
  test-infra/camel-test-infra-fhir/src/main/java/org/apache/camel/test/infra/fhir/services/FhirLocalContainerInfraService.java
  test-infra/camel-test-infra-google-pubsub/src/main/java/org/apache/camel/test/infra/google/pubsub/services/GooglePubSubLocalContainerInfraService.java
  test-infra/camel-test-infra-hashicorp-vault/src/main/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerInfraService.java
  test-infra/camel-test-infra-hivemq/src/main/java/org/apache/camel/test/infra/hivemq/services/AbstractLocalHiveMQService.java
  test-infra/camel-test-infra-hivemq/src/main/java/org/apache/camel/test/infra/hivemq/services/LocalHiveMQInfraService.java
  test-infra/camel-test-infra-hivemq/src/main/java/org/apache/camel/test/infra/hivemq/services/LocalHiveMQSparkplugTCKInfraService.java
  test-infra/camel-test-infra-infinispan/src/main/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerInfraService.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaInfraService.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/RedpandaInfraService.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/StrimziContainer.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/StrimziInfraService.java
  test-infra/camel-test-infra-kafka/src/main/resources/org/apache/camel/test/infra/kafka/services/container.properties
  test-infra/camel-test-infra-microprofile-lra/src/main/java/org/apache/camel/test/infra/microprofile/lra/services/MicroprofileLRALocalContainerInfraService.java
  test-infra/camel-test-infra-milvus/src/main/java/org/apache/camel/test/infra/milvus/services/MilvusLocalContainerInfraService.java
  test-infra/camel-test-infra-minio/src/main/java/org/apache/camel/test/infra/minio/services/MinioLocalContainerInfraService.java
  test-infra/camel-test-infra-mongodb/src/main/java/org/apache/camel/test/infra/mongodb/services/MongoDBLocalContainerInfraService.java
  test-infra/camel-test-infra-mosquitto/src/main/java/org/apache/camel/test/infra/mosquitto/services/MosquittoLocalContainerInfraService.java
  test-infra/camel-test-infra-nats/src/main/java/org/apache/camel/test/infra/nats/services/NatsLocalContainerInfraService.java
  test-infra/camel-test-infra-ollama/src/main/java/org/apache/camel/test/infra/ollama/services/OllamaLocalContainerInfraService.java
  test-infra/camel-test-infra-openldap/src/main/java/org/apache/camel/test/infra/openldap/services/OpenldapLocalContainerInfraService.java
  test-infra/camel-test-infra-postgres/src/main/java/org/apache/camel/test/infra/postgres/services/PostgresLocalContainerInfraService.java
  test-infra/camel-test-infra-pulsar/src/main/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerInfraService.java
  test-infra/camel-test-infra-qdrant/src/main/java/org/apache/camel/test/infra/qdrant/services/QdrantLocalContainerInfraService.java
  test-infra/camel-test-infra-rabbitmq/src/main/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQLocalContainerInfraService.java
  test-infra/camel-test-infra-redis/src/main/java/org/apache/camel/test/infra/redis/services/RedisLocalContainerInfraService.java
  test-infra/camel-test-infra-rocketmq/src/main/java/org/apache/camel/test/infra/rocketmq/services/RocketMQBrokerContainer.java
  test-infra/camel-test-infra-rocketmq/src/main/java/org/apache/camel/test/infra/rocketmq/services/RocketMQContainerInfraService.java
  test-infra/camel-test-infra-smb/src/main/java/org/apache/camel/test/infra/smb/services/SmbLocalContainerInfraService.java
  test-infra/camel-test-infra-solr/src/main/java/org/apache/camel/test/infra/solr/services/SolrLocalContainerInfraService.java
  test-infra/camel-test-infra-torchserve/src/main/java/org/apache/camel/test/infra/torchserve/services/TorchServeLocalContainerInfraService.java
  test-infra/camel-test-infra-xmpp/src/main/java/org/apache/camel/test/infra/xmpp/services/XmppLocalContainerInfraService.java
  test-infra/camel-test-infra-zookeeper/src/main/java/org/apache/camel/test/infra/zookeeper/services/ZooKeeperLocalContainerInfraService.java
Labels: dsl, test-infra, camel-4

#18712 CAMEL-22267: camel-jbang - camel infra run xxx should create log dir …
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
Labels: dsl, camel-4

#18714 Added Loop EIP test for Camel 22261
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/KafkaProducerMultipleMessagesInTransactionWithLoopTest.java
Labels: components, components-kafka, camel-4

#18721 deps: Update test container for Fhir to 8.2.0
  test-infra/camel-test-infra-fhir/src/main/resources/org/apache/camel/test/infra/fhir/services/container.properties
Labels: test-infra, camel-4

#18716 Upgrade jetty to 12.0.22
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18723 Upgrade infinispan and netty versions (spring-boot 3.5.4 alignment)
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18727 CAMEL-22273 - Google Storage Component: Content disposition header is…
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageProducer.java
Labels: components, camel-4

#18736 Use parent/pom.xml defined property for postgresql version (#18734)
  dsl/camel-yaml-dsl/camel-yaml-dsl/pom.xml
Labels: dsl, camel-4

#18735 CAMEL-22278: Improve rabbitmq producer performance
  components/camel-spring-parent/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQProducer.java
  components/camel-spring-parent/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQProducerIT.java
Labels: components, camel-4

#18737 minor: Replaced get() with getProperty() for type safety and clarity
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
Labels: dsl, camel-4

#18738 CAMEL-22278: Improve rabbitmq producer performance
  components/camel-spring-rabbitmq/src/main/java/org/apache/camel/component/springrabbit/SpringRabbitMQProducer.java
  components/camel-spring-rabbitmq/src/test/java/org/apache/camel/component/springrabbit/integration/RabbitMQProducerIT.java
Labels: components, camel-4

#18740 CAMEL-22279: camel-jbang - infra run to have --background option
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/RunHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraTest.java
Labels: dsl, camel-4

#18748 CAMEL-22283: camel-jbang - infra stop to be similar to camel stop
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraStop.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraTest.java
Labels: dsl, camel-4

#18758 [doc] Mail-microsoft-oauth: make component requirements easier to understand
  components/camel-mail-microsoft-oauth/src/main/docs/mail-microsoft-oauth.adoc
Labels: components, camel-4

#18757 CAMEL-22276: camel-http OAuth2.0 body authentication
  components/camel-http-common/src/main/java/org/apache/camel/http/common/HttpConfiguration.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpComponent.java
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpOAuth2AuthenticationTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/handler/OAuth2TokenRequestHandler.java
Labels: components, camel-4

#18755 CAMEL-22282: Removes CamelHttpPath header from http producer on bridge
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
Labels: components, camel-4

#18759 CAMEL-22282: Removes CamelHttpPath header from http producer on bridge
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
Labels: components, camel-4

#18760 chore(deps): Bump logback-version from 1.5.17 to 1.5.18 (#17495)
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18761 CAMEL-22285: camel-main/camel-jbang: Separate http user services from manament services
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-micrometer-prometheus/src/main/docs/micrometer-prometheus.adoc
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  components/camel-micrometer/src/main/docs/micrometer-component.adoc
  components/camel-observability-services/src/main/docs/observability-services.adoc
  components/camel-observability-services/src/main/resources/observability-services.properties
  components/camel-platform-http-jolokia/src/main/docs/platform-http-jolokia.adoc
  components/camel-platform-http-main/src/main/docs/platform-http-main.adoc
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/DefaultMainHttpServerFactory.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/ManagementHttpServer.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/MainHttpFakeHealthCheck.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/MainHttpServerRouteTest.java
  components/camel-platform-http-main/src/test/java/org/apache/camel/component/platform/http/main/ManagementHttpServerTest.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServer.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpConsole.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpManagementServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HttpServerConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/HttpManagementServerConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/HttpServerConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/MetricsConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_14.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListMetric.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListPlatformHttp.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/MetricsObservabilityITCase.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MainHttpServerFactory.java
Labels: components, core, catalog, docs, dsl, camel-4

#18771 Bump Opensearch container image version for test-infra to 3.1.0
  test-infra/camel-test-infra-opensearch/src/main/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: test-infra, camel-4

#18776 RabbitMQ Test infra module switch the container image version to 4.x
  test-infra/camel-test-infra-rabbitmq/src/main/resources/org/apache/camel/test/infra/rabbitmq/services/container.properties
Labels: test-infra, camel-4

#18773 CAMEL-22295: camel-core - Consumer can setup MDC with route id during…
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Endpoint.java
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/src/main/java/org/apache/camel/component/debezium/DebeziumConsumer.java
  components/camel-debezium/camel-debezium-common/camel-debezium-common-component/src/main/java/org/apache/camel/component/debezium/DebeziumEndpoint.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteConsumer.java
  components/camel-google/camel-google-pubsub-lite/src/main/java/org/apache/camel/component/google/pubsublite/GooglePubsubLiteEndpoint.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConsumer.java
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubEndpoint.java
  components/camel-hazelcast/src/main/java/org/apache/camel/component/hazelcast/queue/HazelcastQueueConsumer.java
  components/camel-hazelcast/src/main/java/org/apache/camel/component/hazelcast/queue/HazelcastQueueEndpoint.java
  components/camel-huawei/camel-huaweicloud-smn/src/main/java/org/apache/camel/component/huaweicloud/smn/SimpleNotificationEndpoint.java
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsProducer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConsumer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaEndpoint.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/AbstractKubernetesEndpoint.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/config_maps/KubernetesConfigMapsConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/customresources/KubernetesCustomResourcesConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/deployments/KubernetesDeploymentsConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/events/KubernetesEventsConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/hpa/KubernetesHPAConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/namespaces/KubernetesNamespacesConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/nodes/KubernetesNodesConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/pods/KubernetesPodsConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/replication_controllers/KubernetesReplicationControllersConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/services/KubernetesServicesConsumer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/openshift/deploymentconfigs/OpenshiftDeploymentConfigsConsumer.java
  components/camel-nats/src/main/java/org/apache/camel/component/nats/NatsConsumer.java
  components/camel-nats/src/main/java/org/apache/camel/component/nats/NatsEndpoint.java
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryInstrumentedThreadFactoryListener.java
  components/camel-pgevent/src/main/java/org/apache/camel/component/pgevent/PgEventConsumer.java
  components/camel-pgevent/src/main/java/org/apache/camel/component/pgevent/PgEventEndpoint.java
  components/camel-rocketmq/src/main/java/org/apache/camel/component/rocketmq/RocketMQProducer.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/SjmsProducer.java
  core/camel-api/src/main/java/org/apache/camel/spi/ExecutorServiceManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/BaseExecutorServiceManager.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/MDCThreadFactoryListener.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultExecutorServiceManagerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MDCRouteIdAwareTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_14.adoc
Labels: components, components-kafka, core, docs, components-aws, components-jms, camel-4

#18775 [4.10.x] Rest-openapi: avoid duplicated context paths
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/RestOpenApiEndpoint.java
Labels: components, camel-4

#18779 Weaviate ppc64le integration tests activation
  components/camel-ai/camel-weaviate/pom.xml
  test-infra/camel-test-infra-weaviate/src/main/resources/org/apache/camel/test/infra/weaviate/services/container.properties
Labels: components, test-infra, camel-4, components-ai

#18790 Upgrade Pulsar test-infra container version to 4.0.5
  test-infra/camel-test-infra-pulsar/src/main/resources/org/apache/camel/test/infra/pulsar/services/container.properties
Labels: test-infra, camel-4

#18788 CAMEL-22303: mark camel-torchserve as deprecated
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/torchserve.json
  components/camel-ai/camel-torchserve/pom.xml
  components/camel-ai/camel-torchserve/src/generated/resources/META-INF/org/apache/camel/component/torchserve/torchserve.json
  components/camel-ai/camel-torchserve/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-torchserve/src/main/docs/torchserve-component.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/TorchServeEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4, components-ai
