Repository apache/camel, pull requests merged in 2025-06, with the labels that each got.

#18244 Camel JBang: Add test for custom Quarkus version
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ExportITCase.java
Labels: dsl, camel-4

#18146 CAMEL-22096: upgrades the tokenizer to use LangChain4j 1.0.0
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/langChain4jCharacterTokenizer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/langChain4jLineTokenizer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/langChain4jParagraphTokenizer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/langChain4jSentenceTokenizer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/langChain4jWordTokenizer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-xml-io.xsd
  components/camel-ai/camel-langchain4j-tokenizer/pom.xml
  components/camel-ai/camel-langchain4j-tokenizer/src/main/docs/langchain4j-tokenizer.adoc
  components/camel-ai/camel-langchain4j-tokenizer/src/main/java/org/apache/camel/component/langchain4j/tokenizer/config/LangChain4JConfiguration.java
  components/camel-ai/camel-langchain4j-tokenizer/src/main/java/org/apache/camel/component/langchain4j/tokenizer/config/LangChain4JQwenConfiguration.java
  components/camel-ai/camel-langchain4j-tokenizer/src/main/java/org/apache/camel/component/langchain4j/tokenizer/util/SplitterUtil.java
  components/camel-ai/camel-langchain4j-tokenizer/src/test/java/org/apache/camel/component/langchain4j/tokenizer/LangChain4JLineTokenizerTest.java
  core/camel-api/src/main/java/org/apache/camel/spi/Tokenizer.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/tokenizer/langChain4jCharacterTokenizer.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/tokenizer/langChain4jLineTokenizer.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/tokenizer/langChain4jParagraphTokenizer.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/tokenizer/langChain4jSentenceTokenizer.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/tokenizer/langChain4jWordTokenizer.json
  core/camel-core-model/src/main/java/org/apache/camel/model/tokenizer/LangChain4jTokenizerDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/tokenizer/TokenizerReifier.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, core, catalog, docs, dsl, camel-4, components-ai

#18255 Fix Camel Jbang TransformTest on Windows
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/TransformTest.java
Labels: dsl, camel-4

#18254 Fix several Camel Jbang functionalities on Windows when classpath url is
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: docs, dsl, camel-4

#18257 CAMEL-22133: Fix VertxPlatformHttpServer Vertx shutdown logic
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSharedVertxTest.java
Labels: components, camel-4

#18271 [4.8.x] CAMEL-22133: Fix VertxPlatformHttpServer Vertx shutdown logic
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpServer.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngineTest.java
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpSharedVertxTest.java
Labels: components, camel-4

#18272 CAMEL-22142 camel-weaviate fixed query by vector
  components/camel-ai/camel-weaviate/src/main/java/org/apache/camel/component/weaviate/WeaviateVectorDbProducer.java
  components/camel-ai/camel-weaviate/src/test/java/org/apache/camel/component/weaviate/it/WeaviateComponentIT.java
  components/camel-ai/camel-weaviate/src/test/java/org/apache/camel/component/weaviate/it/WeaviateContainerIT.java
  core/camel-core/src/test/java/org/apache/camel/component/rest/RestProducerTest.java
Labels: components, core, camel-4, components-ai

#18273 Fix tests on Windows no taking care of end of lines in camel-core
  core/camel-core/src/test/java/org/apache/camel/processor/NestedChoiceWithEndChoiceIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/util/DumpModelAsYamlTransformChoiceRouteTest.java
Labels: core, camel-4

#18127 CAMEL-21658: Create a fat-jar launcher for Camel JBang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/Printer.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/common/PluginHelperTest.java
  dsl/camel-jbang/camel-launcher/README.md
  dsl/camel-jbang/camel-launcher/pom.xml
  dsl/camel-jbang/camel-launcher/src/examples/hello.java
  dsl/camel-jbang/camel-launcher/src/examples/simple.yaml
  dsl/camel-jbang/camel-launcher/src/main/assembly/bin.xml
  dsl/camel-jbang/camel-launcher/src/main/java/org/apache/camel/dsl/jbang/launcher/CamelLauncher.java
  dsl/camel-jbang/camel-launcher/src/main/resources/bin/camel.bat
  dsl/camel-jbang/camel-launcher/src/main/resources/bin/camel.sh
  dsl/camel-jbang/camel-launcher/src/test/java/org/apache/camel/dsl/jbang/launcher/CamelLauncherTest.java
  dsl/camel-jbang/pom.xml
Labels: dsl, camel-4

#18269 CAMEL-22137: camel-infinispan : add Infinispan annotation processor
  components/camel-infinispan/camel-infinispan/pom.xml
Labels: components, camel-4

#18286 Camel-16483 remove unwanted code
  components/camel-nats/src/main/java/org/apache/camel/component/nats/NatsConsumer.java
Labels: components, camel-4

#18305 CAMEL-22146: camel-pgevent - Re-connect in case of lost connection to…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pgevent.json
  components/camel-pgevent/pom.xml
  components/camel-pgevent/src/generated/java/org/apache/camel/component/pgevent/PgEventEndpointConfigurer.java
  components/camel-pgevent/src/generated/java/org/apache/camel/component/pgevent/PgEventEndpointUriFactory.java
  components/camel-pgevent/src/generated/resources/META-INF/org/apache/camel/component/pgevent/pgevent.json
  components/camel-pgevent/src/main/java/org/apache/camel/component/pgevent/PgEventConsumer.java
  components/camel-pgevent/src/main/java/org/apache/camel/component/pgevent/PgEventEndpoint.java
  components/camel-pgevent/src/test/java/org/apache/camel/pgevent/PgEventConsumerTest.java
  components/camel-pgevent/src/test/java/org/apache/camel/pgevent/PgEventHelperTest.java
  components/camel-pgevent/src/test/java/org/apache/camel/pgevent/PgEventProducerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PgEventEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#18309 Fix Jackson test on windows normalizing end of line in comparison
  components/camel-jackson/pom.xml
  components/camel-jackson/src/test/java/org/apache/camel/component/jackson/converter/JacksonJSonNodeConverterTest.java
Labels: components, camel-4

#18310 Fix OpenAPI test on windows normalizing end of line in comparison
  components/camel-openapi-java/pom.xml
  components/camel-openapi-java/src/test/java/org/apache/camel/openapi/ComplexTypesTest.java
Labels: components, camel-4

#18334 CAMEL-21429: camel-kafka: Upgrade test-infra to Kafka 3.9.1
  test-infra/camel-test-infra-kafka/src/main/resources/org/apache/camel/test/infra/kafka/services/container.properties
Labels: test-infra, camel-4

#18335 feat: setting span statusCode based on error indicator
  components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetrySpanAdapter.java
  components/camel-opentelemetry2/src/main/java/org/apache/camel/opentelemetry2/OpenTelemetrySpanAdapter.java
Labels: components, camel-4

#18344 Use a fixed port (default one) when running services via camel infra
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraBaseCommand.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisAllInfraService.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisContainer.java
  test-infra/camel-test-infra-aws-v2/src/main/java/org/apache/camel/test/infra/aws2/services/AWSContainer.java
  test-infra/camel-test-infra-aws-v2/src/main/java/org/apache/camel/test/infra/aws2/services/AWSLocalContainerInfraService.java
  test-infra/camel-test-infra-azure-common/src/main/java/org/apache/camel/test/infra/azure/common/services/AzureStorageInfraService.java
  test-infra/camel-test-infra-azure-common/src/main/java/org/apache/camel/test/infra/azure/common/services/AzuriteContainer.java
  test-infra/camel-test-infra-common/src/main/java/org/apache/camel/test/infra/common/services/ContainerEnvironmentUtil.java
  test-infra/camel-test-infra-couchdb/src/main/java/org/apache/camel/test/infra/couchdb/services/CouchDbLocalContainerInfraService.java
  test-infra/camel-test-infra-elasticsearch/src/main/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerInfraService.java
  test-infra/camel-test-infra-fhir/src/main/java/org/apache/camel/test/infra/fhir/services/FhirLocalContainerInfraService.java
  test-infra/camel-test-infra-google-pubsub/src/main/java/org/apache/camel/test/infra/google/pubsub/services/GooglePubSubLocalContainerInfraService.java
  test-infra/camel-test-infra-hashicorp-vault/src/main/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerInfraService.java
  test-infra/camel-test-infra-hivemq/src/main/java/org/apache/camel/test/infra/hivemq/services/LocalHiveMQSparkplugTCKInfraService.java
  test-infra/camel-test-infra-infinispan/src/main/java/org/apache/camel/test/infra/infinispan/services/InfinispanLocalContainerInfraService.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaInfraService.java
  test-infra/camel-test-infra-microprofile-lra/src/main/java/org/apache/camel/test/infra/microprofile/lra/services/MicroprofileLRALocalContainerInfraService.java
  test-infra/camel-test-infra-milvus/src/main/java/org/apache/camel/test/infra/milvus/services/MilvusLocalContainerInfraService.java
  test-infra/camel-test-infra-minio/src/main/java/org/apache/camel/test/infra/minio/services/MinioLocalContainerInfraService.java
  test-infra/camel-test-infra-mongodb/src/main/java/org/apache/camel/test/infra/mongodb/services/MongoDBLocalContainerInfraService.java
  test-infra/camel-test-infra-mosquitto/src/main/java/org/apache/camel/test/infra/mosquitto/services/MosquittoLocalContainerInfraService.java
  test-infra/camel-test-infra-nats/src/main/java/org/apache/camel/test/infra/nats/services/NatsLocalContainerInfraService.java
  test-infra/camel-test-infra-neo4j/src/main/java/org/apache/camel/test/infra/neo4j/services/Neo4jLocalContainerInfraService.java
  test-infra/camel-test-infra-ollama/src/main/java/org/apache/camel/test/infra/ollama/services/OllamaLocalContainerInfraService.java
  test-infra/camel-test-infra-openldap/src/main/java/org/apache/camel/test/infra/openldap/services/OpenLdapContainer.java
  test-infra/camel-test-infra-openldap/src/main/java/org/apache/camel/test/infra/openldap/services/OpenldapLocalContainerInfraService.java
  test-infra/camel-test-infra-opensearch/src/main/java/org/apache/camel/test/infra/opensearch/services/OpenSearchLocalContainerInfraService.java
  test-infra/camel-test-infra-pinecone/src/main/java/org/apache/camel/test/infra/pinecone/services/PineconeIndexContainer.java
  test-infra/camel-test-infra-pinecone/src/main/java/org/apache/camel/test/infra/pinecone/services/PineconeLocalContainerInfraService.java
  test-infra/camel-test-infra-postgres/src/main/java/org/apache/camel/test/infra/postgres/services/PostgresLocalContainerInfraService.java
  test-infra/camel-test-infra-pulsar/src/main/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerInfraService.java
  test-infra/camel-test-infra-qdrant/src/main/java/org/apache/camel/test/infra/qdrant/services/QdrantLocalContainerInfraService.java
  test-infra/camel-test-infra-rabbitmq/src/main/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQLocalContainerInfraService.java
  test-infra/camel-test-infra-redis/src/main/java/org/apache/camel/test/infra/redis/services/RedisContainer.java
  test-infra/camel-test-infra-redis/src/main/java/org/apache/camel/test/infra/redis/services/RedisLocalContainerInfraService.java
  test-infra/camel-test-infra-rocketmq/src/main/java/org/apache/camel/test/infra/rocketmq/services/RocketMQBrokerContainer.java
  test-infra/camel-test-infra-rocketmq/src/main/java/org/apache/camel/test/infra/rocketmq/services/RocketMQContainerInfraService.java
  test-infra/camel-test-infra-smb/src/main/java/org/apache/camel/test/infra/smb/services/SmbContainer.java
  test-infra/camel-test-infra-smb/src/main/java/org/apache/camel/test/infra/smb/services/SmbLocalContainerInfraService.java
  test-infra/camel-test-infra-solr/src/main/java/org/apache/camel/test/infra/solr/services/SolrContainer.java
  test-infra/camel-test-infra-solr/src/main/java/org/apache/camel/test/infra/solr/services/SolrLocalContainerInfraService.java
  test-infra/camel-test-infra-torchserve/src/main/java/org/apache/camel/test/infra/torchserve/services/TorchServeLocalContainerInfraService.java
  test-infra/camel-test-infra-weaviate/src/main/java/org/apache/camel/test/infra/weaviate/services/WeaviateLocalContainerInfraService.java
  test-infra/camel-test-infra-xmpp/src/main/java/org/apache/camel/test/infra/xmpp/services/XmppLocalContainerInfraService.java
  test-infra/camel-test-infra-xmpp/src/main/java/org/apache/camel/test/infra/xmpp/services/XmppServerContainer.java
Labels: dsl, test-infra, camel-4

#18355 CAMEL-22096: Upgrade Langchain4j Embedding component and Vector Data…
  components/camel-ai/camel-langchain4j-embeddings/pom.xml
  components/camel-ai/camel-milvus/pom.xml
  components/camel-ai/camel-neo4j/pom.xml
  components/camel-ai/camel-pinecone/pom.xml
  components/camel-ai/camel-qdrant/pom.xml
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/transform/QdrantEmbeddingsDataTypeTransformer.java
  components/camel-ai/camel-weaviate/pom.xml
  components/camel-infinispan/camel-infinispan/pom.xml
Labels: components, camel-4, components-ai

#18358 CAMEL-22165: camel-jbang dependency runtime (deep analysis to resolve…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyRuntime.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/RunHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CatalogLoader.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeInformation.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/DependencyRuntimeTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/pom-xml-files/main-pom.xml
Labels: dsl, camel-4

#18365 feat(components): camel-micrometer exchanges last timestamp
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConstants.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifier.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierDynamicTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierStaticTest.java
Labels: components, camel-4

#18385 Fix style in RestConfigurationDefintion
  core/camel-core-model/src/main/java/org/apache/camel/model/rest/RestConfigurationDefinition.java
Labels: core, camel-4

#18382 CAMEL-22152 - Fix test mllpTcp
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpTcpServerConsumerOptionalEndOfDataWithValidationTest.java
Labels: components, camel-4

#18383 replace deprecated doPostTearDown by cleanupResources in mllp test
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/TcpServerConsumerEndOfDataAndValidationTestSupport.java
Labels: components, camel-4

#18384 camel-smb: Align last modified timestamp in SmbConsumer with camel-file component behavior
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbConsumer.java
Labels: components, camel-4

#18387 CAMEL-22174 Catch TransportExceptions and disconnect share calls so we can recover from network outage
  components/camel-smb/src/main/java/org/apache/camel/component/smb/SmbOperations.java
Labels: components, camel-4

#18404 INFRA-26918 - Clean often corrupted folder on Jenkins
  Jenkinsfile
Labels: ci, camel-4

#18405 CAMEL-22176: camel-core - make the cache eviction blocking (4.10)
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#18412 Upgrade Langchain4j beta dependencies to 1.1.x and promote the ones m…
  components/camel-ai/camel-langchain4j-chat/pom.xml
  components/camel-ai/camel-langchain4j-tokenizer/pom.xml
  components/camel-ai/camel-langchain4j-tools/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4, components-ai

#18409 Align versions to spring-boot 3.4.7 versions
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18414 Upgrade versions to align with spring-boot 3.3.13
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18422 CAMEL-22184 - avoid IndexOutBoundException in Camel Jbang update list
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/UpdateList.java
Labels: dsl, camel-4

#18425 CAMEL-22185: camel-core: DSL to support inlined scripts using Camels …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/beanFactory.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-xml-io.xsd
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/beanFactory.json
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanFactoryDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/BeanModelHelper.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/docs/yaml-dsl.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/groovy/org/apache/camel/dsl/yaml/BeansTest.groovy
Labels: core, catalog, dsl, camel-4

#18426 Support Custom SpoolRules only case in DefaultStreamCachingStrategy.doStart()
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultStreamCachingStrategy.java
Labels: core, camel-4

#18427 INFRA-26918 - clean whole .m2 org/apache/camel on Jenkins slave
  Jenkinsfile
Labels: ci, camel-4

#18429 Upgrade Hashicorp Vault container image to version 1.19.5
  test-infra/camel-test-infra-hashicorp-vault/src/main/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: test-infra, camel-4

#18467 CAMEL-22193 - Camel-fury renamed to camel-fory: add migration note
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_13.adoc
Labels: docs, camel-4

#18332 camel-jbang edit plugin display extra information on camel options
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/CamelNanoLspEditor.java
Labels: dsl, camel-4

#18468 Upgrade Vert.x to 4.5.16
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18410 generate-schema Camel CLI command
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-plugin-generate/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/CodeSchemaGenerator.java
  dsl/camel-jbang/camel-jbang-plugin-generate/src/main/java/org/apache/camel/dsl/jbang/core/commands/generate/GeneratePlugin.java
  parent/pom.xml
Labels: docs, dsl, core-build-and-dependencies, camel-4

#18494 CAMEL-22206: Do not use BackOff but BackgroundTask for reconnector
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/master.json
  components/camel-master/src/generated/java/org/apache/camel/component/master/MasterComponentConfigurer.java
  components/camel-master/src/generated/resources/META-INF/org/apache/camel/component/master/master.json
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterComponent.java
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterConsumer.java
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterEndpoint.java
  components/camel-master/src/test/java/org/apache/camel/component/master/MasterComponentTest.java
  components/camel-pgevent/src/main/java/org/apache/camel/component/pgevent/PgEventConsumer.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/consumer/SimpleMessageListenerContainer.java
  core/camel-support/src/main/java/org/apache/camel/support/task/BackgroundTask.java
  core/camel-support/src/main/java/org/apache/camel/support/task/BlockingTask.java
  core/camel-support/src/main/java/org/apache/camel/support/task/ForegroundTask.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MasterComponentBuilderFactory.java
Labels: components, core, catalog, dsl, components-jms, camel-4

#18483 CAMEL-22204: Fix iif expression parsing for Strings
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
Labels: core, camel-4

#18496 CAMEL-22204: Fix iif expression parsing for Strings
  core/camel-core-languages/src/main/java/org/apache/camel/language/simple/ast/SimpleFunctionExpression.java
  core/camel-core/src/test/java/org/apache/camel/language/simple/SimpleTest.java
Labels: core, camel-4
