Repository apache/camel, pull requests merged in 2025-10, with the labels that each got.

#19389 CAMEL-22480: fix using endpoint URIs with property placeholders in co…
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/PollReifier.java
  core/camel-core/src/test/java/org/apache/camel/component/properties/PropertyPlaceholderWithQuestionSignTest.java
  core/camel-support/src/main/java/org/apache/camel/support/EndpointHelper.java
Labels: core, camel-4

#19386 chore(doc): camel-mdc notes
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_15.adoc
  docs/user-manual/modules/ROOT/pages/mdc.adoc
Labels: docs, camel-4

#19391 CAMEL-22475: Camel LangChain4j Agent: custom tools feature
  components/camel-ai/camel-langchain4j-agent-api/src/main/java/org/apache/camel/component/langchain4j/agent/api/AgentConfiguration.java
  components/camel-ai/camel-langchain4j-agent-api/src/main/java/org/apache/camel/component/langchain4j/agent/api/AgentWithMemory.java
  components/camel-ai/camel-langchain4j-agent-api/src/main/java/org/apache/camel/component/langchain4j/agent/api/AgentWithoutMemory.java
  components/camel-ai/camel-langchain4j-agent/src/main/docs/langchain4j-agent-component.adoc
  components/camel-ai/camel-langchain4j-agent/src/test/java/org/apache/camel/component/langchain4j/agent/integration/LangChain4jAgentCustomToolsIT.java
  components/camel-ai/camel-langchain4j-agent/src/test/java/org/apache/camel/component/langchain4j/agent/integration/LangChain4jAgentMixedToolsIT.java
  components/camel-ai/camel-langchain4j-agent/src/test/java/org/apache/camel/component/langchain4j/agent/pojos/CalculatorTool.java
  components/camel-ai/camel-langchain4j-agent/src/test/java/org/apache/camel/component/langchain4j/agent/pojos/StringTool.java
  components/camel-ai/camel-langchain4j-agent/src/test/java/org/apache/camel/component/langchain4j/agent/pojos/WeatherTool.java
Labels: components, camel-4, components-ai

#19388 Upgrade Maven wrapper to 3.3.4 with Maven 3.9.11 in Camel JBang export
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/maven-wrapper.jar
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/maven-wrapper.properties
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/mvnw
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/mvnw.cmd
Labels: dsl, camel-4

#19405 Avoid rolledbackonly transaction during idempotent table creation
  components/camel-sql/src/main/java/org/apache/camel/processor/idempotent/jdbc/JdbcMessageIdRepository.java
Labels: components, camel-4

#19407 feat(core): scan .properties in cloud configuration
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/test/java/org/apache/camel/main/MainPropertyPlaceholderTest.java
  core/camel-main/src/test/resources/k8s/etc/camel/conf.d/_configmaps/my.properties
  core/camel-main/src/test/resources/k8s/etc/camel/conf.d/_secrets/my.properties
Labels: core, camel-4

#19406 CAMEL-22487 - Camel-Keycloak: Create a Consumer for user and admin ev…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/keycloak.json
  components/camel-keycloak/src/generated/java/org/apache/camel/component/keycloak/KeycloakComponentConfigurer.java
  components/camel-keycloak/src/generated/java/org/apache/camel/component/keycloak/KeycloakEndpointConfigurer.java
  components/camel-keycloak/src/generated/java/org/apache/camel/component/keycloak/KeycloakEndpointUriFactory.java
  components/camel-keycloak/src/generated/resources/META-INF/org/apache/camel/component/keycloak/keycloak.json
  components/camel-keycloak/src/main/docs/keycloak-component.adoc
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/KeycloakConfiguration.java
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/KeycloakConstants.java
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/KeycloakConsumer.java
  components/camel-keycloak/src/main/java/org/apache/camel/component/keycloak/KeycloakEndpoint.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/KeycloakComponentTest.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/KeycloakConsumerIT.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/KeycloakConsumerTest.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/KeycloakProducerIT.java
  components/camel-keycloak/src/test/java/org/apache/camel/component/keycloak/KeycloakProducerTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KeycloakComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KeycloakEndpointBuilderFactory.java
  test-infra/camel-test-infra-keycloak/pom.xml
  test-infra/camel-test-infra-keycloak/src/main/java/org/apache/camel/test/infra/keycloak/services/KeycloakInfraService.java
  test-infra/camel-test-infra-keycloak/src/main/java/org/apache/camel/test/infra/keycloak/services/KeycloakLocalContainerInfraService.java
  test-infra/camel-test-infra-keycloak/src/main/java/org/apache/camel/test/infra/keycloak/services/KeycloakRemoteInfraService.java
Labels: components, catalog, dsl, test-infra, camel-4

#19409 CAMEL-22484 camel-jbang-kubernetes fails to deploy to openshift when using custom GAV
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#19424 Avoid rolledbackonly transaction during idempotent table creation
  components/camel-sql/src/main/java/org/apache/camel/processor/idempotent/jdbc/JdbcMessageIdRepository.java
Labels: components, lts

#19425 Backport camel-jbang fixes to 4.14.x CAMEL-22456 CAMEL-22455 CAMEL-22484
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJibTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainJkubeTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunCustomTest.java
Labels: dsl, lts

#19403 Backport CAMEL-22485
  core/camel-api/src/main/java/org/apache/camel/spi/ContextServicePlugin.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultContextServiceLoaderPlugin.java
Labels: core, lts

#19445 CAMEL-22412: Add langchain4j-embeddingstore to camel-catalog
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/langchain4j-embeddingstore.json
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Langchain4jEmbeddingstoreComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/LangChain4jEmbeddingStoreEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: core, catalog, dsl, tooling, tooling-maven, camel-4

#19453 CAMEL-22499: Add missing spring-boot-name in components documentation…
  components/camel-activemq6/src/main/docs/activemq6-component.adoc
  components/camel-aws/camel-aws-config/src/main/docs/aws-config-component.adoc
  components/camel-azure/camel-azure-files/src/main/docs/azure-files-component.adoc
  components/camel-clickup/src/main/docs/clickup-component.adoc
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
  components/camel-mdc/src/main/docs/mdc.adoc
  components/camel-opentelemetry2/src/main/docs/opentelemetry2.adoc
  components/camel-whatsapp/src/main/docs/whatsapp-component.adoc
Labels: components, components-aws, components-azure, camel-4

#19469 Upgrade Milo version to 1.0.6
  components/camel-milo/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#19471 CAMEL-22494: camel-as2 - When a route is stopped then the listener sh…
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ServerConnection.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ServerManager.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/NotFoundHttpRequestHandler.java
  components/camel-as2/camel-as2-component/pom.xml
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Consumer.java
Labels: components, camel-4

#19479 CAMEL-22508 - Camel-PQC: Add more KEM and Signature algorithms
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pqc.json
  components/camel-pqc/src/generated/resources/META-INF/org/apache/camel/component/pqc/pqc.json
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCConfiguration.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCKeyEncapsulationAlgorithms.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCSignatureAlgorithms.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/PQCDefaultHSSMaterial.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/PQCDefaultXMSSMTMaterial.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/kem/PQCDefaultSNTRUPrimeMaterial.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSNTRUPrimeGenerateEncapsulationAESTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureHSSTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureXMSSMTTest.java
Labels: components, catalog, camel-4

#19463 fix(components): micrometer observability assert Instant
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/AsyncCXFTest.java
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/AsyncDirectTest.java
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/AsyncTest.java
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/AsyncWiretapTest.java
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/DisableEndpointTest.java
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/EnableProcessorsTest.java
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/MicrometerObservabilityTracerPropagationTestSupport.java
  components/camel-micrometer-observability/src/test/java/org/apache/camel/micrometer/observability/MicrometerObservabilityTracerTest.java
Labels: components, camel-4
