Repository apache/camel, pull requests merged in 2025-01, with the labels that each got.

#16662 CAMEL-17881 TLS for MLLP Component
  bom/camel-bom/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/mllp.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-debezium/camel-debezium-oracle/src/generated/java/org/apache/camel/component/debezium/oracle/configuration/OracleConnectorEmbeddedDebeziumConfiguration.java
  components/camel-mllp/src/generated/java/org/apache/camel/component/mllp/MllpComponentConfigurer.java
  components/camel-mllp/src/generated/java/org/apache/camel/component/mllp/MllpEndpointConfigurer.java
  components/camel-mllp/src/generated/java/org/apache/camel/component/mllp/MllpEndpointUriFactory.java
  components/camel-mllp/src/generated/resources/META-INF/org/apache/camel/component/mllp/mllp.json
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpComponent.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpConfiguration.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpEndpoint.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpTcpClientProducer.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/MllpTcpServerConsumer.java
  components/camel-mllp/src/main/java/org/apache/camel/component/mllp/internal/TcpServerBindThread.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpEndpointTest.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpGlobalAndExplicitSSLContextParametersTest.java
  components/camel-mllp/src/test/java/org/apache/camel/component/mllp/MllpSSLContextParametersTest.java
  components/camel-mllp/src/test/resources/keystore.jks
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/stored/template/generated/SSPTParserConstants.java
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/stored/template/generated/SSPTParserTokenManager.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/MllpComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MllpEndpointBuilderFactory.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: components, catalog, dsl, camel-4

#16680 Updated year in NOTICE
  NOTICE.txt
Labels: camel-4

#16681 CAMEL-20686 change File tests for incorrectly shared resources - set 8
  core/camel-core/src/test/java/org/apache/camel/component/file/AntPathMatcherGenericFileFilterTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/BeanToFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/DirectoryCreateIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileAbsolutePathIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileBrowsableEndpointTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeBackoffMultiplierTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeCharsetTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeDoneFileIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeDynamicDoneFileNameWithTwoDotsTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeHiddenDirsTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeMaxMessagesPerPollTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeMoveRelativeNameTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerBeginRenameStrategyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileToFileNioLowBufferTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FilerConsumerMoveFailedDoneFileNameTest.java
Labels: core, camel-4

#16685 chore: align jython-standalone version with jython version
  components/camel-robotframework/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16687 CAMEL-21250: camel-report-maven-plugin - Can we cover anonymous route…
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/RouteCoverageMojo.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/helper/RouteCoverageHelper.java
  catalog/camel-route-parser/src/main/java/org/apache/camel/parser/model/CoverageData.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/RouteCoverageXmlParser.java
Labels: core, catalog, camel-4

#16688 [CAMEL-21581]: Enable ppc64le support for hashicorp-vault tests with dynamic container image selection
  components/camel-hashicorp-vault/pom.xml
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/common/HashicorpVaultProperties.java
  test-infra/camel-test-infra-hashicorp-vault/src/test/java/org/apache/camel/test/infra/hashicorp/vault/services/HashicorpVaultLocalContainerService.java
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: components, test-infra, camel-4

#16690 CAMEL-21580: camel-core: Fix rare potential ConcurrentModificationExc…
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultFluentProducerTemplate.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultProducerTemplate.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/ProducerTemplateResultProcessor.java
Labels: core, camel-4

#16701 CAMEL-21438: disable unreliable test on s390x
  components/camel-infinispan/camel-infinispan-embedded/src/test/java/org/apache/camel/component/infinispan/embedded/InfinispanEmbeddedClusteredConsumerTest.java
Labels: components, camel-4

#16689 fixes CAMEL-21582, makes microprofiles properties loadable
  components/camel-microprofile/camel-microprofile-config/src/main/java/org/apache/camel/component/microprofile/config/CamelMicroProfilePropertiesSource.java
Labels: components, camel-4

#16699 CAMEL-21586: Create a OpenAI Embedding Model builder acting as Java B…
  components/camel-kamelet/pom.xml
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/langchain4j/embeddings/OpenAiEmbeddingModelBuilder.java
Labels: components, camel-4

#16700 CAMEL-21560: Create a HugginFace Embedding Model builder acting as Ja…
  components/camel-kamelet/pom.xml
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/langchain4j/embeddings/HuggingFaceEmbeddingModelBuilder.java
Labels: components, camel-4

#16705 CAMEL-21585: do not override containers in tests
  components/camel-mongodb/src/test/java/org/apache/camel/component/mongodb/integration/MongoDbFindOperationIT.java
Labels: components, camel-4

#16707 CAMEL-21352: smb update housekeeping
  components/camel-smb/src/test/java/org/apache/camel/component/smb/FromSmbFileSortByExpressionIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/FromSmbRemoteFileFilterDirectoryIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/FromSmbRemoteFileFilterIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/FromSmbRemoteFileSorterIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbConsumerDirectoriesNotMatchedIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbConsumerExcludeExtIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbConsumerExcludeNameIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbConsumerIdempotentKeyChangedIssueIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbConsumerIncludeExtIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbRecursiveMaxDepthIT.java
  components/camel-smb/src/test/java/org/apache/camel/component/smb/SmbRecursiveMinDepthIT.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
Labels: components, docs, camel-4

#16718 CAMEL-21595: avoid an NPE if the model decides not to call any tool
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsProducer.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolNoToolsExistIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolNoToolsToBeCalledIT.java
Labels: components, camel-4

#16704 CAMEL-21576: container pulling adjustments
  components/camel-pg-replication-slot/src/test/java/org/apache/camel/component/pg/replication/slot/integration/PgReplicationITSupport.java
  components/camel-pulsar/pom.xml
  test-infra/camel-test-infra-arangodb/src/test/resources/org/apache/camel/test/infra/arangodb/services/container.properties
  test-infra/camel-test-infra-aws-v2/src/test/resources/org/apache/camel/test/infra/aws2/services/container.properties
  test-infra/camel-test-infra-cassandra/src/test/java/org/apache/camel/test/infra/cassandra/services/CassandraLocalContainerService.java
  test-infra/camel-test-infra-cassandra/src/test/resources/org/apache/camel/test/infra/cassandra/services/container.properties
  test-infra/camel-test-infra-chatscript/src/test/resources/org/apache/camel/test/infra/chatscript/services/container.properties
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliBuiltContainer.java
  test-infra/camel-test-infra-consul/src/test/resources/org/apache/camel/test/infra/consul/services/container.properties
  test-infra/camel-test-infra-couchbase/src/test/java/org/apache/camel/test/infra/couchbase/services/CouchbaseLocalContainerService.java
  test-infra/camel-test-infra-couchbase/src/test/resources/org/apache/camel/test/infra/couchbase/services/container.properties
  test-infra/camel-test-infra-couchdb/src/test/resources/org/apache/camel/test/infra/couchdb/services/container.properties
  test-infra/camel-test-infra-fhir/src/test/resources/org/apache/camel/test/infra/fhir/services/container.properties
  test-infra/camel-test-infra-hashicorp-vault/src/test/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
  test-infra/camel-test-infra-hivemq/src/test/java/org/apache/camel/test/infra/hivemq/services/LocalHiveMQSparkplugTCKService.java
  test-infra/camel-test-infra-hivemq/src/test/resources/org/apache/camel/test/infra/hivemq/services/Dockerfile
  test-infra/camel-test-infra-hivemq/src/test/resources/org/apache/camel/test/infra/hivemq/services/container.properties
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalAuthKafkaService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/ContainerLocalKafkaService.java
  test-infra/camel-test-infra-kafka/src/test/resources/org/apache/camel/test/infra/kafka/services/container.properties
  test-infra/camel-test-infra-milvus/src/test/resources/org/apache/camel/test/infra/milvus/services/container.properties
  test-infra/camel-test-infra-minio/src/test/resources/org/apache/camel/test/infra/minio/services/container.properties
  test-infra/camel-test-infra-mongodb/src/test/resources/org/apache/camel/test/infra/mongodb/services/container.properties
  test-infra/camel-test-infra-mosquitto/src/test/resources/org/apache/camel/test/infra/mosquitto/services/container.properties
  test-infra/camel-test-infra-nats/src/test/resources/org/apache/camel/test/infra/nats/services/container.properties
  test-infra/camel-test-infra-ollama/src/test/resources/org/apache/camel/test/infra/ollama/services/container.properties
  test-infra/camel-test-infra-openldap/src/test/resources/org/apache/camel/test/infra/openldap/services/container.properties
  test-infra/camel-test-infra-opensearch/src/test/resources/org/apache/camel/test/infra/opensearch/services/container.properties
  test-infra/camel-test-infra-postgres/src/test/resources/org/apache/camel/test/infra/postgres/services/container.properties
  test-infra/camel-test-infra-pulsar/src/test/java/org/apache/camel/test/infra/pulsar/services/PulsarLocalContainerService.java
  test-infra/camel-test-infra-pulsar/src/test/resources/org/apache/camel/test/infra/pulsar/services/container.properties
  test-infra/camel-test-infra-qdrant/src/test/java/org/apache/camel/test/infra/qdrant/services/QdrantLocalContainerService.java
  test-infra/camel-test-infra-qdrant/src/test/resources/org/apache/camel/test/infra/qdrant/services/container.properties
  test-infra/camel-test-infra-rabbitmq/src/test/java/org/apache/camel/test/infra/rabbitmq/services/RabbitMQLocalContainerService.java
  test-infra/camel-test-infra-rabbitmq/src/test/resources/org/apache/camel/test/infra/rabbitmq/services/container.properties
  test-infra/camel-test-infra-redis/src/test/resources/org/apache/camel/test/infra/redis/services/container.properties
  test-infra/camel-test-infra-rocketmq/src/test/resources/org/apache/camel/test/infra/rocketmq/services/container.properties
  test-infra/camel-test-infra-smb/src/test/resources/org/apache/camel/test/infra/smb/services/Dockerfile
  test-infra/camel-test-infra-solr/src/test/resources/org/apache/camel/test/infra/solr/services/container.properties
  test-infra/camel-test-infra-tensorflow-serving/src/test/resources/org/apache/camel/test/infra/tensorflow/serving/services/container.properties
  test-infra/camel-test-infra-torchserve/src/test/resources/org/apache/camel/test/infra/torchserve/services/container.properties
  test-infra/camel-test-infra-xmpp/src/test/resources/org/apache/camel/test/infra/xmpp/services/container.properties
  test-infra/camel-test-infra-zookeeper/src/test/resources/org/apache/camel/test/infra/zookeeper/services/container.properties
Labels: components, test-infra, camel-4

#16723 CAMEL-21518: Add capability to set elasticsearch-rest-client operation via a header
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/src/generated/resources/META-INF/org/apache/camel/component/elasticsearch/rest/client/elasticsearch-rest-client.json
  components/camel-elasticsearch-rest-client/src/main/docs/elasticsearch-rest-client-component.adoc
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticSearchRestClientConstant.java
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientEndpoint.java
  components/camel-elasticsearch-rest-client/src/main/java/org/apache/camel/component/elasticsearch/rest/client/ElasticsearchRestClientProducer.java
  components/camel-elasticsearch-rest-client/src/test/java/org/apache/camel/component/elasticsearch/rest/client/integration/ElasticsearchRestClientComponentIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ElasticsearchRestClientEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16724 CAMEL-21593: camel-aws-ses - Add support for RawMessage as Camel mess…
  components/camel-aws/camel-aws2-ses/src/main/java/org/apache/camel/component/aws2/ses/Ses2Producer.java
Labels: components, components-aws, camel-4

#16719 Backport CAMEL-21595
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsProducer.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolNoToolsExistIT.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolNoToolsToBeCalledIT.java
Labels: components, camel-4

#16720 CAMEL-21278 : Camel Jbang Kubernetes plugin - add builders to model
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/OpenApiTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/AddonsBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/CamelBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/ContainerBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/EnvironmentBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/IngressBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/KnativeBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/KnativeServiceBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/MountBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/OpenapiBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/RouteBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/ServiceBindingBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/ServiceBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/TraitsBuilder.java
Labels: dsl, camel-4

#16733 Downgrade amazon-kinesis-client to 2.6.0
  .github/dependabot.yml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16731 CAMEL-21278 : Camel Jbang Kubernetes plugin - add builders to model
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/OpenApiTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/AddonsBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/CamelBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/ContainerBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/EnvironmentBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/IngressBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/KnativeBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/KnativeServiceBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/MountBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/OpenapiBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/RouteBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/ServiceBindingBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/ServiceBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/TraitsBuilder.java
Labels: dsl, camel-4

#16702 CAMEL-21589: Enable manual acks mqtt5
  components/camel-paho-mqtt5/src/generated/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5ComponentConfigurer.java
  components/camel-paho-mqtt5/src/generated/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5EndpointConfigurer.java
  components/camel-paho-mqtt5/src/generated/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5EndpointUriFactory.java
  components/camel-paho-mqtt5/src/generated/resources/META-INF/org/apache/camel/component/paho/mqtt5/paho-mqtt5.json
  components/camel-paho-mqtt5/src/main/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5Configuration.java
  components/camel-paho-mqtt5/src/main/java/org/apache/camel/component/paho/mqtt5/PahoMqtt5Consumer.java
  components/camel-paho-mqtt5/src/test/java/org/apache/camel/component/paho/mqtt5/integration/PahoMqtt5ManualAcksIT.java
Labels: components, camel-4

#16732 CAMEL-21596 : Camel Qdrant: Add similariry search feature
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/qdrant.json
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantComponentConfigurer.java
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantConfigurationConfigurer.java
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantEndpointConfigurer.java
  components/camel-ai/camel-qdrant/src/generated/java/org/apache/camel/component/qdrant/QdrantEndpointUriFactory.java
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/org/apache/camel/component/qdrant/qdrant.json
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantAction.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantConfiguration.java
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/QdrantProducer.java
  components/camel-ai/camel-qdrant/src/test/java/org/apache/camel/component/qdrant/it/QdrantComponentIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/QdrantComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/QdrantEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16748 solr ppc64le integration tests activation
  components/camel-solr/pom.xml
  test-infra/camel-test-infra-solr/src/test/java/org/apache/camel/test/infra/solr/services/SolrContainer.java
Labels: components, test-infra, camel-4

#16751 Upgrade logback-version to 1.5.16
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16750 CAMEL-21509: Upgrade kubernetes-client to 7.0.1
  components/camel-kubernetes/pom.xml
  components/camel-kubernetes/src/generated/java/io/fabric8/kubernetes/client/ConfigFluentImplConfigurer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/deployments/KubernetesDeploymentsProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/replication_controllers/KubernetesReplicationControllersProducer.java
  components/camel-kubernetes/src/main/java/org/apache/camel/component/openshift/deploymentconfigs/OpenshiftDeploymentConfigsProducer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/cluster/utils/LockTestServer.java
  components/camel-kubernetes/src/test/java/org/apache/camel/component/kubernetes/consumer/integration/KubernetesEventsConsumerIT.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  parent/pom.xml
Labels: components, dsl, core-build-and-dependencies, camel-4

#16752 fixed 3 wrong wordings
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#16762 CAMEL-21569 - Bump Chicory to 1.0.0
  components/camel-wasm/pom.xml
  components/camel-wasm/src/main/java/org/apache/camel/component/wasm/WasmProducer.java
  components/camel-wasm/src/main/java/org/apache/camel/language/wasm/WasmExpression.java
  components/camel-wasm/src/main/java/org/apache/camel/wasm/WasmFunction.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16763 CAMEL-21606 - Camel route validation mojo fails if it depends on external sources without cleaning the target folder
  catalog/camel-report-maven-plugin/src/main/java/org/apache/camel/maven/ValidateMojo.java
Labels: catalog, camel-4

#16771 Remove API changes in test-infra decouple refactor
  components/camel-aws/camel-aws-config/src/test/java/org/apache/camel/component/aws/config/integration/AWSConfigBase.java
  components/camel-aws/camel-aws-secrets-manager/src/test/java/org/apache/camel/component/aws/secretsmanager/integration/AwsSecretsManagerBaseTest.java
  components/camel-aws/camel-aws2-cw/src/test/java/org/apache/camel/component/aws2/cw/integration/Aws2CwBase.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/localstack/Aws2DDBBase.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddbstream/Ddb2StreamConsumerHealthCheckIT.java
  components/camel-aws/camel-aws2-ec2/src/test/java/org/apache/camel/component/aws2/ec2/integration/Aws2EC2Base.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/Aws2EventbridgeBase.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgePutEventsIT.java
  components/camel-aws/camel-aws2-iam/src/test/java/org/apache/camel/component/aws2/iam/integration/Aws2IAMBase.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCheckProfileCredsIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCheckStaticCredsIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/Kinesis2ConsumerHealthCustomClientIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisConsumerResumeIT.java
  components/camel-aws/camel-aws2-kinesis/src/test/java/org/apache/camel/component/aws2/kinesis/integration/KinesisProducerIT.java
  components/camel-aws/camel-aws2-kms/src/test/java/org/apache/camel/component/aws2/kms/localstack/Aws2KmsBase.java
  components/camel-aws/camel-aws2-lambda/src/test/java/org/apache/camel/component/aws2/lambda/integration/Aws2LambdaBase.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheckProfileCredsIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/AWS2S3ConsumerHealthCheckStaticCredsIT.java
  components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/Aws2S3Base.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/integration/Aws2SNSBase.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheckIAMProfileCredsIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheckProfileCredsIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerHealthCheckStaticCredsIT.java
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/integration/Aws2SQSBaseTest.java
  components/camel-aws/camel-aws2-sts/src/test/java/org/apache/camel/component/aws2/sts/integration/Aws2StsBase.java
  test-infra/camel-test-infra-aws-common/pom.xml
  test-infra/camel-test-infra-aws-common/src/test/java/org/apache/camel/test/infra/aws/common/services/AWSService.java
  test-infra/camel-test-infra-aws-v2/pom.xml
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSServiceFactory.java
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSTestServices.java
  test-infra/camel-test-infra-cassandra/src/test/java/org/apache/camel/test/infra/cassandra/services/CassandraLocalContainerService.java
  test-infra/camel-test-infra-cassandra/src/test/java/org/apache/camel/test/infra/cassandra/services/CassandraServiceFactory.java
Labels: components, components-aws, test-infra, camel-4

#16774 CAMEL-21598 - Camel AWS Bedrock: Update supported models
  components/camel-aws/camel-aws-bedrock/src/main/java/org/apache/camel/component/aws2/bedrock/BedrockModels.java
Labels: components, components-aws, camel-4

#16772 doc(components): tracing actual design
  components/camel-tracing/src/main/docs/tracing.adoc
Labels: components, camel-4

#16777 CAMEL-21578 - Provide version for the Maven resources plugin for project
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
Labels: dsl, camel-4

#16793 Fix spelling
  components/camel-fop/src/main/docs/fop-component.adoc
  components/camel-robotframework/src/main/docs/robotframework-component.adoc
  components/camel-schematron/src/main/docs/schematron-component.adoc
  components/camel-xmlsecurity/src/main/docs/xmlsecurity-sign-component.adoc
  components/camel-xmlsecurity/src/main/docs/xmlsecurity-verify-component.adoc
Labels: components, camel-4

#16803 Add Minikube deployment example for Camel 4.9 with Camel JBang
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
Labels: docs, camel-4

#16807 Fix Camel JBang
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#16809 CAMEL-21614: camel-core - Prevent cache change miss on queue swap
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#16820 CAMEL-21614: camel-core - Prevent cache change miss on queue swap - 4.8
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#16806 CAMEL-21621: camel-jbang - k8s-httpclient-vertx fails in shutdown hook
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#16808 chore: Group dependabot update for micrometer and opentelemetry
  .github/dependabot.yml
Labels: camel-4

#16822 docs: fix spelling
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-quickfix/src/main/docs/quickfix-component.adoc
  components/camel-salesforce/camel-salesforce-component/src/main/docs/salesforce-component.adoc
  components/camel-saxon/src/main/docs/xquery-component.adoc
  components/camel-xchange/src/main/docs/xchange-component.adoc
  core/camel-api/src/main/java/org/apache/camel/cloud/ServiceHealth.java
Labels: components, components-kafka, core, camel-4

#16824 (chores) camel-jpa: enforce a timeout for some thread-unsafe tests
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithNamedQueryTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithNativeQueryTest.java
  components/camel-jpa/src/test/java/org/apache/camel/component/jpa/JpaWithQueryTest.java
  components/camel-jpa/src/test/java/org/apache/camel/processor/jpa/JpaProducerWithQueryTest.java
Labels: components, camel-4

#16805 CAMEL-21622: Adds route id in the span tags
  components/camel-tracing/src/main/java/org/apache/camel/tracing/TagConstants.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AbstractSpanDecorator.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/AbstractSpanDecoratorTest.java
Labels: components, camel-4

#16804 couchdb ppc64le integration tests activation
  components/camel-couchdb/pom.xml
  test-infra/camel-test-infra-couchdb/src/main/resources/org/apache/camel/test/infra/couchdb/services/container.properties
Labels: components, test-infra, camel-4

#16829 Fixing bug in camel-rest-openapi OpenApiUtils to support parsed OpenAPI 3.1 files.
  components/camel-rest-openapi/src/main/java/org/apache/camel/component/rest/openapi/OpenApiUtils.java
  components/camel-rest-openapi/src/test/java/org/apache/camel/component/rest/openapi/OpenApiUtilsTest.java
Labels: components, camel-4

#16826 [CAMEL-18276] : azure-service-bus component support for session enabled entities
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusComponentConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointUriFactory.java
  components/camel-azure/camel-azure-servicebus/src/generated/resources/META-INF/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/docs/azure-servicebus-component.adoc
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConfiguration.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusProducer.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusUtils.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/client/ServiceBusClientFactory.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/operations/ServiceBusSenderOperations.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumerTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusUtilsTest.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/BaseServiceBusTestSupport.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusConsumerIT.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/ServiceBusProducerIT.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/integration/operations/ServiceBusSenderOperationsTest.java
Labels: components, components-azure, camel-4

#16827 Use Camel Catalog and remove camel-test-infra-all from camel-jbang
  catalog/camel-catalog/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/test-infra/metadata.json
  dsl/camel-jbang/camel-jbang-core/pom.xml
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
  test-infra/camel-test-infra-all/src/generated/resources/META-INF/metadata.json
  test-infra/camel-test-infra-ignite/src/main/java/org/apache/camel/test/infra/ignite/services/IgniteEmbeddedInfraService.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/CamelTestInfraGenerateMetadataMojo.java
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/UpdateTestInfraMetadataMojo.java
Labels: catalog, dsl, tooling, tooling-maven, test-infra, camel-4

#16825 CAMEL-21625: camel k8s run may not cleanup properly on openshift
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: dsl, camel-4

#16837 CAMEL-21508: Create a KServe component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  components/camel-ai/camel-kserve/pom.xml
  components/camel-ai/camel-kserve/src/generated/java/org/apache/camel/component/kserve/KServeComponentConfigurer.java
  components/camel-ai/camel-kserve/src/generated/java/org/apache/camel/component/kserve/KServeConfigurationConfigurer.java
  components/camel-ai/camel-kserve/src/generated/java/org/apache/camel/component/kserve/KServeConverterLoader.java
  components/camel-ai/camel-kserve/src/generated/java/org/apache/camel/component/kserve/KServeEndpointConfigurer.java
  components/camel-ai/camel-kserve/src/generated/java/org/apache/camel/component/kserve/KServeEndpointUriFactory.java
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/org/apache/camel/component/kserve/kserve.json
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/services/org/apache/camel/component/kserve
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/services/org/apache/camel/configurer/kserve-component
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/services/org/apache/camel/configurer/kserve-endpoint
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.kserve.KServeConfiguration
  components/camel-ai/camel-kserve/src/generated/resources/META-INF/services/org/apache/camel/urifactory/kserve-endpoint
  components/camel-ai/camel-kserve/src/main/docs/kserve-component.adoc
  components/camel-ai/camel-kserve/src/main/java/org/apache/camel/component/kserve/KServeComponent.java
  components/camel-ai/camel-kserve/src/main/java/org/apache/camel/component/kserve/KServeConfiguration.java
  components/camel-ai/camel-kserve/src/main/java/org/apache/camel/component/kserve/KServeConstants.java
  components/camel-ai/camel-kserve/src/main/java/org/apache/camel/component/kserve/KServeConverter.java
  components/camel-ai/camel-kserve/src/main/java/org/apache/camel/component/kserve/KServeEndpoint.java
  components/camel-ai/camel-kserve/src/main/java/org/apache/camel/component/kserve/KServeProducer.java
  components/camel-ai/camel-kserve/src/main/proto/grpc_predict_v2.proto
  components/camel-ai/camel-kserve/src/test/java/org/apache/camel/component/kserve/it/KServeEndpointIT.java
  components/camel-ai/camel-kserve/src/test/java/org/apache/camel/component/kserve/it/KServeITSupport.java
  components/camel-ai/camel-kserve/src/test/resources/log4j2.properties
  components/camel-ai/pom.xml
  docs/components/modules/ROOT/examples/json/kserve.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/kserve-component.adoc
  parent/pom.xml
  pom.xml
  test-infra/camel-test-infra-all/pom.xml
  test-infra/camel-test-infra-triton/pom.xml
  test-infra/camel-test-infra-triton/src/main/java/org/apache/camel/test/infra/triton/common/TritonProperties.java
  test-infra/camel-test-infra-triton/src/main/java/org/apache/camel/test/infra/triton/services/TritonInfraService.java
  test-infra/camel-test-infra-triton/src/main/java/org/apache/camel/test/infra/triton/services/TritonLocalContainerInfraService.java
  test-infra/camel-test-infra-triton/src/main/java/org/apache/camel/test/infra/triton/services/TritonRemoteInfraService.java
  test-infra/camel-test-infra-triton/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-triton/src/main/resources/models/simple/1/model.graphdef
  test-infra/camel-test-infra-triton/src/main/resources/models/simple/config.pbtxt
  test-infra/camel-test-infra-triton/src/main/resources/org/apache/camel/test/infra/triton/services/container.properties
  test-infra/camel-test-infra-triton/src/test/java/org/apache/camel/test/infra/triton/services/TritonService.java
  test-infra/camel-test-infra-triton/src/test/java/org/apache/camel/test/infra/triton/services/TritonServiceFactory.java
  test-infra/pom.xml
Labels: components, catalog, docs, test-infra, core-build-and-dependencies, camel-4, components-ai

#16838 Enhance camel-kafka documentation with Strimzi Oauth.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/META-INF/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaConfiguration.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, dsl, camel-4

#16839 Fixed Camel-JBang manual typo
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
Labels: docs, camel-4

#16840 CAMEL-21628: Make AggregateProcessor set the CamelContext on its AggregationRepository
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteAggregationRepositoryIT.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/aggregate/AggregateProcessor.java
Labels: components, core, camel-4

#16849 CAMEL-21631 - Enable Checksum algorithm on S3 streaming upload producer
  components/camel-aws/camel-aws2-s3/pom.xml
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/stream/AWS2S3StreamUploadProducer.java
Labels: components, components-aws, camel-4

#16848 CAMEL-20199: Remove synchronized blocks from components T to Z
  components/camel-google/camel-google-pubsub/src/main/java/org/apache/camel/component/google/pubsub/GooglePubsubConsumer.java
  components/camel-grpc/src/main/java/org/apache/camel/component/grpc/client/GrpcStreamingExchangeForwarder.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/AsyncInputStream.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/reply/TemporaryQueueReplyManager.java
  components/camel-smpp/src/main/java/org/apache/camel/component/smpp/SmppSplitter.java
  components/camel-thymeleaf/src/main/java/org/apache/camel/component/thymeleaf/ThymeleafEndpoint.java
  components/camel-timer/src/main/java/org/apache/camel/component/timer/TimerComponent.java
  components/camel-twilio/src/main/java/org/apache/camel/component/twilio/internal/TwilioPropertiesHelper.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/DefaultUndertowHost.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/handlers/CamelMethodHandler.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/handlers/CamelPathHandler.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/handlers/CamelPathTemplateHandler.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/handlers/CamelRootHandler.java
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/handlers/CamelWebSocketHandler.java
  components/camel-univocity-parsers/src/main/java/org/apache/camel/dataformat/univocity/Marshaller.java
  components/camel-velocity/src/main/java/org/apache/camel/component/velocity/VelocityEndpoint.java
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketResultHandler.java
  components/camel-wal/src/main/java/org/apache/camel/component/wal/LogWriter.java
  components/camel-wasm/src/main/java/org/apache/camel/wasm/WasmFunction.java
  components/camel-xchange/src/main/java/org/apache/camel/component/xchange/XChangeComponent.java
  components/camel-xmpp/src/main/java/org/apache/camel/component/xmpp/XmppEndpoint.java
  components/camel-xmpp/src/main/java/org/apache/camel/component/xmpp/XmppGroupChatProducer.java
  components/camel-xmpp/src/main/java/org/apache/camel/component/xmpp/XmppPrivateChatProducer.java
  components/camel-xpath/src/main/java/org/apache/camel/language/xpath/XPathBuilder.java
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltBuilder.java
  components/camel-zendesk/src/main/java/org/apache/camel/component/zendesk/internal/ZendeskPropertiesHelper.java
Labels: components, components-jms, camel-4

#16853 InheritErrorHandler
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/circuitBreaker.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/failoverLoadBalancer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/loadBalance.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringInheritErrorHandlerDefaultTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringInheritErrorHandlerFalseTest.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/processor/SpringInheritErrorHandlerTrueTest.java
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/FailOverLoadBalanceAutoStartupFalseTest.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/InheritErrorHandlerDefaultTest.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/InheritErrorHandlerFalseTest.xml
  components/camel-spring-xml/src/test/resources/org/apache/camel/spring/processor/InheritErrorHandlerTrueTest.xml
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/circuitBreaker.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/loadBalance.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/loadbalancer/failoverLoadBalancer.json
  core/camel-core-model/src/main/java/org/apache/camel/model/CircuitBreakerDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/LoadBalanceDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/OnExceptionDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/loadbalancer/FailoverLoadBalancerDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/LoadBalanceReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/ProcessorReifier.java
  core/camel-core/src/test/java/org/apache/camel/processor/InheritErrorHandlerDefaultTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/InheritErrorHandlerFalseTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/InheritErrorHandlerTrueTest.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/SchemaGeneratorMojo.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, camel-4

#16854 [CAMEL-21633]: Enable ppc64le support for camel-elasticsearch-rest-client
  components/camel-elasticsearch-rest-client/pom.xml
  components/camel-elasticsearch-rest-client/src/test/java/org/apache/camel/component/elasticsearch/rest/client/integration/ElasticsearchRestClientITSupport.java
  test-infra/camel-test-infra-elasticsearch/src/main/java/org/apache/camel/test/infra/elasticsearch/services/ElasticSearchLocalContainerInfraService.java
  test-infra/camel-test-infra-elasticsearch/src/main/resources/org/apache/camel/test/infra/elasticsearch/services/container.properties
Labels: components, test-infra, camel-4

#16865 Fix XSD to not have duplicate entry
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-spring-xml/pom.xml
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/CamelSpringXSDValidateTest.java
  core/camel-api/src/generated/java/org/apache/camel/spi/annotations/ExternalSchemaElement.java
  core/camel-core-model/src/main/java/org/apache/camel/model/app/BeansDefinition.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-xml-io/src/test/java/org/apache/camel/xml/in/ModelParserTest.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  dsl/camel-xml-io-dsl/src/main/java/org/apache/camel/dsl/xml/io/XmlRoutesBuilderLoader.java
  dsl/camel-xml-io-dsl/src/test/resources/org/apache/camel/dsl/xml/io/springBeans.xml
  tooling/maven/camel-package-maven-plugin/src/main/resources/velocity/model-parser.vm
  tooling/spi-annotations/src/main/java/org/apache/camel/spi/annotations/ExternalSchemaElement.java
Labels: components, core, catalog, dsl, tooling, tooling-maven, camel-4

#16869 [CAMEL-21638]: Enable ppc64le support for camel-elasticsearch
  components/camel-elasticsearch/pom.xml
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchTestSupport.java
Labels: components, camel-4

#16871 CAMEL-21637: camel-jbang - Commands in watch mode should wait for use…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CommandHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Shell.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/ActionWatchCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelLogAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelReceiveAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelTraceAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ProcessWatchCommand.java
Labels: dsl, camel-4

#16872 CAMEL-21626 - Camel-Hashicorp-Vault: Support Hashicorp Cloud deployme…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultPropertiesFunction.java
  core/camel-api/src/main/java/org/apache/camel/vault/HashicorpVaultConfiguration.java
  core/camel-main/src/generated/java/org/apache/camel/main/HashicorpVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HashicorpVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/HashicorpVaultConfigurationProperties.java
  core/camel-main/src/test/java/org/apache/camel/main/MainVaultTest.java
Labels: components, core, catalog, camel-4

#16873 CAMEL-21640 - Camel-Hashicorp-Vault: Support Hashicorp Cloud deployment in properties function - Docs
  components/camel-hashicorp-vault/src/main/docs/hashicorp-vault-component.adoc
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultPropertiesFunction.java
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: components, docs, camel-4

#16886 Upgrade infinispan server for docker tests
  test-infra/camel-test-infra-infinispan/src/main/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#16889 CAMEL-20564: follow-up: adding variable usage example in component adoc
  components/camel-xslt-saxon/src/main/docs/xslt-saxon-component.adoc
  components/camel-xslt/src/main/docs/xslt-component.adoc
Labels: components, camel-4

#16890 CAMEL-21642 - Camel-Hashicorp-Vault: Support Hashicorp cloud Vault in…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/hashicorp-vault.json
  components/camel-hashicorp-vault/src/generated/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultEndpointConfigurer.java
  components/camel-hashicorp-vault/src/generated/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultEndpointUriFactory.java
  components/camel-hashicorp-vault/src/generated/resources/META-INF/org/apache/camel/component/hashicorp/vault/hashicorp-vault.json
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultConfiguration.java
  components/camel-hashicorp-vault/src/main/java/org/apache/camel/component/hashicorp/vault/HashicorpVaultProducer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/HashicorpVaultEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16887 CAMEL-21613: camel-jbang - Allow to choose (multiple) image platform …
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
Labels: dsl, camel-4

#16892 camel-ai - Add torchserve and tensorflow-serving to catalog
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/tensorflow-serving.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/torchserve.json
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/TensorflowServingComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/TorchserveComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/TensorFlowServingEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/TorchServeEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: core, catalog, dsl, tooling, tooling-maven, camel-4

#16899 Camel-Hashicorp-Vault: Add more documentation for Hashicorp Vault Cloud
  components/camel-hashicorp-vault/src/main/docs/hashicorp-vault-component.adoc
Labels: components, camel-4

#16902 Update observability-services.adoc
  components/camel-observability-services/src/main/docs/observability-services.adoc
Labels: components, camel-4

#16900 (chores) camel-kafka: add details about improving Kafka producer performance
  components/camel-kafka/src/main/docs/kafka-component.adoc
Labels: components, components-kafka, camel-4

#16903 Align versions with spring-boot-dependencies 3.3.8
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16901 feat(dsl): camel jbang export property
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainApplicationProperties.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/sample-application.properties
Labels: dsl, camel-4

#16906 CAMEL-21442: camel-jbang export is not working when local-kamelet-dir…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
Labels: dsl, camel-4

#16905 CAMEL-20367: Adds export related tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ExportITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
Labels: dsl, camel-4

#16919 CAMEL-21442: camel-jbang export is not working when local-kamelet-dir…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
Labels: dsl, camel-4

#16920 [CAMEL-21651] Upgrade to Jolokia 2.2.1
  components/camel-platform-http-jolokia/src/main/java/org/apache/camel/component/platform/http/plugin/DefaultJolokiaPlatformHttpPlugin.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#16922 Camel Jbang run ignore "--repos" option + handle camel spring boot ve…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#16923 Camel Jbang run ignore "--repos" option + handle camel spring boot ve…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#16938 Fix duplicate property in KubernetesExport of camel-jbang-plugin-kubernetes
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
Labels: catalog, dsl, camel-4

#16946 CAMEL-21666: Enable camel-test-infra-cli module to skip tests
  test-infra/camel-test-infra-cli/pom.xml
Labels: test-infra, camel-4

#16947 CAMEL-21505: corrupt binary files
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/as2.json
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ClientManager.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEDIConsentEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEDIFACTEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEDIX12Entity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationXMLEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/EntityParser.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/EntityUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTestBase.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2UnencryptedMessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/ApplicationEntityTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/EntityUtilsTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/MicUtilsTest.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfiguration.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/internal/AS2ClientManagerApiMethod.java
  components/camel-as2/camel-as2-component/src/generated/resources/META-INF/org/apache/camel/component/as2/as2.json
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerEncryptedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
Labels: components, catalog, camel-4

#16950 Backport kafka + sjms perf fixes
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/producer/support/ProducerUtil.java
  components/camel-sjms/src/main/java/org/apache/camel/component/sjms/jms/JmsMessageHelper.java
Labels: components, components-kafka, components-jms, camel-4

#16954 Qdrant: add Similarity search action in documentaion of CamelQdrantAc…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/qdrant.json
  components/camel-ai/camel-qdrant/src/generated/resources/META-INF/org/apache/camel/component/qdrant/qdrant.json
  components/camel-ai/camel-qdrant/src/main/java/org/apache/camel/component/qdrant/Qdrant.java
Labels: components, catalog, camel-4, components-ai

#16955 CAMEL-21668 : Force the creation of the parent log dir
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#16952 CAMEL-21618: review test infra documentation
  docs/user-manual/modules/ROOT/pages/test-infra.adoc
  test-infra/camel-test-infra-core/README.md
Labels: docs, test-infra, camel-4

#16964 CAMEL-21672: Use user provided ServiceBusProcessorClient in ServiceBusConsumer if provided
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumer.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusConsumerTest.java
Labels: components, components-azure, camel-4

#16965 CAMEL-21438: disable multiple core tests that don't run reliably on s390x
  components/camel-barcode/src/test/java/org/apache/camel/dataformat/barcode/BarcodeDataFormatSpringTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/AntPathMatcherGenericFileFilterTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumeDoneFileIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerBeginAndCommitExpressionRenameStrategyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerDirectoryMustExistBridgeErrorHandlerTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerFileFilterOptimizedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerFilterFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerResumeFromOffsetStrategyTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileKeepLastModifiedTest.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileNoOpLockFileTest.java
  core/camel-core/src/test/java/org/apache/camel/component/seda/SedaWaitForTaskNewerOnCompletionTest.java
  core/camel-core/src/test/java/org/apache/camel/component/validator/ValidatorResourceResolverFactoryTest.java
  core/camel-core/src/test/java/org/apache/camel/component/xslt/XsltCustomizeEntityResolverTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultCamelContextSuspendResumeRouteStartupOrderTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultProducerCacheTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DurationRoutePolicyMaxSecondsTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/engine/DefaultSupervisingRouteControllerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastParallelStreamingTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastParallelStreamingTimeoutTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MulticastParallelStressTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/ShutdownCompleteCurrentTaskOnlyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/WireTapBeanAsProcessorTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/AggregateCompleteAllOnStopTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/AggregateControllerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/AggregateForceCompletionOnStopParallelTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/aggregator/AggregateForceCompletionOnStopTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/throttle/ThrottlingExceptionRoutePolicyHalfOpenHandlerSedaTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/throttle/ThrottlingExceptionRoutePolicyKeepOpenOnInitTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/throttle/concurrent/ConcurrentRequestsThrottlerTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/throttle/requests/ThrottlerTest.java
Labels: components, core, camel-4

#16966 (chores) camel-solr: fixed incorrectly disabled tests
  components/camel-solr/pom.xml
Labels: components, camel-4

#16967 (chores) camel-jetty: isolate flaky test
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteAddSslConnectorPropertiesTest.java
Labels: components, camel-4

#16953 CAMEL-20367: Adds exporting with dependencies tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ExportITCase.java
Labels: dsl, camel-4

#16971 doc(sample-eip): correct XML examples
  core/camel-core-engine/src/main/docs/modules/eips/pages/sample-eip.adoc
Labels: core, camel-4

#16968 camel-test-infra-cli: Adds the parameter to mount local maven repository
  test-infra/camel-test-infra-cli/README.adoc
  test-infra/camel-test-infra-cli/pom.xml
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/common/CliProperties.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/it/CliConfigITCase.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliBuiltContainer.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliLocalContainerService.java
Labels: test-infra, camel-4

#16975 camel-jbang-plugin-kubernetes disable the knative by default
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
Labels: docs, dsl, camel-4

#16984 camel-azure-servicebus: Tidy component documentation
  components/camel-azure/camel-azure-servicebus/src/main/docs/azure-servicebus-component.adoc
Labels: components, components-azure, camel-4

#16976 Upgrade strimzi kafka to 3.8.1
  test-infra/camel-test-infra-kafka/src/main/resources/org/apache/camel/test/infra/kafka/services/container.properties
Labels: test-infra, camel-4

#16985 CAMEL-21682 - Camel-Google-Storage: Introducing Override Bucket Heade…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-storage.json
  components/camel-google/camel-google-storage/src/generated/resources/META-INF/org/apache/camel/component/google/storage/google-storage.json
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageConstants.java
  components/camel-google/camel-google-storage/src/main/java/org/apache/camel/component/google/storage/GoogleCloudStorageProducer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleCloudStorageEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16988 CAMEL-21505: corrupt binary files
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/as2.json
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ClientManager.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEDIConsentEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEDIFACTEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEDIX12Entity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/ApplicationXMLEntity.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/EntityParser.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/EntityUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTestBase.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2UnencryptedMessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/ApplicationEntityTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/EntityUtilsTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/util/MicUtilsTest.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfiguration.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/internal/AS2ClientManagerApiMethod.java
  components/camel-as2/camel-as2-component/src/generated/resources/META-INF/org/apache/camel/component/as2/as2.json
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerEncryptedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerITBase.java
Labels: components, catalog, camel-4

#16986 Upgrade Vert.x to 4.5.12
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#16987 camel-azure-servicebus: Remove redundant commons-io dependency
  components/camel-azure/camel-azure-servicebus/pom.xml
Labels: components, components-azure, camel-4

#16989 CAMEL-21685: deprecate modeline and print a WARN if in use.
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/dsl-modeline.json
  core/camel-api/src/main/java/org/apache/camel/CamelContext.java
  core/camel-api/src/main/java/org/apache/camel/spi/ModelineFactory.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationProperties.java
  dsl/camel-dsl-modeline/pom.xml
  dsl/camel-dsl-modeline/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  dsl/camel-dsl-modeline/src/generated/resources/dsl-modeline.json
  dsl/camel-dsl-modeline/src/main/docs/dsl-modeline.adoc
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/DefaultModelineFactory.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/DefaultModelineParser.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/DependencyTrait.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/EnvTrait.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/ModelineParser.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/NameTrait.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/PropertyTrait.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/Trait.java
Labels: core, catalog, dsl, camel-4

#16993 CAMEL-21768 - Camel-Minio: Introducing Override Bucket Header in Prod…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/minio.json
  components/camel-minio/src/generated/resources/META-INF/org/apache/camel/component/minio/minio.json
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConstants.java
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioProducer.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MinioEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#16990 CAMEL-20367: Reflect syntax changes in camel cmd command + cover more…
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CmdStartStopITCase.java
Labels: dsl, camel-4

#16994 CAMEL-21687: camel-core - Cannot add onCompletion after transacted in…
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/interceptor/AnnotatedRoute.java
  components/camel-spring-xml/src/test/java/org/apache/camel/spring/interceptor/TransactionalClientWithAnnotatedBeanTest.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteDefinitionHelper.java
Labels: components, core, camel-4

#16991 camel-test-infra-cli: Reads PID in case of background-wait=true
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/it/AbstractTestSupport.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/it/CliConfigITCase.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/it/RunITCase.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliLocalContainerService.java
Labels: test-infra, camel-4

#16973 CAMEL-21683: Configure jax-rs consumer via CxfRsEndpoint bean
  components/camel-cxf/camel-cxf-rest/src/main/java/org/apache/camel/component/cxf/jaxrs/CxfRsComponent.java
  components/camel-cxf/camel-cxf-rest/src/test/java/org/apache/camel/component/cxf/jaxrs/CxfRsConsumerWithBeanTest.java
Labels: components, camel-4

#17002 CAMEL-21768 - Camel-Minio: Introducing Override Bucket Header in Prod…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/minio.json
  components/camel-minio/src/generated/resources/META-INF/org/apache/camel/component/minio/minio.json
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioConstants.java
  core/camel-main/src/main/java/org/apache/camel/main/MetricsConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/MinioEndpointBuilderFactory.java
Labels: components, core, catalog, docs, dsl, camel-4

#17003 Backport flaky test fix
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
Labels: core, camel-4

#17001 feat(api): strengthen endpoint exceptions
  core/camel-api/src/main/java/org/apache/camel/FailedToCreateConsumerException.java
  core/camel-api/src/main/java/org/apache/camel/FailedToCreateProducerException.java
  core/camel-api/src/main/java/org/apache/camel/NoSuchEndpointException.java
  core/camel-api/src/main/java/org/apache/camel/ResolveEndpointFailedException.java
Labels: core, camel-4

#17005 camel-tika: Fix incorrect mock endpoint usage in tests
  components/camel-tika/src/test/java/org/apache/camel/component/tika/TikaDetectTest.java
  components/camel-tika/src/test/java/org/apache/camel/component/tika/TikaParseTest.java
Labels: components, camel-4

#17004 CAMEL-21438: more alt-platforms flakies
  components/camel-aws/camel-aws2-sqs/src/test/java/org/apache/camel/component/aws2/sqs/Sqs2ConsumerTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteAliasTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteSetupWithSystemPropsTest.java
  components/camel-jetty/src/test/java/org/apache/camel/component/jetty/HttpsRouteTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpSSLHandshakeErrorTest.java
  components/camel-rxjava/src/test/java/org/apache/camel/component/rxjava/engine/RxJavaStreamsServiceTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/LimitedPollingConsumerPollStrategyTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/resequencer/ResequencerFileNameTest.java
Labels: components, core, components-aws, camel-4

#16992 CAMEL-21686: camel-jbang - Remove dependency on camel-kamelets-utils
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
Labels: docs, dsl, camel-4

#17007 CAMEL-21690: Fix image-push option on Kubernetes run command
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-core/src/test/resources/application-jkube.properties
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Container.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/ContainerBuilder.java
Labels: docs, dsl, camel-4
