Repository apache/camel, pull requests merged in 2025-04, with the labels that each got.

#17632 CAMEL-21905 - Camel-IBM-Secrets-Manager: Implement secret refresh by …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  core/camel-api/src/main/java/org/apache/camel/vault/IBMSecretsManagerVaultConfiguration.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
Labels: core, catalog, camel-4

#17633 Camel-Jbang: Bump to Camel 4.10.3
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#17635 CAMEL-21905 - Camel-IBM-Secrets-Manager: Implement secret refresh by …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/vault/IBMEventStreamReloadTriggerTask.java
  core/camel-api/src/main/java/org/apache/camel/vault/IBMSecretsManagerVaultConfiguration.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
Labels: components, core, catalog, camel-4

#17606 CAMEL-21907: Set OAuth2 scope on request body
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpOAuth2ScopeTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/handler/OAuth2ScopeRequestHandler.java
Labels: components, camel-4

#17636 CAMEL-21918 - Camel-IBM-Secret-Manager: Document Refresh feature
  components/camel-ibm-secrets-manager/src/main/docs/ibm-secrets-manager-component.adoc
Labels: components, camel-4

#17638 CAMEL-21923: LLM call should include all tools at the end of the flow
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsProducer.java
Labels: components, camel-4, components-ai

#17631 CAMEL-21907: Backport of set OAuth2 scope on request body to Camel 4.10.x
  components/camel-http/src/main/java/org/apache/camel/component/http/OAuth2ClientConfigurer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpOAuth2ScopeTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/handler/OAuth2ScopeRequestHandler.java
Labels: components, camel-4

#17652 CAMEL-21927 - Camel Vault Properties Function: Harmonize error messag…
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/SecretsManagerPropertiesFunction.java
  components/camel-azure/camel-azure-key-vault/src/main/java/org/apache/camel/component/azure/key/vault/KeyVaultPropertiesFunction.java
  components/camel-google/camel-google-secret-manager/src/main/java/org/apache/camel/component/google/secret/manager/GoogleSecretManagerPropertiesFunction.java
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/IBMSecretsManagerPropertiesFunction.java
Labels: components, components-aws, components-azure, camel-4

#17653 CAMEL-21930 - Camel-test-infra-aws: Move to Localstack v4
  components/camel-aws/camel-aws-config/src/test/java/org/apache/camel/component/aws/config/integration/AWSConfigProducerIT.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgeListRuleNamesByTargetIT.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgePutEventsIT.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgePutRuleIT.java
  components/camel-aws/camel-aws2-eventbridge/src/test/java/org/apache/camel/component/aws2/eventbridge/localstack/EventbridgeRemoveTargetsIT.java
  test-infra/camel-test-infra-aws-v2/src/main/resources/org/apache/camel/test/infra/aws2/services/container.properties
Labels: components, components-aws, test-infra, camel-4

#17654 Upgrade Camel Kamelets to version 4.10.3 in camel-jbang
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#17645 CAMEL-21926 camel-attachment fix inconsistent behaviour when last attachment is removed
  components/camel-attachments/src/main/java/org/apache/camel/attachment/DefaultAttachmentMessage.java
  components/camel-attachments/src/test/java/org/apache/camel/attachment/AttachmentRemovalTest.java
Labels: components, camel-4

#17657 CAMEL-21926 camel-attachment: remove ATTACHMENTS trait when last atta…
  components/camel-attachments/src/main/java/org/apache/camel/attachment/DefaultAttachmentMessage.java
  components/camel-attachments/src/test/java/org/apache/camel/attachment/AttachmentRemovalTest.java
Labels: components, camel-4

#17666 Backport - [4.10.x] Ignoring log4j2-test.xml in infinispan-common test jar (#17106)
  components/camel-infinispan/camel-infinispan-embedded/src/test/resources/log4j2.component.properties
Labels: components, camel-4

#17646 CAMEL-21801: Spring Cloud Config Property Function
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-spring-parent/camel-spring-cloud-config/pom.xml
  components/camel-spring-parent/camel-spring-cloud-config/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-spring-parent/camel-spring-cloud-config/src/generated/resources/META-INF/services/org/apache/camel/periodic-task/spring-config-refresh
  components/camel-spring-parent/camel-spring-cloud-config/src/generated/resources/META-INF/services/org/apache/camel/properties-function/spring-config
  components/camel-spring-parent/camel-spring-cloud-config/src/generated/resources/spring-cloud-config.json
  components/camel-spring-parent/camel-spring-cloud-config/src/main/docs/spring-cloud-config-component.adoc
  components/camel-spring-parent/camel-spring-cloud-config/src/main/java/org/apache/camel/component/spring/cloud/config/SpringCloudConfigPropertiesFunction.java
  components/camel-spring-parent/camel-spring-cloud-config/src/main/java/org/apache/camel/component/spring/cloud/config/SpringCloudConfigReloadTriggerTask.java
  components/camel-spring-parent/camel-spring-cloud-config/src/main/java/org/apache/camel/component/spring/cloud/config/SpringConfigProvider.java
  components/camel-spring-parent/camel-spring-cloud-config/src/main/java/org/apache/camel/component/spring/cloud/config/SpringConfigRemaindersCache.java
  components/camel-spring-parent/pom.xml
  core/camel-api/src/main/java/org/apache/camel/vault/SpringCloudConfigConfiguration.java
  core/camel-api/src/main/java/org/apache/camel/vault/VaultConfiguration.java
  core/camel-main/pom.xml
  core/camel-main/src/generated/java/org/apache/camel/main/AwsVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/AwsVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/AzureVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/AzureVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/GcpVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/GcpVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HashicorpVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/HashicorpVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/KubernetesConfigMapVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/KubernetesConfigmapsVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/KubernetesVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/KubernetesVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/SpringCloudConfigConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/SpringCloudConfigConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.main.SpringCloudConfigConfigurationProperties
  core/camel-main/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.vault.SpringCloudConfigConfiguration
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
  core/camel-main/src/main/java/org/apache/camel/main/SpringCloudConfigConfigurationProperties.java
  core/camel-main/src/main/java/org/apache/camel/main/VaultConfigurationProperties.java
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/spring-cloud-config-component.adoc
  docs/components/modules/others/examples/json/spring-cloud-config.json
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/PrepareCamelMainMojo.java
Labels: components, core, catalog, docs, tooling, tooling-maven, core-build-and-dependencies, camel-4

#17680 health-check: Fixes Camel context health check
  core/camel-core/src/test/java/org/apache/camel/impl/health/ContextHealthCheckTest.java
  core/camel-health/src/main/java/org/apache/camel/impl/health/ContextHealthCheck.java
Labels: core, camel-4

#17681 Bump AWS SDK v2 to 2.31.16
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#17683 Langchain4j Tokenizer doc file needs to be named with component suffix
  components/camel-ai/camel-langchain4j-tokenizer/src/main/docs/langchain4j-tokenizer-component.adoc
Labels: components, camel-4, components-ai

#17684 Enabling ppc64le support for camel-pinecone
  components/camel-ai/camel-pinecone/pom.xml
Labels: components, camel-4, components-ai

#17679 [CAMEL-21938] camel-jolt - inputType & outputType can't be set for http uris
  components/camel-jolt/src/main/java/org/apache/camel/component/jolt/JoltComponent.java
Labels: components, camel-4

#17685 CAMEL-21939: camel-jbang: Fix export to not run twice, and also fix camel-export.log, and be able to log to console and add the verbose option also.
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/log4j2-export.properties
  dsl/camel-jbang/camel-jbang-core/src/main/resources/log4j2-script.properties
Labels: docs, dsl, camel-4

#17693 CAMEL-21940: camel-kafka - KafkaProducerCallBack must use atomic decr…
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/producer/support/KafkaProducerCallBack.java
Labels: components, components-kafka, camel-4

#17695 Upgrade Postgres container used in test from 16.4 to 17.4
  test-infra/camel-test-infra-postgres/src/main/resources/org/apache/camel/test/infra/postgres/services/container.properties
Labels: test-infra, camel-4

#17715 CAMEL-21941 - Upgrade Camel Kamelets and Camel Jbang to version 4.11.0
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
Labels: dsl, camel-4

#17716 CAMEL-21944: camel-jbang - Classpath scan custom JARs for beans and p…
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/jandex.json
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/util/AnnotationModuleLoaderTest.java
  components/camel-jandex/pom.xml
  components/camel-jandex/src/generated/resources/META-INF/services/org/apache/camel/jandex-class-resolver
  components/camel-jandex/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-jandex/src/generated/resources/jandex.json
  components/camel-jandex/src/main/docs/jandex.adoc
  components/camel-jandex/src/main/java/org/apache/camel/jandex/JandexPackageScanClassResolver.java
  components/camel-jcr/src/test/java/org/apache/camel/component/jcr/JcrConverterTest.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/api/utils/JsonUtils.java
  components/camel-spring-parent/camel-spring-xml/src/test/java/org/apache/camel/spring/SpringTestSupport.java
  components/camel-spring-parent/camel-spring-xml/src/test/java/org/apache/camel/spring/config/DefaultPackageResolverConfigureTest.java
  components/camel-spring-parent/camel-spring-xml/src/test/java/org/apache/camel/spring/scan/DefaultPackageScanClassResolverTest.java
  components/camel-spring-parent/camel-spring-xml/src/test/java/org/apache/camel/spring/scan/PackageScanFiltersTest.java
  components/camel-spring-parent/camel-spring-xml/src/test/resources/org/apache/camel/spring/config/PackageResolverTest.xml
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/ExcludingPackageScanClassResolver.java
  components/pom.xml
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/SimpleCamelContext.java
  core/camel-base/src/main/java/org/apache/camel/impl/scan/package.html
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultCamelContext.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/transformer/AnnotationTransformerLoader.java
  core/camel-core-xml/src/test/java/org/apache/camel/core/xml/AbstractCamelContextFactoryBeanTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/ConverterTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/JaxpTest.java
  core/camel-core/src/test/java/org/apache/camel/converter/StringSourceTest.java
  core/camel-core/src/test/java/org/apache/camel/model/ModelSanityCheckerTest.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/AnnotatedWithAnyPackageScanFilter.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/AnnotatedWithPackageScanFilter.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/AssignableToPackageScanFilter.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/BasePackageScanResolver.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/CompositePackageScanFilter.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/DefaultPackageScanClassResolver.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/DefaultPackageScanResourceResolver.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/InvertingPackageScanFilter.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/PackageScanJarResource.java
  core/camel-support/src/main/java/org/apache/camel/support/scan/WebSpherePackageScanClassResolver.java
  docs/components/modules/others/examples/json/jandex.json
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/jandex.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/BasePackageScanDownloadListener.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/injection/AnnotationDependencyInjection.java
  dsl/camel-kamelet-main/src/main/resources/camel-main-known-dependencies.properties
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#17665 camel-jbang: fix export not respecting --quarkus-group-id parameter
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
Labels: dsl, camel-4

#17696 CAMEL-21901: camel-salesforce: Fix using fallbackReplyId when salesfo…
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/ReplayExtension.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelper.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/internal/streaming/SubscriptionHelperTest.java
Labels: components, camel-4

#17703 camel-salesforce-maven-plugin: fix JWT authentication
  components/camel-salesforce/camel-salesforce-maven-plugin/src/main/java/org/apache/camel/maven/AbstractSalesforceMojo.java
Labels: components, camel-4

#17705 Fix thread pool cleanup in MasterComponent
  components/camel-master/src/main/java/org/apache/camel/component/master/MasterComponent.java
Labels: components, camel-4

#17724 camel-jbang - Upgrade to hawtio 4.4.0
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Hawtio.java
Labels: dsl, camel-4

#17725 camel-jbang - Upgrade to hawtio 4.4.0 (4.10.x)
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/Hawtio.java
Labels: dsl, camel-4

#17655 CAMEL-21736 google-bigquery-sql: Support fetching query results for S…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/google-bigquery-sql.json
  components/camel-google/camel-google-bigquery/src/generated/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLEndpointConfigurer.java
  components/camel-google/camel-google-bigquery/src/generated/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLEndpointUriFactory.java
  components/camel-google/camel-google-bigquery/src/generated/resources/META-INF/org/apache/camel/component/google/bigquery/sql/google-bigquery-sql.json
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/GoogleBigQueryConstants.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLConfiguration.java
  components/camel-google/camel-google-bigquery/src/main/java/org/apache/camel/component/google/bigquery/sql/GoogleBigQuerySQLProducer.java
  components/camel-google/camel-google-bigquery/src/test/java/org/apache/camel/component/google/bigquery/unit/sql/GoogleBigQuerySQLProducerSelectTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/GoogleBigQuerySQLEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17728 CAMEL-21951 - Bump Pulsar to 4.x
  parent/pom.xml
  test-infra/camel-test-infra-pulsar/src/main/resources/org/apache/camel/test/infra/pulsar/services/container.properties
Labels: test-infra, core-build-and-dependencies, camel-4

#17718 camel-jbang-plugin-kubernetes: change the openshift cluster detection
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunCustomTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/log4j2.properties
Labels: dsl, camel-4

#17717 CAMEL-17530: azure-storage-blob: add support for lease blob option
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-blob.json
  components/camel-azure/camel-azure-storage-blob/src/generated/java/org/apache/camel/component/azure/storage/blob/BlobComponentConfigurer.java
  components/camel-azure/camel-azure-storage-blob/src/generated/java/org/apache/camel/component/azure/storage/blob/BlobEndpointConfigurer.java
  components/camel-azure/camel-azure-storage-blob/src/generated/java/org/apache/camel/component/azure/storage/blob/BlobEndpointUriFactory.java
  components/camel-azure/camel-azure-storage-blob/src/generated/resources/META-INF/org/apache/camel/component/azure/storage/blob/azure-storage-blob.json
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConfiguration.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConfigurationOptionsProxy.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobConstants.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/BlobExchangeHeaders.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/client/BlobClientWrapper.java
  components/camel-azure/camel-azure-storage-blob/src/main/java/org/apache/camel/component/azure/storage/blob/operations/BlobOperations.java
  components/camel-azure/camel-azure-storage-blob/src/test/java/org/apache/camel/component/azure/storage/blob/operations/BlobOperationsTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/AzureStorageBlobComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/BlobEndpointBuilderFactory.java
Labels: components, catalog, dsl, components-azure, camel-4

#17731 CAMEL-21947: camel-file/camel-ftp: If read lock is not acquired then …
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConsumer.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/integration/FtpReadLockNotStartedIT.java
Labels: components, camel-4

#17732 CAMEL-21911: camel-bang: kubernetes add support for ingress class
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/IngressTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Ingress.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/IngressBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Traits.java
Labels: dsl, camel-4

#17697 CAMEL-21943 Add a Weaviate component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/weaviate.json
  components/camel-ai/camel-weaviate/pom.xml
  components/camel-ai/camel-weaviate/src/generated/java/org/apache/camel/component/weaviate/WeaviateVectorDbComponentConfigurer.java
  components/camel-ai/camel-weaviate/src/generated/java/org/apache/camel/component/weaviate/WeaviateVectorDbConfigurationConfigurer.java
  components/camel-ai/camel-weaviate/src/generated/java/org/apache/camel/component/weaviate/WeaviateVectorDbEndpointConfigurer.java
  components/camel-ai/camel-weaviate/src/generated/java/org/apache/camel/component/weaviate/WeaviateVectorDbEndpointUriFactory.java
  components/camel-ai/camel-weaviate/src/generated/resources/META-INF/org/apache/camel/component/weaviate/weaviate.json
  components/camel-ai/camel-weaviate/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-ai/camel-weaviate/src/generated/resources/META-INF/services/org/apache/camel/component/weaviate
  components/camel-ai/camel-weaviate/src/generated/resources/META-INF/services/org/apache/camel/configurer/org.apache.camel.component.weaviate.WeaviateVectorDbConfiguration
  components/camel-ai/camel-weaviate/src/generated/resources/META-INF/services/org/apache/camel/configurer/weaviate-component
  components/camel-ai/camel-weaviate/src/generated/resources/META-INF/services/org/apache/camel/configurer/weaviate-endpoint
  components/camel-ai/camel-weaviate/src/generated/resources/META-INF/services/org/apache/camel/urifactory/weaviate-endpoint
  components/camel-ai/camel-weaviate/src/main/docs/weaviate-component.adoc
  components/camel-ai/camel-weaviate/src/main/java/org/apache/camel/component/weaviate/WeaviateVectorDb.java
  components/camel-ai/camel-weaviate/src/main/java/org/apache/camel/component/weaviate/WeaviateVectorDbAction.java
  components/camel-ai/camel-weaviate/src/main/java/org/apache/camel/component/weaviate/WeaviateVectorDbComponent.java
  components/camel-ai/camel-weaviate/src/main/java/org/apache/camel/component/weaviate/WeaviateVectorDbConfiguration.java
  components/camel-ai/camel-weaviate/src/main/java/org/apache/camel/component/weaviate/WeaviateVectorDbEndpoint.java
  components/camel-ai/camel-weaviate/src/main/java/org/apache/camel/component/weaviate/WeaviateVectorDbProducer.java
  components/camel-ai/camel-weaviate/src/test/java/org/apache/camel/component/weaviate/WeaviateComponentConfigurationTest.java
  components/camel-ai/camel-weaviate/src/test/java/org/apache/camel/component/weaviate/it/WeaviateComponentIT.java
  components/camel-ai/camel-weaviate/src/test/resources/log4j2.properties
  components/camel-ai/camel-weaviate/src/test/resources/weaviate.properties
  components/camel-ai/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/weaviate.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/weaviate-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/WeaviateComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/WeaviateVectorDbEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
  tooling/maven/camel-package-maven-plugin/src/main/java/org/apache/camel/maven/packaging/MojoHelper.java
Labels: components, core, catalog, docs, dsl, tooling, tooling-maven, core-build-and-dependencies, camel-4, components-ai

#17735 CAMEL-21871: camel-azure-serviebus - TokenCredential is autowired, an…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusComponentConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointConfigurer.java
  components/camel-azure/camel-azure-servicebus/src/generated/resources/META-INF/org/apache/camel/component/azure/servicebus/azure-servicebus.json
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusComponent.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusConfiguration.java
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/client/ServiceBusClientFactory.java
  components/camel-azure/camel-azure-servicebus/src/test/java/org/apache/camel/component/azure/servicebus/ServiceBusEndpointTest.java
Labels: components, catalog, components-azure, camel-4

#17736 CAMEL-21871: azure-eventhubs - autowire TokenCredential
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-eventhubs.json
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsComponentConfigurer.java
  components/camel-azure/camel-azure-eventhubs/src/generated/java/org/apache/camel/component/azure/eventhubs/EventHubsEndpointConfigurer.java
  components/camel-azure/camel-azure-eventhubs/src/generated/resources/META-INF/org/apache/camel/component/azure/eventhubs/azure-eventhubs.json
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsComponent.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsConfiguration.java
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/client/EventHubsClientFactory.java
  components/camel-azure/camel-azure-eventhubs/src/test/java/org/apache/camel/component/azure/eventhubs/EventHubsComponentTest.java
Labels: components, catalog, components-azure, camel-4

#17748 docs: document API breaking change in camel-test-infra in Camel 4.10
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
Labels: docs, camel-4

#17749 CAMEL-21871 autowire credentials for azure-storage-datalake, azure-storage-queue
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-datalake.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/azure-storage-queue.json
  components/camel-azure/camel-azure-storage-datalake/src/generated/java/org/apache/camel/component/azure/storage/datalake/DataLakeComponentConfigurer.java
  components/camel-azure/camel-azure-storage-datalake/src/generated/java/org/apache/camel/component/azure/storage/datalake/DataLakeEndpointConfigurer.java
  components/camel-azure/camel-azure-storage-datalake/src/generated/resources/META-INF/org/apache/camel/component/azure/storage/datalake/azure-storage-datalake.json
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeComponent.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/DataLakeConfiguration.java
  components/camel-azure/camel-azure-storage-datalake/src/main/java/org/apache/camel/component/azure/storage/datalake/client/DataLakeClientFactory.java
  components/camel-azure/camel-azure-storage-datalake/src/test/java/org/apache/camel/component/azure/storage/datalake/component/DataLakeComponentTest.java
  components/camel-azure/camel-azure-storage-queue/src/generated/java/org/apache/camel/component/azure/storage/queue/QueueComponentConfigurer.java
  components/camel-azure/camel-azure-storage-queue/src/generated/java/org/apache/camel/component/azure/storage/queue/QueueEndpointConfigurer.java
  components/camel-azure/camel-azure-storage-queue/src/generated/resources/META-INF/org/apache/camel/component/azure/storage/queue/azure-storage-queue.json
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/QueueComponent.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/QueueConfiguration.java
  components/camel-azure/camel-azure-storage-queue/src/main/java/org/apache/camel/component/azure/storage/queue/client/QueueClientFactory.java
  components/camel-azure/camel-azure-storage-queue/src/test/java/org/apache/camel/component/azure/storage/queue/QueueComponentTest.java
Labels: components, catalog, components-azure, camel-4

#17756 CAMEL-20367: Adds Camel watch and Route DSL transformation tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CmdStartStopITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/TransformMessageITCase.java
Labels: dsl, camel-4

#17759 CAMEL-21899: camel-oauth - openshift does not maintain http session
  components/camel-oauth/helm/README.md
  components/camel-oauth/helm/etc/camel-realm.json
  components/camel-oauth/src/main/java/org/apache/camel/oauth/AbstractOAuthProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/InMemorySessionStore.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthCodeFlowCallback.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthCodeFlowProcessor.java
  components/camel-oauth/src/main/java/org/apache/camel/oauth/OAuthLogoutProcessor.java
  components/camel-oauth/src/test/java/org/apache/camel/test/oauth/SSLCertTrustTest.java
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/IngressTrait.java
Labels: components, docs, dsl, camel-4

#17760 CAMEL-21961 - Create a Camel PQC component
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pqc.json
  components/camel-pqc/pom.xml
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCComponentConfigurer.java
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCEndpointConfigurer.java
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCEndpointUriFactory.java
  components/camel-pqc/src/generated/resources/META-INF/org/apache/camel/component/pqc/pqc.json
  components/camel-pqc/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-pqc/src/generated/resources/META-INF/services/org/apache/camel/component/pqc
  components/camel-pqc/src/generated/resources/META-INF/services/org/apache/camel/configurer/pqc-component
  components/camel-pqc/src/generated/resources/META-INF/services/org/apache/camel/configurer/pqc-endpoint
  components/camel-pqc/src/generated/resources/META-INF/services/org/apache/camel/urifactory/pqc-endpoint
  components/camel-pqc/src/main/docs/pqc-component.adoc
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCComponent.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCConfiguration.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCConstants.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCEndpoint.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCOperations.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCProducer.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCSignatureAlgorithms.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureFalconNoSignerAutowiredTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureFalconTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureLMSTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureNoAutowiredSignatureTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignaturePicnicTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureRainbowTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureSLHDSATest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureWrongKeyPairSignatureTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureXMSSTest.java
  components/camel-pqc/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/pqc.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/pqc-component.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PqcComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PQCEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#17757 Camel-Console is not needed in production, make it provided
  components/camel-kafka/pom.xml
Labels: components, components-kafka, camel-4

#17762 CAMEL-21972 Add try with resources to ComponentArtifactHelper and add a test for ComponentArtifactHelper
  catalog/camel-catalog-maven/src/main/java/org/apache/camel/catalog/maven/ComponentArtifactHelper.java
  catalog/camel-catalog-maven/src/test/java/org/apache/camel/catalog/maven/ComponentArtifactHelperTest.java
  catalog/camel-catalog-maven/src/test/resources/META-INF/services/org/apache/camel/component/https
  catalog/camel-catalog-maven/src/test/resources/META-INF/services/org/apache/camel/components.properties
Labels: catalog, camel-4

#17764 Allow empty credentials in DHIS2 component
  components/camel-dhis2/camel-dhis2-component/src/main/java/org/apache/camel/component/dhis2/Dhis2Component.java
  components/camel-dhis2/camel-dhis2-component/src/test/java/org/apache/camel/component/dhis2/Dhis2ComponentTestCase.java
Labels: components, camel-4

#17761 CAMEL-21958: camel-core: Java DSL. Fix endChoice() to reuse end() and scope to current/nearest choice.
  core/camel-core-model/src/main/java/org/apache/camel/model/ChoiceDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/ProcessorDefinition.java
  core/camel-core/src/test/java/org/apache/camel/processor/NestedChoiceIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/NestedChoiceOtherwiseIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/TripleNestedChoiceIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/async/AsyncNestedTripleChoiceIssueTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
Labels: core, docs, camel-4

#17763 CAMEL-21859: camel-xslt - add source option
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/xj.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/xslt-saxon.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/xslt.json
  components/camel-xj/src/generated/java/org/apache/camel/component/xj/XJEndpointUriFactory.java
  components/camel-xj/src/generated/resources/META-INF/org/apache/camel/component/xj/xj.json
  components/camel-xj/src/main/java/org/apache/camel/component/xj/JsonSourceHandlerFactoryImpl.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/J2XInputStreamTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/J2XOutputBytesTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/J2XOutputFileTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/J2XOutputIdentityTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/J2XOutputStringTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/X2JInputStreamTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/X2JOutputBytesTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/X2JOutputFileTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/X2JOutputIdentityTest.java
  components/camel-xj/src/test/java/org/apache/camel/component/xj/X2JOutputStringTest.java
  components/camel-xslt-saxon/src/generated/java/org/apache/camel/component/xslt/saxon/XsltSaxonEndpointUriFactory.java
  components/camel-xslt-saxon/src/generated/resources/META-INF/org/apache/camel/component/xslt/saxon/xslt-saxon.json
  components/camel-xslt-saxon/src/main/java/org/apache/camel/component/xslt/saxon/XsltSaxonEndpoint.java
  components/camel-xslt-saxon/src/test/java/org/apache/camel/component/xslt/saxon/XsltSaxonTest.java
  components/camel-xslt/src/generated/java/org/apache/camel/component/xslt/XsltEndpointConfigurer.java
  components/camel-xslt/src/generated/java/org/apache/camel/component/xslt/XsltEndpointUriFactory.java
  components/camel-xslt/src/generated/resources/META-INF/org/apache/camel/component/xslt/xslt.json
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XmlSourceHandlerFactoryImpl.java
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltBuilder.java
  components/camel-xslt/src/main/java/org/apache/camel/component/xslt/XsltEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/XJEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/XsltEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/XsltSaxonEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17775 CAMEL-21978: camel-jbang - k8s examples should serve ingress cert
  components/camel-oauth/helm/README.md
  components/camel-oauth/helm/etc/cluster.crt
  components/camel-oauth/helm/etc/cluster.key
  components/camel-oauth/helm/etc/san.cnf
Labels: components, camel-4

#17776 camel-jbang-it: Fixes CustomJarsITCase
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CustomJarsITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/CircuitBreakerRoute.java
Labels: dsl, camel-4

#17733 Backport jbang fixes from main to 4.10.x
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/maven-wrapper/mvnw.cmd
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CamelCatalogITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CamelDebugITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/LocalKameletsITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/MavenGradleITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/RunCommandOnMqttITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ScriptingWithPipesITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/support/JBangTestSupport.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/StubRoute.java
  dsl/camel-jbang/camel-jbang-it/src/test/resources/jbang/it/user-source.kamelet.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunCustomTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/log4j2.properties
Labels: docs, dsl, camel-4

#17704 CAMEL-21945 camel-jbang: add edit plugin
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Nano.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginType.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/plugin/PluginGetTest.java
  dsl/camel-jbang/camel-jbang-plugin-edit/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-edit/src/generated/resources/META-INF/services/org/apache/camel/camel-jbang-plugin/camel-jbang-plugin-edit
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/CamelNanoLspEditor.java
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/EditCommand.java
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/EditPlugin.java
  dsl/camel-jbang/pom.xml
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#17781 Upgrade Hashicorp Vault container image version to 1.19.1
  test-infra/camel-test-infra-hashicorp-vault/src/main/resources/org/apache/camel/test/infra/hashicorp/vault/services/container.properties
Labels: test-infra, camel-4

#17758 feat: Expose CamelContextConfiguration.replaceRouteFromWith(String, String) as API
  components/camel-test/camel-test-junit5/src/main/java/org/apache/camel/test/junit5/CamelContextConfiguration.java
Labels: components, camel-4

#17784 CAMEL-21968 - Add Camel-PQC Documentation and show algorithms
  components/camel-pqc/src/main/docs/pqc-component.adoc
Labels: components, camel-4

#17785 Adding confluent kafka instance type
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/test-infra/metadata.json
  test-infra/camel-test-infra-all/src/generated/resources/META-INF/metadata.json
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/common/KafkaProperties.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/ConfluentContainer.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/ConfluentInfraService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaServiceFactory.java
Labels: catalog, test-infra, camel-4

#17787 Adding confluent kafka instance type
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/test-infra/metadata.json
  test-infra/camel-test-infra-all/src/generated/resources/META-INF/metadata.json
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/common/KafkaProperties.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/ConfluentContainer.java
  test-infra/camel-test-infra-kafka/src/main/java/org/apache/camel/test/infra/kafka/services/ConfluentInfraService.java
  test-infra/camel-test-infra-kafka/src/test/java/org/apache/camel/test/infra/kafka/services/KafkaServiceFactory.java
Labels: catalog, test-infra, camel-4

#17789 Update smb-component.adoc
  components/camel-smb/src/main/docs/smb-component.adoc
Labels: components, camel-4

#17786 CAMEL-21945: camel-jbang fix help prompts in edit plugin
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/CamelNanoLspEditor.java
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/resources/org/apache/camel/dsl/jbang/core/commands/edit/edit-help.txt
Labels: dsl, camel-4

#17792 CAMEL-21988: camel-jpa - Add @UriParam with entityManagerFactory in J…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jpa.json
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointConfigurer.java
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointUriFactory.java
  components/camel-jpa/src/generated/resources/META-INF/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JpaEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17793 [4.10.x] CAMEL-21988: camel-jpa - Add @UriParam with entityManagerFactory in J…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jpa.json
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointConfigurer.java
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaEndpointUriFactory.java
  components/camel-jpa/src/generated/resources/META-INF/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaEndpoint.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/JpaEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17801 CAMEL-21991: camel-jpa - Make entityManagerFactory as an autowired option
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jpa.json
  components/camel-jpa/src/generated/java/org/apache/camel/component/jpa/JpaComponentConfigurer.java
  components/camel-jpa/src/generated/resources/META-INF/org/apache/camel/component/jpa/jpa.json
  components/camel-jpa/src/main/java/org/apache/camel/component/jpa/JpaComponent.java
Labels: components, catalog, camel-4

#17803 Camel-PQC: Add a test for roundtrip of encapsulated secret key and us…
  components/camel-pqc/pom.xml
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCMLKEMGenerateEncapsulationCryptoRoundTripTest.java
Labels: components, camel-4

#17734 CAMEL-21845: camel-sql - Only commit/rollback if auto commit has been true
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlProducer.java
Labels: components, camel-4

#17806 CAMEL-21997 Tokenize the host / scheme in the camel-weaviate integration test for substitution, add ID to queryById test
  components/camel-ai/camel-weaviate/src/test/java/org/apache/camel/component/weaviate/it/WeaviateComponentIT.java
Labels: components, camel-4, components-ai

#17822 Copy paste typo fix
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
Labels: core, camel-4

#17823 Resource leak in FileInputStreamCache
  core/camel-support/src/main/java/org/apache/camel/converter/stream/FileInputStreamCache.java
Labels: core, camel-4

#17825 Camel-PQC: Adding metadata to URI Parameters
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pqc.json
  components/camel-pqc/src/generated/resources/META-INF/org/apache/camel/component/pqc/pqc.json
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCConfiguration.java
Labels: components, catalog, camel-4

#17826 CSB-21999: Downgrade Netty
  components/camel-knative/camel-knative-http/src/test/java/org/apache/camel/component/knative/http/KnativeHttpTest.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyServerBossPoolBuilder.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#17827 CAMEL-22001: camel-core - Kamelet/seda and EIPs should propagate exch…
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletEIPPropagateVariableAsResultTestTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletPropagateVariableAsResultTestTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/EnrichPropagateVariableAsResultTestTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/LoopCopyPropagateVariableAsResultTestTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/PollEnrichPropagateVariableAsResultTestTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/RoutingSlipPropagateVariableAsResultTestTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/SedaPropagateVariableAsResultTestTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/SplitterAggregationStrategyPropagateVariableAsResultTest.java
  core/camel-support/src/main/java/org/apache/camel/support/ExchangeHelper.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
Labels: components, core, docs, camel-4

#17828 camel-test-infra-cli: Adds custom Dockerimage file param
  dsl/camel-jbang/camel-jbang-it/pom.xml
  test-infra/camel-test-infra-cli/README.adoc
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/common/CliProperties.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliBuiltContainer.java
  test-infra/camel-test-infra-cli/src/test/java/org/apache/camel/test/infra/cli/services/CliLocalContainerService.java
Labels: dsl, test-infra, camel-4

#17830 CAMEL-21993 - Camel-PQC - Provide default KeyGenerator for KEM operat…
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCComponent.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/PQCDefaultMLKEMMaterial.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCMLKEMGenerateEncapsulationAESNoAutowiredTest.java
Labels: components, camel-4

#17834 Resource leak in GenericFileConverter
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConverter.java
Labels: components, camel-4

#17831 CAMEL-22004 Pause action must be re-issued when new partitions are as…
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaFetchRecords.java
Labels: components, components-kafka, camel-4

#17832 Resource leak in JBang Run
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#17843 CAMEL-21993 - Camel-PQC - Provide default KeyGenerator for KEM operat…
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCComponent.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/kem/PQCDefaultBIKEMaterial.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/kem/PQCDefaultCMCEMaterial.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/kem/PQCDefaultFRODOMaterial.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/kem/PQCDefaultHQCMaterial.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/kem/PQCDefaultMLKEMMaterial.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/crypto/kem/PQCDefaultSABERMaterial.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCBIKEGenerateEncapsulationAESNoAutowiredTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCCMCEGenerateEncapsulationAESNoAutowiredTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCFRODOGenerateEncapsulationAESNoAutowiredTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCHQCGenerateEncapsulationAESNoAutowiredTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSABERGenerateEncapsulationAESNoAutowiredTest.java
Labels: components, camel-4

#17846 Fixed typo in Java example
  core/camel-core-engine/src/main/docs/modules/eips/pages/pipeline-eip.adoc
Labels: core, camel-4

#17848 Upgrade Opensearch container image to version 2.19.1 for test-infra
  test-infra/camel-test-infra-opensearch/src/main/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: test-infra, camel-4

#17861 CAMEL-22010 - Camel-PQC: Define an option to store result of extractS…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pqc.json
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCComponentConfigurer.java
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCEndpointConfigurer.java
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCEndpointUriFactory.java
  components/camel-pqc/src/generated/resources/META-INF/org/apache/camel/component/pqc/pqc.json
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCConfiguration.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCConstants.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCProducer.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCMLKEMGenerateEncapsulationCryptoRoundTripAESAsHeaderTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PqcComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PQCEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17847 CAMEL-22012 Add a test-infra for camel-weaviate
  components/camel-ai/camel-weaviate/pom.xml
  components/camel-ai/camel-weaviate/src/test/java/org/apache/camel/component/weaviate/WeaviateTestSupport.java
  components/camel-ai/camel-weaviate/src/test/java/org/apache/camel/component/weaviate/it/WeaviateContainerIT.java
  test-infra/camel-test-infra-weaviate/pom.xml
  test-infra/camel-test-infra-weaviate/src/main/java/org/apache/camel/test/infra/weaviate/common/WeaviateProperties.java
  test-infra/camel-test-infra-weaviate/src/main/java/org/apache/camel/test/infra/weaviate/services/WeaviateInfraService.java
  test-infra/camel-test-infra-weaviate/src/main/java/org/apache/camel/test/infra/weaviate/services/WeaviateLocalContainerInfraService.java
  test-infra/camel-test-infra-weaviate/src/main/java/org/apache/camel/test/infra/weaviate/services/WeaviateRemoteInfraService.java
  test-infra/camel-test-infra-weaviate/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-weaviate/src/main/resources/org/apache/camel/test/infra/weaviate/services/container.properties
  test-infra/camel-test-infra-weaviate/src/test/java/org/apache/camel/test/infra/weaviate/services/WeaviateService.java
  test-infra/camel-test-infra-weaviate/src/test/java/org/apache/camel/test/infra/weaviate/services/WeaviateServiceFactory.java
  test-infra/pom.xml
Labels: components, test-infra, camel-4, components-ai

#17866 CAMEL-20937: backport the missing bits of the reviewed PR
  components/camel-observation/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
  components/camel-opentelemetry/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
Labels: components, camel-4

#17868 Align spring properties and jetty to match versions in spring-boot-dependencies
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#17880 chore(comp/platfomr-http-vertx): use constant instead of port hardcode
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpEngine.java
  components/camel-platform-http-vertx/src/main/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpRouter.java
Labels: components, camel-4

#17879 Enable ppc64le Support for Camel-optaplanner
  components/camel-optaplanner/pom.xml
Labels: components, camel-4

#17881 Enable ppc64le Support for camel-mongodb-gridfs
  components/camel-mongodb-gridfs/pom.xml
Labels: components, camel-4

#17882 CAMEL-21945: camel-jbang edit plugin - fix ctrl + space in Mac
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/CamelNanoLspEditor.java
Labels: dsl, camel-4

#17818 CAMEL-15088: camel-dapr - add Dapr component, invokeService operation
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/dapr.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/dapr.json
  components/camel-dapr/pom.xml
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprComponentConfigurer.java
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprEndpointConfigurer.java
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprEndpointUriFactory.java
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprTypeConverterLoader.java
  components/camel-dapr/src/generated/resources/META-INF/org/apache/camel/component/dapr/dapr.json
  components/camel-dapr/src/generated/resources/META-INF/services/org/apache/camel/TypeConverterLoader
  components/camel-dapr/src/generated/resources/META-INF/services/org/apache/camel/component.properties
  components/camel-dapr/src/generated/resources/META-INF/services/org/apache/camel/component/dapr
  components/camel-dapr/src/generated/resources/META-INF/services/org/apache/camel/configurer/dapr-component
  components/camel-dapr/src/generated/resources/META-INF/services/org/apache/camel/configurer/dapr-endpoint
  components/camel-dapr/src/generated/resources/META-INF/services/org/apache/camel/urifactory/dapr-endpoint
  components/camel-dapr/src/generated/resources/dapr.json
  components/camel-dapr/src/main/docs/dapr-component.adoc
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprComponent.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConfiguration.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConfigurationOptionsProxy.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConstants.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprEndpoint.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprExchangeHeaders.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprOperation.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprProducer.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprTypeConverter.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprOperationHandler.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprOperationManager.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprOperationResponse.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprServiceInvocationHandler.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/DaprComponentTest.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/DaprConfigurationOptionsProxyTest.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/operations/DaprInvokeServiceTest.java
  components/camel-dapr/src/test/resources/log4j2.properties
  components/pom.xml
  core/camel-main/src/generated/resources/org/apache/camel/main/components.properties
  docs/components/modules/ROOT/examples/json/dapr.json
  docs/components/modules/ROOT/nav.adoc
  docs/components/modules/ROOT/pages/dapr-component.adoc
  docs/components/modules/others/examples/json/dapr.json
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DaprComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/EndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DaprEndpointBuilderFactory.java
  dsl/camel-kamelet-main/src/generated/resources/camel-component-known-dependencies.properties
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#17883 CAMEL-22022: camel-jackson/camel-jacksonxml - Use LinkedHashMap inste…
  components/camel-jackson/src/main/java/org/apache/camel/component/jackson/AbstractJacksonDataFormat.java
  components/camel-jacksonxml/src/main/java/org/apache/camel/component/jacksonxml/JacksonXMLDataFormat.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
Labels: components, docs, camel-4

#17903 CAMEL-22020: camel-platform-http/camel-rest: Plus sign in consumes/pr…
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpEndpoint.java
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/PlatformHttpConsumesPlusSignTest.java
  components/camel-rest/src/main/java/org/apache/camel/component/rest/RestEndpoint.java
Labels: components, camel-4

#17904 Fix the typo with serviceLocationEnabled description in camel-sql
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sql.json
  components/camel-sql/src/generated/resources/META-INF/org/apache/camel/component/sql/sql.json
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlComponent.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SqlComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17908 CAMEL-21857: Switch to SmallRye Fault Tolerance programmatic APIs
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/faultToleranceConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  components/camel-microprofile/camel-microprofile-fault-tolerance/pom.xml
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceProcessor.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceReifier.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/main/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceTimerService.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/test/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceRefConfigurationTest.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/test/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceRouteRejectedTest.java
  components/camel-microprofile/camel-microprofile-fault-tolerance/src/test/java/org/apache/camel/component/microprofile/faulttolerance/FaultToleranceTimeoutThreadPoolTest.java
  core/camel-core-model/src/generated/java/org/apache/camel/model/FaultToleranceConfigurationDefinitionConfigurer.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/faultToleranceConfiguration.json
  core/camel-core-model/src/main/java/org/apache/camel/model/FaultToleranceConfigurationCommon.java
  core/camel-core-model/src/main/java/org/apache/camel/model/FaultToleranceConfigurationDefinition.java
  core/camel-main/src/generated/java/org/apache/camel/main/FaultToleranceConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/FaultToleranceConfigurationProperties.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#17915 CAMEL-22032: camel-jbang - Regression with k8s pod logs
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesPodLogs.java
  test-infra/camel-test-infra-jetty/pom.xml
Labels: dsl, test-infra, camel-4

#17917 CAMEL-22031 - Camel-PQC: Document usage of secret key extraction from…
  components/camel-pqc/src/main/docs/pqc-component.adoc
Labels: components, camel-4

#17916 CAMEL-22028: camel-jbang - Regression with missing routes file
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
Labels: dsl, camel-4

#17918 CAMEL-21956: camel-jbang - k8s plugin does not delete the ingress
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
Labels: dsl, camel-4

#17924 CAMEL-22034: Upgrade to Bouncycastle 1.80
  components/camel-as2/camel-as2-api/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#17929 CAMEL-22036: Align camel-jackson-avro Avro version with Camel
  components/camel-jackson-avro/pom.xml
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroSchemaResolver.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroLookupResolverTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalJsonNodeTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalPojoListTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalPojoTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroBinaryDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroPojoDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroSchemaResolverTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroStructDataTypeTransformerTest.java
Labels: components, camel-4

#17930 [4.10.x] CAMEL-22036: Align camel-jackson-avro Avro version with Camel
  components/camel-jackson-avro/pom.xml
  components/camel-jackson-avro/src/main/java/org/apache/camel/component/jackson/avro/transform/AvroSchemaResolver.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroLookupResolverTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalJsonNodeTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalPojoListTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/JacksonAvroMarshalUnmarshalPojoTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroBinaryDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroPojoDataTypeTransformerTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroSchemaResolverTest.java
  components/camel-jackson-avro/src/test/java/org/apache/camel/component/jackson/avro/transform/AvroStructDataTypeTransformerTest.java
Labels: components, camel-4

#17931 chore(components): platform http endpoints resume
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServer.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/MainHttpServerUtil.java
  components/camel-platform-http-main/src/main/java/org/apache/camel/component/platform/http/main/ManagementHttpServer.java
  components/camel-platform-http/src/main/java/org/apache/camel/component/platform/http/PlatformHttpComponent.java
Labels: components, camel-4

#17935 CAMEL-22038 - aws-ddb: float/doubles are being set as ddb attribute t…
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/transform/Ddb2JsonDataTypeTransformer.java
Labels: components, components-aws, camel-4

#17936 CAMEL-22038 - aws-ddb: float/doubles are being set as ddb attribute t…
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/transform/Ddb2JsonDataTypeTransformer.java
Labels: components, components-aws, camel-4
