Repository apache/camel, pull requests merged in 2025-03, with the labels that each got.

#17317 CAMEL-21819 Add fetch action to camel-pinecone
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pinecone.json
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/org/apache/camel/component/pinecone/pinecone.json
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDb.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbAction.java
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PineconeVectorDbEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4, components-ai

#17318 CAMEL-21817: camel-bean: add support for invoking methods with vararg…
  components/camel-bean/src/main/java/org/apache/camel/component/bean/BeanInfo.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/MethodInfo.java
  components/camel-bean/src/main/java/org/apache/camel/component/bean/ParameterInfo.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanParameterInfoTest.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanVarargsInject4Test.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanVarargsInject5Test.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanVarargsInject6Test.java
  core/camel-core/src/test/java/org/apache/camel/component/bean/BeanVarargsInject7Test.java
Labels: components, core, camel-4

#17330 CAMEL-21821: drop support for declaring route condition in element text
  components/camel-smooks/src/main/resources/META-INF/xsd/smooks/camel-1.5.xsd-smooks.xml
Labels: components, camel-4

#17331 CAMEL-21671: camel-core: Split/Multicast EIP: Sync processing in parallel mode to avoid unbounded thread use, but to respect the thread pool limits from the EIP
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/multicast.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/recipientList.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/split.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/multicast.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/recipientList.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/split.json
  core/camel-core-model/src/main/java/org/apache/camel/model/MulticastDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RecipientListDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/SplitDefinition.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core/src/test/java/org/apache/camel/issues/SplitterParallelAsyncProcessorIssueTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/async/AsyncEndpointMulticastSynchronousTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
Labels: core, catalog, docs, dsl, camel-4

#17333 CAMEL-21820 - Camel-IBM-Secrets-manager: Support Arbitrary secrets type in properties function
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/IBMSecretsManagerPropertiesFunction.java
  components/camel-ibm-secrets-manager/src/test/java/org/apache/camel/component/ibm/secrets/manager/integration/operations/IBMSecretsManagerNoEnvPropertiesSourceTestIT.java
Labels: components, camel-4

#17329 CAMEL-20118: Support JWT Authentication for Camel Salesforce Maven Plugin
  components/camel-salesforce/camel-salesforce-codegen/src/main/java/org/apache/camel/component/salesforce/codegen/AbstractSalesforceExecution.java
  components/camel-salesforce/camel-salesforce-maven-plugin/README.md
  components/camel-salesforce/camel-salesforce-maven-plugin/src/main/java/org/apache/camel/maven/AbstractSalesforceMojo.java
  components/camel-salesforce/camel-salesforce-maven-plugin/src/test/java/org/apache/camel/maven/AbstractSalesforceMojoTest.java
Labels: components, camel-4

#17336 CAMEL-21822 - Camel-IBM-Secrets-Manager: Documentation for properties…
  components/camel-ibm-secrets-manager/src/main/docs/ibm-secrets-manager-component.adoc
Labels: components, camel-4

#17334 chore(docs): remove temporary warning
  components/camel-observability-services/src/main/docs/observability-services.adoc
Labels: components, camel-4

#17337 Camel-IBM-Secrets-Manager: Adding documentation in Security Asciidoc too
  docs/user-manual/modules/ROOT/pages/security.adoc
Labels: docs, camel-4

#17338 CAMEL-21823: camel-core - Propagate MDC custom keys for WireTap and O…
  core/camel-core-processor/src/main/java/org/apache/camel/processor/MulticastProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/OnCompletionProcessor.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/ProcessorHelper.java
  core/camel-core-processor/src/main/java/org/apache/camel/processor/WireTapProcessor.java
  core/camel-core/src/test/java/org/apache/camel/processor/MDCOnCompletionParallelTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MDCWireTapCustomKeysTest.java
  core/camel-core/src/test/java/org/apache/camel/processor/MDCWireTapTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
Labels: core, docs, camel-4

#17350 CAMEL-20367: Adds camel doc test
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CamelDocITCase.java
Labels: dsl, camel-4

#17351 CAMEL-21828: Fix DefaultHeaderFilterStrategy when filtering in lower-…
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/PlatformHttpCamelHeadersTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultHeaderFilterStrategyTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultHeaderFilterStrategy.java
Labels: components, core, camel-4

#17353 Camel-IBM-Secrets-Manager: Added configuration to Default Configurer
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
Labels: core, camel-4

#17352 CAMEL-21830: camel-file - Using consumer template to consume a single…
  components/camel-file/src/main/java/org/apache/camel/component/file/GenericFileConsumer.java
  core/camel-core/src/test/java/org/apache/camel/component/file/FileConsumerTemplateIdempotentEagerTest.java
Labels: components, core, camel-4

#17362 CAMEL-21828: Fix DefaultHeaderFilterStrategy when filtering in lower-…
  components/camel-platform-http/src/test/java/org/apache/camel/component/platform/http/PlatformHttpCamelHeadersTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultHeaderFilterStrategyTest.java
  core/camel-support/src/main/java/org/apache/camel/support/DefaultHeaderFilterStrategy.java
Labels: components, core

#17363 CAMEL-21622: Adds route id in the span tags
  components/camel-tracing/src/main/java/org/apache/camel/tracing/TagConstants.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AbstractSpanDecorator.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/AbstractSpanDecoratorTest.java
Labels: components, camel-4

#17364 CAMEL-19731 Implemented try-with-resources for MinioClient
  components/camel-minio/src/main/java/org/apache/camel/component/minio/MinioComponentVerifierExtension.java
Labels: components, camel-4

#17369 CAMEL-21837 - camel-api - Deprecate component.extension
  core/camel-api/src/main/java/org/apache/camel/component/extension/ComponentExtension.java
  core/camel-api/src/main/java/org/apache/camel/component/extension/ComponentVerifierExtension.java
  core/camel-api/src/main/java/org/apache/camel/component/extension/ComponentVerifierExtensionHelper.java
  core/camel-api/src/main/java/org/apache/camel/component/extension/MetaDataExtension.java
Labels: core, camel-4

#17372 kafka manual commit classloading issue
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/BatchManualCommit.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/ManualCommit.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/DefaultKafkaManualAsyncCommit.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/DefaultKafkaManualCommit.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/batching/KafkaRecordBatchingProcessor.java
  components/camel-kamelet/pom.xml
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/serialization/kafka/KafkaHeaderDeserializer.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/MessageTimestampRouter.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/RegexRouter.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/TimestampRouter.java
  components/camel-kamelet/src/main/java/org/apache/camel/component/kamelet/utils/transform/kafka/ValueToKey.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/RegexRouterTest.java
Labels: components, components-kafka, camel-4

#17371 CAMEL-21840: Testcases and fix for CAMEL-21840.
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpQueryTest.java
  components/camel-http/src/test/java/org/apache/camel/component/http/handler/BasicValidationHandler.java
Labels: components, camel-4

#17388 CAMEL-21843 - camel-kamelet - Move kamelet utils to corresponding com…
  components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/SslAwareMongoClient.java
Labels: components, camel-4

#17390 CAMEL-21845: camel-sql - Improve performance of batch inserts
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/sql.json
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/SqlComponentConfigurer.java
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/SqlEndpointConfigurer.java
  components/camel-sql/src/generated/java/org/apache/camel/component/sql/SqlEndpointUriFactory.java
  components/camel-sql/src/generated/resources/META-INF/org/apache/camel/component/sql/sql.json
  components/camel-sql/src/main/java/org/apache/camel/component/sql/DefaultSqlEndpoint.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlComponent.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlConsumer.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlEndpoint.java
  components/camel-sql/src/main/java/org/apache/camel/component/sql/SqlProducer.java
  components/camel-sql/src/test/java/org/apache/camel/component/sql/SqlConsumerFetchSizeTest.java
  components/camel-sql/src/test/java/org/apache/camel/component/sql/SqlProducerFetchSizeTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_10.adoc
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SqlComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SqlEndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, camel-4

#17391 CAMEL-21849: camel-kamelet - Using variableReceive should not loose m…
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletVariableReceiveTest.java
  core/camel-core-model/src/main/java/org/apache/camel/model/RouteTemplateDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/RouteReifier.java
Labels: components, core, camel-4

#17335 camel-jbang-plugin-kubernetes: make the delete op to delete from the k8s resources
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/pom.xml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
Labels: dsl, camel-4

#17403 CAMEL-21853: camel-salesforce: Increase timeout to 30 sec for checkin…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/generated/java/org/apache/camel/component/salesforce/SalesforceComponentConfigurer.java
  components/camel-salesforce/camel-salesforce-component/src/generated/resources/META-INF/org/apache/camel/component/salesforce/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/PubSubApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceComponent.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/PubSubApiClient.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/PubSubApiTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/SalesforceComponentBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17404 Remove duplicate code example in DHIS2 component
  components/camel-dhis2/camel-dhis2-component/src/main/docs/dhis2-component.adoc
Labels: components, camel-4

#17402 CAMEL-21739: camel-ftp - Fix leading / in some cases
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/FtpConsumer.java
  components/camel-ftp/src/main/java/org/apache/camel/component/file/remote/SftpConsumer.java
  components/camel-ftp/src/test/java/org/apache/camel/component/file/remote/sftp/integration/SftpSimpleConsumeWithAntIncludeIT.java
Labels: components, camel-4

#17405 Fix typo; Muliple -> Multiple
  components/camel-rest-openapi/src/test/resources/openapi.json
  components/camel-rest-openapi/src/test/resources/openapi.yaml
  components/camel-tahu/src/test/java/org/apache/camel/component/tahu/TahuConfigurationTest.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/openapi.json
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/test/resources/routes/rest-dsl.yaml
  tooling/maven/camel-restdsl-openapi-plugin/src/it/customized-v3/src/main/resources/petstore.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-dto-v3/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-v3/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-dto-v3/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-xml-v3/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-dto-v3/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-kamelet-v3/src/spec/openapi.json
  tooling/maven/camel-restdsl-openapi-plugin/src/it/simple-yaml-v3/src/spec/openapi.json
  tooling/openapi-rest-dsl-generator/src/test/resources/MyRestRouteFilterV3.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/MyRestRouteV3.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3Petstore.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreWithModelYaml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreWithRestComponent.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreWithRestComponentXml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreWithRestComponentYaml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreXml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/OpenApiV3PetstoreYaml.txt
  tooling/openapi-rest-dsl-generator/src/test/resources/org/apache/camel/generator/openapi/openapi-spec.json
Labels: components, dsl, tooling, tooling-maven, camel-4

#17407 Update camel-chunk documentation: Replace outdated URL with Correct one
  components/camel-chunk/src/main/docs/chunk-component.adoc
Labels: components, camel-4

#17417 CAMEL-21843 - camel-kamelet - Move kamelet utils to corresponding com…
  components/camel-ai/camel-djl/pom.xml
  components/camel-ai/camel-djl/src/main/java/org/apache/camel/component/djl/ImageNetUtil.java
  components/camel-kamelet/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4, components-ai

#17420 Align with netty/spring redis with spring-boot 3.3.9; refresh
  bom/camel-bom/pom.xml
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#17389 chore(doc): MDC documentation and proposal
  docs/user-manual/modules/ROOT/pages/mdc.adoc
  proposals/mdc.adoc
Labels: docs, camel-4

#17438 CAMEL-21860: IntelliJ cannot run camel k8s tests
  components/camel-oauth/src/test/java/org/apache/camel/test/oauth/AbstractKeycloakTest.java
  test-infra/camel-test-infra-common/src/main/java/org/apache/camel/test/infra/common/services/InfrastructureService.java
Labels: components, test-infra, camel-4

#17370 CAMEL-21839: there may be a body even if the tools are not called
  components/camel-ai/camel-langchain4j-tools/src/main/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolsProducer.java
  components/camel-ai/camel-langchain4j-tools/src/test/java/org/apache/camel/component/langchain4j/tools/LangChain4jToolNoToolsToBeCalledIT.java
Labels: components, camel-4, components-ai

#17440 CAMEL-21863: camel-as2 - Make configuring endpoint more tooling friendly
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/as2.json
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ClientManager.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/protocol/RequestMDN.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTestBase.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2UnencryptedMessageTest.java
  components/camel-as2/camel-as2-component/pom.xml
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2AsyncMDNServerManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfiguration.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2EndpointConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2EndpointUriFactory.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ServerManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/internal/AS2ApiCollection.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/internal/AS2ClientManagerApiMethod.java
  components/camel-as2/camel-as2-component/src/generated/resources/META-INF/org/apache/camel/component/as2/as2.json
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Configuration.java
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Endpoint.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2AsyncMDNServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerEncryptedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerITBase.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerSecTestBase.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/CreateEndpointManualIssueTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AS2EndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, camel-4

#17446 CAMEL-21843 - camel-kamelet - Move kamelet utils to corresponding com…
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaHeaderDeserializer.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/DropField.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/ExtractField.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/HoistField.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/InsertField.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/MaskField.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/MessageTimestampRouter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/RegexRouter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/ReplaceField.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/TimestampRouter.java
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/transform/ValueToKey.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/transform/HoistFieldTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/transform/InsertFieldTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/transform/KafkaHeaderDeserializerTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/transform/MaskFieldTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/transform/RegexRouterTest.java
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/transform/ReplaceFieldTest.java
  components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/utils/transform/ExtractFieldTest.java
Labels: components, components-kafka, camel-4

#17445 fix(observation): create a generic log event
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationSpanAdapter.java
Labels: components, camel-4

#17451 CAMEL-21843 - camel-kamelet - Move kamelet utils to corresponding com…
  components/camel-ai/camel-langchain4j-chat/pom.xml
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/huggingface/HugginFaceChatLanguageModelBuilder.java
  components/camel-ai/camel-langchain4j-chat/src/main/java/org/apache/camel/component/langchain4j/chat/openai/OpenAiChatLanguageModelBuilder.java
  components/camel-ai/camel-langchain4j-embeddings/pom.xml
  components/camel-ai/camel-langchain4j-embeddings/src/main/java/org/apache/camel/component/langchain4j/embeddings/huggingface/HuggingFaceEmbeddingModelBuilder.java
  components/camel-ai/camel-langchain4j-embeddings/src/main/java/org/apache/camel/component/langchain4j/embeddings/openai/OpenAiEmbeddingModelBuilder.java
  components/camel-kamelet/pom.xml
Labels: components, camel-4, components-ai

#17450 [Backport 4.8.x] fix(observation): create a generic log event
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationSpanAdapter.java
Labels: components, camel-4

#17418 CAMEL-21842 camel-jbang-plugin-kubernetes pod startup probe fails because of wrong path
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/support/StubComponentResolver.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: docs, dsl, camel-4

#17447 CAMEL-21802: added vectors to list of strings transformer in camel-pinecone
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/pinecone-rag.json
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer/pinecone-rag
  components/camel-ai/camel-pinecone/src/generated/resources/META-INF/services/org/apache/camel/transformer/pinecone-rag.json
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/transform/PineconeReverseEmbeddingsDataTypeTransformer.java
Labels: components, catalog, camel-4, components-ai

#17448 CAMEL-21858: Checking the httpMethod parameter when decorating the sp…
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/decorators/AbstractHttpSpanDecorator.java
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/decorators/HttpMethodHelper.java
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/decorators/HttpSpanDecorator.java
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/decorators/VertxHttpSpanDecorator.java
  components/camel-telemetry/src/test/java/org/apache/camel/telemetry/decorators/AbstractHttpSpanDecoratorTest.java
  components/camel-telemetry/src/test/java/org/apache/camel/telemetry/decorators/HttpMethodHelperTest.java
  components/camel-telemetry/src/test/java/org/apache/camel/telemetry/decorators/HttpSpanDecoratorTest.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AbstractHttpSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/HttpMethodHelper.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/HttpSpanDecorator.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/VertxHttpSpanDecorator.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/AbstractHttpSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/HttpMethodHelperTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/HttpSpanDecoratorTest.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/VertxHttpSpanDecoratorTest.java
Labels: components, camel-4

#17462 [camel-neo4j] Mismatched number of placeholders and number of args fo…
  components/camel-ai/camel-neo4j/src/main/java/org/apache/camel/component/neo4j/Neo4jProducer.java
Labels: components, camel-4, components-ai

#17477 CAMEL-21876 - Undertow Header Filter Strategy: Considering also the i…
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/UndertowHeaderFilterStrategy.java
Labels: components

#17478 CAMEL-21876 - Undertow Header Filter Strategy: Considering also the i…
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/UndertowHeaderFilterStrategy.java
Labels: components, camel-4

#17476 CAMEL-21876 - Undertow Header Filter Strategy: Considering also the i…
  components/camel-undertow/src/main/java/org/apache/camel/component/undertow/UndertowHeaderFilterStrategy.java
Labels: components, camel-4

#17480 camel-smooks: Add log4j2.properties
  components/camel-smooks/src/test/resources/log4j2.properties
Labels: components, camel-4

#17481 Update event-notifier.adoc for using timestamps
  docs/user-manual/modules/ROOT/pages/event-notifier.adoc
Labels: docs, camel-4

#17483 ## Fix activemq6-component.adoc
  components/camel-activemq6/src/main/docs/activemq6-component.adoc
Labels: components

#17482 Upgrade reactor-netty to 1.1.28 to match the version of netty in camel (4.1.119.Final)
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#17463 CAMEL-21874 Fixed 3 cases of possible resource leak
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/firehose/KinesisFirehose2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-kms/src/main/java/org/apache/camel/component/aws2/kms/KMS2ComponentVerifierExtension.java
  components/camel-aws/camel-aws2-sts/src/main/java/org/apache/camel/component/aws2/sts/STS2ComponentVerifierExtension.java
Labels: components, components-aws, camel-4

#17492 Move smooks-edi-cartridge dependency from test scope.
  components/camel-smooks/pom.xml
Labels: components, camel-4

#17498 [ CAMEL-21881 ] : Move smooks-edi-cartridge dependency from test scope.
  components/camel-smooks/pom.xml
Labels: components

#17505 CAMEL-21880 - camel-kafka - add lowerCase to header filter strategy
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaHeaderFilterStrategy.java
Labels: components, components-kafka, camel-4

#17506 CAMEL-21880 - camel-kafka - add lowerCase to header filter strategy
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaHeaderFilterStrategy.java
Labels: components, components-kafka

#17507 feat(components): include a micrometer metric gauge for app
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/MicrometerConstants.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/eventnotifier/AbstractMicrometerEventNotifier.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/json/AbstractMicrometerService.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierDynamicTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/eventnotifier/MicrometerExchangeEventNotifierStaticTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/messagehistory/ExceptionRouteMicrometerMessageHistoryTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/messagehistory/ManagedMessageHistoryTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/messagehistory/MicrometerMessageHistoryTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/messagehistory/SpringMicrometerMessageHistoryTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/ManagedMicrometerRoutePolicyTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyConfigurationTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyMulticastSubRouteTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicySubRouteTest.java
  components/camel-micrometer/src/test/java/org/apache/camel/component/micrometer/routepolicy/ZMicrometerRoutePolicyExcludePatternTest.java
Labels: components, camel-4

#17509 CAMEL-19731 fixed resource leak in StringTemplateEndpoint
  components/camel-stringtemplate/src/main/java/org/apache/camel/component/stringtemplate/StringTemplateEndpoint.java
Labels: components, camel-4

#17520 doc(healt): how to consume endpoints
  docs/user-manual/modules/ROOT/pages/health-check.adoc
Labels: docs, camel-4

#17522 chore(component): metrics skip camel info flag
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-micrometer-prometheus/src/generated/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheusConfigurer.java
  components/camel-micrometer-prometheus/src/main/java/org/apache/camel/component/micrometer/prometheus/MicrometerPrometheus.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/json/AbstractMicrometerService.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/messagehistory/MicrometerMessageHistoryFactory.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicy.java
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/routepolicy/MicrometerRoutePolicyFactory.java
  core/camel-main/src/generated/java/org/apache/camel/main/MetricsConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/MetricsConfigurationProperties.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
Labels: components, core, catalog, docs, camel-4

#17526 camel-micrometer: Avoid registering app.info gauge multiple times
  components/camel-micrometer/src/main/java/org/apache/camel/component/micrometer/json/AbstractMicrometerService.java
Labels: components, camel-4

#17521 CAMEL-21539: Add vector support to camel-infinispan
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/infinispan.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/langchain4j-embeddings.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/transformers/infinispan-embeddings.json
  components/camel-ai/camel-langchain4j-embeddings/pom.xml
  components/camel-ai/camel-langchain4j-embeddings/src/generated/resources/META-INF/org/apache/camel/component/langchain4j/embeddings/langchain4j-embeddings.json
  components/camel-ai/camel-langchain4j-embeddings/src/main/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddings.java
  components/camel-ai/camel-langchain4j-embeddings/src/main/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsProducer.java
  components/camel-ai/camel-langchain4j-embeddings/src/test/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsComponentInfinispanTargetIT.java
  components/camel-ai/camel-langchain4j-embeddings/src/test/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsComponentTest.java
  components/camel-infinispan/camel-infinispan/pom.xml
  components/camel-infinispan/camel-infinispan/src/generated/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteComponentConfigurer.java
  components/camel-infinispan/camel-infinispan/src/generated/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteEndpointConfigurer.java
  components/camel-infinispan/camel-infinispan/src/generated/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteEndpointUriFactory.java
  components/camel-infinispan/camel-infinispan/src/generated/resources/META-INF/org/apache/camel/component/infinispan/remote/infinispan.json
  components/camel-infinispan/camel-infinispan/src/generated/resources/META-INF/services/org/apache/camel/transformer.properties
  components/camel-infinispan/camel-infinispan/src/generated/resources/META-INF/services/org/apache/camel/transformer/infinispan-embeddings
  components/camel-infinispan/camel-infinispan/src/generated/resources/META-INF/services/org/apache/camel/transformer/infinispan-embeddings.json
  components/camel-infinispan/camel-infinispan/src/main/docs/infinispan-component.adoc
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteAggregationRepository.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteConfiguration.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteIdempotentRepository.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteManager.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteUtil.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/cluster/InfinispanRemoteClusterView.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/embeddingstore/EmbeddingStoreUtil.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/embeddingstore/InfinispanRemoteEmbedding.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/embeddingstore/InfinispanRemoteEmbeddingMarshaller.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/embeddingstore/InfinispanVectorQueryBuilder.java
  components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/transform/InfinispanEmbeddingsDataTypeTransformer.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteAggregationRepositoryOperationsIT.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteConfigurationIT.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteEmbeddingStoreIT.java
  components/camel-infinispan/camel-infinispan/src/test/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteTestSupport.java
  core/camel-api/src/main/java/org/apache/camel/ai/CamelLangchain4jAttributes.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/InfinispanComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/InfinispanRemoteEndpointBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/LangChain4jEmbeddingsEndpointBuilderFactory.java
Labels: components, core, catalog, dsl, camel-4, components-ai

#17525 Align versions to spring-boot 3.3.10
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#17416 CAMEL-21812: camel-jbang - Provide an option in camel k8s to trust a …
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/main-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/run-java.sh
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#17508 CAMEL-21835 CAMEL-21841 knative service not working in camel-jbang-plugin-kubernetes
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/ClusterType.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/DeploymentTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/knative/KnativeServiceTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportKnativeTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunCustomTest.java
Labels: docs, dsl, camel-4

#17540 CAMEL-21885 - HeaderFilter Strategies: add lowerCase where it's not p…
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2HeaderFilterStrategy.java
Labels: components, components-aws, camel-4

#17542 CAMEL-21885 - HeaderFilter Strategies: add lowerCase where it's not p…
  components/camel-azure/camel-azure-servicebus/src/main/java/org/apache/camel/component/azure/servicebus/ServiceBusHeaderFilterStrategy.java
Labels: components, components-azure, camel-4

#17543 CAMEL-21888: camel-core - Compress changes only if needed
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#17474 [CAMEL-21877] fix body comparison - model is the parent/super type of body
  components/camel-servicenow/camel-servicenow-component/src/main/java/org/apache/camel/component/servicenow/AbstractServiceNowProcessor.java
Labels: components, camel-4

#17546 CAMEL-21888: camel-core - Compute cache changes size
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#17553 doc(components): opentelemetry 2 note
  components/camel-opentelemetry/src/main/docs/opentelemetry.adoc
Labels: components, camel-4

#17554 camel-langchain4j-chat: Remove duplicate langchain4j-open-ai dependencies
  components/camel-ai/camel-langchain4j-chat/pom.xml
Labels: components, camel-4, components-ai

#17555 feat(components): use otel2 instead of otel
  components/camel-observability-services/pom.xml
  components/camel-observability-services/src/main/docs/observability-services.adoc
  components/camel-observability-services/src/main/resources/observability-services.properties
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_11.adoc
Labels: components, docs, camel-4

#17545 CAMEL-20937: add azure-storage-queue span decorator
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AzureStorageQueueSpanDecorator.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/AzureStorageQueueSpanDecoratorTest.java
Labels: components, camel-4

#17541 Skip Kafka health test when using Strimzi
  components/camel-kafka/src/test/java/org/apache/camel/component/kafka/integration/health/KafkaConsumerHealthCheckIT.java
Labels: components, components-kafka, camel-4

#17558 CAMEL-21888: camel-core - Compress changes only if needed - 4.8
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#17559 CAMEL-21888: camel-core - Compress changes only if needed - 4.10
  core/camel-core/src/test/java/org/apache/camel/support/cache/SimpleLRUCacheTest.java
  core/camel-support/src/main/java/org/apache/camel/support/cache/SimpleLRUCache.java
Labels: core, camel-4

#17556 CAMEL-21885 - HeaderFilter Strategies: add lowerCase where it's not p…
  components/camel-mail/src/main/java/org/apache/camel/component/mail/MailHeaderFilterStrategy.java
Labels: components, camel-4

#17557 CAMEL-21753: camel-jbang - Generates duplicate application.property entries
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
Labels: dsl, camel-4

#17571 CAMEL-21894 - Camel-AWS-SNS: Support Batch Publishing
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2ComponentConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointConfigurer.java
  components/camel-aws/camel-aws2-sns/src/generated/java/org/apache/camel/component/aws2/sns/Sns2EndpointUriFactory.java
  components/camel-aws/camel-aws2-sns/src/generated/resources/META-INF/org/apache/camel/component/aws2/sns/aws2-sns.json
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Configuration.java
  components/camel-aws/camel-aws2-sns/src/main/java/org/apache/camel/component/aws2/sns/Sns2Producer.java
  components/camel-aws/camel-aws2-sns/src/test/java/org/apache/camel/component/aws2/sns/integration/SnsTopicProducerBatchIT.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2SnsComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Sns2EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#17569 CAMEL-21893: EnvVar settings should overwrite default Kamelet properties
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
Labels: core, camel-4

#17570 CAMEL-20367: Adds Camel Config tests
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/CamelConfigITCase.java
  dsl/camel-jbang/camel-jbang-it/src/test/java/org/apache/camel/dsl/jbang/it/ExportITCase.java
Labels: dsl, camel-4

#17578 Camel-Aws2-SNS: Docs for Batching Support
  components/camel-aws/camel-aws2-sns/src/main/docs/aws2-sns-component.adoc
Labels: components, components-aws, camel-4

#17583 CAMEL-21893: EnvVar settings should overwrite default Kamelet properties
  core/camel-core-engine/src/main/java/org/apache/camel/impl/DefaultModel.java
Labels: core, camel-4

#17590 Upgrade Nats test infra image to 2.11.0
  test-infra/camel-test-infra-nats/src/main/resources/org/apache/camel/test/infra/nats/services/container.properties
Labels: test-infra, camel-4

#17591 Upgrade Test infra Elasticsearch image to version 8.17.4
  test-infra/camel-test-infra-elasticsearch/src/main/resources/org/apache/camel/test/infra/elasticsearch/services/container.properties
Labels: test-infra, camel-4

#17419 CAMEL-21855: camel-jbang - k8s delete may not work any more
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDelete.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesDeleteTest.java
Labels: dsl, camel-4

#17579 Update variables.adoc
  docs/user-manual/modules/ROOT/pages/variables.adoc
Labels: docs, camel-4

#17594 CAMEL-21906 - Camel-IBM-Secrets-Manager: Support ServiceCredentials i…
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/IBMSecretsManagerProducer.java
Labels: components, camel-4

#17596 CAMEL-21904: Use cluster specific labels on Kubernetes deployment
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitContext.java
Labels: dsl, camel-4

#17595 CAMEL-21903: camel-jbang: Adjustable container image name on Kubernetes export
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/ContainerTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: dsl, camel-4

#17592 CAMEL-20937 add azure-storage-datalake span decorator
  components/camel-observation/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
  components/camel-opentelemetry/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AzureStorageDataLakeSpanDecorator.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/decorators/AzureStorageDataLakeSpanDecoratorTest.java
Labels: components, camel-4

#17608 (chore) ci: enable apache-snapshots profile
  .github/actions/component-test/action.yaml
  .github/actions/incremental-build/action.yaml
  .github/actions/install-mvnd/action.yml
Labels: camel-4

#17607 enlist the missing decorators
  components/camel-observation/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
  components/camel-opentelemetry/src/main/resources/META-INF/services/org.apache.camel.tracing.SpanDecorator
Labels: components, camel-4

#17494 CAMEL-21875: add config for authorization headers
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/as2.json
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2AsynchronousMDNManager.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ClientManager.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2Header.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/AS2ServerConnection.java
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/util/AS2HeaderUtils.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2MessageTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/AS2UnencryptedMessageTest.java
  components/camel-as2/camel-as2-component/pom.xml
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2AsyncMDNServerManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfiguration.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ClientManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2EndpointConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2EndpointUriFactory.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/AS2ServerManagerEndpointConfigurationConfigurer.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/internal/AS2ApiCollection.java
  components/camel-as2/camel-as2-component/src/generated/java/org/apache/camel/component/as2/internal/AS2ClientManagerApiMethod.java
  components/camel-as2/camel-as2-component/src/generated/resources/META-INF/org/apache/camel/component/as2/as2.json
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/AS2Configuration.java
  components/camel-as2/camel-as2-component/src/main/java/org/apache/camel/component/as2/internal/AS2ConnectionHelper.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2AsyncMDNServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2AsyncMdnBasicAuthHeaderTest.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2AsyncMdnTokenAuthHeaderTest.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2BasicAuthHeaderTest.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ClientManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerBasicAuthHeaderTest.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerBearerAuthHeaderTest.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerEncryptedIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerManagerIT.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2ServerSecTestBase.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/AS2TokenAuthHeaderTest.java
  components/camel-as2/camel-as2-component/src/test/java/org/apache/camel/component/as2/CreateEndpointManualIssueTest.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AS2EndpointBuilderFactory.java
Labels: components, catalog, docs, dsl, camel-4

#17623 fix(components): compute properly endpoints with no name
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/SpanDecoratorManagerImpl.java
  components/camel-telemetry/src/main/java/org/apache/camel/telemetry/decorators/AbstractSpanDecorator.java
  components/camel-telemetry/src/main/resources/META-INF/services/org.apache.camel.telemetry.SpanDecorator
  components/camel-telemetry/src/test/java/org/apache/camel/telemetry/URIDecoratorTest.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/Tracer.java
  components/camel-tracing/src/main/java/org/apache/camel/tracing/decorators/AbstractSpanDecorator.java
  components/camel-tracing/src/test/java/org/apache/camel/tracing/URIDecoratorTest.java
Labels: components, camel-4

#17626 CAMEL-21905 - Camel-IBM-Secrets-Manager: Implement secret refresh by …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  components/camel-ibm-secrets-manager/pom.xml
  components/camel-ibm-secrets-manager/src/generated/resources/META-INF/services/org/apache/camel/periodic-task/ibm-secret-refresh
  components/camel-ibm-secrets-manager/src/main/java/org/apache/camel/component/ibm/secrets/manager/vault/IBMEventStreamReloadTriggerTask.java
  core/camel-api/src/main/java/org/apache/camel/vault/IBMSecretsManagerVaultConfiguration.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationConfigurer.java
  core/camel-main/src/generated/java/org/apache/camel/main/IBMSecretsManagerVaultConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/DefaultConfigurationConfigurer.java
Labels: components, core, catalog, camel-4
