Repository apache/camel, pull requests merged in 2025-05, with the labels that each got.

#17944 CAMEL-22042: camel-http - Make it easier to do file upload as MultiPa…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/http.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/https.json
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpEndpointConfigurer.java
  components/camel-http/src/generated/java/org/apache/camel/component/http/HttpEndpointUriFactory.java
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/http.json
  components/camel-http/src/generated/resources/META-INF/org/apache/camel/component/http/https.json
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpEndpoint.java
  components/camel-http/src/main/java/org/apache/camel/component/http/HttpProducer.java
  components/camel-http/src/test/java/org/apache/camel/component/http/HttpProducerFileUploadMultipartEasyTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/HttpEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17954 Upgrade Braintree-java to version 3.41.0
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/braintree.json
  components/camel-braintree/src/generated/java/org/apache/camel/component/braintree/MerchantAccountGatewayEndpointConfiguration.java
  components/camel-braintree/src/generated/java/org/apache/camel/component/braintree/MerchantAccountGatewayEndpointConfigurationConfigurer.java
  components/camel-braintree/src/generated/java/org/apache/camel/component/braintree/TransactionGatewayEndpointConfiguration.java
  components/camel-braintree/src/generated/java/org/apache/camel/component/braintree/internal/MerchantAccountGatewayApiMethod.java
  components/camel-braintree/src/generated/java/org/apache/camel/component/braintree/internal/TransactionGatewayApiMethod.java
  components/camel-braintree/src/generated/resources/META-INF/org/apache/camel/component/braintree/braintree.json
  components/camel-braintree/src/test/java/org/apache/camel/component/braintree/MerchantAccountGatewayIT.java
  components/camel-braintree/src/test/java/org/apache/camel/component/braintree/WebhookNotificationGatewayIT.java
  parent/pom.xml
Labels: components, catalog, core-build-and-dependencies, camel-4

#17955 CAMEL-22046 Add test-infra for camel-pinecone
  components/camel-ai/camel-pinecone/pom.xml
  components/camel-ai/camel-pinecone/src/main/java/org/apache/camel/component/pinecone/PineconeVectorDbProducer.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/PineconeTestSupport.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeComponentIT.java
  components/camel-ai/camel-pinecone/src/test/java/org/apache/camel/component/pinecone/it/PineconeLocalContainerIT.java
  test-infra/camel-test-infra-pinecone/pom.xml
  test-infra/camel-test-infra-pinecone/src/main/java/org/apache/camel/test/infra/pinecone/common/PineconeProperties.java
  test-infra/camel-test-infra-pinecone/src/main/java/org/apache/camel/test/infra/pinecone/services/PineconeIndexContainer.java
  test-infra/camel-test-infra-pinecone/src/main/java/org/apache/camel/test/infra/pinecone/services/PineconeInfraService.java
  test-infra/camel-test-infra-pinecone/src/main/java/org/apache/camel/test/infra/pinecone/services/PineconeLocalContainerInfraService.java
  test-infra/camel-test-infra-pinecone/src/main/java/org/apache/camel/test/infra/pinecone/services/PineconeRemoteInfraService.java
  test-infra/camel-test-infra-pinecone/src/main/resources/META-INF/MANIFEST.MF
  test-infra/camel-test-infra-pinecone/src/main/resources/org/apache/camel/test/infra/pinecone/services/container.properties
  test-infra/camel-test-infra-pinecone/src/test/java/org/apache/camel/test/infra/pinecone/services/PineconeService.java
  test-infra/camel-test-infra-pinecone/src/test/java/org/apache/camel/test/infra/pinecone/services/PineconeServiceFactory.java
  test-infra/pom.xml
Labels: components, test-infra, camel-4, components-ai

#17957 Update sample eip docs
  core/camel-core-engine/src/main/docs/modules/eips/images/eip/Sample.png
  core/camel-core-engine/src/main/docs/modules/eips/pages/sample-eip.adoc
Labels: core, camel-4

#17965 CAMEL-21902: camel-core: HeaderFilterStrategy should default be case …
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/beans/DefaultHeaderFilterStrategy.json
  components/camel-cxf/camel-cxf-rest/src/test/java/org/apache/camel/component/cxf/jaxrs/CxfRsHeaderFilterStrategyTest.java
  components/camel-http-common/src/test/java/org/apache/camel/http/common/HttpHeaderFilterStrategyTest.java
  components/camel-netty-http/src/test/java/org/apache/camel/component/netty/http/NettyHttpHeaderFilterStrategyTest.java
  core/camel-core/src/test/java/org/apache/camel/impl/DefaultHeaderFilterStrategyTest.java
  core/camel-support/src/generated/resources/META-INF/services/org/apache/camel/bean/DefaultHeaderFilterStrategy.json
  core/camel-support/src/main/java/org/apache/camel/support/DefaultHeaderFilterStrategy.java
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
Labels: components, core, catalog, docs, camel-4

#17970 CAMEL-22049: Use Kinesis async client if already set
  components/camel-aws/camel-aws2-kinesis/src/main/docs/aws2-kinesis-component.adoc
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Endpoint.java
Labels: components, components-aws, camel-4

#17971 CAMEL-22049: Use Kinesis async client if already set (#17970)
  components/camel-aws/camel-aws2-kinesis/src/main/docs/aws2-kinesis-component.adoc
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/KclKinesis2Consumer.java
  components/camel-aws/camel-aws2-kinesis/src/main/java/org/apache/camel/component/aws2/kinesis/Kinesis2Endpoint.java
Labels: components, components-aws, camel-4

#17967 Provide fix for TextPlainEntity along with a unit test
  components/camel-as2/camel-as2-api/src/main/java/org/apache/camel/component/as2/api/entity/TextPlainEntity.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/EntityParserContentLineEndingTest.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/EntityParserContentProvider.java
  components/camel-as2/camel-as2-api/src/test/java/org/apache/camel/component/as2/api/entity/TextPlainEntityTest.java
Labels: components, camel-4

#17980 Camel 17025 - Add removePrefixOnMove flag
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3ComponentConfigurer.java
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointConfigurer.java
  components/camel-aws/camel-aws2-s3/src/generated/java/org/apache/camel/component/aws2/s3/AWS2S3EndpointUriFactory.java
  components/camel-aws/camel-aws2-s3/src/generated/resources/META-INF/org/apache/camel/component/aws2/s3/aws2-s3.json
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Configuration.java
  components/camel-aws/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Consumer.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/Aws2S3ComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/AWS2S3EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#17978 feat(jbang): Improve shell experience with syntax highlighting and command history
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Shell.java
Labels: dsl, camel-4

#17981 CAMEL-22033: Added rpc id as a header
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/generated/resources/META-INF/org/apache/camel/component/salesforce/salesforce.json
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/PubSubApiConsumer.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceConstants.java
  components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/internal/client/PubSubApiClient.java
  components/camel-salesforce/camel-salesforce-component/src/test/java/org/apache/camel/component/salesforce/PubSubApiConsumerTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/SalesforceEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#18003 CAMEL-21931: Add bridgeEndpoint option to vertx-http producer
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/vertx-http.json
  components/camel-platform-http-vertx/src/test/java/org/apache/camel/component/platform/http/vertx/VertxPlatformHttpNoBodyHandlerTest.java
  components/camel-vertx/camel-vertx-http/src/generated/java/org/apache/camel/component/vertx/http/VertxHttpEndpointConfigurer.java
  components/camel-vertx/camel-vertx-http/src/generated/java/org/apache/camel/component/vertx/http/VertxHttpEndpointUriFactory.java
  components/camel-vertx/camel-vertx-http/src/generated/resources/META-INF/org/apache/camel/component/vertx/http/vertx-http.json
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/DefaultVertxHttpBinding.java
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpBinding.java
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpConfiguration.java
  components/camel-vertx/camel-vertx-http/src/main/java/org/apache/camel/component/vertx/http/VertxHttpHelper.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpBridgeEndpointTest.java
  components/camel-vertx/camel-vertx-http/src/test/java/org/apache/camel/component/vertx/http/VertxHttpCustomBindingTest.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/VertxHttpEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#18004 CAMEL-21976 - camel-elasticsearch - Upgrade to v9
  components/camel-elasticsearch/src/main/java/org/apache/camel/component/es/ElasticsearchProducer.java
  components/camel-elasticsearch/src/test/java/org/apache/camel/component/es/integration/ElasticsearchGetSearchDeleteExistsUpdateIT.java
  parent/pom.xml
  test-infra/camel-test-infra-elasticsearch/src/main/resources/org/apache/camel/test/infra/elasticsearch/services/container.properties
Labels: components, test-infra, core-build-and-dependencies, camel-4

#18005 Changed typos in multiple places
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/kafka.json
  components/camel-kafka/src/generated/resources/META-INF/org/apache/camel/component/kafka/kafka.json
  components/camel-kafka/src/main/docs/kafka-component.adoc
  components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaEndpoint.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/ComponentsBuilderFactory.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/KafkaComponentBuilderFactory.java
  dsl/camel-componentdsl/src/generated/resources/metadata.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/KafkaEndpointBuilderFactory.java
Labels: components, components-kafka, catalog, dsl, camel-4

#18015 camel-dapr: add new operations
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/dapr.json
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprComponentConfigurer.java
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprEndpointConfigurer.java
  components/camel-dapr/src/generated/java/org/apache/camel/component/dapr/DaprEndpointUriFactory.java
  components/camel-dapr/src/generated/resources/META-INF/org/apache/camel/component/dapr/dapr.json
  components/camel-dapr/src/main/docs/dapr-component.adoc
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConfiguration.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConfigurationOptionsProxy.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprConstants.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprEndpoint.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprExchangeHeaders.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/DaprOperation.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/consumer/DaprConfigurationConsumer.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/consumer/DaprPubSubConsumer.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprConfigurationHandler.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprInvokeBindingHandler.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprOperationManager.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprOperationResponse.java
  components/camel-dapr/src/main/java/org/apache/camel/component/dapr/operations/DaprSecretHandler.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/consumer/DaprConfigurationConsumerTest.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/consumer/DaprPubSubConsumerTest.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/operations/DaprConfigurationTest.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/operations/DaprInvokeBindingTest.java
  components/camel-dapr/src/test/java/org/apache/camel/component/dapr/operations/DaprSecretTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/DaprComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/DaprEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#17863 CAMEL-21945: camel-jbang edit plugin - refactor CamelNanoLspEditor cl…
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/CamelNanoLspEditor.java
  parent/pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#18037 chore(deps): bump micrometer-tracing-version to 1.5.0
  components/camel-observation/src/test/java/org/apache/camel/observation/CurrentSpanTest.java
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4

#18038 chore: Update Jolokia agent jvm to 2.2.9 in Camel JBang generated projects
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/spring-boot-pom.tmpl
Labels: dsl, camel-4

#18039 chore: update maven-dependency-plugin to 3.8.1 in Camel Jbang genrated project
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
Labels: dsl, camel-4

#18041 CAMEL-22040 - AWS-DDB: Support filter expressions in scan and query o…
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ddb.json
  components/camel-aws/camel-aws2-ddb/src/generated/resources/META-INF/org/apache/camel/component/aws2/ddb/aws2-ddb.json
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2Constants.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/QueryCommand.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/ScanCommand.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/localstack/AWS2QueryRuleIT.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/localstack/AWS2ScanRuleIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Ddb2EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#18040 chore: update maven-compiler-plugin to 3.14.0 in Camel Jbang generated
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
Labels: dsl, camel-4

#18043 CAMEL-22062: Using JsonNode for output when outputType is Jackson
  components/camel-jsonata/src/main/java/org/apache/camel/component/jsonata/JsonataEndpoint.java
  components/camel-jsonata/src/test/java/org/apache/camel/component/jsonata/JsonataJacksonOutputTest.java
Labels: components, camel-4

#18056 Upgrade Localstack container image to version 4.4.0
  components/camel-aws/camel-aws2-sts/src/test/java/org/apache/camel/component/aws2/sts/integration/StsAssumeRoleIT.java
  test-infra/camel-test-infra-aws-v2/src/main/resources/org/apache/camel/test/infra/aws2/services/container.properties
Labels: components, components-aws, test-infra, camel-4

#18057 doc upgrade 4.12: deprecation of csb jetty and undertow
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide-4_12.adoc
Labels: docs, camel-4

#18058 CAMEL-22040 - AWS-DDB: Support project expressions in scan and query operation
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/aws2-ddb.json
  components/camel-aws/camel-aws2-ddb/src/generated/resources/META-INF/org/apache/camel/component/aws2/ddb/aws2-ddb.json
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/Ddb2Constants.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/QueryCommand.java
  components/camel-aws/camel-aws2-ddb/src/main/java/org/apache/camel/component/aws2/ddb/ScanCommand.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/localstack/AWS2QueryRuleIT.java
  components/camel-aws/camel-aws2-ddb/src/test/java/org/apache/camel/component/aws2/ddb/localstack/AWS2ScanRuleIT.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Ddb2EndpointBuilderFactory.java
Labels: components, catalog, dsl, components-aws, camel-4

#18042 Cleanup based on static analysis
  components/camel-aws/camel-aws-secrets-manager/src/main/java/org/apache/camel/component/aws/secretsmanager/vault/CloudTrailReloadTriggerTask.java
  components/camel-ssh/src/main/java/org/apache/camel/component/ssh/SshUtils.java
Labels: components, components-aws, camel-4

#18067 Upgrade Consul Container image to version 1.21
  test-infra/camel-test-infra-consul/src/main/resources/org/apache/camel/test/infra/consul/services/container.properties
Labels: test-infra, camel-4

#18068 Upgrade Milvus container image to version v2.5.11
  test-infra/camel-test-infra-milvus/src/main/resources/org/apache/camel/test/infra/milvus/services/container.properties
Labels: test-infra, camel-4

#18066 CAMEL-22068: camel-bindy - Fix the escaped double quotes in CSV data
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/csv/BindyCsvDataFormat.java
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/csv/BindySimpleCsvFunctionWithExternalMethodTest.java
Labels: components, camel-4

#18044 CAMEL-21996: Replace java.io.File with Java NIO Path API in camel-jbang
  dsl/camel-jbang/camel-jbang-console/src/main/java/org/apache/camel/jbang/console/SourceDirDevConsole.java
  dsl/camel-jbang/camel-jbang-console/src/main/java/org/apache/camel/jbang/console/VersionHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CommandHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Debug.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyUpdate.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Init.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/RunHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SBOMGenerator.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/TransformRoute.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/ActionBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelBeanDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelBrowseAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelGCAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelLogAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelReceiveAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelReloadAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelResetStatsAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelRouteAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelRouteDumpAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSendAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelSourceTop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStartupRecorderAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelStubAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelThreadDump.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelTraceAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/LoggerAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/RouteControllerAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/TransformMessageAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraGet.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraLog.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraPs.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraStop.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ListKafka.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/ProcessBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/StopProcess.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/update/CamelUpdate.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/CommandLineHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PathUtils.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/RuntimeUtil.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/SourceHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/VersionHelper.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportMainApplicationProperties.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/InitTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/TransformTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesHelper.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/RouteTrait.java
Labels: dsl, camel-4

#18071 chore: Fix RestDslXmlGeneratorV3Test and regen camel-componentdsl
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/RestOpenapiComponentBuilderFactory.java
  tooling/openapi-rest-dsl-generator/src/test/java/org/apache/camel/generator/openapi/RestDslXmlGeneratorV3Test.java
Labels: dsl, tooling, camel-4

#18070 CAMEL-22068: camel-bindy - Add more corner cases with doube-quotes in…
  components/camel-bindy/src/main/java/org/apache/camel/dataformat/bindy/csv/BindyCsvDataFormat.java
  components/camel-bindy/src/test/java/org/apache/camel/dataformat/bindy/csv/BindySimpleCsvFunctionWithExternalMethodTest.java
Labels: components, camel-4

#18069 chore: update maven-surefire-plugin to 3.5.3 in Camel Jbang generated project
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-kubernetes-pom.tmpl
  dsl/camel-jbang/camel-jbang-core/src/main/resources/templates/quarkus-pom.tmpl
Labels: dsl, camel-4

#18084 CAMEL-22052 - Camel-opensearch: Upgrade to 3.x
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchComponent.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchConfiguration.java
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchProducer.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchClusterIndexIT.java
  components/camel-opensearch/src/test/java/org/apache/camel/component/opensearch/integration/OpensearchTestSupport.java
  parent/pom.xml
  test-infra/camel-test-infra-opensearch/src/main/resources/org/apache/camel/test/infra/opensearch/services/container.properties
Labels: components, test-infra, core-build-and-dependencies, camel-4

#18086 Upgrade Minio Container image to version RELEASE.2025-04-22T22-12-26Z…
  components/camel-minio/src/test/java/org/apache/camel/component/minio/integration/MinioCopyObjectOperationIT.java
  test-infra/camel-test-infra-minio/src/main/resources/org/apache/camel/test/infra/minio/services/container.properties
Labels: components, test-infra, camel-4

#18089 CAMEL-22079: camel-jbang - Move DEPS modeline parsing out of camel-k
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/dsl-modeline.json
  core/camel-api/src/main/java/org/apache/camel/spi/ModelineFactory.java
  dsl/camel-dsl-modeline/pom.xml
  dsl/camel-dsl-modeline/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  dsl/camel-dsl-modeline/src/generated/resources/dsl-modeline.json
  dsl/camel-dsl-modeline/src/main/docs/dsl-modeline.adoc
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/CamelKModelineParser.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/DefaultModelineFactory.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/JBangModelineParser.java
  dsl/camel-dsl-modeline/src/main/java/org/apache/camel/dsl/modeline/ModelineParser.java
  dsl/camel-dsl-modeline/src/test/java/org/apache/camel/dsl/modeline/CamelKModelineParserTest.java
  dsl/camel-dsl-modeline/src/test/java/org/apache/camel/dsl/modeline/JBangModelineParserTest.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/KameletMain.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DownloadListener.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DownloadModelineParser.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
Labels: core, catalog, dsl, camel-4

#18107 Upgrade Zendesk Client to version 1.2.0
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/zendesk.json
  components/camel-zendesk/src/generated/java/org/apache/camel/component/zendesk/ZendeskEndpointConfiguration.java
  components/camel-zendesk/src/generated/java/org/apache/camel/component/zendesk/ZendeskEndpointConfigurationConfigurer.java
  components/camel-zendesk/src/generated/java/org/apache/camel/component/zendesk/ZendeskEndpointUriFactory.java
  components/camel-zendesk/src/generated/java/org/apache/camel/component/zendesk/internal/ZendeskApiMethod.java
  components/camel-zendesk/src/generated/resources/META-INF/org/apache/camel/component/zendesk/zendesk.json
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/StaticEndpointBuilders.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/ZendeskEndpointBuilderFactory.java
  parent/pom.xml
Labels: components, catalog, dsl, core-build-and-dependencies, camel-4

#18108 camel-dsl-modeline: Remove deprecated camel-k specific - missing file
  dsl/camel-dsl-modeline/src/generated/resources/META-INF/services/org/apache/camel/properties-source-factory
Labels: dsl, camel-4

#18109 CAMEL-22083: FTP
  test-infra/camel-test-infra-ftp/src/main/java/org/apache/camel/test/infra/ftp/services/FtpInfraService.java
  test-infra/camel-test-infra-ftp/src/main/java/org/apache/camel/test/infra/ftp/services/embedded/FtpEmbeddedInfraService.java
  test-infra/camel-test-infra-ftp/src/main/java/org/apache/camel/test/infra/ftp/services/embedded/SftpEmbeddedInfraService.java
Labels: test-infra, camel-4

#18115 CAMEL-22084 - Camel-PQC: Support KeyStore and Alias for KeyPair for signing and verifying
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/pqc.json
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCComponentConfigurer.java
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCEndpointConfigurer.java
  components/camel-pqc/src/generated/java/org/apache/camel/component/pqc/PQCEndpointUriFactory.java
  components/camel-pqc/src/generated/resources/META-INF/org/apache/camel/component/pqc/pqc.json
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCComponent.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCConfiguration.java
  components/camel-pqc/src/main/java/org/apache/camel/component/pqc/PQCProducer.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureOnlyKeyStoreTest.java
  components/camel-pqc/src/test/java/org/apache/camel/component/pqc/PQCSignatureSLHDSAKeystoreTest.java
  dsl/camel-componentdsl/src/generated/java/org/apache/camel/builder/component/dsl/PqcComponentBuilderFactory.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/PQCEndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#18110 [CAMEL-21981] camel-jbang: when running in shell mode, plugins cannot be used
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
Labels: dsl, camel-4

#18111 CAMEL-22083: ArangoDB
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/ArangoCustomVertxIT.java
  components/camel-arangodb/src/test/java/org/apache/camel/component/arangodb/integration/BaseArangoDb.java
  test-infra/camel-test-infra-arangodb/pom.xml
  test-infra/camel-test-infra-arangodb/src/main/java/org/apache/camel/test/infra/arangodb/services/ArangoDBInfraService.java
  test-infra/camel-test-infra-arangodb/src/main/java/org/apache/camel/test/infra/arangodb/services/ArangoDBLocalContainerInfraService.java
  test-infra/camel-test-infra-arangodb/src/main/java/org/apache/camel/test/infra/arangodb/services/ArangoDBRemoteInfraService.java
  test-infra/camel-test-infra-arangodb/src/test/java/org/apache/camel/test/infra/arangodb/services/ArangoDBServiceFactory.java
Labels: components, test-infra, camel-4

#18113 Camel 22083 artemis
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/test-infra/metadata.json
  test-infra/camel-test-infra-all/src/generated/resources/META-INF/metadata.json
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisAMQPInfraService.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisInfraService.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisMQTTInfraService.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisPersistentVMInfraService.java
  test-infra/camel-test-infra-artemis/src/main/java/org/apache/camel/test/infra/artemis/services/ArtemisVMInfraService.java
Labels: catalog, test-infra, camel-4

#18114 CAMEL-22083: AWS
  test-infra/camel-test-infra-aws-common/src/main/java/org/apache/camel/test/infra/aws/common/services/AWSInfraService.java
  test-infra/camel-test-infra-aws-v2/src/main/java/org/apache/camel/test/infra/aws2/services/AWSLocalContainerInfraService.java
  test-infra/camel-test-infra-aws-v2/src/main/java/org/apache/camel/test/infra/aws2/services/AWSRemoteInfraService.java
  test-infra/camel-test-infra-aws-v2/src/test/java/org/apache/camel/test/infra/aws2/services/AWSServiceFactory.java
Labels: test-infra, camel-4

#18116 Fixing mistake in documentation
  docs/user-manual/modules/ROOT/pages/backlog-tracer.adoc
Labels: docs, camel-4

#18091 CAMEL-22024: Upgrade to Jackson 2.19.0
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18087 [CAMEL-22077] Provide syntax highlighting for came-jbang shell commands
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Nano.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Shell.java
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/asciidoc.nanorc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/java.nanorc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/jnanorc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/json.nanorc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/markdown.nanorc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/properties.nanorc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/xml.nanorc
  dsl/camel-jbang/camel-jbang-core/src/main/resources/nano/yaml.nanorc
  dsl/camel-jbang/camel-jbang-plugin-edit/src/main/java/org/apache/camel/dsl/jbang/core/commands/edit/EditCommand.java
  parent/pom.xml
  pom.xml
Labels: dsl, core-build-and-dependencies, camel-4

#18128 CAMEL-22083: CQL
  test-infra/camel-test-infra-cassandra/src/main/java/org/apache/camel/test/infra/cassandra/services/CassandraInfraService.java
  test-infra/camel-test-infra-cassandra/src/main/java/org/apache/camel/test/infra/cassandra/services/CassandraLocalContainerInfraService.java
Labels: test-infra, camel-4

#18117 chore: fix build for Maven 4
  .mvn/extensions.xml
  pom.xml
Labels: camel-4

#18130 Bump of swagger-core to 2.2.32
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18131 CAMEL-22087: Make name and port camel CLI option working on CSB and CEQ
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
Labels: dsl, camel-4

#18143 fix: Remove usage of dashed attribute in route template documentation
  docs/user-manual/modules/ROOT/pages/route-template.adoc
Labels: docs, camel-4

#18144 doc: Use tabs to render same routes in various DSLs
  docs/user-manual/modules/ROOT/pages/route-template.adoc
Labels: docs, camel-4

#18147 CAMEL-22017: camel-jbang - Add management-port option to specify a de…
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MainHttpServerFactory.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/util/CamelJBangSettingsHelper.java
Labels: dsl, camel-4

#18088 CAMEL-18392: camel-jt400 - UTF-8 improvement for data queues
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/jt400.json
  components/camel-jt400/src/generated/java/org/apache/camel/component/jt400/Jt400EndpointConfigurer.java
  components/camel-jt400/src/generated/java/org/apache/camel/component/jt400/Jt400EndpointUriFactory.java
  components/camel-jt400/src/generated/resources/META-INF/org/apache/camel/component/jt400/jt400.json
  components/camel-jt400/src/main/java/org/apache/camel/component/jt400/Jt400Configuration.java
  components/camel-jt400/src/main/java/org/apache/camel/component/jt400/Jt400DataQueueService.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/Jt400EndpointBuilderFactory.java
Labels: components, catalog, dsl, camel-4

#18153 CAMEL-22088 - Camel-HTTP: Document httpClient.* possible values
  components/camel-http/src/main/docs/http-component.adoc
Labels: components, camel-4

#18154 CAMEL-22100: Uses parent module in plugin deps resolution
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/common/PluginHelper.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/DependencyDownloader.java
  dsl/camel-kamelet-main/src/main/java/org/apache/camel/main/download/MavenDependencyDownloader.java
  dsl/camel-kamelet-main/src/test/java/org/apache/camel/main/MavenDependencyResolverTest.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloader.java
  tooling/camel-tooling-maven/src/main/java/org/apache/camel/tooling/maven/MavenDownloaderImpl.java
Labels: dsl, tooling, camel-4

#18156 Update docs to include updated trace property
  docs/user-manual/modules/ROOT/pages/backlog-tracer.adoc
  docs/user-manual/modules/ROOT/pages/tracer.adoc
Labels: docs, camel-4

#18157 Align spring* versions to the versions used in spring-boot 3.4.6
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18158 Fix: do not play IT tests for Pinecone on ppc64le
  components/camel-ai/camel-pinecone/pom.xml
Labels: components, camel-4, components-ai

#18159 CAMEL-21087: Add jolokia trait to Camel Jbang Kubernetes plugin
  docs/user-manual/modules/ROOT/pages/camel-jbang-kubernetes.adoc
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/JolokiaTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/TraitCatalog.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Jolokia.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/JolokiaBuilder.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/model/Traits.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
Labels: docs, dsl, camel-4

#18169 CAMEL-21087: Fix jolokia trait service exposure to Camel Jbang Kubernetes plugin
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/JolokiaTrait.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/traits/JolokiaTraitTest.java
Labels: dsl, camel-4

#18170 camel-http - NTLM authentication doesn't work over http - Set NTLM as preferred scheme
  components/camel-http/src/main/java/org/apache/camel/component/http/BasicAuthenticationHttpClientConfigurer.java
Labels: components, camel-4

#18202 CAMEL-22111 - workaround for ElasticsearchRestClientComponentIT.testProducer
  components/camel-elasticsearch-rest-client/src/test/java/org/apache/camel/component/elasticsearch/rest/client/integration/ElasticsearchRestClientComponentIT.java
Labels: components, camel-4

#18217 Add camel-xml-io to website artifacts
  etc/scripts/release-website.sh
Labels: core-build-tooling, camel-4

#18233 CAMEL-22117: Include query params and headers in validation context.
  components/camel-openapi-validator/src/main/java/org/apache/camel/component/rest/openapi/validator/client/OpenApiRestClientRequestValidator.java
  components/camel-openapi-validator/src/test/java/org/apache/camel/component/rest/openapi/validator/client/OpenApiRestClientRequestValidatorTest.java
  components/camel-openapi-validator/src/test/resources/petstore-v3.json
Labels: components, camel-4
