Repository apache/camel, pull requests merged in 2025-08, with the labels that each got.

#18801 Upgrade Elasticsearch container image version for test-infra to 9.1.0
  test-infra/camel-test-infra-elasticsearch/src/main/resources/org/apache/camel/test/infra/elasticsearch/services/container.properties
Labels: test-infra, camel-4

#18804 CAMEL-22310: Add route group for JMX statistics and management and jbang commands
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/route-group.json
  core/camel-api/src/main/java/org/apache/camel/spi/ManagementObjectNameStrategy.java
  core/camel-api/src/main/java/org/apache/camel/spi/ManagementObjectStrategy.java
  core/camel-api/src/main/java/org/apache/camel/spi/RouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/DefaultSupervisingRouteController.java
  core/camel-base-engine/src/main/java/org/apache/camel/impl/engine/InternalRouteController.java
  core/camel-console/src/generated/resources/META-INF/org/apache/camel/dev-console/route-group.json
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/dev-console/route-group
  core/camel-console/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteDevConsole.java
  core/camel-console/src/main/java/org/apache/camel/impl/console/RouteGroupDevConsole.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/ManagedCamelContext.java
  core/camel-management-api/src/main/java/org/apache/camel/api/management/mbean/ManagedRouteGroupMBean.java
  core/camel-management/src/main/java/org/apache/camel/management/CompositePerformanceCounter.java
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementObjectNameStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/DefaultManagementObjectStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/JmxManagementLifecycleStrategy.java
  core/camel-management/src/main/java/org/apache/camel/management/ManagedCamelContextImpl.java
  core/camel-management/src/main/java/org/apache/camel/management/mbean/ManagedRouteGroup.java
  core/camel-management/src/test/java/org/apache/camel/management/ManagedRouteGroupTest.java
  docs/user-manual/modules/ROOT/pages/camel-jbang.adoc
  dsl/camel-cli-connector/src/main/java/org/apache/camel/cli/connector/LocalCliConnector.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/CamelJBangMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelRouteGroupStartAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/action/CamelRouteGroupStopAction.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteGroupStatus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/process/CamelRouteGroupTop.java
Labels: core, catalog, docs, dsl, camel-4

#18818 Upgrade Infinispan Container Version to 15.2.5.Final
  test-infra/camel-test-infra-infinispan/src/main/resources/org/apache/camel/test/infra/infinispan/services/container.properties
Labels: test-infra, camel-4

#18827 CAMEL-22288: camel-jbang: run/export to support using a directory as …
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/DependencyList.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Export.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportCamelMain.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportQuarkus.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/ExportSpringBoot.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/Run.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/RunHelper.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/SBOMGenerator.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/ExportTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/myapp/application.properties
  dsl/camel-jbang/camel-jbang-core/src/test/resources/myapp/hello.yaml
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRun.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesCommandTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunCustomTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/myapp/application.properties
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/resources/myapp/route.yaml
Labels: dsl, camel-4

#18835 CAMEL-22321 | TLS fallback to default for opensearch.
  components/camel-opensearch/src/main/java/org/apache/camel/component/opensearch/OpensearchProducer.java
Labels: components, camel-4

#18857 CAMEL-22331 camel-jbang-plugin-kubernetes: wrong container probes port
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/main/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExport.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesExportTest.java
  dsl/camel-jbang/camel-jbang-plugin-kubernetes/src/test/java/org/apache/camel/dsl/jbang/core/commands/kubernetes/KubernetesRunTest.java
Labels: dsl, camel-4

#18845 CAMEL-22216: Fix ZipIterator using apache.commons.compress
  components/camel-zipfile/pom.xml
  components/camel-zipfile/src/main/java/org/apache/camel/dataformat/zipfile/ZipFileDataFormat.java
  components/camel-zipfile/src/main/java/org/apache/camel/dataformat/zipfile/ZipIterator.java
  components/camel-zipfile/src/test/java/org/apache/camel/processor/aggregate/zipfile/ZipSplitAggregateTransactedStreamingIssueTest.java
Labels: components, camel-4

#18873 camel-ai: fix URL and package name
  components/camel-ai/camel-djl/src/test/java/org/apache/camel/component/djl/CvImageEnhancementLocalTest.java
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j/chat/LangChain4jChatIT.java
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j/chat/LangChain4jRagAggregatorTest.java
  components/camel-ai/camel-langchain4j-chat/src/test/java/org/apache/camel/component/langchain4j/chat/OllamaTestSupport.java
Labels: components, camel-4, components-ai

#18875 CAMEL-22330: Add vertx-websocket dev console
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dev-consoles/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/META-INF/org/apache/camel/dev-console/vertx-websocket.json
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/META-INF/services/org/apache/camel/dev-console/vertx-websocket
  components/camel-vertx/camel-vertx-websocket/src/generated/resources/META-INF/services/org/apache/camel/dev-consoles.properties
  components/camel-vertx/camel-vertx-websocket/src/main/java/org/apache/camel/component/vertx/websocket/VertxWebsocketDevConsole.java
Labels: components, catalog, camel-4

#18877 INFRA-26647: re-enable develocity
  .mvn/extensions.xml
Labels: camel-4

#18904 chore(docs): Improve docs navigation
  core/camel-core-engine/src/main/docs/modules/eips/pages/enterprise-integration-patterns.adoc
  docs/user-manual/antora.yml
  docs/user-manual/modules/ROOT/references.adoc
Labels: core, docs, camel-4

#18906 CAMEL-22333 Fixed Additional Netty Bootstrap Options For Producers
  components/camel-netty-http/src/generated/resources/META-INF/org/apache/camel/component/netty/http/netty-http.json
  components/camel-netty/src/generated/resources/META-INF/org/apache/camel/component/netty/netty.json
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyConfiguration.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyProducer.java
  components/camel-netty/src/main/java/org/apache/camel/component/netty/NettyServerBootstrapConfiguration.java
  components/camel-netty/src/test/java/org/apache/camel/component/netty/NettyUDPProducerOptionsTest.java
Labels: components, camel-4

#18956 CAMEL-22362: camel-exec - Use quote safe arg parser
  components/camel-exec/src/main/java/org/apache/camel/component/exec/impl/ExecParseUtils.java
  components/camel-exec/src/test/java/org/apache/camel/component/exec/impl/ExecParseUtilsTest.java
Labels: components, camel-4

#18957 Fix EventHubsConsumer updating the checkpoint on every event.
  components/camel-azure/camel-azure-eventhubs/src/main/java/org/apache/camel/component/azure/eventhubs/EventHubsConsumer.java
Labels: components, components-azure, camel-4

#18971 Align versions to spring-boot 3.4.9
  parent/pom.xml
Labels: core-build-and-dependencies, camel-4

#18972 Align spring-security with spring-boot 3.5.5
  parent/pom.xml
Labels: core-build-and-dependencies

#18979 CAMEL-22361: camel-groovy-xml - Add data format that uses groovy xml that is easy to use and no need for POJOs
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/dataformats/groovyXml.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/dataFormatTransformer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/dataFormats.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/groovyXml.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/marshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/unmarshal.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-xml-io.xsd
  components/camel-groovy-xml/pom.xml
  components/camel-groovy-xml/src/generated/java/org/apache/camel/groovy/xml/GroovyXmlDataFormatConfigurer.java
  components/camel-groovy-xml/src/generated/resources/META-INF/org/apache/camel/groovy/xml/groovyXml.json
  components/camel-groovy-xml/src/generated/resources/META-INF/services/org/apache/camel/configurer/groovyXml-dataformat
  components/camel-groovy-xml/src/generated/resources/META-INF/services/org/apache/camel/dataformat.properties
  components/camel-groovy-xml/src/generated/resources/META-INF/services/org/apache/camel/dataformat/groovyXml
  components/camel-groovy-xml/src/main/docs/groovyXml-dataformat.adoc
  components/camel-groovy-xml/src/main/java/org/apache/camel/groovy/xml/GroovyXmlDataFormat.java
  components/camel-groovy-xml/src/test/java/org/apache/camel/groovy/xml/GroovyXmlDataFormatTest.java
  components/camel-groovy-xml/src/test/resources/log4j2.properties
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/dataFormats.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/dataformat/groovyXml.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/marshal.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/transformer/dataFormatTransformer.json
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/unmarshal.json
  core/camel-core-model/src/generated/resources/META-INF/services/org/apache/camel/model.properties
  core/camel-core-model/src/generated/resources/org/apache/camel/model/dataformat/jaxb.index
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatBuilderFactory.java
  core/camel-core-model/src/main/java/org/apache/camel/builder/DataFormatClause.java
  core/camel-core-model/src/main/java/org/apache/camel/model/MarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/UnmarshalDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/DataFormatsDefinition.java
  core/camel-core-model/src/main/java/org/apache/camel/model/dataformat/GroovyXmlDataFormat.java
  core/camel-core-model/src/main/java/org/apache/camel/model/transformer/DataFormatTransformerDefinition.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/DataFormatReifier.java
  core/camel-core-reifier/src/main/java/org/apache/camel/reifier/dataformat/GroovyXmlDataFormatReifier.java
  core/camel-main/src/generated/resources/org/apache/camel/main/dataformats.properties
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/components/modules/dataformats/examples/json/groovyXml.json
  docs/components/modules/dataformats/nav.adoc
  docs/components/modules/dataformats/pages/groovyXml-dataformat.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializersResolver.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4

#18996 CAMEL-22364: camel-jms - Fix rare ConcurrentModificationException in …
  components/camel-jms/src/main/java/org/apache/camel/component/jms/JmsProducer.java
Labels: components, components-jms, camel-4

#18997 chore(components): include micrometer observability accessors
  components/camel-micrometer-observability/src/generated/java/org/apache/camel/micrometer/observability/MicrometerObservabilityTracerConfigurer.java
  components/camel-micrometer-observability/src/main/java/org/apache/camel/micrometer/observability/MicrometerObservabilityTracer.java
Labels: components, camel-4

#18995 CAMEL-22334 - Store the embedding produced by camel-langchain4j-embeddings in a header
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/langchain4j-embeddings.json
  components/camel-ai/camel-langchain4j-embeddings/src/generated/resources/META-INF/org/apache/camel/component/langchain4j/embeddings/langchain4j-embeddings.json
  components/camel-ai/camel-langchain4j-embeddings/src/main/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddings.java
  components/camel-ai/camel-langchain4j-embeddings/src/main/java/org/apache/camel/component/langchain4j/embeddings/LangChain4jEmbeddingsProducer.java
  core/camel-api/src/main/java/org/apache/camel/ai/CamelLangchain4jAttributes.java
  dsl/camel-endpointdsl/src/generated/java/org/apache/camel/builder/endpoint/dsl/LangChain4jEmbeddingsEndpointBuilderFactory.java
Labels: components, core, catalog, dsl, camel-4, components-ai

#19010 Involve upgrade recipe tool in the upgrade guide
  docs/user-manual/modules/ROOT/pages/camel-4x-upgrade-guide.adoc
  docs/user-manual/modules/ROOT/pages/camel-upgrade-recipes-tool.adoc
Labels: docs, camel-4

#19009 fix(components): Bring observability log event back
  components/camel-observation/src/main/java/org/apache/camel/observation/MicrometerObservationSpanAdapter.java
Labels: components, camel-4

#19020 Camel Kamelets 4.14.0
  dsl/camel-jbang/camel-jbang-container/Dockerfile
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/catalog/CatalogDoc.java
  dsl/camel-jbang/camel-jbang-core/src/test/java/org/apache/camel/dsl/jbang/core/commands/DependencyRuntimeTest.java
  dsl/camel-jbang/camel-jbang-core/src/test/resources/pom-xml-files/main-pom.xml
  dsl/camel-jbang/camel-jbang-core/src/test/resources/pom-xml-files/springboot-pom.xml
  dsl/camel-jbang/camel-jbang-main/dist/CamelJBang.java
  dsl/camel-jbang/camel-jbang-main/src/main/jbang/main/CamelJBang.java
  dsl/camel-jbang/camel-launcher/pom.xml
Labels: dsl

#19035 (chores) camel-ai: replace langchain4j RC versions with their final versions
  components/camel-ai/camel-langchain4j-chat/pom.xml
  components/camel-ai/camel-langchain4j-tokenizer/pom.xml
  components/camel-ai/camel-langchain4j-tools/pom.xml
  parent/pom.xml
Labels: components, core-build-and-dependencies, camel-4, components-ai

#19040 CAMEL-22387: camel-quartz - Should be suspendable so no new jobs is t…
  components/camel-quartz/src/main/java/org/apache/camel/component/quartz/CamelJob.java
  components/camel-quartz/src/main/java/org/apache/camel/component/quartz/QuartzConsumer.java
Labels: components, camel-4

#19041 Make Camel Infra command more tool friendly
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraBaseCommand.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraPs.java
  dsl/camel-jbang/camel-jbang-core/src/main/java/org/apache/camel/dsl/jbang/core/commands/infra/InfraRun.java
Labels: dsl

#19039 fix(components): telemetry-dev async
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/DevSpanAdapter.java
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/DevTrace.java
  components/camel-telemetry-dev/src/main/java/org/apache/camel/telemetrydev/DevTraceFormat.java
Labels: components, camel-4

#19043 CAMEL-22392: camel-resilience4j - Add micrometer support
  bom/camel-bom/pom.xml
  catalog/camel-allcomponents/pom.xml
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/models/resilience4jConfiguration.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others.properties
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/others/resilience4j-micrometer.json
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-spring.xsd
  catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/schemas/camel-xml-io.xsd
  components/camel-resilience4j-micrometer/pom.xml
  components/camel-resilience4j-micrometer/src/generated/resources/META-INF/services/org/apache/camel/other.properties
  components/camel-resilience4j-micrometer/src/generated/resources/META-INF/services/org/apache/camel/resilience4j-micrometer-factory
  components/camel-resilience4j-micrometer/src/generated/resources/resilience4j-micrometer.json
  components/camel-resilience4j-micrometer/src/main/docs/resilience4j-micrometer.adoc
  components/camel-resilience4j-micrometer/src/main/java/org/apache/camel/component/resilience4j/micrometer/DefaultResilience4jMicrometerFactory.java
  components/camel-resilience4j-micrometer/src/test/java/org/apache/camel/component/resilience4j/micrometer/MicrometerTest.java
  components/camel-resilience4j-micrometer/src/test/resources/log4j2.properties
  components/camel-resilience4j/src/main/java/org/apache/camel/component/resilience4j/ResilienceProcessor.java
  components/camel-resilience4j/src/main/java/org/apache/camel/component/resilience4j/ResilienceReifier.java
  components/pom.xml
  core/camel-api/src/main/java/org/apache/camel/spi/Resilience4jMicrometerFactory.java
  core/camel-core-model/src/generated/java/org/apache/camel/model/Resilience4jConfigurationDefinitionConfigurer.java
  core/camel-core-model/src/generated/resources/META-INF/org/apache/camel/model/resilience4jConfiguration.json
  core/camel-core-model/src/main/java/org/apache/camel/model/Resilience4jConfigurationCommon.java
  core/camel-core-model/src/main/java/org/apache/camel/model/Resilience4jConfigurationDefinition.java
  core/camel-main/src/generated/java/org/apache/camel/main/Resilience4jConfigurationPropertiesConfigurer.java
  core/camel-main/src/generated/resources/META-INF/camel-main-configuration-metadata.json
  core/camel-main/src/main/docs/main.adoc
  core/camel-main/src/main/java/org/apache/camel/main/BaseMainSupport.java
  core/camel-main/src/main/java/org/apache/camel/main/Resilience4jConfigurationProperties.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/in/ModelParser.java
  core/camel-xml-io/src/generated/java/org/apache/camel/xml/out/ModelWriter.java
  core/camel-yaml-io/src/generated/java/org/apache/camel/yaml/out/ModelWriter.java
  docs/components/modules/others/examples/json/resilience4j-micrometer.json
  docs/components/modules/others/nav.adoc
  docs/components/modules/others/pages/resilience4j-micrometer.adoc
  dsl/camel-yaml-dsl/camel-yaml-dsl-deserializers/src/generated/java/org/apache/camel/dsl/yaml/deserializers/ModelDeserializers.java
  dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json
  parent/pom.xml
Labels: components, core, catalog, docs, dsl, core-build-and-dependencies, camel-4
